section.hero__wrap
  .hero__zone
    .layout--main
      .hero__block
        .hero__box
          //- 標題
          h1#heroTitle.hero__title.hero__title--main.block--center
            .title--main.wow(title="彰化好物購，希望城市Let's Go")
              img.wow(src="~event/1st/e-main/components/hero-section/title.png", alt="彰化好物購，希望城市Let's Go")

          .title-decoration__wrap
            .title__decoration.title__decoration--middle
              .decoration__pic
                img(src="~event/1st/e-main/components/hero-section/decoration-gift.png", alt="")
      
        .sub__box
          .sub__title
            a(href="https://www.etmall.com.tw/XML/content/DMSetting/Final/202011/SP_1116804/index.html", title="100枚東森幣抽TOYOTA汽車")
              img(src="~event/1st/e-main/components/hero-section/big-gift.png", alt="100枚東森幣抽TOYOTA汽車")

  .promo__zone
    .layout--main
      .promo__block
        //- 行銷誘因
        include /event/1st/e-main/components/promo-event/_promo-event

        //- 商品輪播
          //- 副標
        //- .hero__small__zone
          //- include /event/1st/e-main/components/hero-small-slider/_hero-small-slider

  //- include /event/1st/e-main/components/background-decoration/_background-decoration.pug


