// // ==========================================================================
// // main
// // ==========================================================================
.hero__wrap
  +pos-set(relative, base)
  // overflow: hidden
  +breakpoint-min($min-width-xl)
    &::before
      content: ''
      +pos-set(absolute, under, 0, 0)
      width: 100%
      height: 100%
      +bg-set(url("~event/1st/e-main/components/hero-section/bg-hero.jpg"), auto)
      animation: flash-background 8s 4s infinite steps(2)

  .hero__zone
    +pos-set(relative, zero)
    overflow: hidden

  // .hero__block

  .hero__box
    +pos-set(relative, zero)
    width: 100%
    animation: zoom-in 1s both

  .hero__title
    &--main
      +pos-set(relative, zero)
      padding-top: 4.5%
      width: 82%
      // &.animated
      img
        // &.animated
        animation: flash-speed 8s infinite

  .title-decoration__wrap
    +pos-set(absolute, under)
    top: 3%
    right: 11%
    width: 35%
    pointer-events: none
    .title__decoration
      &--middle
        pointer-events: none
        .decoration__pic
          transform-origin: bottom
          animation: swing 1.5s 3s infinite

  .sub__box
    margin-top: -8.5%
    .sub__title
      margin-left: auto
      margin-right: auto
      &:hover,
      &:active
        // transform: translateY(-3%)
        filter: brightness(115%) contrast(105%)



  .promo__zone
    // margin-top: 8%
    //background-color: $gray-deep-light
    +breakpoint-min($min-width-xl)
      background-color: transparent

@keyframes zoom-in
  0%
    opacity: 0
    transform: scale3d(.3, .3, .3)
  50%
    opacity: 1

@keyframes flash-speed
  from, 19%, 21%, 22%, 24%, 39%, 41%, 44%, to
    filter: brightness(100%)
  20%, 23%, 40%, 43%,
    filter: brightness(200%)

@keyframes flash-background
  from, 19%, 21%, 22%, 24%, 39%, 41%, 44%, to
    opacity: 1
  20%, 23%, 40%, 43%,
    opacity: 0


@keyframes swing
  10%
    transform: rotate(10deg)
  20%
    transform: rotate(-6deg)
  30%
    transform: rotate(3deg)
  40%
    transform: rotate(-3deg)
  to
    transform: rotate(0deg)
