.leaf-scene
  position: absolute
  z-index: 1
  top: 0
  left: 0
  bottom: 0
  width: 100%
  -webkit-transform-style: preserve-3d
        transform-style: preserve-3d

.leaf-scene div,
.leaf-scene p
  position: absolute
  top: 0
  left: 0
  width: 20px
  height: 20px
  -webkit-transform-style: preserve-3d
        transform-style: preserve-3d
  -webkit-backface-visibility: visible
        backface-visibility: visible

.leaf-scene div
  background: url(../layout/bg-decoration/leaf-falling/falling-pattern-1.png) no-repeat
  background-size: 100%

.leaf-scene p
  background: url(../layout/bg-decoration/leaf-falling/falling-pattern-2.png) no-repeat
  background-size: 100%