section.hero
  .hero__decor--top
    .decor--item.decor__item--title
      img(src="event/1st/e-main/components/hero-section/title.png" alt="")
      .decor__item--flower
        img(src="event/1st/e-main/components/hero-section/hero-flower.png", alt="")
    .decor--item.decor__item--confetti1.full-parent
    .decor--item.decor__item--confetti2.full-parent
    .decor--item.decor__item--tree-left.full-parent
      img(src="event/1st/e-main/components/hero-section/decor-tree1.png", alt="")
    .decor--item.decor__item--tree-right.full-parent
      img(src="event/1st/e-main/components/hero-section/decor-tree2.png", alt="")
    .decor--item.decor__item--character.full-parent
      .decor__item--body
        img(src="event/1st/e-main/components/hero-section/hero-character.png", alt="")
        img(class="character-mask" src="event/1st/e-main/components/hero-section/hero-character-mask.png", alt="")
      .decor__item--hat
        img(src="event/1st/e-main/components/hero-section/hero-hat.png", alt="")
      .decor__item--hair1
        img(src="event/1st/e-main/components/hero-section/hero-hair1.png", alt="")
      .decor__item--hair2
        img(src="event/1st/e-main/components/hero-section/hero-hair2.png", alt="")
    .decor--item.decor__item--shooting-star
      img(src="event/1st/e-main/components/hero-section/decor-shooting-star.png", alt="")
      img(class="shooting-star-mask" src="event/1st/e-main/components/hero-section/decor-shooting-star.png", alt="")
    
  .layout--main
    .hero__wrap
      .hero__zone
        .decor__wrap.full-parent
        //- .hero__title
        //-   .title--main
        //-     a(href="")
        //-       img(src="event/1st/e-main/components/hero-section/title.png" alt="我的超人媽咪")

        //- .video__wrap
        //-   include /event/1st/e-main/components/hero-section/hero-video/_hero-video.pug