.header__sub-nav
  ul#subNavApple.sub-nav__wrap.sub-nav__wrap--apple
    li.sub-nav__item
      a(href="#", title="iPhone") iPhone
    li.sub-nav__item
      a(href="#", title="iPad") iPad
    li.sub-nav__item
      a(href="#", title="Mac") Mac
    li.sub-nav__item
      a(href="#", title="Music") Music
    li.sub-nav__item
      a(href="#", title="Beats") Beats
    li.sub-nav__item
      a(href="#", title="配件") 配件

