section.promo__group.promo__group--dynamic-slider-3.m-bottom--lg(data-title="經典大牌")
  .layout--main
    .decor__wrap.full-parent
      .decor__item.decor__item--title#titleDynamicSlider3
        img(src="event/1st/e-main/components/dynamic-slider-3/title-dynamic-slider-3.png", alt="")
      .decor__item.decor__item--left
        img(src="event/1st/e-main/components/dynamic-slider-3/decor-dynamic-slider-3.png", alt="")
    .promo__wrap
      .promo__zone
        .promo__block
          .promo__slider.swiper-container#dynamicSlider3Section
            .swiper-wrapper

        //- #sliderDynamic2Prev.swiper-button-white.swiper-button-prev.dynamic__nav.dynamic__nav--prev
        //- #sliderDynamic2Next.swiper-button-white.swiper-button-next.dynamic__nav.dynamic__nav--next
      //- #sliderDynamic2Pager.dynamic-slider-pager.swiper-pagination

//- data-dynamic-2.js在assets資料夾內、由index.pug外連過去