section.promo__group.promo__group--tab.m-bottom--xs
  .layout--main
    ul.tab__wrap
      li.tab__zone
        ul#tabBox.tab__box
          li.tab__item(title="11.1 精選優惠").active
            img(src="~event/1st/e-sp-big/components/tab-section/items/tab/tab-d1-m.png", alt="11.1 精選優惠")
            img(src="~event/1st/e-sp-big/components/tab-section/items/tab/tab-l1-m.png", alt="11.1 精選優惠")
            img(src="~event/1st/e-sp-big/components/tab-section/items/tab/tab-d1.png", alt="11.1 精選優惠")
            img(src="~event/1st/e-sp-big/components/tab-section/items/tab/tab-l1.png", alt="11.1 精選優惠")
          li.tab__item(title="11.2 保健日")
            img(src="~event/1st/e-sp-big/components/tab-section/items/tab/tab-d2-m.png", alt="11.2 保健日")
            img(src="~event/1st/e-sp-big/components/tab-section/items/tab/tab-l2-m.png", alt="11.2 保健日")
            img(src="~event/1st/e-sp-big/components/tab-section/items/tab/tab-d2.png", alt="11.2 保健日")
            img(src="~event/1st/e-sp-big/components/tab-section/items/tab/tab-l2.png", alt="11.2 保健日")
          li.tab__item(title="11.3 居家流行日")
            img(src="~event/1st/e-sp-big/components/tab-section/items/tab/tab-d3-m.png", alt="11.3 居家流行日")
            img(src="~event/1st/e-sp-big/components/tab-section/items/tab/tab-l3-m.png", alt="11.3 居家流行日")
            img(src="~event/1st/e-sp-big/components/tab-section/items/tab/tab-d3.png", alt="11.3 居家流行日")
            img(src="~event/1st/e-sp-big/components/tab-section/items/tab/tab-l3.png", alt="11.3 居家流行日")
          li.tab__item(title="11.4 美妝日")
            img(src="~event/1st/e-sp-big/components/tab-section/items/tab/tab-d4-m.png", alt="11.4 美妝日")
            img(src="~event/1st/e-sp-big/components/tab-section/items/tab/tab-l4-m.png", alt="11.4 美妝日")
            img(src="~event/1st/e-sp-big/components/tab-section/items/tab/tab-d4.png", alt="11.4 美妝日")
            img(src="~event/1st/e-sp-big/components/tab-section/items/tab/tab-l4.png", alt="11.4 美妝日")
          li.tab__item(title="11.5 家電日")
            img(src="~event/1st/e-sp-big/components/tab-section/items/tab/tab-d5-m.png", alt="11.5 家電日")
            img(src="~event/1st/e-sp-big/components/tab-section/items/tab/tab-l5-m.png", alt="11.5 家電日")
            img(src="~event/1st/e-sp-big/components/tab-section/items/tab/tab-d5.png", alt="11.5 家電日")
            img(src="~event/1st/e-sp-big/components/tab-section/items/tab/tab-l5.png", alt="11.5 家電日")
          li.tab__item(title="11.6 通訊日")
            img(src="~event/1st/e-sp-big/components/tab-section/items/tab/tab-d6-m.png", alt="11.6 通訊日")
            img(src="~event/1st/e-sp-big/components/tab-section/items/tab/tab-l6-m.png", alt="11.6 通訊日")
            img(src="~event/1st/e-sp-big/components/tab-section/items/tab/tab-d6.png", alt="11.6 通訊日")
            img(src="~event/1st/e-sp-big/components/tab-section/items/tab/tab-l6.png", alt="11.6 通訊日")
          li.tab__item(title="11.7 居家日")
            img(src="~event/1st/e-sp-big/components/tab-section/items/tab/tab-d7-m.png", alt="11.7 居家日")
            img(src="~event/1st/e-sp-big/components/tab-section/items/tab/tab-l7-m.png", alt="11.7 居家日")
            img(src="~event/1st/e-sp-big/components/tab-section/items/tab/tab-d7.png", alt="11.7 居家日")
            img(src="~event/1st/e-sp-big/components/tab-section/items/tab/tab-l7.png", alt="11.7 居家日")
      li.content__zone
        ul#contentBlock.content__block
          li.content__box.clearfix.active
            .content__item
              a(href="", title="")
                img(src="~event/1st/e-sp-big/components/tab-section/items/content/brand-promot1-1.png", alt="")
            .content__item
              a(href="", title="")
                img(src="~event/1st/e-sp-big/components/tab-section/items/content/brand-promot1-2.png", alt="")
            .content__item
              a(href="", title="")
                img(src="~event/1st/e-sp-big/components/tab-section/items/content/brand-promot1-3.png", alt="")
            .content__item
              a(href="", title="")
                img(src="~event/1st/e-sp-big/components/tab-section/items/content/brand-promot1-4.png", alt="")
            .content__item
              a(href="", title="")
                img(src="~event/1st/e-sp-big/components/tab-section/items/content/brand-promot1-5.png", alt="")
            .content__item
              a(href="", title="")
                img(src="~event/1st/e-sp-big/components/tab-section/items/content/brand-promot1-6.png", alt="")

          li.content__box.clearfix
            .content__item
              a(href="", title="")
                img(src="~event/1st/e-sp-big/components/tab-section/items/content/brand-promot2-1.png", alt="")
            .content__item
              a(href="", title="")
                img(src="~event/1st/e-sp-big/components/tab-section/items/content/brand-promot2-2.png", alt="")
            .content__item
              a(href="", title="")
                img(src="~event/1st/e-sp-big/components/tab-section/items/content/brand-promot2-3.png", alt="")
            .content__item
              a(href="", title="")
                img(src="~event/1st/e-sp-big/components/tab-section/items/content/brand-promot2-4.png", alt="")
            .content__item
              a(href="", title="")
                img(src="~event/1st/e-sp-big/components/tab-section/items/content/brand-promot2-5.png", alt="")
            .content__item
              a(href="", title="")
                img(src="~event/1st/e-sp-big/components/tab-section/items/content/brand-promot2-6.png", alt="")

          li.content__box.clearfix
            .content__item
              a(href="", title="")
                img(src="~event/1st/e-sp-big/components/tab-section/items/content/brand-promot3-1.png", alt="")
            .content__item
              a(href="", title="")
                img(src="~event/1st/e-sp-big/components/tab-section/items/content/brand-promot3-2.png", alt="")
            .content__item
              a(href="", title="")
                img(src="~event/1st/e-sp-big/components/tab-section/items/content/brand-promot3-3.png", alt="")
            .content__item
              a(href="", title="")
                img(src="~event/1st/e-sp-big/components/tab-section/items/content/brand-promot3-4.png", alt="")
            .content__item
              a(href="", title="")
                img(src="~event/1st/e-sp-big/components/tab-section/items/content/brand-promot3-5.png", alt="")
            .content__item
              a(href="", title="")
                img(src="~event/1st/e-sp-big/components/tab-section/items/content/brand-promot3-6.png", alt="")

          li.content__box.clearfix
            .content__item
              a(href="", title="")
                img(src="~event/1st/e-sp-big/components/tab-section/items/content/brand-promot4-1.png", alt="")
            .content__item
              a(href="", title="")
                img(src="~event/1st/e-sp-big/components/tab-section/items/content/brand-promot4-2.png", alt="")
            .content__item
              a(href="", title="")
                img(src="~event/1st/e-sp-big/components/tab-section/items/content/brand-promot4-3.png", alt="")
            .content__item
              a(href="", title="")
                img(src="~event/1st/e-sp-big/components/tab-section/items/content/brand-promot4-4.png", alt="")
            .content__item
              a(href="", title="")
                img(src="~event/1st/e-sp-big/components/tab-section/items/content/brand-promot4-5.png", alt="")
            .content__item
              a(href="", title="")
                img(src="~event/1st/e-sp-big/components/tab-section/items/content/brand-promot4-6.png", alt="")

          li.content__box.clearfix
            .content__item
              a(href="", title="")
                img(src="~event/1st/e-sp-big/components/tab-section/items/content/brand-promot5-1.png", alt="")
            .content__item
              a(href="", title="")
                img(src="~event/1st/e-sp-big/components/tab-section/items/content/brand-promot5-2.png", alt="")
            .content__item
              a(href="", title="")
                img(src="~event/1st/e-sp-big/components/tab-section/items/content/brand-promot5-3.png", alt="")
            .content__item
              a(href="", title="")
                img(src="~event/1st/e-sp-big/components/tab-section/items/content/brand-promot5-4.png", alt="")
            .content__item
              a(href="", title="")
                img(src="~event/1st/e-sp-big/components/tab-section/items/content/brand-promot5-5.png", alt="")
            .content__item
              a(href="", title="")
                img(src="~event/1st/e-sp-big/components/tab-section/items/content/brand-promot5-6.png", alt="")

          li.content__box.clearfix
            .content__item
              a(href="", title="")
                img(src="~event/1st/e-sp-big/components/tab-section/items/content/brand-promot6-1.png", alt="")
            .content__item
              a(href="", title="")
                img(src="~event/1st/e-sp-big/components/tab-section/items/content/brand-promot6-2.png", alt="")
            .content__item
              a(href="", title="")
                img(src="~event/1st/e-sp-big/components/tab-section/items/content/brand-promot6-3.png", alt="")
            .content__item
              a(href="", title="")
                img(src="~event/1st/e-sp-big/components/tab-section/items/content/brand-promot6-4.png", alt="")
            .content__item
              a(href="", title="")
                img(src="~event/1st/e-sp-big/components/tab-section/items/content/brand-promot6-5.png", alt="")
            .content__item
              a(href="", title="")
                img(src="~event/1st/e-sp-big/components/tab-section/items/content/brand-promot6-6.png", alt="")

          li.content__box.clearfix
            .content__item
              a(href="", title="")
                img(src="~event/1st/e-sp-big/components/tab-section/items/content/brand-promot7-1.png", alt="")
            .content__item
              a(href="", title="")
                img(src="~event/1st/e-sp-big/components/tab-section/items/content/brand-promot7-2.png", alt="")
            .content__item
              a(href="", title="")
                img(src="~event/1st/e-sp-big/components/tab-section/items/content/brand-promot7-3.png", alt="")
            .content__item
              a(href="", title="")
                img(src="~event/1st/e-sp-big/components/tab-section/items/content/brand-promot7-4.png", alt="")
            .content__item
              a(href="", title="")
                img(src="~event/1st/e-sp-big/components/tab-section/items/content/brand-promot7-5.png", alt="")
            .content__item
              a(href="", title="")
                img(src="~event/1st/e-sp-big/components/tab-section/items/content/brand-promot7-6.png", alt="")    