* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-size: 20px;
}

img {
  display: inline-block;
}

.layout--main {
  margin-left: auto;
  margin-right: auto;
  padding-top: 10px;
  width: 100%;
  max-width: 500px;
}

[draggable] {
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -khtml-user-drag: element;
  -webkit-user-drag: element;
  cursor: move;
}

.canvas__wrap {
  position: relative;
  margin-bottom: 5%;
}

.canvas__wrap.active {
  background-color: rgba(0, 0, 0, .3);
}

.foreground {
  position: absolute;
  z-index: 1;
  width: 500px;
  height: 500px;
  background: url("../foreground.png") no-repeat;
  background-size: 100%;
  text-align: center;
  pointer-events: none;
}

.foreground span {
  position: relative;
  z-index: 0;
  top: 50%;
  transform: translateY(-50%);
}

.foreground.active {
  opacity: 0.2;
}

.options__wrap .alert__wrap {
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100px;
  line-height: 100px;
  color: #000;
  background-color: #fff;
  border: 1px solid #000;
  border-radius: 8px;
  font-size: 28px;
  text-align: center;
  transition: all 0.5s;
  transform: scale(0);
  opacity: 0;
}

.options__wrap .alert__wrap.active {
  transform: scale(1);
  opacity: 1;
}

.btn {
  margin-bottom: 2%;
  padding: 2% 4%;
  font-size: 1rem;
  border: 1px solid #000;
  border-radius: 8px;
  outline: 0;
  cursor: pointer;
}

.btn:hover {
  background-color: #ccc;
  cursor: pointer;
}

.option {
  display: inline-block;
}

.input {
  padding: 2.5% 4%;
  border-radius: 8px;
  font-size: 1rem;
  vertical-align: middle;
  outline: 0;
}

.input--text {
  width: 50%;
}

.input--color {
  width: 25%;
  text-shadow: 0 0 1px #fff;
}

.input--text:focus {
  background-color: #ccc;
}

.text__wrap {
  visibility: hidden;
}

.document {
  padding-top: 5%;
}

.document ol {
  padding-left: 25px;
}