//- RD的詳情Modal的結構，需留在底部並display: none
.modal
  .modal__overlay.full-parent
    .overlay__block.full-parent
  form.dialog__block.completed
    .icon--status
      img(src="event/1st/e-main/components/modal-template/modal-completed.png", alt="已收集")
    .area-title.font--title-xs
      h3 團結力量大
      p 每增加1位隊員+20積分，至多5人
    .scroll-section
      .area-content
        .area-subtitle
        .area-detail 任務開始時間：2023/04/01 00:00
        .area-detail 任務結束時間：2023/04/29 23:59
    .area-clickBtn.normal
      .cta__box
        button.n-btn(type="button") 確定
