.hero
  +pos-set(relative, zero)
  overflow: hidden
  .hero__decor
    width: 100%
    +breakpoint-min($min-width-xl)
      width: auto
  .hero__zone
    +aspect-ratio(960, 1300)
    +breakpoint-min($min-width-xl)
      +aspect-ratio(960, 1250)
    
    .hero__block
      opacity: 0
      transform: scale(1)
      .js-loading &
        transform: scale(0.95)
        animation: fade-in 2s .4s both
          
    .title__main
      +pos-set(absolute, base, 8%)
      +size(100%, auto)
      +breakpoint-min($min-width-xl)
        left: calc(50% - 430px)
        width: auto
        
    .decor__wrap
      text-align: center

    .decor__title
      position: absolute

    .decor__holly
      z-index: map-get($zindex, second)
      top: 6%
      left: 12%
      width: 76%
      text-align: center
      opacity: 0
      +breakpoint-min($min-width-xl)
        left: calc(50% - 330px)
        width: auto
      .js-loading &
        animation: title-grow .5s 1.2s ease-out forwards, holly-shake .6s 1.7s

    .decor__light--1
      z-index: map-get($zindex, second)
      top: 6.6%
      left: 14%
      width: 72%
      opacity: 0
      +breakpoint-min($min-width-xl)
        left: calc(50% - 298px)
        width: auto
      .js-loading &
        animation: title-grow .5s 1.2s ease-out forwards, holly-shake .6s 1.7s

    .decor__light--2
      z-index: map-get($zindex, second)
      top: 4.6%
      left: 10.5%
      width: 80%  
      opacity: 0
      filter: brightness(130%)
      mix-blend-mode: screen
      +breakpoint-min($min-width-xl)
        left: calc(50% - 330px)
        width: auto
      .js-loading &
        animation: title-grow .5s 1.2s ease-out forwards, holly-shake .6s 1.7s, light-shining 0.6s 2.4s linear infinite alternate

    .decor__bell
      z-index: map-get($zindex, second)
      top: 3%
      left: 40%
      width: 18%  
      opacity: 0
      +breakpoint-min($min-width-xl)
        left: calc(50% - 79px)
        width: auto
      .js-loading &
        animation: title-grow .5s 1.6s ease-out forwards
        img
          transform: rotate(-30deg)
          animation: belling 3s 1.9s cubic-bezier(.82,.05,.54,.87) infinite

    .decor__overlay
      z-index: map-get($zindex, third)
      top: 76.95%
      left: 0
      width: 100%     
      +breakpoint-min($min-width-xl)
        top: 79.95%
        left: calc(50% - 480px)
        width: auto

@import event/2nd/e-main/components/hero-section/hero-video/_hero-video.sass

@keyframes bounce
  0%, 2%, 5.3%, to
    animation-timing-function: cubic-bezier(.215, .61, .355, 1)
    transform: translateZ(0)
  4%, 4.3%
    animation-timing-function: cubic-bezier(.755, .05, .855, .06)
    transform: translate3d(0, -30px, 0) scaleY(1.1)
  7%
    animation-timing-function: cubic-bezier(.755, .05, .855, .06)
    transform: translate3d(0, -15px, 0) scaleY(1.05)
  8%
    transition-timing-function: cubic-bezier(.215, .61, .355, 1)
    transform: translateZ(0) scaleY(.95)
  9%
    transform: translate3d(0, -4px, 0) scaleY(1.02)
  10%
    transform: translate3d(0, 0px, 0) scaleY(1)

@keyframes sub-stamp
  0%
    opacity: 0
    transform: scale(10)
  1%
    opacity: 1
  80%
    opacity: 1
    transform: scale(.8)
  100%
    opacity: 1
    transform: scale(1)

@keyframes light-scale-large
  0%
    transform: scale(0)
    opacity: 0 
  10% 
    opacity: 1
  30%
    transform: scale(1.5)
    opacity: 0
  40% 
    transform: scale(0)
    opacity: 0
  50%
    opacity: 1
  70%
    transform: scale(1.5)
    opacity: 0
  100%
    opacity: 0

@keyframes moveY
  0%
    transform: translateY(10%)
  100%
    transform: translateY(4%)

@keyframes slideDown
  0%
    transform: translateY(-101%)
  100%
    transform: translateY(10%)

@keyframes lightSpeedInRight
  0%
    transform: translate3d(100%, 0, 0) skewX(-30deg)
    opacity: 0
  60%
    transform: skewX(20deg)
    opacity: 1
  80%
    transform: skewX(-5deg)
    opacity: 1
  to
    transform: translateZ(0)
    opacity: 1

@keyframes lightSpeedInLeft
  0%
    transform: translate3d(-100%, 0, 0) skewX(30deg)
    opacity: 0
  60%
    transform: skewX(-20deg)
    opacity: 1
  80%
    transform: skewX(5deg)
    opacity: 1
  to
    transform: translateZ(0)
    opacity: 1

@keyframes hero-up-down
  0%
    transform: translateY(0%) rotate(0)
  25%
    transform: translateY(8%) rotate(3deg)
  50%
    transform: translateY(0%) rotate(0)
  75%
    transform: translateY(8%) rotate(-5deg)
  100%
    transform: translateY(0%)
  0%
    transform: translateY(0%) rotate(0)
  25%
    transform: translateY(8%) rotate(3deg)
  50%
    transform: translateY(0%) rotate(0)
  75%
    transform: translateY(8%) rotate(-5deg)
  100%
    transform: translateY(0%)

@keyframes light-flash
  0%, 100%
    filter: brightness(220%)
  50%
    filter: brightness(100%)

@keyframes fade-in
  0%
    transform: translateY(-16%) scale(0.95)
    opacity: 0 
  100%
    transform: translateY(0%) scale(0.95)
    opacity: 1

@keyframes belling 
  0%
    transform: rotate(-30deg)
  50%
    transform: rotate(30deg)
  100%
    transform: rotate(-30deg)

@keyframes title-grow
  0%
    opacity: 0
    transform: scale(0)
  50%
    opacity: 1
    transform: scale(20%)
  90%
    opacity: 1
    transform: scale(1.1)
  100%
    opacity: 1
    transform: scale(1)

@keyframes holly-shake
  0%, to
    transform: translateZ(0)
  10%, 30%, 50%, 70%, 90%
    transform: translate3d(-6px, 0, 0)
  20%, 40%, 60%, 80%
    transform: translate3d(6px, 0, 0)

@keyframes light-shining
  from 
    opacity: 1
    filter: brightness(200%)
  to 
    opacity: 0.8
    filter: brightness(100%)