* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}
ul, li {
  list-style: none;
}
img {
  display: block;
  max-width: 100%;
}
.clearfix::after {
  content: '';
  display: block;
  clear: both;
}
.layout--main {
  max-width: 960px;
  margin-left: auto;
  margin-right: auto;
}
.sp__calendar {
  border-top: 1px solid #000;
  border-left: 1px solid #000;
}
.calendar__week,
.calendar__cell {
  border-right: 1px solid #000;
  border-bottom: 1px solid #000;
}
.calendar__week, .calendar__cell {
  position: relative;
  float: left;
  width: 14.2857%;
  height: 5vh;
  line-height: 5vh;
  text-align: center;
}
.cell__anchor {
  display: block;
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0.3;
}
.cell__anchor:hover, .cell__anchor:active {
  opacity: 0.5;
}
.promo__zone {
  display: flex;
  flex-wrap: wrap;
}
.promo__box {
  flex: 0 0 100%;
}
.promo__info, .promo__pic {
  float: left;
}
.promo__info {
  width: 60%;
}
.promo__pic {
  width: 40%;
}