-
  var promoSpecialData = [
    { // 1
      link: "https://media.etmall.com.tw/sp/18593/m/index.html#taipeifubon",
      imgSrc: "event/1st/e-main/components/promo-special/items/item-p-special-1.png",
      alt: "累積分期滿$15,000送$750"
    },
    { // 2
      link: "https://media.etmall.com.tw/sp/18593/m/index.html#esun",
      imgSrc: "event/1st/e-main/components/promo-special/items/item-p-special-2.png",
      alt: "累積分期滿$18,000送$1,100"
    },
    { // 3
      link: "https://media.etmall.com.tw/sp/18593/m/index.html#fartrust",
      imgSrc: "event/1st/e-main/components/promo-special/items/item-p-special-3.png",
      alt: "單件商品滿$30,000回饋$2,400"
    },
  ]

-
  var promoSpecialSlider = [
    { // 1
      link: "https://media.etmall.com.tw/sp/18593/m/index.html#cathay",
      imgSrc: "event/1st/e-main/components/promo-special/items/bn-p-special-1.png",
      alt: "累積滿$8,000送$300"
    },
    { // 2
      link: "https://media.etmall.com.tw/sp/18593/m/index.html#AEP",
      imgSrc: "event/1st/e-main/components/promo-special/items/bn-p-special-2.png",
      alt: "單筆訂單滿$10,000送$600 東森提貨券"
    },
    { // 3
      link: "https://media.etmall.com.tw/sp/18593/m/index.html#bot",
      imgSrc: "event/1st/e-main/components/promo-special/items/bn-p-special-3.png",
      alt: "單件商品分期滿$30,000送$1,000"
    },
    { // 4
      link: "https://media.etmall.com.tw/sp/18593/m/index.html#dbs",
      imgSrc: "event/1st/e-main/components/promo-special/items/bn-p-special-4.png",
      alt: "累積分期滿$35,000送$3,000"
    },
    { // 5
      link: "https://media.etmall.com.tw/sp/18960/m/index.html",
      imgSrc: "event/1st/e-main/components/promo-special/items/bn-p-special-5.png",
      alt: "單筆訂單滿$2,000回饋$250"
    },
    { // 6
      link: "https://media.etmall.com.tw/sp/18593/m/index.html#fartrust",
      imgSrc: "event/1st/e-main/components/promo-special/items/bn-p-special-6.png",
      alt: "單件商品分期滿$15,000回饋$1,000"
    },
  ]

section.promo__group.promo-special
  .layout--main
    .decor__wrap.full-parent
      .decor__item.decor__item--item
        img(src="event/1st/e-main/components/promo-special/decor-promo-sp.png", alt="")
    .promo__wrap
      .promo__zone
        .promo__block
          ul.event__block
            each data, index in promoSpecialData
              li(id="promoSpecialItem" + (index + 1))
                a(href= data.link, title=data.alt)
                  img(src= data.imgSrc, alt=data.alt)
          .promo__slider
            .slider__wrap
              .swiper-container#PromoSpReady
                ul.swiper-wrapper
                  each data in promoSpecialSlider
                    li.swiper-slide
                      a(href= data.link, title=data.alt)
                        img(src= data.imgSrc, alt=data.alt)

