

section.hero

  .layout--main
    .hero__wrap
      .hero__zone
        .video__wrap
          .video__block
            include /event/1st/e-main/components/hero-section/hero-video/_hero-video.pug

        .hero__title
          .title--main
            img(src="event/1st/e-main/components/hero-section/title.png" alt="中秋月購圓")
          .title__sub
            a(href="https://media.etmall.com.tw/sp/15748/m/index.html", title="全站回最高回饋12%")
              img(src="event/1st/e-main/components/hero-section/title-sub.png", alt="全站回最高回饋12%")
          .title__cta
            a(href="https://media.etmall.com.tw/sp/16999/m/index.html", title="去看攻略")
              img(src="event/1st/e-main/components/hero-section/title-cta.png", alt="去看攻略")

        .decor__title.decor--top
          img(src="event/1st/e-main/components/hero-section/decor-title.png", alt="")
