section.hero__wrap
  .hero__zone


    //- #decorationBack.decoration--background.decoration__wrap
    //-   .decoration--confetti.wow(data-depth="-0.1")

    .layout--main
      .hero__block

        .hero__box
          //- 標題
          h1.hero__title.hero__title--main.wow(title="揪愛寵妳")
            img.wow(src="~event/1st/e-main/components/hero-section/title.png", alt="揪愛寵妳")
          .decoration__title.wow
            .decoration--wrap
              img.wow(src="~event/1st/e-main/components/hero-section/top-flower-3.png", alt="")
              img.wow(src="~event/1st/e-main/components/hero-section/top-mother-hand.png", alt="")
              img.wow(src="~event/1st/e-main/components/hero-section/top-flower-4.png", alt="")
              img.wow(src="~event/1st/e-main/components/hero-section/top-mother.png", alt="",)
            .decoration--wrap-web
              img.wow(src="~event/1st/e-main/components/hero-section/top-flower-1-web.png", alt="")




  //- TODO: 如果hero和promo要共用主視覺時這樣放
  //- .promo__zone
    //- .layout--main
      //- .promo__block
        //- 行銷誘因
        //- include /event/1st/e-main/components/promo-event/_promo-event

        //- 商品輪播
          //- 副標
        //- .hero__small__zone
          //- include /event/1st/e-main/components/hero-small-slider/_hero-small-slider
