-
  var promoDataE = [
  {link: "https://www.etmall.com.tw/i/2589692", imgSrc: "~event/2nd/e-main/components/promo-event/items/promo-1.png", alt: "玻璃罐買一送一"},
  {link: "#note", imgSrc: "~event/2nd/e-main/components/promo-event/items/promo-2.png", alt: "滿$3,000送鍋寶陶瓷杯"},
  {link: "#note", imgSrc: "~event/2nd/e-main/components/promo-event/items/promo-3.png", alt: "東森振興券 一千變三千"},
  {link: "https://www.etmall.com.tw/XML/content/DMSetting/Final/209901/SP_1107517/w/index.html", imgSrc: "~event/2nd/e-main/components/promo-event/items/promo-4.png", alt: "首購送80 LINE POINTS"},
  {link: "#note", imgSrc: "~event/2nd/e-main/components/promo-event/items/promo-5.png", alt: "APP下單3次送7-11$50購物金"},
  {link: "#note", imgSrc: "~event/2nd/e-main/components/promo-event/items/promo-6.png", alt: "萊爾富超取送冰美式"},
  ]

-
  var promoDataU = [
  {link: "https://www.u-mall.com.tw/XML/content/DMSetting/Final/202007/SP_1106086/w/index.html", imgSrc: "~event/2nd/u-main/components/promo-event/items/promo-1.png", alt: "20間銀行最高回饋10%"},
  {link: "https://www.u-mall.com.tw/XML/content/DMSetting/Final/201407/SP_1019204/w/index.html", imgSrc: "~event/2nd/u-main/components/promo-event/items/promo-2.png", alt: "下單現折$100"},
  {link: "https://www.u-mall.com.tw/Activity/HourSale", imgSrc: "~event/2nd/u-main/components/promo-event/items/promo-3.png", alt: "整點最便宜"},
  {link: "https://www.u-mall.com.tw/Activity/HourSale?Day=Up", imgSrc: "~event/2nd/u-main/components/promo-event/items/promo-4.png", alt: "天天最激殺"},
  ]

- var promoData = isU ? promoDataU : promoDataE

.promo__event(data-title="")
  ul.event__wrap
    li
      a(href= promoData[0].link, title= promoData[0].alt)
        img(src= promoData[0].imgSrc, alt= promoData[0].alt)
        //img(class="promo__good" src="~event/2nd/u-main/components/promo-event/items/promo-1-good.png")
        //img(class="promo__go" src="~event/2nd/u-main/components/promo-event/items/promo-1-go.png")
    li
      a(href= promoData[1].link, title= promoData[1].alt)
        img(src= promoData[1].imgSrc, alt= promoData[1].alt)
    li
      a(href= promoData[2].link, title= promoData[2].alt)
        img(src= promoData[2].imgSrc, alt= promoData[2].alt)
    li
      a(href= promoData[3].link, title= promoData[3].alt)
        img(src= promoData[3].imgSrc, alt= promoData[3].alt)


  include /event/2nd/u-main/components/bn-special/_bn-special

