//- 這是使用套件parallax.js、滑鼠移動產生視差
//- parallax 結構
section#bgDecoration.deoration--background.decoration__wrap(style="height: 100vh;")
  .decoration__item(data-depth="0.15")
    img(src="layout/background-decoration/include/parallax/background-decoration-2.png", alt="")
  .decoration__item(data-depth="0.5")
    img(src="layout/background-decoration/include/parallax/background-decoration-1.png", alt="")