//- IE9用下方舊輪播，IE10up與現代瀏覽器用上方新輪播
<!--[if !IE]><!-->
<script src="https://cdnjs.cloudflare.com/ajax/libs/Swiper/4.5.0/js/swiper.min.js"></script>
//- 5.0
//- <script src="https://unpkg.com/swiper/js/swiper.min.js"> </script>
<!--<![endif]-->
<!--[if IE 9]>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Swiper/2.7.6/idangerous.swiper.min.js"></script>
<![endif]-->