section.promo__group.promo__group--dynamic-slider.promo__group--dynamic-slider.slider__style1(data-title="開運福袋888")
  .layout--main
    //- .promo__title.block--center.text--center
    //-   img(src="~event/2nd/e-main/components/dynamic-slider-3/title-dynamic-slider-3.png", alt="你會喜歡")
    .promo__wrap
      #sliderDynamic.promo__slider.swiper-container
        .swiper-wrapper

      //- #sliderDynamicPager.dynamic-slider-pager.swiper-pagination
      #sliderDynamicPrev_1.swiper-button-white.swiper-button-prev.dynamic__nav.dynamic__nav--prev
      #sliderDynamicNext_1.swiper-button-white.swiper-button-next.dynamic__nav.dynamic__nav--next

//- data-dynamic-3.js在assets資料夾內、由index.pug外連過去