section.promo__group.promo__group--rule.m-bottom--md
  .layout--main
    .rule__block
      .block__wrap
        .block__title.m-bottom--md
          .title__box
            span 注意事項
        .block__body
          ol.form__list
            li.m-bottom--xs 參加者須同意接受東森購物網隱私權保護政策；參加者同意東森購物網於辦理本活動得獎聯絡事宜、活動分析或其他活動網頁上所聲明之方式及特定目的範圍內，得蒐集、處理及利用參加者所填寫之個人資料；參加者並同意東森購物網得委託協力廠商負責執行前述各項事務，該廠商得於必要範圍內使用參加者之個人資料；除本活動辦法另有規定外，東森購物網關於參加者個人資料之使用及參加者之權益悉依東森購物網隱私權保護政策之規範。
            li.m-bottom--xs 個人資料利用期間、地區、對象及方式：期間：除法律另有規定外，以本活動期間(包含發放獎品日)為限地區：以本公司執行本活動所及地區為限對象：針對部分得獎參賽人，為發放獎品作業之必要，本公司將提供必要之姓名、地址、電話予物流業者配送。 方式：由報名人所提供之一切個資、或是活動中所拍攝之一切照片/影片，均作為舉辦本活動(包含活動當日宣傳、比賽名次產出後發放獎品)使用。
            li.m-bottom--xs 依據個資法第三條規定，您就本公司保有您的個人資料得行使下列權利：得 向本公司查詢、請求閱覽或請求製給複製本，而本公司依法得酌收必要成本費用。得向本公司請求補充或更正，惟依法申請人應為 適當之釋明。得向本公司請求停止蒐集、處理或利用及請求刪除，惟依法本公司因執行業務所必須者，得不依申請人請求為之。
            li.m-bottom--xs 您若不提供個人真實資料所致權益之影響：您同意本公司相關業務以您所提供的個人資料確認您的身份、與您進行連絡相關服務及資訊。若您所提供之個人資料，經檢舉或本公司發現不足以確認您的身分真實性或其他個人資料冒用、盜用、資料不實等情形，本公司會有權暫時停止提供對您的服務，若有不便之處敬請見諒。
            li.m-bottom--xs 如參賽者或投票者，以惡意電腦程式及其他明顯違反活動公平性之方式(如創立假帳號)，意圖混淆或影響比賽結果，皆為違反規定之行為。經由主辦單位發現或網友檢舉後確認屬實，主辦單位可將票數予以刪除或取消參賽/中獎資格。
            li.m-bottom--xs 投票獎將從投票者中隨機抽出，得獎者須為東森得易購真實會員，寄送地址亦為登記會員時的地址，請務必確認收件地址，若為違反規定申請會員或地址錯誤，獎項將不給予亦不重抽，主辦單位保留對抽獎方式的修改權利。
            li.m-bottom--xs 參加比賽/投票者應確實填寫資料，如有資料不實、資料不完整、資料不正確及所留資料無法聯絡得獎者之情事，將取消得獎/中獎資格。且如有致生損害於主辦單位或其他任何第三人時，應負一切民刑事責任，主辦單位對於任何不實或不正確之資料不負任何法律責任。
            li.m-bottom--xs 參加者若因會員資料填寫不完整者，或活動後變更資料(如姓名、手機、地址等)，或手機收訊不良、電信業者遺漏訊息或阻擋企業簡訊、APP關閉推播通知等情況，導致無法收到商品或簡訊，或收到簡訊後未保留簡訊者、信件無人領取被退件等，恕不補發。
            li.m-bottom--xs 獎項均不得要求轉讓他人、折合現金及更換其他等值獎品；獎項說明未盡事宜，依中獎通知單說明為主。本活動獎品寄送範圍僅限中華民國台澎金馬地區。
            li.m-bottom--xs 得獎者之指定收件地址僅限台灣本島地區且不可為郵政信箱，本活動之獎項一經東森購物網寄出後，若於運送途中或運送至得獎者指定收件地址後發生遺失、冒領或被竊等喪失占有之情形，概由得獎者自行負責，東森購物網或贊助廠商等不發給任何證明或補償。
            li.m-bottom--xs 依稅法規定，若得獎人於東森購物網兌換贈（獎）品金額達新台幣（下同）1,001元以上未達20,010元，將於次年初開立免扣繳憑單予得獎人並向主管稽徵機關申報；如達20,010元以上者，得獎人應回填兌獎收據單，並由東森購物網代為扣繳得獎人應繳納獎品價值10%(外國人20%)之機會中獎所得稅金額後，東森購物始交付獎品並將於次年開立扣繳憑單予得獎人。
            li.m-bottom--xs 東森購物網保有活動變更、修改或終止本活動之權力，如有異動，修改後之內容將公佈在東森購物網上。