.hero__wrap
  +pos-set(relative, zero)
  .hero__block
    +pos-set(relative, zero)
    .hero__bg
      width: 100%
      img
        width: 100%
        +breakpoint-min($min-width-xl)
          width: auto
