section.hero__wrap
  .hero__zone
    .layout--main
      .decoration--top.decoration__hero.wow
        img(src="~event/1st/e-line/components/hero-section/decoration-hero.png", alt="",)
      .hero__block
        .hero__box

          .hero__title.hero__title--main.wow(title="全民嗨搶節|天天1折up")
            //- 標題
            h1
              img(src="~event/1st/e-line/components/hero-section/title.png", alt="全民嗨搶節|天天1折up")
            .decoration--top.decoration__title.wow
              img(src="~event/1st/e-line/components/hero-section/decoration-title.png", alt="",)
