section.promo__group.promo__group--dynamic-slider-half(data-title="88專區")
  .layout--main
    .decor__wrap
      .decor__item.decor__item--left#dynamicSliderHalfLeft
        img(src="event/1st/e-main/components/dynamic-slider-half/decor-dynamic-slider-half-left.png" alt="")
      .decor__item.decor__item--right
        img(src="event/1st/e-main/components/dynamic-slider-half/decor-dynamic-slider-half-right.png" alt="")
    .promo__wrap
      .promo__zone
        .promo__block
          .promo__box
            a(href="https://media.etmall.com.tw/sp/9565/m/index.html" title="88專區")
              img(src="event/1st/e-main/components/dynamic-slider-half/item-dynamic-slider-half-1.png" alt="88專區")
          .slider__box
            .sliderDynamicHalf1.promo__slider.swiper-container
              ul.swiper-wrapper
        .promo__block
          .promo__box
            a(href="https://media.etmall.com.tw/sp/9565/m/index.html" title="88專區")
              img(src="event/1st/e-main/components/dynamic-slider-half/item-dynamic-slider-half-2.png" alt="88專區")
          .slider__box
            .sliderDynamicHalf2.promo__slider.swiper-container
              ul.swiper-wrapper
        .promo__block
          .promo__box
            a(href="https://media.etmall.com.tw/sp/9565/m/index.html" title="88專區")
              img(src="event/1st/e-main/components/dynamic-slider-half/item-dynamic-slider-half-3.png" alt="88專區")
          .slider__box
            .sliderDynamicHalf3.promo__slider.swiper-container
              ul.swiper-wrapper

        //- #sliderDynamicHalfPager.dynamic-slider-pager.dynamic-slider-pager--half.swiper-pagination
