- 
  var w4m4noItemDataE = [
    {
      itemLink: "https://www.etmall.com.tw/gp/105145",
      itemAlt: "MONTBLANC 萬寶龍",
    }, 
    {
      itemLink: "https://www.etmall.com.tw/XML/content/DMSetting/Final/202007/SP_1115993/w/index.html",
      itemAlt: "輝葉",
    }, 
    {
      itemLink: "https://www.etmall.com.tw/c3/142501",
      itemAlt: "碧兒泉",
    }, 
    {
      itemLink: "https://www.etmall.com.tw/c3/138256",
      itemAlt: "達摩本草",
    }, 
    {
      itemLink: "https://www.etmall.com.tw/XML/content/DMSetting/Final/202006/SP_1115657/w/index.html",
      itemAlt: "Dyson",
    }, 
    {
      itemLink: "https://www.etmall.com.tw/XML/content/DMSetting/Final/202007/SP_1115879/w/index.html",
      itemAlt: "LG",
    }, 
    {
      itemLink: "https://www.etmall.com.tw/XML/content/DMSetting/Final/202005/SP_1115505/w/index.html",
      itemAlt: "Apple",
    }, 
    {
      itemLink: "https://www.etmall.com.tw/c2/48959",
      itemAlt: "ASUS",
    }, 
  ]

- 
  var w4m4noItemDataU = [
    {
      itemLink: "https://www.etmall.com.tw/XML/content/DMSetting/Final/209901/SP_1107517/w/index.html",
      itemAlt: "滿額送$300",
    }, 
    {
      itemLink: "https://www.etmall.com.tw/XML/content/DMSetting/Final/209901/SP_1107517/w/index.html",
      itemAlt: "滿額送$300",
    }, 
    {
      itemLink: "https://www.etmall.com.tw/XML/content/DMSetting/Final/209901/SP_1107517/w/index.html",
      itemAlt: "滿額送$300",
    }, 
    {
      itemLink: "https://www.etmall.com.tw/XML/content/DMSetting/Final/209901/SP_1107517/w/index.html",
      itemAlt: "滿額送$300",
    }, 
    {
      itemLink: "https://www.etmall.com.tw/XML/content/DMSetting/Final/209901/SP_1107517/w/index.html",
      itemAlt: "滿額送$300",
    }, 
    {
      itemLink: "https://www.etmall.com.tw/XML/content/DMSetting/Final/209901/SP_1107517/w/index.html",
      itemAlt: "滿額送$300",
    }, 
    {
      itemLink: "https://www.etmall.com.tw/XML/content/DMSetting/Final/209901/SP_1107517/w/index.html",
      itemAlt: "滿額送$300",
    }, 
    {
      itemLink: "https://www.etmall.com.tw/XML/content/DMSetting/Final/209901/SP_1107517/w/index.html",
      itemAlt: "滿額送$300",
    }, 
  ]

- var w4m4noItemData = isU? w4m4noItemDataU : w4m4noItemDataE

section.promo__group.promo__group--w4m4-no-item.m-bottom--sm(data-title="88愛牌")
  .layout--main
    .promo__title.block--center
      img(src="~event/1st/e-main/components/event-w4m4-no-item/title-event-w4m4-no-item.png", alt="")
    .promo__wrap
      ul.good__wrap
        each data in w4m4noItemData
          li
            a(href= data.itemLink, title= data.itemAlt)

