.promo__group--w4m4-no-item
  .promo__wrap
    +pos-set(relative, zero)
    padding-bottom: 27%
    +bg-set(url("~event/1st/e-main/components/event-w4m4-no-item/bg-event-w4m4-no-item.png"), 100%)
    .good__wrap
      display: flex
      flex-wrap: wrap
      +pos-set(absolute, base, 0, 0)
      padding: 2% 4% 3.5% 2%
      width: 100%
      height: 100%
      li
        flex: 0 1 25%
        a
          width: 100%
          height: 100%

