.note__box
  padding: 2% 8% 0
  width: 100%
  +bg-set(url(event/current/components/note/decor-note-bg.png), 100%, null, null, repeat)
  overflow: hidden
  color: $gray-deep-light
  .note__part
    h3
      display: none
      margin-bottom: 16px
      +font-styling(24px, 700)
      line-height: 140%
      +breakpoint-min($min-width-xl)
        display: block
    ol
      list-style: decimal
      li
        padding-left: 8px
        margin-bottom: 8px
        +font-styling(16px, 400, justify)
        +breakpoint-min($min-width-xl)
          margin-left: 52px
          +font-styling(18px)
          line-height: 140%
