section.note__wrap.m-bottom--xl
  .layout--main
    .note__block 
      .decor__top 
        img(src="event/current/components/note/decor-note-top.png" alt="")

      .note__box 
        article 
          .note__part 
            h3 【618 登記抽大獎】
            ol 
              li 會員單筆訂單滿$1,618，並使用信用卡完成付款可抽獎1次
              li 每一客代限中獎一次，每個時段的59
              li 分前須登記抽獎，下個時段的18分公佈得獎名單
              li 大量訂購會員不適用此抽獎活動，若惡意退單將列入黑名單(3個月不能參加任何抽獎活動)

      .decor__bottom 
        img(src="event/current/components/note/decor-note-bottom.png" alt="")
