
section.hero__wrap(data-title="")
  .ball__animated
  .hero__zone
    .layout--main
      #heroBlock.hero__block
        .hero__box
          //- 標題
          h1.hero__title.hero__title--main.block--center.wow(title="1212激戰狂歡GO")
            img(class="title__t1" src="~event/2nd/u-main/components/hero-section/title-t1.png", alt="1212激戰狂歡GO")
            img(class="title__t3" src="~event/2nd/u-main/components/hero-section/title-t3.png")
            img(class="title__t2" src="~event/2nd/u-main/components/hero-section/title-t2.png")
        include /event/2nd/u-main/components/promo-slider/_promo-slider
  //-.title-decoration__wrap
  .title__decoration.wow
    //img(src="~event/2nd/u-main/components/hero-section/decoration__balloon.png")
    img(src="https://www.etmall.com.tw/XML/content/DMSetting/Final/202012/SP_1116824/decoration__balloon.png")





