//- TODO: 注意為了主標preload，在head內有準備好兩種方法，為了減少修改，統一把主標命名為「title.png」
section.hero__wrap.m-bottom--sm
  .hero__zone
    .layout--main
      .hero__block
        .hero__box
          .hero__title
            img(src="event/2nd/e-main/components/hero-section/title.png")
          .hero__title
            img(src="event/2nd/e-main/components/hero-section/app_rule.png")




//-   //- TODO: 如果hero和promo要共用主視覺時這樣放
//-   //- .promo__zone
//-     //- .layout--main
//-       //- .promo__block
//-         //- 行銷誘因
//-         //- include /event/2nd/e-main/components/promo-event/_promo-event

//-         //- 商品輪播
//-           //- 副標
//-         //- .hero__small__zone
//-           //- include /event/2nd/e-main/components/hero-small-slider/_hero-small-slider
