-
  var promoSliderItemTop = [
    { // 1
      link: "https://www.etmall.com.tw/i/3658008" ,
      imgSrc: "event/2nd/e-main/components/slider-w3m3/item/p2-1-top.png",
      alt: "Amber私有雲端儲存裝置 內建硬碟1TB x 2 + AC2600 Wi-Fi寬頻分享器",
    },
    { // 2
      link: "https://www.etmall.com.tw/i/4089292" ,
      imgSrc: "event/2nd/e-main/components/slider-w3m3/item/p2-2-top.png",
      alt: "日本MIDORI高風速溫控負離子吹風機",
    },
    { // 3
      link: "https://www.etmall.com.tw/i/3654385" ,
      imgSrc: "event/2nd/e-main/components/slider-w3m3/item/p2-3-top.png",
      alt: "【萬歲牌】無調味綜合果(28gx5包/盒) 8盒組  ",
    },
    {
      link: "https://www.etmall.com.tw/i/4017187" ,
      imgSrc: "event/2nd/e-main/components/slider-w3m3/item/p2-4-top.png",
      alt: "(多款下殺)[阿瘦集團]A.S.O全新專利3D高回彈萬步科技氣墊",
    },
    { 
      link: "https://www.etmall.com.tw/i/4572768" ,
      imgSrc: "event/2nd/e-main/components/slider-w3m3/item/p2-5-top.png",
      alt: "TAKASHIMA 高島 愛舒服 iFlux 小沙發 AI 版 A-1310A",
    },
    { 
      link: "https://www.etmall.com.tw/i/4493769" ,
      imgSrc: "event/2nd/e-main/components/slider-w3m3/item/p2-6-top.png",
      alt: "理膚寶水 升級版B5+全面修復霜100mlx2入組",
    },
    { 
      link: "https://www.etmall.com.tw/i/3570395" ,
      imgSrc: "event/2nd/e-main/components/slider-w3m3/item/p2-7-top.png",
      alt: "葡萄王 認證易得纖 益生菌膠囊 30粒*6瓶-網",
    },
    { 
      link: "https://www.etmall.com.tw/i/4650070" ,
      imgSrc: "event/2nd/e-main/components/slider-w3m3/item/p2-8-top.png",
      alt: "猜不到 小鯊魚實木開瓶器",
    },
  ]

-
  var promoSliderItemThumbs = [
    { // 1
      link: "https://www.etmall.com.tw/i/3658008" ,
      imgSrc: "event/2nd/e-main/components/slider-w3m3/item/p2-1-thumbs.png",
      alt: "Amber私有雲端儲存裝置 內建硬碟1TB x 2 + AC2600 Wi-Fi寬頻分享器",
    },
    { // 2
      link: "https://www.etmall.com.tw/i/4089292" ,
      imgSrc: "event/2nd/e-main/components/slider-w3m3/item/p2-2-thumbs.png",
      alt: "日本MIDORI高風速溫控負離子吹風機",
    },
    { // 3
      link: "https://www.etmall.com.tw/i/3654385" ,
      imgSrc: "event/2nd/e-main/components/slider-w3m3/item/p2-3-thumbs.png",
      alt: "【萬歲牌】無調味綜合果(28gx5包/盒) 8盒組  ",
    },
    {
      link: "https://www.etmall.com.tw/i/4017187" ,
      imgSrc: "event/2nd/e-main/components/slider-w3m3/item/p2-4-thumbs.png",
      alt: "(多款下殺)[阿瘦集團]A.S.O全新專利3D高回彈萬步科技氣墊",
    },
    { 
      link: "https://www.etmall.com.tw/i/4572768" ,
      imgSrc: "event/2nd/e-main/components/slider-w3m3/item/p2-5-thumbs.png",
      alt: "TAKASHIMA 高島 愛舒服 iFlux 小沙發 AI 版 A-1310A",
    },
    { 
      link: "https://www.etmall.com.tw/i/4493769" ,
      imgSrc: "event/2nd/e-main/components/slider-w3m3/item/p2-6-thumbs.png",
      alt: "理膚寶水 升級版B5+全面修復霜100mlx2入組",
    },
    { 
      link: "https://www.etmall.com.tw/i/3570395" ,
      imgSrc: "event/2nd/e-main/components/slider-w3m3/item/p2-7-thumbs.png",
      alt: "葡萄王 認證易得纖 益生菌膠囊 30粒*6瓶-網",
    },
    { 
      link: "https://www.etmall.com.tw/i/4650070" ,
      imgSrc: "event/2nd/e-main/components/slider-w3m3/item/p2-8-thumbs.png",
      alt: "猜不到 小鯊魚實木開瓶器",
    },
  ]

section.promo__group.promo__group--slider-w3m3.m-bottom--lg(data-title="寵媽大作戰")
  .layout--main
    .decor__wrap.full-parent
      //- .decor__item.decor__item--title#decorW3M3Title
      //-   img(src="event/2nd/e-main/components/slider-w3m3/decor-slider-w3m3-title.png", alt="")
      .decor__item.decor__item--left#decorW3M3Left
        img(src="event/2nd/e-main/components/slider-w3m3/decor-slider-w3m3-left.png", alt="")
      .decor__item.decor__item--right#decorW3M3Right
        img(src="event/2nd/e-main/components/slider-w3m3/decor-slider-w3m3-right.png", alt="")
    .promo__wrap
      .promo__zone
        .promo__block
          .promo__slider.full-parent
            .swiper-container.gallery-top
              ul.swiper-wrapper
                each data in promoSliderItemTop
                  li.swiper-slide
                    a(href= data.link, title=data.alt)
                      img(src= data.imgSrc, alt=data.alt)
            .swiper-container.gallery-thumbs
              ul.swiper-wrapper
                each data in promoSliderItemThumbs
                  li.swiper-slide
                    a(href= data.link, title=data.alt)
                      img(src= data.imgSrc, alt=data.alt)