section.promo__group.dynamic-slider-w2m2-2.m-bottom--lg(data-title="就這樣買")
  .layout--main
    .decor__wrap.full-parent
      .decor__item.decor__item--title#decorSliderW2M22Title
        img(src="event/2nd/e-main/components/dynamic-slider-w2m2-2/decor-dynamic-w2m22-title.png", alt="")
      .decor__item.decor__item--item#decorSliderW2M22Item
        img(src="event/2nd/e-main/components/dynamic-slider-w2m2-2/decor-dynamic-w2m22-item.png", alt="")
      .decor__item.decor__item--stars#decorSliderW2M22Stars
        img(src="event/2nd/e-main/components/dynamic-slider-w2m2-2/decor-dynamic-w2m22-stars.png", alt="")

    .promo__wrap
      .promo__zone
        .promo__block
          .promo__box
            a(href="") 
              img(src="event/2nd/e-main/components/dynamic-slider-w2m2-2/decor-dynamic-w2m22-bn.png", alt="")
          .promo__slider
            .swiper-container#dynamicSliderW2M22Block
              .swiper-wrapper