.dynamic-slider-w2m2-2
  +pos-set(relative, zero)
  overflow: hidden

  .decor__item
    &--title
      +pos-set(absolute, base, 3%, 40.8%)
      width: 46%
      transform-origin: bottom
      +breakpoint-min($min-width-xl)
        left: calc( 50% - 88px )
    &--item
      +pos-set(absolute, zero, 0%, 3%)
      width: 42%
      transform-origin: bottom
      &.active
        animation: up-down-4 2.6s ease-in-out infinite
      +breakpoint-min($min-width-xl)
        left: calc( 50% - 424px )
    &--stars
      +pos-set(absolute, zero, 3.4%, 3%)
      width: 92%
      transform: scale(3)
      opacity: 0
      +breakpoint-min($min-width-xl)
        top: 0
        left: calc(50% - 470px)
      &.active
        animation: opacity-fix 1s forwards 1
    +breakpoint-min($min-width-xl)
      width: auto

  .promo__wrap
    +bg-set(url(event/2nd/e-main/components/dynamic-slider-w2m2-2/bg-dynamic-slider-w2m22.png), 100%)

  .promo__zone
    +aspect-ratio(960, 1330)

  .promo__block
    padding: 30% 2% 0
    +breakpoint-min($min-width-xl)
      padding-top: 287px

  .promo__box
    margin: 0 0 2% 0
    width: 100%
    text-align: center
    +breakpoint-min($min-width-xl)
      margin-bottom: 28px
      width: auto
      
  .promo__slider
    +padding-x(0)
    +breakpoint-min($min-width-xl)
      +padding-x(22px)
    .swiper-slide
      display: flex
      justify-content: space-between
      flex-wrap: wrap
      +breakpoint-min($min-width-xl)
        justify-content: space-around

    .product__block
      background-color: $gray-deep-light
      border-radius: 1.2vw
      +breakpoint-min($min-width-xl)
        border-radius: 12px
      .product__img
        width: 100%
        margin: 0 auto
        border: 2px solid $gray-deep-dark
        border-bottom: none
        border-radius: 1.2vw 1.2vw 0 0
        +breakpoint-min($min-width-xl)
          width: 100%
          border-width: 4px
          border-radius: 12px 12px 0 0
          img
            width: 100%
            border-radius: 12px 12px 0 0
      .product__text
        border: 2px solid $gray-deep-dark
        border-top: none
        border-radius: 0 0 1.2vw 1.2vw
        +breakpoint-min($min-width-xl)
          border-width: 4px
          border-radius: 0 0 12px 12px
      .product__name
        padding: 0 4%

@keyframes swing
  10%
    transform: rotate(5deg)
  20%
    transform: rotate(-5deg)
  30%
    transform: rotate(5deg)
  40%
    transform: rotate(-5deg)
  50%, 100%
    transform: rotate(0deg)

@keyframes up-down-4
  0%, 100%
    transform: translateY(0%)
  50%
    transform: translateY(6%)