.promo__group--create
  .group__zone
    padding-top: 8px
    max-width: 600px
  .form__box
    .label__box
      margin-bottom: 8px
    +breakpoint-min($min-width-xl)
      display: flex
      .label__box
        margin-bottom: 0
        padding: 15px
        text-align: center
      .input__box
        flex-grow: 1

  .form__rule
    margin-left: auto
    margin-right: auto
    padding: 15px 15px 30px
    color: $gray-dark
    background-color: $gray-light
    border-radius: 8px
    .rule__title
      font-size: 20px
    .rule__content
      font-size: 16px

    .decimal-type
      /* 阿拉伯數字 */
      padding-left: 5%
      list-style-type: decimal

  @import components/include/form-cta/_form-cta
