// // ==========================================================================
// // main
// // ==========================================================================
.hero__wrap
  +pos-set(relative, zero)
  width: 100%
  overflow: hidden
  // +bg-set(url("~event/1st/u-main/components/hero-section/bg-hero-web.jpg"), 100%)
  // overflow: hidden
  // +breakpoint-min($min-width-xl)
  //   background-size: auto

  .hero__block
    +pos-set(relative, zero)
    padding-top: 1%
    padding-bottom: 17%

    +breakpoint-min($min-width-xl)
      padding-bottom: 150px

    .hero__box,
    .canvas__wrap--color,
      animation: bounceInUp 1.5s both
  
  .hero__box
    +pos-set(relative, zero)
    margin-left: 5%
    padding-bottom: 6.5%
    width: 90%
    background: center 100% url("~event/1st/u-main/components/hero-section/bg-title-1.png") no-repeat, center 100% url("~event/1st/u-main/components/hero-section/bg-title-2.png") no-repeat
    background-size: 100%

    +breakpoint-min($min-width-xl)
      background-size: auto

    .decoration__title
      +pos-set(absolute, base)
      top: 42%
      left: 1%
      width: 100%
      transform: scale(1.1)
      pointer-events: none

  .hero__title
    &--main
      +pos-set(relative, zero)
      margin-left: 7%
      width: 80%
      // text-align: center
      transform-origin: center

      .title--first
        +pos-set(absolute, base)
        top: 12%
        right: -18%
        width: 24%
        animation: fly-small 0.5s 1s both

      +breakpoint-min($min-width-xl)
        margin-left: 45px
        width: 90%
        .title--first
          top: 12%
          right: -70px
          width: 173px
          animation: fly-small 0.5s 1s both
        .title--second
          width: 92%

  .sub__box
    +pos-set(relative, zero)
    margin-top: -3%
    a
      &:active,
      &:hover
        filter: brightness(110%)
    .decoration__sub-title
      +pos-set(absolute, base)
      top: -168%
      right: 2%
      width: 38%
  // padding-top: 3%
  // .decoration__title
  //   +pos-set(absolute, zero)
  //   bottom: 17%
  //   left: 0
  //   width: 100%
  //   img:last-child
  //     +pos-set(absolute, base)
  //     top: 20%
  //     left: 24%
  //     width: 53%

  //   +breakpoint-min($min-width-xl)
  //     bottom: 74px

@keyframes fly-small
  0%
    opacity: 0
    transform: scale(5)
  20%
    opacity: 1
  100%
    opacity: 1
    transform: scale(1)

@keyframes bounceInUp
  0%, 60%, 75%, 90%, to
    animation-timing-function: cubic-bezier(.215, .61, .355, 1)
  0%
    opacity: 0
    transform: translate3d(0, 50px, 0) scale(0)
  60%
    opacity: 1
    transform: translate3d(0, -10px, 0) scale(1.1)
  75%
    opacity: 1
    transform: translate3d(0, 5px, 0) scale(.985)
  90%
    opacity: 1
    transform: translate3d(0, -2px, 0) scale(1.05)
  to
    opacity: 1
    transform: translateZ(0)

  // TODO: 如果hero和promo要共用主視覺時的共用區塊背景設定 
  // .promo__zone
    // margin-top: 8%
    //background-color: $gray-deep-light
    // +breakpoint-min($min-width-xl)
      // background-color: transparent
