section.promo__group.promo__group--bn-section.m-bottom--lg(data-title="尾牙摸彩")
  .layout--main
    //- .promo__title--parent
      //- .promo__title#titleBnSection
        //- img(src="event/1st/e-main/components/bn-section/title-bn-section.png", alt="")
    .promo__wrap
      .promo__decor#decorBnSection
        img(src="event/1st/e-main/components/bn-section/decor-bn-section.png", alt="")
      .promo__zone
        .promo__block
            //- img(src="event/1st/e-main/components/bn-section/item-bn-section.png", alt="BIOUP自然美獨家送好禮")
        .promo__box
          a(href="") 
//- data-dynamic-2.js在assets資料夾內、由index.pug外連過去