.video__wrap
  margin-top: 48%
  margin-left: -10%
  z-index: map-get($zindex, third)
  // pointer-events: none
  .video__box
    width: 120%

.video__title
  // pointer-events: none
  .video__box
    margin-left: 14%
    width: 70%