.video__title
  .hero__video.full-parent
    video.video__box(autoplay loop muted playsinline poster="poster-1111.png")
      source(src="1111.mov" type='video/mp4; codecs="hvc1"')
      source(src="1111.webm" type="video/webm")


.video__wrap
  .hero__video.full-parent
    video.video__box(autoplay loop muted playsinline poster="poster-hero-video.png")
      source(src="hero-video.mov" type='video/mp4; codecs="hvc1"')
      source(src="hero-video.webm" type="video/webm")
