
section.hero__wrap(data-title="購物狂飆")
  .hero__zone
    .layout--main
      #heroBlock.hero__block
        .hero__box
          //- 標題
          h1.hero__title.hero__title--main.block--center.wow(title="購物狂飆週年慶")
            img.title__t2(src="~event/2nd/e-main/components/hero-section/title.png", alt="購物狂飆週年慶")
          .title__sub
            img.title__star(src="~event/2nd/e-main/components/hero-section/title-star-1.png")
            img.title__star-2(src="~event/2nd/e-main/components/hero-section/title-star-2.png")
          //  a(href="https://www.etmall.com.tw/p/109711")
              //img.title__people(class="" src="~event/2nd/e-main/components/hero-section/title-people.png", alt="")
  //-.title-decoration__wrap
  .title__decoration
    img.title__item-1.wow.animate__fadeInDown.animate__animated.animate__delay-2s(src="~event/2nd/e-main/components/hero-section/title-p-1.png")
    img.title__item-2.wow.animate__fadeInDown.animate__animated.animate__delay-2s(src="~event/2nd/e-main/components/hero-section/title-p-2.png")
    img.title__item-3.wow.animate__fadeInDown.animate__animated.animate__delay-2s(src="~event/2nd/e-main/components/hero-section/title-p-3.png")
    img.title__item-4.wow.animate__fadeInDown.animate__animated.animate__delay-2s(src="~event/2nd/e-main/components/hero-section/title-p-4.png")
    img.title__item-5.wow.animate__fadeInDown.animate__animated.animate__delay-2s(src="~event/2nd/e-main/components/hero-section/title-p-5.png")




  .promo__zone
    .layout--main
      .promo__block
        //- 插入daily goods
        //include /event/2nd/e-main/components/daily-goods/_daily-goods-bottom
        //- 行銷誘因
        include /event/2nd/e-main/components/promo-event/_promo-event



