section.promo__group.promo__group--w1m1
  .decor--top.decor__calendar--web.decor__calendar--web-left.wow
    img(src="event/2nd/e-main/components/event-w1m1/decor-calendar-2-web.png", alt="")
  .decor--top.decor__calendar--web.decor__calendar--web-right.wow
    img(src="event/2nd/e-main/components/event-w1m1/decor-calendar-3-web.png", alt="")
  .layout--main
    .event__wrap
      .event__zone
        .event__block
          img(src="event/2nd/e-main/components/event-w1m1/calendar.png", alt="618行事曆攻略") 
        .decor__calendar
          img(src="event/2nd/e-main/components/event-w1m1/decor-calendar-1.png", alt="")