//- TODO: 打開u-mall選項會自動轉換成U的logo和連結(預設etmall)
//- - var isU = true

main#spWrap.sp__wrap.sp__wrap--e
  include /layout/header/_header

  //- hero section
  //- ===========================
  include /event/1st/e-main/components/hero-section/_hero-section

  //- other components
  //- ===========================
  include /event/1st/e-main/components/dialog-slider/_dialog-slider
  include /event/1st/e-main/components/random-card/_random-card

//- script區
include /utils/pug/_total-script
script#check(src="check.js")

