section.table__wrap.m-bottom--md
  .layout--main
    .table__zone
      .table__title(title="省錢攻略").m-bottom--xs
        img(src="~event/1st/e-main/components/table-section/table-title.png", alt="省錢攻略")
      .table__box
        table
          tr
            th 時間
            th 活動
            th 內容
          tr
            td 12/1~12/8
            td 紅包狂灑
            td 天天搶紅包決戰1212
          tr
            td 12/2~12/9
            td 訂單特價
            td 哀鳳買一送三
          tr
            td 12/1~12/8
            td 紅包狂灑
            td 天天搶紅包決戰1212
          tr
            td 12/2~12/9
            td 訂單特價
            td 哀鳳買一送三