section.promo__group.promo__group--dynamic-section.promo__group--dynamic-section-1.m-bottom--lg(data-title="熱銷超取")
  .layout--main
    .promo__wrap
      .promo__zone
        .promo__title
          a(href="", title="熱銷超取專區看更多")
        #dynamicSection
          .product__wrap
