// // ==========================================================================
// // main
// // ==========================================================================
.hero__wrap
  +pos-set(relative, zero)

  .hero__block
    +pos-set(relative, zero)
    overflow: hidden

  +breakpoint-min($min-width-xl)
    background-size: auto
    .hero__block
      overflow: visible

  .hero__title
    &--main
      +pos-set(relative, zero)
      width: 100%
      text-align: center
