section.promo__group.promo__group--tab.m-bottom--xs.js-add__bg(data-title="館別特殺")
  .layout--main
    ul.tab__wrap
      li.tab__zone
        ul#tabBox.tab__box
          li.tab__item(title="居家美食").active
            img(src="~event/1st/e-main/components/tab-section/items/tab/tab-d1-min.png", alt="居家美食")
            img(src="~event/1st/e-main/components/tab-section/items/tab/tab-l1-min.png", alt="居家美食")
          li.tab__item(title="流行服裝")
            img(src="~event/1st/e-main/components/tab-section/items/tab/tab-d2-min.png", alt="流行服裝")
            img(src="~event/1st/e-main/components/tab-section/items/tab/tab-l2-min.png", alt="流行服裝")
          li.tab__item(title="美妝保養")
            img(src="~event/1st/e-main/components/tab-section/items/tab/tab-d3-min.png", alt="美妝保養")
            img(src="~event/1st/e-main/components/tab-section/items/tab/tab-l3-min.png", alt="美妝保養")
          li.tab__item(title="3C家電")
            img(src="~event/1st/e-main/components/tab-section/items/tab/tab-d4-min.png", alt="3C家電")
            img(src="~event/1st/e-main/components/tab-section/items/tab/tab-l4-min.png", alt="3C家電")

      li.content__zone
        ul#contentBlock.content__block
          li.content__box.clearfix.active
            .content__item
              a(href="https://www.etmall.com.tw/XML/content/DMSetting/Final/201912/SP_1114253/w/index.html", title="滿額抽舒潔1箱")
                img(src="~event/1st/e-main/components/tab-section/items/content/bookmark-1-1-min.png", alt="滿額抽舒潔1箱")
            .content__item
              a(href="https://www.etmall.com.tw/XML/content/DMSetting/Final/201912/SP_1114244/w/index.html", title="雙12限定下殺")
                img(src="~event/1st/e-main/components/tab-section/items/content/bookmark-1-2-min.png", alt="雙12限定下殺")
            .content__item
              a(href="https://www.etmall.com.tw/XML/content/DMSetting/Final/201911/SP_1114192/w/index.html", title="彩妝&窩在傢瘋搶Go")
                img(src="~event/1st/e-main/components/tab-section/items/content/bookmark-1-3-min.png", alt="彩妝&窩在傢瘋搶Go")

          li.content__box.clearfix
            .content__item
              a(href="https://www.etmall.com.tw/np/87062", title="年終1.2折起")
                img(src="~event/1st/e-main/components/tab-section/items/content/bookmark-2-1-min.png", alt="年終1.2折起")
            .content__item
              a(href="https://www.etmall.com.tw/np/86975", title="暖心2折up")
                img(src="~event/1st/e-main/components/tab-section/items/content/bookmark-2-2-min.png", alt="暖心2折up")
            .content__item
              a(href="https://www.etmall.com.tw/np/86873", title="$479起")
                img(src="~event/1st/e-main/components/tab-section/items/content/bookmark-2-3-min.png", alt="$479起")

          li.content__box.clearfix
            .content__item
              a(href="https://www.etmall.com.tw/p/87105", title="雙12好禮送")
                img(src="~event/1st/e-main/components/tab-section/items/content/bookmark-3-1-min.png", alt="雙12好禮送")
            .content__item
              a(href="https://www.etmall.com.tw/p/87383", title="Age20送好禮")
                img(src="~event/1st/e-main/components/tab-section/items/content/bookmark-3-2-min.png", alt="Age20送好禮")
            .content__item
              a(href="https://www.etmall.com.tw/np/87382", title="獨家↘122up")
                img(src="~event/1st/e-main/components/tab-section/items/content/bookmark-3-3-min.png", alt="獨家↘122up")

          li.content__box.clearfix
            .content__item
              a(href="https://www.etmall.com.tw/XML/content/DMSetting/Final/201912/SP_1114198/w/index.html", title="現省3千")
                img(src="~event/1st/e-main/components/tab-section/items/content/bookmark-4-1-min.png", alt="現省3千")
            .content__item
              a(href="https://www.etmall.com.tw/c3/137618", title="最高再回饋15%")
                img(src="~event/1st/e-main/components/tab-section/items/content/bookmark-4-2-min.png", alt="最高再回饋15%")
            .content__item
              a(href="https://www.etmall.com.tw/c1/18", title="全新玩美上市")
                img(src="~event/1st/e-main/components/tab-section/items/content/bookmark-4-3-min.png", alt="全新玩美上市")
