section.promo__group.promo__group--two-day.m-bottom--lg(data-title="集氣購")
  .layout--main
    a(href="https://www.etmall.com.tw/Activity/GroupSale", title="集氣購")
      .promo__wrap
        .promo__zone
          .pic__box
            img(src="event/2nd/e-main/components/two-day-slider/item-two-day-0.png", alt="集氣購")
          .slider__box
            .promo__date
              .decoration--top.decoration--two-day.decoration--two-day-left
                img(src="event/2nd/e-main/components/two-day-slider/decoration-two-day-1.png", alt="")
              .decoration--top.decoration--two-day.decoration--two-day-right
                img(src="event/2nd/e-main/components/two-day-slider/decoration-two-day-2.png", alt="")
              span#twoDayDate
            #sliderTwoDay.promo__slider.swiper-container
              ul.swiper-wrapper

        //- #sliderTwoDayPager.dynamic-slider-pager.dynamic-slider-pager--half.swiper-pagination
