section.bn-event-2.m-bottom--xs
  .layout--main
    ul.bn-event-2__wrap
      li.content__zone
        ul.content__block
          li.content__box.clearfix
            .content__item
              a(href="https://www.etmall.com.tw/np/84675", title="FORTE雙11重磅組1折up")
                img(src="~event/1st/e-main/components/bn-event-2/items/content/1.png", alt="FORTE雙11重磅組1折up")
            .content__item
              a(href="https://www.etmall.com.tw/bs/83771", title="特談超殺熱銷組$1111")
                img(src="~event/1st/e-main/components/bn-event-2/items/content/2.png", alt="特談超殺熱銷組$1111")
            .content__item
              a(href="https://www.etmall.com.tw/np/84811", title="彩妝&香水大牌1111限定組")
                img(src="~event/1st/e-main/components/bn-event-2/items/content/3.png", alt="彩妝&香水大牌1111限定組")

