section.promo__group.dynamic-slider.m-bottom--lg(data-title="春季大賞")
  .layout--main
    .decor__wrap.full-parent
      .decor__item.decor__item--left1#decorDynamicSliderLeft1
        img(src="event/2nd/e-main/components/dynamic-slider/decor-dynamic-slider-left1.png", alt="")
      .decor__item.decor__item--left2#decorDynamicSliderLeft2
        img(src="event/2nd/e-main/components/dynamic-slider/decor-dynamic-slider-left2.png", alt="")
      .decor__item.decor__item--right#decorDynamicSliderRight
        img(src="event/2nd/e-main/components/dynamic-slider/decor-dynamic-slider-right.png", alt="")
    .promo__wrap
      .promo__zone
        .promo__block
          .promo__slider.swiper-container#DynamicSliderBlock
            .swiper-wrapper