section.promo__group.promo__group--daily-tab(data-title="每日精選")
  .layout--main
    .promo__wrap
      .promo__zone
        ul.tab__wrap
          li.tab__zone
            ul#dailyTab.tab__box.drag-overflow

          li.content__zone
            ul#dailyTabContent.content__block
              li.content__box
                .content__item
                  .item__wrap
                    .tab__slider.swiper-container
                      ul.swiper-wrapper
                        li.swiper-slide
                          .item__box
                            a(href="" title="每日精選商品")
                              .item__intro 喜傑獅 Dreambook
                              .item__intro.item__intro--2 14N Lite 黑
                              .item__pic.block--center
                                img(src="event/1st/e-main/components/daily-tab/items/tab-0613-1.png" alt="每日精選商品")
                              .item__description 
                                .item__decor
                                  img(src="event/1st/e-main/components/daily-tab/decor-item.png" alt="")
                                .item__price
                                  .price__box
                                    span $
                                    span 12,900
                                  .price__box
                                    span $
                                    span 11,399
                        li.swiper-slide
                          .item__box
                            a(href="" title="每日精選商品")
                              .item__intro 品名品名品名品
                              .item__intro.item__intro--2 品名品名品名品
                              .item__pic.block--center
                                img(src="event/1st/e-main/components/daily-tab/items/tab-0613-1.png" alt="每日精選商品")
                              .item__description 
                                .item__decor
                                  img(src="event/1st/e-main/components/daily-tab/decor-item.png" alt="")
                                .item__price
                                  .price__box
                                    span $
                                    span 12,900
                                  .price__box
                                    span $
                                    span 11,399
                        li.swiper-slide
                          .item__box
                            a(href="" title="每日精選商品")
                              .item__intro 品名品名品名品
                              .item__intro.item__intro--2 品名品名品名品
                              .item__pic.block--center
                                img(src="event/1st/e-main/components/daily-tab/items/tab-0613-1.png" alt="每日精選商品")
                              .item__description 
                                .item__decor
                                  img(src="event/1st/e-main/components/daily-tab/decor-item.png" alt="")
                                .item__price
                                  .price__box
                                    span $
                                    span 12,900
                                  .price__box
                                    span $
                                    span 11,399
                        li.swiper-slide
                          .item__box
                            a(href="" title="每日精選商品")
                              .item__intro 品名品名品名品
                              .item__intro.item__intro--2 品名品名品名品
                              .item__pic.block--center
                                img(src="event/1st/e-main/components/daily-tab/items/tab-0613-1.png" alt="每日精選商品")
                              .item__description 
                                .item__decor
                                  img(src="event/1st/e-main/components/daily-tab/decor-item.png" alt="")
                                .item__price
                                  .price__box
                                    span $
                                    span 12,900
                                  .price__box
                                    span $
                                    span 11,399
                        li.swiper-slide
                          .item__box
                            a(href="" title="每日精選商品")
                              .item__intro 品名品名品名品
                              .item__intro.item__intro--2 品名品名品名品
                              .item__pic.block--center
                                img(src="event/1st/e-main/components/daily-tab/items/tab-0613-1.png" alt="每日精選商品")
                              .item__description 
                                .item__decor
                                  img(src="event/1st/e-main/components/daily-tab/decor-item.png" alt="")
                                .item__price
                                  .price__box
                                    span $
                                    span 12,900
                                  .price__box
                                    span $
                                    span 11,399
                        li.swiper-slide
                          .item__box
                            a(href="" title="每日精選商品")
                              .item__intro 品名品名品名品
                              .item__intro.item__intro--2 品名品名品名品
                              .item__pic.block--center
                                img(src="event/1st/e-main/components/daily-tab/items/tab-0613-1.png" alt="每日精選商品")
                              .item__description 
                                .item__decor
                                  img(src="event/1st/e-main/components/daily-tab/decor-item.png" alt="")
                                .item__price
                                  .price__box
                                    span $
                                    span 12,900
                                  .price__box
                                    span $
                                    span 11,399

              li.content__box
                .content__item
                  .item__wrap
                    .tab__slider.swiper-container
                      ul.swiper-wrapper
                        li.swiper-slide
                          .item__box
                            a(href="" title="每日精選商品")
                              .item__intro 品名品名品名品
                              .item__intro.item__intro--2 品名品名品名品
                              .item__pic.block--center
                                img(src="event/1st/e-main/components/daily-tab/items/tab-0613-1.png" alt="每日精選商品")
                              .item__description 
                                .item__decor
                                  img(src="event/1st/e-main/components/daily-tab/decor-item.png" alt="")
                                .item__price
                                  .price__box
                                    span $
                                    span 1,012
                                  .price__box
                                    span $
                                    span 1,012
                        li.swiper-slide
                          .item__box
                            a(href="" title="每日精選商品")
                              .item__intro 品名品名品名品
                              .item__intro.item__intro--2 品名品名品名品
                              .item__pic.block--center
                                img(src="event/1st/e-main/components/daily-tab/items/tab-0613-1.png" alt="每日精選商品")
                              .item__description 
                                .item__decor
                                  img(src="event/1st/e-main/components/daily-tab/decor-item.png" alt="")
                                .item__price
                                  .price__box
                                    span $
                                    span 1,012
                                  .price__box
                                    span $
                                    span 1,012
                        li.swiper-slide
                          .item__box
                            a(href="" title="每日精選商品")
                              .item__intro 品名品名品名品
                              .item__intro.item__intro--2 品名品名品名品
                              .item__pic.block--center
                                img(src="event/1st/e-main/components/daily-tab/items/tab-0613-1.png" alt="每日精選商品")
                              .item__description 
                                .item__decor
                                  img(src="event/1st/e-main/components/daily-tab/decor-item.png" alt="")
                                .item__price
                                  .price__box
                                    span $
                                    span 1,012
                                  .price__box
                                    span $
                                    span 1,012
                        li.swiper-slide
                          .item__box
                            a(href="" title="每日精選商品")
                              .item__intro 品名品名品名品
                              .item__intro.item__intro--2 品名品名品名品
                              .item__pic.block--center
                                img(src="event/1st/e-main/components/daily-tab/items/tab-0613-1.png" alt="每日精選商品")
                              .item__description 
                                .item__decor
                                  img(src="event/1st/e-main/components/daily-tab/decor-item.png" alt="")
                                .item__price
                                  .price__box
                                    span $
                                    span 1,012
                                  .price__box
                                    span $
                                    span 1,012
                        li.swiper-slide
                          .item__box
                            a(href="" title="每日精選商品")
                              .item__intro 品名品名品名品
                              .item__intro.item__intro--2 品名品名品名品
                              .item__pic.block--center
                                img(src="event/1st/e-main/components/daily-tab/items/tab-0613-1.png" alt="每日精選商品")
                              .item__description 
                                .item__decor
                                  img(src="event/1st/e-main/components/daily-tab/decor-item.png" alt="")
                                .item__price
                                  .price__box
                                    span $
                                    span 1,012
                                  .price__box
                                    span $
                                    span 1,012
                        li.swiper-slide
                          .item__box
                            a(href="" title="每日精選商品")
                              .item__intro 品名品名品名品
                              .item__intro.item__intro--2 品名品名品名品
                              .item__pic.block--center
                                img(src="event/1st/e-main/components/daily-tab/items/tab-0613-1.png" alt="每日精選商品")
                              .item__description 
                                .item__decor
                                  img(src="event/1st/e-main/components/daily-tab/decor-item.png" alt="")
                                .item__price
                                  .price__box
                                    span $
                                    span 1,012
                                  .price__box
                                    span $
                                    span 1,012

              li.content__box
                .content__item
                  .item__wrap
                    .tab__slider.swiper-container
                      ul.swiper-wrapper
                        li.swiper-slide
                          .item__box
                            a(href="" title="每日精選商品")
                              .item__intro 品名品名品名品
                              .item__intro.item__intro--2 品名品名品名品
                              .item__pic.block--center
                                img(src="event/1st/e-main/components/daily-tab/items/tab-0613-1.png" alt="每日精選商品")
                              .item__description 
                                .item__decor
                                  img(src="event/1st/e-main/components/daily-tab/decor-item.png" alt="")
                                .item__price
                                  .price__box
                                    span $
                                    span 1,012
                                  .price__box
                                    span $
                                    span 1,012
                        li.swiper-slide
                          .item__box
                            a(href="" title="每日精選商品")
                              .item__intro 品名品名品名品
                              .item__intro.item__intro--2 品名品名品名品
                              .item__pic.block--center
                                img(src="event/1st/e-main/components/daily-tab/items/tab-0613-1.png" alt="每日精選商品")
                              .item__description 
                                .item__decor
                                  img(src="event/1st/e-main/components/daily-tab/decor-item.png" alt="")
                                .item__price
                                  .price__box
                                    span $
                                    span 1,012
                                  .price__box
                                    span $
                                    span 1,012
                        li.swiper-slide
                          .item__box
                            a(href="" title="每日精選商品")
                              .item__intro 品名品名品名品
                              .item__intro.item__intro--2 品名品名品名品
                              .item__pic.block--center
                                img(src="event/1st/e-main/components/daily-tab/items/tab-0613-1.png" alt="每日精選商品")
                              .item__description 
                                .item__decor
                                  img(src="event/1st/e-main/components/daily-tab/decor-item.png" alt="")
                                .item__price
                                  .price__box
                                    span $
                                    span 1,012
                                  .price__box
                                    span $
                                    span 1,012
                        li.swiper-slide
                          .item__box
                            a(href="" title="每日精選商品")
                              .item__intro 品名品名品名品
                              .item__intro.item__intro--2 品名品名品名品
                              .item__pic.block--center
                                img(src="event/1st/e-main/components/daily-tab/items/tab-0613-1.png" alt="每日精選商品")
                              .item__description 
                                .item__decor
                                  img(src="event/1st/e-main/components/daily-tab/decor-item.png" alt="")
                                .item__price
                                  .price__box
                                    span $
                                    span 1,012
                                  .price__box
                                    span $
                                    span 1,012
                        li.swiper-slide
                          .item__box
                            a(href="" title="每日精選商品")
                              .item__intro 品名品名品名品
                              .item__intro.item__intro--2 品名品名品名品
                              .item__pic.block--center
                                img(src="event/1st/e-main/components/daily-tab/items/tab-0613-1.png" alt="每日精選商品")
                              .item__description 
                                .item__decor
                                  img(src="event/1st/e-main/components/daily-tab/decor-item.png" alt="")
                                .item__price
                                  .price__box
                                    span $
                                    span 1,012
                                  .price__box
                                    span $
                                    span 1,012
                        li.swiper-slide
                          .item__box
                            a(href="" title="每日精選商品")
                              .item__intro 品名品名品名品
                              .item__intro.item__intro--2 品名品名品名品
                              .item__pic.block--center
                                img(src="event/1st/e-main/components/daily-tab/items/tab-0613-1.png" alt="每日精選商品")
                              .item__description 
                                .item__decor
                                  img(src="event/1st/e-main/components/daily-tab/decor-item.png" alt="")
                                .item__price
                                  .price__box
                                    span $
                                    span 1,012
                                  .price__box
                                    span $
                                    span 1,012

              li.content__box
                .content__item
                  .item__wrap
                    .tab__slider.swiper-container
                      ul.swiper-wrapper
                        li.swiper-slide
                          .item__box
                            a(href="" title="每日精選商品")
                              .item__intro 品名品名品名品
                              .item__intro.item__intro--2 品名品名品名品
                              .item__pic.block--center
                                img(src="event/1st/e-main/components/daily-tab/items/tab-0613-1.png" alt="每日精選商品")
                              .item__description 
                                .item__decor
                                  img(src="event/1st/e-main/components/daily-tab/decor-item.png" alt="")
                                .item__price
                                  .price__box
                                    span $
                                    span 1,012
                                  .price__box
                                    span $
                                    span 1,012
                        li.swiper-slide
                          .item__box
                            a(href="" title="每日精選商品")
                              .item__intro 品名品名品名品
                              .item__intro.item__intro--2 品名品名品名品
                              .item__pic.block--center
                                img(src="event/1st/e-main/components/daily-tab/items/tab-0613-1.png" alt="每日精選商品")
                              .item__description 
                                .item__decor
                                  img(src="event/1st/e-main/components/daily-tab/decor-item.png" alt="")
                                .item__price
                                  .price__box
                                    span $
                                    span 1,012
                                  .price__box
                                    span $
                                    span 1,012
                        li.swiper-slide
                          .item__box
                            a(href="" title="每日精選商品")
                              .item__intro 品名品名品名品
                              .item__intro.item__intro--2 品名品名品名品
                              .item__pic.block--center
                                img(src="event/1st/e-main/components/daily-tab/items/tab-0613-1.png" alt="每日精選商品")
                              .item__description 
                                .item__decor
                                  img(src="event/1st/e-main/components/daily-tab/decor-item.png" alt="")
                                .item__price
                                  .price__box
                                    span $
                                    span 1,012
                                  .price__box
                                    span $
                                    span 1,012
                        li.swiper-slide
                          .item__box
                            a(href="" title="每日精選商品")
                              .item__intro 品名品名品名品
                              .item__intro.item__intro--2 品名品名品名品
                              .item__pic.block--center
                                img(src="event/1st/e-main/components/daily-tab/items/tab-0613-1.png" alt="每日精選商品")
                              .item__description 
                                .item__decor
                                  img(src="event/1st/e-main/components/daily-tab/decor-item.png" alt="")
                                .item__price
                                  .price__box
                                    span $
                                    span 1,012
                                  .price__box
                                    span $
                                    span 1,012
                        li.swiper-slide
                          .item__box
                            a(href="" title="每日精選商品")
                              .item__intro 品名品名品名品
                              .item__intro.item__intro--2 品名品名品名品
                              .item__pic.block--center
                                img(src="event/1st/e-main/components/daily-tab/items/tab-0613-1.png" alt="每日精選商品")
                              .item__description 
                                .item__decor
                                  img(src="event/1st/e-main/components/daily-tab/decor-item.png" alt="")
                                .item__price
                                  .price__box
                                    span $
                                    span 1,012
                                  .price__box
                                    span $
                                    span 1,012
                        li.swiper-slide
                          .item__box
                            a(href="" title="每日精選商品")
                              .item__intro 品名品名品名品
                              .item__intro.item__intro--2 品名品名品名品
                              .item__pic.block--center
                                img(src="event/1st/e-main/components/daily-tab/items/tab-0613-1.png" alt="每日精選商品")
                              .item__description 
                                .item__decor
                                  img(src="event/1st/e-main/components/daily-tab/decor-item.png" alt="")
                                .item__price
                                  .price__box
                                    span $
                                    span 1,012
                                  .price__box
                                    span $
                                    span 1,012

              li.content__box
                .content__item
                  .item__wrap
                    .tab__slider.swiper-container
                      ul.swiper-wrapper
                        li.swiper-slide
                          .item__box
                            a(href="" title="每日精選商品")
                              .item__intro 品名品名品名品
                              .item__intro.item__intro--2 品名品名品名品
                              .item__pic.block--center
                                img(src="event/1st/e-main/components/daily-tab/items/tab-0613-1.png" alt="每日精選商品")
                              .item__description 
                                .item__decor
                                  img(src="event/1st/e-main/components/daily-tab/decor-item.png" alt="")
                                .item__price
                                  .price__box
                                    span $
                                    span 1,012
                                  .price__box
                                    span $
                                    span 1,012
                        li.swiper-slide
                          .item__box
                            a(href="" title="每日精選商品")
                              .item__intro 品名品名品名品
                              .item__intro.item__intro--2 品名品名品名品
                              .item__pic.block--center
                                img(src="event/1st/e-main/components/daily-tab/items/tab-0613-1.png" alt="每日精選商品")
                              .item__description 
                                .item__decor
                                  img(src="event/1st/e-main/components/daily-tab/decor-item.png" alt="")
                                .item__price
                                  .price__box
                                    span $
                                    span 1,012
                                  .price__box
                                    span $
                                    span 1,012
                        li.swiper-slide
                          .item__box
                            a(href="" title="每日精選商品")
                              .item__intro 品名品名品名品
                              .item__intro.item__intro--2 品名品名品名品
                              .item__pic.block--center
                                img(src="event/1st/e-main/components/daily-tab/items/tab-0613-1.png" alt="每日精選商品")
                              .item__description 
                                .item__decor
                                  img(src="event/1st/e-main/components/daily-tab/decor-item.png" alt="")
                                .item__price
                                  .price__box
                                    span $
                                    span 1,012
                                  .price__box
                                    span $
                                    span 1,012
                        li.swiper-slide
                          .item__box
                            a(href="" title="每日精選商品")
                              .item__intro 品名品名品名品
                              .item__intro.item__intro--2 品名品名品名品
                              .item__pic.block--center
                                img(src="event/1st/e-main/components/daily-tab/items/tab-0613-1.png" alt="每日精選商品")
                              .item__description 
                                .item__decor
                                  img(src="event/1st/e-main/components/daily-tab/decor-item.png" alt="")
                                .item__price
                                  .price__box
                                    span $
                                    span 1,012
                                  .price__box
                                    span $
                                    span 1,012
                        li.swiper-slide
                          .item__box
                            a(href="" title="每日精選商品")
                              .item__intro 品名品名品名品
                              .item__intro.item__intro--2 品名品名品名品
                              .item__pic.block--center
                                img(src="event/1st/e-main/components/daily-tab/items/tab-0613-1.png" alt="每日精選商品")
                              .item__description 
                                .item__decor
                                  img(src="event/1st/e-main/components/daily-tab/decor-item.png" alt="")
                                .item__price
                                  .price__box
                                    span $
                                    span 1,012
                                  .price__box
                                    span $
                                    span 1,012
                        li.swiper-slide
                          .item__box
                            a(href="" title="每日精選商品")
                              .item__intro 品名品名品名品
                              .item__intro.item__intro--2 品名品名品名品
                              .item__pic.block--center
                                img(src="event/1st/e-main/components/daily-tab/items/tab-0613-1.png" alt="每日精選商品")
                              .item__description 
                                .item__decor
                                  img(src="event/1st/e-main/components/daily-tab/decor-item.png" alt="")
                                .item__price
                                  .price__box
                                    span $
                                    span 1,012
                                  .price__box
                                    span $
                                    span 1,012

              li.content__box
                .content__item
                  .item__wrap
                    .tab__slider.swiper-container
                      ul.swiper-wrapper
                        li.swiper-slide
                          .item__box
                            a(href="" title="每日精選商品")
                              .item__intro 品名品名品名品
                              .item__intro.item__intro--2 品名品名品名品
                              .item__pic.block--center
                                img(src="event/1st/e-main/components/daily-tab/items/tab-0613-1.png" alt="每日精選商品")
                              .item__description 
                                .item__decor
                                  img(src="event/1st/e-main/components/daily-tab/decor-item.png" alt="")
                                .item__price
                                  .price__box
                                    span $
                                    span 1,012
                                  .price__box
                                    span $
                                    span 1,012
                        li.swiper-slide
                          .item__box
                            a(href="" title="每日精選商品")
                              .item__intro 品名品名品名品
                              .item__intro.item__intro--2 品名品名品名品
                              .item__pic.block--center
                                img(src="event/1st/e-main/components/daily-tab/items/tab-0613-1.png" alt="每日精選商品")
                              .item__description 
                                .item__decor
                                  img(src="event/1st/e-main/components/daily-tab/decor-item.png" alt="")
                                .item__price
                                  .price__box
                                    span $
                                    span 1,012
                                  .price__box
                                    span $
                                    span 1,012
                        li.swiper-slide
                          .item__box
                            a(href="" title="每日精選商品")
                              .item__intro 品名品名品名品
                              .item__intro.item__intro--2 品名品名品名品
                              .item__pic.block--center
                                img(src="event/1st/e-main/components/daily-tab/items/tab-0613-1.png" alt="每日精選商品")
                              .item__description 
                                .item__decor
                                  img(src="event/1st/e-main/components/daily-tab/decor-item.png" alt="")
                                .item__price
                                  .price__box
                                    span $
                                    span 1,012
                                  .price__box
                                    span $
                                    span 1,012
                        li.swiper-slide
                          .item__box
                            a(href="" title="每日精選商品")
                              .item__intro 品名品名品名品
                              .item__intro.item__intro--2 品名品名品名品
                              .item__pic.block--center
                                img(src="event/1st/e-main/components/daily-tab/items/tab-0613-1.png" alt="每日精選商品")
                              .item__description 
                                .item__decor
                                  img(src="event/1st/e-main/components/daily-tab/decor-item.png" alt="")
                                .item__price
                                  .price__box
                                    span $
                                    span 1,012
                                  .price__box
                                    span $
                                    span 1,012
                        li.swiper-slide
                          .item__box
                            a(href="" title="每日精選商品")
                              .item__intro 品名品名品名品
                              .item__intro.item__intro--2 品名品名品名品
                              .item__pic.block--center
                                img(src="event/1st/e-main/components/daily-tab/items/tab-0613-1.png" alt="每日精選商品")
                              .item__description 
                                .item__decor
                                  img(src="event/1st/e-main/components/daily-tab/decor-item.png" alt="")
                                .item__price
                                  .price__box
                                    span $
                                    span 1,012
                                  .price__box
                                    span $
                                    span 1,012
                        li.swiper-slide
                          .item__box
                            a(href="" title="每日精選商品")
                              .item__intro 品名品名品名品
                              .item__intro.item__intro--2 品名品名品名品
                              .item__pic.block--center
                                img(src="event/1st/e-main/components/daily-tab/items/tab-0613-1.png" alt="每日精選商品")
                              .item__description 
                                .item__decor
                                  img(src="event/1st/e-main/components/daily-tab/decor-item.png" alt="")
                                .item__price
                                  .price__box
                                    span $
                                    span 1,012
                                  .price__box
                                    span $
                                    span 1,012

              li.content__box
                .content__item
                  .item__wrap
                    .tab__slider.swiper-container
                      ul.swiper-wrapper
                        li.swiper-slide
                          .item__box
                            a(href="" title="每日精選商品")
                              .item__intro 品名品名品名品
                              .item__intro.item__intro--2 品名品名品名品
                              .item__pic.block--center
                                img(src="event/1st/e-main/components/daily-tab/items/tab-0613-1.png" alt="每日精選商品")
                              .item__description 
                                .item__decor
                                  img(src="event/1st/e-main/components/daily-tab/decor-item.png" alt="")
                                .item__price
                                  .price__box
                                    span $
                                    span 1,012
                                  .price__box
                                    span $
                                    span 1,012
                        li.swiper-slide
                          .item__box
                            a(href="" title="每日精選商品")
                              .item__intro 品名品名品名品
                              .item__intro.item__intro--2 品名品名品名品
                              .item__pic.block--center
                                img(src="event/1st/e-main/components/daily-tab/items/tab-0613-1.png" alt="每日精選商品")
                              .item__description 
                                .item__decor
                                  img(src="event/1st/e-main/components/daily-tab/decor-item.png" alt="")
                                .item__price
                                  .price__box
                                    span $
                                    span 1,012
                                  .price__box
                                    span $
                                    span 1,012
                        li.swiper-slide
                          .item__box
                            a(href="" title="每日精選商品")
                              .item__intro 品名品名品名品
                              .item__intro.item__intro--2 品名品名品名品
                              .item__pic.block--center
                                img(src="event/1st/e-main/components/daily-tab/items/tab-0613-1.png" alt="每日精選商品")
                              .item__description 
                                .item__decor
                                  img(src="event/1st/e-main/components/daily-tab/decor-item.png" alt="")
                                .item__price
                                  .price__box
                                    span $
                                    span 1,012
                                  .price__box
                                    span $
                                    span 1,012
                        li.swiper-slide
                          .item__box
                            a(href="" title="每日精選商品")
                              .item__intro 品名品名品名品
                              .item__intro.item__intro--2 品名品名品名品
                              .item__pic.block--center
                                img(src="event/1st/e-main/components/daily-tab/items/tab-0613-1.png" alt="每日精選商品")
                              .item__description 
                                .item__decor
                                  img(src="event/1st/e-main/components/daily-tab/decor-item.png" alt="")
                                .item__price
                                  .price__box
                                    span $
                                    span 1,012
                                  .price__box
                                    span $
                                    span 1,012
                        li.swiper-slide
                          .item__box
                            a(href="" title="每日精選商品")
                              .item__intro 品名品名品名品
                              .item__intro.item__intro--2 品名品名品名品
                              .item__pic.block--center
                                img(src="event/1st/e-main/components/daily-tab/items/tab-0613-1.png" alt="每日精選商品")
                              .item__description 
                                .item__decor
                                  img(src="event/1st/e-main/components/daily-tab/decor-item.png" alt="")
                                .item__price
                                  .price__box
                                    span $
                                    span 1,012
                                  .price__box
                                    span $
                                    span 1,012
                        li.swiper-slide
                          .item__box
                            a(href="" title="每日精選商品")
                              .item__intro 品名品名品名品
                              .item__intro.item__intro--2 品名品名品名品
                              .item__pic.block--center
                                img(src="event/1st/e-main/components/daily-tab/items/tab-0613-1.png" alt="每日精選商品")
                              .item__description 
                                .item__decor
                                  img(src="event/1st/e-main/components/daily-tab/decor-item.png" alt="")
                                .item__price
                                  .price__box
                                    span $
                                    span 1,012
                                  .price__box
                                    span $
                                    span 1,012          