section.hero__wrap
  .layout--main
    .sp__visual
      .visual__anchor
        .visual__main
          a(href="https://media.etmall.com.tw/sp/7986/m/index.html", target="_blank", title="活動詳情")
          a(href="#loyaltyCard", title="我的集點卡")
          a(href="#collectExchange", title="集點換好禮")
          a(href="#collectBuy", title="集點購好物")
      img(src="~event/1st/e-main/components/hero-section/top.jpg", alt="集點加價購")





