//- wow 用於開場動畫，掛入與呼叫必須儘早因此掛在最前面
script(id="wowScript", src="https://cdnjs.cloudflare.com/ajax/libs/wow/1.1.2/wow.min.js")
script new WOW().init();

//- polyfill 一般共用 for IE9
//- include /utils/pug/include/_polyfill-js.pug

//- General 一般共用
include /utils/pug/include/_general.pug

//- 電梯
include /utils/pug/include/_elevator-link.pug

//- 浮水印
include /utils/pug/include/_float-icon.pug
//- parallax cdn
//- include /utils/pug/include/_parallax-cdn-js.pug

//- 輪播cdn
<script src="https://cdnjs.cloudflare.com/ajax/libs/Swiper/4.5.0/js/swiper.min.js"></script>
//- 輪播cdn for IE9
//- include /utils/pug/include/_slider-cdn-js.pug