section.promo__group.promo__group--dynamic-slider-half.m-bottom--md(data-title="館別活動")
  .layout--main
    .promo__wrap
      .pic__box
        a(href="https://media.etmall.com.tw/sp/9440/m/index.html", title="繳稅季小資族必備")
          img(src="~event/1st/e-main/components/dynamic-slider-half/item-dynamic-slider-half-0.png", alt="繳稅季小資族必備")
      .slider__box
        #sliderDynamicHalf.promo__slider.swiper-container
          ul.swiper-wrapper

      //- #sliderDynamicHalfPager.dynamic-slider-pager.dynamic-slider-pager--half.swiper-pagination

//- data-dynamic.js在assets資料夾內、由index.pug外連過去