doctype html
html(lang='zh-Hant-TW')
  head
    include utils/pug/_total-head

  body
    //- main section 主視覺區
    //- google宮格版型1，特徵為沒有價格
    include event/1st/e-main/pages/index/_index.pug

    //- google宮格版型2，特徵為有價格
    //- include event/2nd/e-main/pages/index/_index.pug

    //- google宮格版型3
    //- include event/3rd/e-main/pages/index/_index.pug
