


*{
	margin:0;
	padding:0;}
	
	body{
		margin-left:auto;
		margin-right:auto;
		background-color:#FFFFFF;
		}
		
	img{vertical-align:bottom}	
	
	#TOP{
		width:100%;
		background-color:#10c0ea;
		margin-left:auto;
		margin-right:auto;
		}
	
	h1{
		font-family:Arial, Helvetica,"微軟正黑體", sans-serif;
		font-size:15px;
		color:#fff100;
		margin-left:16px;
		margin-right:16px;
		padding-top:10px;
		}
		
	h2{
		font-family:Arial, Helvetica,"微軟正黑體", sans-serif;
		font-size:15px;
		color:#651370;
		line-height:2.2;
		margin-left:16px;
		margin-right:16px;
		}
	
	p{
		font-family:Arial, Helvetica,"微軟正黑體", sans-serif;
		font-size:13px;
		color:#180b46;
		line-height:1.8;
		padding-left:30px;
		padding-right:30px;
		text-align:justify;
		padding-bottom:10px;
		}
	
	
	
