section.promo__group.promo__group--dynamic-slider-half.m-bottom--sm(data-title="Fun鬆玩")
  .layout--main
    .promo__title.block--center.text--center
      //- img(src="~event/2nd/e-main/components/dynamic-slider-half/title-dynamic-slider-half.png", alt="")

    .promo__wrap
      .pic__box
        a(href="", title="")
          img(src="~event/2nd/e-main/components/dynamic-slider-half/item-dynamic-slider-half-0.jpg", alt="")
      .slider__box
        #sliderDynamicHalf.promo__slider.swiper-container
          .swiper-wrapper

        #sliderDynamicHalfPager.dynamic-slider-pager.dynamic-slider-pager--half.swiper-pagination

//- data-dynamic-half.js在assets資料夾內、由index.pug外連過去