//- 星座幸運色
.decoration--top--outer
  .decoration--top--inner
    img#chosen_scroll_1(src="~event/2nd/e-main/components/dynamic-slider-half/chosen_scroll__gift.png", alt="")
    img#chosen_scroll_2(src="~event/2nd/e-main/components/dynamic-slider-half/chosen_scroll__ribbon.png", alt="")
section.promo__group.promo__group--dynamic-slider-half(data-title="精選館別")
  .layout--main
    .promo__title.block--center.text--center
      //- img(src="~event/2nd/e-main/components/dynamic-slider-half/title-dynamic-slider-half.png", alt="")

    .promo__wrap
      .pic__box
        a(href="https://media.etmall.com.tw/sp/9200/m/index.html", title="")
          //img(src="~event/2nd/e-main/components/dynamic-slider-half/item-dynamic-slider-half-0.jpg", alt="")
      .slider__box
        #sliderDynamicHalf.promo__slider.swiper-container
          .swiper-wrapper

        #sliderDynamicHalfPager.dynamic-slider-pager-4.dynamic-slider-pager--half.swiper-pagination
        //#sliderDynamicHalfPrev.swiper-button-white.swiper-button-prev
        //#sliderDynamicHalfNext.swiper-button-white.swiper-button-next
        //.arrow__wrap
        //  img(src="~event/2nd/e-main/components/dynamic-slider-half/arrow__moon.png")
        //  img(src="~event/2nd/e-main/components/dynamic-slider-half/arrow__moon.png")
//- data-dynamic-half.js在assets資料夾內、由index.pug外連過去