section.promo__group.dynamic-slider-w2m2.m-bottom--lg(data-title="霹靂Q俠")
  .layout--main
    .decor__wrap.full-parent
      .decor__item.decor__item--title1#decorSliderW2M2Title1
        img(src="event/2nd/e-main/components/dynamic-slider-w2m2/decor-dynamic-w2m2-title1.png", alt="")
      .decor__item.decor__item--title2#decorSliderW2M2Title2
        img(src="event/2nd/e-main/components/dynamic-slider-w2m2/decor-dynamic-w2m2-title2.png", alt="")
      .decor__item.decor__item--item#decorSliderW2M2Item
        img(src="event/2nd/e-main/components/dynamic-slider-w2m2/decor-dynamic-w2m2-item.png", alt="")
      .decor__item.decor__item--flower#decorSliderW2M2Flower
        img(src="event/2nd/e-main/components/dynamic-slider-w2m2/decor-dynamic-w2m2-flower.png", alt="")

    .promo__wrap
      .promo__zone
        .promo__block
          .promo__box
            a(href="") 
              img(src="event/2nd/e-main/components/dynamic-slider-w2m2/decor-dynamic-w2m2-bn.png", alt="")
          .promo__slider
            .swiper-container#DynamicSliderW2M2Block
              .swiper-wrapper