section.promo__group.promo__group--dynamic-slider.promo__group--dynamic-slider-2.m-bottom--lg(data-title="回饋11%").m-top--custom
  .layout--main
    .promo__wrap
      .promo__zone
        .decoration__box#DynamicSliderTitle
          img(src="event/1st/e-main/components/dynamic-slider/title-dynamic-slider.png", alt="")
        .decoration__box--top#decorDynamicSlider
          img(src="event/1st/e-main/components/dynamic-slider/decor-dynamic-slider.png", alt="")

      .promo__block
        #sliderDynamic2.promo__slider.swiper-container
          .swiper-wrapper

        //- #sliderDynamic2Prev.swiper-button-white.swiper-button-prev.dynamic__nav.dynamic__nav--prev
        //- #sliderDynamic2Next.swiper-button-white.swiper-button-next.dynamic__nav.dynamic__nav--next
      //- #sliderDynamic2Pager.dynamic-slider-pager.swiper-pagination

//- data-dynamic-2.js在assets資料夾內、由index.pug外連過去