//- 當需要跨月時(前一個月)，填入的資料由這邊設定，將所有月份資料填上，
//- 再由JS決定月份顯示哪些li(li.swiper-slide.month--prev、li.swiper-slide.month--now)
- var bankLinkPrev = {etmall: "https://media.etmall.com.tw/sp/7433/m/index.html", umall: "https://media.u-mall.com.tw/sp/7434/m/index.html"}

- var bankLinkNext = {etmall: "https://media.etmall.com.tw/sp/7800/m/index.html", umall: "https://www.u-mall.com.tw/XML/content/DMSetting/Final/202012/SP_1106091/w/index.html"}

- var bankInfoPrev = isU ? bankLinkPrev.umall : bankLinkPrev.etmall
- var bankInfoNext = isU ? bankLinkNext.umall : bankLinkNext.etmall

- var bankPageName = {"玉山": '#esun', "中信": "#ctbc", "國泰": "#cathay", "台新": "#Taishin", "花旗": "#citi", "富邦": "#taipeifubon", "永豐": "#sinopac", "聯邦": "#union", "一銀": "#one", "遠銀": "#fareasten", "滙豐": "#hsbc", "華南": "#huanan", "新光": "#shinkong", "星展": "#dbs", "合作金庫": "#tcb", "凱基": "#kgi", "上海銀行": "#shanghai", "土銀": "#landbank", "日盛": "#jihsun", "臺灣企銀": "#tbb", "臺銀": "#bot", "陽信": "#sunnybank", "樂天": "#rakuten"}


//- TODO: 給別的component引入時不需要前兩行要切換
section#bnBank.promo__group.promo__group--bn-bank(data-title="銀行活動")
  .layout--main
    //- .promo__title.block--center.text--center
    //-   img(src="~event/3rd/e-main/components/bn-special/title-special.png", alt="銀行活動")

    #bnBankPromoWrap.promo__wrap
      //- .pic__box
        //- a.month--prev(href="", title="")
        //-   img(src="~event/3rd/e-main/components/bn-special/item-special-p-0.png" alt="22間銀行最高回饋$3000")
        //- a.month--next(href="", title="")
        //-   img(src="~event/3rd/e-main/components/bn-special/item-special-n-0.png" alt="22間銀行最高回饋$3300")
      .slider__box
        .promo__slider
          #sliderBank.swiper-container
            ul.swiper-wrapper
              //- prev
              li.swiper-slide.month--prev
                a(href= bankInfoPrev + bankPageName["凱基"], title=" 凱基銀行期間限定滿$1,000送$180")
                  img.swiper-lazy(data-src="~event/3rd/e-main/components/bn-bank/items/bank-p-1.png", alt="")
                  .swiper-lazy-preloader.swiper-lazy-preloader-white
              li.swiper-slide.month--prev
                // 沒有兆豐
                a(href= bankInfoPrev, title="兆豐銀行滿$1,000送$180")
                  img.swiper-lazy(data-src="~event/3rd/e-main/components/bn-bank/items/bank-p-2.png", alt="")
                  .swiper-lazy-preloader.swiper-lazy-preloader-white
              li.swiper-slide.month--prev
                a(href= bankInfoPrev + bankPageName["臺銀"], title="臺銀滿$1,500送$300")
                  img.swiper-lazy(data-src="~event/3rd/e-main/components/bn-bank/items/bank-p-3.png", alt="")
                  .swiper-lazy-preloader.swiper-lazy-preloader-white
              li.swiper-slide.month--prev
                a(href= bankInfoPrev + bankPageName["國泰"], title="國泰世華銀行滿$12,000送$500")
                  img.swiper-lazy(data-src="~event/3rd/e-main/components/bn-bank/items/bank-p-4.png", alt="")
                  .swiper-lazy-preloader.swiper-lazy-preloader-white
              li.swiper-slide.month--prev
                a(href= bankInfoPrev + bankPageName["玉山"], title="玉山銀行滿$15,000送$800")
                  img.swiper-lazy(data-src="~event/3rd/e-main/components/bn-bank/items/bank-p-5.png", alt="")
                  .swiper-lazy-preloader.swiper-lazy-preloader-white
              li.swiper-slide.month--prev
                a(href= bankInfoPrev + bankPageName["台新"], title="台新銀行$5,000送$250")
                  img.swiper-lazy(data-src="~event/3rd/e-main/components/bn-bank/items/bank-p-6.png", alt="")
                  .swiper-lazy-preloader.swiper-lazy-preloader-white
              li.swiper-slide.month--prev
                a(href= bankInfoPrev + bankPageName["花旗"], title="花旗銀行滿$10,000送$800")
                  img.swiper-lazy(data-src="~event/3rd/e-main/components/bn-bank/items/bank-p-7.png", alt="")
                  .swiper-lazy-preloader.swiper-lazy-preloader-white
              li.swiper-slide.month--prev
                a(href= bankInfoPrev + bankPageName["一銀"], title="第一銀行滿$25,000送$1000")
                  img.swiper-lazy(data-src="~event/3rd/e-main/components/bn-bank/items/bank-p-8.png", alt="")
                  .swiper-lazy-preloader.swiper-lazy-preloader-white
              li.swiper-slide.month--prev
                a(href= bankInfoPrev + bankPageName["永豐"], title="永豐銀行滿$25,000送$1,500")
                  img.swiper-lazy(data-src="~event/3rd/e-main/components/bn-bank/items/bank-p-9.png", alt="")
                  .swiper-lazy-preloader.swiper-lazy-preloader-white
              li.swiper-slide.month--prev
                a(href= bankInfoPrev + bankPageName["星展"], title="星展銀行滿$30,000送$2,600")
                  img.swiper-lazy(data-src="~event/3rd/e-main/components/bn-bank/items/bank-p-10.png", alt="")
                  .swiper-lazy-preloader.swiper-lazy-preloader-white

              //- next
              li.swiper-slide.month--next
                a(href= bankInfoNext + bankPageName["合作金庫"], title="合作金庫滿$3,500送$200")
                  img.swiper-lazy(data-src="~event/3rd/e-main/components/bn-bank/items/bank-n-1.png", alt="")
                  .swiper-lazy-preloader.swiper-lazy-preloader-white
              li.swiper-slide.month--next
                a(href= bankInfoNext + bankPageName["華南"], title="華南銀行滿$15,000送$900")
                  img.swiper-lazy(data-src="~event/3rd/e-main/components/bn-bank/items/bank-n-2.png", alt="")
                  .swiper-lazy-preloader.swiper-lazy-preloader-white
              li.swiper-slide.month--next
                a(href= bankInfoNext + bankPageName["遠東"], title="遠東銀行滿$6,000送$3%回饋")
                  img.swiper-lazy(data-src="~event/3rd/e-main/components/bn-bank/items/bank-n-3.png", alt="")
                  .swiper-lazy-preloader.swiper-lazy-preloader-white
              li.swiper-slide.month--next
                a(href= bankInfoNext + bankPageName["國泰"], title="國泰世華銀行滿$12,000送$500")
                  img.swiper-lazy(data-src="~event/3rd/e-main/components/bn-bank/items/bank-n-4.png", alt="")
                  .swiper-lazy-preloader.swiper-lazy-preloader-white
              li.swiper-slide.month--next
                a(href= bankInfoNext + bankPageName["一銀"], title="期間限定滿$1,000送$120")
                  img.swiper-lazy(data-src="~event/3rd/e-main/components/bn-bank/items/bank-n-5.png", alt="")
                  .swiper-lazy-preloader.swiper-lazy-preloader-white
              li.swiper-slide.month--next
                a(href= bankInfoNext + bankPageName["玉山"], title="玉山銀行滿$15,000送$800")
                  img.swiper-lazy(data-src="~event/3rd/e-main/components/bn-bank/items/bank-n-6.png", alt="")
                  .swiper-lazy-preloader.swiper-lazy-preloader-white
              li.swiper-slide.month--next
                a(href= bankInfoNext + bankPageName["聯邦"], title="聯邦銀行滿$15,000送$5%")
                  img.swiper-lazy(data-src="~event/3rd/e-main/components/bn-bank/items/bank-n-7.png", alt="")
                  .swiper-lazy-preloader.swiper-lazy-preloader-white
              li.swiper-slide.month--next
                a(href= bankInfoNext + bankPageName["花旗"], title="花旗銀行滿$12,000送$1,000")
                  img.swiper-lazy(data-src="~event/3rd/e-main/components/bn-bank/items/bank-n-8.png", alt="")
                  .swiper-lazy-preloader.swiper-lazy-preloader-white
              li.swiper-slide.month--next
                a(href= bankInfoNext + bankPageName["一銀"], title="第一銀行滿$12,000送$500")
                  img.swiper-lazy(data-src="~event/3rd/e-main/components/bn-bank/items/bank-n-9.png", alt="")
                  .swiper-lazy-preloader.swiper-lazy-preloader-white
              li.swiper-slide.month--next
                a(href= bankInfoNext + bankPageName["永豐"], title="永豐銀行滿$8,000送$880")
                  img.swiper-lazy(data-src="~event/3rd/e-main/components/bn-bank/items/bank-n-10.png", alt="")
                  .swiper-lazy-preloader.swiper-lazy-preloader-white

          //- #sliderSpecialPager.swiper-pagination-custom.swiper-pagination
        #sliderBnBankPrev.swiper-button-white.swiper-button-prev.bn__bank__nav.bn__bank__nav--prev
        #sliderBnBankNext.swiper-button-white.swiper-button-next.bn__bank__nav.bn__bank__nav--next