section.promo__group.promo__group--two-day.m-bottom--lg(data-title="集氣搶")
  .layout--main
    a(href="https://www.etmall.com.tw/Activity/GroupSale", title="集氣搶")
      .promo__wrap
        .promo__zone
          .pic__box
            img(src="event/1st/e-main/components/daily-two-day/item-two-day-0.png", alt="集氣搶")
          .slider__box
            .promo__date
              span#twoDayDate
            #sliderTwoDay.promo__slider.swiper-container
              ul.swiper-wrapper

        //- #sliderTwoDayPager.dynamic-slider-pager.dynamic-slider-pager--half.swiper-pagination
