section.promo__group.promo__group--bn-section.m-bottom--lg
  .layout--main
    .promo__wrap
      .promo__zone
        .promo__block
          img(src="event/1st/e-main/components/bn-section/popup.png", alt="")
          .promo__input
            input(type="text", placeholder="請輸入序號")
          .promo__box
            a(href="")
          .promo__box.promo__box--close
            a(href="")
          .promo__text
            span 序號不存在
//- data-dynamic-2.js在assets資料夾內、由index.pug外連過去