- var isEven = true

main#spWrap.sp__wrap.sp__wrap--e
  include /layout/header/_header

  include /components/hero-section/_hero-section

  //- include /components/two-medium-slider/_two-medium-slider
  include /components/video-section/_video-section
  include /components/bank-section/_bank-section
  include /components/event-w4m2/_event-w4m2

  include /components/bn-event/_bn-event


//- scriptå€
include /utils/pug/_total-script
