main#spWrap.sp__wrap.sp__wrap--e
  include /layout/header/_header

  include /components/hero-section-3/_hero-section-3

  include /components/two-medium-slider/_two-medium-slider

  include /components/bank-section/_bank-section

//- scriptå€
include /utils/pug/_total-script
