.promo__group--nav
  .promo__wrap
    +aspect-ratio(960, 510)
  .nav__wrap
    display: flex
    justify-content: space-around
  .nav__item
    width: 33.33%
  a
    // transition: all 0.5s
    &:hover,
    &:active
      filter: brightness(110%) contrast(110%)
