section.promo__group.promo__group--nav.m-bottom--md(data-title="分會大賞")
  .layout--main
    .promo__wrap
      .promo__zone
        .nav__wrap
          .nav__item
            a(href="", title="")
              img(src="event/1st/e-main/components/nav-depart/items/nav-1.png", alt="")
          .nav__item
            a(href="", title="")
              img(src="event/1st/e-main/components/nav-depart/items/nav-2.png", alt="")
          .nav__item
            a(href="", title="")
              img(src="event/1st/e-main/components/nav-depart/items/nav-3.png", alt="")

