section.hero
  .layout--main
    .hero__wrap
      .hero__zone
        //- .video__wrap
        //-   include /event/1st/e-main/components/hero-section/hero-video/_hero-video.pug

        .hero__block
          .hero__title
            .title--left
                img(src="event/1st/e-main/components/hero-section/title-left.png" alt="")
            .title--right 
              img(src="event/1st/e-main/components/hero-section/title-right.png" alt="閃購禮物節")
              
            .decor__wrap
              //- .decor__item.decor__item--flower
              //-   img(src="event/1st/e-main/components/hero-section/decor-hero-flower.png", alt="")
              //- .decor__item.decor__item--bottom
              //-   img(src="event/1st/e-main/components/hero-section/decor-hero-bottom.png", alt="")
              .decor__item.decor__item--top
                //- img(src="event/1st/e-main/components/hero-section/decor-hero-top.png", alt="")

          //- .sub__title
          //-   img(src="event/1st/e-main/components/hero-section/sub-title.png", alt="挑戰任務拿＄1314")
