section.hero__wrap
  .hero__zone


    //- #decorationBack.decoration--background.decoration__wrap
    //-   .decoration--confetti.wow(data-depth="-0.1")

    .layout--main
      .hero__block

        .hero__box
          //- 標題
          h1#changeAnchor.hero__title.hero__title--main.wow(title="春季懈購")
            img#changeImg.wow(src="~event/1st/e-main/components/hero-section/title.png", alt="春季懈購")
          .decoration__title.wow
            .decoration--wrap
              img.wow(src="~event/1st/e-main/components/hero-section/decoration__sakura-left.png", alt="",)
              img.wow(src="~event/1st/e-main/components/hero-section/decoration__sakura-middle.png", alt="")
              img.wow(src="~event/1st/e-main/components/hero-section/decoration__sakura-right.png", alt="")
            .decoration--wrap-web
              img.wow(src="~event/1st/e-main/components/hero-section/decoration__sakura-web-mid.png", alt="",)
              img.wow(src="~event/1st/e-main/components/hero-section/decoration__sakura-web-left-1.png", alt="")
              img.wow(src="~event/1st/e-main/components/hero-section/decoration__sakura-web-left-2.png", alt="")
              img.wow(src="~event/1st/e-main/components/hero-section/decoration__sakura-web-right-1.png", alt="")
              img.wow(src="~event/1st/e-main/components/hero-section/decoration__sakura-web-right-2.png", alt="")

        //.holiday__bonus__wrap
        //  a(href="#note")
        //    img.wow(src="~event/1st/e-main/components/hero-section/holiday__bonus.png", alt="")
        include /event/1st/e-main/components/daily-change/_daily-change

  //- TODO: 如果hero和promo要共用主視覺時這樣放
  //- .promo__zone
    //- .layout--main
      //- .promo__block
        //- 行銷誘因
        //- include /event/1st/e-main/components/promo-event/_promo-event

        //- 商品輪播
          //- 副標
        //- .hero__small__zone
          //- include /event/1st/e-main/components/hero-small-slider/_hero-small-slider
