.note--collect
  .note__block
    padding: 0 2%
  ul
    margin-left: 2.5%
    padding-left: 2.5%
    list-style: disc
    li
      font-size: 16px
      +breakpoint-min($min-width-lg)
        font-size: 24px