//- TODO: 注意為了主標preload，在head內有準備好兩種方法，為了減少修改，統一把主標命名為「title.png」
section.promo__wrap(title="立即玩拼圖遊戲")
  .promo__zone
    .layout--main
      .promo__block
        .promo__box
          .promo__title
            img(src="event/2nd/e-main/components/info-cover/app_1.png", alt="")
          .promo__box--parent.m-top--lg
            .promo__box
              a(href="https://play.google.com/store/apps/details?id=com.hyxen.app.etmall&hl=zh_TW" title="到Google Play下載東森購物APP") 
                img(src="event/2nd/e-main/components/info-cover/info-qrcode.png", alt="")
            .promo__box
              a(href="https://play.google.com/store/apps/details?id=com.hyxen.app.etmall&hl=zh_TW" title="到Google Play下載東森購物APP") 
                img(src="event/2nd/e-main/components/info-cover/android.png", alt="")
            .promo__box
              a(href="https://apps.apple.com/tw/app/ehs%E6%9D%B1%E6%A3%AE%E8%B3%BC%E7%89%A9/id974433138" title="到App Store下載東森購物APP" title="到App Store下載東森購物APP") 
                img(src="event/2nd/e-main/components/info-cover/apple.png", alt="")
            .promo__box
              a(href="etmall://open?pgid=44&tb=0&url=https%3a%2f%2fmedia.etmall.com.tw%2fsp%2f11738%2fm%2fapp.html&t=TEST+%e6%b8%ac%e8%a9%a6%e7%94%a8%7cETMall%e6%9d%b1%e6%a3%ae%e8%b3%bc%e7%89%a9") 
                img(src="event/2nd/e-main/components/info-cover/info-app.png", alt="app請點我")


            //-   .title__box
            //-     img(src="event/2nd/e-main/components/hero-section/title-sub-01.png")
            //- a(href="") 
            //-   .title__box
            //-     img(src="event/2nd/e-main/components/hero-section/title-sub-02.png")
            //- a(href="") 
            //-   .title__box
            //-     img(src="event/2nd/e-main/components/hero-section/title-sub-03.png")





//-   //- TODO: 如果hero和promo要共用主視覺時這樣放
//-   //- .promo__zone
//-     //- .layout--main
//-       //- .promo__block
//-         //- 行銷誘因
//-         //- include /event/2nd/e-main/components/promo-event/_promo-event

//-         //- 商品輪播
//-           //- 副標
//-         //- .hero__small__zone
//-           //- include /event/2nd/e-main/components/hero-small-slider/_hero-small-slider
