section.hero__wrap
  .hero__zone
    .layout--main
      .hero__block
        .hero__box
          //- 標題
          h1.hero__title.hero__title--main.block--center.wow(title="尋寶啦！東森會員們～超值$68起，再搶驚喜折扣碼！")
            img#heroTitle(src="~event/1st/e-main/components/hero-section/title.png", alt="尋寶啦！東森會員們～超值$68起，再搶驚喜折扣碼！")
