//- 當需要跨月時(前一個月)，填入的資料由這邊設定，將所有月份資料填上，
//- 再由JS決定月份顯示哪些li(li.swiper-slide.month--prev、li.swiper-slide.month--now)
-
  var bankLinkPrev = {
    etmall: "https://media.etmall.com.tw/sp/9161/m/index.html",
    umall: "https://media.u-mall.com.tw/sp/9162/m/index.html"
  }

-
  var bankLinkNext = {
    etmall: "https://media.etmall.com.tw/sp/9161/m/index.html",
    umall: "https://media.u-mall.com.tw/sp/9162/m/index.html"
  }

- var bankInfoPrev = isU ? bankLinkPrev.umall : bankLinkPrev.etmall
- var bankInfoNext = isU ? bankLinkNext.umall : bankLinkNext.etmall
//- 銀行方便複製貼上用
-
  var bankPageName = {
    "玉山": '#esun',
    "玉山銀行": '#esun',

    "中信": "#ctbc",

    "國泰": "#cathay",
    "國泰世華銀行": "#cathay",

    "台新": "#Taishin",
    "台新銀行": "#Taishin",

    "花旗": "#citi",
    "花旗銀行": "#citi",

    "富邦": "#taipeifubon",
    "富邦銀行": "#taipeifubon",

    "永豐": "#sinopac",
    "永豐銀行": "#sinopac",

    "聯邦": "#union",
    "聯邦商銀": "#union",
    "聯邦銀行": "#union",

    "一銀": "#one",
    "第一銀行": "#one",

    "遠銀": "#fareasten",
    "遠東銀行": "#fareasten",

    "滙豐": "#hsbc",
    "滙豐銀行": "#hsbc",

    "華南": "#huanan",
    "華南銀行": "#huanan",

    "新光": "#shinkong",
    "新光銀行": "#shinkong",

    "星展": "#dbs",
    "星展銀行": "#dbs",

    "合庫": "#tcb",
    "合作金庫": "#tcb",
    "合作金庫銀行": "#tcb",

    "凱基": "#kgi",
    "凱基銀行": "#kgi",

    "上銀": "#shanghai",
    "上海銀行": "#shanghai",

    "土銀": "#landbank",
    "土地銀行": "#landbank",

    "日盛": "#jihsun",
    "日盛銀行": "#jihsun",

    "臺灣企銀": "#tbb",

    "臺銀": "#bot",
    "臺灣銀行": "#bot",

    "陽信": "#sunnybank",
    "陽信銀行": "#sunnybank",

    "樂天": "#rakuten",
    "樂天銀行": "#rakuten",
  }

-
  var bankItemPrev = [
    {
      name: "第一銀行",
      promo: "期間限定滿$3,000送$300",
      imgSrc: "event/3rd/e-main/components/bn-special/items/bank-p-1.png",
    },
    {
      name: "兆豐銀行",
      promo: "期間限定滿$6,000送$618",
      imgSrc: "event/3rd/e-main/components/bn-special/items/bank-p-2.png",
    },
    {
      name: "臺灣企銀",
      promo: "期間限定滿$8,000送$700",
      imgSrc: "event/3rd/e-main/components/bn-special/items/bank-p-3.png",
    },
    {
      name: "凱基銀行",
      promo: "期間限定滿$8,000送$1,600",
      imgSrc: "event/3rd/e-main/components/bn-special/items/bank-p-4.png",
    },
    {
      name: "遠東銀行",
      promo: "期間限定滿$8,888送$888",
      imgSrc: "event/3rd/e-main/components/bn-special/items/bank-p-5.png",
    },
    {
      name: "陽信銀行",
      promo: "期間限定滿$15,000送$1,500",
      imgSrc: "event/3rd/e-main/components/bn-special/items/bank-p-6.png",
    },
    {
      name: "花旗銀行",
      promo: "期間限定滿$20,000送$2,000",
      imgSrc: "event/3rd/e-main/components/bn-special/items/bank-p-7.png",
    },
    {
      name: "聯邦銀行",
      promo: "期間限定滿$20,000送$2,000",
      imgSrc: "event/3rd/e-main/components/bn-special/items/bank-p-8.png",
    },
    {
      name: "星展銀行",
      promo: "期間限定滿$20,000送$2,200",
      imgSrc: "event/3rd/e-main/components/bn-special/items/bank-p-9.png",
    },
    {
      name: "永豐銀行",
      promo: "期間限定滿$52,000送$6,180",
      imgSrc: "event/3rd/e-main/components/bn-special/items/bank-p-10.png",
    },
  ]

//- TODO: 給別的component引入時不需要前兩行要切換
section#bnSpecial.promo__group.promo__group--bn-special.m-bottom--lg(data-title="銀行活動")
  .layout--main
    .promo__title
      #decoBnSpecial.decoration--top.decoration--top-left
        img(src="event/3rd/e-main/components/bn-special/decoration-special-1.png", alt="")
      .decoration--top.decoration--top-right
        img(src="event/3rd/e-main/components/bn-special/decoration-special-2.png", alt="")

    #bnSpecialPromoWrap.promo__wrap
      .promo__zone
        .slider__box
          .promo__slider
            #sliderSpecial.swiper-container
              ul.swiper-wrapper
                //- prev
                each data in bankItemPrev
                  li.swiper-slide.month--prev
                    a(href= bankInfoPrev + bankPageName[data.name], title=data.name + data.promo)
                      img.swiper-lazy(data-src= data.imgSrc, alt="")
                      .swiper-lazy-preloader.swiper-lazy-preloader-white

            //- #sliderSpecialPager.swiper-pagination-custom.swiper-pagination
          //- #sliderSpecialPrev.swiper-button-white.swiper-button-prev.special__nav.special__nav--prev
          //- #sliderSpecialNext.swiper-button-white.swiper-button-next.special__nav.special__nav--next