section.promo__group.promo__group--dynamic-slider-half.m-bottom--lg(data-title="開學收心")
  .layout--main
    .promo__wrap
      .promo__zone
        .pic__box
          a(href="https://media.etmall.com.tw/sp/9565/m/index.html", title="開學收心特輯")
            img(src="event/1st/e-main/components/dynamic-slider-half/item-dynamic-slider-half-0.png", alt="開學收心特輯|返校不狼狽")
        .slider__box
          #sliderDynamicHalf.promo__slider.swiper-container
            ul.swiper-wrapper

        //- #sliderDynamicHalfPager.dynamic-slider-pager.dynamic-slider-pager--half.swiper-pagination
