//- parallax 結構
section.deoration--background.decoration__wrap()
  .decoration__item
    img(src="~event/3rd/u-main/components/background-decoration/bg-decoration-1.png", alt="" class="bg__decration-1")
    img(src="~event/3rd/u-main/components/background-decoration/bg-decoration-1.png", alt="" class="bg__decration-1-left")
    img(src="~event/3rd/u-main/components/background-decoration/bg-decoration-2.png", alt="" class="bg__decration-2")
    img(src="~event/3rd/u-main/components/background-decoration/bg-decoration-leaf-m.png", alt="" class="bg__decration-leaf-m")

  //.decoration__item(data-depth="-0.5")
  //  img(src="~event/3rd/u-main/components/background-decoration/background-decoration-2.png", alt="")