section.promo__group.promo__group--event
  .layout--main
    .promo__zone.lazyload(data-src="960bg-06.jpg")
      .promo__title.block--center.m-bottom--xs
        img.lazyload(data-src="section-bn-06.png", src="~utils/img/1x1_low.png", alt="超值活動")
      .promo__wrap
        .promo__slider
          #sliderEvent.swiper-container
            ul.swiper-wrapper
              li.swiper-slide
                a(href="https://www.etmall.com.tw", title="超值活動")
                  img(src="~components/bn-event/items/640x280-bn-01.jpg", alt="超值活動")
              li.swiper-slide
                a(href="https://www.etmall.com.tw", title="超值活動")
                  img(src="~components/bn-event/items/640x280-bn-02.jpg", alt="超值活動")
              li.swiper-slide
                a(href="https://www.etmall.com.tw", title="超值活動")
                  img(src="~components/bn-event/items/640x280-bn-01.jpg", alt="超值活動")
              li.swiper-slide
                a(href="https://www.etmall.com.tw", title="超值活動")
                  img(src="~components/bn-event/items/640x280-bn-02.jpg", alt="超值活動")
            #sliderEventPager.swiper-pager-white.swiper-pagination
          #sliderEventPrev.swiper-button-white.swiper-button-prev
          #sliderEventNext.swiper-button-white.swiper-button-next