.promo__group.promo__group--event
  .promo__zone
    +bg-set(null, cover)
  .promo__title
    margin-top: -2.4%
  .promo__wrap
    padding-top: 53%
    .promo__slider
      +bg-set(url("~components/bn-event/bg-bn-mobile.png"), 100%)
      padding: 8% 9.5% 3% 
    .swiper-container
      width: 100%
      height: 100%
    .swiper-slide
      a
        transform: translateY(0%) scale(0.95) 
    .swiper-pager-white
      bottom: 2.5%
      .swiper-pagination-bullet
        margin: 0 6px
        width: 12px
        height: 12px
        background-color: $gray-deep-light
    .swiper-button-prev
      left: 2.5%
    .swiper-button-next
      right: 2.5%
  +breakpoint-min($min-width-lg)
    .promo__wrap
      padding-top: 33.8%
      .promo__slider
        +bg-set(url("~components/bn-event/bg-bn.png"), 100%)
        padding: 0 4%
      .swiper-container
        height: 83%
      .swiper-slide
        width: 50%
        a
          transform: translateY(21%) scale(0.9) 
      .swiper-button-prev,
      .swiper-button-next
        top: 42%
      .swiper-button-prev
        left: 1%
      .swiper-button-next
        right: 1%
  +breakpoint-min($min-width-xl)
    +bg-set(url("~components/bn-event/2560bg-06.jpg"))
    .swiper-slide
      a
        transform: translateY(21%) scale(0.1)
    .promo__wrap
      .swiper-pager-white
        bottom: 5px
        .swiper-pagination-bullet
          margin: 0 9px
          width: 18px
          height: 18px
