section.hero
  .hero__decor--top
    .decor--top.decor__item--flower1
      img(src="event/2nd/e-main/components/hero-section/decor-flower.png", alt="")
    .decor--top.decor__item--flower2.web-display
      img(src="event/2nd/e-main/components/hero-section/decor-flower-web.png", alt="")
    .decor--top.decor__item--frontR.web-display
      img(src="event/2nd/e-main/components/hero-section/front-flower-right.png", alt="")
    .decor--top.decor__item--front-flowerR.web-display
      img(src="event/2nd/e-main/components/hero-section/clover-right.png", alt="")
    .decor--top.decor__item--front-flowerL.web-display
      img(src="event/2nd/e-main/components/hero-section/front-flower-left.png", alt="")


  .layout--main
    .hero__wrap
      .hero__zone
        .hero__title
          .title--main
            a(href="")
              img(src="event/2nd/e-main/components/hero-section/title.png" alt="初春漫時光")
          .title--decor
            img(src="event/2nd/e-main/components/hero-section/decor-title.png" alt="初春漫時光")

        .video__wrap
          include /event/2nd/e-main/components/hero-section/hero-video/_hero-video.pug


        .decor__wrap.full-parent
          .decor--top.decor__item--balloon
            img(src="event/2nd/e-main/components/hero-section/decor-balloon.png", alt="")