-
  var promoSliderItem = [
    { // 1
      link: "https://www.etmall.com.tw/i/4068542" ,
      imgSrc: "event/1st/e-main/components/slider-w3m3/item/p1.png",
      alt: "白鴿天然濃縮抗菌洗衣精 尤加利防蹣-補充包2000g 6包 加贈耐斯白鴿洗衣精600g 1罐",
    },
    { // 2
      link: "https://www.etmall.com.tw/p/171675" ,
      imgSrc: "event/1st/e-main/components/slider-w3m3/item/p2.png",
      alt: "【NINE WEST】歲末年終 1+1超值組(女包+長夾 多款任選)",
    },
    { // 3
      link: "https://www.etmall.com.tw/i/2348089" ,
      imgSrc: "event/1st/e-main/components/slider-w3m3/item/p3.png",
      alt: "【尾牙送禮好物】tokuyo 煥眼冷熱眼部按摩器 TS-183",
    },
    {
      link: "https://www.etmall.com.tw/gp/201484" ,
      imgSrc: "event/1st/e-main/components/slider-w3m3/item/p4.png",
      alt: "華陀扶元堂 冰糖純燕窩3盒(6瓶/盒)",
    },
    { 
      link: "https://www.etmall.com.tw/gp/138084" ,
      imgSrc: "event/1st/e-main/components/slider-w3m3/item/p5.png",
      alt: "【台酒生技】酒粕精粹逆齡活膚青春露5入組(120ml*5)",
    },
    { 
      link: "https://www.etmall.com.tw/gp/129125" ,
      imgSrc: "event/1st/e-main/components/slider-w3m3/item/p6.png",
      alt: "【Nespresso】膠囊咖啡機 Gran Lattissima",
    },
    { 
      link: "https://www.etmall.com.tw/i/3441300" ,
      imgSrc: "event/1st/e-main/components/slider-w3m3/item/p7.png",
      alt: "環球嚴選-允寶 YUMBO 充氣頸部按摩儀/肩頸按摩/腹部按摩/腰部按摩/手部按摩/攜帶式按摩",
    },
  ]

section.promo__group.promo__group--slider-w3m3.m-bottom--lg(data-title="強檔推薦")
  .layout--main
    .decor__wrap.full-parent
      .decor__item.decor__item--left#decorW3M3Left
        img(src="event/1st/e-main/components/slider-w3m3/decor-slider-w3m3.png", alt="")
      .decor__item.decor__item--right#decorW3M3Right.img-reverse-x
        img(src="event/1st/e-main/components/slider-w3m3/decor-slider-w3m3.png", alt="")
    .promo__wrap
      .promo__zone
        .promo__block
          .promo__slider.full-parent
            .swiper-container#sliderW3M3Item
              ul.swiper-wrapper
                each data in promoSliderItem
                  li.swiper-slide
                    a(href= data.link, title=data.alt)
                      img(src= data.imgSrc, alt=data.alt)