.daily__wrap
  padding: 12% 0 6%
  +bg-set(url(~event/1st/e-main/components/daily-change/bg-daily.jpg), 100%)
  
.daily__title
  margin-left: 8%
  width: 32%

.daily__zone,
.daily__link
  display: flex
  justify-content: space-between

.daily__zone
  padding: 0 2% 2%
  .daily__promo
    flex: 0 2 48%
    a:hover
      filter: brightness(110%)
  .daily__item
    flex: 0 1 50%
    a
      transform-origin: right bottom
    li:hover
      a
        filter: brightness(110%)
        transform: rotate(3deg)
.daily__word
  margin-bottom: 3%