section.promo__group.promo__group--daily(data-title="每日好物")
  .layout--main
    .daily__wrap
      .daily__title
        img(src="~event/1st/e-main/components/daily-change/daily-title.png", alt="My Calendar")
      .daily__zone
        .daily__promo#dailyPromo
          a(href="", title="更多優惠")
            img(src="~event/1st/e-main/components/daily-change/week/daily-pic-1.png", alt="更多優惠")
        .daily__item
          .daily__word
            img#dailyWordPic(src="~event/1st/e-main/components/daily-change/week/daily-word-1.png", alt="")
          ul#dailyLink.daily__link
            li
              a(href="", title="每日好物")
                img(src="~event/1st/e-main/components/daily-change/items/daily-item-1-1.png", alt="每日好物")
            li
              a(href="", title="每日好物")
                img(src="~event/1st/e-main/components/daily-change/items/daily-item-1-2.png", alt="每日好物")