section.match__wrap.m-bottom--collect
  .layout--main
    .match__zone
      .match__block
        .decor__top
          img(src="event/1st/e-main/components/match-section/match-section-title.png", alt="")
        .decor__text--wrap
          .decor__text
            .date
              span 12
              span /
              span 8
            span 賽事
        .decor__countdown
          span 下注截止
          span.countdown-time 21
          span 小時
          span.countdown-time 28
          span 分
          span.countdown-time 30
          span 秒

        .match__box
          .match__title
            span 小組賽
            span E
            span 組
            span 00
            span :
            span 00
          .match__item--wrap
            .match__item
              a(href="")
                img(src="event/1st/e-main/components/match-section/items/1_ARG.png", alt="")
            .match__vs
              img(src="event/1st/e-main/components/match-section/match-vs.png", alt="")
            .match__item
              a(href="")
                img(src="event/1st/e-main/components/match-section/items/1_MAR.png", alt="")



        .match__box
          .match__title
            span 小組賽
            span E
            span 組
            span 00
            span :
            span 00
          .match__item--wrap
            .match__item
              a(href="")
                img(src="event/1st/e-main/components/match-section/items/1_ARG.png", alt="")
            .match__vs
              img(src="event/1st/e-main/components/match-section/match-vs.png", alt="")
            .match__item
              a(href="")
                img(src="event/1st/e-main/components/match-section/items/1_MAR.png", alt="")



      .match__block
        .decor__top
          img(src="event/1st/e-main/components/match-section/match-section-title.png", alt="")
        .decor__text--wrap
          .decor__text
            .date
              span 12
              span /
              span 8
            span 賽事
        .decor__countdown
          span 距離截止還剩
          span.countdown-time 21
          span 小時
          span.countdown-time 28
          span 分
          span.countdown-time 30
          span 秒

        .match__box
          .match__title
            span 小組賽
            span E
            span 組
            span 00
            span :
            span 00
          .match__item--wrap
            .match__item
              a(href="")
                img(src="event/1st/e-main/components/match-section/items/1_ARG.png", alt="")
            .match__vs
              img(src="event/1st/e-main/components/match-section/match-vs.png", alt="")
            .match__item
              a(href="")
                img(src="event/1st/e-main/components/match-section/items/1_MAR.png", alt="")



        .match__box
          .match__title
            span 小組賽
            span E
            span 組
            span 00
            span :
            span 00
          .match__item--wrap
            .match__item
              a(href="")
                img(src="event/1st/e-main/components/match-section/items/1_ARG.png", alt="")
            .match__vs
              img(src="event/1st/e-main/components/match-section/match-vs.png", alt="")
            .match__item
              a(href="")
                img(src="event/1st/e-main/components/match-section/items/1_MAR.png", alt="")


