section.nav__wrap
  .layout--main
    .nav__block
      img(src="event/1st/e-main/components/nav-menu/nav-menu.png", alt="證件效期")
    .nav__item.text--bold
      span 證件效期還有
      span.time 88
      span 天
      span.time 88
      span 時
      span.time 88
      span 分
      span.time 88
      span 秒

section.nav__wrap.active
  .layout--main
    .nav__block
      img(src="event/1st/e-main/components/nav-menu/nav-menu-2.png", alt="證件效期")
    .nav__item.text--bold
      span 您的ET PASSPORT已失效


