// parallax css
// =================================
.deoration--background
  //display: none
  // z-index: base(1)以上可蓋在主視覺上，zero(0)可在主視覺下，預設都在logo下(logo是500)
  +pos-set(relative, base, 0, 0)
  //overflow: hidden
  pointer-events: none
  top: 0

  +breakpoint-min($min-width-xl)
    display: block

//.decoration__wrap
//  width: 100%
//  height: 100vh
//  +breakpoint-min($min-width-xl)
//    height: 100%

.decoration__item
  width: 100%
  height: 100%
  display: none
  position: absolute
  //transform: translateX(0)
  +breakpoint-min($min-width-4xl)
    display: block
    .bg__decration
      width: 80%
      &--left-1
        //top: 500px
        //left: calc(50% - 1000px)
        &.animated
          animation: item--breathe 3s infinite both
      &--left-2
        //top: 600px
        //left: calc(50% - 1000px)
        &.animated
          animation: item--breathe 3.5s 1s infinite both
      &--right-1
        //top:  500px
        //right: calc(50% - 1000px)
        &.animated
          animation: item--breathe 1.5s 2s infinite both
      &--right-2
        //top: 600px
        //right: calc(50% - 1000px)
        &.animated
          animation: item--breathe 2s 1.6s infinite both
    .item--left--1
      position: absolute
      top: -1000px
      left: calc(50% - 850px)
      &.animated
        animation: item--jump 1s 1s both
    .item--left--2
      position: absolute
      top: -500px
      left: calc(50% - 850px)
      &.animated
        animation: item--jump 2s 1s both
    .item--right--1
      position: absolute
      top: -1000px
      right: calc(50% - 900px)
      &.animated
        animation: item--jump 1.5s 1s both
    .item--right--2
      position: absolute
      top: -500px
      right: calc(50% - 900px)
      &.animated
        animation: item--jump 3s 1s both

  //  .item__wrap
  //    height: 100vh
  //.bg-light-left
  //  top: 3.5%
  //  left: -6%
  //  animation: rotate-light-left 4s infinite both alternate-reverse
  //  transform-origin: bottom left
  //.bg-light-right
  //  top: 3%
  //  left: 4.5%
  //  animation: rotate-light 4s infinite both alternate-reverse
  //  transform-origin: bottom right
  //
  //+breakpoint-min($min-width-xl)
  //  // TODO: 每次修改parallax img的寬以符合實際圖片尺寸 dd
  //  .bg__decration-1, .bg__decration-2
  //    display: block
  //  .item--right
  //    position: absolute
  //    top: 480px
  //    left: calc(50% + 400px)
  //    animation: ufo-patrol 10s infinite both
  //    &.animated
  //      animation: ufo-m-1 2s 0.3s both, ufo-patrol 10s 4s infinite
  //  .item--left
  //    position: absolute
  //    top: 52px
  //    left: calc(50% - 560px)
  //    animation: ufo-patrol-y 10s infinite both
  //    &.animated
  //      animation: ufo-r-1 2s 0.3s both
  //  .bg__decration-1
  //    width: auto
  //  .bg__decration-2
  //    width: auto
  //  .bg-light-left, .bg-light-right
  //    top: 0
  //  .bg-light-left
  //    left: calc(50% - 784px)
  //  .bg-light-right
  //    left: calc(50% - 493px)

@keyframes item--jump
  0%
    opacity: 0
    transform: translate(0, 200px) scale(0.5)
  100%
    opacity: 1
    transform: translate(0, 0) scale(1)

@keyframes item--breathe
  0%, 15%, 25%, 35%, 100%
    transform: scale(1)
  20%, 30%
    transform: scale(1.1)