doctype html
html(lang='zh-Hant-TW')
  head
    include /utils/pug/_total-head

  body
    main#spWrap.sp__wrap
      include /layout/header/_header

      //- hero section
      //- ===========================
      include /components/hero/_hero

      //- other components
      //- ===========================
      include /components/nav/_nav
      include /components/promo/_promo
      include /components/intro/_intro
      include /components/rank/_rank
      include /components/note/_note
