// ==========================================================================
// Base
// ==========================================================================
@import utils/sass/_common

// =======================================================================
// layout
// =======================================================================
@import layout/header/_header

// ==========================================================================
// Plugins
// ==========================================================================
// ==========================================================================
// first screen need
// ==========================================================================
// hero section
@import components/hero/_hero

// ==========================================================================
// components
// ==========================================================================
@import components/nav/_nav
@import components/promo/_promo
@import components/intro/_intro
@import components/rank/_rank
@import components/note/_note

// ==========================================================================
// Page
// ==========================================================================
html
  height: 100%

body
  display: flex
  flex-direction: column
  +pos-set(relative)
  min-height: 100%
  background-color: $main-medium
  section
    +breakpoint-max($max-width-xl)
      &:last-child
        margin-bottom: 0

.sp__wrap
  flex: 1

.sp__wrap a
  display: block
