section.hero
  .layout--main
    .decor__item.decor__item--left
      img(src="event/1st/e-main/components/hero-section/hero-ball.png", alt="全民瘋世足")
    .decor__item.decor__item--right
      img(src="event/1st/e-main/components/hero-section/hero-etcat.png", alt="全民瘋世足")
    .hero__zone

      .hero__block
        .hero__box
          //- 標題
          h1.hero__title.hero__title--main(title="全民瘋世足")
            img(src="event/1st/e-main/components/hero-section/title.png", alt="全民瘋世足")
          .hero__title.hero__title--sub(title="預測冠軍抽大獎")
            img(src="event/1st/e-main/components/hero-section/sub-title.png", alt="預測冠軍抽大獎")

      include /event/1st/e-main/components/nav-menu/_nav-menu





