// // ==========================================================================
// // Plugins
// // ==========================================================================
// // @import "vendors/animate"
@import "~vendors/style/swiper-slider-custom"

// // ==========================================================================
// // components
// // ==========================================================================

// hero section
// ===========================
@import "~event/1st/u-main/components/hero-section/_hero-section"
//@import "~event/1st/u-main/components/background-decoration/_background-decoration"

// other components
// ===========================
@import "~event/1st/u-main/components/hero-small-slider/_hero-small-slider"
@import "~event/1st/u-main/components/goods-slider-flip-full-screen/_goods-slider-flip"
@import "~event/1st/u-main/components/promo-event-full-screen/_promo-event"

// // ==========================================================================
// // Page
// // ==========================================================================
body
  +pos-set(relative, zero)
  +bg-set(url("~event/1st/u-main/pages/index/bg-body.jpg"), inherit)
  background-repeat: repeat
  +breakpoint-min($min-width-xl)
    .icon__home
      right: -50px
.parallax__background
  +pos-set(absolute, under)
  padding-top: 105%
  width: 100%
  +bg-set(url("~event/1st/u-main/pages/index/bg-960.jpg"), 100%)
  //animation: flash-burst 2s infinite
  pointer-events: none
  will-change: scroll-position

  +breakpoint-min($min-width-xl)
    //padding-top: 26.17%
    height: 1272px
    +bg-set(url("~event/1st/u-main/pages/index/bg.jpg"), 2560px 1272px, center , top)

.sp__wrap
  +pos-set(relative, base)

.sp__wrap a
  display: block
+breakpoint-min($min-width-xl)



// IE10 看不到集點那版位
@media all and (-ms-high-contrast: none), (-ms-high-contrast: active)
  .promo__group.promo__group--countdown
    display: none