.hero
  +pos-set(relative, base)
  overflow: hidden
  .hero__zone
    +aspect-ratio(960, 1150)
    +breakpoint-min($min-width-xl)
      +aspect-ratio(960, 1000)
    .hero__title
      +pos-set(relative, zero)
      +size(100%)
      > div
        position: absolute

      .title--left
        top: 5%
        left: 0%
        width: 36%
        opacity: 0
        transform: scale(1.7)
        +breakpoint-min($min-width-xl)
          top: 5%
          // left: calc(50% - 342px)
          width: auto
        .js-loading &
          animation: scaling-title 1.4s ease-out forwards 1

      .title--right
        z-index: 1
        top: 42.2%
        left: 55.5%
        width: 32%
        opacity: 0
        transform: translate3d(3000px, 0, 0) scale(0.9)
        +breakpoint-min($min-width-xl)
          top: 45%
          left: calc(50% + 115px)
          width: auto
        .js-loading &
          animation: bounceInRight-title .6s 1.3s ease forwards 1
        
      .decor__wrap
        top: 0
        +size(100%)
        
        .decor__item
          position: absolute
          text-align: center
          &--top
            top: 6%
            left: 0%
            +size(90%, calc(90% * 0.745))
            background: url("event/2nd/e-main/components/hero-section/decor-hero-top.png")
            background-size: 400% 100%
            opacity: 0
            transform: scale(1.7) rotate(2deg)
            +breakpoint-min($min-width-xl)
              // left: calc(50% - 319px)
              +size(893px, 865px)
            .js-loading &
              animation: scaling-queen 1.4s .1s cubic-bezier(.1,.54,.64,.92) forwards 1, step-queen 1.7s 2.1s steps(4) infinite

          &--bottom
            top: 4%
            z-index: -1

          // +breakpoint-min($min-width-xl)
          //   width: auto

    .sub__title
      +pos-set(absolute, zero)
      bottom: 36%
      left: 32%
      width: 50%
      opacity: 0
      .js-loading &
        animation: move-x 0.6s 3s ease-out both

// @import event/2nd/e-main/components/hero-section/hero-video/_hero-video.sass

@keyframes move-x
  0%
    transform: translateX(500%)
    opacity: 0
  20%, 80%
    opacity: 1
  100%
    transform: translateX(0)
    opacity: 1

@keyframes bounceInRight-title
  0%
    opacity: 0
    transform: translate3d(3000px, 0, 0) scale(0.9)
  60%
    opacity: 1
    transform: translate3d(-25px, 0, 0) scale(0.9)
  75%
    transform: translate3d(10px, 0, 0) scale(0.9)
  90%
    transform: translate3d(-5px, 0, 0) scale(0.9)
  to
    opacity: 1
    transform: translateZ(0) scale(0.9)

@keyframes title-heartBeat
  0%
    transform: scale(1)
  3%
    transform: scale(1.06)
  6%
    transform: scale(1)
  12%
    transform: scale(1.06)
  24%, 100%
    transform: scale(1)

@keyframes scaling-queen
  0%
    top: 6%
    opacity: 0
    transform: scale(1.7) rotate(2deg)
  65%
    top: 6%
    opacity: 1
    transform: scale(1) rotate(2deg)
  100%
    top: 8%
    opacity: 1
    transform: scale(1) rotate(0)

@keyframes scaling-title
  0%
    left: 0%
    opacity: 0
    transform: scale(1.7)
  65%
    left: 14%
    opacity: 1
    transform: scale(1)
  100%
    left: 14%
    opacity: 1
    transform: scale(1)

@keyframes jump-male
  0%, 64%, 100%
    transform: scale(0.9, 0.9) translateY(0)
  10%
    transform: scale(.92, .875) translateY(0)
  30%
    transform: scale(.875, .92) translateY(-10%)
  50%
    transform: scale(.915, .885) translateY(0)
  57%
    transform: scale(0.9, 0.9) translateY(-1%)

+step(queen, -400%)