section.hero
  .layout--main
    .hero__wrap
      .hero__zone
        //- .video__wrap
        //-   include /event/2nd/e-main/components/hero-section/hero-video/_hero-video.pug

        .hero__block
          .hero__title
            .title--left
                img(src="event/2nd/e-main/components/hero-section/title-left.png" alt="")
            .title--right 
              img(src="event/2nd/e-main/components/hero-section/title-right.png" alt="")
              
            .decor__wrap
              .decor__item.decor__item--top