section.hero__wrap
  //.parallax__background
  .hero__zone
    .layout--main
      #heroBlock.hero__block
        .hero__box
          //- 標題
          h1.hero__title.hero__title--main.block--center.wow(title="618絕對有感搶購戰")
            img(class="title__circle title__circle-2" src="~event/2nd/e-main-618/components/hero-section/title-bg-2.png", alt="")
            //#heroTitle
            img(class="title__circle" src="~event/2nd/e-main-618/components/hero-section/title-bg.png", alt="")
            //#decorationHand
            img(class="title__txt title__t2" src="~event/2nd/e-main-618/components/hero-section/title-t.png", alt="618絕對有感搶購戰")
            //#decorationPaper
            img(class="title__txt" src="~event/2nd/e-main-618/components/hero-section/title-t2.png", alt="618絕對有感搶購戰")
            img(class="title__txt title__t3" src="~event/2nd/e-main-618/components/hero-section/title-t3.png", alt="618絕對有感搶購戰")
            //img.title__txt.title__txt--1(src="~event/2nd/e-main-618/components/hero-section/title.png")
  //.title-decoration__wrap
  .title__decoration.wow
    img.left-1(src="~event/2nd/e-main-618/components/hero-section/title__decoration-left-t-1.png", alt="")
    img.left-2(src="~event/2nd/e-main-618/components/hero-section/title__decoration-left-t-2.png", alt="")
    img.left-3(src="~event/2nd/e-main-618/components/hero-section/title__decoration-left-b-1.png", alt="")
    img.left-4(src="~event/2nd/e-main-618/components/hero-section/title__decoration-left-b-2.png", alt="")
    img.right-1(src="~event/2nd/e-main-618/components/hero-section/title__decoration-right-t-1.png", alt="")
    img.right-2(src="~event/2nd/e-main-618/components/hero-section/title__decoration-right-t-2.png", alt="")
    img.right-3(src="~event/2nd/e-main-618/components/hero-section/title__decoration-right-b-1.png", alt="")
    img.right-4(src="~event/2nd/e-main-618/components/hero-section/title__decoration-right-b-2.png", alt="")




  .promo__zone
    .layout--main
      .promo__block
        //- 行銷誘因
        include /event/2nd/e-main-618/components/promo-event/_promo-event


  //.promo__zone-branch
  //  .layout--main
  //    .promo__block
  //      //- 行銷誘因
  //      include /event/2nd/e-main-618/components/promo-event-branch/_promo-event-branch


        //- include /event/2nd/e-main-618/components/goods-slider-flip/_goods-slider-flip
        //include /event/2nd/e-main-618/components/goods-slider/_goods-slider

  //- include /event/2nd/e-main-618/components/background-decoration/_background-decoration.pug


