section#gamesWrap.promo__group.promo__group--left-right(data-title="一童玩遊戲")
  .left-right__web--bg
  .layout--main
    .left-right__wrap
      .block--col
        #leftRightChange.item__box.not-yet
          .not-yet.not-yet__wrap
          a#leftRightChangeAnchor(href="javascript:void(0)" style="pointer-events: none;")
            img.img--notyet(src="~event/1st/e-main/components/game-section/game_pp-notyet.png", alt="遊戲尚未開始", title="遊戲尚未開始")
            img.img_open(src="~event/1st/e-main/components/game-section/game_pp.png", alt="一童玩遊戲", title="一童玩遊戲")
