.filter__note
  ol
    li 消費計算以活動期間內「訂單成立日」為準，並限活動期間完成信用卡授權者為限。
    li 符合資格之訂單認列標準為：需於「活動期間內成立訂單」且「活動期間內授權成功」為準。
    li
      ol
        li
          p 一般授權方式：成功訂單金額以「實際授權金額」為準，每筆訂單滿額係指單項(單一件)商品滿額，若持卡人使用「購物車」同時購買多樣商品，則需其中單一件商品達滿額標準，始符合回饋資格。
          p (範例 1：一台購物車，內含5項商品，每一項商品皆買1個，即有5 個授權碼；需其中有1個授權金額符合活動門檻，始符合回饋資格。)
          p (範例 2：一台購物車，內含5項商品，其中一項商品買3個，即有7 個授權碼；需其中有1個授權金額符合活動門檻，始符合回饋資格。)
        li
          p 3D驗證授權方式：成功訂單金額以「實際授權金額」為準，一台「購物車」無論訂購幾項商品，僅有1個授權碼，限使用信用卡一次付清，且授權金額達滿額標準，始符合回饋資格。
    li 活動期間於東森購物、Her森森購物網消費合併計算，且各家銀行活動均為正、附卡合併計算，每月每戶限回饋一次，詳細活動辦法依各配合發卡機構網站公告為準。
    li 若同時遇各銀行其他紅利點數(加倍)優惠活動，則各銀行將"擇優"(不重複)計算回饋點數。
    li 活動認定資格以實際成交訂單計算（排除購買旅遊、保險、生前契約、禮券、贈品、公關、簽證、兵險、機場稅、燃油附加費等之適用），若持卡人如有付款失敗、授權未完成、取消訂單、銷貨退回或回饋當時信用卡發生停卡、延滯繳款或其他違反信用卡契約之情事者，將喪失得獎及領獎資格。
    li 以上活動，消費金額以該筆實際支付金額計算(使用紅利點數、折價券、折扣金、東森幣、提貨券、禮物卡等折抵之消費，以折抵後之消費金額為計算基準)。
    li 以上活動，歡樂旅行社商品、草莓網商品不適用。
    li 登錄說明：需於「指定期間內完成登錄」且「限於活動名額內」且「無取消訂單或退貨」始符合活動資格；未於指定期間內完成登錄者或資料輸入錯誤者，視同放棄參加資格，登錄額滿時活動即提前終止。
    li 詳細活動辦法依各配合發卡機構網站公告為準，請參閱東森購物網（http://www.etmall.com.tw/）與Her森森購物網（http://www.u-mall.com.tw/），各配合發卡機構及東森購物(包含Her森森購物網)保留隨時修改、變更、取消本活動之權利，亦有權對本活動之所有事宜作出解釋或決定，恕不另行通知，並於公告後實施。
