//- TODO: 給別的component引入時不需要前兩行要切換
//- section.promo__group.promo__group--bn-special.m-bottom--md
//-   .layout--main
.promo__slider
  #sliderSpecial.swiper-container
    ul.swiper-wrapper
      li.swiper-slide
        a(href= "https://www.etmall.com.tw/XML/content/DMSetting/Final/202006/SP_1114868/w/index.html#kgi", title="凱基：滿$3,300送$330刷卡金")
          img(src="~event/2nd/e-66/components/bn-special/items/bank-1.png", alt="凱基：滿$3,300送$330刷卡金")
      li.swiper-slide
        a(href= "https://www.etmall.com.tw/XML/content/DMSetting/Final/202006/SP_1114868/w/index.html#dbs", title="星展：滿$22,000送$2200")
          img(src="~event/2nd/e-66/components/bn-special/items/bank-2.png", alt="星展：滿$22,000送$2200")
      li.swiper-slide
        a(href= "https://www.etmall.com.tw/XML/content/DMSetting/Final/202006/SP_1114868/w/index.html#hsbc", title="匯豐：滿$50,000送$5000")
          img(src="~event/2nd/e-66/components/bn-special/items/bank-3.png", alt="匯豐：滿$50,000送$5000")


    //#sliderSpecialPager.swiper-pagination-custom.swiper-pagination
  #sliderSpecialPrev.swiper-button-white.swiper-button-prev
  #sliderSpecialNext.swiper-button-white.swiper-button-next