section.promo__group.promo__group--cash-back-slider.m-bottom--lg(data-title="回饋11%").m-top--custom
  .layout--main
    .promo__wrap
      .promo__zone
        .decoration__box#CashBackSliderTitle
          img(src="event/3rd/e-main/components/cash-back-slider/title-cash-back-slider.png", alt="")
        .decoration__box--top#decorCashBackSlider
          img(src="event/3rd/e-main/components/cash-back-slider/decor-cash-back-slider.png", alt="")
      .promo__block
        #cashBackSlider.promo__slider.swiper-container
          .swiper-wrapper

        //- #sliderDynamic2Prev.swiper-button-white.swiper-button-prev.dynamic__nav.dynamic__nav--prev
        //- #sliderDynamic2Next.swiper-button-white.swiper-button-next.dynamic__nav.dynamic__nav--next
      //- #sliderDynamic2Pager.dynamic-slider-pager.swiper-pagination

//- data-dynamic-2.js在assets資料夾內、由index.pug外連過去