//- TODO: 打開雙月選項切換雙月(預設單月)
- var isEven = false
//- TODO: 打開2號電梯選項切換第二組電梯(預設第一組)
- var isSecond = false
//- TODO: 打開u-mall選項會自動轉換成U的logo和連結、電梯(預設etmall)
//-- var isU = true


main#spWrap.sp__wrap.sp__wrap--e
  include /layout/header/_header
  //- #parallaxBg.parallax__background
  //- .parallax__background

  //- hero section
  //- ===========================
  include /event/2nd/e-main/components/hero-section/_hero-section
  //- include /event/2nd/e-main/components/background-decoration/_background-decoration

  //- other components
  //- ===========================
  include /event/2nd/e-main/components/tab-slider-section/_tab-slider-section
  include /event/2nd/e-main/components/slider-section-2-coupon/_slider-section-2-coupon
  // ig
  include /event/2nd/e-main/components/slider-section-1-ig/_slider-section-1-ig
  include /event/2nd/e-main/components/connect-anchor/_connect-anchor.pug
  include /event/2nd/e-main/components/bn-event-hot/_bn-event-hot
  //- include /event/2nd/e-main/components/event-w4m4/_event-w4m4
  //- include /event/2nd/e-main/components/bn-special/_bn-special
  //- include /event/2nd/e-main/components/countdown-section/_countdown-section

//- script區
include /utils/pug/_total-script
//script(src="data-promo.js")
script(src="data-daily.js")

