-
  var promoData1 = [
    { // 1,
      time: "11/1-11/3",
      link: "https://media.etmall.com.tw/sp/11387/m/index.html",
      imgSrc: "event/1st/e-main/components/slider-w14/items/bn/bn-1.png",
      alt: "",
      child:[
        {
          link: "https://www.etmall.com.tw/i/3215429",
          imgSrc: "event/1st/e-main/components/slider-w14/items/product/p-1-1.png",
          alt: "",
        },
        {
          link: "https://www.etmall.com.tw/i/3210247",
          imgSrc: "event/1st/e-main/components/slider-w14/items/product/p-1-2.png",
          alt: "",
        },
        {
          link: "https://www.etmall.com.tw/i/3077906",
          imgSrc: "event/1st/e-main/components/slider-w14/items/product/p-1-3.png",
          alt: "",
        },
        {
          link: "https://www.etmall.com.tw/i/3192047",
          imgSrc: "event/1st/e-main/components/slider-w14/items/product/p-1-4.png",
          alt: "",
        },
      ]
    },
    { // 2
      time: "11/2",
      link: "https://media.etmall.com.tw/sp/11735/m/index.html",
      imgSrc: "event/1st/e-main/components/slider-w14/items/bn/bn-1.png",
      alt: "",
      child:[
        {
          link: "https://www.etmall.com.tw/i/3192022",
          imgSrc: "event/1st/e-main/components/slider-w14/items/product/p-1-1.png",
          alt: "",
        },
        {
          link: "https://www.etmall.com.tw/i/3129366",
          imgSrc: "event/1st/e-main/components/slider-w14/items/product/p-1-2.png",
          alt: "",
        },
        {
          link: "https://www.etmall.com.tw/i/",
          imgSrc: "event/1st/e-main/components/slider-w14/items/product/p-1-3.png",
          alt: "",
        },
        {
          link: "https://www.etmall.com.tw/i/3134656",
          imgSrc: "event/1st/e-main/components/slider-w14/items/product/p-1-4.png",
          alt: "",
        },
      ]
    },
    { // 3
      time: "11/3",
      link: "https://media.etmall.com.tw/sp/11644/m/index.html",
      imgSrc: "event/1st/e-main/components/slider-w14/items/bn/bn-1.png",
      alt: "",
      child:[
        {
          link: "",
          imgSrc: "event/1st/e-main/components/slider-w14/items/product/p-1-1.png",
          alt: "",
        },
        {
          link: "",
          imgSrc: "event/1st/e-main/components/slider-w14/items/product/p-1-2.png",
          alt: "",
        },
        {
          link: "",
          imgSrc: "event/1st/e-main/components/slider-w14/items/product/p-1-3.png",
          alt: "",
        },
        {
          link: "",
          imgSrc: "event/1st/e-main/components/slider-w14/items/product/p-1-4.png",
          alt: "",
        },
      ]
    },
    { // 4,
      time: "11/4-11/6",
      link: "https://media.etmall.com.tw/sp/11736/m/index.html",
      imgSrc: "event/1st/e-main/components/slider-w14/items/bn/bn-1.png",
      alt: "",
      child:[
        {
          link: "https://www.etmall.com.tw/i/3239208",
          imgSrc: "event/1st/e-main/components/slider-w14/items/product/p-1-1.png",
          alt: "",
        },
        {
          link: "https://www.etmall.com.tw/i/",
          imgSrc: "event/1st/e-main/components/slider-w14/items/product/p-1-2.png",
          alt: "",
        },
        {
          link: "https://www.etmall.com.tw/i/3239206",
          imgSrc: "event/1st/e-main/components/slider-w14/items/product/p-1-3.png",
          alt: "",
        },
        {
          link: "https://www.etmall.com.tw/i/3045131",
          imgSrc: "event/1st/e-main/components/slider-w14/items/product/p-1-4.png",
          alt: "",
        },
      ]
    },
    { // 5,
      time: "11/4-11/6",
      link: "https://media.etmall.com.tw/sp/11736/m/index.html",
      imgSrc: "event/1st/e-main/components/slider-w14/items/bn/bn-1.png",
      alt: "",
      child:[
        {
          link: "https://www.etmall.com.tw/i/3239208",
          imgSrc: "event/1st/e-main/components/slider-w14/items/product/p-1-1.png",
          alt: "",
        },
        {
          link: "https://www.etmall.com.tw/i/",
          imgSrc: "event/1st/e-main/components/slider-w14/items/product/p-1-2.png",
          alt: "",
        },
        {
          link: "https://www.etmall.com.tw/i/3239206",
          imgSrc: "event/1st/e-main/components/slider-w14/items/product/p-1-3.png",
          alt: "",
        },
        {
          link: "https://www.etmall.com.tw/i/3045131",
          imgSrc: "event/1st/e-main/components/slider-w14/items/product/p-1-4.png",
          alt: "",
        },
      ]
    },

  ]

- var promoData1 = promoData1

section.promo__group.promo__group--slider-w14.m-bottom--lg(data-title="假如有標題")
  .layout--main
    .promo__wrap
      .decor__wrap.full-parent
        .decor__item.decor__item--light
          img(src="event/1st/e-main/components/slider-w14/decor-slider-w14.png", alt="")
      .promo__zone
        .promo__block
          .promo__slide--parent#dynamicSlide.swiper-container.full-parent
            ul.swiper-wrapper
              each data, index in promoData1
                li.swiper-slide
                  .slide__box
                    .slide__box--bn
                      a(href= data.link, alt= data.alt)
                        img(src= data.imgSrc, alt= data.alt)
                    .slide__box--item
                      - var dataChild = data.child
                      each child, index in dataChild
                        .item__box
                          a(href= child.link)
                            img(src= child.imgSrc, alt= child.alt)
            .swiper-button-next
              img(src="event/1st/e-main/components/slider-w14/arrow.png", alt="")
            .swiper-button-prev
              img.img-reverse-x(src="event/1st/e-main/components/slider-w14/arrow.png", alt="")










//- data-dynamic-2.js在assets資料夾內、由index.pug外連過去