- 
  var promoDataE = [
    {
      link: "#note2",
      imgSrc: "~event/1st/e-main/components/promo-event/items/promo-1.png",
      alt: "天天抽瑞穗天合國際觀光酒店，月月抽環島之星觀光列車"
    },
    {
      link: "https://www.etmall.com.tw/bs/147866",
      imgSrc: "~event/1st/e-main/components/promo-event/items/promo-2.png",
      alt: "彰化好物看更多"
    },
    {
      link: "#note4", 
      imgSrc: "~event/1st/e-main/components/promo-event/items/promo-3.png",
      alt: "下單送東森幣100枚"
    },
    {
      link: "https://www.facebook.com/wang.huimei",
      imgSrc: "~event/1st/e-main/components/promo-event/items/promo-4.png",
      alt: "跟著縣長，愛上彰化"
    },
    {
      link: "#note3",
      imgSrc: "~event/1st/e-main/components/promo-event/items/promo-5.png",
      alt: "下單抽AirPods、電子血壓計、國際牌吸塵器，月月再抽口袋保溫杯、DeMon黑面膜"
    },
  ]

- 
  var promoDataU = [
    {
      link: "https://www.u-mall.com.tw/XML/content/DMSetting/Final/202006/SP_1106085/w/index.html", 
      imgSrc: "~event/1st/u-main/components/promo-event/items/promo-1.png",
      alt: "20間銀行最高回饋10%"
    },
    {
      link: "https://www.u-mall.com.tw/XML/content/DMSetting/Final/201407/SP_1019204/w/index.html", 
      imgSrc: "~event/1st/u-main/components/promo-event/items/promo-2.png",
      alt: "下單現折$100"
    }, 
    {
      link: "https://www.u-mall.com.tw/Activity/HourSale", 
      imgSrc: "~event/1st/u-main/components/promo-event/items/promo-3.png",
      alt: "整點最便宜"
    },
    {
      link: "https://www.u-mall.com.tw/Activity/HourSale?Day=Up", 
      imgSrc: "~event/1st/u-main/components/promo-event/items/promo-4.png",
      alt: "天天最激殺"
    },
    {
      link: "https://www.u-mall.com.tw/Activity/HourSale?Day=Up", 
      imgSrc: "~event/1st/u-main/components/promo-event/items/promo-5.png",
      alt: "天天最激殺"
    },
  ]

- var promoData = isU ? promoDataU : promoDataE


.promo__event

  ul.event__wrap.event__wrap--top
    li
      a(href= promoData[0].link, title= promoData[0].alt)
        img(src= promoData[0].imgSrc, alt= promoData[0].alt)
    li
      a(href= promoData[1].link, title= promoData[1].alt)
        img(src= promoData[1].imgSrc, alt= promoData[1].alt)
      a(href= promoData[2].link, title= promoData[2].alt)
        img(src= promoData[2].imgSrc, alt= promoData[2].alt)
    li
      a(href= promoData[3].link, title= promoData[3].alt)
        img(src= promoData[3].imgSrc, alt= promoData[3].alt)
    li
      a(href= promoData[4].link, title= promoData[4].alt)
        img(src= promoData[4].imgSrc, alt= promoData[4].alt)

    