doctype html
html(lang='zh-Hant-TW')
  head
    include /utils/pug/_total-head.pug
  body.theme
    //- facebook分享script
    script
      | var fbhtml_url = window.location.toString();

    //- 每頁上方都要放動態產出置頂元件的定位tag(e.g. 電梯、浮水印)
    include /utils/pug/include/_top-home-section.pug

    main#spWrap.sp__wrap
      header#spHeader.sp__header
        .layout--main
          include /layout/header/_header
          include /layout/nav-sub-page/_nav-sub-page
      
      //- components start
      include /components/brand-list/_brand-list
      include /components/hero-slider/_hero-slider
      //- include /components/bn-slider/_bn-slider
      //- components end
      include /layout/nav-bottom/_nav

    //- script區
    include /utils/pug/_total-script

//- 模擬組版
//- include /pages/_note/hot/_hot
