section.promo__group.promo__group--bn-section-2.m-bottom--md(data-title="品牌大賞")
  .layout--main
    .promo__wrap
      .promo__zone
        .decoration__box--top
          img(src="event/1st/e-main/components/bn-section-2/decor-annual-award-1.png", alt="")
        .decoration__box#decorAnnualAward
          img(src="event/1st/e-main/components/bn-section-2/decor-annual-award-2.png", alt="")
        .promo__block
          a(href="https://www.etmall.com.tw/Activity/dl/VotePopularityRanking/DoubleTwelveAwards") 
            img(src="event/1st/e-main/components/bn-section-2/bn-section-2.png", alt="")


        //- #sliderMidMorePrev.swiper-button-white.swiper-button-prev.mid-more__nav.mid-more__nav--prev
        //- #sliderMidMoreNext.swiper-button-white.swiper-button-next.mid-more__nav.mid-more__nav--next
      //- #sliderMidMorePager.mid-more__pager.swiper-pagination