section.hero__wrap
  //.parallax__background
  .hero__zone
    .layout--main
      #heroBlock.hero__block
        .hero__box
          //- 標題
          h1.hero__title.hero__title--main.wow(title="618超錢部署")
            img#heroTitle(class="title__circle" src="~event/2nd/e-sp/components/hero-section/title-bg.png", alt="618超錢部署")
            img#decorationHand(class="title__txt title__t2" src="~event/2nd/e-sp/components/hero-section/title.png", alt="618超錢部署")
            //img#decorationPaper(class="title__txt" src="~event/2nd/e-sp/components/hero-section/title-t2.png", alt="618超錢部署")
            //img.title__txt.title__txt--1(src="~event/2nd/e-sp/components/hero-section/title.png")
  //.title-decoration__wrap

    //img.decoration--momGroup(src="~event/2nd/e-sp/components/hero-section/decoration-mom_group.png", alt="")




  .promo__zone
    .layout--main
      .promo__block
        // 商品輪播
        include /event/2nd/e-sp/components/goods-slider-flip/_goods-slider-flip
        // 行銷誘因
        include /event/2nd/e-sp/components/promo-event-full-screen/_promo-event


  //.promo__zone-branch
  //  .layout--main
  //    .promo__block
  //      //- 行銷誘因
  //      include /event/2nd/e-sp/components/promo-event-branch/_promo-event-branch


        //- include /event/2nd/e-sp/components/goods-slider-flip/_goods-slider-flip
        //include /event/2nd/e-sp/components/goods-slider/_goods-slider

  //- include /event/2nd/e-sp/components/background-decoration/_background-decoration.pug


