.animate__wrap
  img.animate__animated.animate__obj--01.animate__pulse.animate__infinite.animate__delay-1s(src="event/1st/e-main/components/animate-wrap/ani.png", alt="測試用文字 正式上線要拿掉")
  //- animate__infinite 加上會無限重複
    //- <!--<img class="animate__obj--01" src="圖片檔名" alt="圖片提示文字">-->
    //- <!--<img class="animate__obj--02" src="圖片檔名" alt="圖片提示文字">-->
    //- <!--<img class="animate__obj--03" src="圖片檔名" alt="圖片提示文字">-->
    //- <!-- 如果有多組物件，可以複製命名animate__obj--0{數字} css 也複製一份就可以一直往下生 -->