- var promoDataE = [{link: "https://www.etmall.com.tw/XML/content/DMSetting/Final/209901/SP_1107517/w/index.html", imgSrc: "~event/1st/e-main/components/promo-event/items/promo-1.jpg", alt: "首購送mister donut"}, {link: "https://www.etmall.com.tw/Activity/GroupSale", imgSrc: "~event/1st/e-main/components/promo-event/items/promo-2.jpg", alt: "搶五折商品"}, {link: "#note", imgSrc: "~event/1st/e-main/components/promo-event/items/promo-3.jpg", alt: "抽東京來回機票"}, {link: "https://www.etmall.com.tw/XML/content/DMSetting/Final/201912/SP_1114296/w/index.html", imgSrc: "~event/1st/e-main/components/promo-event/items/promo-4.jpg", alt: "指定商品買就送衛生紙"}, {link: "https://www.etmall.com.tw/XML/content/DMSetting/Final/201912/SP_1114461/w/index.html", imgSrc: "~event/1st/e-main/components/promo-event/items/promo-5.jpg", alt: "全家超取送熱拿鐵"}, {link: "https://www.etmall.com.tw/XML/content/DMSetting/Final/209901/SP_1107517/w/index.html", imgSrc: "~event/1st/e-main/components/promo-event/items/promo-6.jpg", alt: "新會員滿額送泡湯券"},  ]

//- - var promoDataU = [{link: "https://www.u-mall.com.tw/XML/content/DMSetting/Final/201912/SP_1104319/w/index.html", imgSrc: "~event/1st/u-main/components/promo-event/items/promo-1.jpg", alt: "20間銀行最高回饋10%"}, {link: "https://www.u-mall.com.tw/XML/content/DMSetting/Final/209901/SP_1103167/w/index.html", imgSrc: "~event/1st/u-main/components/promo-event/items/promo-2.jpg", alt: "瘋搶撇步"}, {link: "https://www.u-mall.com.tw/Activity/HourSale", imgSrc: "~event/1st/u-main/components/promo-event/items/promo-3.jpg", alt: "整點最便宜"}, {link: "https://www.u-mall.com.tw/Activity/HourSale?Day=Up", imgSrc: "~event/1st/u-main/components/promo-event/items/promo-4.jpg", alt: "天天最激殺"}, ]

//- 大小網不同圖
- var promoDataU = [{link: "https://www.u-mall.com.tw/XML/content/DMSetting/Final/201912/SP_1104319/w/index.html", imgSrc: "~event/1st/u-main/components/promo-event/items/promo-1.jpg", imgSrcWeb: "~event/1st/u-main/components/promo-event/items/promo-1-web.jpg", alt: "20間銀行最高回饋10%"}, {link: "https://www.u-mall.com.tw/XML/content/DMSetting/Final/209901/SP_1103167/w/index.html", imgSrc: "~event/1st/u-main/components/promo-event/items/promo-2.jpg", imgSrcWeb: "~event/1st/u-main/components/promo-event/items/promo-2-web.jpg", alt: "瘋搶撇步"}, {link: "https://www.u-mall.com.tw/Activity/HourSale", imgSrc: "~event/1st/u-main/components/promo-event/items/promo-3.jpg", imgSrcWeb: "~event/1st/u-main/components/promo-event/items/promo-3-web.jpg", alt: "整點最便宜"}, {link: "https://www.u-mall.com.tw/Activity/HourSale?Day=Up", imgSrc: "~event/1st/u-main/components/promo-event/items/promo-4.jpg", imgSrcWeb: "~event/1st/u-main/components/promo-event/items/promo-4-web.jpg", alt: "天天最激殺"}, ]
- var promoData = isU? promoDataU : promoDataE

.promo__event
  ul.event__wrap
    each data, index in promoData
      - var anchorId = 'promoAnchor' + (index + 1)
      - var imgId = 'promoImg' + (index + 1)
      li
        a(id= anchorId, href= data.link, title= data.alt)
          img(id= imgId, src= data.imgSrc, alt= data.alt)
          img(id= imgId, src= data.imgSrcWeb, alt= data.alt)
