section.buy__wrap.m-bottom--sm
  .layout--main
    .buy__block
      .decoration__top
        img(src="~event/1st/e-main/components/collect-buy/decoration-buy-top.png", alt="")
      .buy__box
        ul
          li.active
            .item__wrap
              .info__box
                .item__pic
                  img(src="https://media.etmall.com.tw/nximg/002776/2776984/2776984-1_xl.jpg", alt="")
                .item__info
                  a(href="", title="商品介紹")
                    img(src="~event/1st/e-main/components/collect-buy/btn-buy-info.png", alt="商品介紹")
              .cta__box
                .item__name
                  .name__promo
                    span 99點+9999
                  .name__box
                    span 11個中文超過的話就切掉了喔喔喔喔

                .item__value
                  span 尚餘
                    span 999
                  | 組

                .item__cta
                  .cta--active
                    a(href="", title="立刻登記購")
                      .btn__wrap
                        img(src="~event/1st/e-main/components/collect-buy/btn-buy-active.png", alt="立刻登記購")
                  .cta--closed(title="登記完畢")
                    img(src="~event/1st/e-main/components/collect-buy/btn-buy-closed.png", alt="登記完畢")
              .rule__box
                span 將於10/30(五) 18:00前以我的禮物盒推廣通知asdasdasdasdasdasdasd

          li
            .item__wrap
              .info__box
                .item__pic
                  img(src="https://media.etmall.com.tw/nximg/002776/2776984/2776984-1_xl.jpg", alt="")
                .item__info
                  a(href="", title="商品介紹")
                    img(src="~event/1st/e-main/components/collect-buy/btn-buy-info.png", alt="商品介紹")
              .cta__box
                .item__name
                  .name__promo
                    span 99點+9999
                  .name__box
                    span 9999xzcasdcassdcadadasdasdasd枚東森幣

                .item__value
                  span 尚餘
                    span 999
                  | 組

                .item__cta
                  .cta--active
                    a(href="", title="立刻登記購")
                      .btn__wrap
                        img(src="~event/1st/e-main/components/collect-buy/btn-buy-active.png", alt="立刻登記購")
                  .cta--closed(title="登記完畢")
                    img(src="~event/1st/e-main/components/collect-buy/btn-buy-closed.png", alt="登記完畢")
              .rule__box
                span 41個英文等於20個中文字如果超過全部切掉了~喔喔喔

          li.active
            .item__wrap
              .info__box
                .item__pic
                  img(src="https://media.etmall.com.tw/nximg/002776/2776984/2776984-1_xl.jpg", alt="")
                .item__info
                  a(href="", title="商品介紹")
                    img(src="~event/1st/e-main/components/collect-buy/btn-buy-info.png", alt="商品介紹")
              .cta__box
                .item__name
                  .name__promo
                    span 99點+9999
                  .name__box
                    span 9999xzcasdcassdcadadasdasdasd枚東森幣

                .item__value
                  span 尚餘
                    span 999
                  | 組

                .item__cta
                  .cta--active
                    a(href="", title="立刻登記購")
                      .btn__wrap
                        img(src="~event/1st/e-main/components/collect-buy/btn-buy-active.png", alt="立刻登記購")
                  .cta--closed(title="登記完畢")
                    img(src="~event/1st/e-main/components/collect-buy/btn-buy-closed.png", alt="登記完畢")
              .rule__box
                span 將於10/30(五) 18:00前以我的禮物盒推廣通知asdasdasdasdasdasdasd

          li
            .item__wrap
              .info__box
                .item__pic
                  img(src="https://media.etmall.com.tw/nximg/002776/2776984/2776984-1_xl.jpg", alt="")
                .item__info
                  a(href="", title="商品介紹")
                    img(src="~event/1st/e-main/components/collect-buy/btn-buy-info.png", alt="商品介紹")
              .cta__box
                .item__name
                  .name__promo
                    span 99點+9999
                  .name__box
                    span 9999xzcasdcassdcadadasdasdasd枚東森幣

                .item__value
                  span 尚餘
                    span 999
                  | 組

                .item__cta
                  .cta--active
                    a(href="", title="立刻登記購")
                      .btn__wrap
                        img(src="~event/1st/e-main/components/collect-buy/btn-buy-active.png", alt="立刻登記購")
                  .cta--closed(title="登記完畢")
                    img(src="~event/1st/e-main/components/collect-buy/btn-buy-closed.png", alt="登記完畢")
              .rule__box
                span 將於10/30(五) 18:00前以我的禮物盒推廣通知asdasdasdasdasdasdasd

          li.active
            .item__wrap
              .info__box
                .item__pic
                  img(src="https://media.etmall.com.tw/nximg/002776/2776984/2776984-1_xl.jpg", alt="")
                .item__info
                  a(href="", title="商品介紹")
                    img(src="~event/1st/e-main/components/collect-buy/btn-buy-info.png", alt="商品介紹")
              .cta__box
                .item__name
                  .name__promo
                    span 99點+9999
                  .name__box
                    span 9999xzcasdcassdcadadasdasdasd枚東森幣

                .item__value
                  span 尚餘
                    span 999
                  | 組

                .item__cta
                  .cta--active
                    a(href="", title="立刻登記購")
                      .btn__wrap
                        img(src="~event/1st/e-main/components/collect-buy/btn-buy-active.png", alt="立刻登記購")
                  .cta--closed(title="登記完畢")
                    img(src="~event/1st/e-main/components/collect-buy/btn-buy-closed.png", alt="登記完畢")
              .rule__box
                span 將於10/30(五) 18:00前以我的禮物盒推廣通知asdasdasdasdasdasdasd

          li
            .item__wrap
              .info__box
                .item__pic
                  img(src="https://media.etmall.com.tw/nximg/002776/2776984/2776984-1_xl.jpg", alt="")
                .item__info
                  a(href="", title="商品介紹")
                    img(src="~event/1st/e-main/components/collect-buy/btn-buy-info.png", alt="商品介紹")
              .cta__box
                .item__name
                  .name__promo
                    span 99點+9999
                  .name__box
                    span 9999xzcasdcassdcadadasdasdasd枚東森幣

                .item__value
                  span 尚餘
                    span 999
                  | 組

                .item__cta
                  .cta--active
                    a(href="", title="立刻登記購")
                      .btn__wrap
                        img(src="~event/1st/e-main/components/collect-buy/btn-buy-active.png", alt="立刻登記購")
                  .cta--closed(title="登記完畢")
                    img(src="~event/1st/e-main/components/collect-buy/btn-buy-closed.png", alt="登記完畢")
              .rule__box
                span 將於10/30(五) 18:00前以我的禮物盒推廣通知asdasdasdasdasdasdasd

          li.active
            .item__wrap
              .info__box
                .item__pic
                  img(src="https://media.etmall.com.tw/nximg/002776/2776984/2776984-1_xl.jpg", alt="")
                .item__info
                  a(href="", title="商品介紹")
                    img(src="~event/1st/e-main/components/collect-buy/btn-buy-info.png", alt="商品介紹")
              .cta__box
                .item__name
                  .name__promo
                    span 99點+9999
                  .name__box
                    span 9999xzcasdcassdcadadasdasdasd枚東森幣

                .item__value
                  span 尚餘
                    span 999
                  | 組

                .item__cta
                  .cta--active
                    a(href="", title="立刻登記購")
                      .btn__wrap
                        img(src="~event/1st/e-main/components/collect-buy/btn-buy-active.png", alt="立刻登記購")
                  .cta--closed(title="登記完畢")
                    img(src="~event/1st/e-main/components/collect-buy/btn-buy-closed.png", alt="登記完畢")
              .rule__box
                span 將於10/30(五) 18:00前以我的禮物盒推廣通知asdasdasdasdasdasdasd

          li
            .item__wrap
              .info__box
                .item__pic
                  img(src="https://media.etmall.com.tw/nximg/002776/2776984/2776984-1_xl.jpg", alt="")
                .item__info
                  a(href="", title="商品介紹")
                    img(src="~event/1st/e-main/components/collect-buy/btn-buy-info.png", alt="商品介紹")
              .cta__box
                .item__name
                  .name__promo
                    span 99點+9999
                  .name__box
                    span 9999xzcasdcassdcadadasdasdasd枚東森幣

                .item__value
                  span 尚餘
                    span 999
                  | 組

                .item__cta
                  .cta--active
                    a(href="", title="立刻登記購")
                      .btn__wrap
                        img(src="~event/1st/e-main/components/collect-buy/btn-buy-active.png", alt="立刻登記購")
                  .cta--closed(title="登記完畢")
                    img(src="~event/1st/e-main/components/collect-buy/btn-buy-closed.png", alt="登記完畢")
              .rule__box
                span 將於10/30(五) 18:00前以我的禮物盒推廣通知asdasdasdasdasdasdasd

      .decoration__bottom
        img(src="~event/1st/e-main/components/collect-buy/decoration-buy-bottom.png", alt="")