section.promo__group.promo__group--tab.promo__group--tab-wrap-1(data-title="")
  .tab--bg
    .layout--main
      ul.tab__wrap
        li.tab__zone
          ul#tabBox_1.tab__box
            li.tab__item(title="送長輩").active
              img(src="~event/1st/e-main/components/tab-section-1/items/tab/tab-1.png", alt="送長輩")
              img(src="~event/1st/e-main/components/tab-section-1/items/tab/tab-1-active.png", alt="送長輩")
            li.tab__item(title="送朋友")
              img(src="~event/1st/e-main/components/tab-section-1/items/tab/tab-2.png", alt="送朋友")
              img(src="~event/1st/e-main/components/tab-section-1/items/tab/tab-2-active.png", alt="送朋友")

            li.tab__item(title="送客戶")
              img(src="~event/1st/e-main/components/tab-section-1/items/tab/tab-3.png", alt="送客戶")
              img(src="~event/1st/e-main/components/tab-section-1/items/tab/tab-3-active.png", alt="送客戶")

        li.content__zone
          ul#tabContentBlock_1.content__block
            li.content__box.active
              .tab__slider.swiper-container
                ul.item__wrap.swiper-wrapper
                .tab-section-pager.swiper-pagination

            li.content__box
              .tab__slider.swiper-container
                ul.item__wrap.swiper-wrapper
                .tab-section-pager.swiper-pagination

            li.content__box
              .tab__slider.swiper-container
                ul.item__wrap.swiper-wrapper
                .tab-section-pager.swiper-pagination
