//- TODO: 給別的component引入時不需要前兩行要切換
//- section.promo__group.promo__group--bn-special.m-bottom--md
//- 懈購1+1

.promo__slider.one__buy__one
  img#scrollDecoBird.decoration__bird(src="~event/1st/e-main/components/one-buy-one-slider/decoration__bird.png", alt="")
  .one__buy__one-web--bg
  .layout--main
    section.one__buy__one__wrap-1
      #sliderOneBuyOne-block1.swiper-container
        ul.swiper-wrapper
          li.swiper-slide
            a(href="https://www.etmall.com.tw/p/120262", title="A1 Darin雲絲褲5件組買就送優生酒精濕巾")
              img.swiper-lazy(data-src="~event/1st/e-main/components/one-buy-one-slider/items/one__buy__one-promo-01.png", alt="A1 Darin雲絲褲5件組買就送優生酒精濕巾", src="~assets/img/1x1_low.png")
              .swiper-lazy-preloader.swiper-lazy-preloader-white
          li.swiper-slide
            a(href="https://www.etmall.com.tw/gp/107310", title="RIESURE日本纖體抑菌蠶絲無痕內褲8+1件組")
              img.swiper-lazy(data-src="~event/1st/e-main/components/one-buy-one-slider/items/one__buy__one-promo-02.png", alt="RIESURE日本纖體抑菌蠶絲無痕內褲8+1件組", src="~assets/img/1x1_low.png")
              .swiper-lazy-preloader.swiper-lazy-preloader-white
          li.swiper-slide
            a(href="https://www.etmall.com.tw/c3/103416", title="哈根達斯 超人氣品脫4入送挖冰杓")
              img.swiper-lazy(data-src="~event/1st/e-main/components/one-buy-one-slider/items/one__buy__one-promo-03.png", alt="哈根達斯 超人氣品脫4入送挖冰杓", src="~assets/img/1x1_low.png")
              .swiper-lazy-preloader.swiper-lazy-preloader-white
          li.swiper-slide
            a(href="https://www.etmall.com.tw/i/2951145", title="行李箱贈托特包")
              img.swiper-lazy(data-src="~event/1st/e-main/components/one-buy-one-slider/items/one__buy__one-promo-04.png", alt="行李箱贈托特包", src="~assets/img/1x1_low.png")
              .swiper-lazy-preloader.swiper-lazy-preloader-white
          li.swiper-slide
            a(href="https://www.etmall.com.tw/i/2831293", title="COACH 芙洛麗淡香精90ml(贈隨機身體乳100ml+小香乙瓶)")
              img.swiper-lazy(data-src="~event/1st/e-main/components/one-buy-one-slider/items/one__buy__one-promo-05.png", alt="COACH 芙洛麗淡香精90ml(贈隨機身體乳100ml+小香乙瓶)", src="~assets/img/1x1_low.png")
              .swiper-lazy-preloader.swiper-lazy-preloader-white
          li.swiper-slide
            a(href="https://www.etmall.com.tw/i/2780513", title="白蘭氏深海魚油+蝦紅素 8盒+贈洗衣膠囊2盒")
              img.swiper-lazy(data-src="~event/1st/e-main/components/one-buy-one-slider/items/one__buy__one-promo-06.png", alt="白蘭氏深海魚油+蝦紅素 8盒+贈洗衣膠囊2盒", src="~assets/img/1x1_low.png")
              .swiper-lazy-preloader.swiper-lazy-preloader-white
          li.swiper-slide
            a(href="https://www.etmall.com.tw/i/2892395", title="OPPO Reno5 Pro 5G手機(12+256G)-星夜黑送行電")
              img.swiper-lazy(data-src="~event/1st/e-main/components/one-buy-one-slider/items/one__buy__one-promo-07.png", alt="OPPO Reno5 Pro 5G手機(12+256G)-星夜黑送行電", src="~assets/img/1x1_low.png")
              .swiper-lazy-preloader.swiper-lazy-preloader-white
          li.swiper-slide
            a(href="https://www.etmall.com.tw/i/2931470", title="禾聯 3in1吸塵器送coclean清淨機")
              img.swiper-lazy(data-src="~event/1st/e-main/components/one-buy-one-slider/items/one__buy__one-promo-08.png", alt="禾聯 3in1吸塵器送coclean清淨機", src="~assets/img/1x1_low.png")
              .swiper-lazy-preloader.swiper-lazy-preloader-white

      #sliderOneBuyOnePager-block1.one__buy__one-pager.swiper-pagination
