section.hero__wrap
  .layout--main
    .hero__box
      h1.hero__title(title="喝好茶搖虎氣")
        img(src="~components/hero-section/title.jpg", alt="喝好茶搖虎氣")
      .hero__content 
        img(src="~components/hero-section/content.jpg", alt="購買指定活動商品即可參加抽獎")
      //- .cta__wrap
        //- pug會將外層include到最深層的下一個結構，因此利用此span引導其正確插入位置
        span

