//- IE9用下方舊輪播，IE10up與現代瀏覽器用上方新輪播

<script src="https://cdnjs.cloudflare.com/ajax/libs/Swiper/4.5.0/js/swiper.min.js"></script>
<!--[if IE 9]>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/Swiper/2.7.6/idangerous.swiper.min.js"></script>
<![endif]-->