section.hero__wrap
  .layout--main
    .hero__zone
      .hero__block
        .hero__item
          .hero--title
            img(src="event/1st/e-main/components/hero-section/title.png", alt="")
          .hero--title--sub
            img(src="event/1st/e-main/components/hero-section/title-sub.png", alt="")
          .hero--icon
            a(href="https://media.etmall.com.tw/sp/11600/m/index.html") 
              img(src="event/1st/e-main/components/hero-section/icon.png", alt="")

        .hero__item
          img(src="event/1st/e-main/components/hero-section/dog.png", alt="")
          
  //- #bgSky.background--hero.background--hero-1
//-   #bgCastle.background--hero.background--hero-2
//-   .decoration--top.decoration__background
//-   .hero__zone
//-     //- 大網裝飾相關
//-     include /event/1st/e-main/components/hero-section/decor-web/_decor-web

//-     .layout--main
//-       #heroBlock.hero__block

//-         .hero__box

//-           //- 摩天輪相關
//-           include /event/1st/e-main/components/hero-section/ferris/_ferris

//-           .decoration__box
//-             //- .decoration--top.decoration--hero
//-             //-   img(src="event/1st/e-main/components/hero-section/decor-hero-1.png", alt="")
//-             //- .decoration--top.decoration--hero
//-             //-   img.img-reverse-x(src="event/1st/e-main/components/hero-section/decor-hero-1.png", alt="")
//-           .hero__title.hero__title--main.block-center
//-             //- 標題
//-             .decoration--top.title__icon
//-               img(src="event/1st/e-main/components/hero-section/title-icon.png", alt="暖身慶")
//-             h1
//-               .title__box.title--decor
//-                 .decoration--title
//-                   .decor__box
//-                     img(src="event/1st/e-main/components/hero-section/title-1.png", alt="1")
//-                 .decoration--title
//-                   .decor__box
//-                     img(src="event/1st/e-main/components/hero-section/title-1.png", alt="1")
//-                 .decoration--title
//-                   .decor__box
//-                     img(src="event/1st/e-main/components/hero-section/title-1.png", alt="1")
//-                 .decoration--title
//-                   .decor__box
//-                     img(src="event/1st/e-main/components/hero-section/title-1.png", alt="1")
//-               .title__box.title--main
//-                 img(src="event/1st/e-main/components/hero-section/title.png", alt="嗨Fun購好玩")
//-               .title__box.title--sub
//-                 img(src="event/1st/e-main/components/hero-section/title-sub.png", alt="百萬東森幣，最高折抵80%")

//-     //- 禮物檯相關
//-     include /event/1st/e-main/components/hero-section/hero-items/_hero-items

//-   .decoration--top.decoration__foreground

//- //- 前景滑鼠parallax相關
//- include /utils/bg-decoration-instance/parallax/_parallax
