section.hero
  .layout--main
    .hero__wrap
      .hero__zone
        .decor__wrap.full-parent
          .decor__item.decor__item--figure#decorFigure
            .decor__item.decor__item--arm1.superman-ani
              img(src="event/2nd/e-main/components/hero-section/hero-arm-1.png", alt="", class="superman-ani")
            .decor__item.decor__item--arm2.superman-ani
              img(src="event/2nd/e-main/components/hero-section/hero-arm-2.png", alt="", class="superman-ani")
            .decor__item.decor__item--arm3.superman-ani
              img(src="event/2nd/e-main/components/hero-section/hero-arm-3.png", alt="")
            .decor__item.decor__item--arm4.superman-ani
              img(src="event/2nd/e-main/components/hero-section/hero-arm-4.png", alt="", class="superman-ani")
            .decor__item.decor__item--body#decorBody
          .decor__item.decor__item--1.superman-ani
            img(src="event/2nd/e-main/components/hero-section/hero-figure-decor1.png", alt="")
          .decor__item.decor__item--2.superman-ani
            img(src="event/2nd/e-main/components/hero-section/hero-figure-decor2.png", alt="")
          
        .hero__title
          .title--main.superman-ani
            a(href="")
              img(src="event/2nd/e-main/components/hero-section/title.png" alt="我的超人媽咪")#titleMain

        //- .video__wrap
        //-   include /event/2nd/e-main/components/hero-section/hero-video/_hero-video.pug