//- parallax 結構
section.deoration--background.decoration__wrap()
  .decoration__item
    .item--right
      img(src="~event/2nd/e-sp/components/background-decoration/bg-decoration-1.png", alt="" class="bg__decration-1")
    //.bg-light-left-wrap
    //  img(src="~event/2nd/e-sp/components/background-decoration/bg-light-left.png", class="bg-light-left")
    //
    //.bg-light-right-wrap
    //  img(src="~event/2nd/e-sp/components/background-decoration/bg-light.png", class="bg-light-right")