section.promo__group.promo__group--dynamic-section.promo__group--dynamic-section-1.m-bottom--lg(data-title="999元")
  .layout--main
    .promo__wrap
      .promo__zone
        #decorDynamicSection.decoration__title
          .decoration--top.decoration__dynamic-section.title__decoration
            img(src="event/2nd/e-main/components/dynamic-section/decor-dynamic-section.png", alt="")
          .promo__title.block--center
            img(src="event/2nd/e-main/components/dynamic-section/title-dynamic-section.png", alt="999元")
        #dynamicSection.promo__slider.swiper-container
          .product__wrap.swiper-wrapper
