section.hero__wrap
  .hero__zone


    //- #decorationBack.decoration--background.decoration__wrap
    //-   .decoration--confetti.wow(data-depth="-0.1")

    .layout--main
      .hero__block

        .hero__box
          //- 標題
          h1.hero__title.hero__title--main.wow(title="新春迎牛年開運購")
            img.wow(src="~event/3rd/e-main/components/hero-section/title.png", alt="新春迎牛年開運購")
            img.wow(src="~event/3rd/e-main/components/hero-section/title__animated.png", alt="新春迎牛年開運購")
          .decoration__title.wow
            .decoration--wrap
              .left
                //img.wow(src="~event/3rd/e-main/components/hero-section/decoration__cow.png", alt="")
                img.wow(src="https://media.etmall.com.tw/sp/8249/decoration__cow.png", alt="")
              .right
                //img.wow(src="~event/3rd/e-main/components/hero-section/decoration__cow.png", alt="")
                img.wow(src="https://media.etmall.com.tw/sp/8249/decoration__cow.png", alt="")
              //img.wow(src="~event/3rd/e-main/components/hero-section/decoration__fan.png", alt="",)
              img.wow(src="https://media.etmall.com.tw/sp/8249/decoration__fan.png", alt="",)


        include /event/3rd/e-main/components/daily-change/_daily-change

  //- TODO: 如果hero和promo要共用主視覺時這樣放
  //- .promo__zone
    //- .layout--main
      //- .promo__block
        //- 行銷誘因
        //- include /event/3rd/e-main/components/promo-event/_promo-event

        //- 商品輪播
          //- 副標
        //- .hero__small__zone
          //- include /event/3rd/e-main/components/hero-small-slider/_hero-small-slider
