// ==========================================================================
// Collection Helpers 
// ==========================================================================
@import "helpers/_collection"

// Global position property
// ==========================================================================
body
  font-family: $font-family-base

// lists (note內的ul、ol不歸零)
// ==========================================================================
.note ol
  list-style-type: decimal
.note ul
  list-style-type: disc

.block--center
  margin-left: auto
  margin-right: auto

.text--right
  text-align: right

.text--center
  text-align: center

.text--left
  text-align: left

// Global margin property
// ==========================================================================
// 
// Size abbreviation Introduction
// 
// Extra extra small = xxs
// Extra small = xs
// small = sm
// Medium = md
// Large = lg
// Extra large = xl
// Extra extra large = xxl
.m-top--xs
  margin-top: 1%

.m-top--sm
  margin-top: 2%

.m-top--md
  margin-top: 3%

.m-top--lg
  margin-top: 4%

.m-bottom--xs
  margin-bottom: 1%

.m-bottom--sm
  margin-bottom: 2%

.m-bottom--md
  margin-bottom: 3%

.m-bottom--lg
  margin-bottom: 4%

.m-bottom--xl
  margin-bottom: 5%

.m-right--xs
  margin-right: 1%

.m-right--sm
  margin-right: 2%

.m-right--md
  margin-right: 3%

.m-right-px--xs
  margin-right: 5px

.m-right-px--sm
  margin-right: 10px

.m-right-px--md
  margin-right: 15px

// for word space
.m-right--em
  margin-right: 0.5em

// Global layout
// ==========================================================================
.padding-xs
  padding: 1%

.padding-sm
  padding: 2%

.padding-md
  padding: 3%

.padding-lg
  padding: 4%

.default-border
  border: 1px solid $gray-medium

// Global width and height
// ==========================================================================
// .sp--1260
.layout--main
  @include layout-center($layout-switch-width)

.one-screen
  width: 100%
  height: 100vh

// Global icon position
// ==========================================================================
.n-pic
  position: relative



