//- TODO: 打開雙月選項切換雙月(預設單月：4292 / true = 雙月：5567)
//- - var isEven = true
//- TODO: 打開2號電梯選項切換第二組電梯(預設第一組，true = 第二組 單月：4696 / 雙月：4697)
- var isSecond = true
//- TODO: 打開u-mall選項會自動轉換成U的logo和連結、電梯(預設etmall)
//-- var isU = true

main#spWrap.sp__wrap.sp__wrap--e
  include /layout/header/_header

  //- hero section
  //- ===========================
  include /event/2nd/e-main/components/hero-section/_hero-section
  include /event/2nd/e-main/components/bg-decoration/_bg-decoration

  //- other components
  //- ===========================
  //- TODO: 如果promo不用和hero綁在一起時放這
  include /event/2nd/e-main/components/daily-change/_daily-change
  include /event/2nd/e-main/components/promo-event/_promo-event
  include /event/2nd/e-main/components/text-slider/_text-slider
  include /event/2nd/e-main/components/daily-tab/_daily-tab
  include /event/2nd/e-main/components/left-right-section/_left-right-section
  include /event/2nd/e-main/components/mid-more-slider/_mid-more-slider
  include /event/2nd/e-main/components/tab-slider-section/_tab-slider-section
  include /event/2nd/e-main/components/bn-special/_bn-special
  include /event/2nd/e-main/components/dynamic-slider-2/_dynamic-slider-2
  include /event/2nd/e-main/components/dynamic-slider-3/_dynamic-slider-3

//- script區
include /utils/pug/_total-script
script#dataDaily(src="data-daily.js")
script#dataDailyTab(src="data-daily-tab.js")
script#dataLeftRight(src="data-left-right.js")
script#dataDynamic2(src="data-dynamic-2.js")
script#dataDynamic3(src="data-dynamic-3.js")
