section.hero__wrap.m-bottom--md
  .layout--main
    .hero__zone
      #heroBlock.hero__block
        .hero__box.wow
          //- 標題
          h1.hero__title.hero__title--main.block--center.wow(title="早春煥新")
            img(src="~event/2nd/e-main/components/hero-section/title.png", alt="早春煥新")
          .title-decoration__wrap
            .title__decoration.title__decoration--top
              .decoration--butterfly
              .decoration--leaf.wow
            .title__decoration.title__decoration--bottom
              .decoration-squirrel
              .decoration-squirrel--2
              .decoration--bird

          //- 副標
          include /event/2nd/e-main/components/hero-small-slider/_hero-small-slider

        //- .block-decoration.decoration--left
        //- .block-decoration.decoration--right

  .promo__block
    .layout--main
      .promo__zone
        //- 行銷誘因
        include /event/2nd/e-main/components/promo-event/_promo-event

        //- 商品輪播
        //- include /event/2nd/e-main/components/goods-slider-flip/_goods-slider-flip
        //- include /event/2nd/e-main/components/goods-slider/_goods-slider

