section.promo__group.promo__group--rule.m-bottom--md
  .layout--main
    .rule__block
      .block__wrap
        .block__title.m-bottom--md
          .title__box
            span 注意事項
        .block__body
          ol.form__list
            li.m-bottom--xs 僅限東森購物網會員參與許願(此活動限台灣手機註冊之會員參加)。
            li.m-bottom--xs 活動期間至東森購物網達到參加活動完成登記活動資格後，須訂單無付款失敗、訂單取消、退貨、換貨等交易之情事(購買商品超過10天鑑賞期)方列入計算；若有前述事項則不符合抽獎資格。(有效訂單之解釋以東森購物網定義為準)
            li.m-bottom--xs 東森購物網保留審核成功資格之權利，經認定重複e-mail、重複手機號碼，或無效e-mail、帳號或非本人身分證情形，將取消活動資格。
            li.m-bottom--xs 參與許願者應保證所有填寫或提出之資料均為真實正確，且未冒用或盜用任何第三人之資料。如有不實或不正確之情事，東森購物有權取消其得獎資格，並追回已頒發之獎品。
            li.m-bottom--xs 關於東森購物蒐集、處理及利用參與許願者(即東森購物網會員)個人資料之使用及權益悉依
              a(href="https://www.etmall.com.tw/HelpCenter/PrivacyStatement") 《東森購物隱私權保護政策》
              | 之規範。
            li.m-bottom--xs 參與許願者有權依
              a(href="https://www.etmall.com.tw/HelpCenter/PrivacyStatement") 《東森購物隱私權保護政策》
              | 行使個人資料保護法第三條所訂之權利，惟請求停止蒐集、處理、利用或刪除個人資料時，東森購物有權取消您原取得之本活動參加資格。此外，在未經您的同意之下，東森購物不會將您的個人資料提供予任何與東森購物服務無關之第三人，或移作其他目的使用。
            li.m-bottom--xs 如有任何電腦、網路、電話技術或不可控因素，不可歸責於東森購物網事由，後參加登陸之資料延遲、遺失、錯誤、無法辨識或損毀之情況，東森購物網不負任何法律責任，參加者亦不得有異議。
            li.m-bottom--xs 參與許願者應確實填寫資料，如有資料不實、資料不完整、資料不正確及所留資料卻無法聯絡之情事，將取消得獎資格。且如有致生損害於東森購物或其他任何第三人時，應負一切民刑事責任，東森購物對於任何不實或不正確之資料不負任何法律責任。
            li.m-bottom--xs 本活動之獎品均不得要求轉讓他人、折換現金及指定更換其他等值獎品。如遇獎品缺貨或不可抗力之事由，東森購物有權變更獎品內容，改由等值商品取代。
            li.m-bottom--xs 得獎者之指定收件地址僅限台灣本島地區且不可為郵政信箱，本活動之獎項一經東森購物網寄出後，若於運送途中或運送至得獎者指定收件地址後發生遺失、冒領或被竊等喪失占有之情形，概由得獎者自行負責，東森購物網或贊助廠商等不發給任何證明或補償。
            li.m-bottom--xs 依所得稅法及其相關法令規定，若得獎者之獎品價值達1,001元以上者，須納入個人年度所得，東森購物將開立扣繳憑單並向主管稽徵機關申報；若獎品價值超過20,010元以上者，得獎者另應繳納10%之機會中獎所得稅金(外國人為20％)，且出具繳款收據及兌獎收據單後，始得以完成後續兌獎程序。另遵循政府無紙化政策，東森購物將不主動寄發扣繳憑單給得獎者。
            li.m-bottom--xs 票數會即時更新，但為避免同時間大量投票時顯示有誤差，時間差會在10分鐘內。
            li.m-bottom--xs 東森幣之完整使用規則，請詳東森購物網站「東森幣常見問題」（東森購物網站會員服務/APP幫助中心→常見問題→東森幣常見問題）。
            li.m-bottom--xs 東森購物對本活動規則及活動辦法擁有最後之解釋權利，並保有活動變更、修改及終止本活動之權利，如有異動，修改後之內容將公佈在東森購物網上。