section.promo__group.dynamic-slider-2.m-bottom--lg(data-title="名人推薦")
  .layout--main
    .decor__wrap.full-parent
      .decor__item.decor__item--left#decorDynamic2Left
        img(src="event/1st/e-main/components/dynamic-slider-2/decor-dynamic-2-left.png", alt="")
      .decor__item.decor__item--right#decorDynamic2Right
        img(src="event/1st/e-main/components/dynamic-slider-2/decor-dynamic-2-right.png", alt="")
    .promo__wrap
      .promo__zone
        .promo__block.full-parent
          .promo__slider.swiper-container#DynamicSliderBlock2
            .swiper-wrapper