nav.header__sub-nav
  ul.sub-nav__wrap
    li.sub-nav__item
      a(href="#promoPlayer", title="我要投票") 我要許願
    li.sub-nav__item
      a(href="#promoInfo", title="活動辦法") 活動辦法
    li.sub-nav__item
      a(href="#", title="必Buy攻略") 必Buy攻略
    li.sub-nav__item
      a(href="#", title="挑戰低價") 挑戰低價
    li.sub-nav__item
      a(href="#", title="年度熱銷") 年度熱銷
    li.sub-nav__item
      a(href="#", title="下殺79折") 下殺79折
    li.sub-nav__item
      a(href="#", title="3C強檔") 3C強檔



