//- 主視覺
section.bn-w1m1
  .layout--main
    .banner__title
    ul.banner__wrap.clearfix
      li.banner__item.banner__item--half
        a(href='#')
          img(src="event/1st/e-main/components/bn-random/750x328_1.jpg", alt="banner")
      li.banner__item.banner__item--half
        a(href='#')
          img(src="event/1st/e-main/components/bn-random/750x328_2.jpg", alt="banner")
      li.banner__item.banner__item--half
        a(href='#')
          img(src="event/1st/e-main/components/bn-random/800x300_1.jpg", alt="banner")
      li.banner__item.banner__item--half
        a(href='#')
          img(src="event/1st/e-main/components/bn-random/800x300_2.jpg", alt="banner")
      li.banner__item
        a(href='#')
          img(src="event/1st/e-main/components/bn-random/1015x300.jpg", alt="banner")
      li.banner__item
        a(href='#')
          img(src="event/1st/e-main/components/bn-random/1260x320.jpg", alt="banner")


//- original html version
//- <section class="bn-random">
      <div class="layout--main">
        <div class="banner__title" style="background-image: url(bar.png);"></div>
        <ul class="banner__wrap clearfix">
          <li class="banner__item banner__item--half"><a href="#" title="第一個banner"><img src="750x328_1.jpg" alt="第一個banner">></li>
          <li class="banner__item banner__item--half"><a href="#" title="第二個banner"><img src="750x328_2.jpg" alt="第二個banner"></a></li>
          <li class="banner__item banner__item--half"><a href="#" title="第三個banner"><img src="800x300_3.jpg" alt="第三個banner"></a></li>
          <li class="banner__item banner__item--half"><a href="#" title="第四個banner"><img src="800x300_4.jpg" alt="第四個banner"></a></li>
          <li class="banner__item"><a href="#" title="第四個banner"><img src="1015x300.jpg" alt="第四個banner"></a></li>
          <li class="banner__item"><a href="#" title="第四個banner"><img src="1260x320.jpg" alt="第四個banner"></a></li>
        </ul>
      </div>
    </section>

