include /utils/pug/include/_meta.pug
link(rel="stylesheet" href="popWindow.css")
//- slider css
//- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Swiper/5.4.5/css/swiper.min.css">
//- slider css for IE9
//- include /utils/pug/include/_slider-cdn-css.pug
