.slider__20off(data-title="回饋20%")
  #slider20offGoods.swiper-container
    ul#getdiscount20offData.swiper-wrapper.slider__20off__goods
      //li.swiper-slide.slider__20off__item
      //  a(href= "https://www.etmall.com.tw/XML/content/DMSetting/Final/202004/SP_1114866/w/index.html#sinopac", title="永豐_滿$20,000送$2,000刷卡金")
      //    img(src="https://media.etmall.com.tw/NXimg/002477/2477124/2477124-1_XXL.jpg?t=17632148356", alt="永豐_滿$20,000送$2,000刷卡金")
      //    p.good__title__20off 東森農場 產地直送系列 枋山鄉愛文芒果
      //    p.most__give__back 最高回饋10%

    #slider20offGoodsPager.swiper-pagination-custom.swiper-pagination
