section.promo__group.promo__group--dynamic-slider.promo__group--dynamic-slider-2.m-bottom--sm(data-title="11%OFF")
  .layout--main
    //- .promo__title.block--center.text--center
    //-   img(src="~event/3rd/e-main/components/dynamic-slider-2/title-dynamic-slider-2.png", alt="新品專區")

    .promo__wrap
      #sliderDynamicTest.promo__slider.swiper-container
        .swiper-wrapper

      #sliderDynamicTestPrev.swiper-button-white.swiper-button-prev.dynamic__nav.dynamic__nav--prev
      #sliderDynamicTestNext.swiper-button-white.swiper-button-next.dynamic__nav.dynamic__nav--next
      //- #sliderDynamic2Pager.dynamic-slider-pager.swiper-pagination

//- data-dynamic-2.js在assets資料夾內、由index.pug外連過去