.promo__group.promo__group--game.m-bottom--md(data-title="光棍闖天涯")
  .layout--main
    a(href="https://www.etmall.com.tw/XML/content/DMSetting/Final/201911/SP_1114097/w/index.html", title="光棍闖天涯", target="_blank")
      img(src="~event/3rd/e-main/components/game-map/game-map.png", alt="光棍闖天涯")