section.promo__group.promo__group--dynamic-slider-2.m-bottom--lg(data-title="超值折抵")
  .layout--main
    .decor__wrap.full-parent
      .promo__decor#decorDynamicSliderSecond
        img(src="event/1st/e-main/components/dynamic-slider-2/decor-dynamic-slider-2.png", alt="")
    .promo__wrap
      .promo__zone
        .promo__block
          .promo__slider.swiper-container#dynamicSlider2Section
            .swiper-wrapper

        //- #sliderDynamic2Prev.swiper-button-white.swiper-button-prev.dynamic__nav.dynamic__nav--prev
        //- #sliderDynamic2Next.swiper-button-white.swiper-button-next.dynamic__nav.dynamic__nav--next
      //- #sliderDynamic2Pager.dynamic-slider-pager.swiper-pagination

//- data-dynamic-2.js在assets資料夾內、由index.pug外連過去