-
  var midMoreDataE = [
    {
      link: "https://www.etmall.com.tw/gp/124090",
      imgSrc: "event/4th/e-main/components/mid-more-slider/item/mid-big-1.png",
      alt: "理膚寶水x雅漾",
      text: "醫美聯慶3折起",
    },
    {
      link: "https://www.etmall.com.tw/p/150830",
      imgSrc: "event/4th/e-main/components/mid-more-slider/item/mid-big-2.png",
      alt: "日本味王",
      text: "滿額送刀具組",
    },
    {
      link: "https://www.etmall.com.tw/c3/162067",
      imgSrc: "event/4th/e-main/components/mid-more-slider/item/mid-big-3.png",
      alt: "DV 笛絲薇夢",
      text: "限時 55折起",
    },
    {
      link: "https://media.etmall.com.tw/sp/12083/m/index.html",
      imgSrc: "event/4th/e-main/components/mid-more-slider/item/mid-big-4.png",
      alt: "愛買",
      text: "買1送1更優惠",
    },
    {
      link: "https://www.etmall.com.tw/bs/162580",
      imgSrc: "event/4th/e-main/components/mid-more-slider/item/mid-big-5.png",
      alt: "美食",
      text: "滿額登記送百",
    },
    {
      link: "https://media.etmall.com.tw/sp/11705/m/index.html",
      imgSrc: "event/4th/e-main/components/mid-more-slider/item/mid-big-6.png",
      alt: "LooCa",
      text: "滿額抽萬元提貨券",
    },
    {
      link: "https://www.etmall.com.tw/gp/116998",
      imgSrc: "event/4th/e-main/components/mid-more-slider/item/mid-big-7.png",
      alt: "PP 波瑟楓妮",
      text: "塑崩褲1.1折up",
    },
    {
      link: "https://media.etmall.com.tw/sp/10641/m/index.html",
      imgSrc: "event/4th/e-main/components/mid-more-slider/item/mid-big-8.png",
      alt: "禾聯",
      text: "破盤再送11%",
    },
    {
      link: "https://media.etmall.com.tw/sp/10591/m/index.html",
      imgSrc: "event/4th/e-main/components/mid-more-slider/item/mid-big-9.png",
      alt: "LG",
      text: "0利率送小家電",
    },
    {
      link: "https://media.etmall.com.tw/sp/11425/m/index.html",
      imgSrc: "event/4th/e-main/components/mid-more-slider/item/mid-big-10.png",
      alt: "國際小電",
      text: "30期0利率送11%",
    },
    {
      link: "https://www.etmall.com.tw/c3/158221",
      imgSrc: "event/4th/e-main/components/mid-more-slider/item/mid-big-11.png",
      alt: "OPPO",
      text: "AI美顏相機",
    },
    {
      link: "https://www.etmall.com.tw/c3/125366",
      imgSrc: "event/4th/e-main/components/mid-more-slider/item/mid-big-12.png",
      alt: "ASUS",
      text: "改機升級更猛",
    },
    {
      link: "https://media.etmall.com.tw/sp/12028/m/index.html",
      imgSrc: "event/4th/e-main/components/mid-more-slider/item/mid-big-13.png",
      alt: "RO仙境傳說",
      text: "RO獨家送虛寶",
    },

  ]

-
  var midMoreDataU = [
    {
      link: "https://www.u-mall.com.tw/XML/content/DMSetting/Final/202008/SP_1106087/w/index.html",
      imgSrc: "~event/4th/u-main/components/mid-more-slider/items/mid-more-1.png",
      alt: "滿$3000送300",
      text: "我愛東森東森愛我",
    },
    {
      link: "https://www.u-mall.com.tw/Activity/HourSale",
      imgSrc: "~event/4th/u-main/components/mid-more-slider/items/mid-more-2.png",
      alt: "滿$3000送300",
      text: "我愛東森東森愛我",
    },
    {
      link: "https://www.u-mall.com.tw/Activity/HourSale?Day=Up",
      imgSrc: "~event/4th/u-main/components/mid-more-slider/items/mid-more-3.png",
      alt: "滿$3000送300",
      text: "我愛東森東森愛我",
    },
  ]

- var midMoreData = isU ? midMoreDataU : midMoreDataE

section.promo__group.promo__group--mid-more.m-bottom--md(data-title="品牌大賞")
  .layout--main
    .promo__wrap
      .promo__zone
        .decoration__box#MidMoreSliderTitle
          img(src="event/4th/e-main/components/mid-more-slider/title-mid-more-slider.png", alt="")
      #sliderMidMore.promo__slider.swiper-container
        ul.swiper-wrapper
          each data in midMoreData
            li.swiper-slide
              a(href= data.link, title= data.alt)
                img.swiper-lazy(data-src= data.imgSrc, alt= data.alt)
                .swiper-lazy-preloader.swiper-lazy-preloader-white
                .text__box
                  span= data.text

        //- #sliderMidMorePrev.swiper-button-white.swiper-button-prev.mid-more__nav.mid-more__nav--prev
        //- #sliderMidMoreNext.swiper-button-white.swiper-button-next.mid-more__nav.mid-more__nav--next
      //- #sliderMidMorePager.mid-more__pager.swiper-pagination