section.promo__group.promo__group--tab.m-top--md.js-add__bg(data-title="")
  .layout--main
    ul.tab__wrap
      li.tab__zone
        ul#tabBox.tab__box
          li.tab__item(title="7折up").active
            img(src="~event/2nd/e-main/components/tab-slider-section/items/tab/tab-d1.png", alt="7折up")
            img(src="~event/2nd/e-main/components/tab-slider-section/items/tab/tab-l1.png?20200702", alt="7折up")
          li.tab__item(title="折抵7%東森幣")
            img.lazyload(src="~utils/img/1x1_low.png" data-src="~event/2nd/e-main/components/tab-slider-section/items/tab/tab-d2.png", alt="折抵7%東森幣")
            img.lazyload(src="~utils/img/1x1_low.png" data-src="~event/2nd/e-main/components/tab-slider-section/items/tab/tab-l2.png?20200702", alt="折抵7%東森幣")
          li.tab__item(title="尾數77精選商品")
            img.lazyload(src="~utils/img/1x1_low.png" data-src="~event/2nd/e-main/components/tab-slider-section/items/tab/tab-d3.png", alt="尾數77精選商品")
            img.lazyload(src="~utils/img/1x1_low.png" data-src="~event/2nd/e-main/components/tab-slider-section/items/tab/tab-l3.png?20200702", alt="尾數77精選商品")
      li.content__zone
        ul#contentBlock.content__block
          li.content__box.clearfix.active
            ul#sliderTab.swiper-container.slider__tab
              li.swiper-wrapper
                .content__item.swiper-slide
                  a(href="https://www.etmall.com.tw/i/2321315", title="新鱷魚130天防蚊片x3片")
                    img(src="https://media.etmall.com.tw/NXimg/002321/2321315/2321315-1_XL.jpg", alt="新鱷魚130天防蚊片x3片")
                  .content__text 新鱷魚130天防蚊片x3片+130天髮捲型x2組
                  .content__price $999
                .content__item.swiper-slide
                  a(href="https://www.etmall.com.tw/i/2640531", title="吸濕排汗天絲兩用被床包四件式組")
                    img(src="https://media.etmall.com.tw/NXimg/002640/2640531/2640531-1_XL.jpg", alt="吸濕排汗天絲兩用被床包四件式組")
                  .content__text COOZICASA 均一價-吸濕排汗天絲兩用被床包四件式組(多款任選)
                  .content__price $1,280
                .content__item.swiper-slide
                  a(href="https://www.etmall.com.tw/i/2652977", title="紐西蘭ps米其林星級雪花沙朗牛排100g共18片組")
                    img(src="https://media.etmall.com.tw/NXimg/002652/2652977/2652977-1_XL.jpg", alt="紐西蘭ps米其林星級雪花沙朗牛排100g共18片組")
                  .content__text 【漢克嚴選_買9送9】紐西蘭ps米其林星級雪花沙朗牛排100g共18片組(100g±10％/片)
                  .content__price $899
                .content__item.swiper-slide
                  a(href="https://www.etmall.com.tw/i/2550531", title="2入大甲媽加持款漸進式無縫壓縮腿套")
                    img(src="https://media.etmall.com.tw/NXimg/002550/2550531/2550531-1_XL.jpg", alt="2入大甲媽加持款漸進式無縫壓縮腿套")
                  .content__text 金德恩 台灣製造 2入大甲媽加持款漸進式無縫壓縮腿套+涼感冰涼巾
                  .content__price $1,001
                .content__item.swiper-slide
                  a(href="https://www.etmall.com.tw/i/2656865", title="天使娜拉_黃金倍孅印加果油_星星果油")
                    img(src="https://media.etmall.com.tw/NXimg/002656/2656865/2656865-1_XL.jpg", alt="天使娜拉_黃金倍孅印加果油_星星果油")
                  .content__text Angel LaLa 天使娜拉_黃金倍孅印加果油_星星果油 楊謹華代言(30顆/盒×8盒)
                  .content__price $2,980
                .content__item.swiper-slide
                  a(href="https://www.etmall.com.tw/i/2114451", title="五味子芝麻錠")
                    img(src="https://media.etmall.com.tw/NXimg/002114/2114451/2114451-1_XL.jpg", alt="五味子芝麻錠")
                  .content__text 【信東生技】五味子芝麻錠(朝鮮薊配方)-買一送一
                  .content__price $880
                .content__item.swiper-slide
                  a(href="https://www.etmall.com.tw/i/2587316", title="水磁場72H超循環保濕凝膠75ml")
                    img(src="https://media.etmall.com.tw/NXimg/002587/2587316/2587316-1_XL.jpg", alt="水磁場72H超循環保濕凝膠75ml")
                  .content__text CLINIQUE 倩碧 水磁場72H超循環保濕凝膠75ml
                  .content__price $990
                .content__item.swiper-slide
                  a(href="https://www.etmall.com.tw/i/2554985", title="安博盒子PROS")
                    img(src="https://media.etmall.com.tw/NXimg/002554/2554985/2554985-1_XL.jpg", alt="安博盒子PROS")
                  .content__text 全新 安博盒子PROS【2G+32G旗艦越獄純淨版】
                  .content__price $3,980
                .content__item.swiper-slide
                  a(href="https://www.etmall.com.tw/i/6192349", title="行動電源")
                    img(src="https://media.etmall.com.tw/NXimg/006192/6192349/6192349-1_XL.jpg", alt="行動電源")
                  .content__text aibo DV78K 12000 Plus 行動電源
                  .content__price $299
                .content__item.swiper-slide
                  a(href="https://www.etmall.com.tw/i/2246082", title="MicroSDXC128GB記憶卡")
                    img(src="https://media.etmall.com.tw/NXimg/002246/2246082/2246082-1_XL.jpg", alt="MicroSDXC128GB記憶卡")
                  .content__text SanDisk Extreme MicroSDXC 128GB 記憶卡(A2/V30/UHS-I/160MB/90MB/s) [公司貨]
                  .content__price $677

              #sliderTabPager.swiper-pagination-custom.swiper-pagination.swiper-slider-dot
          li.content__box.clearfix
            ul#sliderTab_2.swiper-container.slider__tab
              li.swiper-wrapper
                .content__item.swiper-slide
                  a(href="https://www.etmall.com.tw/i/2658411", title="304不鏽鋼炫彩迷你口袋保溫杯")
                    img(src="https://media.etmall.com.tw/NXimg/002658/2658411/2658411-1_XL.jpg", alt="304不鏽鋼炫彩迷你口袋保溫杯")
                  .content__text AWANA 304不鏽鋼炫彩迷你口袋保溫杯(150ml)
                  .content__price $199
                .content__item.swiper-slide
                  a(href="https://www.etmall.com.tw/i/1884070", title="胡媽媽灶腳")
                    img(src="https://media.etmall.com.tw/NXimg/001884/1884070/1884070-1_XL.jpg", alt="胡媽媽灶腳")
                  .content__text 胡媽媽灶腳 頂級黃金貝+干貝醬6件組
                  .content__price $1,199
                .content__item.swiper-slide
                  a(href="https://www.etmall.com.tw/i/2154331", title="清酒粕玄米菓禮盒")
                    img(src="https://media.etmall.com.tw/NXimg/002154/2154331/2154331-1_XL.jpg", alt="清酒粕玄米菓禮盒")
                  .content__text 台酒TTL 清酒粕玄米菓禮盒-辣味
                  .content__price $375
                .content__item.swiper-slide
                  a(href="https://www.etmall.com.tw/i/2548627", title="IMPRESS清涼印花洋裝100%純棉")
                    img(src="https://media.etmall.com.tw/NXimg/002548/2548627/2548627-1_XL.jpg", alt="IMPRESS清涼印花洋裝100%純棉")
                  .content__text ★獨家搶↘IMPRESS清涼印花洋裝100%純棉(四件組)
                  .content__price $299
                .content__item.swiper-slide
                  a(href="https://www.etmall.com.tw/i/1813712", title="加力活歐米加600魚油膠囊")
                    img(src="https://media.etmall.com.tw/NXimg/001813/1813712/1813712-1_XL.jpg", alt="加力活歐米加600魚油膠囊")
                  .content__text 【加拿大Healthy Life】加力活歐米加600魚油膠囊(90顆*2瓶)-網
                  .content__price $899
                .content__item.swiper-slide
                  a(href="https://www.etmall.com.tw/i/2553883", title="微晶3D全能洗顏霜")
                    img(src="https://media.etmall.com.tw/NXimg/002553/2553883/2553883-1_XL.jpg", alt="微晶3D全能洗顏霜")
                  .content__text Swissvita薇佳 微晶3D全能洗顏霜 (VitaBtech升級版)100g 共2入組
                  .content__price $699
                .content__item.swiper-slide
                  a(href="https://www.etmall.com.tw/i/2205703", title="Arenes櫻花香氛植萃沐浴露")
                    img(src="https://media.etmall.com.tw/NXimg/002205/2205703/2205703-1_XL.jpg", alt="Arenes櫻花香氛植萃沐浴露")
                  .content__text 【買一送一】Arenes櫻花香氛植萃沐浴露(500ml)
                  .content__price $299
                .content__item.swiper-slide
                  a(href="https://www.etmall.com.tw/i/2442480", title="10人份全不銹鋼電鍋")
                    img(src="https://media.etmall.com.tw/NXimg/002442/2442480/2442480-1_XL.jpg", alt="10人份全不銹鋼電鍋")
                  .content__text TATUNG 大同  10人份全不銹鋼電鍋(星河銀)
                  .content__price $2,999
                .content__item.swiper-slide
                  a(href="https://m.etmall.com.tw/i/2643653", title="Samsung4吋八核心平板")
                    img(src="https://media.etmall.com.tw/NXimg/002643/2643653/2643653-1_XL.jpg", alt="Samsung4吋八核心平板")
                  .content__text Samsung Tab S6 Lite wifi 10.4吋八核心平板(4G/64G)
                  .content__price $10,990
                .content__item.swiper-slide
                  a(href="https://www.etmall.com.tw/i/2637050", title="DJI Mavic Air 2 暢飛套裝")
                    img(src="https://media.etmall.com.tw/NXimg/002637/2637050/2637050-1_XL.jpg", alt="DJI Mavic Air 2 暢飛套裝")
                  .content__text 【加碼送128G記憶卡】DJI Mavic Air 2 暢飛套裝(公司貨)
                  .content__price $29,900
              #sliderTabPager_2.swiper-pagination-custom.swiper-pagination.swiper-slider-dot
          li.content__box.clearfix
            ul#sliderTab_3.swiper-container.slider__tab
              li.swiper-wrapper
                .content__item.swiper-slide
                  a(href="https://www.etmall.com.tw/i/2585124", title="多喝水微鹼性竹炭離子水850ml")
                    img(src="https://media.etmall.com.tw/NXimg/002585/2585124/2585124-1_XL.jpg", alt="多喝水微鹼性竹炭離子水850ml")
                  .content__text 【味丹】多喝水微鹼性竹炭離子水850ml(20瓶/箱)
                  .content__price $377
                .content__item.swiper-slide
                  a(href="https://www.etmall.com.tw/i/2622462", title="屏大薄鹽醬油熱銷組")
                    img(src="https://media.etmall.com.tw/NXimg/002622/2622462/2622462-1_XL.jpg", alt="屏大薄鹽醬油熱銷組")
                  .content__text 屏大薄鹽醬油熱銷組(薄鹽醬油710ml*4+薄鹽醬油膏300ml*2 共6入/組)
                  .content__price $977
                .content__item.swiper-slide
                  a(href="https://www.etmall.com.tw/i/2585915", title="牙齦專業護理漱口水")
                    img(src="https://media.etmall.com.tw/NXimg/002585/2585915/2585915-1_XL.jpg", alt="牙齦專業護理漱口水")
                  .content__text 牙周適 牙齦專業護理漱口水-極淨清新(500ml)*3
                  .content__price $777
                .content__item.swiper-slide
                  a(href="https://www.etmall.com.tw/i/2368308", title="LONGCHAMP LE PLIAGE NÉO系列新款厚尼龍奔馬織紋寬背帶短把手提")
                    img(src="https://media.etmall.com.tw/NXimg/002368/2368308/2368308-1_XL.jpg", alt="LONGCHAMP LE PLIAGE NÉO系列新款厚尼龍奔馬織紋寬背帶短把手提")
                  .content__text LONGCHAMP LE PLIAGE NÉO系列新款厚尼龍奔馬織紋寬背帶短把手提/斜背兩用包(中/多色選)
                  .content__price $4,977
                .content__item.swiper-slide
                  a(href="https://www.etmall.com.tw/i/2575322", title="古傳花旗蔘熬雞精1盒")
                    img(src="https://media.etmall.com.tw/NXimg/002575/2575322/2575322-1_XL.jpg", alt="古傳花旗蔘熬雞精1盒")
                  .content__text 華陀扶元堂 古傳花旗蔘熬雞精1盒(10包/盒)
                  .content__price $777
                .content__item.swiper-slide
                  a(href="https://www.etmall.com.tw/i/2677974", title=" Chocola BB 蜂王飲")
                    img(src="https://media.etmall.com.tw/NXimg/002677/2677974/2677974-1_XL.jpg", alt="Chocola BB 蜂王飲")
                  .content__text 【Eisai 衛采】Chocola BB 蜂王飲×20瓶(1盒10瓶裝 曾沛慈代言)
                  .content__price $1,277
                .content__item.swiper-slide
                  a(href="https://www.etmall.com.tw/i/2611834", title="DeMon_極緻美白生物纖維面膜X3盒")
                    img(src="https://media.etmall.com.tw/NXimg/002611/2611834/2611834-1_XL.jpg", alt="DeMon_極緻美白生物纖維面膜X3盒")
                  .content__text DeMon_極緻美白生物纖維面膜X3盒
                  .content__price $1,477
                .content__item.swiper-slide
                  a(href="https://www.etmall.com.tw/i/2620714", title="7吋渦輪循環扇風扇SL")
                    img(src="https://media.etmall.com.tw/NXimg/002620/2620714/2620714-1_XL.jpg", alt="7吋渦輪循環扇風扇SL")
                  .content__text SDL山多力 7吋渦輪循環扇風扇SL-VF07
                  .content__price $877
                .content__item.swiper-slide
                  a(href="https://www.etmall.com.tw/i/2665698", title="HTC Desire 20 pro 6.5吋八核心智慧手機")
                    img(src="https://media.etmall.com.tw/NXimg/002665/2665698/2665698-1_XL.jpg", alt="HTC Desire 20 pro 6.5吋八核心智慧手機")
                  .content__text HTC Desire 20 pro 6.5吋八核心智慧手機(6G+128G)
                  .content__price $8,177
                .content__item.swiper-slide
                  a(href="https://www.etmall.com.tw/i/2127416", title="小巧文書筆電")
                    img(src="https://media.etmall.com.tw/NXimg/002127/2127416/2127416-1_XL.jpg", alt="小巧文書筆電")
                  .content__text Acer宏碁 A111-31-C3M0 小巧文書筆電 11.6吋/N4000/4G/64G eMMC/W10S/送Office365 藍
                  .content__price $7,777
              #sliderTabPager_3.swiper-pagination-custom.swiper-pagination.swiper-slider-dot