.promo__group--w3m3
  +pos-set(relative, zero)
  .promo__title
    +pos-set(relative, third)
    width: 60%
  .decoration--w3m3
    &-left
      top: 0
      right: 72%
      width: 11%
    &-right
      top: 3%
      left: 70%
      width: 10%
    +breakpoint-min($min-width-xl)
      &-left
        right: calc(50% + 215px)
        width: 101px
      &-right
        top: 15px
        left: calc(50% + 190px)
        width: 89px

  .promo__body
    +bg-set(url("~event/1st/e-main/components/event-w3m3/bg-event-w3m3.png"), 100% auto)
    .good__wrap
      display: flex
      flex-wrap: wrap
      justify-content: space-between
      margin-top: -15%
      padding: 17% 6% 3% 5%
      li
        margin-bottom: 2%
        width: 32%
        // padding: 1% .5%
        a
          transition: transform 0.5s
        &:hover
          a
            transform: scale(1.1)
            filter: brightness(120%)

    +breakpoint-min($min-width-xl)
      width: 100%
      max-width: 960px
      margin: 0 auto
