section.hero__wrap
  .layout--main
    .hero__zone
      .hero__box
        .hero__title.hero__title--main.block-center
          h1
            .title__box(title="本月銀行優惠")
              img(src="event/1st/e-main/components/hero-section/title.jpg", alt="本月銀行優惠")
    .promo__box
      a(href="", title="超殺優惠在此！")
        img(src="event/1st/e-main/components/hero-section/hero-promo.jpg", alt="超殺優惠在此！")
