.promo__slider.hero__slider
  #sliderSmall.swiper-container
    ul.swiper-wrapper
      li.swiper-slide
        h2.hero__title.hero__title--sub.block--center
          a(href="https://www.etmall.com.tw/XML/content/DMSetting/Final/209902/SP_1106649/w/index.html#citi", title="花旗滿15000送1200刷卡金")
            img(src="~event/2nd/e-main/components/hero-small-slider/items/sub-title-1.png", alt="花旗滿15000送1200刷卡金")
      li.swiper-slide
        h2.hero__title.hero__title--sub.block--center
          a(href="https://www.etmall.com.tw/XML/content/DMSetting/Final/209902/SP_1106649/w/index.html#sinopac", title="永豐滿25000送1500刷卡金")
            img(src="~event/2nd/e-main/components/hero-small-slider/items/sub-title-2.png", alt="永豐滿25000送1500刷卡金")
      li.swiper-slide
        h2.hero__title.hero__title--sub.block--center
          a(href="https://www.etmall.com.tw/XML/content/DMSetting/Final/209902/SP_1106649/w/index.html#citi", title="花旗滿30000送3000刷卡金")
            img(src="~event/2nd/e-main/components/hero-small-slider/items/sub-title-3.png", alt="花旗滿30000送3000刷卡金")


