//- TODO: 給別的component引入時不需要前兩行要切換
//- section.promo__group.promo__group--bn-special.m-bottom--md
//- 懈購1+1
.promo__slider.one__slider
  //img#scrollDecoBird.decoration__bird(src="~event/2nd/e-main/components/one-item-slider/decoration__bird.png", alt="")
  //.one__slider-web--bg
  .layout--main
    .decoration--leftRight--outer
      .scroll__flower
        img#oneItemSlider__deso-1(src="~event/2nd/e-main/components/one-item-slider/scroll__ribbon.png", alt="")
    section.one__slider__wrap-1
      #sliderOneItem.swiper-container
        ul.swiper-wrapper
          li.swiper-slide
            a(href="https://www.etmall.com.tw/i/2865823", title="SK-II 青春露230ml")
              img.swiper-lazy(data-src="~event/2nd/e-main/components/one-item-slider/items/mother-1.png", alt="美魔女", src="~assets/img/1x1_low.png")
          li.swiper-slide
            a(href="https://www.etmall.com.tw/i/2757117", title="都會新貴鱘熹王膠囊(共240顆)")
              img.swiper-lazy(data-src="~event/2nd/e-main/components/one-item-slider/items/mother-2.png", alt="活力媽咪", src="~assets/img/1x1_low.png")
          li.swiper-slide
            a(href="https://www.etmall.com.tw/i/2826865", title="象印10人份微電腦電子鍋")
              img.swiper-lazy(data-src="~event/2nd/e-main/components/one-item-slider/items/mother-3.png", alt="家庭主婦", src="~assets/img/1x1_low.png")
          li.swiper-slide
            a(href="https://www.etmall.com.tw/i/2856634", title="小米手環 5限量送錶帶與保貼")
              img.swiper-lazy(data-src="~event/2nd/e-main/components/one-item-slider/items/mother-4.png", alt="年輕媽咪", src="~assets/img/1x1_low.png")
          li.swiper-slide
            a(href="https://www.etmall.com.tw/i/2967953", title="ViewSonic27型IPS液晶螢幕")
              img.swiper-lazy(data-src="~event/2nd/e-main/components/one-item-slider/items/mother-5.png", alt="職場女強人", src="~assets/img/1x1_low.png")
          li.swiper-slide
            a(href="https://www.etmall.com.tw/i/2981577", title="漢克嚴選買9送9再送NG牛")
              img.swiper-lazy(data-src="~event/2nd/e-main/components/one-item-slider/items/mother-6.png", alt="料理達人", src="~assets/img/1x1_low.png")
          li.swiper-slide
            a(href="https://www.etmall.com.tw/i/2794394", title="白蘭4X酵素洗衣球")
              img.swiper-lazy(data-src="~event/2nd/e-main/components/one-item-slider/items/mother-7.png", alt="萬能媽咪", src="~assets/img/1x1_low.png")
          li.swiper-slide
            a(href="https://www.etmall.com.tw/gp/119030", title="寵愛媽咪精品熱銷款65折up")
              img.swiper-lazy(data-src="~event/2nd/e-main/components/one-item-slider/items/mother-8.png", alt="氣質媽咪", src="~assets/img/1x1_low.png")
          li.swiper-slide
            a(href="https://www.etmall.com.tw/i/2980970", title="桂格媽媽營養品x2罐")
              img.swiper-lazy(data-src="~event/2nd/e-main/components/one-item-slider/items/mother-9.png", alt="新手媽咪", src="~assets/img/1x1_low.png")

        #sliderOneItemPrev.swiper-button-white.swiper-button-prev.slider__one__item__prev
        #sliderOneItemNext.swiper-button-white.swiper-button-next.slider__one__item__next
      //#sliderOneItemPager.one__slider-pager.swiper-pagination
