section.special--w32m31
  .special__wrap
    // +bg-set(url(event/1st/e-main/components/special-w32m31/w32m31-bg-2.jpg), 100%)
    // background-repeat: repeat-y
  .special__items
    display: flex
    justify-content: space-between
    flex-wrap: wrap
    padding: 4% 4% 2.5%
  .special__item
    width: 32%
    margin-bottom: 3%
  .special__item--add
    margin: 0 auto 2%
    width: 90%
    +breakpoint-min($min-width-xl)
      width: 48%
