section.hero__wrap
  .hero__zone
    .layout--main
      #heroBlock.hero__block
        .hero__box
          //- 標題
          h1.hero__title.hero__title--main.block--center.wow(title="一直灑一直爽")
            img(src="~event/3rd/e-main/components/hero-section/title.png", alt="一直灑一直爽")
          //.title-decoration__wrap
          //  .title__decoration.title__decoration--top.wow
          //    img(src="~event/3rd/e-main/components/hero-section/decoration-title.png", alt="33激搶")
                //.sprite.decoration--1
                //.sprite.decoration--2
                  //img(src="~event/3rd/e-main/components/hero-section/decoration-step-1.png", alt="")
                  //img(src="~event/3rd/e-main/components/hero-section/decoration-step-2.png", alt="")

          //- 副標
          //include /event/3rd/e-main/components/hero-small-slider/_hero-small-slider

        //- .block-decoration.decoration
        //- .block-decoration.decoration--right

  .promo__zone
    .layout--main
      .promo__block
        //- 行銷誘因
        include /event/3rd/e-main/components/promo-event/_promo-event

        //- 商品輪播
        //- include /event/3rd/e-main/components/goods-slider-flip/_goods-slider-flip
        include /event/3rd/e-main/components/event-w4m4/_event-w4m4

  //- include /event/3rd/e-main/components/background-decoration/_background-decoration.pug


