

section.hero
  .layout--main
    .hero__wrap
      .hero__zone
        .video__wrap
          include /event/1st/e-main/components/hero-section/hero-video/_hero-video.pug

        .hero__title
          .title--main
              img(src="event/1st/e-main/components/hero-section/title.png" alt="雙11Ready購")
          .title--text 
            a(href="")
              img(src="event/1st/e-main/components/hero-section/title-text.png" alt="雙11Ready購")

        .decor__wrap.full-parent
          .decor__item.decor__item--left
          .decor__item.decor__item--etrabbit
            img(src="event/1st/e-main/components/hero-section/decor-hero-etrabbit.png", alt="")
          .decor__item.decor__item--message-1
          .decor__item.decor__item--message-2
            img(src="event/1st/e-main/components/hero-section/decor-hero-message-2.png", alt="")