

section.hero
  .hero__decor--top
    .decor--top
      img(src="event/2nd/e-main/components/hero-section/decor-item-1.png", alt="")
    .decor--top
      img(src="event/2nd/e-main/components/hero-section/decor-item-2.png", alt="")

  .layout--main
    .hero__wrap

      //- .laser-beam
      //- .laser-beam.laser-beam--red1
      //- .laser-beam.laser-beam--red2
      //- .laser-beam.laser-beam--blue1
      //- .laser-beam.laser-beam--blue2

      .hero__zone
        include /event/2nd/e-main/components/hero-section/hero-video/_hero-video.pug
        .hero__title
          .title--main
            a(href="")
              img(src="event/2nd/e-main/components/hero-section/title.png" alt="雙11Ready購")

        .decor__wrap.full-parent
          .decor__item.decor__item--left
            img(src="event/2nd/e-main/components/hero-section/decor-item-3.png", alt="")
          .decor__item.decor__item--right
            img(src="event/2nd/e-main/components/hero-section/decor-item-4.png", alt="")
          .decor--top.decor__item--bottom1
            img(src="event/2nd/e-main/components/hero-section/decor-hero-bottom-1.png", alt="")
          .decor--top.decor__item--bottom2
            img(src="event/2nd/e-main/components/hero-section/decor-hero-bottom-2.png", alt="")
          .decor--top.decor__item--bottom3
            img(src="event/2nd/e-main/components/hero-section/decor-hero-bottom-3.png", alt="")
          .decor--top.decor__item--bottom4
            img(src="event/2nd/e-main/components/hero-section/decor-hero-bottom-4.png", alt="")
          .decor--top.decor__item--bottom5
            img(src="event/2nd/e-main/components/hero-section/decor-hero-bottom-2.png", alt="")
          .decor--top.decor__item--bottom6
            img(src="event/2nd/e-main/components/hero-section/decor-hero-bottom-3.png", alt="")

          