.modal__wrap
  .modal__head
    span 許願紀錄
  .modal__body
    .data--none 目前無投票紀錄
    .data__wrap
      table.rwd-table
        tr
          th 許願日期
          th 已許願次數/可許願次數
          th 許願獎勵
        tr
          td(data-th="許願日期")
            span 2021/05/22
          td(data-th="已許願次數/可許願次數")
            span 1/3
          td(data-th="許願獎勵")
            span 獲得東森幣x10枚獲得東森幣x10枚獲得東森幣x10枚獲得東森幣x10枚獲得東森幣x10枚獲得東森幣x10枚獲得東森幣x10枚獲得東森幣
        tr
          td(data-th="許願日期")
            span 2021/05/22
          td(data-th="已許願次數/可許願次數")
            span 1/3
          td(data-th="投票獎勵")
            span 獲得東森幣x10枚
        tr
          td(data-th="許願日期")
            span 2021/05/22
          td(data-th="已許願次數/可許願次數")
            span 1/3
          td(data-th="許願獎勵")
            span 獲得東森幣x10枚
        tr
          td(data-th="許願日期")
            span 2021/05/22
          td(data-th="已許願次數/可許願次數")
            span 1/3
          td(data-th="許願獎勵")
            span 獲得東森幣x10枚
        tr
          td(data-th="許願日期")
            span 2021/05/22
          td(data-th="已許願次數/可許願次數")
            span 1/3
          td(data-th="許願獎勵")
            span 獲得東森幣x10枚
        tr
          td(data-th="投票日期")
            span 2021/05/22
          td(data-th="已許願次數/可許願次數")
            span 1/3
          td(data-th="許願獎勵")
            span 獲得東森幣x10枚
        tr
          td(data-th="許願日期")
            span 2021/05/22
          td(data-th="已許願次數/可許願次數")
            span 1/3
          td(data-th="許願獎勵")
            span 獲得東森幣x10枚
        tr
          td(data-th="許願日期")
            span 2021/05/22
          td(data-th="已許願次數/可許願次數")
            span 1/3
          td(data-th="投票獎勵")
            span 獲得東森幣x10枚
        tr
          td(data-th="許願日期")
            span 2021/05/22
          td(data-th="已許願次數/可許願次數")
            span 1/3
          td(data-th="許願獎勵")
            span 獲得東森幣x10枚
        tr
          td(data-th="許願日期")
            span 2021/05/22
          td(data-th="已許願次數	/可許願次數	")
            span 1/3
          td(data-th="許願獎勵")
            span 獲得東森幣x10枚
        tr
          td(data-th="許願日期")
            span 2021/05/22
          td(data-th="已許願次數/可許願次數")
            span 1/3
          td(data-th="許願獎勵")
            span 獲得東森幣x10枚
        tr
          td(data-th="許願日期")
            span 2021/05/22
          td(data-th="已許願次數/可許願次數")
            span 1/3
          td(data-th="許願獎勵")
            span 獲得東森幣x10枚

    .modal__info
      p 許願完3次即可獲得10枚東森幣，獎項發送及相關說明請參閱活動頁下方活動說明，謝謝。
      p 東森幣怎麼花?!快來看看可折抵的好康商品吧！&gt;&gt;
        a(href="", title="必Buy攻略") 必Buy攻略

