section.promo__group.promo__group--time.m-bottom--md
  .layout--main
    .promo__head.m-bottom--sm
      .promo__title
        img(src="~components/time-section/section-title-time.png", alt="")
    .promo__body
      .time__wrap
        .time__zone
          .time__item
            .time__block.shape--radius.shape--blue.shape--blur
              .time__title.shape--capsule 報名時間
              .time__box
                div
                  div 5/14(五)
                  div 10:00
                div
                  span ~
                div
                  div 5/28(五)
                  div 23:59
            .decoration__time
              img(src="~components/time-section/icon-arrow.svg", alt="")
          .time__item
            .time__block.shape--radius.shape--blue.shape--blur
              .time__title.shape--capsule 審核時間
              .time__box
                div
                  div 6/3(四)
                div
                  span ~
                div
                  div 6/8(二)
            .decoration__time
              img(src="~components/time-section/icon-arrow.svg", alt="")
          .time__item
            .time__block.shape--radius.shape--blue.shape--blur
              .time__title.shape--capsule 投票時間
              .time__box
                div
                  div 6/10(四)
                  div 10:00
                div
                  span ~
                div
                  div 6/30(三)
                  div 23:59
            .decoration__time
              img(src="~components/time-section/icon-arrow.svg", alt="")
          .time__item
            .time__block.shape--radius.shape--blue.shape--blur
              .time__title.shape--capsule 公布得獎
              .time__box
                div
                  div 7/15(四)

