.loyalty__block
  margin-left: 16px
  margin-right: 16px

.loyalty__box
  padding: 0 20px
  +bg-set(url(event/1st/e-main/components/loyalty-card/bg-card.png), 100%, null, null, repeat)

  .point__wrap
    margin-bottom: 10px
    padding: 10px
    text-align: center
    background-color: $gray-deep-dark
    border-radius: 6px

  .point__head
    margin-bottom: 10px
    color: $gray-deep-light

  .point__body
    +pos-set(relative, zero)

  .point__head,
  .point__body span + span
    font-size: 16px

  .point__body,
  .login__error
    color: $main-color-4
    font-size: 30px
    font-weight: bold

  .login__error
    display: block
    +pos-set(absolute, base, 0, 0)
    width: 100%
    background-color: $gray-deep-dark
    text-align: center

  +breakpoint-min($min-width-lg)
    display: flex
    padding: 0 30px
    .point__wrap
      width: 250px
      margin-right: 15px
      padding: 20px

    .point__head
      margin: 0 auto 30px
      padding-bottom: 5px
      width: 170px
      border-bottom: 1px solid $gray-deep-light

    .point__head,
    .point__body span + span
      font-size: 24px

    .point__body
      font-size: 56px
    .login__error
      padding-bottom: 20px
      font-size: 42px

    .rule__wrap
      width: calc(100% - 250px - 15px)

  +breakpoint-min($min-width-xl)
    padding: 0 50px
    .point__wrap
      margin-right: 30px
    .point__head
      margin-bottom: 50px

    .rule__wrap
      width: calc(100% - 250px - 30px)