- var heroBankData = {etmall: "https://www.etmall.com.tw/XML/content/DMSetting/Final/201908/SP_1107836/w/index.html", umall: "https://www.u-mall.com.tw/XML/content/DMSetting/Final/201908/SP_1104315/w/index.html"}
- var heroBankInfo = isU ? heroBankData.umall : heroBankData.etmall

section.hero__wrap.m-bottom--sm
  .layout--main
    .hero__zone
      .hero__decoration.top__decoration.top__decoration--left
      .hero__decoration.top__decoration.top__decoration--right
      .hero__decoration.zone__decoration--left
        img(src="~event/1st/e-sp/components/hero-section/zone-decoration-l.png", alt="")
      .hero__decoration.zone__decoration--middle
        img(src="~event/1st/e-sp/components/hero-section/zone-decoration-m.png", alt="")
      .hero__decoration.zone__decoration--right
        img(src="~event/1st/e-sp/components/hero-section/zone-decoration-r.png", alt="")
      
      .hero__block.m-bottom--sm
        .hero__decoration.block__decoration
        .hero__box

          h1.hero__title.hero__title--main.block--center(title="東森購物雙11先搶")
            img(src="~event/1st/e-sp/components/hero-section/title.png", alt="東森購物雙11先搶")

      .promo__block
        include /event/1st/e-sp/components/goods-slider-flip/_goods-slider-flip

        include /event/1st/e-sp/components/promo-event/_promo-event
