section.promo__group.daily-time.m-bottom--md(data-title="限時瘋搶")
  .layout--main
    .decor__wrap.full-parent
      .decor__item.decor__item--title#decorDailyTimeTitle
        img(src="event/2nd/e-main/components/daily-time/decor-daily-time-title.png", alt="")
      .decor__item.decor__item--left#decorDailyTimeLeft
        img(src="event/2nd/e-main/components/daily-time/decor-daily-time-left.png", alt="")
      .decor__item.decor__item--right#decorDailyTimeRight
        img(src="event/2nd/e-main/components/daily-time/decor-daily-time-right.png", alt="")
    .promo__wrap
      .promo__zone
        .promo__block
          #dailyTime
            .product__wrap
