.sub-nav
  position: sticky
  z-index: map-get($zindex, ten)
  top: -0.8%
  width: 100%
  background-color: $gray-light
  transition: top 0.3s
  overflow: hidden
  &.sticky
    position: sticky
    top: 22vw
  +breakpoint-min($min-width-lg)
    top: -136px
    &.sticky
      top: 136px
  +breakpoint-min($min-width-xl)
    top: -151px
    &.sticky
      top: 98px
.sub-list__wrap
  +nav-overflow-x
  +display-flex
  padding: 0
  white-space: nowrap
  animation: 0.5s fade-right both
  .sub-list__item
    +flex(0, 0, 22%)
    padding-top: 1.6rem
    min-width: 80px
    overflow: hidden
    a
      +font-size($fz-12)
      display: block
      width: 100%
      height: 100%
      color: $gray-dark
      text-align: center
    img
      max-width: 55px
    .item__info
      min-height: 4.4rem
      > div
        // TODO: 如果要空出各行高度就打開，關起來沒有的行會自動0高度讓下面那行靠上去
        // height: 1em
        line-height: 120%
    .item__notice
      height: 16px
      color: $primary-medium
      font-weight: normal

  +breakpoint-min($min-width-lg)
    // justify-content: center
    // padding: 0 100px
    .sub-list__item
      +flex(0, 0, 16.5%)
      min-width: 108px
      a
        +font-size($fz-16)
      img
        max-width: 85px
        margin-bottom: 5px

  +breakpoint-min($min-width-xl)
    padding: 0 500px
    .sub-list__item
      height: calc(7.6rem + 76px)

.sub-nav__list
  display: none
.sub-nav__list.active
  display: block

// TODO: 各家廠商的設定
.sub-nav
  +switch-class($partner, apple)
    background-color: $gray-light
    .sub-list__wrap
      +breakpoint-min($min-width-lg)
        justify-content: center
        padding: 0 100px
      +breakpoint-min($min-width-xl)
        padding: 0 500px
    .sub-list__item
      .item__notice
        color: $apple-primary-notice
      a
        color: $gray-dark

  +switch-class($partner, mi)
    .sub-list__wrap
      +breakpoint-min($min-width-xl)
        justify-content: center
        margin-left: -355px
        padding: 0 850px
    .sub-list__item
      .item__notice
        color: $mi-primary-notice
    .sub-list__item
      a
        color: $gray-dark
