-
  var promoSpecialData = [
    [
      {
        link: "https://www.etmall.com.tw/gp/205117",
        imgSrc: "event/2nd/e-main/components/promo-special/items/bn-p-special-1.jpg",
        alt: "美妝",
      },
      {
        link: "https://www.etmall.com.tw/p/204160",
        imgSrc: "event/2nd/e-main/components/promo-special/items/bn-p-special-2.jpg",
        alt: "保健",
      },
      {
        link: "https://www.etmall.com.tw/bs/162004",
        imgSrc: "event/2nd/e-main/components/promo-special/items/bn-p-special-3.jpg",
        alt: "生活流行",
      }, 
      {
        link: "https://www.etmall.com.tw/gp/203024",
        imgSrc: "event/2nd/e-main/components/promo-special/items/bn-p-special-4.jpg",
        alt: "生活流行",
      },
      {
        link: "https://media.etmall.com.tw/sp/20688/m/index.html",
        imgSrc: "event/2nd/e-main/components/promo-special/items/bn-p-special-5.jpg",
        alt: "生活流行",
      },
      //- {
      //-   link: "https://media.etmall.com.tw/sp/21368/m/index.html",
      //-   imgSrc: "event/2nd/e-main/components/promo-special/items/bn-p-special-6.jpg",
      //-   alt: "環球",
      //- },
      {
        link: "https://media.etmall.com.tw/sp/20340/m/index.html",
        imgSrc: "event/2nd/e-main/components/promo-special/items/bn-p-special-6.jpg",
        alt: "3C",
      },
      {
        link: "https://media.etmall.com.tw/sp/9765/m/index.html",
        imgSrc: "event/2nd/e-main/components/promo-special/items/bn-p-special-7.jpg",
        alt: "家電",
      },
    ],
    [
      {
        link: "https://media.etmall.com.tw/sp/20625/m/index.html#citi",
        imgSrc: "event/2nd/e-main/components/promo-special/items/item-p-special-1.png",
        alt: "最高回饋12%",
      },
    ],
    [
      {
        link: "https://media.etmall.com.tw/sp/20625/m/index.html#esun",
        imgSrc: "event/2nd/e-main/components/promo-special/items/item-p-special-2.png",
        alt: "最高回饋10%",
      },
    ],
    [
      {
        link: "https://media.etmall.com.tw/sp/20625/m/index.html#entie",
        imgSrc: "event/2nd/e-main/components/promo-special/items/item-p-special-3.png",
        alt: "最高回饋10%",
      },
    ],
    [
      { // 1
        link: "https://media.etmall.com.tw/sp/20625/m/index.html#aftee",
        imgSrc: "event/2nd/e-main/components/promo-special/items/bn2-p-special-1.png",
        alt: "最高回饋10%"
      },
      { // 2
        link: "https://media.etmall.com.tw/sp/20625/m/index.html#citi",
        imgSrc: "event/2nd/e-main/components/promo-special/items/bn2-p-special-2.png",
        alt: "單件商品分期滿$15,000送$1,800 東森提貨券"
      },
      { // 3
        link: "https://media.etmall.com.tw/sp/20625/m/index.html#esun",
        imgSrc: "event/2nd/e-main/components/promo-special/items/bn2-p-special-3.png",
        alt: "累積分期滿$7,000送$700"
      },
      { // 4
        link: "https://media.etmall.com.tw/sp/20625/m/index.html#union",
        imgSrc: "event/2nd/e-main/components/promo-special/items/bn2-p-special-4.png",
        alt: "累積分期滿$25,000送$2,000"
      },
      { // 5
        link: "https://media.etmall.com.tw/sp/20625/m/index.html#dbs",
        imgSrc: "event/2nd/e-main/components/promo-special/items/bn2-p-special-5.png",
        alt: "累積分期滿$38,000送$3,200"
      },
      { // 6
        link: "https://media.etmall.com.tw/sp/20625/m/index.html#fartrust",
        imgSrc: "event/2nd/e-main/components/promo-special/items/bn2-p-special-6.png",
        alt: "單件商品分期滿$25,000送$2,000"
      },
      { // 7
        link: "https://media.etmall.com.tw/sp/18972/m/index.html",
        imgSrc: "event/2nd/e-main/components/promo-special/items/bn2-p-special-7.png",
        alt: "《玉山數位e卡 》天天享5%"
      },
    ],
  ]

section.promo__group.promo-special
  .layout--main
    .promo__wrap
      .promo__zone
        .promo__block
          ul.promo__slider
            each data, index in promoSpecialData
              li.event__item(id="promoSpecialItem" + (index + 1))
                .swiper-container.container--promo-special
                  ul.swiper-wrapper
                    each item, itemIndex in data
                      li.swiper-slide.promo__item
                        a(href=  item.link, title= item.alt)
                          img(src=  item.imgSrc,  item.alt)