header.header__wrap--sp.m-bottom--xs
  .layout--main
    .header__zone
      a.logo(href= siteInfo.link)
        img(src= siteInfo.imgSrc, alt= siteInfo.alt)
      .header__title--sp
        h1.pic
          img(src="../layout/header/sp/title.png", alt= mainTitleAlt ? mainTitleAlt : "超優質活動照過來")