section.promo__group.promo__group--cover.m-bottom--sm
  .layout--main
    #infoCover.info__cover
      .info__cover--wrap
        .info__block
          .info__box.info--web.web-display
            img(src="event/1st/e-main/components/info-cover/info-qrcode.png", alt="")
          .info__box.info--main
            a.btn--download(href="https://apps.apple.com/tw/app/ehs%E6%9D%B1%E6%A3%AE%E8%B3%BC%E7%89%A9/id974433138", title="到App Store下載東森購物APP")
              img(src="event/1st/e-main/components/info-cover/info-app-store.png", alt="到App Store下載東森購物APP")
            a.btn--download(href="https://play.google.com/store/apps/details?id=com.hyxen.app.etmall&hl=zh_TW", title="到Google Play下載東森購物APP")
              img(src="event/1st/e-main/components/info-cover/info-google-play.png", alt="到Google Play下載東森購物APP")
            a.btn--app.block--center(href="etmall://open?pgid=44&url=https%3a%2f%2fmedia.etmall.com.tw%2fsp%2f9697%2fm%2fapp.html", title="到東森購物APP中玩遊戲")
              img(src="event/1st/e-main/components/info-cover/info-text.png", alt="到東森購物APP中玩遊戲")
            a.btn--web.block--center(href="etmall://open?pgid=44&url=https%3a%2f%2fmedia.etmall.com.tw%2fsp%2f9697%2fm%2fapp.html", title="到東森購物APP中玩遊戲")
              img(src="event/1st/e-main/components/info-cover/info-app-text.png", alt="到東森購物APP中玩遊戲")
            a.btn--note.block--center(href="", title="詳情請點我")
              img(src="event/1st/e-main/components/random-show/random-show-btn.png", alt="詳情請點我")
