section.hero
  .layout--main
    .hero__wrap
      .hero__zone
        .decor__wrap.full-parent
          .decor__item.decor__item--figure#decorFigure
            .decor__item.decor__item--arm1
              img(src="event/1st/e-main/components/hero-section/hero-arm-1.png", alt="")
            .decor__item.decor__item--arm2
              img(src="event/1st/e-main/components/hero-section/hero-arm-2.png", alt="")
            .decor__item.decor__item--arm3
              img(src="event/1st/e-main/components/hero-section/hero-arm-3.png", alt="")
            .decor__item.decor__item--arm4
              img(src="event/1st/e-main/components/hero-section/hero-arm-4.png", alt="")
            .decor__item.decor__item--body
            //- img(src="event/1st/e-main/components/hero-section/hero-figure.png", alt="")
          .decor__item.decor__item--figure-decor
            img(src="event/1st/e-main/components/hero-section/hero-figure-decor.png", alt="")
          
        .hero__title
          .title--main
            a(href="")
              img(src="event/1st/e-main/components/hero-section/title.png" alt="我的超人媽咪")

        //- .video__wrap
        //-   include /event/1st/e-main/components/hero-section/hero-video/_hero-video.pug