.note {
  font-size: 15px;
  word-break: break-all;
  line-height: 150%;
}

.note article {
  padding: 1.5%;
  border-radius: 5px;
}

.note article a{
  display: inline;
  text-decoration: underline;
}

.note article a:hover {
  text-decoration: none;
}

.note li {
  padding: 5px;
}

.note ol>li {
  margin-left: 30px;
}

.act_name{
  text-align: center;
  letter-spacing: 2px;
  font-weight: bold;
  padding: 15px;
  border-radius: 5px;
}

.h2_style{
  margin-top: 15px;
}

.note table.rwd-table{
  margin: 0 0 10px 0;
  width: 100%;
  border: none;
  border-collapse: collapse;
  overflow: hidden;
}