section.promo__group.promo__group-hot(data-title="熱門活動")
  .promo__wrap
    #sliderBnEventHot.promo__slider.swiper-container
      .swiper-wrapper
        li.swiper-slide
          a(href="https://www.etmall.com.tw/XML/content/DMSetting/Final/202005/SP_1115524/w/index.html", title="森活保健頻道")
            img(src="~event/2nd/e-66/components/bn-event-hot/items/bn-hot-1.jpg", alt="森活保健頻道")
        li.swiper-slide
          a(href="https://www.etmall.com.tw/np/64075", title="專櫃防曬5折up")
            img(src="~event/2nd/e-66/components/bn-event-hot/items/bn-hot-2.jpg", alt="專櫃防曬5折up")
        li.swiper-slide
          a(href="https://www.etmall.com.tw/XML/content/DMSetting/Final/202004/SP_1115097/w/index.html", title="夯食熱銷")
            img(src="~event/2nd/e-66/components/bn-event-hot/items/bn-hot-3.jpg", alt="夯食熱銷")
        li.swiper-slide
          a(href="https://www.etmall.com.tw/c3/139709", title="最高回饋20%東森幣")
            img(src="~event/2nd/e-66/components/bn-event-hot/items/bn-hot-4.jpg", alt="最高回饋20%東森幣")
        li.swiper-slide
          a(href="https://www.etmall.com.tw/c3/140676", title="SAMSUNG M11 超值價$3,990")
            img(src="~event/2nd/e-66/components/bn-event-hot/items/bn-hot-5.jpg", alt="SAMSUNG M11 超值價$3,990")
        li.swiper-slide
          a(href="https://www.etmall.com.tw/XML/content/DMSetting/Final/202005/SP_1115378/w/index.html", title="買MyCard包你發")
            img(src="~event/2nd/e-66/components/bn-event-hot/items/bn-hot-6.jpg", alt="買MyCard包你發")
        li.swiper-slide
          a(href="https://www.etmall.com.tw/np/100194", title="大家衣起涼3折up")
            img(src="~event/2nd/e-66/components/bn-event-hot/items/bn-hot-7.jpg", alt="大家衣起涼3折up")
        li.swiper-slide
          a(href="https://www.etmall.com.tw/XML/content/DMSetting/Final/202005/SP_1115478/w/index.html", title="日用讓你夏日涼一夏")
            img(src="~event/2nd/e-66/components/bn-event-hot/items/bn-hot-8.jpg", alt="日用讓你夏日涼一夏")
    #sliderBnEventHotPager.promo-pager.swiper-pagination