-
  var sweetPointDataE = [
    {
      itemName: '流行日用',
      link: "https://media.etmall.com.tw/sp/9848/m/index.html",
      imgSrc: "event/3rd/e-main/components/double-slider/items/content/content-1-1.jpg",
      alt: "日用館年中瘋狂GO"
    },
    {
      itemName: '流行日用',
      link: "https://www.etmall.com.tw/gp/134685",
      imgSrc: "event/3rd/e-main/components/double-slider/items/content/content-1-2.jpg",
      alt: "防曬☀防疫☣防護外套"
    },
    {
      itemName: '流行日用',
      link: "https://media.etmall.com.tw/sp/9589/m/index.html",
      imgSrc: "event/3rd/e-main/components/double-slider/items/content/content-1-3.jpg",
      alt: "618年中慶領168折價券!"
    },
    {
      itemName: '美妝保健',
      link: "https://www.etmall.com.tw/p/135427",
      imgSrc: "event/3rd/e-main/components/double-slider/items/content/content-2-1.jpg",
      alt: "台塑髮品年中慶6折起"
    },
    {
      itemName: '美妝保健',
      link: "https://www.etmall.com.tw/gp/134477",
      imgSrc: "event/3rd/e-main/components/double-slider/items/content/content-2-2.jpg",
      alt: "夏季口罩妝容HOT"
    },
    {
      itemName: '美妝保健',
      link: "https://www.etmall.com.tw/c3/29612",
      imgSrc: "event/3rd/e-main/components/double-slider/items/content/content-2-3.jpg",
      alt: "長大人防護成長好給力"
    },
    {
      itemName: '3C家電',
      link: "https://media.etmall.com.tw/sp/9775/m/index.html",
      imgSrc: "event/3rd/e-main/components/double-slider/items/content/content-3-1.jpg",
      alt: "全民!風家電"
    },
    {
      itemName: '3C家電',
      link: "https://media.etmall.com.tw/sp/9832/m/index.html",
      imgSrc: "event/3rd/e-main/components/double-slider/items/content/content-3-2.jpg",
      alt: "小米618年中慶"
    },
    {
      itemName: '3C家電',
      link: "https://media.etmall.com.tw/sp/9950/m/index.html",
      imgSrc: "event/3rd/e-main/components/double-slider/items/content/content-3-3.jpg",
      alt: "獨家虛寶再送健身環"
    },
  ]

section.promo__group.promo__group--double-slider.m-bottom--lg(data-title="館別活動")
  .layout--main
    .promo__wrap
      .promo__zone
        .double-slider__wrap
          #doubleSliderTab.swiper-container.double-slider__tab
            .swiper-wrapper
              .swiper-slide(title="流行日用")
                img(src="event/3rd/e-main/components/double-slider/items/tab/tab-1.png", alt="流行日用")
                img(src="event/3rd/e-main/components/double-slider/items/tab/tab-active-1.png", alt="流行日用")
              .swiper-slide(title="美妝保健")
                img(src="event/3rd/e-main/components/double-slider/items/tab/tab-2.png", alt="美妝保健")
                img(src="event/3rd/e-main/components/double-slider/items/tab/tab-active-2.png", alt="美妝保健")
              .swiper-slide(title="3C家電")
                img(src="event/3rd/e-main/components/double-slider/items/tab/tab-3.png", alt="3C家電")
                img(src="event/3rd/e-main/components/double-slider/items/tab/tab-active-3.png", alt="3C家電")
          #doubleSliderContent.swiper-container.double-slider__content
            ul.swiper-wrapper
              each data in sweetPointDataE
                li.swiper-slide
                  a(href= data.link, title= data.alt)
                    img.swiper-lazy(data-src= data.imgSrc, alt="")
                    .swiper-lazy-preloader.swiper-lazy-preloader-black