.slider__collect
  //- 輪播1
  #sliderCollectBanner.swiper-container
    ul.swiper-wrapper.collect__banner
      li.swiper-slide
        a(href="https://www.etmall.com.tw/Activity/CollectPointExchange/20200529", title="888枚東森幣")
          img(class="swiper-lazy" data-src="~event/1st/e-main/components/slider-section-1-collect/items/collect__goods-1.png", alt="888枚東森幣")
          .swiper-lazy-paloader
      //-li.swiper-slide
      //-  a(href= "https://www.etmall.com.tw/Activity/CollectPointExchange/20200529", title="85度C 45元單品即享券")
      //-    img(class="swiper-lazy" data-src="~event/1st/e-main/components/slider-section-1-collect/items/collect__goods-2.png", alt="85度C 45元單品即享券")
      //-    .swiper-lazy-paloader
      li.swiper-slide
        a(href="https://www.etmall.com.tw/Activity/CollectPointExchange/20200529", title="Tefal 法國特福輕食光不沾小炒鍋28C+鍋鏟")
          img(class="swiper-lazy" data-src="~event/1st/e-main/components/slider-section-1-collect/items/collect__goods-3.png", alt="Tefal 法國特福輕食光不沾小炒鍋28C+鍋鏟")
          .swiper-lazy-paloader
      li.swiper-slide
        a(href= "https://www.etmall.com.tw/Activity/CollectPointExchange/20200529", title="SK-II 青春露330ml")
          img(class="swiper-lazy" data-src="~event/1st/e-main/components/slider-section-1-collect/items/collect__goods-4.png", alt="SK-II 青春露330ml")
          .swiper-lazy-paloader
  //- 輪播2
  #sliderCollectGoods.swiper-container
    ul.swiper-wrapper.collect__goods
      li.swiper-slide.collect__item
        a(href="https://www.etmall.com.tw/Activity/CollectPointExchange/20200529", title="linePoint 80點")
          img(class="swiper-lazy" data-src="~event/1st/e-main/components/slider-section-1-collect/items/bg__slider__good-1.png", alt="linePoint 80點")
          .swiper-lazy-paloader
      //-li.swiper-slide.collect__item
      //-  a(href="https://www.etmall.com.tw/Activity/CollectPointExchange/20200529", title="全家中杯冰美式咖啡即享券")
      //-    img(class="swiper-lazy" data-src="~event/1st/e-main/components/slider-section-1-collect/items/bg__slider__good-2.png", alt="全家中杯冰美式咖啡即享券")
      //-    .swiper-lazy-paloader
      li.swiper-slide.collect__item
        a(href="https://www.etmall.com.tw/Activity/CollectPointExchange/20200529", title="春風柔韌抽取衛生紙")
          img(class="swiper-lazy" data-src="~event/1st/e-main/components/slider-section-1-collect/items/bg__slider__good-3.png", alt="春風柔韌抽取衛生紙")
          .swiper-lazy-paloader
      li.swiper-slide.collect__item
        a(href="https://www.etmall.com.tw/Activity/CollectPointExchange/20200529", title="100元全站折價券")
          img(class="swiper-lazy" data-src="~event/1st/e-main/components/slider-section-1-collect/items/bg__slider__good-4.png", alt="100元全站折價券")
          .swiper-lazy-paloader
      li.swiper-slide.collect__item
        a(href="https://www.etmall.com.tw/Activity/CollectPointExchange/20200529", title="MONS精品質感修身針織外套")
          img(class="swiper-lazy" data-src="~event/1st/e-main/components/slider-section-1-collect/items/bg__slider__good-5.png", alt="MONS精品質感修身針織外套")
          .swiper-lazy-paloader
      li.swiper-slide.collect__item
        a(href="https://www.etmall.com.tw/Activity/CollectPointExchange/20200529", title="518枚東森幣")
          img(class="swiper-lazy" data-src="~event/1st/e-main/components/slider-section-1-collect/items/bg__slider__good-6.png", alt="518枚東森幣")
          .swiper-lazy-paloader
      li.swiper-slide.collect__item
        a(href="https://www.etmall.com.tw/Activity/CollectPointExchange/20200529", title="Esense超涼感手持式USB風扇")
          img(class="swiper-lazy" data-src="~event/1st/e-main/components/slider-section-1-collect/items/bg__slider__good-7.png", alt="Esense超涼感手持式USB風扇")
          .swiper-lazy-paloader
      li.swiper-slide.collect__item
        a(href="https://www.etmall.com.tw/Activity/CollectPointExchange/20200529", title="PHILIPS飛利浦過載防護型4開4插延長線")
          img(class="swiper-lazy" data-src="~event/1st/e-main/components/slider-section-1-collect/items/bg__slider__good-8.png", alt="PHILIPS飛利浦過載防護型4開4插延長線")
          .swiper-lazy-paloader
      li.swiper-slide.collect__item
        a(href="https://www.etmall.com.tw/Activity/CollectPointExchange/20200529", title="QHL酷奇個人隨身頂鍊式空氣清淨機")
          img(class="swiper-lazy" data-src="~event/1st/e-main/components/slider-section-1-collect/items/bg__slider__good-9.png", alt="QHL酷奇個人隨身頂鍊式空氣清淨機")
          .swiper-lazy-paloader
      li.swiper-slide.collect__item
        a(href="https://www.etmall.com.tw/Activity/CollectPointExchange/20200529", title="50元全站折價券")
          img(class="swiper-lazy" data-src="~event/1st/e-main/components/slider-section-1-collect/items/bg__slider__good-10.png", alt="50元全站折價券")
          .swiper-lazy-paloader
      //-li.swiper-slide.collect__item
      //-  a(href="https://www.etmall.com.tw/Activity/CollectPointExchange/20200529", title="麥當勞OREO冰炫風即享券")
      //-    img(class="swiper-lazy" data-src="~event/1st/e-main/components/slider-section-1-collect/items/bg__slider__good-11.png", alt="麥當勞OREO冰炫風即享券")
      //-    .swiper-lazy-paloader
      li.swiper-slide.collect__item
        a(href="https://www.etmall.com.tw/Activity/CollectPointExchange/20200529", title="Q100鋁合金QC3.0快充行動電源")
          img(class="swiper-lazy" data-src="~event/1st/e-main/components/slider-section-1-collect/items/bg__slider__good-12.png", alt="Q100鋁合金QC3.0快充行動電源")
          .swiper-lazy-paloader
          //-p.collect__good__title 東森農場 產地直送系列 枋山鄉愛文芒果東森農場 產地直送系列 枋山鄉愛文芒果東森農場 產地直送系列 枋山鄉愛文芒果
          //-p.collect__good__price
          //-  span.price__init $
          //-  span.price 11,490

    #sliderCollectGoodsPager.swiper-pagination-custom.swiper-pagination
