section.promo__group.dynamic-slider-half.m-bottom--lg(data-title="幣買攻略")
  .layout--main
    .decor__wrap.full-parent
      .decor__item.decor__item--left1#decorHalfLeft1
        img(src="event/1st/e-main/components/dynamic-slider-half/decor-half-left.png", alt="")
      .decor__item.decor__item--left2#decorHalfLeft2
        img(src="event/1st/e-main/components/dynamic-slider-half/decor-half-left-2.png", alt="")
      .decor__item.decor__item--right1#decorHalfRight1
        img(src="event/1st/e-main/components/dynamic-slider-half/decor-half-right.png", alt="")
      .decor__item.decor__item--right2#decorHalfRight2
        img(src="event/1st/e-main/components/dynamic-slider-half/decor-half-right-2.png", alt="")
    .promo__wrap
      .promo__zone
        .promo__block--wrap
          .promo__block
            .promo__box
              a(href="", title="幣折抵")
                //- img(src="event/1st/e-main/components/dynamic-slider-half/item-dynamic-slider-half-1.png", alt="折抵10%up")
            .slider__box
              #sliderDynamicHalf.promo__slider.swiper-container.container--dynamic-half
                ul.swiper-wrapper

          .promo__block
            .promo__box
              a(href="", title="幣回饋")
                //- img(src="event/1st/e-main/components/dynamic-slider-half/item-dynamic-slider-half-2.png", alt="回饋10%up")
            .slider__box
              #sliderDynamicHalf2.promo__slider.swiper-container.container--dynamic-half
                ul.swiper-wrapper

