- var hotData = [{link: {etmall: "https://www.etmall.com.tw/p/78444", umall: "https://www.u-mall.com.tw/p/66432   "}, imgSrc: "~components/two-medium-slider/items/4-1.png", alt: "買螢幕送風扇"},{link: {etmall: "https://www.etmall.com.tw/XML/content/DMSetting/Final/201907/SP_1108626/w/index.html", umall: "https://www.u-mall.com.tw/s/31132"}, imgSrc: "~components/two-medium-slider/items/4-2.png", alt: "手機平板7折起"},{link: {etmall: "https://www.etmall.com.tw/np/78124", umall: "https://www.u-mall.com.tw/np/66214"}, imgSrc: "~components/two-medium-slider/items/4-3.png", alt: "明星即期良品1折up"},{link: {etmall: "https://www.etmall.com.tw/np/78852", umall: "https://www.u-mall.com.tw/np/66728"}, imgSrc: "~components/two-medium-slider/items/4-4.png", alt: "iVENOR85折up"},{link: {etmall: "https://www.etmall.com.tw/p/67031", umall: "https://www.u-mall.com.tw/p/57752"}, imgSrc: "~components/two-medium-slider/items/4-5.png", alt: "換新內衣$100up"},{link: {etmall: "https://www.etmall.com.tw/c2/36395", umall: "https://www.u-mall.com.tw/c2/43857"}, imgSrc: "~components/two-medium-slider/items/4-6.png", alt: "新學期 心動季"},{link: {etmall: "https://www.etmall.com.tw/XML/content/DMSetting/Final/201908/SP_1108730/w/index.html", umall: "https://www.u-mall.com.tw/XML/content/DMSetting/Final/201908/SP_1104897/w/index.html"}, imgSrc: "~components/two-medium-slider/items/4-7.png", alt: "飛利浦品牌月"},{link: {etmall: "https://www.etmall.com.tw/XML/content/DMSetting/Final/201907/SP_1108729/w/index.html", umall: "https://www.u-mall.com.tw/XML/content/DMSetting/Final/201907/SP_1104896/w/index.html"}, imgSrc: "~components/two-medium-slider/items/4-8.png", alt: "秋季旅展"},]

section.promo__group.promo__group--hot
  .layout--main
    .promo__zone.lazyload(data-src="960bg-04.jpg")
      .promo__title.block--center.m-bottom--xs
        img.lazyload(data-src="section-bn-04.png", src="~utils/img/1x1_low.png", alt="超夯強檔推薦")
      .promo__wrap
        #sliderHot.promo__slider.swiper-container
          ul.swiper-wrapper
            each data in hotData
              - var link = isU ? data.link.umall : data.link.etmall
              li.swiper-slide
                a(href= link, title= data.alt)
                  img(src= data.imgSrc, alt= data.alt)
          #sliderHotPager.swiper-pager-custom.swiper-pagination
        #sliderHotPrev.swiper-button-custom.swiper-button-prev
        #sliderHotNext.swiper-button-custom.swiper-button-next