section#brandList.brand-list
  .layout--main
    ul.brand__wrap
      li.brand__item
        a(href="buildOrder3", title="APPLE")
          img(src="~components/brand-list/img/APPLE.jpg", alt="APPLE")
      li.brand__item
        a(href="#", title="SAMSUNG")
          img(src="~components/brand-list/img/samsung.jpg", alt="SAMSUNG")
      li.brand__item
        a(href="#", title="OPPO")
          img(src="~components/brand-list/img/OPPO.jpg", alt="OPPO")
      li.brand__item
        a(href="#", title="ASUS")
          img(src="~components/brand-list/img/asus.jpg", alt="ASUS")
      li.brand__item
        a(href="#", title="SONY")
          img(src="~components/brand-list/img/sony.jpg", alt="SONY")
      li.brand__item
        a(href="#", title="HUAWEI")
          img(src="~components/brand-list/img/huawei.jpg", alt="HUAWEI")
      li.brand__item
        a(href="#", title="hTC")
          img(src="~components/brand-list/img/htc.jpg", alt="hTC")
      li.brand__item.brand__item--others
        a(href="#", title="title")
          .others__item 
            span 其他品牌
            span 》