//- TODO: 給別的component引入時不需要前兩行要切換
//- section.promo__group.promo__group--bn-special.m-bottom--md
//-   .layout--main
.promo__slider
  #sliderSpecial.swiper-container
    ul.swiper-wrapper
      li.swiper-slide
        a(href="https://www.etmall.com.tw/XML/content/DMSetting/Final/202007/SP_1115832/w/index.html", title="台中購物節")
          img(src="~event/1st/e-77/components/bn-special/items/bank-1.png", alt="台中購物節")
      li.swiper-slide
        a(href="https://www.etmall.com.tw/XML/content/DMSetting/Final/202006/SP_1115814/w/index.html", title="肯德基優惠")
          img(src="~event/1st/e-77/components/bn-special/items/bank-2.png", alt="肯德基優惠")
      li.swiper-slide
        a(href="https://www.etmall.com.tw/XML/content/DMSetting/Final/202006/SP_1115852/w/index.html", title="萊爾富超取送冰美式")
          img(src="~event/1st/e-77/components/bn-special/items/bank-3.png", alt="萊爾富超取送冰美式")
      li.swiper-slide
        a(href="https://www.etmall.com.tw/XML/content/DMSetting/Final/202007/SP_1115861/w/index.html", title="APP獨享優惠")
          img(src="~event/1st/e-77/components/bn-special/items/bank-4.png", alt="APP獨享優惠")
      li.swiper-slide
        a(href="https://www.etmall.com.tw/XML/content/DMSetting/Final/202007/SP_1114870/w/index.html#kgi", title="凱基：滿$3,700送$370")
          img(src="~event/1st/e-77/components/bn-special/items/bank-5.png", alt="凱基：滿$3,700送$370")
      li.swiper-slide
        a(href="https://www.etmall.com.tw/XML/content/DMSetting/Final/202007/SP_1114870/w/index.html#Taishin", title="台新：滿$10,000送$800")
          img(src="~event/1st/e-77/components/bn-special/items/bank-6.png", alt="台新：滿$10,000送$800")
      li.swiper-slide
        a(href="https://www.etmall.com.tw/XML/content/DMSetting/Final/202007/SP_1114870/w/index.html#hsbc", title="滙豐：滿$10,000送$800")
          img(src="~event/1st/e-77/components/bn-special/items/bank-7.png", alt="滙豐：滿$10,000送$800")


    //#sliderSpecialPager.swiper-pagination-custom.swiper-pagination
  #sliderSpecialPrev.swiper-button-white.swiper-button-prev
  #sliderSpecialNext.swiper-button-white.swiper-button-next