section.hero__wrap
  .hero__zone
    .hero__title.hero__title--main
      h1.block-center(title="東森購物網|台灣呷透透|縣市長的口袋美食")
        .title__box--web
          img(src="event/1st/e-main/components/hero-section/title-web.png", alt="東森購物網|台灣呷透透|縣市長的口袋美食")
