.promo__group--dynamic
  +pos-set(relative, zero)
  overflow: hidden

  a
    display: block

  .promo__wrap
    // +aspect-ratio(960, 1068)
    // +bg-set(url(event/1st/e-main/components/dynamic-section/bg-dynamic-section.png), 100%)

  .product__block
    margin-bottom: 2%
    font-size: 3.2vw
    +breakpoint-min($min-width-xl)
      font-size: 30px

  .product__info,
  .product__price,
  .back__block
    margin-bottom: 1.5%

  .product__wrap
    display: flex
    flex-wrap: wrap
    justify-content: space-between
    padding: 1% 2%
    width: 100%
    > div
      margin-bottom: 2%
      width: 49%

  .product__block
    padding: 2% 4%

  .product__name
    padding: 2%
  .product__img
    margin-left: auto
    margin-right: auto
    width: 65%

  .product--dynamic
    width: 100%
    +aspect-ratio(447, 688, relative, zero, a)
    +bg-set(url(layout/dynamic-product/bg-item.png), 100%)

  .back__block
    height: 4.3em
    border-bottom: 1px solid $gray-deep-dark
    > div
      +pos-set(relative, zero)
      margin-bottom: 0.5%
      width: 100%
      color: $gray-deep-dark
    .color--line-point
      color: $line-point-light
      font-weight: bold
    & span:last-child
      display: inline-block
      +pos-set(absolute, zero)
      top: 0
      right: 0
      font-size: 1.02em
      text-align: right

  .total__block
    display: flex
    height: 2.8em
    overflow: hidden

  .total__text
    padding: 0.15em
    width: 2.8em
    line-height: 130%
    color: $gray-deep-light
    background-color: $primary-medium
    border-radius: 5px
    text-align: center

  .total__back
    flex: 1
    padding-top: 0.05em
    color: $primary-medium
    font-weight: bold
    text-align: right
    span
      &:last-child
        line-height: 100%
        font-size: 2.72em

