section.hero__wrap
  .hero__zone
    .layout--main
      .hero__block
        .hero__box
          //- 標題
          h1.hero__title.hero__title--main.block--center(title="618奇幻旅程，驚．喜．全．場！")
            img#heroTitle(src="event/1st/e-main/components/hero/title.png", alt="618奇幻旅程，驚．喜．全．場！")
        .hero__box.hero__box--sub
          .hero__title.hero__title--sub(title="解開魔咒吧！")
            img(src="event/1st/e-main/components/hero/title-sub.png", alt="解開魔咒吧！")
          .decoration--hero
            img(src="event/1st/e-main/components/hero/decoration-hero.png", alt="")
