section.hero__wrap
  .layout--main
    .hero__zone
      img(class="title__circle" src="~event/4th/e-main/components/hero-section/hero-circle.png", alt="")
      .hero__title
        img(src="~event/4th/e-main/components/hero-section/title-sub-1.png", alt="")
        img(src="~event/4th/e-main/components/hero-section/title.png", alt="")
        a(href="") 
          img(src="~event/4th/e-main/components/hero-section/title-sub-2.png", alt="")
        //- 禮物檯相關
      .hero__decoration
        img(src="~event/4th/e-main/components/hero-section/decor-stage.png", alt="")

  .decoration--top.decoration__foreground

//- 前景滑鼠parallax相關
include /utils/bg-decoration-instance/parallax/_parallax

