ul.share__wrap
  li
    a(href="", title="分享到Facebook")
      img(src="~layout/share-tools/fb-circle.svg", alt="分享到Facebook")
  li
    a(href="", title="分享到Line")
      img(src="~layout/share-tools/line-circle.svg", alt="分享到Line")

//- script(src="share-tools.js")