//- polyfill 一般共用
include /utils/pug/include/_polyfill-js.pug
//- General 一般共用
include /utils/pug/include/_general.pug
//- 電梯
//- include /utils/pug/include/_elevator-link.pug
//- 浮水印
//- include /utils/pug/include/_float-icon.pug
//- parallax cdn
include /utils/pug/include/_parallax-cdn-js.pug
//- 輪播cdn
include /utils/pug/include/_slider-cdn-js.pug