section.promo__group.promo__group--bn-section-2(data-title="免費遊戲")
  .layout--main
    .decor__wrap.full-parent
      .decor__item.decor__item--left#decorBnSection2Left
        img(src="event/1st/e-main/components/bn-section-2/decor-bn-2-left.png" alt="")
      .decor__item.decor__item--right#decorBnSection2Right
        img(src="event/1st/e-main/components/bn-section-2/decor-bn-2-right.png" alt="")
    .promo__wrap
      .promo__zone
        .promo__block
          .promo__box
            a(href="") 
              img(src="event/1st/e-main/components/bn-section-2/bn-section-2.png" alt="")

        //- #sliderMidMorePrev.swiper-button-white.swiper-button-prev.mid-more__nav.mid-more__nav--prev
        //- #sliderMidMoreNext.swiper-button-white.swiper-button-next.mid-more__nav.mid-more__nav--next
        //- #sliderMidMorePager.mid-more__pager.swiper-pagination