- var promoDataU = [{link: "https://www.u-mall.com.tw/XML/content/DMSetting/Final/209902/SP_1103370/w/index.html", imgSrc: "~event/1st/u-main/components/promo-event-full-screen/items/promo-1.png", alt: "20間銀行最高回饋10%"}, {link: "https://www.u-mall.com.tw/XML/content/DMSetting/Final/209901/SP_1103167/w/index.html", imgSrc: "~event/1st/u-main/components/promo-event-full-screen/items/promo-2.png", alt: "瘋搶撇步"},{link: "ttps://www.u-mall.com.tw/Activity/HourSale?Day=Up", imgSrc: "~event/1st/u-main/components/promo-event-full-screen/items/promo-3.png", alt: "天天最激殺"}, ]



//- var promoData = isU? promoDataU : promoDataE

.promo__event
  ul.event__wrap
    each data, index in promoDataU
      - var anchorId = 'promoAnchor' + (index + 1)
      - var imgId = 'promoImg' + (index + 1)
      li
        a(id= anchorId, href= data.link, title= data.alt)
          img.lazyload(id= imgId, data-src= data.imgSrc, alt= data.alt, src="~utils/img/1x1_low.png")
