.hero
  +pos-set(relative, base)
  overflow: hidden
  +breakpoint-min($min-width-xl)
    background: center 0 url(event/1st/e-main/components/hero/bg-hero-web.jpg) no-repeat
    background-size: auto
