//- TODO: 打開u-mall選項會自動轉換成U的logo和連結、電梯(預設etmall)
//- - var isU = true

doctype html
html(lang='zh-Hant-TW')
  head
    meta(name='viewport', content="width=device-width, initial-scale=1")

    //- TODO: CSS檔案注意要放到assets內
    //- nav CSS (main left & right、sp left & right)
    //- ===========================
    //- 行銷主視覺用電梯(main)
    link(rel="stylesheet", href="main-elevator-left.css")
    link(rel="stylesheet", href="main-elevator-right.css")
    //- 商品館、禮包等需要被霸道電梯蓋過去的電梯(sp)
    //- link#localElevatorLeft(rel="stylesheet", href="sp-elevator-left.css")
    //- link#localElevatorRight(rel="stylesheet", href="sp-elevator-right.css")

  body

    //- header (logo + share tools)
    //- ===========================
    include /layout/header/_header

    .bg-web.full-parent
      .bg-web--top.full-parent
        .bg-animate.full-parent
      .bg-web--flower1
        img(src="event/2nd/e-main/pages/index/decor-flower-left.png", alt="")
      .bg-web--flower2
        img(src="event/2nd/e-main/pages/index/decor-flower-right.png", alt="")
      .bg-web--left
        img(src="event/2nd/e-main/pages/index/decor-item-left.png", alt="")
      .bg-web--right
        img(src="event/2nd/e-main/pages/index/decor-item-right.png", alt="")
      .bg-web--decor.full-parent
      .bg-web--bottom.full-parent#scrollHeroItem


    //- main block (hero + promo section)
    //- ===========================
    main#spWrap.sp__wrap
      include /event/2nd/e-main/components/hero-section/_hero-section
      //- include /utils/bg-decoration-instance/parallax/_parallax
      include /event/2nd/e-main/components/promo-event/_promo-event

    //- other components
    //- ===========================
    //- 右sticky電梯定位點，可置放在各處
    #navRightBar.navRightBar
    include /event/2nd/e-main/components/daily-slider/_daily-slider
    //- include /event/2nd/e-main/components/daily-time/_daily-time
    //- include /event/2nd/e-main/components/tab-section-2/_tab-section-2
    include /event/2nd/e-main/components/event-w1m1/_event-w1m1
    include /event/2nd/e-main/components/promo-slider/_promo-slider
    include /event/2nd/e-main/components/bn-section/_bn-section
    include /event/2nd/e-main/components/dynamic-slider-3/_dynamic-slider-3
    include /event/2nd/e-main/components/event-w3m3/_event-w3m3
    include /event/2nd/e-main/components/bn-slider/_bn-slider
    include /event/2nd/e-main/components/dynamic-slider/_dynamic-slider
    include /event/2nd/e-main/components/dynamic-slider-2/_dynamic-slider-2
    include /event/2nd/e-main/components/bn-section-2/_bn-section-2
    //- include /event/2nd/e-main/components/tab-section/_tab-section
    //- include /event/2nd/e-main/components/dynamic-slider-half/_dynamic-slider-half
    //- include /event/2nd/e-main/components/promo-slider-2/_promo-slider-2
    //- include /event/2nd/e-main/components/dynamic-slider-3/_dynamic-slider-3
    //- include /event/2nd/e-main/components/tab-section-2/_tab-section-2

    //- 左固定電梯定位點，也可移動，但在ajax要重繪的物件放底部可以讓上方load更快
    #elevatorHome.elevatorHome.js--main--dialog

    //- footer
    //- ===========================
    //- include /layout/footer/_footer

    //- script區
    include /utils/pug/include/_general.pug

    //- TODO: 以下資源注意要放到assets內
    //- nav JS (main left & right、sp left & right)
    //- ===========================
    //- 行銷主視覺用電梯(main)
    script(src="main-elevator.js")
    //- 商品館、禮包等需要被霸道電梯蓋過去的電梯(sp)
    //- script#checkElevator(src="https://media.etmall.com.tw/sp/11911/check-elevator.js")

    //- data區
    //- script#check(src="check.js")
    script#dataDailySlider(src='data-daily-slider.js')
    script#dataDynamicSliderThird(src='data-dynamic-slider-3.js')
    script#dataDynamicSlider(src='data-dynamic-slider.js')
    script#dataDynamicSliderSecond(src='data-dynamic-slider-2.js')