section.promo__group.promo__group--dynamic-slider.promo__group--dynamic-slider-1.m-bottom--sm(data-title="激殺1元")
  .layout--main
    //- .promo__title.block--center.text--center
    //-   img(src="~event/2nd/e-main/components/dynamic-slider/title-dynamic-slider-.png", alt="新品專區")

    .promo__wrap
      #sliderDynamic.promo__slider.swiper-container
        .swiper-wrapper

      #sliderDynamicPrev.swiper-button-white.swiper-button-prev.dynamic__nav.dynamic__nav--prev
      #sliderDynamicNext.swiper-button-white.swiper-button-next.dynamic__nav.dynamic__nav--next
      //- #sliderDynamic3Pager.dynamic-slider-pager.swiper-pagination

//- data-dynamic-.js在assets資料夾內、由index.pug外連過去