section.promo__group.promo__group--bn-section(data-title="品牌推薦")
  .layout--main
    .promo__title--parent
      .promo__title#titleBnSection
        img(src="event/1st/e-main/components/bn-section/title-bn-section.png", alt="")
    .promo__wrap
      .promo__decor#decorBnSection
        img(src="event/1st/e-main/components/bn-section/decor-bn-section.png", alt="")
      .promo__zone
        .promo__block
          a(href="https://media.etmall.com.tw/sp/12321/m/index.html")
            img(src="event/1st/e-main/components/bn-section/item-bn-section.png", alt="")

//- data-dynamic-2.js在assets資料夾內、由index.pug外連過去