.promo__group.promo__group--bn-special
  .layout--main
    .promo__slider
      #sliderSpecial.swiper-container
        ul.swiper-wrapper
          li.swiper-slide
            a(href= "")
              img(src="~event/activities__overview/pages/bn-special/items/hot-1.png", alt="")
              img(src="~event/activities__overview/pages/bn-special/items/hot-web-1.jpg", alt="")
          li.swiper-slide
            a(href= "", title="")
              img(src="~event/activities__overview/pages/bn-special/items/hot-2.png", alt="")
              img(src="~event/activities__overview/pages/bn-special/items/hot-web-2.jpg", alt="")
          li.swiper-slide
            a(href= "https://www.etmall.com.tw/XML/content/DMSetting/Final/201912/SP_1107841/w/index.html", title="")
              img(src="~event/activities__overview/pages/bn-special/items/hot-3.png", alt="")
              img(src="~event/activities__overview/pages/bn-special/items/hot-web-3.jpg", alt="")
          li.swiper-slide
            a(href= "", title="")
              img(src="~event/activities__overview/pages/bn-special/items/hot-4.png", alt="")
              img(src="~event/activities__overview/pages/bn-special/items/hot-web-4.jpg", alt="")
          li.swiper-slide
            a(href= "")
              img(src="~event/activities__overview/pages/bn-special/items/hot-1.png", alt="")
              img(src="~event/activities__overview/pages/bn-special/items/hot-web-5.jpg", alt="")
          li.swiper-slide
            a(href= "", title="")
              img(src="~event/activities__overview/pages/bn-special/items/hot-2.png", alt="")
              img(src="~event/activities__overview/pages/bn-special/items/hot-web-2.jpg", alt="")
        //#sliderSpecialPager.swiper-pagination-custom.swiper-pagination
        #sliderSpecialPrev.swiper-button-prev.swiper-button-white.swiper-button-custom-s1
        #sliderSpecialNext.swiper-button-next.swiper-button-white.swiper-button-custom-s1