nav.nav
  .layout--main
    #navWrap.nav__wrap
      #decorNav.decor__nav
      ul
        li.nav__item.active
          span 銀行總覽
        li.nav__item
          span 卡友日
        li.nav__item
          span 行動支付
        li.nav__item
          span 輕鬆分期
        li.nav__item
          span 紅利折抵

