.bn-section-2
  overflow: hidden
  .decor__wrap
    padding-bottom: 2%
    +breakpoint-min($min-width-xl)
      padding-bottom: 0
  .decor__item
    pointer-events: none

    &--left
      +pos-set(absolute, base, 0%, 12%)
      width: 20%
      +breakpoint-min($min-width-xl)
        top: 5px
        left: calc(50% - 330px)
      &.active
        animation: shakeX 4s 2s linear infinite

    &--right
      +pos-set(absolute, base, 0%)
      right: 10%
      width: 23%
      +breakpoint-min($min-width-xl)
        top: 15px
        right: calc(50% - 350px)
      &.active
        animation: shakeX 4s linear infinite

    +breakpoint-min($min-width-xl)
      width: auto

  .promo__wrap
    // +bg-set(url("event/1st/e-main/components/bn-section-2/bg-bn-section-2.png"), 100%)
  .promo__zone
    +aspect-ratio(960, 620)
  .promo__box
    text-align: center
    cursor: pointer
    &:hover
      transition: all 0.6s ease
      transform: translateY(-1%)
      filter: contrast(1.2)

@keyframes shakeX
  0%, 50%
    transform: translateZ(0)
  5%, 15%, 25%, 35%, 45%
    transform: translate3d(-5px, 0, 0)
  10%, 20%, 30%, 40%
    transform: translate3d(5px, 0, 0)