.promo__group--w3m3
  // .promo__title
  //   +bg-set(url("~~event/2nd/e-main/components/event-w3m3/section-bn-05.png"))
  //   margin-top: 1%
  //   margin-bottom: 1%
  //   height: 103px
  //   margin-top: -0.5%
  .promo__wrap
    // margin-bottom: 6% // 主視覺結尾添加的，若在中間可刪
    +bg-set(url("~~event/2nd/e-main/components/event-w3m3/bg-event-w3m3.png"), 100%)
    .good__wrap
      display: flex
      flex-wrap: wrap
      justify-content: space-between
      padding: 16% 7% 7%
      li
        flex: 0 0 32.5%
        // padding: 5px 0
        transition: transform 0.5s
        &:hover
          transform: translateY(-3%)
    // +breakpoint-min($min-width-lg)
    //   .good__wrap
    //     li
    //       +flex(0, 0, 23.9%)
