// ==========================================================================
// Base
// ==========================================================================
@import utils/sass/_common

// =======================================================================
// layout
// =======================================================================
@import layout/header/_header

// ==========================================================================
// Plugins
// ==========================================================================
// ==========================================================================
// first screen need
// ==========================================================================
// hero section
@import components/hero/_hero

// ==========================================================================
// components
// ==========================================================================
@import components/create-team/_create-team

// ==========================================================================
// Page
// ==========================================================================
body
  +pos-set(relative)
  background-color: $main-medium
  section
    +breakpoint-max($max-width-xl)
      &:last-child
        margin-bottom: 0

.sp__wrap a
  display: block
