- 
  var midMoreDataE = [
    {
      link: "https://www.etmall.com.tw/c3/124757",
      imgSrc: "~event/3rd/e-main/components/mid-more-slider/items/mid-more-1.png",
      alt: "領先者",
      text: "紀錄器$1311",
    }, 
    {
      link: "https://www.etmall.com.tw/c3/131797",
      imgSrc: "~event/3rd/e-main/components/mid-more-slider/items/mid-more-2.png",
      alt: "ucc",
      text: "滿額抽膠囊咖啡機",
    }, 
    {
      link: "https://www.etmall.com.tw/p/113389", 
      imgSrc: "~event/3rd/e-main/components/mid-more-slider/items/mid-more-3.png",
      alt: "機能品牌",
      text: "橋登均一價$5555",
    }, 
    {
      link: "https://www.etmall.com.tw/p/112921",
      imgSrc: "~event/3rd/e-main/components/mid-more-slider/items/mid-more-4.png",
      alt: "4U2 x SKINFOOD",
      text: "全館下殺4折up",
    }, 
    {
      link: "https://www.etmall.com.tw/p/114994",
      imgSrc: "~event/3rd/e-main/components/mid-more-slider/items/mid-more-5.png",
      alt: "雅聞倍優",
      text: "買就送洗面皂20g",
    }, 
    {
      link: "https://www.etmall.com.tw/gp/114537",
      imgSrc: "~event/3rd/e-main/components/mid-more-slider/items/mid-more-6.png",
      alt: "白因子",
      text: "全館滿1111加碼送",
    },
    {
      link: "https://media.etmall.com.tw/SP/6598/index.html",
      imgSrc: "~event/3rd/e-main/components/mid-more-slider/items/mid-more-7.png",
      alt: "LG",
      text: "贈10%東森幣",
    },
    {
      link: "https://media.etmall.com.tw/SP/6450/m/index.html",
      imgSrc: "~event/3rd/e-main/components/mid-more-slider/items/mid-more-8.png",
      alt: "Switch",
      text: "Switch83折up",
    }, 
    {
      link: "https://www.etmall.com.tw/XML/content/DMSetting/Final/202011/SP_1116666/w/index.html",
      imgSrc: "~event/3rd/e-main/components/mid-more-slider/items/mid-more-9.png",
      alt: "ASUS",
      text: "送豪華大禮包",
    }, 
  ]

- 
  var midMoreDataU = [
    {
      link: "https://www.u-mall.com.tw/XML/content/DMSetting/Final/202008/SP_1106087/w/index.html", 
      imgSrc: "~event/3rd/u-main/components/mid-more-slider/items/mid-more-1.png",
      alt: "滿$3000送300",
      text: "我愛東森東森愛我",
    }, 
    {
      link: "https://www.u-mall.com.tw/Activity/HourSale", 
      imgSrc: "~event/3rd/u-main/components/mid-more-slider/items/mid-more-2.png",
      alt: "滿$3000送300",
      text: "我愛東森東森愛我",
    }, 
    {
      link: "https://www.u-mall.com.tw/Activity/HourSale?Day=Up", 
      imgSrc: "~event/3rd/u-main/components/mid-more-slider/items/mid-more-3.png",
      alt: "滿$3000送300",
      text: "我愛東森東森愛我",
    }, 
  ]

- var midMoreData = isU ? midMoreDataU : midMoreDataE

section.promo__group.promo__group--mid-more.m-bottom--md(data-title="品牌大賞")
  .layout--main
    //- .promo__title.block--center.text--center
    //-   img(src="~event/3rd/e-main/components/mid-more-slider/title-mid-more.png", alt="")

    .promo__wrap
      #sliderMidMore.promo__slider.swiper-container
        ul.swiper-wrapper
          each data in midMoreData
            li.swiper-slide
              a(href= data.link, title= data.alt)
                img.swiper-lazy(data-src= data.imgSrc, alt= data.alt)
                .swiper-lazy-preloader.swiper-lazy-preloader-white
                .text__box
                  span= data.text

        #sliderMidMorePrev.swiper-button-white.swiper-button-prev.mid-more__nav.mid-more__nav--prev
        #sliderMidMoreNext.swiper-button-white.swiper-button-next.mid-more__nav.mid-more__nav--next
      //- #sliderMidMorePager.mid-more__pager.swiper-pagination