- var heroBankData = {etmall: "https://www.etmall.com.tw/XML/content/DMSetting/Final/201908/SP_1107836/w/index.html", umall: "https://www.u-mall.com.tw/XML/content/DMSetting/Final/201908/SP_1104315/w/index.html"}
- var heroBankInfo = isU ? heroBankData.umall : heroBankData.etmall

section.hero__wrap.m-bottom--sm
  .layout--main
    .hero__zone
      //.hero__decoration.top__decoration.top__decoration--left
      //.hero__decoration.top__decoration.top__decoration--right
      
      #heroBlock.hero__block
        //.hero__decoration.block__decoration.block__decoration--main
        //.hero__decoration.block__decoration.block__decoration--sub
        .hero__box.wow
          // 標題
          h1.hero__title.hero__title--main.block--center(title="東森購物雙11先搶")
            img(src="~event/3rd/e-main/components/hero-section/title.png", alt="東森購物雙11先搶")

      // 副標
      //include /event/3rd/e-main/components/hero-small-slider/_hero-small-slider

      .promo__block
        // 行銷誘因
        include /event/3rd/e-main/components/promo-event/_promo-event
        // 商品輪播
        include /event/3rd/e-main/components/goods-slider-flip/_goods-slider-flip

      //- include /event/3rd/e-main/components/goods-slider/_goods-slider

      include /event/3rd/e-main/components/bn-special/_bn-special.pug
