- var goodsDataE = [{link: "https://www.etmall.com.tw/XML/content/DMSetting/Final/201903/SP_1107542/w/index.html", imgSrc: "~event/index-main-e-2/components/goods-slider/items/e/1-1.png", alt: "吳忠憲&Sandy"}, {link: "https://www.etmall.com.tw/XML/content/DMSetting/Final/201903/SP_1107542/w/index.html", imgSrc: "~event/index-main-e-2/components/goods-slider/items/e/1-2.png", alt: "冬天熱賣鴛鴦鍋"}, {link: "https://www.etmall.com.tw/XML/content/DMSetting/Final/201903/SP_1107542/w/index.html", imgSrc: "~event/index-main-e-2/components/goods-slider/items/e/1-3.png", alt: "暢銷雙耳湯鍋組"}, {link: "https://www.etmall.com.tw/XML/content/DMSetting/Final/201903/SP_1107542/w/index.html", imgSrc: "~event/index-main-e-2/components/goods-slider/items/e/1-4.png", alt: "憲哥真心推薦敏捷膠原"}, {link: "https://www.etmall.com.tw/XML/content/DMSetting/Final/201903/SP_1107542/w/index.html", imgSrc: "~event/index-main-e-2/components/goods-slider/items/e/1-5.png", alt: "狂銷熱賣按摩器"}, {link: "https://www.etmall.com.tw/XML/content/DMSetting/Final/201903/SP_1107542/w/index.html", imgSrc: "~event/index-main-e-2/components/goods-slider/items/e/1-6.png", alt: "憲哥最愛保溫瓶"}, ]

-var goodsData = goodsDataE


//- ========== Code Start ==========

.goods__wrap
  .promo__slider
    #sliderGoods.swiper-container
      ul.swiper-wrapper
        each data in goodsData
          li.swiper-slide
            a(href= data.link, title= data.alt)
              img(src= data.imgSrc, alt= data.alt)
