.team__wrap.m-bottom--xl
  .layout--main
    .team__block
      .decor__top
        img(src="event/1st/e-main/components/team/decor-team-top.png", alt="")
      .team__box.p-horizontal--lg
        .team__figure.p-horizontal--xs.m-bottom--lg

          .team__info.p-horizontal--lg.font--medium
            span 頁面更新時間：
            span 18:00

          ul
            li
              .team__group.team__group--1
                .team__status.team__status--rank-1
                .team__pic(title="ETMan戰隊")
                  img(src="event/1st/e-main/components/team/items/team-1.png", alt="ETMan戰隊")
                .team__intro
                  .intro__head.font--medium 隊伍人數
                  .intro__body
                    span 99999
                    span.font--medium 人
                a.btn__team(href="javascript:void(0)", title="加入隊伍")
                  img(src="event/1st/e-main/components/team/items/btn-team-1.png", alt="加入隊伍")
            li
              .team__group.team__group--2
                .team__status.team__status--rank-2
                .team__pic(title="得意狗戰隊")
                  img(src="event/1st/e-main/components/team/items/team-2.png", alt="得意狗戰隊")
                .team__intro
                  .intro__head.font--medium 隊伍人數
                  .intro__body
                    span 99999
                    span.font--medium 人
                a.btn__team(href="javascript:void(0)", title="加入隊伍")
                  img(src="event/1st/e-main/components/team/items/btn-team-2.png", alt="加入隊伍")
            li
              .team__group.team__group--3
                .team__status.team__status--now
                .team__pic(title="ET貓戰隊")
                  img(src="event/1st/e-main/components/team/items/team-3.png", alt="ET貓戰隊")
                .team__intro
                  .intro__head.font--medium 隊伍人數
                  .intro__body
                    span 99999
                    span.font--medium 人
                a.btn__team(href="javascript:void(0)", title="加入隊伍")
                  img(src="event/1st/e-main/components/team/items/btn-team-3.png", alt="加入隊伍")

        .team__note.p-horizontal--lg.font--small
          p 頁面顯示排名隊伍，非最終比賽結果
          p 最終排名於7/10另行公布
      .decor__bottom
        img(src="event/1st/e-main/pages/index/decor-section-bottom.png", alt="")


