section.hero__wrap
  .hero__zone
    .layout--main
      #heroBlock.hero__block
        .hero__box
          //- 標題
          h1.hero__title.hero__title--main.block--center.wow(title="一直灑一直爽")
            img(src="~event/3rd/u-main/components/hero-section/title.png", alt="一直灑一直爽")


  .promo__zone
    .layout--main
      .promo__block
        //- 行銷誘因
        include /event/3rd/u-main/components/promo-event/_promo-event

        //- 商品輪播
        //- include /event/3rd/u-main/components/goods-slider-flip/_goods-slider-flip
        include /event/3rd/u-main/components/event-w4m4/_event-w4m4

  //- include /event/3rd/u-main/components/background-decoration/_background-decoration.pug


