// // ==========================================================================
// // main
// // ==========================================================================
.hero__wrap
  +pos-set(relative, zero)
  overflow: hidden
  +breakpoint-min($min-width-xl)
    background-size: auto

  // .hero__zone

  .hero__block
    +pos-set(relative, zero)
    padding-top: 5.5%

  .hero__box
    width: 60.5%

  .hero__title
    &--main
      +pos-set(relative, base)
      width: 100%
      transform-origin: center top
      animation: swing 0.75s 0.75s both

  .promo__zone
    // margin-top: 8%
    //background-color: $gray-deep-light
    +breakpoint-min($min-width-xl)
      background-color: transparent



