section.hero__wrap.m-bottom--md
  .hero__zone
    .layout--main
      .hero__block
        .hero__box
          //- 標題
          h1.hero__title.hero__title--main.block--center.wow(title="618家電購大趴，獨家抽Switch Lite！")
            img#heroTitle(src="~event/1st/e-main/components/hero-section/title.png", alt="618家電購大趴，獨家抽Switch Lite！")

        include /event/1st/e-main/components/goods-slider-flip/_goods-slider-flip

  .promo__zone
    .layout--main
      .promo__block
        //- 行銷誘因
        include /event/1st/e-main/components/promo-event/_promo-event



