//- parallax 結構
section.deoration--background.decoration__wrap()
  .decoration__item
    .item--right.wow
      img(src="~event/1st/u-main/components/background-decoration/bg-decoration-1.png", alt="" class="bg__decration-1")
    .item--left.wow
      img(src="~event/1st/u-main/components/background-decoration/bg-decoration-2.png", alt="" class="bg__decration-2")
