
//- 第一波
//- include event/1st/e-main/pages/index/_index.pug
//- include event/1st/u-main/pages/index/_index.pug
//- include event/1st/e-sp/pages/index/_index.pug
//- include event/1st/e-line/pages/index/_index.pug

//- 第二波
include event/2nd/e-main/pages/index/_index.pug
//- include event/2nd/u-main/pages/index/_index.pug
//- include event/2nd/e-sp/pages/index/_index.pug
//- include event/2nd/e-line-ota/pages/index/_index.pug

//- 第三波
//- include event/3rd/e-main/pages/index/_index.pug
//- include event/3rd/u-main/pages/index/_index.pug

//- test
//- include event/test/e-main/pages/index/_index.pug