* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
ul,li {
  list-style: none;
}
body{
  font-family: PingFangTC-regular, Roboto, "LiHei Pro", "Source Han Sans TC", -apple-system, BlinkMacSystemFont, "Segoe UI", Arial, "Microsoft JhengHei", sans-serif;
  background: #ffae39 center 0 url(bg.jpg) no-repeat;
  background-size: 100%;
}
.sp__wrap a, .sp__wrap img {
  display: block;
  max-width: 100%;
}
.layout--main {
  position: relative;
  z-index: 0;
  margin-left: auto;
  margin-right: auto;
  max-width: 960px;
}
header {
  position: relative;
  z-index: 1; 
}
header .logo {
  position: absolute;
  z-index: 10;
  top: 0;
  left: 2%;
  width: 45%;
  max-width: 405px;
  transform: translateY(25%);
}
.hero__box {
  position: relative;
  z-index: 0;
}
.decoration__title {
  position: absolute;
  z-index: 1;

}
.decoration__title--1 {
  bottom: -2%;
  left: 1%;
  width: 52%;
}
.decoration__title--2 {
  top: 36%;
  right: 5%;
  width: 11%;
  animation: rubberBand 2s infinite;
}
.decoration__title--3 {
  display: none;
}
.tab__wrap {
  margin-bottom: 1.5%;
}
.tab__box {
  margin-left: auto;
  margin-right: auto;
  padding-top: 11.5%;
  width: 98%;
  background: center 0 url(bg-tab.png) no-repeat;
  background-size: 100%;
}
.tab__nav {
  margin-left: 4%;
  width: 92%;
  overflow: hidden;    
}
.tab__nav span:nth-child(2){
  font-size: 4.5vw;
}
.tab__nav ul {
  display:flex;
  overflow-x: scroll;
}
.tab__nav ul::-webkit-scrollbar {
  display: none;
}
.tab__nav li {
  padding: 2% 5%;
  font-size: 8vw;
  color: #123daf;
  cursor: pointer;
}
.tab__nav li:active, .tab__nav li.active, .tab__nav li:hover {
  color: #fff;
}
.tab__nav li.active {
  position: relative;
  z-index: 0;
}
.tab__nav li.active::before {
  content: '';
  position: absolute;
  z-index: -1;
  top: 7%;
  left: 7%;
  width: 86%;
  height: 86%;
  background-color: #142744;
  border-radius: 2.5vw;
  box-shadow: 2px 2px #384a56 inset;
}
.tab__item {
  display: none;
  margin-left: 1%;
  width: 96.5%;
}
.tab__item.active {
  display: block;
}
.item__wrap {
  display: flex;
  padding: 1% 0 4%;
}
.item__box {
  flex: 0 0 50%;
  position: relative;
  z-index: 0;
  padding: 0 2%;
}
.item__box a {
  position: relative;
  z-index: 0;
  border-radius: 2.5vw;
  overflow: hidden;
}
.tab__item.passed a::before {
  content: '';
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0 ,0.5);
}
.bn-event__wrap {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 1.5%;
  width: 98%;
  text-align: center;
}

@media screen and (min-width: 960px) {
  body {
    background: #ffae39 center 0 url(bg-web.jpg) no-repeat;
    background-size: auto;      
  }
  .decoration__title--3 {
    display: block;
    top: 34.3%;
    left: calc(50% - 605px);
    width: auto;
    animation: rubberBand 2s 1s infinite;
  }
  .tab__nav span:nth-child(2){
    font-size: 48px;
  }
  .tab__nav li {
    padding: 2% 5%;
    font-size: 60px;
  }
  .tab__nav li.active::before {
    border-radius: 22px;
    box-shadow: 5px 5px #384a56 inset;
  }
  .item__box a {
    border-radius: 22px;
  }
  .bn-event__wrap img {
    margin-left: auto;
    margin-right: auto;
  }
}
@keyframes rubberBand {
  0%, 60%, to {
    transform:scaleX(1)
  }
  15% {
    transform:scale3d(1.25,.75,1)
  }
  20% {
    transform:scale3d(.75,1.25,1)
  }
  25% {
    transform:scale3d(1.15,.85,1)
  }
  32.5% {
    transform:scale3d(.95,1.05,1)
  }
  37.5% {
    transform:scale3d(1.05,.95,1)
  }
}