section.promo__group.promo__group--dynamic-section.promo__group--dynamic-section-2.m-bottom--sm(data-title="3件也折")
  .layout--main
    .promo__title
      .title__decoration
        img(src="~event/1st/e-main/components/dynamic-section-2/decoration-dynamic-section-2.png", alt="3件有優惠")
      #decoDynamicSection2.title__pic
        img(src="~event/1st/e-main/components/dynamic-section-2/title-dynamic-section-2.png", alt="")

    .promo__wrap
      #dynamicSection2
        .product__wrap
