// 兩區共用，省檔案大小
// .promo__group--dynamic-section

.promo__group--dynamic-section-2
  .title__decoration
    top: -15%
    left: 0
  .title__pic
    width: 48%
    transform-origin: top
  .promo__wrap
    padding: 17% 7% 9%
    +bg-set(url("~event/1st/e-main/components/dynamic-section-2/bg-dynamic-section-2.png"), 100%)