nav.nav__wrap
  .layout--main
    .nav__block
      img(src="event/1st/e-main/components/nav-menu/nav-menu.png", alt="我的集點卡")
    .nav__box
      .nav__item.text--bold
        span $
        span 59,999,999

