.nav__block
  ul
    display: flex
    flex-wrap: wrap
  // padding: 1% 2.5%
  li
    flex: 1 0 33%
  a
    text-align: center
    transition: all 0.5s
    &:hover,
    &:active
      transform: scale(1.1)




