.mission-card
  .layout--main
    .mission__bg--header
      img(src="event/1st/e-main/components/mission-card/mission-header.png", alt="")
    .mission__bg--center
      .mission__block
        .mission__text.flex.text--bold 
          span 任務1
          span 完成領取ET PASSPORT
        .mission__text.flex.text--bold
          span 獎勵：
          .price--content
            span 樂透金
            span 50
            span 枚
        .mission__box
          span.mission__item.m-right--sm
            span.mission__item--active
          .mission__box--text
            span.text--bold 100
            span.text--bold %
    .mission__bg--footer
      img(src="event/1st/e-main/components/mission-card/mission-footer.png", alt="")
    
    .click__item--card
      img(src="event/1st/e-main/components/mission-card/question-light.png", alt="說明")
    
    .mission__stamp
      img(src="event/1st/e-main/components/mission-card/mission-stamp.png", alt="")
      .mission__stamp--completed
        img(src="event/1st/e-main/components/mission-card/mission-completed.png", alt="")


.mission-card
  .layout--main
    .mission__bg--header
      img(src="event/1st/e-main/components/mission-card/mission-header.png", alt="")
    .mission__bg--center
      .mission__block
        .mission__text.flex.text--bold 
          span.m-right--sm 任務2
          span 證件效期內於ETmall成立一筆訂單
        .mission__text.flex.text--bold
          span 獎勵：
          .price--content
            span 樂透金
            span 50
            span 枚
        .mission__box
          span.mission__item.m-right--sm
            span.mission__item--active
          .mission__box--text
            span.text--bold 100
            span.text--bold %
    .mission__bg--footer
      img(src="event/1st/e-main/components/mission-card/mission-footer.png", alt="")
    
    .click__item--card
      img(src="event/1st/e-main/components/mission-card/question-light.png", alt="說明")
    
    .mission__stamp
      img(src="event/1st/e-main/components/mission-card/mission-stamp.png", alt="")
      .mission__stamp--completed.active
        img(src="event/1st/e-main/components/mission-card/mission-completed.png", alt="")

.mission-card
  .layout--main
    .mission__bg--header
      img(src="event/1st/e-main/components/mission-card/mission-header.png", alt="")
    .mission__bg--center
      .mission__block
        .mission__text.flex.text--bold 
          span.m-right--sm 任務3
          span 於ETmall消費累積金額
        .mission__text.flex.text--bold
          span 獎勵：
          .price--content
            span 樂透金
            span 3
            span %
            span 回饋
            span.font-size--sm (最高可拿1,000枚)
        .mission__text.text--bold
          span.font-size--sm 累積消費金額
          span.font-size--sm 1,667
          span.font-size--sm 元
        .mission__text.text--bold
          span.m-right--sm 獲得樂透金
          span.custom-text-color.font-size--lg 50
          span.custom-text-color.font-size--lg 枚
        .mission__box
          span.mission__item.m-right--sm
            span.mission__item--active
          .mission__box--text
            span.text--bold 100
            span.text--bold %
    .mission__bg--footer
      img(src="event/1st/e-main/components/mission-card/mission-footer.png", alt="")
    
    .click__item--card
      img(src="event/1st/e-main/components/mission-card/question-light.png", alt="說明")
    
    .mission__stamp
      img(src="event/1st/e-main/components/mission-card/mission-stamp.png", alt="")
      .mission__stamp--completed.active
        img(src="event/1st/e-main/components/mission-card/mission-completed.png", alt="")