.hero__zone
  position: relative
  z-index: map-get($zindex, zero)
  padding: 1.5% 0 6%
  // background: center 0 url("~utils/img/top-slider-bg.jpg") no-repeat
  // background-size: 100%
  +breakpoint-min($min-width-lg)
    // margin-bottom: 3%
    // padding-bottom: 3%
    // overflow: hidden

.hero__slider
  +breakpoint-min($min-width-xl)
    margin: 30px 80px 0

.hero__zone
  .hero__slider
    // &--prev,
    // &--next,
    //   display: none
    //   top: 50%
    //   width: 22px
    //   height: 22px
    //   background-color: $apple-deep-dark
    //   background-size: 50%
    //   outline: 0
    //   +breakpoint-min($min-width-lg)
    //     width: 33px
    //     height: 33px
    // &--prev
    //   left: 1%
    // &--next
    //   right: 1%
    &--pager
      bottom: 0
      left: 50%
      transform: translateX(-50%)
      .swiper-pagination-bullet
        margin: 0 5px
        width: 10px
        height: 10px
        background-color: $gray-medium
        opacity: 0.5
        outline: 0
      .swiper-pagination-bullet-active
        background-color: $apple-deep-dark
        opacity: 1
      +breakpoint-min($min-width-lg)
        bottom: 3%
        .swiper-pagination-bullet
          margin: 0 7px
          width: 15px
          height: 15px

    // +breakpoint-min($min-width-xl)
    //   &--prev,
    //   &--next,
    //     display: block
    //   &--prev
    //     left: 0
    //   &--next
    //     right: 0
    //   &--pager
    //     bottom: 30px

// TODO: 各家廠商的設定
.hero__zone .hero__slider--pager
  &-apple
    +switch-class($partner, apple)
      .swiper-pagination-bullet
        background-color: $gray-medium
      .swiper-pagination-bullet-active
          background-color: $apple-deep-dark
  &-mi
    +switch-class($partner, mi)
      .swiper-pagination-bullet
        background-color: $mi-light
      .swiper-pagination-bullet-active
        background-color: $mi-event-color-2