//- 這是使用套件parallax.js、滑鼠移動產生視差
//- parallax 結構
section#bgDecoration.decoration--background.decoration__wrap(style="height: 120vh;")
  .decoration__item(data-depth="0.05")
    img(src="utils/bg-decoration-instance/parallax/background-decoration-1.png", alt="")
  .decoration__item(data-depth="0.2")
    img(src="utils/bg-decoration-instance/parallax/background-decoration-2.png", alt="")
  //- .decoration__item(data-depth="0.5")
  //-   img(src="utils/bg-decoration-instance/parallax/background-decoration-3.png", alt="")