.promo__group--daily-slider
  overflow: hidden
  +breakpoint-min($min-width-xl)
    overflow: visible
  .promo__wrap
    +aspect-ratio(960, 820)
  .promo__zone
    display: flex
    justify-content: space-between
    +pos-set(relative, zero)
    padding: 2% 6.5% 0 5.5%
    +bg-set(url(event/1st/e-main/components/daily-slider/bg-daily-slider.png), 100%)
  a
    &:hover,
    &:active
      filter: brightness(102%) contrast(105%)

  // .decoration--daily-slider
  //   z-index: map-get($zindex, base)
  //   top: 0%
  //   right: 3%
  //   width: 23%

  // TODO: 橫式
  // .product__block
  //   display: flex
  //   justify-content: space-between

    // 共用類宮格樣式
  .product--dynamic
    // .product__block
      // padding: 1% 5%
      // +bg-set(url(event/1st/e-main/components/daily-slider/bg-dynamic-item.png), contain)
    .product__intro
      // margin: 2.5% auto
      // padding: 5% 5% 3.5%
      width: 100%
      color: $gray-deep-light
    .product__img
      margin-bottom: 3%
      width: 100%
      // border-radius: 3vw 0 0 3vw
      border-radius: 0
      text-align: center
    .product__name
      color: $gray-deep-light
    .product__price
      width: 100%
      color: $gray-deep-light

    .product__text
      width: 100%
      background-color: transparent
      // border-radius: 0 3vw 3vw 0
      border-radius: 0
    // +breakpoint-min($min-width-xl)
    //   .product__img
    //     border-radius: 28px 0 0 28px
    //   .product__text
    //     border-radius: 0 28px 28px 0

  // 雙區塊類宮格差異部分樣式
  .daily__slider
    +pos-set(relative, zero)
    width: 52%
    // +bg-set(url(event/1st/e-main/components/daily-slider/bg-dynamic-item.png), contain)
    .swiper-container
      width: 100%
      // border-radius: 6.5vw
      li
        width: 100%
    .product__block
      display: flex
      flex-wrap: wrap
      padding: 0 10.7% 0 9.5%
      // .product__intro
      //   order: 1
      // .product__text
      //   order: 2

    // TODO: 如果每個item共用圖則在這設定，不共用則到JS中建立換圖邏輯
    .product__intro
      margin-bottom: 14.2%
      padding-top: 7%
      padding-left: 5%
      +bg-set(url(event/1st/e-main/components/daily-slider/intro-item.png), 100%, center, 140%)
      font-size: 5vw
      font-weight: bold
      text-shadow: 0 0 5px $main-e-background-color-1st-2, 0 0 5px $main-e-background-color-1st-2, 0 0 5px $main-e-background-color-1st-2

    .product__name
      margin-bottom: 1%
    .product__price
      span
        &:last-child
          font-size: 5.5vw

  .daily__block
    padding-top: 29%
    width: 44%
    .product__block
      padding: 0 10.4% 0 10.4%
    .product--dynamic
      +pos-set(relative, zero)
    .product__intro
      margin-bottom: 14.92%
      padding-top: 5%
      padding-left: 2%
      +bg-set(url(event/1st/e-main/components/daily-slider/intro-item-notyet.png), 100%, center, 108%)
      font-size: 4.5vw
      font-weight: normal
      color: $main-e-background-color-1st-3
      text-shadow: 0 0 5px $main-e-background-color-1st-4, 0 0 5px $main-e-background-color-1st-4, 0 0 5px $main-e-background-color-1st-4
    .product__img
      filter: grayscale(100%)
    .product__text
      display: flex
      flex-wrap: wrap
    .product__name
      padding: 0 6%
    .product__price
      display: none

  // 最後一天處理
  .daily--next
    &.active
      .product__img
        width: 63%
        filter: none
      .product__name
        -webkit-line-clamp: 1
        margin-top: 0
        height: 1.2em
      .product__price
        display: block
      .product__intro
        +bg-set(url(event/1st/e-main/components/daily-slider/intro-item.png), 100%)

  +breakpoint-max($max-width-xxs)
    // .daily__block
    //   .product__intro
        // bottom: 5%

    // 最後一天處理
    .daily--next
      &.active
        .product__price
          span
            &:last-child
              font-size: 3vw

  +breakpoint-min($min-width-md)
    .product__name
      font-size: 3.1vw
  +breakpoint-min($min-width-lg)
    .product--dynamic
      .product__img
        margin-bottom: 5%
    .product__name
      font-size: 20px
    .daily__slider
      .product__intro
        font-size: 38px
    .daily__block
      .product__img
        margin-bottom: 10px
      .product__intro
        font-size: 36px
      .intro--month
        margin-left: 0

    // 最後一天處理
    .daily--next
      &.active
        .product__price
          span
            &:last-child
              font-size: 28px

  +breakpoint-min($min-width-xl)
    .daily__slider
      .product__block
        padding: 0 46px 0 43px
      .product__intro
        font-size: 48px
      .product--dynamic
        .product__img
          margin-bottom: 10px
        .product__name
          font-size: 28px
        .product__price
          span:first-child
            font-size: 28px
          span:last-child
            font-size: 66px

    .daily__block
      .product__intro
        margin-bottom: 48px
        font-size: 40px
      .product--dynamic
        .product__img
          margin-bottom: 15px
      .product__name
        font-size: 28px
      .product__text
        .product__price
          span
            &:last-child
              font-size: 66px

    // 最後一天處理
    .daily--next
      &.active
        .product__intro
          font-size: 44px
        .product__name
          margin-bottom: 0
        .product__price
          span
            &:last-child
              font-size: 36px
