section.promo__group.promo__group--left-right.m-bottom--md(data-title="女神Online")
  .decoration--left-right
    img#scrollLeftRight(src="~event/2nd/e-main/pages/index/decoration-light.png", alt="")

  .layout--main
    .left-right__wrap
      .block--left
        .item__box
          a(href="https://m.etmall.com.tw/Activity/Lottery/202102_e318d3ba42fb36b395823964da984ae6", title="女神來占卜")
            img(src="~event/2nd/e-main/components/left-right-section/game-left.png", alt="女神來占卜" )
      .block--right
        #rightChange.item__box.close
          a#rightChangeAnchor(href="javascript:void(0)", title="尚未開始")
            img(src="~event/2nd/e-main/components/left-right-section/game-right-0.png", alt="叫我女神")

