section.promo__group.promo__group-7.promo__bngroup(data-title="a3")
  .layout--main
    .promo__wrap
      #sliderEvent.promo__slider.swiper-container
        .swiper-wrapper
          li.swiper-slide
            a(href="https://www.etmall.com.tw/XML/content/DMSetting/Final/201910/SP_1109125/w/index.html", title="好康推薦")
              img(src="~event/index-main-e/img/7-640x280-BN_01.png", alt="好康推薦")
          li.swiper-slide
            a(href="https://www.etmall.com.tw/XML/content/DMSetting/Final/201906/SP_1108246/w/index.html", title="好康推薦")
              img(src="~event/index-main-e/img/7-640x280-BN_02.jpg", alt="好康推薦")
      #sliderBnPrev.swiper-button-white.swiper-button-prev.promo__bngroup-prev
      #sliderBnNext.swiper-button-white.swiper-button-next.promo__bngroup-next
      #sliderBnPager.promo-pager.swiper-pagination