section.promo__group.promo__group-hot(data-title="熱門活動")
  .promo__wrap
    #sliderBnEventHot.promo__slider.swiper-container
      .swiper-wrapper
        li.swiper-slide
          a(href="https://www.etmall.com.tw/XML/content/DMSetting/Final/202007/SP_1115765/w/index.html", title="保健國內外品牌對決")
            img(src="~event/2nd/e-main/components/bn-event-hot/items/bn-hot-1.jpg", alt="保健國內外品牌對決")
        li.swiper-slide
          a(href="https://www.etmall.com.tw/np/104006", title="美白防曬夏日必備清單")
            img(src="~event/2nd/e-main/components/bn-event-hot/items/bn-hot-2.jpg", alt="美白防曬夏日必備清單")
        li.swiper-slide
          a(href="https://www.etmall.com.tw/XML/content/DMSetting/Final/202005/SP_1115478/w/index.html", title="日用熱銷網路下單折百")
            img(src="~event/2nd/e-main/components/bn-event-hot/items/bn-hot-3.jpg", alt="日用熱銷網路下單折百")
        li.swiper-slide
          a(href="https://www.etmall.com.tw/XML/content/DMSetting/Final/202007/SP_1115793/w/index.html", title="免出國 世界美食輕鬆買")
            img(src="~event/2nd/e-main/components/bn-event-hot/items/bn-hot-4.jpg", alt="免出國 世界美食輕鬆買")
        li.swiper-slide
          a(href="https://www.etmall.com.tw/c3/139709", title="家電最高回饋20%東森幣")
            img(src="~event/2nd/e-main/components/bn-event-hot/items/bn-hot-5.jpg", alt="家電最高回饋20%東森幣")
        li.swiper-slide
          a(href="https://www.etmall.com.tw/np/100989", title="甜甜優惠保護貼$199起")
            img(src="~event/2nd/e-main/components/bn-event-hot/items/bn-hot-6.jpg", alt="甜甜優惠保護貼$199起")
        li.swiper-slide
          a(href="https://www.etmall.com.tw/XML/content/DMSetting/Final/202006/SP_1115740/w/index.html", title="MyCard滿萬抽Switch")
            img(src="~event/2nd/e-main/components/bn-event-hot/items/bn-hot-7.jpg", alt="MyCard滿萬抽Switch")
        li.swiper-slide
          a(href="https://www.etmall.com.tw/p/104328", title="Giordano任4件$599")
            img(src="~event/2nd/e-main/components/bn-event-hot/items/bn-hot-8.jpg", alt="Giordano任4件$599")
    #sliderBnEventHotPager.promo-pager.swiper-pagination
    #sliderBnEventHotPrev.swiper-button-white.swiper-button-prev
    #sliderBnEventHotNext.swiper-button-white.swiper-button-next