section.promo__group.promo__group-7(data-title="防疫防災")
  .promo__wrap
    #sliderBnEventPrevent.promo__slider.swiper-container
      .swiper-wrapper
        li.swiper-slide
          a(href="https://www.etmall.com.tw/XML/content/DMSetting/Final/202002/SP_1114782/w/index.html", title="防疫專區")
            img(src="~event/1st/e-main/components/bn-event-prevent/items/bn-prevent-01.jpg", alt="防疫專區")
        li.swiper-slide
          a(href="https://www.etmall.com.tw/XML/content/DMSetting/Final/202005/SP_1115428/w/index.html", title="居家滅火防災")
            img(src="~event/1st/e-main/components/bn-event-prevent/items/bn-prevent-02.jpg", alt="居家滅火防災")
    #sliderBnEventPreventPager.promo-pager.swiper-pagination