.bg-container
  +pos-set(fixed, under, 0%, 0%)
  height: 100vh
  width: 100%
  max-width: 100%
  overflow: hidden
  pointer-events: none
  > div
    display: block
    +pos-set(absolute, zero, 0%, 0%, 0%, 0%)
  .first-layer
    +bg-set(url(event/1st/e-main/components/bg-animate/flower-foreground.png))
    background-repeat: repeat
  .second-layer
    +bg-set(url(event/1st/e-main/components/bg-animate/flower-middleground.png))
    background-repeat: repeat
  .third-layer
    +bg-set(url(event/1st/e-main/components/bg-animate/flower-background.png))
    background-repeat: repeat


  .bg--first
    animation: falling-down linear infinite
    animation-duration: 52s

  .bg--second
    transform: translate3d(0, -100%, 0)
    animation: falling-down-2 linear infinite
    animation-duration: 28s

  .bg--third
    transform: translate3d(0, -100%, 0)
    animation: falling-down-3 linear infinite
    animation-duration: 20s



// animate
@keyframes falling-down
  0% 
    background-position: 0 0
    opacity: 0
  10%, 90%
    opacity: 1
  100% 
    background-position: 100% 150vh
    opacity: 0
  

@keyframes falling-down-2
  0% 
    transform: translate3d(0, -100%, 0)
  100% 
    transform: translate3d(15%, 100%, 0)


@keyframes falling-down-3
  0% 
    transform: translate3d(0, -100%, 0)
  50%
    transform: translate3d(-10%, 0%, 0)
  100% 
    transform: translate3d(15%, 100%, 0)