// ==========================================================================
// Plugins
// ==========================================================================
// // @import vendors/animate
// @import vendors/style/swiper-slider-custom
@import vendors/style/swiper-safari-polyfill


// ==========================================================================
// first screen need
// ==========================================================================
// hero section
@import event/2nd/e-main/components/hero-section/_hero-section
// @import utils/bg-decoration-instance/parallax/_parallax

// ==========================================================================
// components
// ==========================================================================
// dynamic product 假宮格共用CSS
@import layout/dynamic-product/_dynamic-product.sass

// 一般components
@import event/2nd/e-main/components/promo-event/_promo-event
@import event/2nd/e-main/components/daily-change/_daily-change
@import event/2nd/e-main/components/daily-slider/_daily-slider
@import event/2nd/e-main/components/bn-slider/_bn-slider
@import event/2nd/e-main/components/event-w1m1/_event-w1m1
@import event/2nd/e-main/components/game-w3m3/_game-w3m3
@import event/2nd/e-main/components/event-w1m1-2/_event-w1m1-2
@import event/2nd/e-main/components/dynamic-section/_dynamic-section
@import event/2nd/e-main/components/dynamic-slider/_dynamic-slider
@import event/2nd/e-main/components/dynamic-section-2/_dynamic-section-2
@import event/2nd/e-main/components/event-w3m3/_event-w3m3
@import event/2nd/e-main/components/dynamic-slider-half/_dynamic-slider-half
@import event/2nd/e-main/components/bn-special/_bn-special
@import event/2nd/e-main/components/daily-time/_daily-time
@import event/2nd/e-main/components/daily-two-day/_daily-two-day

// ==========================================================================
// Page
// ==========================================================================
body
  +pos-set(relative)
  background-color: $main-e-background-color-2nd

// TODO: 修改EU nav佔位高度(影響logo距離上方高度，U每次要改)
.navRightBar
  // E
  height: 39px
  // U
  // height: 15px
  +breakpoint-min($min-width-xl)
    height: auto

.sp__wrap
  +pos-set(relative)
  &::before
    content: ''
    +pos-set(fixed, under, 39px, 0)
    width: 100%
    height: 100vh
    background: center 0 url(event/2nd/e-main/pages/index/bg.jpg) no-repeat
    background-size: 100%
    transition: all 0.5s

    +breakpoint-min($min-width-xl)
      top: 0
      background: center 0 url(event/2nd/e-main/pages/index/bg-web.jpg) no-repeat
      background-size: auto


.sp__wrap a
  display: block

  // .promo__title
  //   text-align: center
  // .decoration--background.decoration__wrap

// parallax css
// =================================
// .decoration--background
//   display: none

//   +breakpoint-min($min-width-3xl)
//     display: block
//     // z-index: base(1)以上可蓋在主視覺上，zero(0)可在主視覺下，預設都在logo下(logo是500)
//     +pos-set(absolute, under, 690px)
//     width: 100%
//     height: 100%
//     pointer-events: none

// .decoration__wrap
//   +pos-set(sticky, zero, 0)
.swiper-button--custom
  top: 55%
  margin-top: 0
  width: 3.5%
  transform: translateY(-50%)
  &:after
    content: ''
  &:active,
  &:hover
    filter: brightness(120%)
  // &.swiper-button-prev
  //   left: 9.3%
  //   +bg-set(url(event/2nd/e-main/pages/index/btn-slider-prev.png), contain, center, center)
  // &.swiper-button-next
  //   right: 9.3%
  //   +bg-set(url(event/2nd/e-main/pages/index/btn-slider-next.png), contain, center, center)

.decoration--top
  +pos-set(absolute, zero)
  pointer-events: none

