.dynamic-slider
  // +pos-set(relative, zero)
  overflow: hidden
  .decor__wrap
    padding-bottom: 14%
    +breakpoint-min($min-width-xl)
      // padding-bottom: 160px
  .decor__item
    &--title
      +pos-set(absolute, zero, 10%, 15%)
      width: 70%
      +breakpoint-min($min-width-xl)
        top: 90px
        left: calc(50% - 333px)
    &--left1
      +pos-set(absolute, under, 0%, 3%)
      width: 23%
      +breakpoint-min($min-width-xl)
        left: calc(50% - 420px)
    &--left2
      +pos-set(absolute, zero, 8%, 17%)
      width: 15%
      +breakpoint-min($min-width-xl)
        top: 100px
        left: calc( 50% - 300px )
    &--left3
      +pos-set(absolute, under, 48%, -2%)
      width: 11%
      transform: scaleX(-1)
      +breakpoint-min($min-width-xl)
        left: calc( 50% - 485px )
    &--right
      +pos-set(absolute, under, 1%)
      right: 4%
      width: 23%
      animation: key-rotate-from-to .8s linear infinite alternate
      +breakpoint-min($min-width-xl)
        top: 35px
        right: calc( 50% - 435px )
    &--right2
      +pos-set(absolute, under, 48%)
      right: -2.3%
      width: 11%
      +breakpoint-min($min-width-xl)
        right: calc( 50% - 495px )
    &--bottom
      +pos-set(absolute, second)
      bottom: 0%
      left: 5%
      width: 90%
      animation: large-small 2.4s ease-in-out infinite
      +breakpoint-min($min-width-xl)
        left: calc( 50% - 410px )
    +breakpoint-min($min-width-xl)
      width: auto
  .promo__wrap
    +bg-set(url(event/1st/e-main/components/dynamic-slider/bg-dynamic-slider.png), 100%)
    margin-top: 2%
  .promo__zone
    +aspect-ratio(921, 975)
  .promo__block
    padding: 8% 12.5% 0
    +breakpoint-min($min-width-xl)
      padding-top: 60px
  .promo__slider
    overflow: hidden
    height: 77vw
    max-height: 760px
    .swiper-slide
      // height: 25vw

    .dynamic__item
      +breakpoint-min($min-width-xl)
        .product__name
          margin-top: 5px
          margin-bottom: 15px
        .product__price
          span
            &:last-child
              font-size: 32px
      &:first-child
        margin: 4% auto 0
        width: 80%
        .product--dynamic
          padding-bottom: 0%
        .product__text
          display: none
        +breakpoint-min($min-width-xl)
          .product__img
            img
              // left: calc(50% - 339px)
      &:nth-child(2)
        +pos-set(absolute, zero, 40.8%, 3.9%)
        width: 44%
        +breakpoint-min($min-width-xl)
          top: 317px
          left: 23px
          width: 45%
      &:last-child
        +pos-set(absolute, zero, 40.8%)
        right: 1.1%
        width: 44%
        +breakpoint-min($min-width-xl)
          top: 317px
          right: 5px
          width: 45%
    .swiper-slide-prev
      opacity: 0
      


+key-rotate-from-to(5deg, -5deg)

@keyframes large-small
  0%, 100%
    transform: scale(.3)
    opacity: 0
  20%, 80%
    transform: scale(1)
    opacity: 1