//- TODO: 給別的component引入時不需要前兩行要切換
//- section.promo__group.promo__group--bn-special.m-bottom--md
//-   .layout--main
//- var bankLink = {etmall: "https://www.etmall.com.tw/XML/content/DMSetting/Final/201910/SP_1107838/w/index.html", umall: "https://www.u-mall.com.tw/XML/content/DMSetting/Final/201910/SP_1104317/w/index.html"}
//- var bankInfo = isU ? bankLink.umall : bankLink.etmall
.promo__slider.promo__slider-1
  #sliderPromo_1.swiper-container
    ul.swiper-wrapper
      li.swiper-slide
        a(href="https://www.etmall.com.tw/XML/content/DMSetting/Final/202011/SP_1116795/w/index.html", title="贈BT21心型手拿鏡")
          img(src="~event/1st/e-main/components/promo-slider/items/promo-slider-1.png", alt="贈BT21心型手拿鏡")
      li.swiper-slide
        a(href="#note", title="消費滿額最高送3200")
          img(src="~event/1st/e-main/components/promo-slider/items/promo-slider-2.png", alt="消費滿額最高送3200")
      li.swiper-slide
        a(href="https://www.etmall.com.tw/XML/content/DMSetting/Final/202011/SP_1116671/w/index.html", title="7-11超取請你喝咖啡")
          img(src="~event/1st/e-main/components/promo-slider/items/promo-slider-3.png", alt="7-11超取請你喝咖啡")
      //li.swiper-slide
      //  a(href="https://www.etmall.com.tw/XML/content/DMSetting/Final/202008/SP_1114871/w/index.html#sinopac", title="永豐：滿$20,000送$2,000")
      //    img(src="~event/1st/e-main/components/bn-special/items/bank-2.png", alt="永豐：滿$20,000送$2,000")
      //li.swiper-slide
      //  a(href="https://www.etmall.com.tw/XML/content/DMSetting/Final/202008/SP_1114871/w/index.html#dbs", title="星展：滿$22,000送$2,200")
      //    img(src="~event/1st/e-main/components/bn-special/items/bank-3.png", alt="星展：滿$22,000送$2,200")


    //#sliderSpecialPager.swiper-pagination-custom.swiper-pagination
  #sliderSpecialPrev.swiper-button-white.swiper-button-prev
  #sliderSpecialNext.swiper-button-white.swiper-button-next