section.promo__group.promo__group--double-slider.m-bottom--sm(data-title="集點加購")
  .layout--main
    //- .promo__title.block--center.text--center
    //-   img(src="~event/2nd/e-main/components/dynamic-slider/title-dynamic-slider.png", alt="99聰明消費")

    .promo__wrap
      #sliderDoubleTop.promo__slider.promo__slider--top.swiper-container
        ul.swiper-wrapper
          li.swiper-slide
            a(href="https://www.etmall.com.tw/Activity/CollectPointExchange/20200911", title="集點加價購")
              img.swiper-lazy(data-src="~event/2nd/e-main/components/double-slider/items/double-top-1.png", alt="")
              .swiper-lazy-preloader.swiper-lazy-preloader-white
          li.swiper-slide
            a(href="https://www.etmall.com.tw/Activity/CollectPointExchange/20200911", title="集點加價購")
              img.swiper-lazy(data-src="~event/2nd/e-main/components/double-slider/items/double-top-2.png", alt="")
              .swiper-lazy-preloader.swiper-lazy-preloader-white
          li.swiper-slide
            a(href="https://www.etmall.com.tw/Activity/CollectPointExchange/20200911", title="")
              img.swiper-lazy(data-src="~event/2nd/e-main/components/double-slider/items/double-top-3.png", alt="集點加價購")
              .swiper-lazy-preloader.swiper-lazy-preloader-white
          li.swiper-slide
            a(href="https://www.etmall.com.tw/Activity/CollectPointExchange/20200911", title="")
              img.swiper-lazy(data-src="~event/2nd/e-main/components/double-slider/items/double-top-4.png", alt="集點加價購")
              .swiper-lazy-preloader.swiper-lazy-preloader-white
      #sliderDoubleTopPrev.swiper-button-white.swiper-button-prev.double__top--prev
      #sliderDoubleTopNext.swiper-button-white.swiper-button-next.double__top--prev
      //- #sliderDoubleTopPager.double-slider-pager.swiper-pagination
    
      #sliderDoubleBottom.promo__slider.promo__slider--bottom.swiper-container
        ul.swiper-wrapper
          li.swiper-slide
            a(href="https://www.etmall.com.tw/Activity/CollectPointExchange/20200911", title="集點加價購")
              img.swiper-lazy(data-src="~event/2nd/e-main/components/double-slider/items/double-bottom-1.png", alt="集點加價購")
              .swiper-lazy-preloader.swiper-lazy-preloader-white
          li.swiper-slide
            a(href="https://www.etmall.com.tw/Activity/CollectPointExchange/20200911", title="集點加價購")
              img.swiper-lazy(data-src="~event/2nd/e-main/components/double-slider/items/double-bottom-2.png", alt="集點加價購")
          li.swiper-slide
            a(href="https://www.etmall.com.tw/Activity/CollectPointExchange/20200911", title="")
              img.swiper-lazy(data-src="~event/2nd/e-main/components/double-slider/items/double-bottom-3.png", alt="")
              .swiper-lazy-preloader.swiper-lazy-preloader-white
          li.swiper-slide
            a(href="https://www.etmall.com.tw/Activity/CollectPointExchange/20200911", title="集點加價購")
              img.swiper-lazy(data-src="~event/2nd/e-main/components/double-slider/items/double-bottom-4.png", alt="集點加價購")
          li.swiper-slide
            a(href="https://www.etmall.com.tw/Activity/CollectPointExchange/20200911", title="集點加價購")
              img.swiper-lazy(data-src="~event/2nd/e-main/components/double-slider/items/double-bottom-5.png", alt="集點加價購")
              .swiper-lazy-preloader.swiper-lazy-preloader-white
          li.swiper-slide
            a(href="https://www.etmall.com.tw/Activity/CollectPointExchange/20200911", title="集點加價購")
              img.swiper-lazy(data-src="~event/2nd/e-main/components/double-slider/items/double-bottom-6.png", alt="集點加價購")
              .swiper-lazy-preloader.swiper-lazy-preloader-white
      #sliderDoubleBottomPrev.swiper-button-white.swiper-button-prev.double__bottom--prev
      #sliderDoubleBottomNext.swiper-button-white.swiper-button-next.double__bottom--next

      //- #sliderDoubleBottomPager.double-slider-pager.swiper-pagination
