doctype html
html(lang='zh-Hant-TW')
  head
    meta(name='viewport', content="width=device-width, initial-scale=1")

  body
    main#spWrap.sp__wrap
      .sp--desktop--m
        #iconHome
        .star__wrap
          img(src="../img/star-y.png")
          img(src="../img/star.png")
          img(src="../img/star-y.png")
          img(src="../img/star.png")
          img(src="../img/star.png")
          img(src="../img/star.png")
        header.header__wrap--sp.m-bottom--sm
          a.logo(href="https://www.etmall.com.tw/")
          .title__wrap--header
            h1.pic
              img(src="../img/title.png", alt="浪我們相約買個夠")

      .landing__wrap
        section.slider__wrap
          #gallerySliders.gallery__sliders
            each obj in data
              .slide__item
                .sp--desktop--m
                  .title__wrap--slide.m-bottom--sm
                    .title__box
                      .title__date.m-right-px--sm(style="background-color:" + obj.color)
                        //- .background--decoration(style="background-color:" + obj.secondColor)
                        //- .foreground--decoration(style="background-color:" + obj.color)
                        div
                          span 8
                          span /
                          span= obj.date 
                      .title__slogan
                        h2
                          - var bgGradient = "linear-gradient(transparent, transparent 30%, " + obj.color + ' 30%, ' + obj.color + " 75%, transparent 75%, transparent 100%)"
                          div
                            span= obj.title[0]
                          div
                            span= obj.title[1]
                            //span(style="background-image:" + bgGradient)= obj.title[1]
                  .item__box--sp.m-right--sm.m-item__pic
                    .item__image
                      a(href= obj.item.href, title="明星商品")
                        img(src= obj.item.src, alt="明星商品")
                    .item__video--mobile
                      - var colorBorder = "3px solid " + obj.color
                      a(href= obj.video.src, title="點我觀看", style="border: " + colorBorder)
                        img(src= obj.video.img, alt="超夯直播前導預告")
                  #thumbBox.thumb__box.margin-thumb__box
                    img.card--current(src= obj.thumbs, alt="介紹卡片")
                //.marquee__wrap
                //  .sp--desktop--m
                //    .marquee__info 系統
                //    .marquee__box
                //      div= obj.marquee[0]
                //      div= obj.marquee[1]
                //      div= obj.marquee[2]
          .sp--desktop--m
            #slickBtnPrev.slick-button-prev.slick-button-custom
            #slickBtnNext.slick-button-next.slick-button-custom

        section.item__video--desktop
          .sp--desktop--m
            #galleryVideos.gallery__videos
              each obj, i in data
                .slide__item
                  .video__box
                    .background--decoration
                      .circle.circle--outer(style="background-color:" + obj.color)
                      .circle.circle--inner(style="background-color:" + obj.secondColor)
                    .video__main
                      - var videoID = 'video' + (i + 1)
                      iframe(id= videoID, class="video--youtube", src= obj.video.src + '?enablejsapi=1&html5=1', frameborder="0", allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture;", allowfullscreen)

      footer
        section.bn-w4m2.sp--desktop--m
          ul.banner__wrap
            li.banner__item
              a(href="#act01", title="浪Live新會員送浪花")
                img(src="../img/promo_3.png", alt="浪Live新會員送浪花")
            li.banner__item
              a(href="#act02", title="東森新會員送東森幣")
                img(src="../img/promo_2.png", alt="東森新會員送東森幣")
            li.banner__item
              a(href="#act04", title="觀看直播享優惠")
                img(src="../img/promo_1.png", alt="觀看直播享優惠")
            li.banner__item
              a(href="#act03", title="訂單登錄抽好禮")
                img(src="../img/promo_4.png", alt="訂單登錄抽好禮")

      // 排行榜
      section.leader__board
        .main__title
          img(src="../img/ranking/board.png", alt="人氣銷售排行榜")
        .ranking__wrap__all
          .ranking__wrap
            .ranking
              img(src="../img/ranking/no1.png")
            .contestant__wrap(style="background-image:url(../img/ranking/board-1.png)")
              .contestant__name 茶米Debby
              .contestant__score 銷售亮度：
                span 9527000
          .ranking__wrap
            .ranking
              img(src="../img/ranking/no2.png")
            .contestant__wrap(style="background-image:url(../img/ranking/board-2.png)")
              .contestant__name 茶米Debby
              .contestant__score 銷售亮度：
                span 9527000
          .ranking__wrap
            .ranking
              img(src="../img/ranking/no3.png")
            .contestant__wrap(style="background-image:url(../img/ranking/board-3.png)")
              .contestant__name 茶米Debby
              .contestant__score 銷售亮度：
                span 9527000
          .ranking__wrap
            .contestant__wrap(style="background-image:url(../img/ranking/board-4.png)")
              .contestant__name 茶米Debby
              .contestant__score 銷售亮度：
                span 9527000
          .ranking__wrap
            .contestant__wrap(style="background-image:url(../img/ranking/board-5.png)")
              .contestant__name 茶米Debby
              .contestant__score 銷售亮度：
                span 9527000

    script(src="../js/bundle.js")