*{
	margin:0;
	padding:0;
	background-color: #c1c1c1;
}
	
	body{
		margin-left:auto;
		margin-right:auto;
		background-color:#1c0158;
		}
		
	img{vertical-align:bottom}	
	
	#TOP{
		width:100%;
		background-color:#5e5e5e;
		margin-left:auto;
		margin-right:auto;
		}
	
	h1{
		font-family:Arial, Helvetica,"微軟正黑體", sans-serif;
		font-size:15px;
		color:#fff100;
		margin-left:16px;
		margin-right:16px;
		padding-top:10px;
		}
		
	h2{
		font-family:Arial, Helvetica,"微軟正黑體", sans-serif;
		font-size:15px;
		color:#FFFFFF;
		line-height:2.2;
		margin-left:16px;
		margin-right:16px;
		}
	
	p{
		font-family:Arial, Helvetica,"微軟正黑體", sans-serif;
		font-size:14px;
		color:#353535;
		line-height:1.8;
		padding-left:30px;
		padding-right:30px;
		text-align:justify;
		padding-bottom:10px;
		}
	
	
	
