section.my__wrap.m-bottom--xl
  .layout--main
    .my__block
      .decor__top
        img(src="event/1st/e-main/components/my-team/decor-my-top.png", alt="")
      .my__box.p-horizontal--lg
          .my__group.p-horizontal--xl
            .my__pic(title="ETMan戰隊")
              img(src="event/1st/e-main/components/team/items/team-1.png", alt="ETMan戰隊")
            .my__intro
              .intro__box
                .intro__head.font--title-xl 加入時間
                .intro__body
                  span.font--title-lg 2022/05/25 23:59:59
                a.btn__my(href="javascript:void(0)", title="邀請好友")
                  img(src="event/1st/e-main/components/my-team/btn-invite.png", alt="邀請好友")
      .decor__bottom
        img(src="event/1st/e-main/components/my-team/decor-my-bottom.png", alt="")
