.rule__wrap.m-bottom--xl
  .layout--main
    .rule__block
      .decor__top
        img(src="event/1st/e-main/components/rule/decor-rule-top.png", alt="")
      .rule__box.p-horizontal--lg
        .rule__title.p-horizontal--lg.m-bottom--sm
          .rule__title--wrap.m-bottom--xs
            h2.font--title-xl 2022/12/2 – 2022/12/12
            h2.font--title-xl 可擇一隊伍加入
          .capsule.font--title-xxs 加入後不可換隊
        .rule__figure.p-horizontal--lg.m-bottom--sm
          ul
            li
              .rule__rank(title="第一名獎項")
                img(src="event/1st/e-main/components/rule/items/rule-1.png", alt="第一名獎項")
            li
              .rule__rank(title="第二名獎項")
                img(src="event/1st/e-main/components/rule/items/rule-2.png", alt="第二名獎項")
        .rule__note.p-horizontal--lg
          ul.font--article
            li.m-bottom--xs 累積消費金額第一名的隊伍，可瓜分70萬樂透金
            li.m-bottom--xs 計消費金額第二名的隊伍，最高可瓜分30萬樂透金
            li.m-bottom--xs 獲得之回饋依個人於隊伍中消費占比計算
            li.m-bottom--xs 累計消費金額計算時間：2022/12/12 00：00 - 23：59

      .decor__bottom
        img(src="event/1st/e-main/pages/index/decor-section-bottom.png", alt="")


