section.hero__wrap
  .layout--main
    .hero__block
      .hero__box
        //- 標題
        h1.hero__title.hero__title--main(title="集點加價購")
          img(src="~event/1st/e-main/components/hero-section/title.png", alt="集點加價購")
      .hero__info
        a(href="", title="活動詳情")
          img(src="~event/1st/e-main/components/hero-section/info-title.png", alt="活動詳情")
      .decoration__wrap
        .decoration__title
          img(src="~event/1st/e-main/components/hero-section/decoration-title-1.png", alt="")
        .decoration__title
          img(src="~event/1st/e-main/components/hero-section/decoration-title-2.png", alt="")





