// // ==========================================================================
// // main
// // ==========================================================================
.hero__wrap
  +pos-set(relative, zero)
  // +bg-set(url("~event/1st/e-main/components/hero-section/bg-hero.jpg"), 100%)

  .hero__block
    +pos-set(relative, zero)
    padding-top: 0.5%
    overflow: hidden

  +breakpoint-min($min-width-xl)
    background-size: auto
    .hero__block
      overflow: visible


  // .hero__box
    // margin-left: 22.5%
    // width: 62%

  .hero__title
    &--main
      +pos-set(relative, zero)
      width: 100%
      text-align: center
      transform-origin: center
      animation: zoom-in 0.5s both

  .hero__info
    +pos-set(absolute, base)
    top: 7%
    right: 14.5%
    width: 13%
    max-width: 120px
    transform-origin: center
    animation: swing 2s infinite
    a
      transition: all 0.5s
      &:active,
      &:hover,
        transform: scale(1.1)

  .decoration__wrap
    +pos-set(absolute, under, 0, 0)
    width: 100%
    height: 100%
  .decoration__title
    +pos-set(absolute, zero)
    &:first-child
      top: -2.5%
      left: 20%
      width: 20%
      transform-origin:  20% top
      animation: key-rotate-from-to 1.5s both infinite alternate ease-in-out
    &:last-child
      top: -3.5%
      right: 0%
      width: 25%
      transform-origin:  80% top
      animation: key-rotate-from-to-2 1.5s 0.75s both infinite alternate ease-in-out
    img

+key-rotate-from-to(60, -10)
+key-rotate-from-to(5, -70, key-rotate-from-to-2)

@keyframes zoom-in
  0%
    opacity: 0
    transform: scale3d(.3, .3, .3)
  70%
    opacity: 1
    transform: scale3d(1.3, 1.3, 1.3)
  90%
    opacity: 1
    transform: scale3d(0.8, 0.8, 0.8)
  100%
    opacity: 1
    transform: scale3d(1, 1, 1)


@keyframes swing
  10%
    transform: rotate(15deg)
  20%
    transform: rotate(-10deg)
  30%
    transform: rotate(5deg)
  40%
    transform: rotate(-5deg)
  0, 50%, to
    transform: rotate(0deg)
