//- TODO: 給別的component引入時不需要前兩行要切換
//- section.promo__group.promo__group--bn-special.m-bottom--md
//-   .layout--main
//- var bankLink = {etmall: "https://www.etmall.com.tw/XML/content/DMSetting/Final/201910/SP_1107838/w/index.html", umall: "https://www.u-mall.com.tw/XML/content/DMSetting/Final/201910/SP_1104317/w/index.html"}
//- var bankInfo = isU ? bankLink.umall : bankLink.etmall
.promo__slider.bn-special
  #sliderSpecial.swiper-container
    ul.swiper-wrapper
      li.swiper-slide
        a(href="https://media.etmall.com.tw/sp/7649/m/index.html", title="滿額送BT21牛仔布餐具組")
          img(src="~event/1st/e-main/components/bn-special/items/promo-09-5.png", alt="滿額送BT21牛仔布餐具組")
      li.swiper-slide
        a(href="https://media.etmall.com.tw/sp/7581/m/index.html", title="JCBxApple Pay最高回饋30%")
          img(src="~event/1st/e-main/components/bn-special/items/promo-09-1.png", alt="JCBxApple Pay最高回饋30%")
      li.swiper-slide
        a(href="#note", title="天天抽 瑞穗天合國際觀光酒店")
          img(src="~event/1st/e-main/components/bn-special/items/promo-09-2.png", alt="天天抽 瑞穗天合國際觀光酒店")
      li.swiper-slide
        a(href="https://media.etmall.com.tw/sp/7655/m/index.html", title="彰化好物購")
          img(src="~event/1st/e-main/components/bn-special/items/promo-09-3.png", alt="彰化好物購")
      li.swiper-slide
        a(href="https://www.etmall.com.tw/XML/content/DMSetting/Final/202012/SP_1116835/w/index.html", title="台中女麗購")
          img(src="~event/1st/e-main/components/bn-special/items/promo-09-4.png", alt="台中女麗購")

  #sliderSpecialPrev.swiper-button-white.swiper-button-prev
  #sliderSpecialNext.swiper-button-white.swiper-button-next