//- RD的兌換紀錄Modal的結構，需留在底部並display: none
.modal.invite
  .modal__overlay.full-parent
    .overlay__block.full-parent
  form.dialog__block.invite__modal
    .modal__close
      img(src="event/1st/e-main/components/modal-template/modal-close.svg", alt="關閉")
    .area-content
      img(src="event/1st/e-main/components/modal-template/items/team-invite-1.png", alt="加入戰隊成功")
      .cta__box
        a.n-btn(href="javascript:svoid(0)" title="邀請好友")
