.promo__group--daily-slider
  +pos-set(relative, zero)
  overflow: hidden
  .decor__item

    &--title
      +pos-set(absolute, base, 3%, 20%)
      width: 60%
      +breakpoint-min($min-width-xl)
        top: 40px
        left: calc(50% - 240px)
        
    &--left
      +pos-set(absolute, zero, 3%, 2%)
      width: 24%
      transform-origin: bottom center
      +breakpoint-min($min-width-xl)
        top: 55px
        left: calc(50% - 420px)
      &.active
        animation: shake-daily-slider 1s linear infinite

    &--right
      +pos-set(absolute, base, 1%)
      right: 4.5%
      width: 20%
      transform-origin: bottom center
      +breakpoint-min($min-width-xl)
        top: 4%
        right: calc(50% - 380px)

    +breakpoint-min($min-width-xl)
      width: auto

  .title__text
    +pos-set(absolute, third)
    bottom: 8.8%
    right: 19%
    +breakpoint-min($min-width-xl)
      bottom: 99px
      right: calc(50% - 297px)

  .daily__countdown
    display: flex
    justify-content: space-around
    width: 68.5%
    +breakpoint-min($min-width-xl)
      width: 650px
    .time__block
      display: flex
      justify-content: space-around
      align-items: center
      width: 6.5%
      font-size: 5vw
      font-weight: 500
      .time__box
        width: 5%
      +breakpoint-min($min-width-xl)
        font-size: 42px

      &:first-child
        .time__box
          &:first-child
            margin-left: 0%
            margin-right: 25%
          &:last-child
            margin-left: 0%

      &:nth-child(2)
        .time__box
          &:first-child
            margin-left: 17%
          &:last-child
            margin-left: 55%

      &:last-child
        .time__box
          &:first-child
            margin-left: -10%
          &:last-child
            margin-left: 28%

      .time__box
        color: $gray-deep-dark

  .promo__wrap
    +bg-set(url(event/1st/e-main/components/daily-slider/bg-daily-slider.png), 100%, center, center)
    margin-top: 0
    .promo__zone
      +aspect-ratio(960, 1060)
      .promo__block
        padding: 27% 6% 0%
        +breakpoint-min($min-width-xl)
          padding-top: 266px
        .swiper-slide
          display: flex
          justify-content: space-between
          flex-wrap: wrap
          height: calc((100% - 10px) / 2)
          // transform: scale(1.5)
        .dynamic__item
          width: calc(100% / 2 - 5px)
          margin: 0
          background-color: $gray-deep-light
          border-radius: 6px
          +breakpoint-min($min-width-xl)
            width: calc(100% / 2 - 10px)
            border-radius: 12px
          .product--dynamic
            +pos-set(relative, zero)
            +breakpoint-min($min-width-xl)
              padding-bottom: 0%
            .product__block
              // border-radius: 3vw
              margin: 0 auto
              // width: 90%
          .product__img
            margin: 0 auto
            width: 100%
            border-bottom: none
            img
              +breakpoint-min($min-width-xl)
                width: 100%
          .product__text
            margin: 0 auto
            // padding-bottom: 4%
            border-top: none
            // background-color: transparent
            .product__name
              margin: 0.5%
              height: 10vw
              font-size: 4.2vw
              +breakpoint-min($min-width-xl)
                margin: 2%
                font-size: 30px
                height: 72px 
          .product__price
            margin: 2% auto
            width: 90%
            height: 5vw
            line-height: 5vw
            border-radius: 6px
            color: $main-e-font-color-1st
            +breakpoint-min($min-width-xl)
              height: 46px
              line-height: 40px
              border-radius: 12px

            span
              &:last-child
                font-size: 4vw
                +breakpoint-min($min-width-xl)
                  font-size: 36px

@keyframes shake-daily-slider
  0%
    transform: translateX(3%)
  10%
    transform: translateX(-3%)
  20%
    transform: translateX(3%)
  30%
    transform: translateX(-3%)
  35%
    transform: translateX(3%)
  100%
    transform: translateX(3%)
