//- TODO: 給別的component引入時不需要前兩行要切換
//- section.promo__group.promo__group--bn-special.m-bottom--md
//-   .layout--main
//- var bankLink = {etmall: "https://www.etmall.com.tw/XML/content/DMSetting/Final/201910/SP_1107838/w/index.html", umall: "https://www.u-mall.com.tw/XML/content/DMSetting/Final/201910/SP_1104317/w/index.html"}
//- var bankInfo = isU ? bankLink.umall : bankLink.etmall
.promo__slider.promo__slider-1
  #sliderPromo_1.swiper-container
    ul.swiper-wrapper
      li.swiper-slide
        a(href="#note", title="東森幣100枚 抽TOYOTA汽車")
          img(src="~event/2nd/e-main/components/promo-slider/items/promo-slider-1.png", alt="東森幣100枚 抽TOYOTA汽車")
      li.swiper-slide
        a(href="https://www.etmall.com.tw/XML/content/DMSetting/Final/202011/SP_1116795/w/index.html", title="贈BT21心型手拿鏡")
          img(src="~event/2nd/e-main/components/promo-slider/items/promo-slider-2.png", alt="贈BT21心型手拿鏡")
      li.swiper-slide
        a(href="https://www.etmall.com.tw/XML/content/DMSetting/Final/202012/SP_1114876/w/index.html", title="指定銀行最高回饋$5,200")
          img(src="~event/2nd/e-main/components/promo-slider/items/promo-slider-3.png", alt="指定銀行最高回饋$5,200")



    //#sliderSpecialPager.swiper-pagination-custom.swiper-pagination
  #sliderSpecialPrev.swiper-button-white.swiper-button-prev
  #sliderSpecialNext.swiper-button-white.swiper-button-next