body{margin: 0;padding: 0;}
*{box-sizing: border-box;}
*::before, *::after {box-sizing: border-box;}
.l-left{float: left;}
.l-right{float: right;}
.clear {clear: both}
.clearfix:before,
.clearfix:after {
  content: ".";
  display: block;
  height: 0;
  overflow: hidden;
}
.clearfix:after {
    clear: both;
}
.clearfix {
    zoom: 1; 
}
.visual__box{
	background: url(../images/bg.jpg) center 0 no-repeat;
	width: 940px;
	margin: 0 auto;
	height: 370px;
	position: relative;
}
.visual__slider{
	position: relative;
	z-index: 2;
	width: 212px;
	height: 310px;
	margin: 60px 0 0 91px}
.ad{
	position: absolute;	
}
.ad img{border: none}
.control {
	position: absolute;
	width: 310px;
	right: -50px;
	bottom: 10px;
	z-index: 50;
}
.control a {
	background-position: center 0;
	background-repeat: no-repeat;
	display: inline-block;
	padding: 10px;
	margin: 0 3px;
	width: 56px;
	height: 56px;
	position: absolute;
	z-index: 55;
	white-space: nowrap;
	text-indent: 1000%;
	overflow: hidden;
}
.control .pic-1{
	background-image: url(../images/pic_small_mac.png);
	right: 0;
	bottom: 25px;
}
.control .pic-2{
	background-image: url(../images/pic_small_phone.png);
	right: 60px;
	bottom: 11px;
}
.control .pic-3{
	background-image: url(../images/pic_small_gold.png);
	right: 125px;
	bottom: 0;
}
.control .pic-4{
	background-image: url(../images/pic_small_bags.png);
	left: 57px;
	bottom: 11px;
}
.control .pic-5{
	background-image: url(../images/pic_small_perfume.png);
	left: -3px;
	bottom: 28px;
}
.btn-slogan{
	width: 540px;
	height: 335px;
	position: absolute;
	top: 20px;
	right: 80px;
	z-index: 1;
}