.promo__group--promo-event
  +pos-set(relative, zero)
  overflow: hidden

  .promo__wrap
    +aspect-ratio(1020, 872)
  .promo__zone
    +pos-set(relative, zero)
    padding: 22% 9% 0
    +bg-set(url(event/1st/e-main/components/promo-event/bg-promo-event.png), 100%)
    .promo__block
      .event__wrap
        display: none
        +pos-set(absolute, base, 20%, 0%)
        +breakpoint-min($min-width-xl)
          left: calc(50% - 805px)
          transform: translateX(50%)
        &.active
          display: block
      .event__block
        display: flex
        justify-content: space-around
        flex-wrap: wrap
        padding-bottom: 1%
        .promo__item 
          +pos-set(relative, zero)
          margin-bottom: 1%
          width: 24%
          .event__item
            display: none
            +pos-set(absolute, zero, 0%, 0%)
            &.active
              display: block
      .promo__box
        width: 70%
        margin: -1% auto 0