section.event__wrap--w4m2.m-bottom--xs
  .layout--main
    .tilte__zone--event
      .event__title
      img(src="../components/event-w4m2/event-w4m2-title.png", alt="")
    #eventW4m2.event__zone
      if !isU
        a(href="https://www.etmall.com.tw/XML/content/DMSetting/Final/201904/SP_1107415/w/index.html", title="台新銀行").event__item
          img(src="../components/event-w4m2/event-w4m2-item-1.png", alt="台新銀行")
        a(href="https://www.etmall.com.tw/XML/content/DMSetting/Final/201904/SP_1107415/w/index.html", title="花旗銀行").event__item
          img(src="../components/event-w4m2/event-w4m2-item-2.png", alt="花旗銀行")
        a(href="https://www.etmall.com.tw/XML/content/DMSetting/Final/201904/SP_1107415/w/index.html", title="聯邦銀行").event__item
          img(src="../components/event-w4m2/event-w4m2-item-3.png", alt="聯邦銀行")
        a(href="https://www.etmall.com.tw/XML/content/DMSetting/Final/201904/SP_1107415/w/index.html", title="永豐銀行").event__item
          img(src="../components/event-w4m2/event-w4m2-item-4.png", alt="永豐銀行")
        a(href="https://www.etmall.com.tw/XML/content/DMSetting/Final/201904/SP_1107415/w/index.html", title="星展銀行").event__item
          img(src="../components/event-w4m2/event-w4m2-item-5.png", alt="星展銀行")
        a(href="https://www.etmall.com.tw/XML/content/DMSetting/Final/201904/SP_1107415/w/index.html", title="合作金庫").event__item
          img(src="../components/event-w4m2/event-w4m2-item-6.png", alt="合作金庫")
        a(href="https://www.etmall.com.tw/XML/content/DMSetting/Final/201904/SP_1107415/w/index.html", title="凱基銀行").event__item
          img(src="../components/event-w4m2/event-w4m2-item-7.png", alt="凱基銀行")
        a(href="https://www.etmall.com.tw/XML/content/DMSetting/Final/201904/SP_1107415/w/index.html", title="國泰世華").event__item
          img(src="../components/event-w4m2/event-w4m2-item-8.png", alt="國泰世華")
      else if isU
        a(href="https://www.u-mall.com.tw/XML/content/DMSetting/Final/201904/SP_1104002/w/index.html", title="台新銀行").event__item
          img(src="../components/event-w4m2/event-w4m2-item-1.png", alt="台新銀行")
        a(href="https://www.u-mall.com.tw/XML/content/DMSetting/Final/201904/SP_1104002/w/index.html", title="花旗銀行").event__item
          img(src="../components/event-w4m2/event-w4m2-item-2.png", alt="花旗銀行")
        a(href="https://www.u-mall.com.tw/XML/content/DMSetting/Final/201904/SP_1104002/w/index.html", title="聯邦銀行").event__item
          img(src="../components/event-w4m2/event-w4m2-item-3.png", alt="聯邦銀行")
        a(href="https://www.u-mall.com.tw/XML/content/DMSetting/Final/201904/SP_1104002/w/index.html", title="永豐銀行").event__item
          img(src="../components/event-w4m2/event-w4m2-item-4.png", alt="永豐銀行")
        a(href="https://www.u-mall.com.tw/XML/content/DMSetting/Final/201904/SP_1104002/w/index.html", title="星展銀行").event__item
          img(src="../components/event-w4m2/event-w4m2-item-5.png", alt="星展銀行")
        a(href="https://www.u-mall.com.tw/XML/content/DMSetting/Final/201904/SP_1104002/w/index.html", title="合作金庫").event__item
          img(src="../components/event-w4m2/event-w4m2-item-6.png", alt="合作金庫")
        a(href="https://www.u-mall.com.tw/XML/content/DMSetting/Final/201904/SP_1104002/w/index.html", title="凱基銀行").event__item
          img(src="../components/event-w4m2/event-w4m2-item-7.png", alt="凱基銀行")
        a(href="https://www.u-mall.com.tw/XML/content/DMSetting/Final/201904/SP_1104002/w/index.html", title="國泰世華").event__item
          img(src="../components/event-w4m2/event-w4m2-item-8.png", alt="國泰世華")
    #btnPrevEventW4m2.btn--prev-event-w4m2
    #btnNextEventW4m2.btn--next-event-w4m2