// all common sub-page color style
.nav__bottom
  border-top-color: $primary-medium
.nav__wrap
  .nav__index
    border-right-color: $primary-medium
.btn--nav-bottom
  +btn-border($primary-medium)

// apple sub-page color style
.sp__wrap--apple
  .nav__bottom
    border-top-color: $gray-light
  .nav__wrap
    .nav__index
      border-right-color: $gray-light
  .btn--nav-bottom
    +btn-border($gray-light)

// layout style
.nav__bottom
  +nav-overflow-x
  position: fixed
  z-index: map-get($zindex, bnElems)
  bottom: 0
  width: 100%
  background-color: $gray-deep-dark
  border-top-width: 1px
  border-top-style: solid
  +breakpoint-min($min-width-lg)
    border-top-width: 2px
.nav__wrap
  +display-flex
  padding: 1%
  white-space: nowrap
  +breakpoint-min($min-width-lg)
    justify-content: center
    a
      +font-size($fz-28)
  li
    + li
      margin-left: 1%
  .nav__index
    margin-right: 1%
    padding-right: 2%
    white-space: nowrap
    border-right-width: 2px
    border-right-style: solid
