//- 要在各頁面的sass控制在該頁面就拿掉該頁面的li
nav#navBottom.nav__bottom
  .layout--main
    ul.nav__wrap
      li.nav__index
        a(href="https://www.etmall.com.tw/XML/content/DMSetting/Final/201907/SP_1108626/w/index.html", title="回通訊館主頁").btn.btn--nav-bottom 通訊館
      li.nav__apple
        a(href="https://www.etmall.com.tw/XML/content/DMSetting/Final/201907/SP_1108627/w/index.html", title="APPLE").btn.btn--nav-bottom APPLE
      li.nav__phone
        a(href="https://www.etmall.com.tw/XML/content/DMSetting/Final/201907/SP_1108628/w/index.html", title="推薦手機").btn.btn--nav-bottom 推薦手機
      li.nav__pad
        a(href="https://www.etmall.com.tw/XML/content/DMSetting/Final/201907/SP_1108629/w/index.html", title="平板電腦").btn.btn--nav-bottom 平板電腦
      li.nav__wear
        a(href="https://www.etmall.com.tw/XML/content/DMSetting/Final/201907/SP_1108630/w/index.html", title="智慧手錶/環").btn.btn--nav-bottom 智慧手錶/環
      li.nav__accessories
        a(href="https://www.etmall.com.tw/XML/content/DMSetting/Final/201907/SP_1108631/w/index.html", title="手機/平板周邊").btn.btn--nav-bottom 手機/平板周邊
