<!-- ie9 -->
<!--[if !IE]><!-->
section.promo__group.promo__group--countdown.m-bottom--xl(data-title="集氣搶好物")
  .layout--main
    .countdown__wrap
      .timer__wrap
        span 倒數
        span#timerCountdown
      #sliderCountdown.product__wrap--countdown.swiper-container
        ul#productWrapCountdown.swiper-wrapper
      //- #sliderGoodsFlipPager.swiper-pager-white.swiper-pagination
      #sliderCountdownPrev.swiper-button-prev
      #sliderCountdownNext.swiper-button-next
<!--<![endif]-->
//- data-countdown讚assets資料夾內、連結寫在index.pug內
