//- 因為電梯需要能在網頁各處sticky，加上沒在用浮水印，暫時廢棄，之後有需要統整再考慮開啟 - 2022/1/10

//- 電梯定位
//- ajax進來左電梯放在底部的話可以讓上部分load更快
#elevatorHome.elevatorHome.js--main--dialog
//- 右電梯要能在各處sticky所以不會一直在這
#navRightBar.navRightBar

//- 浮水印定位 - 很久沒用了
#iconHome.icon__home.layout--main