section.section--cell.promo__group.promo__group--note.m-bottom--xl
  .layout--main
    .group__wrap
      .group__title.block--center.m-bottom--lg
        img(src="event/1st/e-main/components/note/title-note.png", alt="活動辦法")

      .group__info
        .note__box.p-horizontal--xs
          article.p-horizontal--sm
            .note__part
              h3.font--title-sm.m-bottom--xs 一、活動內容：
              ol.font--article
                li.m-bottom--xs 活動名稱：1212爭霸戰。
                li.m-bottom--xs 活動時間：2022/12/02 10:00 - 2022/12/12 23:59。
                li.m-bottom--xs 加入戰隊時間：2022/12/02 10:00 - 2022/12/12 12:12（加入戰隊後不可換隊）。
                li.m-bottom--xs 計算消費時間 : 2022/12/12 00:00 ~ 2022/12/12 23:59。
                li.m-bottom--xs 活動內容 : 於2022/12/12 00:00 ~ 2022/12/12 23:59 期間内，評比各戰隊累計發票總金額(排除條件請參閲注意事項1-7項)，做爭奪排名。（請參閱下方回饋計算方式）。
                  ul
                    li (1) 累積發票總金額第一名的隊伍，可瓜分70萬樂透金；
                    li (2) 累積發票總金額第二名的隊伍，可瓜分50萬東森幣；
                    li (3) 活動頁面顯示隊伍累計金額非最終比賽結果，最終於2023/01/12另行公布隊伍累計金額。
                li.m-bottom--xs 樂透金預計將於2023/01/18 18：00前發送，使用效期至2023/02/18 23：59止，逾期失效。

            .note__part
              h3.font--title-sm.m-bottom--xs 二、回饋計算方式：
              ol.font--article
                li.m-bottom--xs 隊伍可瓜分金額依隊伍累計發票總金額達到指定門檻計算(如下説明)。
              .table-section.font--article
                .table__box
                  table
                    thead
                      tr
                        th(colspan=4) 隊伍排名
                      tr
                        th(colspan=2) 第一名隊伍
                        th(colspan=2) 第二名隊伍
                      tr
                        th 隊伍累計發票總金額
                        th 瓜分金額
                        th 隊伍累計發票總金額
                        th 瓜分金額
                    tbody
                      tr
                        td 200萬
                        td 2萬
                        td 200萬
                        td 1萬
                      tr
                        td 得易狗戰隊
                        td $80,000
                        td 5
                      tr
                        td ET 貓戰隊
                        td $50,000
                        td 6

              .table-section.font--article
                h4 範例一、ET Man戰隊排名第一，可瓜分70萬樂透金：
                .table__box
                  table
                    thead
                      tr
                        th 項目
                        th 隊友A
                        th 隊友B
                        th 隊友C
                    tbody
                      tr
                        td 累積發票金額
                        td $50,000
                        td $30,000
                        td $20,000
                      tr
                        td 金額占比
                        td 50.0%
                        td 30.0%
                        td 20.0%
                      tr
                        td 回饋樂透金金額
                        td $350,000
                        td $210,000
                        td $140,000

              .table-section.font--article
                h4 範例二、得易狗戰隊排名第二，可瓜分50萬東森幣：
                .table__box
                  table.table--scroll
                    thead
                      tr
                        th 項目
                        th 隊友A
                        th 隊友B
                        th 隊友C
                        th 隊友D
                        th 隊友E
                    tbody
                      tr
                        td 累積發票金額
                        td $30,000
                        td $20,000
                        td $15,000
                        td $10,000
                        td $5,000
                      tr
                        td 金額占比
                        td 37.5%
                        td 25.0%
                        td 18.75%
                        td 12.5%
                        td 6.25%
                      tr
                        td 回饋樂透金金額
                        td $187,500
                        td $125,000
                        td $93,750
                        td $62,500
                        td $31,250
                h5 ＊手機網頁、App可左右滑動查看範例詳情

              .table-section.font--article
                h4 範例三、ET 貓戰隊戰隊排名第三，排名前5的隊友可獲得萬元贈品：
                .table__box
                  table.table--scroll
                    thead
                      tr
                        th(width="18%")  項目
                        th 隊友A
                        th 隊友B
                        th 隊友C
                        th 隊友D
                        th 隊友E
                        th 隊友F
                    tbody
                      tr
                        td 累積發票金額
                        td $20,000
                        td $15,000
                        td $7,000
                        td $5,000
                        td $2,000
                        td $1,000
                      tr
                        td 隊友排名
                        td 1
                        td 2
                        td 3
                        td 4
                        td 5
                        td 6
                      tr
                        td 獲獎資格
                        td
                          p 獲得小米掃拖機器人 2 Ultra 集塵版 東森價14,995
                        td
                          p 獲得小米掃拖機器人 2 Ultra 集塵版 東森價14,995
                        td
                          p 獲得小米掃拖機器人 2 Ultra 集塵版 東森價14,995
                        td
                          p 獲得小米掃拖機器人 2 Ultra 集塵版 東森價14,995
                        td
                          p 獲得小米掃拖機器人 2 Ultra 集塵版 東森價14,995
                        td
                          p 非前5名，故無獲獎資格
                h5 ＊手機網頁、App可左右滑動查看範例詳情

            .note__part
              h3.font--title-sm.m-bottom--xs  三、注意事項:
              ol.font--article.m-bottom--xs
                li.m-bottom--xs 戰隊頁面僅顯示目前領先隊伍，且每小時更新乙次，最終更新時間為2022/06/19 01:00，頁面顯示領先隊伍非最終比賽結果，最終於2022/07/10另行公布戰隊排名。給獎金額排除以下條件後，依系統結算為準。
                li.m-bottom--xs 限東森購物網/APP下單，若有退貨、取消、付款失敗等之訂單不認列在累積發票金額中。
                li.m-bottom--xs 使用東森幣/提貨券/禮物卡/樂透金不認列在累積發票金額中。
                li.m-bottom--xs 餐券類、遊戲點數卡、旅遊/住宿券等商品不認列在累積發票金額中。
                li.m-bottom--xs 如使用信用卡付款，【信用卡持卡人】需與【會員帳戶】相同，如因不相同導致取消訂單，累積發票金額則不認列在此活動消費金額內。
                li.m-bottom--xs 活動開始及結束時間，依官方伺服器時間為主，參加者不得以自身使用的裝置、電腦或手機等時間作為爭議。
                li.m-bottom--xs 大宗採購(同一客代購買指定單一品類/商品的數量達10件(含)以上等情況，定義為大宗採購，將不認列在累計金額中。東森購物擁有篩選是否為大宗採購的權利)、公司戶(使用三聯式發票、統一編號等之訂單，不認列在累計金額中)，若發現有以上情況者，主辦單位保有活動結束後篩選與取消資格的權利。
                li.m-bottom--xs 中獎者需在收到中獎通知函，需於指定時間內以掛號或email方式，將中獎人資料寄回東森指定地址/E-MAIL信箱，若於期限內無法取得或資料不全者，視同放棄得獎權利。
                li.m-bottom--xs 參加者於參加本活動之同時，即同意接受本活動之活動辦法與注意事項之規範，如有違反，東森購物網得取消其參加或得獎資格，並就因此所生之損害，得向參加者請求損害賠償。
                li.m-bottom--xs 參加者須遵守東森購物網的服務條款、使用規範及其他交易有關之規定，如有違反，即自動喪失參加資格，如為得獎者，則喪失得獎資格。
                li.m-bottom--xs 參加者須同意接受東森購物網隱私權保護政策；參加者同意東森購物網於辦理本活動得獎聯絡事宜、活動分析或其他活動網頁上所聲明之方式及特定目的範圍內，得蒐集、處理及利用參加者所填寫之個人資料；參加者並同意東森購物網得委託協力廠商負責執行前述各項事務，該廠商得於必要範圍內使用參加者之個人資料；除本活動辦法另有規定外，東森購物網關於參加者個人資料之使用及參加者之權益悉依東森購物網隱私權保護政策之規範。
                li.m-bottom--xs 參加者須保證所有填寫或提出之資料均為真實且正確，且未冒用或盜用任何第三人之資料。如有不實或不正確之情事，將被取消參加或得獎資格。如因此致東森購物網無法通知其得獎訊息時，東森購物網不負任何責任，且如有致損害於東森購物網或其他任何第三人，參加者應負一切相關責任。
                li.m-bottom--xs 參加者若因會員資料填寫不完整者，或活動後變更資料(如姓名、手機、地址等)，或手機收訊不良、電信業者遺漏訊息或阻擋企業簡訊、APP關閉推播通知等情況，導致無法收到商品或簡訊，或收到簡訊後未保留簡訊者、信件無人領取被退件等，恕不補發
                li.m-bottom--xs 參加者如因參加本活動或因活動獎項而遭受任何損失，東森購物網及相關之母公司、子公司、關係企業、員工、及代理商不負任何責任。
                li.m-bottom--xs 如有任何因電腦、網路、電話、技術或不可歸責於東森購物網之事由，而使參加者所寄出或登錄之資料有遲延、遺失、錯誤、無法辨識或毀損之情況，東森購物網不負任何法律責任，參加者亦不得因此異議。
                li.m-bottom--xs 東森購物網保留審核成功資格之權利，經認定為重覆Email、重覆手機號碼，或是無效Email、假帳號或非本人身分證等情形，將取消活動資格
                li.m-bottom--xs 本活動畫面可能因網路或裝置延遲，或同時多人同時參加等因素，參加者不得以頁面顯示做為爭議。
                li.m-bottom--xs 依中華民國所得稅法及其相關法令規定，得獎之獎項價值超過新台幣1,001元者，須納入個人年度所得，並由「東森購物網」開立扣繳憑單；超過新台幣20,010元者，得獎者須於領獎時先繳納10%之機會中獎所得稅金(若得獎者為外國人，或居留台灣期間未達183日以上之大陸地區人民者，須於領獎同時扣繳20％之機會中獎所得稅金)始得以領獎。為辦理扣繳憑單開立事宜及確認得獎者之身份，須請得獎者提供身分證正反面影本、護照影本、在台居留證影本或其他可證明得獎者身份之文件影本。(稅務扣繳相關法規規定請參照財政部網站)
                li.m-bottom--xs 得獎者所提供之身分證明文件如與報名時所登錄資料不符（或利用東森購物網會員帳號參加活動時，與會員登錄資料不符），東森購物網得要求得獎者提出相關證明文件，否則東森購物網得取消其得獎資格。
                li.m-bottom--xs 給獎名單不另行通知，給獎名單及獎項明細，將置入於【我的禮物盒】功能中即可查詢，給獎日以APP推播通知。
                li.m-bottom--xs 【樂透金使用說明】：進入購物車結帳頁面→使用樂透金→輸入使用金額→點選加入→加入後即可折抵。
                li.m-bottom--xs 東森購物網保有活動變更、修改或終止本活動之權力，如有異動，修改後之內容將公佈在東森購物網上。

                  h4 【我的禮物盒說明】
                  ol
                    li 樂透金、東森幣將置入於【我的禮物盒】功能中，給獎日以APP推播通知。
                    li 【我的禮物盒】功能僅限行動裝置、APP支援。
                    li 【我的禮物盒】查詢方式：開啟東森購物行動裝置、APP→會員中心→點選【我的禮物盒】→選擇欲觀看獲獎明細→查詢獲獎活動資訊。
                    li 查看APP推播通知步驟：點選通知小鈴鐺→點選通知查看。
                    li 查詢途徑示意如下：
              .figure__box
                figure
                  img(src="event/1st/e-main/components/note/note-figure-1.jpg", alt="")
                figure
                  img(src="event/1st/e-main/components/note/note-figure-2.jpg", alt="")
