section.promo__group.dynamic-slider-half.m-bottom--lg(data-title="幣買攻略")
  .layout--main
    .decor__wrap.full-parent
      .decor__item.decor__item--left#decorHalfLeft
        img(src="event/1st/e-main/components/dynamic-slider-half/decor-half-left.png", alt="")
      .decor__item.decor__item--right#decorHalfRight
        img(src="event/1st/e-main/components/dynamic-slider-half/decor-half-right.png", alt="")
    .promo__wrap
      .promo__zone
        .promo__block
          .promo__box
            a(href="", title="年菜感謝祭")
              img(src="event/1st/e-main/components/dynamic-slider-half/bn-dynamic-half.jpg", alt="年菜感謝禮")
          .slider__box
            #sliderDynamicHalf.promo__slider.swiper-container.container--dynamic-half
              ul.swiper-wrapper
            .promo__box--btn
              a(href="", title="年菜感謝祭")
                img(src="event/1st/e-main/components/dynamic-slider-half/btn-dynamic-slider-half.png", alt="年菜感謝禮")


