section.hero__wrap
  .layout--main
    .hero__block
      h1.hero__bg(title="618整點抽大獎")
        img(src="event/current/components/hero/bg-detail.png" alt="618整點抽大獎")
        a(href="")
          img.btn-detail(src="event/current/components/hero/btn-detail.png" alt="618整點抽大獎")