// ==========================================================================
// Collection Helpers 
// ==========================================================================
@import "utils/sass/helpers/_collection"

// // ==========================================================================
// // Plugins
// // ==========================================================================
// // @import "vendors/animate"

// // ==========================================================================
// // layout
// // ==========================================================================
@import "layout/logo/_logo.sass"
// @import "../../layout/header/main/_header.sass"
// @import "../../layout/bg-decoration/bg-decoration.sass"

// // ==========================================================================
// // components
// // ==========================================================================
// @import "../../components/common-event/_common-event.sass"
// @import "../../components/event-w2m1/_event-w2m1.sass"
// @import "../../components/event-w4m2/_event-w4m2.sass"
// @import "../../components/bn-group-w2m1-2/_bn-group-w2m1-2.sass"
// @import "../../components/bn-group-w2m1/_bn-group-w2m1.sass"

// // ==========================================================================
// // Page
// // ==========================================================================
body
  background-color: $main-u--2nd-background-color
.sp__wrap a
  display: block
.btn--promo
  transition: all 0.5s
  &:hover
    transform: scale(1.05)
    filter: brightness(120%)
.hero
  padding-bottom: 3.5%
  height: calc(100vw * 0.853) // 抵擋太空垃圾
  background: center 0 url("pages/index-main-u-2nd/img/2560-01.png") no-repeat
  background-size: cover
  .title__wrap--main
    padding-top: 3%
    width: 65%
    img
      margin-left: -8%
  +breakpoint-min($min-width-xl)
    height: 819px
    padding-bottom: 30px
    background-size: auto
  .hero__pic
    margin-top: -1.5%
    margin-left: 37%
    width: 41%
.promo__event
  padding: 1% 0 8%
  position: absolute
  top: calc(100vw * 0.58)
  +breakpoint-min($min-width-xl)
    top: 557px
    padding: 10px 0 75px
    background-size: auto
  .event__wrap
    +display-flex
    flex-wrap: wrap
    li
      width: 33%
      a
        transition: all 0.5s
        &:hover
          transform: scale(1.05)
          filter: brightness(120%) contrast(120%)
.promo__group
  .promo__wrap
    position: relative
    z-index: map-get($zindex, zero)
    .promo__slider,
    .video__wrap
      position: absolute
      z-index: map-get($zindex, base)
      top: 20%
      left: 0
      width: 100%
      height: 80%

.promo__group-6
  background: center 0 url("pages/index-main-u-2nd/img/2560-02.png") no-repeat
  background-size: cover
  .promo__wrap
    padding-top: 84%
    .swiper-slide
      img
        transition: transform 0.6s
        transform: translateY(-30%) scale(0.6)
    .swiper-button-white
      transform: scale(0.8)
      opacity: 0.7
    +breakpoint-min($min-width-lg)
      padding-top: 80%
      .swiper-slide
        img
          transform: translateY(70%) scale(0.5)
          filter: grayscale(100%)
      .swiper-slide-active
        img
          transform: scale(1.5) translateY(8%)
          filter: grayscale(0)
      .swiper-button
        &-prev
          left: 15px
        &-next
          right: 15px


.promo__group-8
  background: center 0 url("pages/index-main-u-2nd/img/2560-03.png") no-repeat
  background-size: cover
  margin-top: calc(-100vw * 0.05)
  +breakpoint-min(767px)
    margin-top: 0
  .promo__wrap
    padding-top: 76%
    .promo__slider
      top: 23%
    &:after
      content: ''
      position: absolute
      z-index: map-get($zindex, fifth)
      top: 75%
      left: 25%
      width: 24%
      height: 13%
      //background: url("pages/index-main-e/img/6-material_01.png") no-repeat
      background-size: contain
      pointer-events: none
      +breakpoint-min($min-width-xl)
        top: 73%
        left: 10%
        width: 24%
        height: 13%
    .promo__slider
      height: 70%
      +breakpoint-min($min-width-xl)
        height: 70%
    .swiper-slide
      a
        transition: transform 0.6s
        transform: translateY(-18%) scale(0.5)
    .swiper-slide-active
      a
        transform: translateY(-18%) scale(0.65)
    .promo-pager
      bottom: 15px
      left: 50%
      transform: translateX(-50%)
      .swiper-pagination-bullet
        margin: 0 1px
        width: 6px
        height: 6px
      .swiper-pagination-bullet-active
        background-color: $main-e-slider-pager-color
    .swiper-button-white
      top: 93%
      transform: scale(0.6)
    .swiper-button-prev
      left: 35%
    .swiper-button-next
      right: 35%
    .button__wrap
      position: absolute
      z-index: map-get($zindex, zero)
      bottom: 0
      left: 50%
      width: 30%
      height: 10%
      transform: translateX(-50%)
      .btn--see-more
        margin-top: -12%
    +breakpoint-min($min-width-xl)
      padding-top: 76%
      .promo__slider
        top: 23%
      .swiper-slide
        a
          transform: translateY(-15%) scale(0.6)
      .swiper-slide-active,
      .swiper-slide-active + .swiper-slide
        a
          transform: scale(0.9) translateY(-5%)
      .button__wrap
        .btn--see-more
          margin-top: -10%
      .promo-pager
        bottom: 60px
        left: 50%
        transform: translateX(-50%)
        .swiper-pagination-bullet
          margin: 0 4px
          width: 12px
          height: 12px

.promo__group-7
  background: center 0 url("pages/index-main-u-2nd/img/2560-04.png") no-repeat
  background-size: cover
  .promo__wrap
    left: 1%
    padding-top: 58%
    width: 98%
    .promo__slider
      top: 22%
      height: 78%
      //background: center 0 url("pages/index-main-u-2nd/img/7-bg_03-mobile.png") no-repeat
      background-size: contain
      .swiper-slide
        width: 50%
        a
          transform: translateY(-1%) scale(0.6)
    .swiper-button-white
      top: 60%
      transform: scale(0.8)
      opacity: 0.7
    +breakpoint-min($min-width-xl)
      padding-top: 42%
      .promo__slider
        margin-left: 1%
        width: 98%
        //background: center url("pages/index-main-u-2nd/img/7-bg_03.png") no-repeat
        .swiper-slide
          a
            transform: scale(0.85) translateY(40%)
      .swiper-button
        &-prev
          left: 15px
        &-next
          right: 15px
      .swiper-button-white
        top: 65%

+breakpoint-min($min-width-xl)
  .promo__group
    background-size: auto
