doctype html
html(lang='zh-Hant-TW')
  head
    include /utils/pug/_total-head
  body
    main#spWrap.sp__wrap
      //- - var firstItem = "我要報名"
      include /layout/header/_header

      include /components/intro-section/_intro-section


