//- 小檔活動
section.promo__group.promo__group--dynamic-slider-half.m-bottom--sm(data-title="")
  .layout--main
    .promo__wrap
      .pic__box
        a(href="https://media.etmall.com.tw/sp/9565/m/index.html", title="宅家防疫安心購")
          img(src="event/1st/e-main/components/dynamic-slider-half/item-dynamic-slider-half-0.png", alt="宅家防疫安心購")
      .slider__box
        #sliderDynamicHalf.promo__slider.swiper-container
          ul.swiper-wrapper

      //- #sliderDynamicHalfPager.dynamic-slider-pager.dynamic-slider-pager--half.swiper-pagination

//- data-dynamic.js在assets資料夾內、由index.pug外連過去