section.promo__group.promo__group--dynamic-section.promo__group--dynamic-section-1.m-bottom--lg(data-title="618元")
  .layout--main
    #decoDynamicSection.promo__title
      .title__decoration
        img(src="event/1st/e-main/components/dynamic-section/decoration-dynamic-section.png", alt="")
      .title__pic
        img(src="event/1st/e-main/components/dynamic-section/title-dynamic-section.png", alt="618元商品")

    .promo__wrap
      #dynamicSection
        .product__wrap
