.nav
  // .nav__wrap
    // +aspect-ratio(960, 1280)
  .nav__wrap
    ul
      display: flex
      flex-wrap: wrap
      justify-content: space-around
      li
        width: 33.33%
        a
          transition: transform 0.5s
          &:hover,
          &:active
            transform: scale(1.05)
            filter: brightness(120%)