.promo__group--dynamic-slider-half
  .promo__wrap
    display: flex
    +pos-set(relative, zero)
    padding: 3% 1% 5.5% 4.5%
    +bg-set(url("~event/1st/e-main/components/dynamic-slider-half/bg-dynamic-slider-half.png"), 100%)
    .pic__box
      flex: 0 1 30.1%
      // margin-right: 1.5%
      padding: 1.1%
    .slider__box
      width: 67.9%
      .promo__slider
        +pos-set(relative, zero)
        padding: 0 4%
        width: 100%
        height: 100%
      .dynamic-slider-pager.dynamic-slider-pager--half
        left: 65.4%
        bottom: calc(1.5% + 1.5vw)
        .swiper-pagination-bullet
          background-color: $gray-medium
        .swiper-pagination-bullet-active
          background-color: $main-e-background-color-1st-2

    .pic__box,
    .swiper-slide
      +bg-set(url("~event/1st/e-main/components/dynamic-slider-half/bg-dynamic-slider-half-item.png"), 100%)

    .swiper-slide
      width: 50%
      padding: 1.7%

      // lazyLoad CSS start
      .product__img
        +aspect-ratio(500, 500, relative, zero, span)
        img
          +pos-set(absolute, base, 0, 0)
      // lazyLoad CSS end

    +breakpoint-min($min-width-xl)
      padding: 15px 20px 60px 25px
      +bg-set(url("~event/1st/e-main/components/dynamic-slider-half/bg-dynamic-slider-half-web.png"), auto)
      .pic__box
        flex: 0 1 19.55%
        padding: 7px

      .slider__box
        width: 80.45%
        .promo__slider
          padding: 0 5px
          .swiper-wrapper
            display: flex
            justify-content: space-between
            .swiper-slide
              flex: 0 1 24.6%
              padding: 7px 8px

  .product--dynamic
    height: 100%
    background-color: $gray-deep-light
    overflow: hidden
    .product__name
      display: -webkit-box
      -webkit-line-clamp: 2
      -webkit-box-orient: vertical
      text-overflow: ellipsis
      margin: 3% 0
      padding: 0 2%
      color: $gray-deep-dark
      line-height: 110%
      height: 2.2em
      font-size: 12px
      overflow: hidden
    .product__price
      padding: 0 2%
      color: $primary-medium
      font-weight: bold
      span
        &:first-child
          font-size: 2vw
        &:last-child
          font-size: 3vw

    +breakpoint-max($max-width-xxs)
      .product__name
        margin: 0

    +breakpoint-min($min-width-lg)
      .product__name
        margin: 5% 0
        font-size: 2.5vw
      .product__price
        span
          &:first-child
            font-size: 2vw
          &:last-child
            font-size: 3.5vw

    +breakpoint-min($min-width-xl)
      .product__name
        margin: 5px 0
        font-size: 20px
      .product__price
        span
          &:first-child
            font-size: 14px
          &:last-child
            font-size: 24px

.dynamic-slider-pager
  bottom: 1.8%
  left: 49%
  transform: translateX(-50%)
  .swiper-pagination-bullet
    margin: 0 2px
    width: 6px
    height: 6px
    background-color: $gray-deep-dark
    opacity: .8
    outline: 0
  .swiper-pagination-bullet-active
    background-color: $main-e-background-color-1st-2
    opacity: 1

  +breakpoint-min($min-width-lg)
    bottom: 14px
    .swiper-pagination-bullet
      margin: 0 6px
      width: 12px
      height: 12px

  +breakpoint-min($min-width-xl)
    bottom: 16px
    .swiper-pagination-bullet
      margin: 0 8px
      width: 16px
      height: 16px