.bn-special__wrap(data-title="銀行好禮")
  .promo__slider
    #sliderSpecial.swiper-container
      ul.swiper-wrapper
        li.swiper-slide
          a(href= "https://www.etmall.com.tw/XML/content/DMSetting/Final/209901/SP_1106646/w/index.html", title="凱基銀行滿8888送888刷卡金")
            img(src="~event/index-main-e-2/components/bn-special/items/3-1.png", alt="凱基銀行滿8888送888刷卡金")
            img(src="~event/index-main-e-2/components/bn-special/items/3-1-web.png", alt="凱基銀行滿8888送888刷卡金")
        li.swiper-slide
          a(href= "https://www.etmall.com.tw/XML/content/DMSetting/Final/209901/SP_1106646/w/index.html", title="滿16,800送1,680東森提貨券")
            img(src="~event/index-main-e-2/components/bn-special/items/3-2.png", alt="滿16,800送1,680東森提貨券")
            img(src="~event/index-main-e-2/components/bn-special/items/3-2-web.png", alt="滿16,800送1,680東森提貨券")
        li.swiper-slide
          a(href= "https://www.etmall.com.tw/XML/content/DMSetting/Final/209901/SP_1106646/w/index.html", title="銀行聯邦滿26,888送2,688刷卡金")
            img(src="~event/index-main-e-2/components/bn-special/items/3-3.png", alt="銀行聯邦滿26,888送2,688刷卡金")
            img(src="~event/index-main-e-2/components/bn-special/items/3-3-web.png", alt="銀行聯邦滿26,888送2,688刷卡金")

      #sliderSpecialPager.swiper-pagination-custom.swiper-pagination
      #sliderSpecialPrev.swiper-button-black.swiper-button-prev
      #sliderSpecialNext.swiper-button-black.swiper-button-next