.nav__block
  ul
    display: flex
    flex-wrap: wrap
    justify-content: space-between
    padding: 0 1.66%
    // border: 1px solid #fff // 對位置用
  li
    flex: 0 0 32.33%
    // border: 1px solid #000 // 對位置用
  a
    text-align: center
    img
      transition: all 0.5s
    &:hover,
    &:active
      img
        transform: scale(1.1)




