nav.nav__wrap
  .layout--main
    .nav__block
      ul
        li
          a(href="#loyaltyCard", title="我的集點卡")
            img(src="event/1st/e-main/components/nav-menu/items/nav-menu-1.png", alt="我的集點卡")
        li
          a(href="#collectChange", title="集點換好禮")
            img(src="event/1st/e-main/components/nav-menu/items/nav-menu-2.png", alt="集點換好禮")
        li
          a(href="#collectBuy", title="集點購好物")
            img(src="event/1st/e-main/components/nav-menu/items/nav-menu-3.png", alt="集點購好物")


