section.promo__group.promo__group--tab.m-bottom--xs
  .layout--main
    ul.tab__wrap
      li.tab__zone
        ul#tabBox.tab__box
          li.tab__item(title="11.1 精選優惠").active
            img(src="~event/2nd/e-sp/components/tab-section/items/tab/tab-d1-m.png", alt="11.1 精選優惠")
            img(src="~event/2nd/e-sp/components/tab-section/items/tab/tab-l1-m.png", alt="11.1 精選優惠")
            img(src="~event/2nd/e-sp/components/tab-section/items/tab/tab-d1.png", alt="11.1 精選優惠")
            img(src="~event/2nd/e-sp/components/tab-section/items/tab/tab-l1.png", alt="11.1 精選優惠")
          li.tab__item(title="11.2 保健日")
            img(src="~event/2nd/e-sp/components/tab-section/items/tab/tab-d2-m.png", alt="11.2 保健日")
            img(src="~event/2nd/e-sp/components/tab-section/items/tab/tab-l2-m.png", alt="11.2 保健日")
            img(src="~event/2nd/e-sp/components/tab-section/items/tab/tab-d2.png", alt="11.2 保健日")
            img(src="~event/2nd/e-sp/components/tab-section/items/tab/tab-l2.png", alt="11.2 保健日")
          li.tab__item(title="11.3 居家流行日")
            img(src="~event/2nd/e-sp/components/tab-section/items/tab/tab-d3-m.png", alt="11.3 居家流行日")
            img(src="~event/2nd/e-sp/components/tab-section/items/tab/tab-l3-m.png", alt="11.3 居家流行日")
            img(src="~event/2nd/e-sp/components/tab-section/items/tab/tab-d3.png", alt="11.3 居家流行日")
            img(src="~event/2nd/e-sp/components/tab-section/items/tab/tab-l3.png", alt="11.3 居家流行日")
          li.tab__item(title="11.4 美妝日")
            img(src="~event/2nd/e-sp/components/tab-section/items/tab/tab-d4-m.png", alt="11.4 美妝日")
            img(src="~event/2nd/e-sp/components/tab-section/items/tab/tab-l4-m.png", alt="11.4 美妝日")
            img(src="~event/2nd/e-sp/components/tab-section/items/tab/tab-d4.png", alt="11.4 美妝日")
            img(src="~event/2nd/e-sp/components/tab-section/items/tab/tab-l4.png", alt="11.4 美妝日")

      li.content__zone
        ul#contentBlock.content__block
          li.content__box.clearfix.active
            .content__item
              a(href="https://www.etmall.com.tw/XML/content/DMSetting/Final/201911/SP_1113955/w/index.html", title="Acer宏碁 抽Gopro Max送豪禮")
                img(src="~event/2nd/e-sp/components/tab-section/items/content/brand-promot1-1.png", alt="Acer宏碁 抽Gopro Max送豪禮")
            .content__item
              a(href="https://www.etmall.com.tw/c3/132041", title="華碩 ROG三萬入手ROG信仰之眼")
                img(src="~event/2nd/e-sp/components/tab-section/items/content/brand-promot1-2.png", alt="華碩 ROG三萬入手ROG信仰之眼")
            .content__item
              a(href="https://www.etmall.com.tw/XML/content/DMSetting/Final/201910/SP_1113938/w/index.html", title="象印 獨家抽好禮熱水瓶")
                img(src="~event/2nd/e-sp/components/tab-section/items/content/brand-promot1-3.png", alt="")
            .content__item
              a(href="https://www.etmall.com.tw/p/84095", title="台酒 滿$599送拌麵")
                img(src="~event/2nd/e-sp/components/tab-section/items/content/brand-promot1-4.png", alt="台酒滿$599送拌麵")
            .content__item
              a(href="https://www.etmall.com.tw/XML/content/DMSetting/Final/201910/SP_1120002/w/index.html", title="曼黛瑪璉開館慶 獨家價$420")
                img(src="~event/2nd/e-sp/components/tab-section/items/content/brand-promot1-5.png", alt="曼黛瑪璉開館慶 獨家價$420")
            .content__item
              a(href="https://www.etmall.com.tw/XML/content/DMSetting/Final/201911/SP_1113897/w/index.html", title="專櫃大牌 明星商品破盤1折up")
                img(src="~event/2nd/e-sp/components/tab-section/items/content/brand-promot1-6.png", alt="專櫃大牌 明星商品破盤1折up")

          li.content__box.clearfix
            .content__item
              a(href="https://www.etmall.com.tw/np/83939", title="IVENOR 搶先窈窕83折up")
                img(src="~event/2nd/e-sp/components/tab-section/items/content/brand-promot2-1.png", alt="IVENOR 搶先窈窕83折up")
            .content__item
              a(href="https://www.etmall.com.tw/XML/content/DMSetting/Final/201911/SP_1113929/w/index.html", title="正官庄 年終回饋5折起")
                img(src="~event/2nd/e-sp/components/tab-section/items/content/brand-promot2-2.png", alt="正官庄 年終回饋5折起")
            .content__item
              a(href="https://www.etmall.com.tw/np/84344", title="華陀 均一價1111元")
                img(src="~event/2nd/e-sp/components/tab-section/items/content/brand-promot2-3.png", alt="華陀 均一價1111元")
            .content__item
              a(href="https://www.etmall.com.tw/np/83938", title="紅薑黃先生 ↘5折up")
                img(src="~event/2nd/e-sp/components/tab-section/items/content/brand-promot2-4.png", alt="紅薑黃先生 ↘5折up")
            .content__item
              a(href="https://www.etmall.com.tw/np/84346", title="白蘭氏 指定商品送好禮")
                img(src="~event/2nd/e-sp/components/tab-section/items/content/brand-promot2-5.png", alt="白蘭氏 指定商品送好禮")
            .content__item
              a(href="https://www.etmall.com.tw/np/83940", title="享食尚 單包下殺99元")
                img(src="~event/2nd/e-sp/components/tab-section/items/content/brand-promot2-6.png", alt="享食尚 單包下殺99元")

          li.content__box.clearfix
            .content__item
              a(href="https://www.etmall.com.tw/p/84429", title="妙管家 2件現折111元")
                img(src="~event/2nd/e-sp/components/tab-section/items/content/brand-promot3-1.png", alt="妙管家 2件現折111元")
            .content__item
              a(href="https://www.etmall.com.tw/c3/131797", title="UCC咖啡 歡慶11.11 買一送一")
                img(src="~event/2nd/e-sp/components/tab-section/items/content/brand-promot3-2.png", alt="UCC咖啡 歡慶11.11 買一送一")
            .content__item
              a(href="https://www.etmall.com.tw/XML/content/DMSetting/Final/201910/SP_1114011/w/index.html", title="ASSARI 限時滿額送禮券")
                img(src="~event/2nd/e-sp/components/tab-section/items/content/brand-promot3-3.png", alt="ASSARI 限時滿額送禮券")
            .content__item
              a(href="https://www.etmall.com.tw/c3/114730", title="rimowa 單品獨家價")
                img(src="~event/2nd/e-sp/components/tab-section/items/content/brand-promot3-4.png", alt="rimowa 單品獨家價")
            .content__item
              a(href="https://www.etmall.com.tw/p/84407", title="A.S.O阿瘦 省很大1.2折起")
                img(src="~event/2nd/e-sp/components/tab-section/items/content/brand-promot3-5.png", alt="A.S.O阿瘦 省很大1.2折起")
            .content__item
              a(href="https://www.etmall.com.tw/XML/content/DMSetting/Final/201911/SP_1113969/w/index.html", title="COACH X MK 爆殺2折起")
                img(src="~event/2nd/e-sp/components/tab-section/items/content/brand-promot3-6.png", alt="COACH X MK 爆殺2折起")

          li.content__box.clearfix
            .content__item
              a(href="https://www.etmall.com.tw/XML/content/DMSetting/Final/201911/SP_1113897/w/index.html", title="專櫃大牌 限時全面狂降1折up")
                img(src="~event/2nd/e-sp/components/tab-section/items/content/brand-promot4-1.png", alt="專櫃大牌 限時全面狂降1折up")
            .content__item
              a(href="https://www.etmall.com.tw/np/81383", title="SK-II 限時買就送好物")
                img(src="~event/2nd/e-sp/components/tab-section/items/content/brand-promot4-2.png", alt="SK-II 限時買就送好物")
            .content__item
              a(href="https://www.etmall.com.tw/np/81386", title="SHISEIDO 資生堂 豪禮限時瘋搶GO")
                img(src="~event/2nd/e-sp/components/tab-section/items/content/brand-promot4-3.png", alt="SHISEIDO 資生堂 豪禮限時瘋搶GO")
            .content__item
              a(href="https://www.etmall.com.tw/np/81385", title="ESTEE LAUDER雅詩蘭黛 好禮限時大FUN送")
                img(src="~event/2nd/e-sp/components/tab-section/items/content/brand-promot4-4.png", alt="ESTEE LAUDER雅詩蘭黛 好禮限時大FUN送")
            .content__item
              a(href="https://www.etmall.com.tw/c3/47333", title="KOSE高絲 明星商品搶便宜")
                img(src="~event/2nd/e-sp/components/tab-section/items/content/brand-promot4-5.png", alt="KOSE高絲 明星商品搶便宜")
            .content__item
              a(href="https://www.etmall.com.tw/p/84351", title="L’OCCITANE歐舒丹 11月限定下單禮")
                img(src="~event/2nd/e-sp/components/tab-section/items/content/brand-promot4-6.png", alt="L’OCCITANE歐舒丹 11月限定下單禮")
