-
  var promoSliderItem = [
    { // 1
      link: "https://media.etmall.com.tw/sp/19218/m/index.html" ,
      imgSrc: "event/2nd/e-main/components/slider-w1m1/item/p1.png",
      alt: "可口可樂 就我最便宜",
    },
    { // 2
      link: "https://www.etmall.com.tw/gp/116998" ,
      imgSrc: "event/2nd/e-main/components/slider-w1m1/item/p2.png",
      alt: "PP波瑟楓妮 雙11破盤殺",
    },
    { // 3
      link: "https://www.etmall.com.tw/gp/104343" ,
      imgSrc: "event/2nd/e-main/components/slider-w1m1/item/p3.png",
      alt: "專櫃大牌保養 雙11鉅獻1折起",
    },
    {
      link: "https://www.etmall.com.tw/gp/193603" ,
      imgSrc: "event/2nd/e-main/components/slider-w1m1/item/p4.png",
      alt: "亞培 加碼送7-11商品卡$200元",
    },
    { 
      link: "https://media.etmall.com.tw/sp/19523/m/index.html" ,
      imgSrc: "event/2nd/e-main/components/slider-w1m1/item/p5.png",
      alt: "VR虛擬元宇宙 身歷其境 觸動感官",
    },
  ]

section.promo__group.promo__group--slider-w1m1(data-title="強檔推薦")
  .layout--main
    .decor__wrap.full-parent
      .decor__item.decor__item--left#decorW1m1Left
        img(src="event/2nd/e-main/components/slider-w1m1/decor-slider-w1m1-left.png", alt="")
      .decor__item.decor__item--right#decorW1m1Right
        img(src="event/2nd/e-main/components/slider-w1m1/decor-slider-w1m1-right.png", alt="")
    .promo__wrap
      .promo__zone
        .promo__block
          .promo__slider.full-parent
            .swiper-container#sliderW1m1Item
              ul.swiper-wrapper
                each data in promoSliderItem
                  li.swiper-slide
                    a(href= data.link, title=data.alt)
                      img(src= data.imgSrc, alt=data.alt)