-
  var heroTitleE = [
    {
      link: "#note",
      imgSrc: "event/1st/e-main/components/hero-section/sub-title-1.png",
      alt: "全站滿額贈禮物卡",
    },
    {
      link: "",
      imgSrc: "event/1st/e-main/components/hero-section/sub-title-2.png",
      alt: "挑戰任務領東森幣",
    },
  ]
section.hero
  .layout--main
    .decor__wrap.full-parent
    .hero__wrap
      .hero__zone
        .hero__block
          .hero__title.hero__title--main
            a(href="") 
              img(src="event/1st/e-main/components/hero-section/title-main.png", alt="線上狂歡")
          .hero__title.hero__title--star1
            img(src="event/1st/e-main/components/hero-section/title-star-1.png", alt="線上狂歡")
          .hero__title.hero__title--star2
            img(src="event/1st/e-main/components/hero-section/title-star-2.png", alt="線上狂歡")


//- 前景滑鼠parallax相關
//- include /utils/bg-decoration-instance/parallax/_parallax
