- var promoDataE = [{link: "https://www.etmall.com.tw/Activity/CouponPage/50", imgSrc: "~event/1st/e-main/components/promo-event-full-screen/items/promo-1-min.png", alt: "整點搶券1212"}, {link: "#note", imgSrc: "~event/1st/e-main/components/promo-event-full-screen/items/promo-2-min.png", alt: "抽東京來回機票"},]

- var promoDataE_three = [{link: "https://www.etmall.com.tw/Activity/GroupSale", imgSrc: "~event/1st/e-main/components/promo-event-full-screen/items/promo-3-min.png", alt: "集氣購 最低12元起"}, {link: "https://www.etmall.com.tw/XML/content/DMSetting/Final/209901/SP_1107517/w/index.html", imgSrc: "~event/1st/e-main/components/promo-event-full-screen/items/promo-4-min.png", alt: "新會員滿額送泡湯券"}, {link: "https://www.etmall.com.tw/XML/content/DMSetting/Final/201912/SP_1114297/w/index.html", imgSrc: "~event/1st/e-main/components/promo-event-full-screen/items/promo-5-min.png", alt: "萊爾富超取送焙茶可可"},]

- var promoDataE_2 = [{link: "https://www.etmall.com.tw/XML/content/DMSetting/Final/201912/SP_1114296/w/index.html", imgSrc: "~event/1st/e-main/components/promo-event-full-screen/items/promo-6-min.png", alt: "買交換禮物送衛生紙"}, {link: "https://www.etmall.com.tw/XML/content/DMSetting/Final/201912/SP_1114333/w/index.html", imgSrc: "~event/1st/e-main/components/promo-event-full-screen/items/promo-7-min.png", alt: "buy攻略天天有驚喜"},]


//- var promoData = isU? promoDataU : promoDataE

.promo__event
  ul.event__wrap
    each data, index in promoDataE
      - var anchorId = 'promoAnchor' + (index + 1)
      - var imgId = 'promoImg' + (index + 1)
      li
        a(id= anchorId, href= data.link, title= data.alt)
          img(id= imgId, src= data.imgSrc, alt= data.alt)

  ul.event__wrap_3
    each data, index in promoDataE_three
      - var anchorIdE_sec = 'promoDataE_three' + (index + 1)
      - var imgIdE_sec = 'promoDataE_three' + (index + 1)
      li
        a(id= anchorIdE_sec, href= data.link, title= data.alt)
          img(id= imgIdE_sec, src= data.imgSrc, alt= data.alt)

  ul.event__wrap
    each data, index in promoDataE_2
      - var anchorId = 'promoAnchorE_2' + (index + 1)
      - var imgId = 'promoImgE_2' + (index + 1)
      li
        a(id= anchorId, href= data.link, title= data.alt)
          img(id= imgId, src= data.imgSrc, alt= data.alt)
