// tab layout
.promo__group--tab-section
  overflow: hidden
  .decor__wrap
    padding-top: 4%
    .decor__item
      width: 100%
      img
        +breakpoint-min($min-width-xl)
          +size(auto)
      &--wallet
        +pos-set(absolute, base, 0, 76%)
        width: 24%
        pointer-events: none
        +breakpoint-min($min-width-xl)
          top: 4%
          left: 65%
        .not-open, .open
          +pos-set(absolute, second, 0, 0)
        .open
          width: 100%
          height: 100%
          opacity: 0
        &.active
          .not-open
            animation: wallet-not-open 4s steps(1) infinite
          .open
            animation: wallet-open 4s steps(1) infinite
      &--money
        +pos-set(absolute, base, -1%, 46%)
        width: 16%
        opacity: 0
        pointer-events: none
        transform: skewY(-4deg) scale(.7)   
        &.active
          animation: money-out 4s 1.5s steps(1) infinite
        +breakpoint-min($min-width-xl)
          left: calc(50% - 20px)
          z-index: 0
          width: auto
          transform: skewY(-8deg) scale(.7)   

      &--money2
        +pos-set(absolute, zero, 0%, 59%)
        width: 16%
        opacity: 0
        pointer-events: none
        transform: skewY(6deg) scale(.5)
        &.active
          animation: money-out 4s 1.3s steps(1) infinite
        +breakpoint-min($min-width-xl)
          top: 2%
          left: calc(50% + 100px)
          width: auto
          transform: skewY(16deg) scale(.45)

  .promo__wrap
    +bg-set(url("event/1st/e-main/components/tab-section/bg-tab.png"), 100%)
    overflow: hidden
    .promo__zone
      +aspect-ratio(954, 1469)
    .tab__wrap
      +pos-set(absolute, zero, 0)
      width: 100%
      margin: 37% .3% 0
      +breakpoint-min($min-width-xl)
        margin: 38% 0 0
      .tab__box
        display: flex
        justify-content: space-around
        +breakpoint-min($min-width-xl)
          justify-content: center
        .tab__item
          position: relative
          width: 33%
          text-align: center
          &:first-child
            width: 27%
          &--top
            position: absolute
            top: 0%
            left: 50%
            transform: translateX(-50%)
            width: 100%
            opacity: 0
            cursor: pointer
          .active
            opacity: 1
          img
            width: auto
      .content__zone
        .content__block
          margin-top: 4%
          +breakpoint-min($min-width-xl)
            margin-top: 40px
          .content__box
            display: none
            &.active
              display: block
            .tab__slider
              width: 99%
              .swiper-wrapper
                flex-wrap: wrap
                margin: 2% auto
                .swiper-slide
                  margin-bottom: 2%
                  +breakpoint-min($min-width-xl)
                    width: 23%
                  .product.product--dynamic
                    margin-right: auto
                    margin-left: auto
                    width: 95%
                    .product__name
                      margin-bottom: 0px
                      padding-bottom: 5%
                      background-color: #fff
                      +breakpoint-min($min-width-xl)
                        font-size: 26px
                    .product__price
                      background-color: #fff
                      padding-bottom: 5%
                      border-radius: 0 0 2vw 2vw
                      +breakpoint-min($min-width-xl)
                        border-radius: 0 0 20px 20px
                      span
                        &:last-child
                          +breakpoint-min($min-width-xl)
                            font-size: 36px

@keyframes wallet-open
  0%, 50%, to
    opacity: 1
  25%, 75%
    opacity: 0

@keyframes wallet-not-open
  0%, 50%, to
    opacity: 0
  25%, 75%
    opacity: 1

@keyframes money-out
  0%, 50%, to
    opacity: 0
  25%, 75%
    opacity: 1