section.promo__group.promo__group--dynamic-section.promo__group--dynamic-section-2(data-title="熱銷超取")
  .layout--main
    .promo__wrap
      .promo__zone
        //- .promo__title
        //-   a(href="https://media.etmall.com.tw/sp/10403/m/index.html", title="熱銷超取專區看更多")
        #dynamicSection2
          .product__wrap
