-
  var promoDataE = [
  {link: "#note",
  imgSrc: "~event/2nd/e-main/components/promo-event/items/promo-1.png",
  alt: "單筆滿額送$688"},
  {link: "https://www.etmall.com.tw/XML/content/DMSetting/Final/202101/SP_1116904/w/index.html",
  imgSrc: "~event/2nd/e-main/components/promo-event/items/promo-2.png",
  alt: "天天抽百萬"},
  {link: "#note",
  imgSrc: "~event/2nd/e-main/components/promo-event/items/promo-3.png",
  alt: "$1,314抽MD托特包/25吋行李箱"},
  {link: "#note",
  imgSrc: "~event/2nd/e-main/components/promo-event/items/promo-4.png",
  alt: "單筆滿額抽8,888"},
  {link: "https://www.etmall.com.tw/member/mgm",
  imgSrc: "~event/2nd/e-main/components/promo-event/items/promo-5.png",
  alt: "好友分享拿好禮"},
  {link: "https://media.etmall.com.tw/sp/7663/m/index.html",
  imgSrc: "~event/2nd/e-main/components/promo-event/items/promo-6.png",
  alt: "送肯德基套餐54折折價券券"},
  {link: "https://media.etmall.com.tw/sp/7663/m/index.html",
  imgSrc: "~event/2nd/e-main/components/promo-event/items/promo-7.png",
  alt: "APP首購送肯德基蛋撻"},
  ]

-
  var promoDataU = [
  {link: "https://www.u-mall.com.tw/Activity/HourSale",
  imgSrc: "~event/2nd/u-main/components/promo-event/items/promo-1.png",
  alt: "限時瘋搶"},
  {link: "https://media.u-mall.com.tw/sp/7801/m/index.html",
  imgSrc: "~event/2nd/u-main/components/promo-event/items/promo-2.png",
  alt: "20間銀行最高回饋11%"},
  {link: "https://media.u-mall.com.tw/sp/7801/m/index.html",
  imgSrc: "~event/2nd/u-main/components/promo-event/items/promo-3.png",
  alt: "花旗_最高回饋8%刷卡金"},
  {link: "https://media.u-mall.com.tw/sp/7846/m/index.html",
  imgSrc: "~event/2nd/u-main/components/promo-event/items/promo-3.png",
  alt: "彰化好物購"}, ]

- var promoData = isU ? promoDataU : promoDataE
.promo__event(data-title="")
  .promo__event__web--bg
  ul.event__wrap
    //li#dailyPromo
    //  span.js-month 10
    //  span.js-date 19
    //  a(href= promoData[0].link, title= promoData[0].alt)
    //    img(src= promoData[0].imgSrc, alt= promoData[0].alt)
        //img(class="promo__good" src="~event/2nd/e-main/components/promo-event/items/promo-1-good.png")
        //img(class="promo__go" src="~event/2nd/e-main/components/promo-event/items/promo-1-go.png")
    li
      a(href= promoData[0].link, title= promoData[0].alt)
        img(src= promoData[0].imgSrc, alt= promoData[0].alt)
    li
      a(href= promoData[1].link, title= promoData[1].alt)
        img(src= promoData[1].imgSrc, alt= promoData[1].alt)
    li#promoAnchor2
      a(href= promoData[2].link, title= promoData[2].alt)
        img(src= promoData[2].imgSrc, alt= promoData[2].alt)
    li
      a(href= promoData[3].link, title= promoData[3].alt)
        img(src= promoData[3].imgSrc, alt= promoData[3].alt)
    li
      a(href= promoData[4].link, title= promoData[4].alt)
        img(src= promoData[4].imgSrc, alt= promoData[4].alt)
    li
      a(href= promoData[5].link, title= promoData[5].alt)
        img(src= promoData[5].imgSrc, alt= promoData[5].alt)
    li
      a(href= promoData[6].link, title= promoData[6].alt)
        img(src= promoData[6].imgSrc, alt= promoData[6].alt)

  include /event/2nd/e-main/components/bn-special/_bn-special
  //
  //include /event/2nd/e-main/components/text-slider/_text-slider