section.promo__group.dynamic-slider-w3m3.m-bottom--lg(data-title="618專區")
  .layout--main
    .decor__wrap.full-parent
      .decor__item.decor__item--left#decorDynamicW3m3Left
        img(src="event/2nd/e-main/components/dynamic-slider-w3m3/decor-dynamic-w3m3-left.png", alt="")
      .decor__item.decor__item--right#decorDynamicW3m3Right
        img(src="event/2nd/e-main/components/dynamic-slider-w3m3/decor-dynamic-w3m3-right.png", alt="")
    .promo__wrap
      .promo__zone
        .promo__block
          .promo__slider.swiper-container#DynamicSliderBlock2
            .swiper-wrapper