section.exchange__wrap
  .layout--main
    .exchange__block
      .decoration__top
        img(src="~event/1st/e-main/components/collect-exchange/decoration-exchange-top.png", alt="")
      .exchange__box
        ul
          li.active
            .item__wrap
              .item__box
                .item__pic
                  img(src="~event/1st/e-main/components/collect-exchange/items/item-exchange-1.png", alt="")
                .item__name
                  .name__box
                    span 9999枚<br>東森幣
              .cta__box
                .item__info
                  a(href="", title="詳情")
                    img(src="~event/1st/e-main/components/collect-exchange/btn-exchange-info.png", alt="詳情")
                .item__cta
                  .cta.cta--active
                    a(href="", title="立刻登記換")
                      .btn__wrap
                        .point__wrap
                          span 88
                        .btn__pic
                          img(src="~event/1st/e-main/components/collect-exchange/btn-exchange-active.png", alt="立刻登記換")

                  .cta.cta--closed(title="登記完畢")
                    img(src="~event/1st/e-main/components/collect-exchange/btn-exchange-closed.png", alt="登記完畢")
          li
            .item__wrap
              .item__box
                .item__pic
                  img(src="~event/1st/e-main/components/collect-exchange/items/item-exchange-2.png", alt="")
                .item__name
                  .name__box.font--small
                    span 全家<br>中杯冰美式<br>咖啡即享券
              .cta__box
                .item__info
                  a(href="", title="詳情")
                    img(src="~event/1st/e-main/components/collect-exchange/btn-exchange-info.png", alt="詳情")
                .item__cta
                  .cta--active
                    a(href="", title="立刻登記換")
                      .btn__wrap
                        .point__wrap
                          span 88
                        .btn__pic
                          img(src="~event/1st/e-main/components/collect-exchange/btn-exchange-active.png", alt="立刻登記換")

                  .cta--closed(title="登記完畢")
                    img(src="~event/1st/e-main/components/collect-exchange/btn-exchange-closed.png", alt="登記完畢")
          li.active
            .item__wrap
              .item__box
                .item__pic
                  img(src="~event/1st/e-main/components/collect-exchange/items/item-exchange-3.png", alt="")
                .item__name
                  .name__box
                    span 大字能20個英文字等於10個中文超過切掉
              .cta__box
                .item__info
                  a(href="", title="詳情")
                    img(src="~event/1st/e-main/components/collect-exchange/btn-exchange-info.png", alt="詳情")
                .item__cta
                  .cta--active
                    a(href="", title="立刻登記換")
                      .btn__wrap
                        .point__wrap
                          span 8
                        .btn__pic
                          img(src="~event/1st/e-main/components/collect-exchange/btn-exchange-active.png", alt="立刻登記換")

                  .cta--closed(title="登記完畢")
                    img(src="~event/1st/e-main/components/collect-exchange/btn-exchange-closed.png", alt="登記完畢")
          li
            .item__wrap
              .item__box
                .item__pic
                  img(src="~event/1st/e-main/components/collect-exchange/items/item-exchange-4.png", alt="")
                .item__name
                  .name__box.font--small
                    span 小字20個英文超過切掉xzcasdcassdcadadasdasdasd
              .cta__box
                .item__info
                  a(href="", title="詳情")
                    img(src="~event/1st/e-main/components/collect-exchange/btn-exchange-info.png", alt="詳情")
                .item__cta
                  .cta--active
                    a(href="", title="立刻登記換")
                      .btn__wrap
                        .point__wrap
                          span 88
                        .btn__pic
                          img(src="~event/1st/e-main/components/collect-exchange/btn-exchange-active.png", alt="立刻登記換")

                  .cta--closed(title="登記完畢")
                    img(src="~event/1st/e-main/components/collect-exchange/btn-exchange-closed.png", alt="登記完畢")
          li.active
            .item__wrap
              .item__box
                .item__pic
                  img(src="~event/1st/e-main/components/collect-exchange/items/item-exchange-5.png", alt="")
                .item__name
                  .name__box
                    span 9999 枚東森幣xzcasdcassdcadadasdasdasd
              .cta__box
                .item__info
                  a(href="", title="詳情")
                    img(src="~event/1st/e-main/components/collect-exchange/btn-exchange-info.png", alt="詳情")
                .item__cta
                  .cta--active
                    a(href="", title="立刻登記換")
                      .btn__wrap
                        .point__wrap
                          span 88
                        .btn__pic
                          img(src="~event/1st/e-main/components/collect-exchange/btn-exchange-active.png", alt="立刻登記換")

                  .cta--closed(title="登記完畢")
                    img(src="~event/1st/e-main/components/collect-exchange/btn-exchange-closed.png", alt="登記完畢")
          li
            .item__wrap
              .item__box
                .item__pic
                  img(src="~event/1st/e-main/components/collect-exchange/items/item-exchange-6.png", alt="")
                .item__name
                  .name__box.font--small
                    span LINE POINT 150點xzcasdcassdcadadasdasdasd
              .cta__box
                .item__info
                  a(href="", title="詳情")
                    img(src="~event/1st/e-main/components/collect-exchange/btn-exchange-info.png", alt="詳情")
                .item__cta
                  .cta--active
                    a(href="", title="立刻登記換")
                      .btn__wrap
                        .point__wrap
                          span 88
                        .btn__pic
                          img(src="~event/1st/e-main/components/collect-exchange/btn-exchange-active.png", alt="立刻登記換")

                  .cta--closed(title="登記完畢")
                    img(src="~event/1st/e-main/components/collect-exchange/btn-exchange-closed.png", alt="登記完畢")
          li.active
            .item__wrap
              .item__box
                .item__pic
                  img(src="~event/1st/e-main/components/collect-exchange/items/item-exchange-7.png", alt="")
                .item__name
                  .name__box
                    span 大字能16個英文字超過切掉
              .cta__box
                .item__info
                  a(href="", title="詳情")
                    img(src="~event/1st/e-main/components/collect-exchange/btn-exchange-info.png", alt="詳情")
                .item__cta
                  .cta--active
                    a(href="", title="立刻登記換")
                      .btn__wrap
                        .point__wrap
                          span 8
                        .btn__pic
                          img(src="~event/1st/e-main/components/collect-exchange/btn-exchange-active.png", alt="立刻登記換")

                  .cta--closed(title="登記完畢")
                    img(src="~event/1st/e-main/components/collect-exchange/btn-exchange-closed.png", alt="登記完畢")
          li
            .item__wrap
              .item__box
                .item__pic
                  img(src="~event/1st/e-main/components/collect-exchange/items/item-exchange-8.png", alt="")
                .item__name
                  .name__box.font--small
                    span 小字20個英文超過切掉xzcasdcassdcadadasdasdasd
              .cta__box
                .item__info
                  a(href="", title="詳情")
                    img(src="~event/1st/e-main/components/collect-exchange/btn-exchange-info.png", alt="詳情")
                .item__cta
                  .cta--active
                    a(href="", title="立刻登記換")
                      .btn__wrap
                        .point__wrap
                          span 88
                        .btn__pic
                          img(src="~event/1st/e-main/components/collect-exchange/btn-exchange-active.png", alt="立刻登記換")

                  .cta--closed(title="登記完畢")
                    img(src="~event/1st/e-main/components/collect-exchange/btn-exchange-closed.png", alt="登記完畢")

      .decoration__bottom
        img(src="~event/1st/e-main/components/collect-exchange/decoration-exchange-bottom.png", alt="")
