.slider__double
  position: relative
  height: 105vw
  .slider__double__web--bg
    +breakpoint-min($min-width-xl)
      position: absolute
      +bg-set(url("~event/1st/e-main/components/slider-section-double/slider-section-double_bg.png"))
      background-size: 1653px 1001px
      width: 100%
      height: 1001px
      left: 50%
      top: 10px
      transform: translateX(-50%)
  .slider__double__wrap
    +bg-set(url("~~event/1st/e-main/components/slider-section-double/slider-section-double_bg-m.png"), 100% auto)
    padding-bottom: 10%
    //padding: 8.5% 6% 2% 6%
    .sweet__slider__wrap
      display: flex
      width: 90%
      padding-top: 16vw
      li
        //flex: 0 0 24%
        padding: 0
        opacity: 1
        transition: transform 0.5s
        a
          transition: transform 0.5s
        //&.swiper-slide-prev, &.swiper-slide-next
        //  opacity: 0.6
        //  transform: scale(0.8)
        &:hover
          a
            //transform: scale(1.1)
            filter: brightness(120%)
    +breakpoint-min($min-width-xl)
      background: none
      padding-bottom: 0
  .gallery-top
    height: 36vw
    box-sizing: border-box
    padding: 0
    width: 70%
    margin: 0 auto
    .swiper-slide
      height: 100%
  +breakpoint-min($min-width-xl)
    height: 1050px
    .slider__double__wrap
      //padding: 100px 4% 0
      //height: 698px
      .sweet__slider__wrap
        //width: 100%
        padding-top: 142px
        margin: 0 auto 0 2%
    .gallery-top
      height: 360px
      width: 70%
      margin: 0 auto 0 12%

.slide-1, .slide-2, .slide-3
  //background-size: 100% auto
  //background-repeat: no-repeat
  position: absolute
  z-index: 1
  img
    &:nth-child(1)
      display: block
    &:nth-child(2)
      display: none
  &.focus__active
    z-index: 2
    img
      &:nth-child(1)
        display: none
      &:nth-child(2)
        display: block

.slide-1
  left: -1.5vw
  top: 0
  width: 29.5vw !important
  //img
    //width: 40vw
.slide-2
  width: 29.5vw !important
  left: 20vw
  top: 0
.slide-3
  width: 29.5vw !important
  right: -2vw
  top: 0

+breakpoint-min($min-width-xl)
  .slide-1
    top: 6px
    left: -15px
    width: 295px !important
  //img
    //width: 40vw
  .slide-2
    top: 6px
    left: 194px
    width: 295px !important
  .slide-3
    top: 6px
    right: -32px
    width: 295px !important
//
//.slide-3
//  background-image: url("~event/1st/e-main/components/slider-section-double/items/sweet_but3.png")
//  background-size: 100% auto
//  background-repeat: no-repeat
//
//.slide-4
//  background-image: url("~event/1st/e-main/components/slider-section-double/items/sweet_but4.png")
//  background-size: 100% auto
//  background-repeat: no-repeat
//
//.slide-5
//  background-image: url("~event/1st/e-main/components/slider-section-double/items/sweet_but5.png")
//  background-size: 100% auto
//  background-repeat: no-repeat
//
//.slide-6
//  background-image: url("~event/1st/e-main/components/slider-section-double/items/sweet_but6.png")
//  background-size: 100% auto
//  background-repeat: no-repeat
//
//.slide-7
//  background-image: url("~event/1st/e-main/components/slider-section-double/items/sweet_but7.png")
//  background-size: 100% auto
//  background-repeat: no-repeat
//
//.slide-8
//  background-image: url("~event/1st/e-main/components/slider-section-double/items/sweet_but8.png")
//  background-size: 100% auto
//  background-repeat: no-repeat
