-
  var heroTitleE = [
    {
      link: "#note",
      imgSrc: "event/1st/e-main/components/hero-section/sub-title-1.png",
      alt: "全站滿額贈禮物卡",
    },
    {
      link: "",
      imgSrc: "event/1st/e-main/components/hero-section/sub-title-2.png",
      alt: "挑戰任務領東森幣",
    },
  ]
section.hero

  //- .decor--top.decor--hero
  .layout--main
    .hero__wrap
      .hero__zone
        .hero__title.hero__title--main
          a(href="https://www.etmall.com.tw/Activity/CouponReceiveAll") 
            img(src="event/1st/e-main/components/hero-section/title-main.png", alt="畢業快樂")
        .hero__title--item
          //- img(src="event/1st/e-main/components/hero-section/title-item.gif", alt="最高送2000")
        .hero__title--decor
          .decor__item
            img(src="event/1st/e-main/components/hero-section/hero-item.png", alt="")
          .decor__item
            img(src="event/1st/e-main/components/hero-section/decor-item-1.png", alt="")
          .decor__item
            img(src="event/1st/e-main/components/hero-section/decor-hand.png", alt="")
          .decor__item
            img(src="event/1st/e-main/components/hero-section/hero-item.gif", alt="")
        //- .video__wrap
        //-   .video__block
        //-     include /event/1st/e-main/components/hero-section/hero-video/_hero-video.pug


//- 前景滑鼠parallax相關
include /utils/bg-decoration-instance/parallax/_parallax

  //-         .decor--top.decor--bird
  //-           img(src="event/1st/e-main/components/hero-section/decor-bird.png", alt="")
  //-         h1
  //-           img(src="event/1st/e-main/components/hero-section/title.png", alt="東森購物網金虎年賀新春")
  //-       .hero__title.hero__title--sub
  //-         h2
  //-           img(src="event/1st/e-main/components/hero-section/subtitle.png", alt="東森購物網春節發百萬紅包")
  //-         .decor--top.decor--sub
  //-           .decor--tiger-1
  //-             img(src="event/1st/e-main/components/hero-section/decor-tiger-1.png", alt="")
  //-           .decor--tiger-2
  //-             img(src="event/1st/e-main/components/hero-section/decor-tiger-2.png", alt="")
  //- .decor--hero-2
  //-   .decor--top.decor--cloud
  //-     img(src="event/1st/e-main/components/hero-section/decor-cloud.png", alt="")
  //-   .decor--top.decor--cloud-2
  //-     img(src="event/1st/e-main/components/hero-section/decor-cloud.png", alt="")

  //- include /utils/bg-decoration-instance/css-firework-2/_css-firework-2
