section.promo__group.promo__group--video
  .layout--main
    .promo__zone.lazyload(data-src="960bg-03.jpg")
      .promo__title.block--center.m-bottom--xs
        img.lazyload(data-src="section-bn-03.png", src="~utils/img/1x1_low.png", alt="這樣買最划算")
      .promo__wrap
        .video__wrap
          <iframe src="https://www.youtube.com/embed/-GgBWl9NWUY?rel=0" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>