//- TODO: 給別的component引入時不需要前兩行要切換
//- section.promo__group.promo__group--bn-special.m-bottom--md
//-   .layout--main
//- var bankLink = {etmall: "https://www.etmall.com.tw/XML/content/DMSetting/Final/201910/SP_1107838/w/index.html", umall: "https://www.u-mall.com.tw/XML/content/DMSetting/Final/201910/SP_1104317/w/index.html"}
//- var bankInfo = isU ? bankLink.umall : bankLink.etmall
.promo__slider.promo__slider-1
  #sliderPromo_1.swiper-container
    ul.swiper-wrapper
      li.swiper-slide
        a(href="https://www.u-mall.com.tw/Activity/HourSale", title="限時瘋搶")
          img(src="~event/1st/u-main/components/promo-slider/items/promo-slider-u-1.png", alt="限時瘋搶")
      li.swiper-slide
        a(href="https://www.u-mall.com.tw/XML/content/DMSetting/Final/202010/SP_1106089/w/index.html", title="23間銀行 最高回饋 $11,111")
          img(src="~event/1st/u-main/components/promo-slider/items/promo-slider-u-2.png", alt="23間銀行 最高回饋 $11,111")
      li.swiper-slide
        a(href="https://www.u-mall.com.tw/XML/content/DMSetting/Final/202010/SP_1106089/w/index.html", title="花旗_滿$8,000送$600刷卡金")
          img(src="~event/1st/u-main/components/promo-slider/items/promo-slider-u-3.png", alt="花旗_滿$8,000送$600刷卡金")


  #sliderSpecialPrev.swiper-button-white.swiper-button-prev
  #sliderSpecialNext.swiper-button-white.swiper-button-next