.video__wrap
  // margin-top: 44%
  // margin-left: 10%
  z-index: map-get($zindex, third)
  // +breakpoint-min($min-width-xl)
  //   margin-top: 48%
  //   margin-left: calc(50% - 340px) 
.hero__video
  text-align: center
  transform: translate(1%, 30%) scale(1)
  +breakpoint-min($min-width-xl)
    transform: translate(12px, 490px) scale(1.2)
.video__box
  width: 90%
  +breakpoint-min($min-width-xl)
    width: auto