.daily-time2
  overflow: hidden
  .decor__wrap
    // padding-top: 20%
  .decor__item
    &--left
      +pos-set(absolute, base, 0%, 6%)
      width: 17%
      &.active
        animation: wobble 1s linear infinite
      +breakpoint-min($min-width-xl)
        left: calc( 50% - 400px )
    &--right
      +pos-set(absolute, base, 0%)
      right: 3%
      width: 17%
      +breakpoint-min($min-width-xl)
        right: calc(50% - 430px)
    +breakpoint-min($min-width-xl)
      width: auto
  .promo__wrap
    +bg-set(url(event/2nd/e-main/components/daily-time-2/bg-daily-time-2.png), 100%)
  .promo__zone
    +aspect-ratio(930, 1263)
  .promo__block
    padding: 18% 14% 0 21%
    +breakpoint-min($min-width-lg)
      padding-top: 165px
    +breakpoint-min($min-width-xl)
      padding-top: 185px
  .product__wrap
    display: flex
    flex-wrap: wrap
    justify-content: space-around
  .daily__slider
    // width: 76%
    // height: 45vh
    .swiper-wrapper
      // flex-wrap: wrap
      align-content: space-between
      // margin: 1% auto
      .swiper-slide
        // &:nth-child(n+1)
        // margin-right: 2%
        margin-bottom: 6%
        +breakpoint-min($min-width-xl)
          margin-bottom: 60px
        // &:nth-child(n+5)
          // margin-bottom: 0
        .product.product--dynamic
          margin-right: auto
          margin-left: auto
          width: 95%
          // +breakpoint-min($min-width-xl)
            // width: 95%
          .product__name
            margin-bottom: 6px
            background-color: #fff
            +breakpoint-min($min-width-xl)
              font-size: 26px
              height: 2.43em
          .product__price
            background-color: #fff
            span
              &:last-child
                +breakpoint-min($min-width-xl)
                  font-size: 36px

          // 微調陰影樣式
          .product__img
            border-radius: 6px 6px 0 0 !important
            +breakpoint-min($min-width-xl)
              border-radius: 22px 22px 0 0 !important
          .product__text
            border-radius: 0 0 6px 6px !important
            +breakpoint-min($min-width-xl)
              border-radius: 0 0 22px 22px !important
          .product__name
            padding: 0 4% !important
        .product__block
          border-radius: 6px !important
          box-shadow: 0 1px 3px 0 rgb(0 0 0 / 20%)
          +breakpoint-min($min-width-xl)
            border-radius: 22px !important

.title__text
  +pos-set(absolute, third)
  bottom: 0.82%
  right: 24.2%
  +breakpoint-min($min-width-xl)
    bottom: 14px
    right: calc(50% - 251px)
.daily__countdown
  display: flex
  justify-content: space-around
  width: 43.5%
  +breakpoint-min($min-width-xl)
    width: 418px
  .time__block
    display: flex
    justify-content: space-around
    align-items: center
    width: 10%
    font-size: 5vw
    font-weight: 500
    .time__box
      width: 5%
    +breakpoint-min($min-width-xl)
      font-size: 42px
    &:first-child
      .time__box
        &:first-child
          margin-left: 0%
          margin-right: 37%
        &:last-child
          margin-left: 0%
    &:nth-child(2)
      .time__box
        &:first-child
          margin-left: 17%
        &:last-child
          margin-left: 55%
    &:last-child
      .time__box
        &:first-child
          margin-left: -10%
        &:last-child
          margin-left: 28%
    .time__box
      color: $gray-deep-light

@keyframes wobble
  0%
    transform: translateZ(0)
  7.5%
    transform: translate3d(-20%, 0, 0) rotate(-5deg)
  15%
    transform: translate3d(15%, 0, 0) rotate(3deg)
  22.5%
    transform: translate3d(-10%, 0, 0) rotate(-3deg)
  30%
    transform: translate3d(5%, 0, 0) rotate(2deg)
  37.5%
    transform: translate3d(0%, 0, 0) rotate(-1deg)
  40%
    transform: translateZ(0)
