section.promo__group.daily-time2.m-bottom--lg(style="display:none;")#dailyTime2Section
  .layout--main
    .decor__wrap.full-parent
      .decor__item.decor__item--left#decorDailyTimeLeft2
        img(src="event/2nd/e-main/components/daily-time/decor-daily-time-left.png", alt="")
      .decor__item.decor__item--right#decorDailyTimeRight2
        img(src="event/2nd/e-main/components/daily-time/decor-daily-time-right.png", alt="")
        
    .promo__wrap
      .promo__zone
        .promo__block
          #dailyTime2
            .product__wrap
              .daily__slider.swiper-container
                ul.item__wrap.swiper-wrapper

    .title__text.daily__countdown
      .time__block
        .time__box
          span#dailyHourTens2 0
        .time__box
            span#dailyHourUnits2 0
      .time__block
        .time__box
          span#dailyMinTens2 0
        .time__box
          span#dailyMinUnits2 0
      .time__block
        .time__box
          span#dailySecTens2 0
        .time__box
          span#dailySecUnits2 0

