section.promo__group.promo__group--tab-slider.js-add__bg(data-title="各館活動")
  .layout--main
    ul.tab__wrap
      li.tab__zone
        ul#tabSliderBox.tab__box
          li.tab__item(title="美妝保健").active
            img(src="~event/1st/e-main/components/tab-slider-section/items/tab/tab-d1.png", alt="美妝保健")
            img(src="~event/1st/e-main/components/tab-slider-section/items/tab/tab-l1.png", alt="美妝保健")
          li.tab__item(title="3C家電")
            img(src="~event/1st/e-main/components/tab-slider-section/items/tab/tab-d2.png", alt="3C家電")
            img(src="~event/1st/e-main/components/tab-slider-section/items/tab/tab-l2.png?20200702", alt="3C家電")
          li.tab__item(title="流行日用")
            img(src="~event/1st/e-main/components/tab-slider-section/items/tab/tab-d3.png", alt="流行日用")
            img(src="~event/1st/e-main/components/tab-slider-section/items/tab/tab-l3.png?20200702", alt="流行日用")
      li.content__zone
        ul#tabSliderContentBlock.content__block
          li.content__box.clearfix.active
            ul#sliderTab.swiper-container.slider__tab
              li.swiper-wrapper
                .content__item.swiper-slide
                  a(href="https://www.etmall.com.tw/bs/83771", title="妍選洋行 暢銷好禮贈")
                    img(src="~event/1st/e-main/components/tab-slider-section/items/content/content-1-1.jpg", alt="妍選洋行 暢銷好禮贈")
                .content__item.swiper-slide
                  a(href="https://www.etmall.com.tw/np/106160", title="DeMon現折千元券")
                    img(src="~event/1st/e-main/components/tab-slider-section/items/content/content-1-2.jpg", alt="DeMon現折千元券")
                .content__item.swiper-slide
                  a(href="https://www.etmall.com.tw/XML/content/DMSetting/Final/202003/SP_1115154/w/index.html", title="孕養教室｜愛媽咪顧寶貝")
                    img(src="~event/1st/e-main/components/tab-slider-section/items/content/content-1-3.jpg", alt="孕養教室｜愛媽咪顧寶貝")

              #sliderTabPager.swiper-pagination-custom.swiper-pagination.swiper-slider-dot
            #sliderTabPagerPrev.swiper-button-white.swiper-button-prev.sliderTabPager-prev
            #sliderTabPagerNext.swiper-button-white.swiper-button-next.sliderTabPager-next
          li.content__box.clearfix
            ul#sliderTab_2.swiper-container.slider__tab
              li.swiper-wrapper
                .content__item.swiper-slide
                  a(href="https://www.etmall.com.tw/XML/content/DMSetting/Final/202009/SP_1116498/w/index.html", title="日系洗冰月｜登記送大同電鍋")
                    img(src="~event/1st/e-main/components/tab-slider-section/items/content/content-2-1.jpg", alt="日系洗冰月｜登記送大同電鍋")
                .content__item.swiper-slide
                  a(href="https://www.etmall.com.tw/XML/content/DMSetting/Final/202010/SP_1116573/w/index.html", title="17品牌筆電聯合省10%")
                    img(src="~event/1st/e-main/components/tab-slider-section/items/content/content-2-2.jpg", alt="17品牌筆電聯合省10%")
                .content__item.swiper-slide
                  a(href="https://www.etmall.com.tw/XML/content/DMSetting/Final/202010/SP_1116591/w/index.html", title="購機登錄送千元好禮")
                    img(src="~event/1st/e-main/components/tab-slider-section/items/content/content-2-3.jpg", alt="購機登錄送千元好禮")

              #sliderTabPager_2.swiper-pagination-custom.swiper-pagination.swiper-slider-dot
            #sliderTabPagerPrev_2.swiper-button-white.swiper-button-prev.sliderTabPager-prev
            #sliderTabPagerNext_2.swiper-button-white.swiper-button-next.sliderTabPager-next
          li.content__box.clearfix
            ul#sliderTab_3.swiper-container.slider__tab
              li.swiper-wrapper
                .content__item.swiper-slide
                  a(href="https://www.etmall.com.tw/XML/content/DMSetting/Final/202010/SP_1116606/w/index.html", title="不折不購 買到惠過癮")
                    img(src="~event/1st/e-main/components/tab-slider-section/items/content/content-3-1.png", alt="不折不購 買到惠過癮")
                .content__item.swiper-slide
                  a(href="https://www.etmall.com.tw/XML/content/DMSetting/Final/202010/SP_1116615/w/index.html", title="1111搶先購3折up")
                    img(src="~event/1st/e-main/components/tab-slider-section/items/content/content-3-2.jpg", alt="1111搶先購3折up")
                .content__item.swiper-slide
                  a(href="https://www.etmall.com.tw/gp/104810", title="NIKE聯合品牌7折起")
                    img(src="~event/1st/e-main/components/tab-slider-section/items/content/content-3-3.jpg", alt="NIKE聯合品牌7折起")
              #sliderTabPager_3.swiper-pagination-custom.swiper-pagination.swiper-slider-dot
            #sliderTabPagerPrev_3.swiper-button-white.swiper-button-prev.sliderTabPager-prev
            #sliderTabPagerNext_3.swiper-button-white.swiper-button-next.sliderTabPager-next