

section.hero
  .hero__decor.hero__decor--left
    img(src="event/1st/e-main/components/hero-section/decor-left-ufo.png", alt="")
  .hero__decor.hero__decor--right
    img(src="event/1st/e-main/components/hero-section/decor-right-ufo.png", alt="")
  .hero__decor.hero__decor--light 
    img(src="event/1st/e-main/components/hero-section/decor-light.png", alt="")

  .layout--main
    .hero__wrap
      .hero__zone
        .video__wrap
          include /event/1st/e-main/components/hero-section/hero-video/_hero-video.pug
        .hero__block
          .hero__title.hero__title--main
            .title
              a(href="")
                img(src="event/1st/e-main/components/hero-section/title.png" alt="雙11Ready購")
            .light
              img(src="event/1st/e-main/components/hero-section/title-light.png", alt="")

        .decor__wrap.full-parent
          .decor--top.decor__title.decor__title--2
            img(src="event/1st/e-main/components/hero-section/12-1.png", alt="")
          .decor--top.decor__title.decor__title--22
            img(src="event/1st/e-main/components/hero-section/12-2.png", alt="")
          .decor--top.decor__title.decor__title--222
            img(src="event/1st/e-main/components/hero-section/12-1.png", alt="")
          .decor--top.decor__title.decor__title--2222
            img(src="event/1st/e-main/components/hero-section/12-2.png", alt="")