section.promo__group.promo__group--connect.m-bottom--md
  .layout--main
    .anchor__title(data-title="喜歡溫度", title="喜歡溫度")
      img(src="~event/2nd/e-main/components/connect-anchor/anchor-title-1.png", alt="喜歡溫度")
    .incentive_layer
      img.incentive-line.incentive-line__web(src="~event/2nd/e-main/components/connect-anchor/thermometer__web.png")
      .incentive-dot.incentive-dot__web
      img.incentive-line.incentive-line__mo(src="~event/2nd/e-main/components/connect-anchor/thermometer__mo.png")
      .incentive-dot.incentive-dot__mo
      .incentive__block.ib-1
        .incentive__block-sub
          img.img01(src="~event/2nd/e-main/components/connect-anchor/items/incentive-01-sub.png")
        .incentive
          a(href="#stop10度")
            img.incentive-main(src="~event/2nd/e-main/components/connect-anchor/items/link-1.png")
            img.light-card.lc-1(src="~event/2nd/e-main/components/connect-anchor/items/box-light.png")
          //img(src="~event/2nd/e-main/components/connect-anchor/items/box.png")
      .incentive__block.ib-2
        .incentive__block-sub
          img.img02(src="~event/2nd/e-main/components/connect-anchor/items/incentive-02-sub.png")
        .incentive
          a(href="#stop18度")
            img.incentive-main(src="~event/2nd/e-main/components/connect-anchor/items/link-2.png")
            img.light-card.lc-2(src="~event/2nd/e-main/components/connect-anchor/items/box-light.png")
      .incentive__block.ib-3
        .incentive__block-sub
          img.img03(src="~event/2nd/e-main/components/connect-anchor/items/incentive-03-sub.png")
        .incentive
          a(href="#stop25度")
            img.incentive-main(src="~event/2nd/e-main/components/connect-anchor/items/link-3.png")
            img.light-card.lc-3(src="~event/2nd/e-main/components/connect-anchor/items/box-light.png")
    //ul.anchor__wrap
    //  li
    //    a(href="#forSupervisors", title="送長官")
    //      img(src="~event/2nd/e-main/components/connect-anchor/items/link-1.png", alt="送長官")
    //  li
    //    a(href="#forElders", title="送長輩")
    //      img(src="~event/2nd/e-main/components/connect-anchor/items/link-2.png", alt="送長輩")
    //  li
    //    a(href="#forFriends", title="送朋友")
    //      img(src="~event/2nd/e-main/components/connect-anchor/items/link-3.png", alt="送朋友")

