
section#itemGoods.build__group
  // 11天
  #buildDay1.build__items
  #buildDay2.build__items
  #buildDay3.build__items
  #buildDay4.build__items
  #buildDay5.build__items
  #buildDay6.build__items
  #buildDay7.build__items
  #buildDay8.build__items
  #buildDay9.build__items
  #buildDay10.build__items
  #buildDay11.build__items