//- 天將紅包雨
section.promo__group.promo__group--game-1(data-title="天降紅包雨")
  .layout--main
    a#anchorChangeLink.promo__wrap(href="")
      img(src="~event/2nd/e-main/components/event-game-1/game-1-title.png", alt="")
      #js-red__envelope__wrap.red__envelope__wrap
        //img(src="~event/2nd/e-main/components/event-game-1/game-1-money.png", alt="")
      //img(src="~event/2nd/e-main/components/event-game-1/red-2.png", alt="")

