.promo__event
  margin-top: calc(-100vw * 0.1875)
  +pos-set(relative, null)
  padding: 0 5%
  z-index: 4
  +breakpoint-min($min-width-xl)
    padding: 0
    margin: -120px auto 40px 0
  .event__wrap
    +display-flex
    flex-wrap: wrap
    width: 100%
    li
      margin-right: 0
      padding: 0
      width: 48%
      +breakpoint-min($min-width-xl)
        width: 25%
  .event__wrap
    li
      transition: all .5s
      &:hover,
      &:active
        transform: scale(1.05)
        filter: brightness(150%)
    a
      transition: all 0.5s
      &:hover,
      &:active
        filter: brightness(120%)
.hero__wrap
  .promo__event
    width: 100%
    flex: 1 0 100%
    text-align: center