-
  var heroTitleE = [
    {
      link: "#note",
      imgSrc: "event/1st/e-main/components/hero-section/sub-title-1.png",
      alt: "全站滿額贈禮物卡",
    },
    {
      link: "",
      imgSrc: "event/1st/e-main/components/hero-section/sub-title-2.png",
      alt: "挑戰任務領東森幣",
    },
  ]


.hero__decor--top
  .decor--top
  .decor--top

section.hero
  .layout--main
    .hero__wrap
      .hero__zone
        .hero__title.hero__title--main
          a(href="https://www.etmall.com.tw/member/taskActivity") 
            img(src="event/1st/e-main/components/hero-section/title-main.png" alt="在另一個世界等了一年")
        .decor__wrap
          .decor__item.decor__item--left
            img(src="event/1st/e-main/components/hero-section/hero-item-L.png" alt="")
          .decor__item.decor__item--right
            img(src="event/1st/e-main/components/hero-section/hero-item-R.png" alt="")
          .decor__item.decor__item--top
            img(src="event/1st/e-main/components/hero-section/decor-item-m.png", alt="")
