.slider__collect
  //- 輪播1
  //- 輪播2
  #sliderCollectGoods.swiper-container
    ul.swiper-wrapper.collect__goods
      li.swiper-slide.collect__item
        a(href="https://www.etmall.com.tw/Activity/CollectPointExchange/20200529", title="linePoint 80點")
          img(class="swiper-lazy" data-src="~event/1st/e-main/components/slider-section-1-ig/items/bg__slider__good-1.png", alt="linePoint 80點")
          .swiper-lazy-paloader
      li.swiper-slide.collect__item
        a(href="https://www.etmall.com.tw/Activity/CollectPointExchange/20200529", title="全家中杯冰美式咖啡即享券")
          img(class="swiper-lazy" data-src="~event/1st/e-main/components/slider-section-1-ig/items/bg__slider__good-2.png", alt="全家中杯冰美式咖啡即享券")
          .swiper-lazy-paloader
      li.swiper-slide.collect__item
        a(href="https://www.etmall.com.tw/Activity/CollectPointExchange/20200529", title="春風柔韌抽取衛生紙")
          img(class="swiper-lazy" data-src="~event/1st/e-main/components/slider-section-1-ig/items/bg__slider__good-3.png", alt="春風柔韌抽取衛生紙")
          .swiper-lazy-paloader
      li.swiper-slide.collect__item
        a(href="https://www.etmall.com.tw/Activity/CollectPointExchange/20200529", title="100元全站折價券")
          img(class="swiper-lazy" data-src="~event/1st/e-main/components/slider-section-1-ig/items/bg__slider__good-4.png", alt="100元全站折價券")
          .swiper-lazy-paloader
      li.swiper-slide.collect__item
        a(href="https://www.etmall.com.tw/Activity/CollectPointExchange/20200529", title="MONS精品質感修身針織外套")
          img(class="swiper-lazy" data-src="~event/1st/e-main/components/slider-section-1-ig/items/bg__slider__good-5.png", alt="MONS精品質感修身針織外套")
          .swiper-lazy-paloader
      li.swiper-slide.collect__item
        a(href="https://www.etmall.com.tw/Activity/CollectPointExchange/20200529", title="518枚東森幣")
          img(class="swiper-lazy" data-src="~event/1st/e-main/components/slider-section-1-ig/items/bg__slider__good-6.png", alt="518枚東森幣")
          .swiper-lazy-paloader

    #sliderCollectGoodsPager.swiper-pagination-custom.swiper-pagination
  ul.slider__ig__hastag
    li.hastag__branch
      a(href="#note") #美妝
    li.hastag__branch
      a(href="#note") #美妝
    li.hastag__branch
      a(href="#note") #美妝
    li.hastag__branch
      a(href="#note") #美妝
    li.hastag__branch
      a(href="#note") #美妝
    li.hastag__branch
      a(href="#note") #美妝
    li.hastag__branch
      a(href="#note") #美妝
    li.hastag__branch
      a(href="#note") #美妝
  .btn__ig__click__more
    img(src="~event/1st/e-main/components/slider-section-1-ig/ig__click__more.png")