//- TODO: 打開雙月選項切換雙月(預設單月)
- var isEven = true
//- TODO: 打開2號電梯選項切換第二組電梯(預設第一組)
- var isSecond = false
//- TODO: 打開u-mall選項會自動轉換成U的logo和連結、電梯(預設etmall)
- var isU = true

//- 如果放在hero-section會出現重load的感覺
#animateWrapHt(style="left:50%;")
  .parallax__background
main#spWrap.sp__wrap.sp__wrap--e
  include /layout/header/_header
  //- #parallaxBg.parallax__background
  //- .parallax__background

  //- hero section
  //- ===========================
  include /event/1st/u-main/components/hero-section/_hero-section

//- script區
include /utils/pug/_total-script

