section.promo__group.bn-section.m-bottom--lg(data-title="訂單遊戲")
  .layout--main
    .decor__wrap.full-parent
      .decor__item.decor__item--title#decorBnSectionTitle
        img(src="event/1st/e-main/components/bn-section/decor-bn-section-title.png", alt="")
      .decor__item.decor__item--left#decorBnSectionLeft
        img(src="event/1st/e-main/components/bn-section/decor-bn-section-left.png", alt="")
    .promo__wrap
      .promo__zone
        .promo__block
          .promo__box
            a(href="https://m.etmall.com.tw/Activity/Lottery/d8c72a7c028c83cbca0ec66768736f12") 
              img(src="event/1st/e-main/components/bn-section/bn-section.gif", alt="")