section.promo__group.promo__group--tab.promo__group--tab-wrap-2(data-title="")
  .tab--bg
    .layout--main
      ul.tab__wrap
        li.tab__zone
          ul#tabBox_2.tab__box
            li.tab__item(title="吃好穿好").active
              //img(src="~event/2nd/e-main/components/tab-section-2/items/tab/tab-2-1.png", alt="吃好穿好")
              //img(src="~event/2nd/e-main/components/tab-section-2/items/tab/tab-2-1-active.png", alt="吃好穿好")
              img(src="https://media.etmall.com.tw/sp/8249/tab-2-1.png", alt="吃好穿好")
              img(src="https://media.etmall.com.tw/sp/8249/tab-2-1-active.png", alt="吃好穿好")
            li.tab__item(title="擦好顧好")
              //img(src="~event/2nd/e-main/components/tab-section-2/items/tab/tab-2-2.png", alt="擦好顧好")
              //img(src="~event/2nd/e-main/components/tab-section-2/items/tab/tab-2-2-active.png", alt="擦好顧好")
              img(src="https://media.etmall.com.tw/sp/8249/tab-2-2.png", alt="擦好顧好")
              img(src="https://media.etmall.com.tw/sp/8249/tab-2-2-active.png", alt="擦好顧好")
            li.tab__item(title="用好玩好")
              //img(src="~event/2nd/e-main/components/tab-section-2/items/tab/tab-2-3.png", alt="用好玩好")
              //img(src="~event/2nd/e-main/components/tab-section-2/items/tab/tab-2-3-active.png", alt="用好玩好")
              img(src="https://media.etmall.com.tw/sp/8249/tab-2-3.png", alt="用好玩好")
              img(src="https://media.etmall.com.tw/sp/8249/tab-2-3-active.png", alt="用好玩好")
            li.tab__item(title="屯好睡好")
              //img(src="~event/2nd/e-main/components/tab-section-2/items/tab/tab-2-4.png", alt="屯好睡好")
              //img(src="~event/2nd/e-main/components/tab-section-2/items/tab/tab-2-4-active.png", alt="屯好睡好")
              img(src="https://media.etmall.com.tw/sp/8249/tab-2-4.png", alt="屯好睡好")
              img(src="https://media.etmall.com.tw/sp/8249/tab-2-4-active.png", alt="屯好睡好")
        li.content__zone
          ul#tabContentBlock_2.content__block
            li.content__box.active
              .tab__slider_2.swiper-container
                ul.item__wrap.swiper-wrapper

            li.content__box
              .tab__slider_2.swiper-container
                ul.item__wrap.swiper-wrapper

            li.content__box
              .tab__slider_2.swiper-container
                ul.item__wrap.swiper-wrapper

            li.content__box
              .tab__slider_2.swiper-container
                ul.item__wrap.swiper-wrapper