.promo__event
  +pos-set(relative, base)
  // margin-top: -1%
  .event__wrap
    display: flex
    flex-wrap: wrap
    padding: 1% 2%
    li
      flex: 1 0 49%
      padding: 0.5%
      a
        text-align: center
        transition: all 0.5s
        &:hover,
        &:active
          transform: translateY(2%)
    &--top
      li

    &--bottom
      // margin-top: -1.5%
      // padding-bottom: 2.2%
