// // ==========================================================================
// // decoration
// // ==========================================================================
@keyframes title-down
  0%
    opacity: 0
    transform: translateY(calc(-100vw * .5))
  70%, 80%
    transform: translateY(0) scale(1.2)
  75%, 100%
    transform: translateY(0) scale(1)
  100%
    opacity: 1

@keyframes key-rotate-stop
  0%
    transform: rotate(0)
  5%
    transform: rotate(-20deg)
  10%
    transform: rotate(0)
  15%
    transform: rotate(20deg)
  20%
    transform: rotate(0)
  100%
    transform: rotate(0)

+key-shake-self-y(10)



// // ==========================================================================
// // main
// // ==========================================================================
.parallax__background
  +pos-set(absolute, zero)
  +bg-set(url("~event/index-main-u-2/components/hero-section/960bg.jpg"), 100%, center, 0, no-repeat, $gray-deep-light)
  padding-top: 98%
  width: 100%
  +breakpoint-min($min-width-xl)
    +bg-set(url("~event/index-main-u-2/components/hero-section/2560bg.jpg"), 2560px 1869px, center, 0, no-repeat, $gray-deep-light)
.hero__wrap
  +pos-set(relative, zero)
  .hero__zone
    +pos-set(relative, zero)
    // padding-top: 3%

  .hero__title
    z-index: 2
    position: relative
    &--main
      padding-top: calc(100vw * 0.11)
      .title__box
        +pos-set(absolute, third)
        &.title__date
          display: none
        &.title__decoration
          top: 18%
          left: 5%
          width: 35%
          // filter: drop-shadow(0 4px $gray-medium)
          animation: 1s 1s title-down both ease-out
          img
            animation: 2s 2s key-rotate-stop both infinite ease-in-out
      > img
        &:last-child
          margin-left: 6%
          width: 85%
          text-align: center

  +breakpoint-min($min-width-xl)
    background: none
    .hero__zone
      padding-top: 10px

    .hero__title
      padding-top: 18px
      &--main
        .title__box
          &.title__date
            display: block
            top: 75px
            left: 50px
            width: 106px
          &.title__decoration
            top: 130px
            left: 10px
            width: 175px
        > img
          &:last-child
            margin: 7% auto auto 11%
            width: auto
    .hero__block
      +display-flex(">div")
      flex-wrap: wrap
      +pos-set(relative, zero)
    .hero__box
      +flex(0, 0, 100%)
      // padding-left: 12%
    // .goods__wrap
    //   +flex(0, 1, 66%)
    //   +pos-set(absolute, under, 15px, null, null, -140px)
    .promo__event
      +flex(0, 1, 100%)
      +pos-set(relative, second)
    .goods__wrap--flip
      +flex(0, 1, 62%)
      +pos-set(absolute, second, 200px, null, null, -90px)
  //padding: 50px
.header__decoration
  +pos-set(absolute, third)
  &.header__decoration--one-dollar
    width: 27%
    right: calc(100% * 0.1)
    top: calc(100% * 0.05)
    animation: 2s 2s key-rotate-stop both infinite ease-in-out
    +breakpoint-min($min-width-xl)
      right: 95px
      top: 44px
  // decoration
  // .hero__decoration
  //   display: none
  //   +breakpoint-min($min-width-xl)
  //     display: block
  //     +pos-set(absolute, base)
  //     top: 450px
  //     width: 100%
  //     pointer-events: none