//- TODO: 打開雙月選項切換雙月(預設單月：7658 / true = 雙月：7659)
//- - var isEven = true
//- TODO: 打開2號電梯選項切換第二組電梯(預設第一組，true = 第二組 單月：7660 / 雙月：7661)
- var isSecond = true
//- TODO: 打開u-mall選項會自動轉換成U的logo和連結、電梯(預設etmall)
//- - var isU = true
main#spWrap.sp__wrap
  include /layout/header/_header

  //- hero section
  //- ===========================
  //- include /utils/bg-decoration-instance/parallax/_parallax
  include /event/4th/e-main/components/hero-section/_hero-section

  //- other components
  //- ===========================
  //- TODO: 如果promo不用和hero綁在一起時放這
  include /event/4th/e-main/components/promo-event/_promo-event
  include /event/4th/e-main/components/dynamic-slider/_dynamic-slider
  include /event/4th/e-main/components/event-w1m1/_event-w1m1
  include /event/4th/e-main/components/dynamic-section/_dynamic-section
  include /event/4th/e-main/components/cash-back-slider/_cash-back-slider
  include /event/4th/e-main/components/mid-more-slider/_mid-more-slider
  include /event/4th/e-main/components/event-w3m3/_event-w3m3
  include /event/4th/e-main/components/bn-special/_bn-special

//- script區
include /utils/pug/_total-script
script#dataDailySlider(src='data-daily-slider.js')
script#dataTab(src='data-tab.js')
script#dataDynamicSlider(src='data-dynamic-slider.js')
script#dataCashBackSlider(src='data-cash-back-slider.js')
