section.promo__group.promo__group--player
  .layout--main
    .promo__title
      img(src="~components/player-section/section-title-1.jpg", alt="")
    .promo__game
      a(href="") 
      img(src="~components/player-section/start.gif", alt="")
    .promo__number
      img(src="~components/player-section/bg-number.jpg", alt="")
      .text 
        h1 序號兌換輸入
        input(type="text" placeholder="請輸入序號兌換遊戲次數")
    .promo__button 
      a(href="")
        img(src="~components/player-section/button.jpg", alt="")