-
section.section--cell.promo__group.promo__group--main-menu.m-bottom--xl
  .layout--main
    .group__wrap
      .group__zone.m-bottom--lg

        include /event/1st/e-main/components/include/user-info/_user-info

      .group__zone.m-bottom--lg
        .group__promo.block--center
          ul
            li
              img(src="event/1st/e-main/components/main-menu/items/menu-promo-1.png", alt="獲得2個拚圖獲得1%")
            li
              img(src="event/1st/e-main/components/main-menu/items/menu-promo-2.png", alt="獲得4個拚圖獲得2%")
            li
              img(src="event/1st/e-main/components/main-menu/items/menu-promo-3.png", alt="獲得6個拚圖獲得3%")

      .group__zone.m-bottom--lg
        .group__nav
          .nav__item
            a.btn--nav.shape--capsule.capsule--gradient 退出隊伍
          .nav__item
            a.btn--nav.shape--capsule.capsule--gradient 邀請好友
          .nav__item
            a.btn--nav.shape--capsule.capsule--gradient 團隊排行榜
