section.js--tab.promo__group--table.promo__group--table-1
  .layout--main
    .section__title
      .title__box 輕鬆分期
    .table__wrap.content__wrap
      .table__box
        table
          tr
            th 銀行名稱
            th 一次付清
            th 3期
            th 6期
            th 12期
            th 24期
            th 30期
          - var index = 0
          while (index < 18)
            tr
              td 台灣樂天
              td ◯
              td ◯
              td ◯
              td ◯
              td ╳
              td ╳
            - index++

      p 實際可分期期數依結帳頁面顯示為準