section.hero
  .layout--main
    .hero__wrap
      .hero__zone
        .video__wrap
          include /event/1st/e-main/components/hero-section/hero-video/_hero-video.pug

        .hero__block
          .hero__title
            .title--bg
                img(src="event/1st/e-main/components/hero-section/bg-title.png" alt="")
            .title--text 
              img(src="event/1st/e-main/components/hero-section/title.png" alt="閃購禮物節")

            .decor__wrap
              .decor__item.decor__item--top
                img(src="event/1st/e-main/components/hero-section/decor-title-1.png", alt="")
              .decor__item.decor__item--bottom
                img(src="event/1st/e-main/components/hero-section/decor-title-2.png", alt="")

          .sub__title
            img(src="event/1st/e-main/components/hero-section/sub-title.png", alt="挑戰任務拿＄1314")
