.modal__wrap
  .modal__head
    img(src="~components/modal/exchange.png" alt="獎項紀錄查詢")
    //- th 許願紀錄
    
  .modal__body
    .data__wrap
      table
        tr
          td(colspan="2") 2021/11/11 00:11
          td(rowspan="2") 東森幣10枚
        tr
          td 序號
          td 845221
        tr
          td(colspan="2") 2021/11/11 00:11
          td(rowspan="2") 東森幣999枚
        tr
          td 序號
          td 845221
        tr
          td(colspan="2") 2021/11/11 00:11
          td(rowspan="2") 東森幣10枚
        tr
          td 序號
          td 845221
        tr
          td(colspan="2") 2021/11/11 00:11
          td(rowspan="2") 東森幣10枚
        tr
          td 序號
          td 845221        
        tr
          td(colspan="2") 2021/11/11 00:11
          td(rowspan="2") 東森幣10枚
        tr
          td 序號
          td 845221        
        tr
          td(colspan="2") 2021/11/11 00:11
          td(rowspan="2") 東森幣10枚
        tr
          td 序號
          td 845221
        tr
          td(colspan="2") 2021/11/11 00:11
          td(rowspan="2") 東森幣10枚
        tr
          td 序號
          td 845221
        tr
          td(colspan="2") 2021/11/11 00:11
          td(rowspan="2") 東森幣10枚
        tr
          td 序號
          td 845221        
        tr
          td(colspan="2") 2021/11/11 00:11
          td(rowspan="2") 東森幣10枚
        tr
          td 序號
          td 845221        
        tr
          td(colspan="2") 2021/11/11 00:11
          td(rowspan="2") 東森幣10枚
        tr
          td 序號
          td 845221
        tr
          td(colspan="2") 2021/11/11 00:11
          td(rowspan="2") 東森幣10枚
        tr
          td 序號
          td 845221
        tr
          td(colspan="2") 2021/11/11 00:11
          td(rowspan="2") 東森幣10枚
        tr
          td 序號
          td 845221



    .modal__info
      .button--close
        span 關閉



      //- table.rwd-table
      //-   tr
      //-     th 許願日期
      //-     th 已許願次數/可許願次數
      //-     th 許願獎勵
      //-   tr
      //-     td(data-th="許願日期")
      //-       span 2021/05/22
      //-     td(data-th="已許願次數/可許願次數")
      //-       span 1/3
      //-     td(data-th="許願獎勵")
      //-       span 獲得東森幣x10枚獲得東森幣x10枚獲得東森幣x10枚獲得東森幣x10枚獲得東森幣x10枚獲得東森幣x10枚獲得東森幣x10枚獲得東森幣
      //-   tr
      //-     td(data-th="許願日期")
      //-       span 2021/05/22
      //-     td(data-th="已許願次數/可許願次數")
      //-       span 1/3
      //-     td(data-th="投票獎勵")
      //-       span 獲得東森幣x10枚
