section.promo__group.dynamic-slider-logo.m-bottom--lg(data-title="大牌鉅獻")
  .layout--main
    .decor__wrap.full-parent
      .decor__item.decor__item--item#decorSliderLogoItem
        img(src="event/1st/e-main/components/dynamic-slider-logo/decor-dynamic-slider-logo.png", alt="")
    .promo__wrap
      .promo__zone
        .promo__block
          .promo__slider.swiper-container#DynamicSliderLogoBlock
            .swiper-wrapper