// tab layout
.promo__group--tab-section
  overflow: hidden
  .decor__item
    &:first-child
      +pos-set(absolute, base, 0%, -2%)
      width: 17%
      +breakpoint-min($min-width-xl)
        left: calc(50% - 500px)
        width: auto
      &.active
        animation: rotate 3s linear infinite
    &:last-child
      +pos-set(absolute, base, 0%)
      right: 3%
      width: 30%
      +breakpoint-min($min-width-xl)
        top: 1%
        right: calc( 50% - 430px )
        width: auto
  .promo__wrap
    +aspect-ratio(960, 1243)
    .promo__zone
      +bg-set(url("event/1st/e-main/components/tab-section/bg-tab.png"), 100%)
      // margin-top: 28%

      .tab__wrap
        padding: 30% 1% 0
        .tab__box
          display: flex
          justify-content: space-around
          flex-wrap: wrap
          margin: 0 auto
          width: 95%
          // margin-top: 44%
          .tab__item
            position: relative
            width: 32%
            margin-bottom: 3%
            &--top
              position: absolute
              top: 0%
              left: 0%
              opacity: 0
              cursor: pointer
            .active
              opacity: 1
        .content__zone
          margin-top: -1%
          .content__box
            display: none
            &.active
              display: block
            .item__wrap
              display: flex
              justify-content: center
              flex-wrap: wrap
              padding: 5% 1% 0 2%
              .item__box
                width: 32%
                &:hover
                  transition: .5s
                  transform: scale(.95)
                  filter: brightness(1.2)


  @keyframes rotate
    0%
      transform: rotate(0deg)
    100%
      transform: rotate(360deg)
      