//@import url(//fonts.googleapis.com/earlyaccess/notosanstc.css)
$font-family: Microsoft JhengHei ,"Helvetica Neue", Arial , Helvetica, sans-serif
// wsc color
$border-line-c: #979797
$theme-main: #4a90e2
$theme-main-hover: #5AA9E2
$text-color: #716d6d
$text-active: #ae472a
$notice-err: #f24
$has-hotSell: #789f4d
$has-disCount: #e84949
//font-size
$font-def: 13px
$font-xl: $font-def * 1.2
$font-2m: 18px
$font-3m: 28px
$font-pirce: 25px
// width
// ico 高度寬度
$icoSvg-wt: 27px
// 外匡高度
$w-h-unit: 27px
// icon高度
$icoSvg-wt2: 20px

// color
$dark: #333
$white: #fff
$redDefault: #ff0000
$red: #DD5A43
$red2: #E08374
$light-red: #FF7777
$blue: #478FCA
$light-blue: #93CBF9
$green: #69AA46
$light-green: #B0D877
$t-green: #4ed8aa
$orange: #FF892A
$orange2: #FEB902
$light-orange: #FCAC6F
$purple: #A069C3
$dark-purple: #800180
$pink: #C6699F
$pink2: #D6487E
$brown: brown
$black: #000
$grey: #777
$light-grey: #BBB
$gold: #eea033
$fontYellow: #ffbd47
$fontBrown: #c35f0e
$grayDisable: #a2a2a2

$navbar-bg: #438EB9
$fontColor: #808080
$blue-two: #0c87cf
$dayToday: #FFA7A7
$borderStyle: #cccccc
$border-color: #d5d5d5
$tableBg: #549bdb
// 依房號訂房顏色

$status_a: #8AC926
$status_o: #FF595E
$status_s: #FFCA3A
$status_ooo: #1982C4

//font-size
$font-btn: 12px
$font-xs: 0.75em
$font-13: 13px
$font-14: 14px
$font-15: 15px
$font-16: 16px
$font-lg: 1.2em
$font-2x: 1.5em
$font-3x: 1.8em
$font-orderTitle: 2em
$font-date: 2.8125em

// height
$lineHeight22: 22px
$lineHeight34: 34px
// input-height
$defHt: 25px

// long
$label-mr: 4px  //label 後面的margin-right