- var bankLink = {etmall: "https://www.etmall.com.tw/XML/content/DMSetting/Final/209902/SP_1106649/w/index.html", umall: "https://www.u-mall.com.tw/XML/content/DMSetting/Final/209902/SP_1103370/w/index.html"}
- var bankInfo = isU ? bankLink.umall : bankLink.etmall

.promo__slider.hero__slider.wow
  #sliderSmall.swiper-container
    ul.swiper-wrapper
      li.swiper-slide
        h2.hero__title.hero__title--sub.block--center
          a(href= bankInfo, title="聯邦滿6,000送300")
            img(src="~event/1st/u-main/components/hero-small-slider/items/sub-title-1.png", alt="聯邦滿6,000送300")
      li.swiper-slide
        h2.hero__title.hero__title--sub.block--center
          a(href= bankInfo, title="台新滿10,000送800刷卡金")
            img(src="~event/1st/u-main/components/hero-small-slider/items/sub-title-2.png", alt="台新滿10,000送800刷卡金")
      li.swiper-slide
        h2.hero__title.hero__title--sub.block--center
          a(href= bankInfo, title="花旗滿30,000送3,000刷卡金")
            img(src="~event/1st/u-main/components/hero-small-slider/items/sub-title-3.png", alt="花旗滿30,000送3,000刷卡金")
      li.swiper-slide
        h2.hero__title.hero__title--sub.block--center
          a(href= bankInfo, title="陽信滿1,688送168刷卡金")
            img(src="~event/1st/u-main/components/hero-small-slider/items/sub-title-4.png", alt="陽信滿1,688送168刷卡金")
      li.swiper-slide
        h2.hero__title.hero__title--sub.block--center
          a(href= bankInfo, title="日盛滿8,888送666刷卡金")
            img(src="~event/1st/u-main/components/hero-small-slider/items/sub-title-5.png", alt="日盛滿8,888送666刷卡金")

