.hero__zone
  .hero__slider
    position: absolute
    width: 48%
    left: calc(100vw * 0.28)
    margin-top: 1.5%
    +bg-set(url("~event/1st/u-main/components/hero-small-slider/bg-small-slider.png"), 100% auto)
    //+aspect-ratio(479, 129)
    &.animated
      animation: big-open 0.5s both

  .hero__title
    &--sub
      width: 90%
      +pos-set(relative, third)

  +breakpoint-min($min-width-xl)
    .hero__slider
      top: 195px
      left: calc(50% - 200px)
      margin-top: 0
      //width: 100%
    .hero__title
      &--sub
        width: 95%