-
  //- var promoData = [
  //-   //- 做上翻的輪播好ㄌ
  //-   {
  //-     link: "",
  //-     imgSrc: "event/1st/e-main/components/promo-event/items/box-1.png",
  //-     alt: ""
  //-   },
  //-   {
  //-     link: "",
  //-     imgSrc: "event/1st/e-main/components/promo-event/items/box-2.png",
  //-     alt: "",
  //-   },
  //- ]
-
  var promoItemE = [
    {
      link: "",
      imgSrc: "event/1st/e-main/components/promo-event/items/promo-1.png",
      alt: "離島配送滿$2,000贈99枚樂透金",
    },
    {
      link: "https://m.etmall.com.tw/Activity/Lottery/6053df8d9a52b153b1e3821d4d8db2e0",
      imgSrc: "event/1st/e-main/components/promo-event/items/promo-2.png",
      alt: "消費滿額抽Acer輕薄教育筆電"
    },
    {
      link: "https://media.etmall.com.tw/sp/18519/m/index.html",
      imgSrc: "event/1st/e-main/components/promo-event/items/promo-3-1.png",
      alt: "周年慶新會員9這樣賺",
    },
    {
      link: "https://media.etmall.com.tw/sp/18519/m/index.html",
      imgSrc: "event/1st/e-main/components/promo-event/items/promo-3-2.png",
      alt: "新會員現領500東森幣",
    },
    {
      link: "https://www.etmall.com.tw/Activity/CollectPointExchangeActivity/202208c68e60de",
      imgSrc: "event/1st/e-main/components/promo-event/items/promo-4.png",
      alt: "集點換豪禮",
    },
    {
      link: "https://media.etmall.com.tw/sp/17015/m/index.html",
      imgSrc: "event/1st/e-main/components/promo-event/items/promo-5.png",
      alt: "全家取件送Fami!ce(口味任選)",
    },
    {
      link: "https://media.etmall.com.tw/sp/14386/m/index.html",
      imgSrc: "event/1st/e-main/components/promo-event/items/promo-6.png",
      alt: "幸福集氣購",
    },
    {
      link: "https://media.etmall.com.tw/sp/17016/m/index.html",
      imgSrc: "event/1st/e-main/components/promo-event/items/promo-7.png",
      alt: "不限金額送漢堡王優惠券",
    },
    //- banner 輪播 start
    {
      link: "https://media.etmall.com.tw/sp/16912/m/index.html",
      imgSrc: "event/1st/e-main/components/promo-event/items/promo-8.jpg",
      alt: "傢寢",
    },
    {
      link: "https://media.etmall.com.tw/sp/16912/m/index.html",
      imgSrc: "event/1st/e-main/components/promo-event/items/promo-9.jpg",
      alt: "傢寢",
    },
    {
      link: "https://media.etmall.com.tw/sp/16939/m/index.html",
      imgSrc: "event/1st/e-main/components/promo-event/items/promo-10.jpg",
      alt: "寵物",
    },
    {
      link: "https://media.etmall.com.tw/sp/16937/m/index.html",
      imgSrc: "event/1st/e-main/components/promo-event/items/promo-11.jpg",
      alt: "寵物",
    },
    {
      link: "https://media.etmall.com.tw/sp/17139/m/index.html",
      imgSrc: "event/1st/e-main/components/promo-event/items/promo-12.jpg",
      alt: "流行",
    },
    {
      link: "https://media.etmall.com.tw/sp/17141/m/index.html",
      imgSrc: "event/1st/e-main/components/promo-event/items/promo-13.jpg",
      alt: "美妝",
    },
    {
      link: "https://media.etmall.com.tw/sp/14576/m/index.html",
      imgSrc: "event/1st/e-main/components/promo-event/items/promo-14.jpg",
      alt: "電腦",
    },
    {
      link: "https://media.etmall.com.tw/sp/11920/m/index.html",
      imgSrc: "event/1st/e-main/components/promo-event/items/promo-15.jpg",
      alt: "家電",
    },
    //- banner 輪播 End

    //- 銀行 start
    {
      link: "https://media.etmall.com.tw/sp/16698/m/index.html#esun",
      imgSrc: "event/1st/e-main/components/promo-event/items/promo-16.png",
      alt: "刷 玉山 最高回饋10%"
    },
    {
      link: "https://media.etmall.com.tw/sp/16698/m/index.html#citi",
      imgSrc: "event/1st/e-main/components/promo-event/items/promo-17.png",
      alt: "刷 玉山 最高回饋8%"
    },
    {
      link: "https://media.etmall.com.tw/sp/17300/m/index.html",
      imgSrc: "event/1st/e-main/components/promo-event/items/promo-18.png",
      alt: "使用 Pi 拍錢包 最高回饋22%"
    },
    {
      link: "https://media.etmall.com.tw/sp/17456/m/index.html",
      imgSrc: "event/1st/e-main/components/promo-event/items/promo-19.png",
      alt: "使用 Atome 最高回饋40%"
    },
    //- 銀行 end
  ]

-
  //- var promoItemU = [
  //-   {
  //-     link: "https://media.u-mall.com.tw/sp/9704/m/index.html",
  //-     //- imgSrc: "event/1st/u-main/components/promo-event/items/promo-1.png",
  //-     alt: "23家銀行 最高回饋15%"
  //-   },
  //-   {
  //-     link: "https://media.u-mall.com.tw/sp/9704/m/index.html",
  //-     //- imgSrc: "event/1st/u-main/components/promo-event/items/promo-2.png",
  //-     alt: "花旗滿$20,000送$2,000"
  //-   },
  //-   {
  //-     link: "https://www.u-mall.com.tw/Activity/HourSale",
  //-     //- imgSrc: "event/1st/u-main/components/promo-event/items/promo-3.png",
  //-     alt: "限時瘋搶"
  //-   },
  //-   {
  //-     link: "https://www.u-mall.com.tw/Activity/HourSale",
  //-     //- imgSrc: "event/1st/u-main/components/promo-event/items/promo-3.png",
  //-     alt: "限時瘋搶"
  //-   },
  //- ]

//- - var promoItem = isU ? promoItemE : promoItemU

//- TODO: 如果promo不和hero綁一起時要有自己的section和layout--main
section.promo__group.promo__group--promo-event.m-bottom--lg
  .layout--main
    .promo__wrap
      .promo__zone
        .promo__block
          ul.promo__box
            each data, index in promoItemE
              if index < 2
                li.promo__item
                  a(href= data.link, title= data.alt)
                    img(src= data.imgSrc, alt= data.alt)
            .swiper-container.container--promo-event
              ul.swiper-wrapper
                each data, index in promoItemE
                  if index >= 2 && index < 4
                    li.swiper-slide.promo__item
                      a(href= data.link, title= data.alt)
                        img(src= data.imgSrc, alt= data.alt)
          ul.event__box
            each data, index in promoItemE
              if index >= 4 && index <= 7 
                li.promo__item
                  a(href= data.link, title= data.alt)
                    img(src= data.imgSrc, alt= data.alt)
          ul.bn__box 
            .swiper-container.container--promo-event
              ul.swiper-wrapper
                each data, index in promoItemE
                  if index >= 8 && index <=15
                    li.swiper-slide
                      a(href= data.link, title=data.alt)
                        img(src= data.imgSrc, data.alt)
          ul.bank__box 
            each data, index in promoItemE
              if index >= 16 && index <= 19
                li.event__item
                  a(href= data.link, title= data.alt)
                    img(src= data.imgSrc, alt= data.alt)

    //- .promo__wrap--special
    //-   .promo__zone--special
    //-     .promo__block
    //-       ul.event__block
    //-         each data, index in promoData
    //-           if index == 0
    //-             li.promo__item
    //-               a(href= data.link, title= data.alt)
    //-                 img(src= data.imgSrc, alt= data.alt)


//- .promo__block
//-   #promoSlider.swiper-container
//-     ul.swiper-wrapper
//-       each data, index in promoData
//-         if index >= 6
//-           li.swiper-slide
//-             a(href= data.link, title=data.alt)
//-               img(src= data.imgSrc, data.alt)
