section.promo__group.promo__group--dynamic-slider-3(data-title="一起團GO")
  .layout--main
    .decor__wrap.full-parent
      .promo__decor#decorDynamicSliderLeft
        img(src="event/2nd/e-main/components/dynamic-slider-3/decor-dynamic-slider-left.png", alt="")
      .promo__decor#decorDynamicSliderRight
        img(src="event/2nd/e-main/components/dynamic-slider-3/decor-dynamic-slider-right.png", alt="")
    .promo__wrap
      .promo__zone
        .promo__block
          .promo__slider.swiper-container#dynamicSlider3Section
            .swiper-wrapper

        //- #sliderDynamic2Prev.swiper-button-white.swiper-button-prev.dynamic__nav.dynamic__nav--prev
        //- #sliderDynamic2Next.swiper-button-white.swiper-button-next.dynamic__nav.dynamic__nav--next
      //- #sliderDynamic2Pager.dynamic-slider-pager.swiper-pagination

//- data-dynamic-2.js在assets資料夾內、由index.pug外連過去