.promo__group--w9m9
  .promo__wrap
    +bg-set(url("~event/2nd/e-main/components/event-w9m9/bg-event-w9m9.png"), 100% auto)
    height: 123vw
    .good__wrap
      display: flex
      flex-wrap: wrap
      justify-content: center
      padding: 13% 5% 5% 5%
      li
        flex: 0 0 32%
        padding: 1% .5%
        a
          transition: transform 0.5s
        &:hover
          a
            transform: scale(1.1)
            filter: brightness(120%)

    +breakpoint-min($min-width-xl)
      width: 100%
      max-width: 960px
      margin: 0 auto
      height: 1220px
