section.hero__wrap
  .hero__zone
    .layout--main
      .decoration--top.decoration__hero.wow
        img(src="~event/1st/u-main/components/hero-section/decoration-hero.png", alt="",)
      .hero__block
        .hero__box

          .hero__title.hero__title--main.wow(title="全民嗨搶節|天天1折up")
            //- 標題
            h1
              img(src="~event/1st/u-main/components/hero-section/title.png", alt="全民嗨搶節|天天1折up")
            .decoration--top.decoration__title.wow
              img(src="~event/1st/u-main/components/hero-section/decoration-title.png", alt="",)

  //- TODO: 如果hero和promo要共用主視覺時這樣放
  //- .promo__zone
    //- .layout--main
      //- .promo__block
        //- 行銷誘因
        //- include /event/1st/u-main/components/promo-event/_promo-event

        //- 商品輪播
          //- 副標
        //- .hero__small__zone
          //- include /event/1st/u-main/components/hero-small-slider/_hero-small-slider
