section.passport
  .layout--main
    .passport__zone
      .passport__block
        .passport__box
          .passport__item
            .passport__item--text
              .passport__item--content
                .text__name--logo
                  img(src="event/1st/e-main/components/passport/passport-logo.png", alt="人物頭像")
                .text__name--content
                  .passport--id
                    span ID:
                    span 12345658
                  .passport--name.text--bold
                    span 王大明
                    span ...
              .start__time
                span 發證日期：
                span 2023/04/01
                span 20:59
              .end__time
                span 證件效期：
                span 2023/04/01
                span 20:59
            .passport__item--img
              .profile
                img(src="event/1st/e-main/components/passport/profile-1.png", alt="人物頭像")
          .click__item--passport
            img(src="event/1st/e-main/components/passport/question-dark.png", alt="說明")
          .expired.active
            img(src="event/1st/e-main/components/passport/expired.png", alt="人物頭像")








