.bn-section-2
  overflow: hidden
  .decor__wrap
    // padding-top: 10%
    // +breakpoint-min($min-width-xl)
      // padding-top: 6%
    .decor__item
      pointer-events: none
      &--left
        +pos-set(absolute, under, 0%, 0%)
        width: 92%
        +breakpoint-min($min-width-xl)
          left: calc(50% - 472px)
      &--right
        +pos-set(absolute, base, 11%)
        right: 2%
        width: 30%
        animation: move-poli-right 3.2s ease-in 5
        +breakpoint-min($min-width-xl)
          right: calc(50% - 480px)
      +breakpoint-min($min-width-xl)
        width: auto
  .promo__wrap
    .promo__zone
      +aspect-ratio(960, 1088)
      .promo__block
        .promo__box
          text-align: center
          cursor: pointer
          &:hover
            transition: all 0.6s ease
            transform: translateY(-1%)
            filter: brightness(1.2)

@keyframes up-down
  0%, 100%
    transform: translateY(5%)
  50%
    transform: translateY(-5%)

@keyframes move-poli-right
  0%, 100%
    transform: translate(0, 0)
  10%, 22%
    transform: translate(-20%, -12%) scaleY(1.05)
  16%, 28%
    transform: translate(-20%, 0) rotate(0deg)
  40%
    transform: translate(-10%, -12%) rotate(3deg)
  48%
    transform: translate(0, 0)
