.promo__group--w3m3
  +pos-set(relative, zero)
  .promo__wrap
    +aspect-ratio(887, 712)
  .promo__zone
    +bg-set(url("event/3rd/e-main/components/event-w3m3/bg-event-w3m3.png"), 100% auto)
    .good__wrap
      display: flex
      flex-wrap: wrap
      justify-content: space-around
      padding: 11.2% 12% 3% 13%
      li
        margin-bottom: 4%
        width: 26%
        // padding: 1% .5%
        a
          transition: transform 0.5s
        &:hover a,
        a.active
          transform: scale(1.1)
          filter: brightness(120%)
