.promo__group--card
  .card__wrap
    display: none
    padding: 18% 6% 9%
    +bg-set(url(event/1st/e-main/components/random-card/bg-random-card.png), 100%)
    &.active
      display: block
      animation: bounceInDown 0.5s both
  +breakpoint-min($min-width-xl)
    margin-top: 0
    .card__wrap
      padding-top: 185px
      padding-bottom: 100px

  .card__box
    display: flex
    flex-wrap: wrap

  .card__item
    +pos-set(relative, zero)
    flex: 0 0 50%
    a
      text-align: center
    // border: 1px solid #faa
    // perspective: 600px
    // cursor: pointer

  // .card__front,
  // .card__back
  //   backface-visibility: hidden
  //   transition: all 0.3s


  // .card__front
  //   +pos-set(absolute, under, 0, 0)
  //   width: 100%
  //   height: 100%
  //   transform-style: preserve-3d
  //   transform: rotateY(180deg)

  // .card__item.active .card__back
  //   transform: rotateY(-180deg)

  // .card__item.active .card__front
  //   transform: rotateY(0)

@keyframes bounceInDown
  from,
  60%,
  75%,
  90%,
  to
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1)
  0%
    opacity: 0
    transform: translate3d(0, -50px, 0)
  60%
    opacity: 1
    transform: translate3d(0, 25px, 0)
  75%
    transform: translate3d(0, -10px, 0)
  90%
    transform: translate3d(0, 5px, 0)
  to
    transform: translate3d(0, 0, 0)
