nav.header__sub-nav
  ul.sub-nav__wrap
    if firstItem
      li.sub-nav__item
        a(href="#", title=firstItem)= firstItem
    li.sub-nav__item
      a(href="#", title="活動辦法") 活動辦法
    li.sub-nav__item
      a(href="#", title="獎項好禮送") 獎項好禮送
    li.sub-nav__item
      a(href="#", title="寵愛毛小孩") 寵愛毛小孩


