- var heroBankData = {etmall: "https://www.etmall.com.tw/XML/content/DMSetting/Final/201908/SP_1107836/w/index.html", umall: "https://www.u-mall.com.tw/XML/content/DMSetting/Final/201908/SP_1104315/w/index.html"}
- var heroBankInfo = isU ? heroBankData.umall : heroBankData.etmall
//include /event/1st/e-main/components/canva-effect/_canva-effect.pug
section.hero__wrap.m-bottom--sm
  .layout--main
    .hero__zone
      #heroBlock.hero__block
        .hero__box.wow(data-wow-iteration="1")
          // icon
          .hero__decoration.block__decoration.el--left
            img(src="~event/1st/e-main/components/hero-section/element__match.png")
          .hero__decoration.block__decoration.el--right
            img(src="~event/1st/e-main/components/hero-section/element__boy-one.png")
          //.hero__decoration.block__decoration.block__decoration--arrow.block__decoration--arrow--right

          // 標題
          h1.hero__title.hero__title--main.block--center(title="開學愛翻天")
            img(src="~event/1st/e-main/components/hero-section/title.png", alt="開學愛翻天")
            img(src="~event/1st/e-main/components/hero-section/title_flip.png", alt="開學愛翻天" class="hero__title--flip wow")

          include /event/1st/e-main/components/hero-small-slider/_hero-small-slider
          // 副標
          img(src="~event/1st/e-main/components/hero-section/sub_title_1.png", alt="表白" class="sub_title--tag tag_1")
          img(src="~event/1st/e-main/components/hero-section/sub_title_2.png", alt="聯誼" class="sub_title--tag tag_2")
          img(src="~event/1st/e-main/components/hero-section/sub_title_3.png", alt="備起來" class="sub_title--tag tag_3")
          //include /event/1st/e-main/components/hero-small-slider/_hero-small-slider

      .promo__block
        // 行銷誘因
        include /event/1st/e-main/components/promo-event-full-screen/_promo-event
        // 商品輪播
        include /event/1st/e-main/components/goods-slider-flip-full-screen/_goods-slider-flip

      //-include /event/1st/e-main/components/goods-slider/_goods-slider

      //-include /event/1st/e-main/components/bn-special/_bn-special.pug
