.hero__zone
  .hero__slider
    width: 100%
    left: 0%
    margin-top: -16%
    +aspect-ratio(937, 372)
    +bg-set(url("~event/3rd/u-main/components/hero-small-slider/bg-small-slider.png"), 100%)
    // &.animated
    //   animation: big-open 0.5s both
    .swiper-container
      padding: 14.8% 22% 14.8% 20%

  .hero__title
    &--sub
      width: 100%
      +pos-set(relative, third)
