section.promo__group.promo__group--dynamic-section.promo__group--dynamic-section-4.m-bottom--lg(data-title="回饋68%")
  .layout--main
    #decoDynamicSection4.promo__title
      .title__decoration
        img(src="event/1st/e-main/components/dynamic-section-4/decoration-dynamic-section-4.png", alt="東森幣68%回饋")
      .title__pic
        img(src="event/1st/e-main/components/dynamic-section-4/title-dynamic-section-4.png", alt="")

    .promo__wrap
      #dynamicSection4
        .product__wrap
