//- parallax 結構
section.deoration--background.decoration__wrap
  .decoration__item
    .item__wrap.item--left--1.wow
      img(src="~event/1st/u-main/components/background-decoration/bg-decoration--left-1.png", alt="" class="bg__decration bg__decration--left-1 wow")
    .item__wrap.item--left--2.wow
      img(src="~event/1st/u-main/components/background-decoration/bg-decoration--left-2.png", alt="" class="bg__decration bg__decration--left-2 wow")
    .item__wrap.item--right--1.wow
      img(src="~event/1st/u-main/components/background-decoration/bg-decoration--right-1.png", class="bg__decration bg__decration--right-1 wow")
    .item__wrap.item--right--2.wow
      img(src="~event/1st/u-main/components/background-decoration/bg-decoration--right-2.png", class="bg__decration bg__decration--right-2 wow")