section.promo__group.dynamic-slider-logo.m-bottom--lg(data-title="大牌鉅獻")
  .layout--main
    .decor__wrap.full-parent
      .decor__item.decor__item--title
        img(src="event/2nd/e-main/components/dynamic-slider-logo/title-dynamic-logo.png", alt="")
      .decor__item.decor__item--left#decorDynamicLogoLeft
        img(src="event/2nd/e-main/components/dynamic-slider-logo/decor-dynamic-logo-left.png", alt="")
      .decor__item.decor__item--right#decorDynamicLogoRight
        img(src="event/2nd/e-main/components/dynamic-slider-logo/decor-dynamic-logo-right.png", alt="")
    .promo__wrap
      .promo__zone
        .promo__block
          .promo__slider.swiper-container#DynamicSliderLogoBlock
            .swiper-wrapper