section.hero__wrap
  .hero__zone
    .layout--main
      #heroBlock.hero__block
        .hero__box
          //- 標題
          h1.hero__title.hero__title--main.block--center(title="Samsung Galaxy S20 Series")
            img(src="~event/1st/e-main/components/hero-section/title.jpg", alt="Samsung Galaxy S20 Series")
          .title-decoration__wrap
            .title__decoration.title__decoration--back
              .decoration__pic.wow
                img(src="~event/1st/e-main/components/hero-section/decoration-5g.jpg", alt="")
            .title__decoration.title__decoration--front.wow
              .decoration__pic.wow(title="Samsung Galaxy S20+ blue")
                img(src="~event/1st/e-main/components/hero-section/decoration-S20blue.png", alt="Samsung Galaxy S20+ 晴空藍")
              .decoration__pic.wow(title="Samsung Galaxy S20 Ultra 星空灰")
                img(src="~event/1st/e-main/components/hero-section/decoration-S20gray.png", alt="Samsung Galaxy S20 Ultra gray")
              .decoration__pic.wow(title="Samsung Galaxy S20 晴空粉")
                img(src="~event/1st/e-main/components/hero-section/decoration-S20pink.png", alt="Samsung Galaxy S20 pink")

  .promo__zone
    .layout--main
      .promo__block
        //- 行銷誘因
        include /event/1st/e-main/components/promo-event/_promo-event


