//- TODO: 給別的component引入時不需要前兩行要切換
//- section.promo__group.promo__group--bn-special.m-bottom--md
//- 懈購1+1
.promo__slider.one__slider
  //img#scrollDecoBird.decoration__bird(src="~event/1st/e-main/components/one-item-slider/decoration__bird.png", alt="")
  //.one__slider-web--bg
  .layout--main
    .decoration--leftRight--outer
      .scroll__flower
        img#oneItemSlider__deso-1(src="~event/1st/e-main/components/one-item-slider/scroll__ribbon.png", alt="")
    section.one__slider__wrap-1
      #sliderOneItem.swiper-container
        ul.swiper-wrapper
          li.swiper-slide
            a(href="https://www.etmall.com.tw/gp/104343", title="資生堂 百優精純乳霜75ml")
              img.swiper-lazy(data-src="~event/1st/e-main/components/one-item-slider/items/mother-1.png", alt="美魔女", src="~assets/img/1x1_low.png")
              //.swiper-lazy-preloader.swiper-lazy-preloader-white
          li.swiper-slide
            a(href="https://www.etmall.com.tw/c3/2951809", title="【娘家】大紅麴三盒組(30粒/盒)")
              img.swiper-lazy(data-src="~event/1st/e-main/components/one-item-slider/items/mother-2.png", alt="活力媽咪", src="~assets/img/1x1_low.png")
              //.swiper-lazy-preloader.swiper-lazy-preloader-white
          li.swiper-slide
            a(href="https://www.etmall.com.tw/i/2613102", title="晶工牌－45L旋風烤箱+專用304不鏽鋼深烤盤")
              img.swiper-lazy(data-src="~event/1st/e-main/components/one-item-slider/items/mother-3.png", alt="家庭主婦", src="~assets/img/1x1_low.png")
              //.swiper-lazy-preloader.swiper-lazy-preloader-white
          li.swiper-slide
            a(href="https://www.etmall.com.tw/i/2891355", title="Alcatel 10.1吋平板 WiFi (2G/32G)")
              img.swiper-lazy(data-src="~event/1st/e-main/components/one-item-slider/items/mother-4.png", alt="年輕媽咪", src="~assets/img/1x1_low.png")
              //.swiper-lazy-preloader.swiper-lazy-preloader-white
          li.swiper-slide
            a(href="https://www.etmall.com.tw/i/2967953", title="ViewSonic優派 27型IPS窄邊框液晶螢幕")
              img.swiper-lazy(data-src="~event/1st/e-main/components/one-item-slider/items/mother-5.png", alt="職場女強人", src="~assets/img/1x1_low.png")
              //.swiper-lazy-preloader.swiper-lazy-preloader-white
          li.swiper-slide
            a(href="https://www.etmall.com.tw/i/2971671", title="桂格葡萄糖胺奶粉2罐(1500g/罐)")
              img.swiper-lazy(data-src="~event/1st/e-main/components/one-item-slider/items/mother-6.png", alt="料理達人", src="~assets/img/1x1_low.png")
              //.swiper-lazy-preloader.swiper-lazy-preloader-white
          li.swiper-slide
            a(href="https://www.etmall.com.tw/i/2912428", title="東風淨汙洗衣心膠球 30顆x6包")
              img.swiper-lazy(data-src="~event/1st/e-main/components/one-item-slider/items/mother-7.png", alt="萬能媽咪", src="~assets/img/1x1_low.png")
              //.swiper-lazy-preloader.swiper-lazy-preloader-white
          li.swiper-slide
            a(href="https://www.etmall.com.tw/i/2980887", title="蘭陵絲光棉上衣送洗衣精(300g/包)")
              img.swiper-lazy(data-src="~event/1st/e-main/components/one-item-slider/items/mother-8.png", alt="氣質媽咪", src="~assets/img/1x1_low.png")
              //.swiper-lazy-preloader.swiper-lazy-preloader-white
          li.swiper-slide
            a(href="https://www.etmall.com.tw/i/2947625", title="桂格高鐵高鈣膠原蛋白")
              img.swiper-lazy(data-src="~event/1st/e-main/components/one-item-slider/items/mother-9.png", alt="新手媽咪", src="~assets/img/1x1_low.png")
              //.swiper-lazy-preloader.swiper-lazy-preloader-white

        #sliderOneItemPrev.swiper-button-white.swiper-button-prev.slider__one__item__prev
        #sliderOneItemNext.swiper-button-white.swiper-button-next.slider__one__item__next
      //#sliderOneItemPager.one__slider-pager.swiper-pagination
