section.hero__wrap
  .parallax__background
  .hero__zone
    .layout--main
      #heroBlock.hero__block
        .hero__box
          //- 標題
          h1.hero__title.hero__title--main.block--center.wow(title="愛喲我的媽")
            img(src="~event/2nd/e-main/components/hero-section/title-s2.png", alt="愛喲我的媽")
            img.title__txt.title__txt--1(src="~event/2nd/e-main/components/hero-section/title__txt--1.png")
            img.title__txt.title__txt--2(src="~event/2nd/e-main/components/hero-section/title__txt--2.png")
            img.title__txt.title__txt--3(src="~event/2nd/e-main/components/hero-section/title__txt--3.png")
            img.title__txt.title__txt--4(src="~event/2nd/e-main/components/hero-section/title__txt--4.png")
            img.title__txt.title__txt--5(src="~event/2nd/e-main/components/hero-section/title__txt--5.png")
          .title-decoration__wrap
            .title__decoration.title__decoration--top.wow
              img.decoration--flower(src="~event/2nd/e-main/components/hero-section/decoration-flower.png", alt="")
              img.decoration--momGroup(src="~event/2nd/e-main/components/hero-section/decoration-mom_group.png", alt="")




  .promo__zone
    .layout--main
      .promo__block
        //- 行銷誘因
        include /event/2nd/e-main/components/promo-event/_promo-event
  .promo__zone-branch
    .layout--main
      .promo__block
        //- 行銷誘因
        include /event/2nd/e-main/components/promo-event-branch/_promo-event-branch


        //- include /event/2nd/e-main/components/goods-slider-flip/_goods-slider-flip
        //include /event/2nd/e-main/components/goods-slider/_goods-slider

  //- include /event/2nd/e-main/components/background-decoration/_background-decoration.pug


