section.promo__group.promo__group--dynamic-slider.m-bottom--sm.promo__group--dynamic-slider.slider__style3(data-title="回饋12%")
  .promo__style3--bg
    .layout--main
      //- .promo__title.block--center.text--center
      //-   img(src="~event/3rd/e-main/components/dynamic-slider-3/title-dynamic-slider-3.png", alt="你會喜歡")

      .promo__wrap
        #sliderDynamic_3.promo__slider.swiper-container
          .swiper-wrapper

        //-#sliderDynamicPager_3.pager__style3.dynamic-slider-pager.swiper-pagination
        #sliderDynamicPrev_3.swiper-button-white.swiper-button-prev
        #sliderDynamicNext_3.swiper-button-white.swiper-button-next

//- data-dynamic-3.js在assets資料夾內、由index.pug外連過去