section.promo__group.promo__group--tab.m-bottom--xs.js-add__bg(data-title="愛之語")
  .layout--main
    ul.tab__wrap
      li.tab__zone
        ul#tabBox.tab__box
          li.tab__item(title="電機系").active
            img(src="~event/1st/e-main/components/tab-section/items/tab/tab-d1.png", alt="電機系")
            img(src="~event/1st/e-main/components/tab-section/items/tab/tab-l1.png", alt="電機系")
          li.tab__item(title="資工系")
            img.lazyload(src="~utils/img/1x1_low.png" data-src="~event/1st/e-main/components/tab-section/items/tab/tab-d2.png", alt="資工系")
            img.lazyload(src="~utils/img/1x1_low.png" data-src="~event/1st/e-main/components/tab-section/items/tab/tab-l2.png", alt="資工系")
          li.tab__item(title="資傳系")
            img.lazyload(src="~utils/img/1x1_low.png" data-src="~event/1st/e-main/components/tab-section/items/tab/tab-d3.png", alt="資傳系")
            img.lazyload(src="~utils/img/1x1_low.png" data-src="~event/1st/e-main/components/tab-section/items/tab/tab-l3.png", alt="資傳系")
          li.tab__item(title="美容系")
            img.lazyload(src="~utils/img/1x1_low.png" data-src="~event/1st/e-main/components/tab-section/items/tab/tab-d4.png", alt="美容系")
            img.lazyload(src="~utils/img/1x1_low.png" data-src="~event/1st/e-main/components/tab-section/items/tab/tab-l4.png", alt="美容系")

      li.content__zone
        ul#contentBlock.content__block
          li.content__box.clearfix.active
            .content__title
              img(src="~event/1st/e-main/components/tab-section/items/tab/tab-sub-01.png", alt="電機系")
            .content__item
              .content__tag 熬夜不孤單 肚餓不心酸
              a(href="https://www.etmall.com.tw/i/2459995", title="曾拌麵")
                img(src="https://media.etmall.com.tw/NXimg/002459/2459995/2459995-1_XL.jpg?t=17627189878", alt="曾拌麵")
              .content__text 過海製麵所 曾拌麵-胡蔴醬香
              .content__price $168
            .content__item
              .content__tag 人人都可以是食神
              a(href="https://www.etmall.com.tw/i/2516936", title="鍋寶")
                img(src="https://media.etmall.com.tw/NXimg/002516/2516936/2516936-1_XL.jpg?t=17672010074", alt="鍋寶")
              .content__text 鍋寶 316雙層防燙美食鍋(附蒸籠)-2.2L+316保溫快煮壺1.8L
              .content__price $1,380
            .content__item
              .content__tag 台積電不是夢
              a(href="https://www.etmall.com.tw/i/2443664", title="Acer宏碁 Swift 5")
                img(src="https://media.etmall.com.tw/NXimg/002443/2443664/2443664-1_XL.jpg?t=17655078720", alt="Acer宏碁 Swift 5")
              .content__text Acer宏碁 Swift 5 獨顯效能筆電
              .content__price $489

            .content__hastag
              a(href="https://www.etmall.com.tw//c3/132918") #舍監不能看之宿舍廚房開張啦&nbsp;
              a(href="https://www.etmall.com.tw//c3/132919") #做自己的聲林之王&nbsp;
              a(href="https://www.etmall.com.tw/c2/51083") #熬夜喝咖啡免出門&nbsp;
              a(href="https://www.etmall.com.tw//c3/13296") #宿舍懶人打掃法&nbsp;
          li.content__box.clearfix
            .content__title
              img.lazyload(src="~utils/img/1x1_low.png" data-src="~event/1st/e-main/components/tab-section/items/tab/tab-sub-02.png", alt="資工系")
            .content__item
              .content__tag 妹仔出現必喝長肌肌
              a(href="https://www.etmall.com.tw/i/6186857", title="乳清蛋白")
                img.lazyload(src="~utils/img/1x1_low.png" data-src="https://media.etmall.com.tw/NXimg/006186/6186857/6186857-1_XL.jpg?t=17602117936", alt="乳清蛋白")
              .content__text 【御松田】德國100%原味乳清蛋白
              .content__price $964
            .content__item
              .content__tag 單身別怕 你還有大螢幕
              a(href="https://www.etmall.com.tw/i/2246082", title="CHIMEI 奇美")
                img.lazyload(src="~utils/img/1x1_low.png" data-src="https://media.etmall.com.tw/NXimg/002246/2246082/2246082-1_XL.jpg?t=17688731584", alt="CHIMEI 奇美")
              .content__text CHIMEI 奇美 ML-32B10U 液晶螢幕
              .content__price $8,888
            .content__item
              .content__tag 吃了再看兩小時
              a(href="https://www.etmall.com.tw/i/1808164", title="船井 3C葉黃素凍")
                img.lazyload(src="~utils/img/1x1_low.png" data-src="https://media.etmall.com.tw/NXimg/001808/1808164/1808164-1_XL.jpg?t=17650197457", alt="船井 3C葉黃素凍")
              .content__text 船井 3C葉黃素凍蛋黃哥30包入晶亮組
              .content__price $489

            .content__hastag
              a(href="https://www.etmall.com.tw/c3/125366") #規格升級Coding才夠用&nbsp;
              a(href="https://www.etmall.com.tw/c1/21482") #追女神必備攝影技能點起來&nbsp;
              a(href="https://www.etmall.com.tw/XML/content/DMSetting/Final/201908/SP_1108878/w/index.html") #到哪都想打遊戲 &nbsp;
              a(href="https://www.etmall.com.tw/c1/128305") #D槽不夠用自己擴充&nbsp;
          li.content__box.clearfix
            .content__title
              img.lazyload(src="~utils/img/1x1_low.png" data-src="~event/1st/e-main/components/tab-section/items/tab/tab-sub-03.png", alt="資傳系")

            .content__item
              .content__tag 帶你去吃雞
              a(href="https://www.etmall.com.tw/i/2493319", title="ASUS ROG Phone")
                img.lazyload(src="~utils/img/1x1_low.png" data-src="https://media.etmall.com.tw/NXimg/002493/2493319/2493319_XL.jpg", alt="ASUS ROG Phone")
              .content__text ASUS ROG Phone ZS600KL 電競手機
              .content__price $????
            .content__item
              .content__tag 一盒在手 眾妹我有
              a(href="https://www.etmall.com.tw/i/2519994", title="安博盒子")
                img.lazyload(src="~utils/img/1x1_low.png" data-src="https://media.etmall.com.tw/NXimg/002519/2519994/2519994-1_XL.jpg?t=17685086329", alt="安博盒子")
              .content__text 安博盒子UPROS(X9)
              .content__price $3,980
            .content__item
              .content__tag 買兩張包你脫單~
              a(href="https://www.etmall.com.tw/i/2189791", title="金山海灣")
                img.lazyload(src="~utils/img/1x1_low.png" data-src="https://media.etmall.com.tw/NXimg/002189/2189791/2189791-1_XL.jpg?t=17645001873", alt="金山海灣")
              .content__text 金山海灣溫泉會館-單人露天風呂泡湯
              .content__price $155

            .content__hastag
              a(href="https://www.etmall.com.tw/c3/119242") #學生通勤潮流指標&nbsp;
              a(href="https://www.etmall.com.tw/c3/135892") #美顏自拍發限時動態&nbsp;
              a(href="https://www.etmall.com.tw/c3/107863") #終極筆電開學必備&nbsp;
              a(href="https://www.etmall.com.tw/c3/124394") #上課就是要打GAME&nbsp;
          li.content__box.clearfix
            .content__title
              img.lazyload(src="~utils/img/1x1_low.png" data-src="~event/1st/e-main/components/tab-section/items/tab/tab-sub-04.png", alt="美容系")
            .content__item
              .content__tag 往自己臉上貼貼金
              a(href="https://www.etmall.com.tw/i/2516948", title="DeMon")
                img.lazyload(src="~utils/img/1x1_low.png" data-src="https://media.etmall.com.tw/NXimg/002516/2516948/2516948-1_XXL.jpg?t=17695819651", alt="DeMon")
              .content__text DeMon_全效黃金蜂王面膜X2盒_情人節限定
              .content__price $1,314
            .content__item
              .content__tag 老師在講有沒有在聽
              a(href="https://www.etmall.com.tw/i/1983670", title="NARUKO牛爾")
                img.lazyload(src="~utils/img/1x1_low.png" data-src="https://media.etmall.com.tw/NXimg/001983/1983670/1983670-1_XL.jpg?t=17532503813", alt="NARUKO牛爾")
              .content__text NARUKO牛爾
              .content__price $429
            .content__item
              .content__tag 擠一擠該有的還是要有
              a(href="https://www.etmall.com.tw/i/1898269", title="思薇爾")
                img.lazyload(src="~utils/img/1x1_low.png" data-src="https://media.etmall.com.tw/NXimg/001898/1898269/1898269-1_XL.jpg?t=16693323139", alt="思薇爾")
              .content__text 思薇爾輕Q彈系列A-E罩蕾絲包覆水袋內衣
              .content__price $443

            .content__hastag
              a(href="https://www.etmall.com.tw/XML/content/DMSetting/Final/202002/SP_1114584/w/index.html") #玄奘大學孫悟空系&nbsp;
              a(href="https://www.etmall.com.tw/c3/137395") #美顏濾鏡零死角&nbsp;
              a(href="https://www.etmall.com.tw/bc3/122839") #呵護妹妹私密保養&nbsp;
              a(href="https://www.etmall.com.tw/c3/125140") #專櫃明星商品&nbsp;
      li.tab__zone.tab__wrap-two
        ul#tabBox_group2.tab__box
          li.tab__item_group2(title="營養系").active
            img(src="~event/1st/e-main/components/tab-section/items/tab/tab-d5.png", alt="營養系")
            img(src="~event/1st/e-main/components/tab-section/items/tab/tab-l5.png", alt="營養系")
          li.tab__item_group2(title="流行系")
            img.lazyload(src="~utils/img/1x1_low.png" data-src="~event/1st/e-main/components/tab-section/items/tab/tab-d6.png", alt="流行系")
            img.lazyload(src="~utils/img/1x1_low.png" data-src="~event/1st/e-main/components/tab-section/items/tab/tab-l6.png", alt="流行系")
          li.tab__item_group2(title="觀光系")
            img.lazyload(src="~utils/img/1x1_low.png" data-src="~event/1st/e-main/components/tab-section/items/tab/tab-d7.png", alt="觀光系")
            img.lazyload(src="~utils/img/1x1_low.png" data-src="~event/1st/e-main/components/tab-section/items/tab/tab-l7.png", alt="觀光系")
          li.tab__item_group2(title="家政系")
            img.lazyload(src="~utils/img/1x1_low.png" data-src="~event/1st/e-main/components/tab-section/items/tab/tab-d8.png", alt="家政系")
            img.lazyload(src="~utils/img/1x1_low.png" data-src="~event/1st/e-main/components/tab-section/items/tab/tab-l8.png", alt="家政系")

      li.content__zone
        ul#contentBlock_group2.content__block
          li.content__box_group2.clearfix.active
            .content__title
              img(src="~event/1st/e-main/components/tab-section/items/tab/tab-sub-05.png", alt="營養系")
            .content__item
              .content__tag 孝敬爸媽跑跳碰
              a(href="https://www.etmall.com.tw/i/2509901", title="飛鴕 鴕鳥精")
                img(src="https://media.etmall.com.tw/NXimg/002509/2509901/2509901-1_XL.jpg?t=17660111141", alt="飛鴕 鴕鳥精")
              .content__text 飛鴕 鴕鳥精膠囊(30膠囊/盒)x2
              .content__price $1,480
            .content__item
              .content__tag 再忙也要跟你喝杯茶
              a(href="https://www.etmall.com.tw/i/2295497", title="御茶園")
                img(src="https://media.etmall.com.tw/NXimg/002295/2295497/2295497-1_XL.jpg?t=17498279429", alt="御茶園")
              .content__text 御茶園台灣四季春-無糖 550ml(24入)
              .content__price $399
            .content__item
              .content__tag 一卡一步都要計較
              a(href="https://www.etmall.com.tw/i/2424870", title="Apple iPhone 11 Pro Max")
                img(src="https://media.etmall.com.tw/NXimg/002424/2424870/2424870-1_XL.jpg?t=17599414232", alt="Apple iPhone 11 Pro Max")
              .content__text Apple iPhone 11 Pro Max 256G
              .content__price $41,999

            .content__hastag
              a(href="https://www.etmall.com.tw/np/89513") #營養補給不手軟&nbsp;
              a(href="https://www.etmall.com.tw/c2/29298") #搶孅順暢不卡卡&nbsp;
              a(href="https://www.etmall.com.tw/c2/29573") #晶亮有神不能少&nbsp;
              a(href="https://www.etmall.com.tw/c2/29065") #Q彈美肌不間斷&nbsp;
          li.content__box_group2.clearfix
            .content__title
              img.lazyload(src="~utils/img/1x1_low.png" data-src="~event/1st/e-main/components/tab-section/items/tab/tab-sub-06.png", alt="流行系")

            .content__item
              .content__tag 聯誼耍心機
              a(href="https://www.etmall.com.tw/i/2343641", title="COACH/MK")
                img.lazyload(src="~utils/img/1x1_low.png" data-src="https://media.etmall.com.tw/NXimg/002343/2343641/2343641-1_XL.jpg?t=17685069978", alt="COACH/MK")
              .content__text COACH/MK 斜背包/二用包
              .content__price $2,912
            .content__item
              .content__tag 姊就是帥 哥就是潮
              a(href="https://www.etmall.com.tw/i/2288802", title="AirPods")
                img.lazyload(src="~utils/img/1x1_low.png" data-src="https://media.etmall.com.tw/NXimg/002288/2288802/2288802-1_XL.jpg?t=17493979810", alt="AirPods")
              .content__text AirPods 無線藍牙耳機_MV7N2TA/A
              .content__price $4,288
            .content__item
              .content__tag 沒去過不要說你流行
              a(href="https://www.etmall.com.tw/i/2529714", title="日本東京")
                img.lazyload(src="~utils/img/1x1_low.png" data-src="https://media.etmall.com.tw/NXimg/002529/2529714/2529714-1_XL.jpg?t=17679516038", alt="日本東京")
              .content__text 日本東京酷航空小岩藍天之心自由行5日
              .content__price $10,999

            .content__hastag
              a(href="https://www.etmall.com.tw/np/67697") #我的奶奶94時尚&nbsp;
              a(href="https://www.etmall.com.tw/c3/137086") #我有多色 你知道嗎!? &nbsp;
              a(href="https://www.etmall.com.tw/XML/content/DMSetting/Final/202002/SP_1114453/w/index.html") #不怕硬起來我有踢不爛&nbsp;
              a(href="https://www.etmall.com.tw/c3/134605") #你背包系?懂背懂背&nbsp;
          li.content__box_group2.clearfix
            .content__title
              img.lazyload(src="~utils/img/1x1_low.png" data-src="~event/1st/e-main/components/tab-section/items/tab/tab-sub-07.png", alt="觀光系")
            .content__item
              .content__tag 一個人的畢業旅行
              a(href="https://www.etmall.com.tw/i/2515841", title="麗星郵輪")
                img.lazyload(src="~utils/img/1x1_low.png" data-src="https://media.etmall.com.tw/NXimg/002515/2515841/2515841_XL.jpg", alt="麗星郵輪")
              .content__text 麗星郵輪(寶瓶星號)那霸+宮古島4日
              .content__price $????
            .content__item
              .content__tag 美好回憶hold的住
              a(href="https://www.etmall.com.tw/i/2359782", title="SanDisk")
                img.lazyload(src="~utils/img/1x1_low.png" data-src="https://media.etmall.com.tw/NXimg/002359/2359782/2359782-1_XL.jpg?t=17688731715", alt="SanDisk")
              .content__text SanDisk Ultra microSDXC 200GB 記憶卡
              .content__price $799
            .content__item
              .content__tag 他不重他是我兄弟
              a(href="https://www.etmall.com.tw/i/2400078", title="零負重包")
                img.lazyload(src="~utils/img/1x1_low.png" data-src="https://media.etmall.com.tw/NXimg/002400/2400078/2400078-1_XL.jpg?t=17651902761", alt="零負重包")
              .content__text FREEZONE 零負重包
              .content__price $1299

            .content__hastag
              a(href="https://www.etmall.com.tw/np/89809") #連假就是要出遊&nbsp;
              a(href="https://www.etmall.com.tw/np/89807") #日元韓幣換太少了啦&nbsp;
              a(href="https://www.etmall.com.tw/np/89805") #沒住過大紅花別說玩過馬來西亞&nbsp;
              a(href="https://www.etmall.com.tw/np/89804") #台灣也能蓋出像迪士尼般的城堡飯店&nbsp;
          li.content__box_group2.clearfix
            .content__title
              img.lazyload(src="~utils/img/1x1_low.png" data-src="~event/1st/e-main/components/tab-section/items/tab/tab-sub-08.png", alt="家政系")
            .content__item
              .content__tag 拒當懶女人
              a(href="https://www.etmall.com.tw/i/2476512", title="KOSE高絲")
                img.lazyload(src="~utils/img/1x1_low.png" data-src="https://media.etmall.com.tw/NXimg/002476/2476512/2476512-1_XL.jpg?t=17688576176", alt="KOSE高絲")
              .content__text KOSE高絲 藥用雪肌精360ml
              .content__price $990
            .content__item
              .content__tag 為歐巴泡一壺
              a(href="https://www.etmall.com.tw/i/2211566", title="Bialetti Brikka摩卡壺 ")
                img.lazyload(src="~utils/img/1x1_low.png" data-src="https://media.etmall.com.tw/NXimg/002211/2211566/2211566-1_XL.jpg?t=17432685060", alt="Bialetti Brikka摩卡壺")
              .content__text Bialetti Brikka 新款加壓摩卡壺 4人份
              .content__price $1,866
            .content__item
              .content__tag 吸力強到可拔罐
              a(href="https://www.etmall.com.tw/i/2496230", title="禾聯 無線手持旋風吸塵器")
                img.lazyload(src="~utils/img/1x1_low.png" data-src="https://media.etmall.com.tw/NXimg/002496/2496230/2496230-1_XL.jpg?t=17646289515", alt="禾聯 無線手持旋風吸塵器")
              .content__text 禾聯 無線手持旋風吸塵器
              .content__price $4,290

            .content__hastag
              a(href="https://www.etmall.com.tw/c1/16488") #我把空間擴大了&nbsp;
              a(href="https://www.etmall.com.tw/c2/26739") #洗澡時少不了我&nbsp;
              a(href="https://www.etmall.com.tw/c3/137766") #蕎拉燕麥&nbsp;
              a(href="https://www.etmall.com.tw/c3/135492") #新年限定贈燕麥&nbsp;