doctype html
html(lang='zh-Hant-TW')
  head
    //- facebook分享script
    script
      | var fbhtml_url = window.location.toString();
    include utils/pug/_total-head

  body
    //- main section 主視覺區
    include pages/index/_index.pug
