#dynamicClock.dynamic__clock.active
  .clock__time
    span#clockHour.clock__hour
    span :
    span#clockMin.clock__min
  .clock__hr
  .clock__date
    .date__wrap
      span#clockMonth.clock__month
      span 月
      span#clockDay.clock__day
      span 日
    .week__wrap
      #clockWeek.clock__week
