//- TODO: 給別的component引入時不需要前兩行要切換
//- section.promo__group.promo__group--bn-special.m-bottom--md
//-   .layout--main
//- var bankLink = {etmall: "https://www.etmall.com.tw/XML/content/DMSetting/Final/201910/SP_1107838/w/index.html", umall: "https://www.u-mall.com.tw/XML/content/DMSetting/Final/201910/SP_1104317/w/index.html"}
//- var bankInfo = isU ? bankLink.umall : bankLink.etmall
.promo__slider.promo__slider-1
  #sliderPromo_1.swiper-container
    ul.swiper-wrapper
      li.swiper-slide
        a(href="https://www.u-mall.com.tw/Activity/HourSale", title="限時瘋搶")
          img(src="~event/2nd/u-main/components/promo-slider/items/promo-slider-1.png", alt="限時瘋搶")
      li.swiper-slide
        a(href="https://www.u-mall.com.tw/XML/content/DMSetting/Final/202012/SP_1106091/w/index.html", title="21間銀行 最高回饋 26%")
          img(src="~event/2nd/u-main/components/promo-slider/items/promo-slider-2.png", alt="21間銀行 最高回饋 26%")
      li.swiper-slide
        a(href="https://www.u-mall.com.tw/XML/content/DMSetting/Final/202012/SP_1106091/w/index.html", title="凱基_滿$1,000送$250刷卡金")
          img(src="~event/2nd/u-main/components/promo-slider/items/promo-slider-3.png", alt="凱基_滿$1,000送$250刷卡金")



    //#sliderSpecialPager.swiper-pagination-custom.swiper-pagination
  #sliderSpecialPrev.swiper-button-white.swiper-button-prev
  #sliderSpecialNext.swiper-button-white.swiper-button-next