//- parallax 結構
section#bgDecoration.deoration--background.decoration__wrap(style="height: 100vh;")
  .decoration__item(data-depth="0.15")
    img(src="~event/2nd/u-main/components/background-decoration/background-decoration-1.png", alt="")
  .decoration__item(data-depth="-0.5")
    img(src="~event/2nd/u-main/components/background-decoration/background-decoration-2.png", alt="")