.bg-web
  +pos-set(absolute, zero, 0%, 0%)
  +bg-set(url(event/2nd/e-main/pages/index/bg-web-01.jpg), 260%)
  overflow: hidden
  &--top
    +pos-set(absolute, base, 0%, 0%)
    +bg-set(url(event/2nd/e-main/pages/index/bg-web-05.png), 260%)
  &--main
    +pos-set(absolute, second, 56vw, 50%)
    +bg-set(url(event/2nd/e-main/pages/index/bg-web-main.png), 75%)
    width: 100%
    height: 100vh
    transform: translateX(-50%)
    // .js-loading &
    .js-loading &
      animation: slideInUp 1.6s ease-in 1
  &--bottom
    +pos-set(fixed, under, 0%, 0%)
    +bg-set(url(event/2nd/e-main/pages/index/bg-web-02.png), 260%)
+breakpoint-min($min-width-xl)
  .bg-web
    +bg-set(url(event/2nd/e-main/pages/index/bg-web-01.jpg), auto)
    &--top
      background-size: auto
    &--bottom
      background-size: auto
    &--main
      top: 530px
      background-size: 750px
      

  // // ==========================================================================
// // main
// // ==========================================================================
.hero
  +pos-set(relative, zero)
  // +bg-set(url(event/2nd/e-main/components/hero-section/bg-hero.png), 100%)
  overflow: hidden

  .hero__wrap
    +aspect-ratio(960, 1016)

  // .hero__zone

  .hero__title
    z-index: map-get($zindex, second)
    text-align: center
    animation: slideInDown 1s ease-in-out 1
    &--main
      +pos-set(relative)
      margin: 1% 0 0 5%
      width: 95%
      +breakpoint-min($min-width-xl)
        margin-top: 0
        width: auto
        // animation: stamp-swing 1s both
    &--decor
      .decor__item
        &:first-child
          +pos-set(absolute, second, 15%, 29%)
          width: 4%
          animation: showUp 2.2s linear 1, flash 3s 2.3s infinite
        &:nth-child(2)
          +pos-set(absolute, second, 33.5%, 12.2%)
          width: 5.7%
          animation: showUp 2.2s linear 1, flash 1.9s .8s infinite
        &:last-child
          +pos-set(absolute, second, 26%)
          right: 10%
          width: 7%
          animation: showUp 2.2s linear 1, flash 2.3s 1.1s infinite


@keyframes flash
  0%, 50%, to
    opacity: 1
  25%, 75%
    opacity: 0

@keyframes rotate
  0%
    transform: rotate(0)
  to
    transform: rotate(360deg)

@keyframes slideInDown
  0%
    transform: translate3d(0, -100%, 0)
    visibility: visible
  to
    transform: translateZ(0)

@keyframes slideInLeft
  0%
    transform: translate3d(-20%, 0, 0)
    opacity: .4
    // visibility: visible
  to
    transform: translateZ(0)
    opacity: 1

@keyframes slideInUp
  0%
    transform: translate3d(-50%, 15%, 0) scale(.7)
    opacity: .4
    // visibility: visible
  to
    transform: translate3d(-50%, 0%, 0) scale(1)
    opacity: 1

@keyframes showUp
  0%, 80%
    opacity: 0
  100%
    opacity: 1
