-
  var heroTitleE = [
    {
      link: "#note",
      imgSrc: "event/2nd/e-main/components/hero-section/sub-title-1.png",
      alt: "全站滿$38,000贈1,800禮物卡",
    },
    {
      link: "",
      imgSrc: "event/2nd/e-main/components/hero-section/sub-title-2.png",
      alt: "挑戰任務領5,800東森幣",
    },
  ]

.bg-web.full-parent
  //- .bg-web--second
  //- .bg-web--third.full-parent
  .bg-web--top.full-parent
  .bg-web--main
  include /utils/bg-decoration-instance/css-flower/_css-flower

.bg-web--bottom.full-parent


section.hero

  //- .decor--top.decor--hero
  .layout--main
    .hero__wrap
      .hero__zone
        .hero__title.hero__title--main
            img(src="event/2nd/e-main/components/hero-section/title-hero-section.png", alt="")
        .hero__title--decor
          .decor__item
            img(src="event/2nd/e-main/components/hero-section/top-bright-1.png", alt="")
          .decor__item
            img(src="event/2nd/e-main/components/hero-section/top-bright-2.png", alt="")
          .decor__item
            img(src="event/2nd/e-main/components/hero-section/top-bright-3.png", alt="")

//- 前景滑鼠parallax相關
include /utils/bg-decoration-instance/parallax/_parallax
