//- 打開u-mall選項會自動轉換成U的logo和連結(預設etmall)
//- - var isU = true


main#spWrap.sp__wrap.sp__wrap--e
  include /layout/header/_header

  //- hero section
  //- ===========================
  include /event/2nd/e-sp/components/hero-section/_hero-section

  //- other components
  //- ===========================
  include /event/2nd/e-sp/components/scroll-x-section/_scroll-x-section
  include /event/2nd/e-sp/components/tab-section/_tab-section

//- script區
include /utils/pug/_total-script
//- script#dataCountdown(src="data-promo.js")
//- script#dataCountdown(src="data-countdown.js")

