.slider__collect
  //- 輪播1
  //- 輪播2
  #sliderCollectGoods.swiper-container
    ul.swiper-wrapper.collect__goods
      li.swiper-slide.collect__item
        a(href="https://www.etmall.com.tw/p/104693", title="歐舒丹")
          img(class="swiper-lazy" data-src="~event/2nd/e-main/components/slider-section-1-ig/items/bg__slider__good-1.jpg", alt="歐舒丹")
          .swiper-lazy-paloader
      //-li.swiper-slide.collect__item
      //-  a(href="https://www.etmall.com.tw/i/2680136", title="白蘭氏")
      //-    img(class="swiper-lazy" data-src="~event/2nd/e-main/components/slider-section-1-ig/items/bg__slider__good-2.jpg", alt="白蘭氏")
      //-    .swiper-lazy-paloader
      li.swiper-slide.collect__item
        a(href="https://www.etmall.com.tw/i/2671827", title="熊大掃地機")
          img(class="swiper-lazy" data-src="~event/2nd/e-main/components/slider-section-1-ig/items/bg__slider__good-3.jpg", alt="熊大掃地機")
          .swiper-lazy-paloader
      li.swiper-slide.collect__item
        a(href="https://www.etmall.com.tw/i/2660693", title="行動電源")
          img(class="swiper-lazy" data-src="~event/2nd/e-main/components/slider-section-1-ig/items/bg__slider__good-4.jpg", alt="行動電源")
          .swiper-lazy-paloader
      li.swiper-slide.collect__item
        a(href="https://www.etmall.com.tw/i/2614917", title="Canon QX10")
          img(class="swiper-lazy" data-src="~event/2nd/e-main/components/slider-section-1-ig/items/bg__slider__good-5.jpg", alt="Canon QX10")
          .swiper-lazy-paloader
      li.swiper-slide.collect__item
        a(href="https://www.etmall.com.tw/i/2671311", title="感應給皂機")
          img(class="swiper-lazy" data-src="~event/2nd/e-main/components/slider-section-1-ig/items/bg__slider__good-6.jpg", alt="感應給皂機")
          .swiper-lazy-paloader
      li.swiper-slide.collect__item
        a(href="https://www.etmall.com.tw/c3/119761", title="Timberland")
          img(class="swiper-lazy" data-src="~event/2nd/e-main/components/slider-section-1-ig/items/bg__slider__good-7.jpg", alt="Timberland")
          .swiper-lazy-paloader
      li.swiper-slide.collect__item
        a(href="https://www.etmall.com.tw/c3/127850", title="星夢郵輪")
          img(class="swiper-lazy" data-src="~event/2nd/e-main/components/slider-section-1-ig/items/bg__slider__good-8.jpg", alt="星夢郵輪")
          .swiper-lazy-paloader

    #sliderCollectGoodsPager.swiper-pagination-custom.swiper-pagination
  ul.slider__ig__hastag
    li.hastag__branch
      a(href="https://www.etmall.com.tw/p/104693") #美妝
    li.hastag__branch
      a(href="https://www.etmall.com.tw/gp/104442") #保健
    li.hastag__branch
      a(href="https://www.etmall.com.tw/c3/132696") #熊大
    li.hastag__branch
      a(href="https://www.etmall.com.tw/c3/108048") #華碩
    li.hastag__branch
      a(href="https://www.etmall.com.tw/c3/140381") #美拍
    li.hastag__branch
      a(href="https://www.etmall.com.tw/bs/140133") #防疫
    li.hastag__branch
      a(href="https://www.etmall.com.tw/XML/content/DMSetting/Final/202007/SP_1115753/w/index.html") #時尚
    li.hastag__branch
      a(href="https://www.etmall.com.tw/c2/105506") #離島
  .btn__ig__click__more
    a(href="https://instagram.com/etmall_shopping?igshid=d8h80uaqmhdl")
      img(src="~event/2nd/e-main/components/slider-section-1-ig/ig__click__more.png")