@charset "UTF-8";
/* style.css */
/* reset */
/* ======================================== */
* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0; }
  *:before, *:after {
    -webkit-box-sizing: border-box;
    box-sizing: border-box; }

a {
  display: block;
  text-decoration: none; }

ul {
  list-style: none; }

img {
  width: 100%;
  border: 0;
  vertical-align: middle; }

button {
  border: none;
  background-color: transparent;
  font-family: inherit;
  padding: 0;
  cursor: pointer; }
  button:focus {
    outline: 0; }

article, main, nav, section {
  display: block; }

body {
  margin: 0;
  font-family: "Microsoft JhengHei", PingFangTC-regular, Roboto, "LiHei Pro", "Source Han Sans TC", -apple-system, BlinkMacSystemFont, "Segoe UI", Arial, sans-serif; }

.clearfix::after {
  content: '';
  display: block;
  clear: both; }

.layout--main {
  position: relative;
  z-index: 0;
  max-width: 960px;
  margin-left: auto;
  margin-right: auto; }

/*******  blog 列表 */
.top__banner {
  background-image: url("top__banner-bg-m.jpg");
  background-size: 100% auto;
  height: 27vw;
  background-repeat: no-repeat;
  background-position: top center;
  margin: 0 auto;
  text-align: center; }
  .top__banner .main__title {
    font-size: 8.5vw;
    padding-top: 7vw;
    letter-spacing: 2vw;
    line-height: 1.2; }
  .top__banner .sub__title {
    font-size: 4vw;
    padding-top: 0px;
    letter-spacing: 2px; }

.blog__wrap__list {
  max-width: 100%;
  width: 100%;
  margin: 10px auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap; }
  @media screen and (min-width: 768px) {
    .blog__wrap__list {
      margin: 20px auto; } }

.blog__wrap {
  position: relative;
  width: 90%;
  margin: 2% 4%;
  -webkit-box-flex: 1;
  -ms-flex: 1 0 90%;
  flex: 1 0 90%;
  border-radius: 4%;
  overflow: hidden;
  /*height: 23vw; */
  /*overflow: hidden; */ }
  .blog__wrap .blog__text, .blog__wrap button {
    position: absolute;
    z-index: 2;
    color: #fff; }
  .blog__wrap .blog__text {
    height: 120vw;
    overflow: hidden; }
  .blog__wrap .blog__title {
    font-size: 7vw;
    padding: 3% 5% 0; }
  .blog__wrap .blog__content {
    font-size: 4.5vw;
    padding: 2% 5% 0; }
  .blog__wrap button {
    bottom: 3%;
    right: 6%;
    background: transparent;
    border: 1px solid #fff;
    border-radius: 20px;
    padding: 4px 12px;
    cursor: pointer;
    -webkit-transition-duration: .5s;
    -o-transition-duration: .5s;
    transition-duration: .5s;
    color: #fff;
    font-size: 5vw; }
    .blog__wrap button:active, .blog__wrap button:hover {
      background-color: #fff;
      border-color: #fff;
      color: #000; }
  .blog__wrap img {
    -webkit-transition: .5s;
    -o-transition: .5s;
    transition: .5s; }
  .blog__wrap:hover img {
    -webkit-transform: scale(1.2);
    -ms-transform: scale(1.2);
    transform: scale(1.2); }

.image__cover {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.8)), to(rgba(0, 0, 0, 0.3)));
  background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.3));
  background: -o-linear-gradient(top, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.3));
  background: linear-gradient(0.5turn, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.3));
  width: 100%;
  height: 100%; }

/* main */
@media screen and (min-width: 768px) {
  /* blog 列表 */
  .blog__wrap {
    width: 45%;
    margin: 2%;
    -webkit-box-flex: 1;
    -ms-flex: 1 0 45%;
    flex: 1 0 45%; }
    .blog__wrap .blog__text {
      height: 60vw; }
    .blog__wrap .blog__title {
      font-size: 4vw; }
    .blog__wrap .blog__content {
      font-size: 2.5vw; }
    .blog__wrap button {
      font-size: 15px; } }

@media screen and (min-width: 960px) {
  .top__banner {
    background-image: url("top__banner-bg.jpg");
    background-size: 2560px auto;
    height: 250px; }
    .top__banner .main__title {
      font-size: 75px;
      padding-top: 55px;
      letter-spacing: 5px;
      line-height: 1.5; }
    .top__banner .sub__title {
      font-size: 28px;
      padding-top: 0px;
      letter-spacing: 2px; }
  /* blog 列表 */
  .blog__wrap__list {
    max-width: 1260px; }
  .blog__wrap {
    width: 18%;
    margin: 0 1% 1%;
    -webkit-box-flex: 1;
    -ms-flex: 1 0 18%;
    flex: 1 0 18%; }
    .blog__wrap .blog__text {
      height: 292px; }
    .blog__wrap .blog__title {
      font-size: 18px; }
    .blog__wrap .blog__content {
      font-size: 14px;
      top: 21%;
      padding: 0 3%; }
    .blog__wrap button {
      /*padding: 2% 8%; */
      font-size: 15px; }
      .blog__wrap button a {
        font-size: 14px; } }

/*******  blog 內文 */
/* 每個區塊外層 */
/* 連結樣式 */
/* 連結樣式 */
/* 大網最大寬-1260/960 */
.article .title {
  font-size: 7vw; }

.article .content {
  font-size: 0.875rem; }

.tips {
  font-size: 0.875rem; }

@media screen and (min-width: 426px) {
  .article .title {
    font-size: 28px; }
  .article .content {
    font-size: 1rem; }
  .tips {
    font-size: 1rem; } }

@media screen and (min-width: 426px) and (min-width: 768px) {
  .article .title {
    font-size: 36px; }
  .article .content {
    font-size: 18px; }
  .tips {
    font-size: 18px; } }

@media screen and (min-width: 426px) and (min-width: 960px) {
  .article .title {
    font-size: 48px; }
  .article .content {
    font-size: 18px; }
  .tips {
    font-size: 18px; } }

/* 主圖片 */
.blog__item__theme-top {
  position: relative;
  background-image: url("bg-blog__item__theme-top.jpg");
  background-position: top center;
  background-repeat: no-repeat;
  background-size: 100% auto;
  background-attachment: fixed;
  max-height: 1000px;
  max-width: 2560px;
  margin: 0 auto;
  text-align: center;
  color: #fff;
  height: 55vw; }
  .blog__item__theme-top .blog__main__content {
    padding-top: 3vw;
    position: relative;
    z-index: 2;
    /*line-height: 1.5; */ }
    .blog__item__theme-top .blog__main__content h1 {
      font-size: 7vw;
      line-height: 1.2;
      padding: 0 5% 3%;
      height: 21vw;
      overflow: hidden; }
    .blog__item__theme-top .blog__main__content p {
      font-size: 4vw;
      padding: 0 5%; }
  .blog__item__theme-top:before {
    display: block;
    content: '';
    clear: both;
    z-index: 1;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.3);
    width: 100%;
    top: 0;
    left: 0;
    height: 55vw;
    max-height: 1000px; }
  @media screen and (min-width: 960px) {
    .blog__item__theme-top .blog__main__content {
      padding: 17vw 5% 0; }
      .blog__item__theme-top .blog__main__content h1 {
        line-height: 1.2;
        font-weight: 700;
        font-size: 48px;
        padding: 0;
        height: auto; }
      .blog__item__theme-top .blog__main__content p {
        font-size: 24px;
        padding: 0 5%; } }

/* 下拉按鈕 */
.scroll__down {
  position: relative;
  z-index: 2;
  border-radius: 50%;
  background-color: #fbc842;
  width: 40px;
  height: 40px;
  border: 0;
  cursor: pointer;
  margin-top: 4vw;
  -webkit-transition: .5s;
  -o-transition: .5s;
  transition: .5s; }
  .scroll__down:before, .scroll__down:after {
    display: block;
    content: '';
    clear: both;
    z-index: 100;
    position: absolute;
    top: 13px;
    height: 14px;
    width: 3px;
    background-color: #fff;
    -webkit-transform-origin: center bottom;
    -ms-transform-origin: center bottom;
    transform-origin: center bottom;
    cursor: pointer;
    -webkit-transition-duration: .5s;
    -o-transition-duration: .5s;
    transition-duration: .5s; }
  .scroll__down:before {
    -webkit-transform: rotate(44deg);
    -ms-transform: rotate(44deg);
    transform: rotate(44deg);
    right: 19px; }
  .scroll__down:after {
    -webkit-transform: rotate(-44deg);
    -ms-transform: rotate(-44deg);
    transform: rotate(-44deg);
    right: 18px; }
  .scroll__down:hover {
    -webkit-transform: scale(1.2);
    -ms-transform: scale(1.2);
    transform: scale(1.2); }
  @media screen and (min-width: 960px) {
    .scroll__down {
      width: 80px;
      height: 80px;
      margin-top: 35px; }
      .scroll__down:before, .scroll__down:after {
        top: 22px;
        height: 34px;
        width: 5px; }
      .scroll__down:before {
        right: 39px; }
      .scroll__down:after {
        right: 36px; } }

/* 左圖右文 */
.blog__item__theme-imageLeft {
  background-color: #f4f4f4;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 5%; }
  .blog__item__theme-imageLeft img {
    width: 100%;
    height: auto;
    margin-bottom: 5%; }
  .blog__item__theme-imageLeft .article {
    /*font-weight: 700; */ }
    .blog__item__theme-imageLeft .article .title {
      line-height: 1.2;
      font-weight: 700;
      margin-bottom: 4vw; }
    .blog__item__theme-imageLeft .article .content {
      letter-spacing: 1px;
      line-height: 1.5;
      text-align: left;
      width: auto; }
      .blog__item__theme-imageLeft .article .content a {
        display: inline;
        color: #c62928;
        text-decoration: underline;
        font-weight: 700; }
  @media screen and (min-width: 960px) {
    .blog__item__theme-imageLeft {
      padding: 50px 0; }
      .blog__item__theme-imageLeft .wrap__width--max {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        max-width: 1280px;
        margin: 0 auto; }
      .blog__item__theme-imageLeft img {
        width: 47%;
        height: auto;
        margin: 0 2% auto auto; }
      .blog__item__theme-imageLeft .article {
        width: 51%; }
        .blog__item__theme-imageLeft .article .title {
          line-height: 1.2;
          font-weight: 700;
          margin-bottom: 30px; }
        .blog__item__theme-imageLeft .article .content {
          letter-spacing: 1px;
          line-height: 1.5;
          text-align: left;
          width: auto; } }

/* 右圖左文 */
.blog__item__theme-imageRight {
  background-color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 5%; }
  .blog__item__theme-imageRight .article .content {
    letter-spacing: 1px;
    line-height: 1.5;
    text-align: left;
    width: auto;
    margin-bottom: 5%; }
  .blog__item__theme-imageRight .article .title {
    line-height: 1.2;
    font-weight: 700;
    margin-bottom: 4vw; }
  .blog__item__theme-imageRight .article .content a {
    display: inline;
    color: #c62928;
    text-decoration: underline;
    font-weight: 700; }
  .blog__item__theme-imageRight img {
    width: 100%;
    height: auto; }
  @media screen and (min-width: 960px) {
    .blog__item__theme-imageRight {
      padding: 50px 0; }
      .blog__item__theme-imageRight .wrap__width--max {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        max-width: 1280px;
        margin: 0 auto; }
      .blog__item__theme-imageRight .article {
        width: 51%; }
        .blog__item__theme-imageRight .article .title {
          line-height: 1.2;
          font-weight: 700;
          margin-bottom: 30px; }
        .blog__item__theme-imageRight .article .content {
          letter-spacing: 1px;
          line-height: 1.5;
          text-align: left;
          margin-bottom: 0; }
      .blog__item__theme-imageRight img {
        width: 47%;
        height: auto;
        margin: 0 auto auto 2%; } }

/* 文字於圖上 */
.blog__item__theme-textOnImage {
  position: relative;
  background-image: url("bg-blog__item__theme-textOnImage.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: scroll;
  max-height: 1000px;
  max-width: 2560px;
  margin: 0 auto;
  text-align: center;
  color: #fff;
  top: 0;
  overflow: hidden; }
  .blog__item__theme-textOnImage .content {
    padding-top: 3vw;
    position: relative;
    z-index: 2; }
  .blog__item__theme-textOnImage .textOnImage__mask {
    display: block;
    content: '';
    clear: both;
    z-index: 1;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.7);
    width: 100%;
    top: 0;
    left: 0;
    overflow: hidden; }
  .blog__item__theme-textOnImage .article {
    padding-top: 4vw;
    padding-bottom: 2vw; }
    .blog__item__theme-textOnImage .article .title {
      position: relative;
      z-index: 2;
      line-height: 1.2;
      font-weight: 700;
      padding: 0 5% 3%; }
    .blog__item__theme-textOnImage .article .content {
      letter-spacing: 1px;
      line-height: 1.5;
      text-align: center;
      padding: 0 5%; }
      .blog__item__theme-textOnImage .article .content a {
        display: inline; }
  @media screen and (min-width: 960px) {
    .blog__item__theme-textOnImage .content {
      padding-top: 30px; }
    .blog__item__theme-textOnImage .article {
      padding-top: 20px;
      padding-bottom: 20px;
      max-width: 960px;
      margin: 0 auto; }
      .blog__item__theme-textOnImage .article .title {
        line-height: 1.2;
        font-weight: 700;
        padding: 0 5% 3%;
        height: auto; }
      .blog__item__theme-textOnImage .article .content {
        letter-spacing: 1px;
        line-height: 1.5;
        text-align: center;
        padding: 0 5%; } }

/* 三張圖 */
.blog__item__theme-threeColumn {
  background-color: #fbc842;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 5%; }
  .blog__item__theme-threeColumn li {
    padding-bottom: 5vw; }
  .blog__item__theme-threeColumn .title {
    text-align: center;
    line-height: 1.2;
    font-weight: 700;
    margin: 2vw auto; }
  .blog__item__theme-threeColumn .content {
    letter-spacing: 1px;
    line-height: 1.5;
    text-align: center; }
  @media screen and (min-width: 960px) {
    .blog__item__theme-threeColumn {
      padding: 50px 0; }
      .blog__item__theme-threeColumn .wrap__width--max {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        max-width: 1280px;
        margin: 0 auto; }
      .blog__item__theme-threeColumn ul.wrap__width--max {
        -webkit-box-align: start;
        -ms-flex-align: start;
        align-items: flex-start; }
      .blog__item__theme-threeColumn li {
        padding-bottom: 0;
        width: 29%;
        -webkit-box-flex: 1;
        -ms-flex: 1 0 29%;
        flex: 1 0 29%;
        margin: 0 .5%; }
      .blog__item__theme-threeColumn .title {
        font-size: 24px;
        margin: 10px auto; }
      .blog__item__theme-threeColumn .content {
        letter-spacing: 1px;
        line-height: 1.5;
        text-align: center; } }

/* 先文字在圖片 */
.blog__item__theme-textUnderImage {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 5%; }
  .blog__item__theme-textUnderImage .title {
    text-align: center;
    line-height: 1.2;
    font-weight: 700;
    margin: 2vw auto 4vw auto; }
  .blog__item__theme-textUnderImage .content {
    letter-spacing: 1px;
    line-height: 1.5;
    text-align: center;
    margin-bottom: 1vw; }
  @media screen and (min-width: 960px) {
    .blog__item__theme-textUnderImage {
      padding: 50px 0; }
      .blog__item__theme-textUnderImage .wrap__width--max {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        max-width: 960px;
        margin: 0 auto; }
      .blog__item__theme-textUnderImage .wrap__width--max {
        -ms-flex-wrap: wrap;
        flex-wrap: wrap; }
      .blog__item__theme-textUnderImage .article {
        width: 100%; }
      .blog__item__theme-textUnderImage .title {
        line-height: 1.2;
        font-weight: 700;
        margin: 10px auto 15px auto; }
      .blog__item__theme-textUnderImage .content {
        letter-spacing: 1px;
        line-height: 1.5;
        text-align: center;
        margin-bottom: 15px; } }

/* 兩圖切換 */
.blog__item__theme-tabImage {
  background-color: #fbc842;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 5%; }
  .blog__item__theme-tabImage .tab-group {
    width: 100%;
    list-style: none;
    padding: 0;
    margin: 0 0 10px 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
    .blog__item__theme-tabImage .tab-group li {
      width: 50%;
      -webkit-box-flex: 1;
      -ms-flex: 1 0 50%;
      flex: 1 0 50%; }
  .blog__item__theme-tabImage label {
    position: absolute;
    -webkit-transform: translateY(6px);
    -ms-transform: translateY(6px);
    transform: translateY(6px);
    left: 13px;
    color: #898989;
    -webkit-transition: all 0.25s ease;
    -o-transition: all 0.25s ease;
    transition: all 0.25s ease;
    -webkit-backface-visibility: hidden;
    pointer-events: none; }
  .blog__item__theme-tabImage .tab-group li a {
    text-decoration: none;
    padding: 4px;
    color: #a0b3b0;
    text-align: center;
    cursor: pointer;
    -webkit-transition: .5s ease;
    -o-transition: .5s ease;
    transition: .5s ease;
    text-decoration: none;
    letter-spacing: 1px;
    line-height: 1.5;
    text-align: center; }
  .blog__item__theme-tabImage .tab-group:after {
    content: "";
    display: table;
    clear: both; }
  .blog__item__theme-tabImage .tab-group li a:hover {
    background-color: #818181;
    color: #ffffff; }
  .blog__item__theme-tabImage .tab-group .tab {
    background-color: #fff; }
    .blog__item__theme-tabImage .tab-group .tab.active {
      background-color: #818181; }
      .blog__item__theme-tabImage .tab-group .tab.active a {
        color: #ffffff; }
  .blog__item__theme-tabImage .tab-content > div {
    display: none; }
    .blog__item__theme-tabImage .tab-content > div:first-child {
      display: block; }
  .blog__item__theme-tabImage .article .content {
    letter-spacing: 1px;
    line-height: 1.5;
    text-align: center;
    margin-bottom: 1vw; }
  .blog__item__theme-tabImage .tab__image {
    max-height: 71vw;
    overflow-y: hidden; }
  @media screen and (min-width: 960px) {
    .blog__item__theme-tabImage {
      padding: 50px 0; }
      .blog__item__theme-tabImage .wrap__width--max {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        max-width: 960px;
        margin: 0 auto; }
      .blog__item__theme-tabImage .wrap__width--max {
        -ms-flex-wrap: wrap;
        flex-wrap: wrap; }
      .blog__item__theme-tabImage .tab-content, .blog__item__theme-tabImage .tab-group, .blog__item__theme-tabImage .article {
        width: 100%; }
      .blog__item__theme-tabImage .article .content {
        letter-spacing: 1px;
        line-height: 1.5;
        text-align: center;
        margin-bottom: 10px;
        padding: 0 5%; }
      .blog__item__theme-tabImage .tab-group li a {
        letter-spacing: 1px;
        line-height: 1.5;
        text-align: center; }
      .blog__item__theme-tabImage .tab__image {
        max-height: 750px; } }

/* 圖片輪播 */
.blog__item__theme-imageSlider {
  background-color: #f4f4f4;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 5%; }
  .blog__item__theme-imageSlider .article {
    margin-bottom: 4vw; }
  .blog__item__theme-imageSlider .title {
    text-align: center;
    line-height: 1.2;
    font-weight: 700;
    margin: 2vw auto; }
  .blog__item__theme-imageSlider .content {
    letter-spacing: 1px;
    line-height: 1.5;
    text-align: center;
    margin-bottom: 2vw; }
  .blog__item__theme-imageSlider .swiper-container {
    padding-bottom: 6vw; }
    .blog__item__theme-imageSlider .swiper-container .swiper-slide:hover, .blog__item__theme-imageSlider .swiper-container .swiper-slide:active {
      -webkit-filter: contrast(120%);
      filter: contrast(120%); }
    .blog__item__theme-imageSlider .swiper-container .swiper-pagination-custom {
      bottom: 0; }
      .blog__item__theme-imageSlider .swiper-container .swiper-pagination-custom .swiper-pagination-bullet {
        width: 6px;
        height: 6px;
        margin: -1px 2px;
        opacity: 1;
        background-color: transparent;
        border: 1px solid #818181; }
      .blog__item__theme-imageSlider .swiper-container .swiper-pagination-custom .swiper-pagination-bullet-active {
        opacity: 1;
        background-color: #818181; }
  .blog__item__theme-imageSlider .swiper-wrapper.disabled {
    -webkit-transform: translate3d(0px, 0, 0) !important;
    transform: translate3d(0px, 0, 0) !important; }
  .blog__item__theme-imageSlider .swiper-pagination.disabled {
    display: none; }
  @media screen and (min-width: 960px) {
    .blog__item__theme-imageSlider {
      padding: 50px 0; }
      .blog__item__theme-imageSlider .wrap__width--max-swiper {
        width: 100%;
        display: block; }
      .blog__item__theme-imageSlider .swiper-container, .blog__item__theme-imageSlider .article {
        width: 100%;
        max-width: 960px;
        margin: 0 auto; }
      .blog__item__theme-imageSlider .article {
        margin-bottom: 40px; }
      .blog__item__theme-imageSlider .title {
        line-height: 1.2;
        font-weight: 700;
        margin: 20px auto; }
      .blog__item__theme-imageSlider .content {
        letter-spacing: 1px;
        line-height: 1.5;
        text-align: center;
        margin-bottom: 20px; }
      .blog__item__theme-imageSlider .swiper-container {
        padding-bottom: 40px;
        max-width: 960px;
        width: 100%; }
        .blog__item__theme-imageSlider .swiper-container .swiper-pagination-custom {
          bottom: 0; }
          .blog__item__theme-imageSlider .swiper-container .swiper-pagination-custom .swiper-pagination-bullet {
            width: 12px;
            height: 12px;
            margin: -1px 6px; } }

/* 影片 */
.blog__item__theme-movie {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-bottom: 5vw; }
  .blog__item__theme-movie .article {
    padding: 5%; }
  .blog__item__theme-movie .title {
    text-align: center;
    line-height: 1.2;
    font-weight: 700;
    margin: 2vw auto; }
  .blog__item__theme-movie .content {
    letter-spacing: 1px;
    line-height: 1.5;
    text-align: center;
    margin-bottom: 2vw; }
  @media screen and (min-width: 960px) {
    .blog__item__theme-movie {
      margin-bottom: 20px; }
      .blog__item__theme-movie .wrap__width--max {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        max-width: 1280px;
        margin: 0 auto; }
      .blog__item__theme-movie .wrap__width--max {
        -ms-flex-wrap: wrap;
        flex-wrap: wrap; }
      .blog__item__theme-movie .article {
        padding: 3% 3% 2%; }
      .blog__item__theme-movie .title {
        line-height: 1.2;
        font-weight: 700;
        margin: 20px auto; }
      .blog__item__theme-movie .content {
        letter-spacing: 1px;
        line-height: 1.5;
        text-align: center;
        margin-bottom: 20px; } }

/* youtube 部分 */
/*影片 */
.yt__wrap {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: top;
  -ms-flex-align: top;
  align-items: top;
  padding-top: 0;
  padding-bottom: 26.25%;
  /* 16:9 */
  width: 100vw;
  height: 60vw; }
  .yt__wrap iframe {
    position: absolute;
    left: 0;
    width: 100%;
    height: 100%; }
  @media screen and (min-width: 960px) {
    .yt__wrap {
      height: 810px; } }

/* 圖片下小字 */
.blog__item__theme-smallTips {
  background-color: #f4f4f4;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 5%; }
  .blog__item__theme-smallTips .tips {
    letter-spacing: 1px;
    line-height: 1.5;
    text-align: center;
    margin: 1vw auto 4vw auto; }
  @media screen and (min-width: 960px) {
    .blog__item__theme-smallTips {
      padding: 50px 0; }
      .blog__item__theme-smallTips .wrap__width--max {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        max-width: 960px;
        margin: 0 auto; }
      .blog__item__theme-smallTips .wrap__width--max {
        -ms-flex-wrap: wrap;
        flex-wrap: wrap; }
      .blog__item__theme-smallTips .tips {
        letter-spacing: 1px;
        line-height: 1.5;
        text-align: center;
        margin-bottom: 20px;
        margin-top: 10px; } }

/* 純文字 */
.blog__item__theme-text {
  background-color: #fbc842;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 5%; }
  .blog__item__theme-text .title {
    text-align: center;
    line-height: 1.2;
    font-weight: 700;
    margin: 2vw auto; }
  .blog__item__theme-text .content {
    letter-spacing: 1px;
    line-height: 1.5;
    text-align: center;
    margin-bottom: 2vw; }
    .blog__item__theme-text .content a {
      display: inline;
      color: #c62928;
      text-decoration: underline;
      font-weight: 700; }
  @media screen and (min-width: 960px) {
    .blog__item__theme-text {
      padding: 50px 0; }
      .blog__item__theme-text .article {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        max-width: 960px;
        margin: 0 auto;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap; }
      .blog__item__theme-text .title {
        line-height: 1.2;
        font-weight: 700;
        margin: 20px auto; }
      .blog__item__theme-text .content {
        letter-spacing: 1px;
        line-height: 1.5;
        text-align: center;
        margin-bottom: 20px; } }

/* 回到上一頁 */
.blog__item__theme-goBackPage {
  background-color: #fbc842;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 5%;
  position: relative; }
  .blog__item__theme-goBackPage::before {
    position: absolute;
    top: 0;
    left: 50%;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
    content: '';
    clear: both;
    height: 1px;
    width: 100%;
    color: #fff;
    background-color: #ffffff; }
  .blog__item__theme-goBackPage a {
    position: relative;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    border: 1px solid #fff;
    padding: 2% 5%;
    border-radius: 30vw;
    width: 45%;
    -webkit-transition: .5s;
    -o-transition: .5s;
    transition: .5s; }
    .blog__item__theme-goBackPage a:hover {
      background-color: #fff; }
      .blog__item__theme-goBackPage a:hover .btn__arrow {
        -webkit-transition: .5s;
        -o-transition: .5s;
        transition: .5s; }
        .blog__item__theme-goBackPage a:hover .btn__arrow::before, .blog__item__theme-goBackPage a:hover .btn__arrow::after {
          background-color: #000; }
  .blog__item__theme-goBackPage button {
    /*position: relative; */
    font-size: 4.5vw; }
  @media screen and (min-width: 960px) {
    .blog__item__theme-goBackPage {
      padding: 50px 0; }
      .blog__item__theme-goBackPage a {
        padding: 1% 3%;
        border-radius: 100px;
        width: 28%;
        max-width: 400px; }
      .blog__item__theme-goBackPage button {
        font-size: 32px; } }
  @media screen and (min-width: 1260px) {
    .blog__item__theme-goBackPage::before {
      width: 1260px; }
    .blog__item__theme-goBackPage a {
      width: 270px;
      padding: 15px 25px; } }

.btn__arrow {
  position: absolute;
  z-index: 1;
  top: 4vw;
  right: 0;
  width: 8vw;
  height: 3.5vw;
  -webkit-transition: .5s;
  -o-transition: .5s;
  transition: .5s; }
  .btn__arrow::before, .btn__arrow::after {
    content: '';
    position: absolute;
    z-index: 1;
    top: 0;
    left: 50%;
    width: 2px;
    height: 100%;
    background-color: #fff; }
  .btn__arrow::before {
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
    top: 0.4vw;
    right: 0; }
  .btn__arrow::after {
    -webkit-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg);
    top: -2vw;
    right: 0; }
  @media screen and (min-width: 960px) {
    .btn__arrow {
      top: 35%;
      right: -5%;
      width: 80px;
      height: 25px; }
      .btn__arrow::before {
        top: 6px; }
      .btn__arrow::after {
        top: -11px; } }
  @media screen and (min-width: 1260px) {
    .btn__arrow {
      top: 37%; } }

/* 側欄 icon */
.blog__right__icon {
  position: relative; }
  .blog__right__icon ul {
    position: fixed;
    right: 5px;
    bottom: 30px;
    z-index: 100; }
    .blog__right__icon ul li {
      text-align: right;
      -webkit-transform: scale(0.7);
      -ms-transform: scale(0.7);
      transform: scale(0.7);
      margin-bottom: -15px; }
      .blog__right__icon ul li img {
        text-align: right;
        width: 100%; }
  @media screen and (min-width: 960px) {
    .blog__right__icon ul {
      right: 20px;
      bottom: 60px; }
      .blog__right__icon ul li {
        margin-bottom: 5px;
        -webkit-transition: .5s;
        -o-transition: .5s;
        transition: .5s;
        -webkit-transform: scale(1);
        -ms-transform: scale(1);
        transform: scale(1); }
        .blog__right__icon ul li:hover {
          -webkit-transform: scale(1.2);
          -ms-transform: scale(1.2);
          transform: scale(1.2); }
        .blog__right__icon ul li img {
          width: 50%;
          -webkit-transform: translateY(0);
          -ms-transform: translateY(0);
          transform: translateY(0); } }
  @media screen and (min-width: 1280px) {
    .blog__right__icon ul {
      right: 30px;
      bottom: 60px; }
      .blog__right__icon ul li {
        margin-bottom: 10px; }
        .blog__right__icon ul li img {
          width: auto; } }
