section.promo__group.promo__group--dynamic-slider-half.m-bottom--lg(data-title="必buy專區")
  .layout--main
    .decor__wrap.full-parent
      .decor__item.decor__item--left#decoDynamicHalfLeft
        img(src="event/1st/e-main/components/dynamic-slider-half/decor-dynamic-half-left.png", alt="")
      .decor__item.decor__item--right#decoDynamicHalfRight
        img(src="event/1st/e-main/components/dynamic-slider-half/decor-dynamic-half-right.png", alt="")
    .promo__wrap
      .promo__zone
        .promo__block--wrap
          .promo__block
            .promo__box
              a(href="", title="三牲四果")
                img(src="event/1st/e-main/components/dynamic-slider-half/item-dynamic-slider-half-1.png", alt="三牲四果")
            .slider__box
              #sliderDynamicHalf.promo__slider.swiper-container.container--dynamic-half
                ul.swiper-wrapper

          .promo__block
            .promo__box
              a(href="", title="零食飲料沖泡")
                img(src="event/1st/e-main/components/dynamic-slider-half/item-dynamic-slider-half-2.png", alt="零食飲料沖泡")
            .slider__box
              #sliderDynamicHalf2.promo__slider.swiper-container.container--dynamic-half
                ul.swiper-wrapper

          .promo__block
            .promo__box
              a(href="", title="米麵油品罐頭")
                img(src="event/1st/e-main/components/dynamic-slider-half/item-dynamic-slider-half-3.png", alt="米麵油品罐頭")
            .slider__box
              #sliderDynamicHalf3.promo__slider.swiper-container.container--dynamic-half
                ul.swiper-wrapper

