-
  var promoData2 = [
    { // 1, 1, 1
      time: "11/1-11/3",
      link: "https://www.etmall.com.tw/gp/143561",
      imgSrc: "event/1st/e-main/components/dynamic-slider-2/items/bn-slider/slider-1.png",
      alt: "指定商品折扣",
      child:[
        {
          link: "https://www.etmall.com.tw/i/2884028",
          imgSrc: "event/1st/e-main/components/dynamic-slider-2/items/bn-slider-promo/promo-1-1.png",
          alt: "AirPods Pro 耐衝擊保護殼",
        },
        {
          link: "https://www.etmall.com.tw/i/2674742",
          imgSrc: "event/1st/e-main/components/dynamic-slider-2/items/bn-slider-promo/promo-1-2.png",
          alt: "UAG 11吋耐衝擊平板電腦保護套",
        },
        {
          link: "https://www.etmall.com.tw/i/3136373",
          imgSrc: "event/1st/e-main/components/dynamic-slider-2/items/bn-slider-promo/promo-1-3.png",
          alt: "UAG iPad Pro 11(2021)/Air 10.9吋耐衝擊鍵盤專用保護",
        },
        {
          link: "https://www.etmall.com.tw/i/2977878",
          imgSrc: "event/1st/e-main/components/dynamic-slider-2/items/bn-slider-promo/promo-1-4.png",
          alt: "UAG 潮流斜背包-綠(側背包、單肩包、腰包)",
        },
      ]
    },
    { // 4, 4
      time: "11/4-11/5",
      link: "https://www.etmall.com.tw/gp/142881",
      imgSrc: "event/1st/e-main/components/dynamic-slider-2/items/bn-slider/slider-2.png",
      alt: "買就送限量贈品",
      child:[
        {
          link: "https://www.etmall.com.tw/i/3193735",
          imgSrc: "event/1st/e-main/components/dynamic-slider-2/items/bn-slider-promo/promo-2-1.png",
          alt: "SwitchEasy 美國魚骨 iPhone 13 Pro 6.1吋 MagCrush 磁吸透明軍規防摔手機殼",
        },
        {
          link: "https://www.etmall.com.tw/i/3193634",
          imgSrc: "event/1st/e-main/components/dynamic-slider-2/items/bn-slider-promo/promo-2-2.png",
          alt: "SwitchEasy 美國魚骨 iPhone 13 Pro Max 6.7吋 Odyssey 掛繩軍規防摔金屬手機殼",
        },
        {
          link: "https://www.etmall.com.tw/i/2919815",
          imgSrc: "event/1st/e-main/components/dynamic-slider-2/items/bn-slider-promo/promo-2-3.png",
          alt: "美國魚骨 SwitchEasy AERO 霧面軍規  iPhone 12 空壓手機保護殼 ( 防摔 耐摔 防撞 氣墊)",
        },
        {
          link: "https://www.etmall.com.tw/i/3193179",
          imgSrc: "event/1st/e-main/components/dynamic-slider-2/items/bn-slider-promo/promo-2-4.png",
          alt: "SwitchEasy 美國魚骨 iPhone 13 6.1吋 Alos Lite 軍規防摔透明手機殼",
        },
      ]
    },
    { // 6, 6
      time: "11/6-11/7",
      link: "https://www.etmall.com.tw/gp/142645",
      imgSrc: "event/1st/e-main/components/dynamic-slider-2/items/bn-slider/slider-3.png",
      alt: "指定商品折扣",
      child:[
        {
          link: "https://www.etmall.com.tw/i/6176788",
          imgSrc: "event/1st/e-main/components/dynamic-slider-2/items/bn-slider-promo/promo-3-1.png",
          alt: "aibo 補光燈線控伸縮折疊自拍棒 自拍桿",
        },
        {
          link: "https://www.etmall.com.tw/i/2593502",
          imgSrc: "event/1st/e-main/components/dynamic-slider-2/items/bn-slider-promo/promo-3-2.png",
          alt: "aibo AC 轉 USB 塗鴉風三埠USB充電器(3.4A)",
        },
        {
          link: "https://www.etmall.com.tw/i/3177682",
          imgSrc: "event/1st/e-main/components/dynamic-slider-2/items/bn-slider-promo/promo-3-3.png",
          alt: "可轉直向/橫向 手機螢幕12吋放大器/支架(IP-MA32)",
        },
        {
          link: "https://www.etmall.com.tw/i/3187220",
          imgSrc: "event/1st/e-main/components/dynamic-slider-2/items/bn-slider-promo/promo-3-4.png",
          alt: "aibo PD閃充組 42W充電器+8Pin/Type-C PD快充線(1.2M)",
        },
      ]
    },
    { // 8, 8
      time: "11/8-11/9",
      link: "https://www.etmall.com.tw/gp/141235",
      imgSrc: "event/1st/e-main/components/dynamic-slider-2/items/bn-slider/slider-4.png",
      alt: "買就抽行動電源",
      child:[
        {
          link: "https://www.etmall.com.tw/i/2910883",
          imgSrc: "event/1st/e-main/components/dynamic-slider-2/items/bn-slider-promo/promo-4-1.png",
          alt: "Bone/PD快充18W 立架逗扣行動電源10050mAh",
        },
        {
          link: "https://www.etmall.com.tw/i/2504261",
          imgSrc: "event/1st/e-main/components/dynamic-slider-2/items/bn-slider-promo/promo-4-2.png",
          alt: "Bone/手掛手機綁 Strap PhoneTie - 輕鬆走手機掛繩",
        },
        {
          link: "https://www.etmall.com.tw/i/2354864",
          imgSrc: "event/1st/e-main/components/dynamic-slider-2/items/bn-slider-promo/promo-4-3.png",
          alt: "Bone/環形手機綁 Phone RingTie-防手滑輕薄手機邊框-喵喵貓/麋鹿先生/派提鴨/企鵝小丸",
        },
        {
          link: "https://www.etmall.com.tw/i/2598773",
          imgSrc: "event/1st/e-main/components/dynamic-slider-2/items/bn-slider-promo/promo-4-4.png",
          alt: "Bone/頸掛手機綁二代 Lanyard PhoneTie 2",
        },
      ]
    },
    { // 10
      time: "11/10",
      link: "",
      imgSrc: "event/1st/e-main/components/dynamic-slider-2/items/bn-slider/slider-5.png",
      alt: "指定商品折扣",
      child:[
        {
          link: "https://www.etmall.com.tw/i/3236741",
          imgSrc: "event/1st/e-main/components/dynamic-slider-2/items/bn-slider-promo/promo-5-1.png",
          alt: "CJSCOPE喜傑獅 UNICORN 15Y黑15.6吋效能筆電(R9-5900HX/SO16G*2/1TB/RTX3080/W10)",
        },
        {
          link: "https://www.etmall.com.tw/i/3229684",
          imgSrc: "event/1st/e-main/components/dynamic-slider-2/items/bn-slider-promo/promo-5-2.png",
          alt: "CJSCOPE喜傑獅 UNICORN 15Y 銀鐵灰 15.6 吋 效能筆電(R7-5800H/SO16G*1/512G/RTX3070/W10)",
        },
        {
          link: "https://www.etmall.com.tw/i/3236603",
          imgSrc: "event/1st/e-main/components/dynamic-slider-2/items/bn-slider-promo/promo-5-3.png",
          alt: "CJSCOPE喜傑獅 FORGE 15T 黑 15.6吋 效能筆電 (i5-11300H/SO8G*1/512G/W10Pro)",
        },
        {
          link: "https://www.etmall.com.tw/i/3229682",
          imgSrc: "event/1st/e-main/components/dynamic-slider-2/items/bn-slider-promo/promo-5-4.png",
          alt: "CJSCOPE喜傑獅 UNICORN Lite 15P黑 15.6吋 效能筆電(i7-11800H/RTX3050Ti/SO8G*2/512G/W10)",
        },
      ]
    },
    { // 11
      time: "11/11",
      link: "https://media.etmall.com.tw/sp/11737/m/index.html",
      imgSrc: "event/1st/e-main/components/dynamic-slider-2/items/bn-slider/slider-6.png",
      alt: "買就抽行動電源",
      child:[
        {
          link: "https://www.etmall.com.tw/i/2985260",
          imgSrc: "event/1st/e-main/components/dynamic-slider-2/items/bn-slider-promo/promo-6-1.png",
          alt: "OPPO Reno5 Z 八核心5G手機(8G+128G)",
        },
        {
          link: "https://www.etmall.com.tw/i/3133178",
          imgSrc: "event/1st/e-main/components/dynamic-slider-2/items/bn-slider-promo/promo-6-2.png",
          alt: "OPPO Reno6 Pro 5G智慧手機 (12G/256G)",
        },
        {
          link: "https://www.etmall.com.tw/i/",
          imgSrc: "event/1st/e-main/components/dynamic-slider-2/items/bn-slider-promo/promo-6-3.png",
          alt: "oppo enco air",
        },
        {
          link: "https://www.etmall.com.tw/i/",
          imgSrc: "event/1st/e-main/components/dynamic-slider-2/items/bn-slider-promo/promo-6-4.png",
          alt: "OPPO Enco Buds",
        },
      ]
    },
    { // 12
      time: "11/12",
      link: "https://www.etmall.com.tw/gp/149646",
      imgSrc: "event/1st/e-main/components/dynamic-slider-2/items/bn-slider/slider-7.png",
      alt: "買就抽行動電源",
      child:[
        {
          link: "https://www.etmall.com.tw/i/2895572",
          imgSrc: "event/1st/e-main/components/dynamic-slider-2/items/bn-slider-promo/promo-7-1.png",
          alt: "【Philips 飛利浦】真無線藍芽耳機TAT3255(共2色可任選)",
        },
        {
          link: "https://www.etmall.com.tw/i/3225930",
          imgSrc: "event/1st/e-main/components/dynamic-slider-2/items/bn-slider-promo/promo-7-2.png",
          alt: "【Philips 飛利浦】真無線藍芽耳機TAT2205WT-集點加價購",
        },
        {
          link: "https://www.etmall.com.tw/i/3165904",
          imgSrc: "event/1st/e-main/components/dynamic-slider-2/items/bn-slider-promo/promo-7-3.png",
          alt: "Philips真無線藍芽耳機TAT1235-共有四色可選",
        },
        {
          link: "https://www.etmall.com.tw/i/3165902",
          imgSrc: "event/1st/e-main/components/dynamic-slider-2/items/bn-slider-promo/promo-7-4.png",
          alt: "Philips真無線藍芽耳機 TAT2206-共有四色可選",
        },
      ]
    },
    { // 13
      time: "11/13",
      link: "https://www.etmall.com.tw/gp/149686",
      imgSrc: "event/1st/e-main/components/dynamic-slider-2/items/bn-slider/slider-8.png",
      alt: "買就抽行動電源",
      child:[
        {
          link: "https://www.etmall.com.tw/i/2991448",
          imgSrc: "event/1st/e-main/components/dynamic-slider-2/items/bn-slider-promo/promo-8-1.png",
          alt: "E-books D42 經典聲霸立體聲藍牙喇叭",
        },
        {
          link: "https://www.etmall.com.tw/i/2332974",
          imgSrc: "event/1st/e-main/components/dynamic-slider-2/items/bn-slider-promo/promo-8-2.png",
          alt: "E-books Z4 美型無線鍵盤滑鼠組",
        },
        {
          link: "https://www.etmall.com.tw/i/2760075",
          imgSrc: "event/1st/e-main/components/dynamic-slider-2/items/bn-slider-promo/promo-8-3.png",
          alt: "E-booksSS20真無線TWS高階款藍牙5.0耳機",
        },
        {
          link: "https://www.etmall.com.tw/i/2760076",
          imgSrc: "event/1st/e-main/components/dynamic-slider-2/items/bn-slider-promo/promo-8-4.png",
          alt: "E-booksSS20真無線TWS高階款藍牙5.0耳機",
        },
      ]
    },
    { // 13
      time: "11/14-11/15",
      link: "https://www.etmall.com.tw/gp/149686",
      imgSrc: "event/1st/e-main/components/dynamic-slider-2/items/bn-slider/slider-8.png",
      alt: "買就抽行動電源",
      child:[
        {
          link: "https://www.etmall.com.tw/i/2991448",
          imgSrc: "event/1st/e-main/components/dynamic-slider-2/items/bn-slider-promo/promo-8-1.png",
          alt: "E-books D42 經典聲霸立體聲藍牙喇叭",
        },
        {
          link: "https://www.etmall.com.tw/i/2332974",
          imgSrc: "event/1st/e-main/components/dynamic-slider-2/items/bn-slider-promo/promo-8-2.png",
          alt: "E-books Z4 美型無線鍵盤滑鼠組",
        },
        {
          link: "https://www.etmall.com.tw/i/2760075",
          imgSrc: "event/1st/e-main/components/dynamic-slider-2/items/bn-slider-promo/promo-8-3.png",
          alt: "E-booksSS20真無線TWS高階款藍牙5.0耳機",
        },
        {
          link: "https://www.etmall.com.tw/i/2760076",
          imgSrc: "event/1st/e-main/components/dynamic-slider-2/items/bn-slider-promo/promo-8-4.png",
          alt: "E-booksSS20真無線TWS高階款藍牙5.0耳機",
        },
      ]
    },

  ]

- var promoData2 = promoData2
//- - var child = promoItems

section.promo__group.promo__group--dynamic-slider-2(data-title="一起玩")
  .layout--main
    .promo__wrap
      .promo__zone
        .promo__block
          .promo__box
            img(src="event/1st/e-main/components/dynamic-slider-2/title-4.png")
          .promo__slide.full-parent
            .promo__slide--parent#dynamicSlide2.swiper-container.full-parent
              ul.swiper-wrapper
                each data, index in promoData2
                  li.swiper-slide
                    .slide__box
                      .slide__box--date= data.time
                      .slide__box--bn
                        a(href= data.link, alt= data.alt)
                          img(src= data.imgSrc, alt= data.alt)
                        .bn--mask
                      .slide__box--item
                        - var dataChild = data.child
                        each child, index in dataChild
                          .item__box
                            a(href= child.link)
                              img(src= child.imgSrc, alt= child.alt)
                          //- .item__box
                          //-   a(href="")
                          //-     img(src= data.imgSrc02, alt="")
                          //- .item__box
                          //-   a(href="")
                          //-     img(src= data.imgSrc03, alt="")
                          //- .item__box
                          //-   a(href="")
                          //-     img(src= data.imgSrc04, alt="")








//- data-dynamic-2.js在assets資料夾內、由index.pug外連過去