section.promo__group.dynamic-slider-w3m3.m-bottom--lg(data-title="名人推薦")
  .layout--main
    .decor__wrap.full-parent
      .decor__item.decor__item--left#decorDynamicW3M3Left
        img(src="event/1st/e-main/components/dynamic-slider-w3m3/decor-dynamic-slider-w3m3-left.png", alt="")
      .decor__item.decor__item--right#decorDynamicW3M3Right
        img(src="event/1st/e-main/components/dynamic-slider-w3m3/decor-dynamic-slider-w3m3-right.png", alt="")
    .promo__wrap
      .promo__zone
        .promo__block
          .promo__slider.swiper-container#DynamicSliderW3M3Block
            .swiper-wrapper