section.hero__wrap
  //.parallax__background
  .hero__zone
    .layout--main
      #heroBlock.hero__block
        .hero__box
          //- 標題
          h1.hero__title.hero__title--main.block--center.wow(title="618超錢部署")
            img#heroTitle(class="title__circle" src="~event/2nd/e-66/components/hero-section/title-bg.png", alt="618超錢部署")
            img(class="title__txt" src="~event/2nd/e-66/components/hero-section/title.png", alt="618超錢部署")
            img(class="title__txt title__coupon jello" src="~event/2nd/e-66/components/hero-section/coupon.png", alt="618超錢部署")
            img(class="title__txt title__t2" src="~event/2nd/e-66/components/hero-section/title-cut.png", alt="618超錢部署")
            //img.title__txt.title__txt--1(src="~event/2nd/e-66/components/hero-section/title.png")
          .ci-decoration__wrap
            .ci__decoration.ci__decoration--top.wow
              img(src="~event/2nd/e-66/components/hero-section/decoration-title.png", alt="55激搶")
  //.title-decoration__wrap
  .title__decoration.wow
    img.left-1(src="~event/2nd/e-66/components/hero-section/title__decoration-left-t-1.png", alt="")
    img.left-2(src="~event/2nd/e-66/components/hero-section/title__decoration-left-t-2.png", alt="")
    img.left-3(src="~event/2nd/e-66/components/hero-section/title__decoration-left-b-1.png", alt="")
    img.left-4(src="~event/2nd/e-66/components/hero-section/title__decoration-right-t-1.png", alt="")
    img.right-1(src="~event/2nd/e-66/components/hero-section/title__decoration-right-t-1.png", alt="")
    img.right-2(src="~event/2nd/e-66/components/hero-section/title__decoration-right-t-2.png", alt="")
    img.right-3(src="~event/2nd/e-66/components/hero-section/title__decoration-right-b-1.png", alt="")
    img.right-4(src="~event/2nd/e-66/components/hero-section/title__decoration-right-b-2.png", alt="")
    //img.decoration--momGroup(src="~event/2nd/e-66/components/hero-section/decoration-mom_group.png", alt="")




  .promo__zone
    .layout--main
      .promo__block
        //- 行銷誘因
        include /event/2nd/e-66/components/promo-event/_promo-event


  //.promo__zone-branch
  //  .layout--main
  //    .promo__block
  //      //- 行銷誘因
  //      include /event/2nd/e-66/components/promo-event-branch/_promo-event-branch


        //- include /event/2nd/e-66/components/goods-slider-flip/_goods-slider-flip
        //include /event/2nd/e-66/components/goods-slider/_goods-slider

  //- include /event/2nd/e-66/components/background-decoration/_background-decoration.pug


