//- General 一般共用
include /utils/pug/include/_general.pug

//- 電梯
//- =======================================
//- 一般單雙月電梯(自動切換)))
//- include /utils/pug/include/_elevator-link.pug

//- 分館SP電梯
//- script(src="https://www.etmall.com.tw/XML/content/DMSetting/Final/201910/SP_1114026/w/generateVersion20190619.js")
//- =======================================

//- 浮水印
//- include /utils/pug/include/_float-icon.pug
//- parallax cdn
//- include /utils/pug/include/_parallax-cdn-js.pug
