.promo__group--w3m3
  +pos-set(relative, zero)
  overflow: hidden
  .decor__wrap
    padding-top: 20%
    pointer-events: none
    .decor__item
      &--bg
        +pos-set(absolute, under, 6%, 2.5%)
        width: 95%
        +breakpoint-min($min-width-xl)
          left: calc(50% - 458px)
      &--title
        +pos-set(absolute, zero, 6.5%, 20%)
        width: 60%
        +breakpoint-min($min-width-xl)
          top: 7.5%
          left: calc(50% - 255px)
      &--left
        +pos-set(absolute, under, 1%, 4%)
        width: 25%
        animation: up-and-down 8s -1s infinite ease-in-out backwards
        +breakpoint-min($min-width-xl)
          top: 0%
          left: calc(50% - 436px)
      &--right
        +pos-set(absolute, base, 3%)
        right: 11%
        width: 18%
        animation: cream-tada 2s infinite
        +breakpoint-min($min-width-xl)
          top: 50px
          right: calc(50% - 355px)
      +breakpoint-min($min-width-xl)
        width: auto
  .promo__wrap
    +bg-set(url(event/1st/e-main/components/event-w3m3/bg-event-w3m3.png), 100%)
    .promo__zone
      +aspect-ratio(960, 1139)
      .promo__block
        +pos-set(absolute, base, 0%, 0%)
        .event__wrap
          padding: 4% 7%
          +breakpoint-min($min-width-xl)
            padding: 5% 6.5% 5% 7%
          .good__wrap
            display: flex
            flex-wrap: wrap
            justify-content: center
            li
              position: relative
              width: 32%
              a
                overflow: hidden
                transition: transform 0.4s
                &:hover
                  transform: translateY(-12px)
                img
                  filter: brightness(95%)
                &.active
                  transition: transform .4s
                  transform: translateY(-6px)
                  +breakpoint-min($min-width-xl)
                    transform: translateY(-12px)
                  .ice-shine
                    position: absolute
                    width: 100%
                    height: 100%
                    &::after
                      content: ""
                      position: absolute
                      top: 0
                      left: -25px
                      z-index: 8
                      width: 30%
                      height: 100%
                      background-color: rgba(255, 255, 255, 0.65)
                      transform: skewX(-15deg)
                      -webkit-filter: blur(16px)
                      animation: ice-shine 4s -1s linear infinite
                  img
                    filter: brightness(105%)

@keyframes cream-tada
  from
    -webkit-transform: scale3d(1, 1, 1)
    transform: scale3d(1, 1, 1)
  4%,
  8%
    -webkit-transform: scale3d(0.9, 0.9, 0.9) rotate3d(0, 0, 1, -3deg)
    transform: scale3d(0.9, 0.9, 0.9) rotate3d(0, 0, 1, -3deg)
  13%,
  26%,
  33%,
  42%
    -webkit-transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, 3deg)
    transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, 3deg)
  18%,
  32%,
  48%
    -webkit-transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, -3deg)
    transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, -3deg)
  50%
    -webkit-transform: scale3d(1, 1, 1)
    transform: scale3d(1, 1, 1)
  to
    -webkit-transform: scale3d(1, 1, 1)
    transform: scale3d(1, 1, 1)

@keyframes ice-shine
  0%, 65%
    opacity: 0
    left: -50%
  75%
    opacity: 1
    left: 75%
  76%
    opacity: 0
    left: 75%
  90%
    opacity: 0
    left: -50%
  100%
    opacity: 1
    left: 75%

@-webkit-keyframes up-and-down
  0%
    -webkit-transform: translateX(0) translateY(60%)
    transform: translateX(0) translateY(60%)
  6.5%
    -webkit-transform: translateX(-3px) translateY(0%) scale(1.08)
    transform: translateX(-3px) translateY(0%) scale(1.08)
  20%
    transform: rotate(-5deg) translateY(15%)
  40% 
    transform: rotate(10deg) translateY(30%)
  60%
    transform: rotate(-5deg) translateY(42%)
  80%
    transform: rotate(10deg) translateY(56%)
  100%
    transform: translateY(60%) rotate(0deg) scale(.95)

@keyframes up-and-down
  0%
    -webkit-transform: translateX(-3px) translateY(60%)
    transform: translateX(-3px) translateY(60%)
  6.5%
    transform-origin: top center
    -webkit-transform: translateX(-3px) translateY(0%) scale(1.05)
    transform: translateX(-3px) translateY(0%) scale(1.05) rotate(13deg)
  20%
    transform: rotate(-5deg) translateY(15%)
  40% 
    transform: rotate(10deg) translateY(30%)
  60%
    transform: rotate(-5deg) translateY(42%)
  80%
    transform: rotate(10deg) translateY(56%)
  100%
    transform: translateY(60%) rotate(0deg) scale(.95)


