//- TODO: API:
//- data-src="CustPoint"，點數值，值限為0
//- class="jsLoginText"，登入提示訊息

section#betCard.bet__wrap
  .layout--main
    .bet__block
      .decor__top
        img(src="event/1st/e-main/components/bet-section/bet-section-title.png", alt="")

      .bet__box
        .bet__item
          span 賠率
          span 1
          span :
          span 2
        
        .bet__text
          p 只要使用50枚東森幣即可參與指定賽事預測，凡預測成功一注即可獲得100枚東森幣
          p 每日最多可下注1000枚東森幣，下注後無法更改，東森幣於賽事結果公布後1小時統一歸戶



