section.daily__group.promo__group--daily-slider.m-bottom--lg(data-title="每日大牌")
  .layout--main
    .promo__wrap
      .promo__zone
        .decoration--top.decoration--daily-slider.wow
          img(src="event/2nd/e-main/components/daily-slider/decoration-daily-slider.png", alt="波利",)
        .daily__slider.m-bottom--sm
          #sliderDaily.swiper-container
            ul.swiper-wrapper

          #sliderDailyPrev.swiper-button--custom.swiper-button-prev
          #sliderDailyNext.swiper-button--custom.swiper-button-next
        .daily__block
          .daily__box.daily--next
          .daily__box.daily--next

//- 版型結構
//- .product.product--dynamic
//-   a(href="data.網址", title="data.商品名")
//-     .product__block
//-       .product__intro
//-         .intro__date
//-           span 5
//-           span /
//-           span 28
//-       .product__img
//-         img.swiper-lazy(alt="", src="https://media.etmall.com.tw/nximg/002834/2834592/2834592-1_xxl.jpg")
//-       .product__text
//-         .product__brand
//-         .product__name
//-           span data.商品名data.商品名data.商品名data.商品名data.商品名data.商品名data.商品名
//-         .product__price
//-           span $
//-           span 888,888
