-
  var promoData1 = [
    { // 1,
      time: "11/1-11/3",
      link: "https://media.etmall.com.tw/sp/11387/m/index.html",
      imgSrc: "event/1st/e-main/components/dynamic-slider/items/bn-slider/bn-slider-1101.png",
      alt: "小米全系列",
      child:[
        {
          link: "https://www.etmall.com.tw/i/3215429",
          imgSrc: "event/1st/e-main/components/dynamic-slider/items/bn-slider-promo/slider-promo-1101-1.png",
          alt: "POCO M3 Pro 5G手機(4G/64G)",
        },
        {
          link: "https://www.etmall.com.tw/i/3210247",
          imgSrc: "event/1st/e-main/components/dynamic-slider/items/bn-slider-promo/slider-promo-1101-2.png",
          alt: "小米 11 Lite NE 5G手機 6.55吋 八核心 (8G/128G)",
        },
        {
          link: "https://www.etmall.com.tw/i/3077906",
          imgSrc: "event/1st/e-main/components/dynamic-slider/items/bn-slider-promo/slider-promo-1101-3.png",
          alt: "小米手環 6 送錶帶與保護貼",
        },
        {
          link: "https://www.etmall.com.tw/i/3192047",
          imgSrc: "event/1st/e-main/components/dynamic-slider/items/bn-slider-promo/slider-promo-1101-4.png",
          alt: "10000 小米行動電源 3 快充版 銀色",
        },
      ]
    },
    { // 2
      time: "11/2",
      link: "https://media.etmall.com.tw/sp/11735/m/index.html",
      imgSrc: "event/1st/e-main/components/dynamic-slider/items/bn-slider/bn-slider-1102.png",
      alt: "指定機種最高送提貨券4,000元",
      child:[
        {
          link: "https://www.etmall.com.tw/i/3192022",
          imgSrc: "event/1st/e-main/components/dynamic-slider/items/bn-slider-promo/slider-promo-1102-1.png",
          alt: "SONY Xperia 5 III 5G智慧手機 (8G/256G)",
        },
        {
          link: "https://www.etmall.com.tw/i/3129366",
          imgSrc: "event/1st/e-main/components/dynamic-slider/items/bn-slider-promo/slider-promo-1102-2.png",
          alt: "SONY Xperia 1 III 5G智慧手機 (12G/256G)",
        },
        {
          link: "https://www.etmall.com.tw/i/",
          imgSrc: "event/1st/e-main/components/dynamic-slider/items/bn-slider-promo/slider-promo-1102-3.png",
          alt: "SONY Xperia 1 III 5G智慧手機 (512G)",
        },
        {
          link: "https://www.etmall.com.tw/i/3134656",
          imgSrc: "event/1st/e-main/components/dynamic-slider/items/bn-slider-promo/slider-promo-1102-4.png",
          alt: "SONY Xperia 10 III 5G防水手機 (6G/128G)",
        },
      ]
    },
    { // 3
      time: "11/3",
      link: "https://media.etmall.com.tw/sp/11644/m/index.html",
      imgSrc: "event/1st/e-main/components/dynamic-slider/items/bn-slider/bn-slider-1103.png",
      alt: "週週大獎",
      child:[
        {
          link: "",
          imgSrc: "event/1st/e-main/components/dynamic-slider/items/bn-slider-promo/slider-promo-1103-1.png",
          alt: "Gash 500點",
        },
        {
          link: "",
          imgSrc: "event/1st/e-main/components/dynamic-slider/items/bn-slider-promo/slider-promo-1103-2.png",
          alt: "Gash 300點",
        },
        {
          link: "",
          imgSrc: "event/1st/e-main/components/dynamic-slider/items/bn-slider-promo/slider-promo-1103-3.png",
          alt: "Gash 1000點",
        },
        {
          link: "",
          imgSrc: "event/1st/e-main/components/dynamic-slider/items/bn-slider-promo/slider-promo-1103-4.png",
          alt: "Gash 3000點",
        },
      ]
    },
    { // 4,
      time: "11/4-11/6",
      link: "https://media.etmall.com.tw/sp/11736/m/index.html",
      imgSrc: "event/1st/e-main/components/dynamic-slider/items/bn-slider/bn-slider-1104.png",
      alt: "新機上市首銷活動$3,111元起",
      child:[
        {
          link: "https://www.etmall.com.tw/i/3239208",
          imgSrc: "event/1st/e-main/components/dynamic-slider/items/bn-slider-promo/slider-promo-1104-1.png",
          alt: "realme GT Neo2 5G (8+128)-黑薄荷",
        },
        {
          link: "https://www.etmall.com.tw/i/",
          imgSrc: "event/1st/e-main/components/dynamic-slider/items/bn-slider-promo/slider-promo-1104-2.png",
          alt: "realme narzo 50i",
        },
        {
          link: "https://www.etmall.com.tw/i/3239206",
          imgSrc: "event/1st/e-main/components/dynamic-slider/items/bn-slider-promo/slider-promo-1104-3.png",
          alt: "realme narzo 50A 續航王者遊戲機4G/128G-清晨藍",
        },
        {
          link: "https://www.etmall.com.tw/i/3045131",
          imgSrc: "event/1st/e-main/components/dynamic-slider/items/bn-slider-promo/slider-promo-1104-4.png",
          alt: "realme GT 5G S888全速戰神旗艦機(8G/128G)-深海飛艇",
        },
      ]
    },
    //-     { // 5, 5
    //-   time: "11/5-11/6",
    //-   link: "https://media.etmall.com.tw/sp/11736/m/index.html",
    //-   imgSrc: "event/1st/e-main/components/dynamic-slider/items/bn-slider/bn-slider-5.png",
    //-   alt: "新機上市首銷活動$3,111元起",
    //-   child:[
    //-     {
    //-       link: "https://www.etmall.com.tw/i/3239208",
    //-       imgSrc: "event/1st/e-main/components/dynamic-slider/items/bn-slider-promo/slider-promo-5-1.png",
    //-       alt: "realme GT Neo2 5G (8+128)-黑薄荷",
    //-     },
    //-     {
    //-       link: "https://www.etmall.com.tw/i/",
    //-       imgSrc: "event/1st/e-main/components/dynamic-slider/items/bn-slider-promo/slider-promo-5-2.png",
    //-       alt: "realme narzo 50i",
    //-     },
    //-     {
    //-       link: "https://www.etmall.com.tw/i/3239206",
    //-       imgSrc: "event/1st/e-main/components/dynamic-slider/items/bn-slider-promo/slider-promo-5-3.png",
    //-       alt: "realme narzo 50A 續航王者遊戲機4G/128G-清晨藍",
    //-     },
    //-     {
    //-       link: "https://www.etmall.com.tw/i/3045131",
    //-       imgSrc: "event/1st/e-main/components/dynamic-slider/items/bn-slider-promo/slider-promo-5-4.png",
    //-       alt: "realme GT 5G S888全速戰神旗艦機(8G/128G)-深海飛艇",
    //-     },
    //-   ]
    //- },
    { // 7
      time: "11/7-11/9",
      link: "https://media.etmall.com.tw/sp/11734/m/index.html",
      imgSrc: "event/1st/e-main/components/dynamic-slider/items/bn-slider/bn-slider-1107.png",
      alt: "指定商品折扣",
      child:[
        {
          link: "https://www.etmall.com.tw/i/3221711",
          imgSrc: "event/1st/e-main/components/dynamic-slider/items/bn-slider-promo/slider-promo-1107-1.png",
          alt: "Swift3 14吋 輕薄筆電 WIN11",
        },
        {
          link: "https://www.etmall.com.tw/i/3109161",
          imgSrc: "event/1st/e-main/components/dynamic-slider/items/bn-slider-promo/slider-promo-1107-2.png",
          alt: "Predator 15吋 RTX3070電競i7筆電",
        },
        {
          link: "https://www.etmall.com.tw/i/3215986",
          imgSrc: "event/1st/e-main/components/dynamic-slider/items/bn-slider-promo/slider-promo-1107-3.png",
          alt: "Nitro 15吋 RTX3050電競筆電",
        },
        {
          link: "https://www.etmall.com.tw/i/3226423",
          imgSrc: "event/1st/e-main/components/dynamic-slider/items/bn-slider-promo/slider-promo-1107-4.png",
          alt: "Predator Orion RTX3070獨顯電競電腦",
        },
      ]
    },
    { // 8
      time: "11/8",
      link: "https://www.etmall.com.tw/p/139858",
      imgSrc: "event/1st/e-main/components/dynamic-slider/items/bn-slider/bn-slider-1108.png",
      alt: "指定機種最高送數位禮券三千元",
      child:[
        {
          link: "https://www.etmall.com.tw/i/2406386",
          imgSrc: "event/1st/e-main/components/dynamic-slider/items/bn-slider-promo/slider-promo-1108-1.png",
          alt: "Moshi Integra ? USB-C to USB-C 充電/傳輸編織線（2M）",
        },
        {
          link: "https://www.etmall.com.tw/i/3226425",
          imgSrc: "event/1st/e-main/components/dynamic-slider/items/bn-slider-promo/slider-promo-1108-2.png",
          alt: "Moshi iGlaze for iPhone 13 Pro Max 超薄時尚保護背殼",
        },
        {
          link: "https://www.etmall.com.tw/i/3016746",
          imgSrc: "event/1st/e-main/components/dynamic-slider/items/bn-slider-promo/slider-promo-1108-3.png",
          alt: "Moshi Muse 13 三合一多功能筆電支架包",
        },
        {
          link: "https://www.etmall.com.tw/i/3072972",
          imgSrc: "event/1st/e-main/components/dynamic-slider/items/bn-slider-promo/slider-promo-1108-4.png",
          alt: "Moshi Sette Q 雙線圈 3用無線充電盤 15W EPP+電源充電器",
        },
      ]
    },
    { // 9 待補
      time: "11/9",
      link: "https://www.etmall.com.tw/p/139858",
      imgSrc: "event/1st/e-main/components/dynamic-slider/items/bn-slider/bn-slider-1109.png",
      alt: "指定機種最高送數位禮券三千元",
      child:[
        {
          link: "https://www.etmall.com.tw/i/3246272",
          imgSrc: "event/1st/e-main/components/dynamic-slider/items/bn-slider-promo/slider-promo-1109-1.png",
          alt: "D-Link友訊 M15 AX1500 MESH雙頻無線路由器 二入組",
        },
        {
          link: "https://www.etmall.com.tw/i/3246444",
          imgSrc: "event/1st/e-main/components/dynamic-slider/items/bn-slider-promo/slider-promo-1109-2.png",
          alt: "D-Link友訊 R15 AX1500 Wi-Fi 6 雙頻無線路由器",
        },
        {
          link: "https://www.etmall.com.tw/i/3246414",
          imgSrc: "event/1st/e-main/components/dynamic-slider/items/bn-slider-promo/slider-promo-1109-3.png",
          alt: "D-Link友訊DIR-X5460 AX5400Wi-Fi6雙頻無線路由器",
        },
        {
          link: "https://www.etmall.com.tw/i/3246460",
          imgSrc: "event/1st/e-main/components/dynamic-slider/items/bn-slider-promo/slider-promo-1109-4.png",
          alt: "D-Link友訊 COVR-X1870 AX1800 雙頻 Mesh Wi-Fi 6 無線路由器雙入組",
        },
      ]
    },
    { // 10
      time: "11/10",
      link: "https://media.etmall.com.tw/sp/11736/m/index.html",
      imgSrc: "event/1st/e-main/components/dynamic-slider/items/bn-slider/bn-slider-1110.png",
      alt: "買就抽行動電源",
      child:[
        {
          link: "",
          imgSrc: "event/1st/e-main/components/dynamic-slider/items/bn-slider-promo/slider-promo-1110-1.png",
          alt: "",
        },
        {
          link: "",
          imgSrc: "event/1st/e-main/components/dynamic-slider/items/bn-slider-promo/slider-promo-1110-2.png",
          alt: "",
        },
        {
          link: "",
          imgSrc: "event/1st/e-main/components/dynamic-slider/items/bn-slider-promo/slider-promo-1110-3.png",
          alt: "",
        },
        {
          link: "",
          imgSrc: "event/1st/e-main/components/dynamic-slider/items/bn-slider-promo/slider-promo-1110-4.png",
          alt: "",
        },
      ]
    },
    { // 11
      time: "11/11",
      link: "https://media.etmall.com.tw/sp/11736/m/index.html",
      imgSrc: "event/1st/e-main/components/dynamic-slider/items/bn-slider/bn-slider-1111.png",
      alt: "買就抽行動電源",
      child:[
        {
          link: "",
          imgSrc: "event/1st/e-main/components/dynamic-slider/items/bn-slider-promo/slider-promo-1111-1.png",
          alt: "",
        },
        {
          link: "",
          imgSrc: "event/1st/e-main/components/dynamic-slider/items/bn-slider-promo/slider-promo-1111-2.png",
          alt: "",
        },
        {
          link: "",
          imgSrc: "event/1st/e-main/components/dynamic-slider/items/bn-slider-promo/slider-promo-1111-3.png",
          alt: "",
        },
        {
          link: "",
          imgSrc: "event/1st/e-main/components/dynamic-slider/items/bn-slider-promo/slider-promo-1111-4.png",
          alt: "",
        },
      ]
    },
    { // 12
      time: "11/12",
      link: "https://media.etmall.com.tw/sp/4369/m/index.html",
      imgSrc: "event/1st/e-main/components/dynamic-slider/items/bn-slider/bn-slider-1112.png",
      alt: "儲值滿額抽iPad mini",
      child:[
        {
          link: "",
          imgSrc: "event/1st/e-main/components/dynamic-slider/items/bn-slider-promo/slider-promo-1112-1.png",
          alt: "",
        },
        {
          link: "",
          imgSrc: "event/1st/e-main/components/dynamic-slider/items/bn-slider-promo/slider-promo-1112-2.png",
          alt: "",
        },
        {
          link: "",
          imgSrc: "event/1st/e-main/components/dynamic-slider/items/bn-slider-promo/slider-promo-1112-3.png",
          alt: "",
        },
        {
          link: "",
          imgSrc: "event/1st/e-main/components/dynamic-slider/items/bn-slider-promo/slider-promo-1112-4.png",
          alt: "",
        },
      ]
    },
    { // 13, 13
      time: "11/13-11/14",
      link: "https://media.etmall.com.tw/sp/11646/m/index.html",
      imgSrc: "event/1st/e-main/components/dynamic-slider/items/bn-slider/bn-slider-1113.png",
      alt: "儲值滿額抽iPad mini",
      child:[
        {
          link: "https://www.etmall.com.tw/i/2433199",
          imgSrc: "event/1st/e-main/components/dynamic-slider/items/bn-slider-promo/slider-promo-1113-1.png",
          alt: "MyCard 500點 點數卡",
        },
        {
          link: "https://www.etmall.com.tw/i/2433205",
          imgSrc: "event/1st/e-main/components/dynamic-slider/items/bn-slider-promo/slider-promo-1113-2.png",
          alt: "MyCard 3000點 點數卡",
        },
        {
          link: "https://www.etmall.com.tw/i/2433206",
          imgSrc: "event/1st/e-main/components/dynamic-slider/items/bn-slider-promo/slider-promo-1113-3.png",
          alt: "MyCard 5000點 點數卡",
        },
        {
          link: "https://www.etmall.com.tw/i/2433207",
          imgSrc: "event/1st/e-main/components/dynamic-slider/items/bn-slider-promo/slider-promo-1113-4.png",
          alt: "MyCard 10000點 點數卡",
        },
      ]
    },
    { // 15
      time: "11/15",
      link: "https://www.etmall.com.tw/gp/149645",
      imgSrc: "event/1st/e-main/components/dynamic-slider/items/bn-slider/bn-slider-1115.png",
      alt: "儲值滿額抽iPad mini",
      child:[
        {
          link: "https://www.etmall.com.tw/i/3188482",
          imgSrc: "event/1st/e-main/components/dynamic-slider/items/bn-slider-promo/slider-promo-1115-1.png",
          alt: "TCL TAB 10s FHD with T-Pen 手寫筆 10.1吋平板 WiFi (4G/64G)",
        },
        {
          link: "https://www.etmall.com.tw/i/3014290",
          imgSrc: "event/1st/e-main/components/dynamic-slider/items/bn-slider-promo/slider-promo-1115-2.png",
          alt: "TCL TAB 10 FHD 窄邊框 10.1吋平板 WiFi (3G/32G)",
        },
        {
          link: "https://www.etmall.com.tw/i/2891355",
          imgSrc: "event/1st/e-main/components/dynamic-slider/items/bn-slider-promo/slider-promo-1115-3.png",
          alt: "Alcatel 阿爾卡特 1T10 SMART TAB 窄邊框 10.1吋平板 WiFi (2G/32G) 具備兒童模式",
        },
        {
          link: "https://www.etmall.com.tw/i/",
          imgSrc: "event/1st/e-main/components/dynamic-slider/items/bn-slider-promo/slider-promo-1115-4.png",
          alt: "",
        },
      ]
    },

  ]

- var promoData1 = promoData1

section.promo__group.promo__group--dynamic-slider.m-bottom--lg(data-title="彈珠活動")
  .layout--main
    .promo__wrap
      .promo__zone
        .promo__block
          .promo__box
            img(src="event/1st/e-main/components/dynamic-slider/title-2.png", alt="")
          .promo__slide.full-parent
            .promo__slide--parent#dynamicSlide.swiper-container.full-parent
              ul.swiper-wrapper
                each data, index in promoData1
                  li.swiper-slide
                    .slide__box
                      .slide__box--date= data.time
                      .slide__box--bn
                        a(href= data.link, alt= data.alt)
                          img(src= data.imgSrc, alt= data.alt)
                        .bn--mask
                      .slide__box--item
                        - var dataChild = data.child
                        each child, index in dataChild
                          .item__box
                            a(href= child.link)
                              img(src= child.imgSrc, alt= child.alt)











//- data-dynamic-2.js在assets資料夾內、由index.pug外連過去