section.promo__group.promo__dynamic-slider.m-bottom--sm(data-title="最高回饋")
  .layout--main
    .promo__title.block--center
      img(src="~event/1st/e-main/components/dynamic-slider-2/title-dynamic-slider-2.png", alt="")

    .promo__wrap
      #sliderDynamic2.promo__slider.swiper-container
        .swiper-wrapper

      #sliderDynamic2Pager.dynamic-slider-pager.swiper-pagination

//- data-dynamic-2.js在assets資料夾內、由index.pug外連過去