
section.hero__wrap(data-title="")
  .stage__bg
  .ball__animated
  .hero__zone
    .layout--main
      #heroBlock.hero__block
        .hero__box
          //- 標題
          h1.hero__title.hero__title--main.block--center.wow(title="1212激戰狂歡GO")
            canvas#canvas.snow__canvas
            img(class="title__t1-back" src="~event/3rd/u-main/components/hero-section/title-t1-back.png", alt="森誕狂歡GO")
            img(class="title__t1-front" src="~event/3rd/u-main/components/hero-section/title-t1-front.png", alt="森誕狂歡GO")
            img(class="title__t3" src="~event/3rd/u-main/components/hero-section/title-t3.png")
            //img(class="title__t2" src="~event/3rd/u-main/components/hero-section/title-t2.png")
        include /event/3rd/u-main/components/promo-slider/_promo-slider.pug
  //-.title-decoration__wrap
  .title__decoration.wow
    img(src="~event/3rd/u-main/components/hero-section/decoration__balloon.png")
    //img(src="https://www.etmall.com.tw/XML/content/DMSetting/Final/202012/SP_1116824/decoration__balloon.png")




