-
  var promoSpecialItems = [
    [ // 1
      { 
        link: "https://media.etmall.com.tw/sp/22815/m/index.html#citi",
        imgSrc: "event/2nd/e-main/components/promo-special/items/item-p-special-1-1.png",
        alt: "最高回饋15%"
      },
      { 
        link: "https://media.etmall.com.tw/sp/22220/m/index.html",
        imgSrc: "event/2nd/e-main/components/promo-special/items/item-p-special-1-2.png",
        alt: "最高回饋15%"
      },
      { 
        link: "https://media.etmall.com.tw/sp/22815/m/index.html#tcb",
        imgSrc: "event/2nd/e-main/components/promo-special/items/item-p-special-1-3.png",
        alt: "最高回饋12%"
      },
    ],
    [ // 2
      { 
        link: "https://media.etmall.com.tw/sp/22815/m/index.html#Taishin",
        imgSrc: "event/2nd/e-main/components/promo-special/items/item-p-special-2-1.png",
        alt: "最高回饋10%"
      },
      { 
        link: "https://media.etmall.com.tw/sp/22815/m/index.html#sinopac",
        imgSrc: "event/2nd/e-main/components/promo-special/items/item-p-special-2-2.png",
        alt: "累積分期滿$12,000送$1,200"
      },
      { 
        link: "https://media.etmall.com.tw/sp/22815/m/index.html#huanan",
        imgSrc: "event/2nd/e-main/components/promo-special/items/item-p-special-2-3.png",
        alt: "單件商品分期滿$5,200送$520"
      },
    ],
    [ // 3
      { 
        link: "https://media.etmall.com.tw/sp/22815/m/index.html#esun",
        imgSrc: "event/2nd/e-main/components/promo-special/items/item-p-special-3-1.png",
        alt: "累積分期滿$3,000回饋5%"
      },
      { 
        link: "https://media.etmall.com.tw/sp/22815/m/index.html#dbs",
        imgSrc: "event/2nd/e-main/components/promo-special/items/item-p-special-3-2.png",
        alt: "累積分期滿$22,000送$2,500"
      },
      { 
        link: "https://media.etmall.com.tw/sp/22815/m/index.html#Taichung",
        imgSrc: "event/2nd/e-main/components/promo-special/items/item-p-special-3-3.png",
        alt: "單件商品滿$10,000送$1,500"
      },
    ],
    [ // 4
      { 
        link: "https://media.etmall.com.tw/sp/22815/m/index.html#union",
        imgSrc: "event/2nd/e-main/components/promo-special/items/item-p-special-4-1.png",
        alt: "累積分期滿$25,000送$1,000"
      },
      { 
        link: "https://media.etmall.com.tw/sp/22815/m/index.html#zingala",
        imgSrc: "event/2nd/e-main/components/promo-special/items/item-p-special-4-2.png",
        alt: "單件商品滿$30,000回饋$2,400東森提貨券"
      },
      { 
        link: "https://media.etmall.com.tw/sp/22815/m/index.html#icashPay",
        imgSrc: "event/2nd/e-main/components/promo-special/items/item-p-special-4-3.png",
        alt: "單筆訂單滿$200回饋10% OPEN POINT"
      },
    ],
  ]

section.promo__group.promo-special.m-bottom--lg(data-title="銀行支付")
  .layout--main
    .decor__wrap.full-parent
      .decor__item.decor__item--left#decorPromoSpLeft
        img(src="event/2nd/e-main/components/promo-special/decor-promo-sp-left.png", alt="")
      .decor__item.decor__item--right#decorPromoSpRight
        img(src="event/2nd/e-main/components/promo-special/decor-promo-sp-right.png", alt="")
    .promo__wrap
      
      a(href="https://media.etmall.com.tw/sp/22815/m/index.html", title="23家銀行 最高回饋15%") 
      .promo__zone
        .promo__block
          ul.event__block
            li.special__item#specialItem1
              .swiper-container.container--promo-special
                ul.swiper-wrapper
                  each item, itemIndex in promoSpecialItems[0]
                    li.swiper-slide.promo__item
                      a(href=  item.link, title= item.alt)
                        img(src=  item.imgSrc, alt= item.alt)

            li.special__item#specialItem2
              .swiper-container.container--promo-special
                ul.swiper-wrapper
                  each item, itemIndex in promoSpecialItems[1]
                    li.swiper-slide.promo__item
                      a(href=  item.link, title= item.alt)
                        img(src=  item.imgSrc, alt= item.alt)

            li.special__item#specialItem3
              .swiper-container.container--promo-special
                ul.swiper-wrapper
                  each item, itemIndex in promoSpecialItems[2]
                    li.swiper-slide.promo__item
                      a(href=  item.link, title= item.alt)
                        img(src=  item.imgSrc, alt= item.alt)

            li.special__item#specialItem4
              .swiper-container.container--promo-special
                ul.swiper-wrapper
                  each item, itemIndex in promoSpecialItems[3]
                    li.swiper-slide.promo__item
                      a(href=  item.link, title= item.alt)
                        img(src=  item.imgSrc, alt= item.alt)