.promo__group--bn-special
  margin-left: auto
  margin-right: auto
  .promo__slider
    // height: 100%
    .swiper-container
      // height: 100%
      .swiper-slide
        transition: transform 0.5s
        transform: translateY(-100%)
      .swiper-slide-active,
      .swiper-slide-duplicate-active,
        transform: translateY(0)

      .swiper-slide
        &:hover,
        &:active
          filter: contrast(120%)
        img
          &:last-child
            display: none
          +breakpoint-min($min-width-xl)
            &:first-child
              display: none
            &:last-child
              display: block
              margin-left: auto
              margin-right: auto

