section.hero__wrap
  .layout--main
    .hero__zone
      .hero__box
        .hero__title.hero__title--main.block-center
          h1
            .title__box(title="1212手速要快！")
              img(src="event/1st/e-main/components/hero-section/title.png", alt="1212手速要快！")
