.bn-slider
  +pos-set(relative, zero)
  overflow: hidden
  .decor__wrap
    // padding-bottom: 5%
    // +breakpoint-min($min-width-xl)
      // padding-bottom: 1%
  .decor__item
    &--left
      +pos-set(absolute, zero, 2%, 8%)
      width: 26%
      // opacity: .3
      // transition: 2s
      &.active
        // transition: .5s
        animation: stamp-pulse .3s linear 1 forwards
      +breakpoint-min($min-width-xl)
        top: 40px
        left: calc(50% - 375px)
    &--right
      +pos-set(absolute, zero, 7%)
      right: 19%
      width: 18%
      &.active
        animation: stamp-swing 1s 1s ease-in 3
      +breakpoint-min($min-width-xl)
        right: calc(50% - 300px)
    +breakpoint-min($min-width-xl)
      width: auto
  .promo__wrap
    +bg-set(url(event/2nd/e-main/components/bn-slider/bg-bn-slider.png), 100%)
  .promo__zone
    +aspect-ratio(960, 1086)
  .promo__block
    padding: 0 6%
    .promo__box
      +pos-set(absolute, zero)
      bottom: 6%
      left: 2.5%
      width: 95%
      .swiper-slide
        padding: .7%



@keyframes stamp-pulse
  0%
    opacity: 0
  10%
    opacity:.50
    transform-origin: 50% 50%
    transform: scale(5)
    transition: all .3s cubic-bezier(0.6, 0.04, 0.98, 0.335)
  100%
    opacity:1
    transform: scale(1)

@keyframes stamp-swing
  20%
    transform: rotate(15deg)
  40%
    transform: rotate(-10deg)
  60%
    transform: rotate(5deg)
  80%
    transform: rotate(-5deg)
  to
    transform: rotate(0deg)