
.promo__group--tab-wrap-2
  .tab__wrap
    padding-top: 10vw
    //+bg-set(url("~event/3rd/e-main/components/tab-section-2/bg-tab-2.png"), 100%, center, 0)
    +bg-set(url("https://media.etmall.com.tw/sp/8249/bg-tab-2.png"), 100%, center, 0)
    .tab__box
      li
        width: 25%
    .content__block
      padding: 2.5% 7% 18.5% 7%
  +breakpoint-min($min-width-xl)
    margin-bottom: 41px
    .tab__wrap
      padding-top: 90px
      .content__block
        padding: 16px 60px 120px 60px
  .tab--bg
    +breakpoint-min($min-width-xl)
      //+bg-set(url("~event/3rd/e-main/components/tab-section-2/bg-tab-web-2.png"))
      +bg-set(url("https://media.etmall.com.tw/sp/8249/bg-tab-web-2.png"))
      background-size: 1075px 1029px
      height: 1029px
      .tab__wrap
        background-image: none