// // ==========================================================================
// // Plugins
// // ==========================================================================
// // @import "vendors/animate"
@import "~vendors/style/swiper-slider-custom"
@import "~swiper/swiper-bundle.css"

// // ==========================================================================
// // components
// // ==========================================================================

// hero section
// ===========================
// other components
// ===========================
@import "~event/2nd/e-main/components/tab-section/_tab-section"
// // ==========================================================================
// // Page
// // ==========================================================================
body
  +pos-set(relative, zero)
  background-color: #fff
  font-family: "Century Gothic", "source-han-sans-traditional"

.sp__wrap
  +pos-set(relative, base)

.sp__wrap a
  display: block
