

section.hero
  .layout--main
    .hero__wrap
      .hero__zone
        //- .video__wrap
        //-   .video__block
        //-     include /event/1st/e-main/components/hero-section/hero-video/_hero-video.pug

        .hero__stage
          img(src="event/1st/e-main/components/hero-section/hero-stage.png" alt="同學們!購起來!")
          .marquee
            .marquee__box
              //- 一格字符語法：&nbsp
              //- 兩行字數需要一樣，且控制在 14字數內
              p.message--1
                span 跑馬燈跑馬燈跑馬燈跑馬燈跑一
              p.message--2
                span 跑馬燈跑馬燈跑馬燈跑馬燈跑二
            
        .hero__title
          img(src="event/1st/e-main/components/hero-section/title.png" alt="同學們!購起來!")
        .hero__figure 
          img(src="event/1st/e-main/components/hero-section/hero-figure.png" alt="同學們!購起來!")
