main.hero__wrap.m-bottom--xl
  .layout--main
    .hero__block
      .hero__box
        //- 標題
        h1.hero__title.hero__title--main(title="618選隊戰")
          img(src="event/1st/e-main/components/hero-section/title.jpg", alt="618選隊戰")





