-
  var promoSpecialSlider = [
    { // 1
      link: "https://media.etmall.com.tw/sp/22194/m/index.html#citi",
      imgSrc: "event/2nd/e-main/components/promo-special/items/bn-p-special-1.png",
      alt: "花旗銀行 單筆分期滿$15,000送$1,800 東森提貨券"
    },
    { // 2
      link: "https://media.etmall.com.tw/sp/22194/m/index.html#esun",
      imgSrc: "event/2nd/e-main/components/promo-special/items/bn-p-special-2.png",
      alt: "玉山 累積分期滿3,800元送380元"
    },
    { // 3
      link: "https://media.etmall.com.tw/sp/22194/m/index.html#dbs",
      imgSrc: "event/2nd/e-main/components/promo-special/items/bn-p-special-3.png",
      alt: "星展 累積分期滿$20,000送$2,200"
    },
    { // 4
      link: "https://media.etmall.com.tw/sp/22194/m/index.html#AEP",
      imgSrc: "event/2nd/e-main/components/promo-special/items/bn-p-special-4.png",
      alt: "美國運通 單筆訂單滿$8,000送$500東森提貨券"
    },
    { // 5
      link: "https://media.etmall.com.tw/sp/22194/m/index.html#zingala",
      imgSrc: "event/2nd/e-main/components/promo-special/items/bn-p-special-5.png",
      alt: "zingala銀角零卡 單件商品滿$30,000回饋$2,400東森提貨券"
    },
    { // 6
      link: "https://media.etmall.com.tw/sp/22194/m/index.html#icashPay",
      imgSrc: "event/2nd/e-main/components/promo-special/items/bn-p-special-6.png",
      alt: "iCash Pay 單筆訂單滿$200回饋10% OPEN POINT"
    },
  ]

section.promo__group.promo-special.m-bottom--lg(data-title="銀行支付")
  .layout--main
    .decor__wrap.full-parent
      .decor__item.decor__item--left#decorPromoSpLeft
        img(src="event/2nd/e-main/components/promo-special/decor-promo-sp-left.png", alt="")
      .decor__item.decor__item--right#decorPromoSpRight
        img(src="event/2nd/e-main/components/promo-special/decor-promo-sp-right.png", alt="")
    .promo__wrap
      .promo__zone
        .promo__block
          ul.event__block
            li.special__item
              a(href="https://media.etmall.com.tw/sp/22194/m/index.html#citi", title="花旗銀行 最高回饋12%")
                img(src="event/2nd/e-main/components/promo-special/items/item-p-special-1.png", alt="花旗銀行 最高回饋12%")
            li.promo__slider
              .slider__wrap
                .swiper-container.container--promo-special
                  ul.swiper-wrapper
                    each data, index in promoSpecialSlider
                      if index >= 0  && index < 3 
                        li.swiper-slide
                          a(href= data.link, title=data.alt)
                            img(src= data.imgSrc, alt=data.alt)
          ul.event__block
            li.promo__slider
              .slider__wrap
                .swiper-container.container--promo-special
                  ul.swiper-wrapper
                    each data, index in promoSpecialSlider
                      if index >= 3  
                        li.swiper-slide
                          a(href= data.link, title=data.alt)
                            img(src= data.imgSrc, alt=data.alt)
            li.special__item
              a(href="https://media.etmall.com.tw/sp/22194/m/index.html#esun", title="玉山銀行 最高回饋10%")
                img(src="event/2nd/e-main/components/promo-special/items/item-p-special-2.png", alt="玉山銀行 最高回饋10%")
