.promo__group--promo-special
  +pos-set(relative, zero)
  overflow: hidden
  .promo__zone
    +aspect-ratio(909, 340)
    .special__wrap
      +pos-set(absolute, zero, 0)
      .special__box
        display: flex
        justify-content: center