section.promo__group.promo__group--promo-special.m-bottom--md(data-title="妳是哪一派?")
  .layout--main
    .promo__wrap
      .promo__zone 
        ul.special__wrap
          li.special__zone
            ul.special__box
              li.special__item
                a(href="") 
                  img(src="event/1st/e-main/components/promo-special/special-1.png", alt="")
              li.special__item
                a(href="") 
                  img(src="event/1st/e-main/components/promo-special/special-2.png", alt="")
              li.special__item
                a(href="") 
                  img(src="event/1st/e-main/components/promo-special/special-3.png", alt="")