//- 如果此區塊不給IE9則打開註解的註解XD
//- <!-- ie9 -->
//- <!--[if !IE]><!-->

section.promo__group.promo__group--countdown.m-bottom--md(data-title="集氣五折")
  .layout--main
    .countdown__wrap
      .timer__wrap
        span 倒數
        span#timerCountdown
      #sliderCountdown.product__wrap--countdown.swiper-container
        ul#productWrapCountdown.swiper-wrapper
      //- #sliderGoodsFlipPager.swiper-pager-white.swiper-pagination
      #sliderCountdownPrev.swiper-button-prev
      #sliderCountdownNext.swiper-button-next

//- //- 如果此區塊不給IE9則打開註解的註解XD
//- <!--<![endif]-->
//- data-countdown在assets資料夾內、連結寫在index.pug內
