main#spWrap.sp__wrap.sp__wrap--e
  include /layout/header/_header

  include /components/hero-section-2/_hero-section-2

  include /components/bank-section/_bank-section

  include /components/bn-event/_bn-event

//- scriptå€
include /utils/pug/_total-script
