section.promo__group.promo__group--connect.m-bottom--md
  .layout--main
    .anchor__title(data-title="爆款好禮", title="爆款好禮區")
      img(src="~event/3rd/e-main/components/connect-anchor/anchor-title-1.png", alt="爆款好禮區")
    ul.anchor__wrap
      li
        a(href="#forSupervisors", title="送長官")
          img(src="~event/3rd/e-main/components/connect-anchor/items/link-1.png", alt="送長官")
      li
        a(href="#forElders", title="送長輩")
          img(src="~event/3rd/e-main/components/connect-anchor/items/link-2.png", alt="送長輩")
      li
        a(href="#forFriends", title="送朋友")
          img(src="~event/3rd/e-main/components/connect-anchor/items/link-3.png", alt="送朋友")

    .anchor__title(data-title="犒賞自己", title="犒賞自己區")
      img(src="~event/3rd/e-main/components/connect-anchor/anchor-title-2.png", alt="犒賞自己區")
    ul.anchor__wrap
      li
        a(href="#forEats", title="吃好的")
          img(src="~event/3rd/e-main/components/connect-anchor/items/link-4.png", alt="吃好的")
      li
        a(href="#forUses", title="用好的")
          img(src="~event/3rd/e-main/components/connect-anchor/items/link-5.png", alt="用好的")
      li
        a(href="#forPrepare", title="屯好的")
          img(src="~event/3rd/e-main/components/connect-anchor/items/link-6.png", alt="屯好的")
