section.promo__group.promo__group--random.m-bottom--lg(data-title="雪人遊戲")
  .layout--main
    .promo__wrap#randomWrap
      .promo__zone
        .promo__block
          .promo__item#randomItem1
            img(src="event/1st/e-main/components/random-show/click-before.gif", alt="")
          .promo__item.hide#randomItem2
            img(src="event/1st/e-main/components/random-show/click-after.gif", alt="")
        .popup__wrap#popUpWrap
          //- .popup__overlay
          .popup__block
              a(href="")
                //- img(src="assets/current/img/1.png", alt="")
                
                img(src="", alt="")
                //- .popup__alert 成功!
        .promo__box
          a(href="")
            img(src="event/1st/e-main/components/random-show/random-show-btn.png", alt="")
          