//- 主視覺
section.sp__visual
  .layout--main
    ul.visual--auto.clearfix
      li.visual__fragment.width--auto
        a(href="#")
          img(src="event/1st/e-main/components/sp-visual/index_01.png", alt="94划算")
      li.visual__fragment.width--auto
        a(href="https://www.etmall.com.tw")
          img(src="event/1st/e-main/components/sp-visual/index_02.png", alt="好神拖")
      li.visual__fragment.width--auto
        a(href="https://www.etmall.com.tw")
          img(src="event/1st/e-main/components/sp-visual/index_03.png", alt="3M")
      li.visual__fragment.width--auto
        a(href="https://www.etmall.com.tw")
          img(src="event/1st/e-main/components/sp-visual/index_04.png", alt="買一送一")
      li.visual__fragment.width--auto
        a(href="https://www.etmall.com.tw")
          img(src="event/1st/e-main/components/sp-visual/index_05.png", alt="舒酸定")
      li.visual__fragment.width--auto
        a(href="https://www.etmall.com.tw")
          img(src="event/1st/e-main/components/sp-visual/index_12.jpg", alt="舒酸定")
      li.visual__fragment.width--auto
        a(href="https://www.etmall.com.tw")
          img(src="event/1st/e-main/components/sp-visual/index_13.jpg", alt="舒酸定")
      li.visual__fragment.width--auto
        a(href="https://www.etmall.com.tw")
          img(src="event/1st/e-main/components/sp-visual/index_14.jpg", alt="舒酸定")
    .decor__item.wow.animate__rollIn
      .animate__animated.animate__heartBeat.animate__delay-3s
        img(src="event/1st/e-main/components/sp-visual/decor-item.png", alt="測試用文字 正式上線要拿掉")




//- original html version
//-  <section class="sp__visual">
      <div class="layout--main">
        <ul class="visual--auto clearfix">
          <li class="visual__fragment width--auto">
            <img src="index_01.png" title="94划算" alt="94划算">
          </li>
          <li class="visual__fragment width--auto">
            <a href="#" title="好神拖">
              <img src="index_02.png" alt="好神拖">
            </a>
          </li>
          <li class="visual__fragment width--auto">
            <a href="https://www.etmall.com.tw" title="3M">
              <img src="index_03.png" alt="3M">
            </a>
          </li>
          <li class="visual__fragment width--auto">
            <a href="https://www.etmall.com.tw" title="買一送一">
              <img src="index_04.png" alt="買一送一">
            </a>
          </li>
          <li class="visual__fragment width--auto">
            <a href="https://www.etmall.com.tw" title="舒酸定">
              <img src="index_05.png" alt="舒酸定">
            </a>
          </li>
        </ul>
      </div>
    </section>
