main.sp__wrap
  include /layout/header/_header

  //- hero section
  //- ===========================
  include /event/1st/e-main/components/hero-section/_hero-section

  //- other components
  //- ===========================
  //- TODO: 如果promo不用和hero綁在一起時放這
  include /event/1st/e-main/components/nav-menu/_nav-menu
  include /event/1st/e-main/components/loyalty-card/_loyalty-card
  include /event/1st/e-main/components/collect-exchange/_collect-exchange
  include /event/1st/e-main/components/collect-buy/_collect-buy

//- script區
//- include /utils/pug/_total-script

