.promo__bn-event
  .promo__wrap
    +pos-set(relative, zero)
    padding: 3% 5% 7.5% 3%
    +bg-set(url(~event/2nd/e-main/components/bn-event/bg-bn-event.png), 100%)
    .swiper-wrapper
      justify-content: space-between
    .swiper-slide
      width: 49.3%
    .bn-event-pager
      bottom: 11%
      left: 49%
      transform: translateX(-50%)
      .swiper-pagination-bullet
        margin: 0 2px
        width: 6px
        height: 6px
        background-color: $gray-deep-dark
        opacity: .8
        outline: 0
      .swiper-pagination-bullet-active
        background-color: $main-e-background-color-2nd-2
        transform: translateY(-10%)
        opacity: 1

      +breakpoint-min($min-width-lg)
        bottom: 33px
        .swiper-pagination-bullet
          margin: 0 6px
          width: 12px
          height: 12px

      +breakpoint-min($min-width-xl)
        bottom: 40px
        .swiper-pagination-bullet
          margin: 0 8px
          width: 16px
          height: 16px