.bg--decoration
  #decorationBg.decoration__wrap.decoration--under.wow
    .layout--main
      .decoration__block
    #decorationFirefly.decoration--firefly
      include /utils/bg-decoration-instance/canvas-firework/_canvas-firework
  //- .decoration__wrap.decoration--curtains.wow
  //-   .curtains__wrap
  //-     .curtains__block
  //-       .layout--main
  //-         .curtains__box
  //-     .curtains__block--bottom
  //-       .layout--main
  //-         .curtains__box
  //-           img(src="~event/3rd/e-main/components/bg-decoration/decoration-curtains-bottom.png", alt="")
