.bg--decoration
  .decoration__wrap.decoration--under.wow
    .layout--main
      .decoration__block
  .decoration__wrap.decoration--curtains.wow
    .curtains__wrap
      .curtains__block
        .layout--main
          .curtains__box
      .curtains__block--bottom
        .layout--main
          .curtains__box
            img(src="~event/1st/u-main/components/bg-decoration/decoration-curtains-bottom.png", alt="")