section.new__product
  img(src="~event/1st/e-main/components/new-product/new-product-m.jpg")
  //img(src="~event/1st/e-main/components/new-product/new-product-web.jpg")
  a(href="https://www.etmall.com.tw/c2/107787" title="iphone12")
  a(href="https://www.etmall.com.tw/c2/107788" title="ipad")
  a(href="https://www.etmall.com.tw/c3/145283" title="samsung")
  a(href="https://www.etmall.com.tw/c3/144586" title="realme")
  a(href="https://www.etmall.com.tw/c3/145300" title="asus")