// // ==========================================================================
// // main
// // ==========================================================================
.new__product
  +pos-set(relative, zero)
  overflow: hidden
  a
    position: absolute
    //border: 1px solid #f24
    width: 100vw
    &:nth-of-type(1)
      top: 0
      height: 49vw
    &:nth-of-type(2)
      top: 49vw
      height: 58vw
    &:nth-of-type(3)
      top: 107vw
      height: 51vw
    &:nth-of-type(4)
      top: 158vw
      height: 53vw
    &:nth-of-type(5)
      top: 211vw
      height: 54vw
  +breakpoint-min($min-width-xl)
    +bg-set(url("~event/1st/e-main/components/new-product/new-product-bg.jpg"), 2560px 2601px)
    img
      display: block
      margin: 0 auto
      text-align: center
    a
      position: absolute
      width: 100%
      max-width: 960px
      left: calc(50% - 480px)
      &:nth-of-type(1)
        top: 0
        height: 470px
      &:nth-of-type(2)
        top: 470px
        height: 557px
      &:nth-of-type(3)
        top: 1027px
        height: 490px
      &:nth-of-type(4)
        top: 1517px
        height: 509px
      &:nth-of-type(5)
        top: 2026px
        height: 518px


