section.promo__group.promo__group--daily-tab.m-bottom--md(data-title="每日精選")
  .layout--main
    .promo__wrap
      .promo__zone
        ul.tab__wrap
          li.tab__zone
            ul#dailyTab.tab__box

          li.content__zone
            ul#dailyTabContent.content__block
              li.content__box.full-parent
                .content__item
                  .pic__box
                    a(href="https://media.etmall.com.tw/sp/9565/m/index.html", title="每日精選特輯")
                      img(src="event/1st/e-main/components/daily-tab/items/tab-1129-0.png", alt="每日精選特輯")
                  .item__wrap
                    .tab__slider.swiper-container
                      ul.swiper-wrapper
                        li.swiper-slide
                          .item__box
                            a(href="", title="每日精選商品")
                              .item__intro 小標標標標小標標標標
                              .item__intro.item__intro--2 大標標標大標標標標
                              .item__price
                                span $
                                span 1,012
                              .item__pic.block--center
                                img(src="event/1st/e-main/components/daily-tab/items/tab-1129-1.jpg", alt="每日精選商品")
                        li.swiper-slide
                          .item__box
                            a(href="", title="每日精選商品")
                              .item__intro 小標標標標
                              .item__intro.item__intro--2 大標標標大標標標標
                              .item__price
                                span $
                                span 1,012
                              .item__pic.block--center
                                img(src="event/1st/e-main/components/daily-tab/items/tab-1129-2.jpg", alt="每日精選商品")
                        li.swiper-slide
                          .item__box
                            a(href="", title="每日精選商品")
                              .item__intro 小標標標標
                              .item__intro.item__intro--2 大標標標大標標標標
                              .item__price
                                span $
                                span 1,012
                              .item__pic.block--center
                                img(src="event/1st/e-main/components/daily-tab/items/tab-1129-3.jpg", alt="每日精選商品")

              li.content__box.full-parent
                .content__item
                  .pic__box
                    a(href="https://media.etmall.com.tw/sp/9565/m/index.html", title="每日精選特輯")
                      img(src="event/1st/e-main/components/daily-tab/items/tab-1130-0.png", alt="每日精選特輯")
                  .item__wrap
                    .tab__slider.swiper-container
                      ul.swiper-wrapper
                        li.swiper-slide
                          .item__box
                            a(href="", title="每日精選商品")
                              .item__intro 小標標標標小標標標標
                              .item__intro.item__intro--2 大標標標大標標標標
                              .item__price
                                span $
                                span 1,012
                              .item__pic.block--center
                                img(src="event/1st/e-main/components/daily-tab/items/tab-1130-1.jpg", alt="每日精選商品")
                        li.swiper-slide
                          .item__box
                            a(href="", title="每日精選商品")
                              .item__intro 小標標標標
                              .item__intro.item__intro--2 大標標標大標標標標
                              .item__price
                                span $
                                span 1,012
                              .item__pic.block--center
                                img(src="event/1st/e-main/components/daily-tab/items/tab-1130-2.jpg", alt="每日精選商品")
                        li.swiper-slide
                          .item__box
                            a(href="", title="每日精選商品")
                              .item__intro 小標標標標
                              .item__intro.item__intro--2 大標標標大標標標標
                              .item__price
                                span $
                                span 1,012
                              .item__pic.block--center
                                img(src="event/1st/e-main/components/daily-tab/items/tab-1130-3.jpg", alt="每日精選商品")

              li.content__box.full-parent
                .content__item
                  .pic__box
                    a(href="https://media.etmall.com.tw/sp/9565/m/index.html", title="每日精選特輯")
                      img(src="event/1st/e-main/components/daily-tab/items/tab-1201-0.png", alt="每日精選特輯")
                  .item__wrap
                    .tab__slider.swiper-container
                      ul.swiper-wrapper
                        li.swiper-slide
                          .item__box
                            a(href="", title="每日精選商品")
                              .item__intro 小標標標標小標標標標
                              .item__intro.item__intro--2 大標標標大標標標標
                              .item__price
                                span $
                                span 1,012
                              .item__pic.block--center
                                img(src="event/1st/e-main/components/daily-tab/items/tab-1201-1.jpg", alt="每日精選商品")
                        li.swiper-slide
                          .item__box
                            a(href="", title="每日精選商品")
                              .item__intro 小標標標標
                              .item__intro.item__intro--2 大標標標大標標標標
                              .item__price
                                span $
                                span 1,012
                              .item__pic.block--center
                                img(src="event/1st/e-main/components/daily-tab/items/tab-1201-2.jpg", alt="每日精選商品")
                        li.swiper-slide
                          .item__box
                            a(href="", title="每日精選商品")
                              .item__intro 小標標標標
                              .item__intro.item__intro--2 大標標標大標標標標
                              .item__price
                                span $
                                span 1,012
                              .item__pic.block--center
                                img(src="event/1st/e-main/components/daily-tab/items/tab-1201-3.jpg", alt="每日精選商品")

              li.content__box.full-parent
                .content__item
                  .pic__box
                    a(href="https://media.etmall.com.tw/sp/9565/m/index.html", title="每日精選特輯")
                      img(src="event/1st/e-main/components/daily-tab/items/tab-1202-0.png", alt="每日精選特輯")
                  .item__wrap
                    .tab__slider.swiper-container
                      ul.swiper-wrapper
                        li.swiper-slide
                          .item__box
                            a(href="", title="每日精選商品")
                              .item__intro 小標標標標小標標標標
                              .item__intro.item__intro--2 大標標標大標標標標
                              .item__price
                                span $
                                span 1,012
                              .item__pic.block--center
                                img(src="event/1st/e-main/components/daily-tab/items/tab-1202-1.jpg", alt="每日精選商品")
                        li.swiper-slide
                          .item__box
                            a(href="", title="每日精選商品")
                              .item__intro 小標標標標
                              .item__intro.item__intro--2 大標標標大標標標標
                              .item__price
                                span $
                                span 1,012
                              .item__pic.block--center
                                img(src="event/1st/e-main/components/daily-tab/items/tab-1202-2.jpg", alt="每日精選商品")
                        li.swiper-slide
                          .item__box
                            a(href="", title="每日精選商品")
                              .item__intro 小標標標標
                              .item__intro.item__intro--2 大標標標大標標標標
                              .item__price
                                span $
                                span 1,012
                              .item__pic.block--center
                                img(src="event/1st/e-main/components/daily-tab/items/tab-1202-3.jpg", alt="每日精選商品")

              li.content__box.full-parent
                .content__item
                  .pic__box
                    a(href="https://media.etmall.com.tw/sp/9565/m/index.html", title="每日精選特輯")
                      img(src="event/1st/e-main/components/daily-tab/items/tab-1203-0.png", alt="每日精選特輯")
                  .item__wrap
                    .tab__slider.swiper-container
                      ul.swiper-wrapper
                        li.swiper-slide
                          .item__box
                            a(href="", title="每日精選商品")
                              .item__intro 小標標標標小標標標標
                              .item__intro.item__intro--2 大標標標大標標標標
                              .item__price
                                span $
                                span 1,012
                              .item__pic.block--center
                                img(src="event/1st/e-main/components/daily-tab/items/tab-1203-1.jpg", alt="每日精選商品")
                        li.swiper-slide
                          .item__box
                            a(href="", title="每日精選商品")
                              .item__intro 小標標標標
                              .item__intro.item__intro--2 大標標標大標標標標
                              .item__price
                                span $
                                span 1,012
                              .item__pic.block--center
                                img(src="event/1st/e-main/components/daily-tab/items/tab-1203-2.jpg", alt="每日精選商品")
                        li.swiper-slide
                          .item__box
                            a(href="", title="每日精選商品")
                              .item__intro 小標標標標
                              .item__intro.item__intro--2 大標標標大標標標標
                              .item__price
                                span $
                                span 1,012
                              .item__pic.block--center
                                img(src="event/1st/e-main/components/daily-tab/items/tab-1203-3.jpg", alt="每日精選商品")

              li.content__box.full-parent
                .content__item
                  .pic__box
                    a(href="https://media.etmall.com.tw/sp/9565/m/index.html", title="每日精選特輯")
                      img(src="event/1st/e-main/components/daily-tab/items/tab-1204-0.png", alt="每日精選特輯")
                  .item__wrap
                    .tab__slider.swiper-container
                      ul.swiper-wrapper
                        li.swiper-slide
                          .item__box
                            a(href="", title="每日精選商品")
                              .item__intro 小標標標標小標標標標
                              .item__intro.item__intro--2 大標標標大標標標標
                              .item__price
                                span $
                                span 1,012
                              .item__pic.block--center
                                img(src="event/1st/e-main/components/daily-tab/items/tab-1204-1.jpg", alt="每日精選商品")
                        li.swiper-slide
                          .item__box
                            a(href="", title="每日精選商品")
                              .item__intro 小標標標標
                              .item__intro.item__intro--2 大標標標大標標標標
                              .item__price
                                span $
                                span 1,012
                              .item__pic.block--center
                                img(src="event/1st/e-main/components/daily-tab/items/tab-1204-2.jpg", alt="每日精選商品")
                        li.swiper-slide
                          .item__box
                            a(href="", title="每日精選商品")
                              .item__intro 小標標標標
                              .item__intro.item__intro--2 大標標標大標標標標
                              .item__price
                                span $
                                span 1,012
                              .item__pic.block--center
                                img(src="event/1st/e-main/components/daily-tab/items/tab-1204-3.jpg", alt="每日精選商品")

              li.content__box.full-parent
                .content__item
                  .pic__box
                    a(href="https://media.etmall.com.tw/sp/9565/m/index.html", title="每日精選特輯")
                      img(src="event/1st/e-main/components/daily-tab/items/tab-1205-0.png", alt="每日精選特輯")
                  .item__wrap
                    .tab__slider.swiper-container
                      ul.swiper-wrapper
                        li.swiper-slide
                          .item__box
                            a(href="", title="每日精選商品")
                              .item__intro 小標標標標小標標標標
                              .item__intro.item__intro--2 大標標標大標標標標
                              .item__price
                                span $
                                span 1,012
                              .item__pic.block--center
                                img(src="event/1st/e-main/components/daily-tab/items/tab-1205-1.jpg", alt="每日精選商品")
                        li.swiper-slide
                          .item__box
                            a(href="", title="每日精選商品")
                              .item__intro 小標標標標
                              .item__intro.item__intro--2 大標標標大標標標標
                              .item__price
                                span $
                                span 1,012
                              .item__pic.block--center
                                img(src="event/1st/e-main/components/daily-tab/items/tab-1205-2.jpg", alt="每日精選商品")
                        li.swiper-slide
                          .item__box
                            a(href="", title="每日精選商品")
                              .item__intro 小標標標標
                              .item__intro.item__intro--2 大標標標大標標標標
                              .item__price
                                span $
                                span 1,012
                              .item__pic.block--center
                                img(src="event/1st/e-main/components/daily-tab/items/tab-1205-3.jpg", alt="每日精選商品")

              li.content__box.full-parent
                .content__item
                  .pic__box
                    a(href="https://media.etmall.com.tw/sp/9565/m/index.html", title="每日精選特輯")
                      img(src="event/1st/e-main/components/daily-tab/items/tab-1206-0.png", alt="每日精選特輯")
                  .item__wrap
                    .tab__slider.swiper-container
                      ul.swiper-wrapper
                        li.swiper-slide
                          .item__box
                            a(href="", title="每日精選商品")
                              .item__intro 小標標標標小標標標標
                              .item__intro.item__intro--2 大標標標大標標標標
                              .item__price
                                span $
                                span 1,012
                              .item__pic.block--center
                                img(src="event/1st/e-main/components/daily-tab/items/tab-1206-1.jpg", alt="每日精選商品")
                        li.swiper-slide
                          .item__box
                            a(href="", title="每日精選商品")
                              .item__intro 小標標標標
                              .item__intro.item__intro--2 大標標標大標標標標
                              .item__price
                                span $
                                span 1,012
                              .item__pic.block--center
                                img(src="event/1st/e-main/components/daily-tab/items/tab-1206-2.jpg", alt="每日精選商品")
                        li.swiper-slide
                          .item__box
                            a(href="", title="每日精選商品")
                              .item__intro 小標標標標
                              .item__intro.item__intro--2 大標標標大標標標標
                              .item__price
                                span $
                                span 1,012
                              .item__pic.block--center
                                img(src="event/1st/e-main/components/daily-tab/items/tab-1206-3.jpg", alt="每日精選商品")

              li.content__box.full-parent
                .content__item
                  .pic__box
                    a(href="https://media.etmall.com.tw/sp/9565/m/index.html", title="每日精選特輯")
                      img(src="event/1st/e-main/components/daily-tab/items/tab-1206-0.png", alt="每日精選特輯")
                  .item__wrap
                    .tab__slider.swiper-container
                      ul.swiper-wrapper
                        li.swiper-slide
                          .item__box
                            a(href="", title="每日精選商品")
                              .item__intro 小標標標標小標標標標
                              .item__intro.item__intro--2 大標標標大標標標標
                              .item__price
                                span $
                                span 1,012
                              .item__pic.block--center
                                img(src="event/1st/e-main/components/daily-tab/items/tab-1206-1.jpg", alt="每日精選商品")
                        li.swiper-slide
                          .item__box
                            a(href="", title="每日精選商品")
                              .item__intro 小標標標標
                              .item__intro.item__intro--2 大標標標大標標標標
                              .item__price
                                span $
                                span 1,012
                              .item__pic.block--center
                                img(src="event/1st/e-main/components/daily-tab/items/tab-1206-2.jpg", alt="每日精選商品")
                        li.swiper-slide
                          .item__box
                            a(href="", title="每日精選商品")
                              .item__intro 小標標標標
                              .item__intro.item__intro--2 大標標標大標標標標
                              .item__price
                                span $
                                span 1,012
                              .item__pic.block--center
                                img(src="event/1st/e-main/components/daily-tab/items/tab-1206-3.jpg", alt="每日精選商品")

              li.content__box.full-parent
                .content__item
                  .pic__box
                    a(href="https://media.etmall.com.tw/sp/9565/m/index.html", title="每日精選特輯")
                      img(src="event/1st/e-main/components/daily-tab/items/tab-1129-0.png", alt="每日精選特輯")
                  .item__wrap
                    .tab__slider.swiper-container
                      ul.swiper-wrapper
                        li.swiper-slide
                          .item__box
                            a(href="", title="每日精選商品")
                              .item__intro 小標標標標小標標標標
                              .item__intro.item__intro--2 大標標標大標標標標
                              .item__price
                                span $
                                span 1,012
                              .item__pic.block--center
                                img(src="event/1st/e-main/components/daily-tab/items/tab-1129-1.jpg", alt="每日精選商品")
                        li.swiper-slide
                          .item__box
                            a(href="", title="每日精選商品")
                              .item__intro 小標標標標
                              .item__intro.item__intro--2 大標標標大標標標標
                              .item__price
                                span $
                                span 1,012
                              .item__pic.block--center
                                img(src="event/1st/e-main/components/daily-tab/items/tab-1129-2.jpg", alt="每日精選商品")
                        li.swiper-slide
                          .item__box
                            a(href="", title="每日精選商品")
                              .item__intro 小標標標標
                              .item__intro.item__intro--2 大標標標大標標標標
                              .item__price
                                span $
                                span 1,012
                              .item__pic.block--center
                                img(src="event/1st/e-main/components/daily-tab/items/tab-1129-3.jpg", alt="每日精選商品")

              li.content__box.full-parent
                .content__item
                  .pic__box
                    a(href="https://media.etmall.com.tw/sp/9565/m/index.html", title="每日精選特輯")
                      img(src="event/1st/e-main/components/daily-tab/items/tab-1130-0.png", alt="每日精選特輯")
                  .item__wrap
                    .tab__slider.swiper-container
                      ul.swiper-wrapper
                        li.swiper-slide
                          .item__box
                            a(href="", title="每日精選商品")
                              .item__intro 小標標標標小標標標標
                              .item__intro.item__intro--2 大標標標大標標標標
                              .item__price
                                span $
                                span 1,012
                              .item__pic.block--center
                                img(src="event/1st/e-main/components/daily-tab/items/tab-1130-1.jpg", alt="每日精選商品")
                        li.swiper-slide
                          .item__box
                            a(href="", title="每日精選商品")
                              .item__intro 小標標標標
                              .item__intro.item__intro--2 大標標標大標標標標
                              .item__price
                                span $
                                span 1,012
                              .item__pic.block--center
                                img(src="event/1st/e-main/components/daily-tab/items/tab-1130-2.jpg", alt="每日精選商品")
                        li.swiper-slide
                          .item__box
                            a(href="", title="每日精選商品")
                              .item__intro 小標標標標
                              .item__intro.item__intro--2 大標標標大標標標標
                              .item__price
                                span $
                                span 1,012
                              .item__pic.block--center
                                img(src="event/1st/e-main/components/daily-tab/items/tab-1130-3.jpg", alt="每日精選商品")

              li.content__box.full-parent
                .content__item
                  .pic__box
                    a(href="https://media.etmall.com.tw/sp/9565/m/index.html", title="每日精選特輯")
                      img(src="event/1st/e-main/components/daily-tab/items/tab-1201-0.png", alt="每日精選特輯")
                  .item__wrap
                    .tab__slider.swiper-container
                      ul.swiper-wrapper
                        li.swiper-slide
                          .item__box
                            a(href="", title="每日精選商品")
                              .item__intro 小標標標標小標標標標
                              .item__intro.item__intro--2 大標標標大標標標標
                              .item__price
                                span $
                                span 1,012
                              .item__pic.block--center
                                img(src="event/1st/e-main/components/daily-tab/items/tab-1201-1.jpg", alt="每日精選商品")
                        li.swiper-slide
                          .item__box
                            a(href="", title="每日精選商品")
                              .item__intro 小標標標標
                              .item__intro.item__intro--2 大標標標大標標標標
                              .item__price
                                span $
                                span 1,012
                              .item__pic.block--center
                                img(src="event/1st/e-main/components/daily-tab/items/tab-1201-2.jpg", alt="每日精選商品")
                        li.swiper-slide
                          .item__box
                            a(href="", title="每日精選商品")
                              .item__intro 小標標標標
                              .item__intro.item__intro--2 大標標標大標標標標
                              .item__price
                                span $
                                span 1,012
                              .item__pic.block--center
                                img(src="event/1st/e-main/components/daily-tab/items/tab-1201-3.jpg", alt="每日精選商品")

              li.content__box.full-parent
                .content__item
                  .pic__box
                    a(href="https://media.etmall.com.tw/sp/9565/m/index.html", title="每日精選特輯")
                      img(src="event/1st/e-main/components/daily-tab/items/tab-1202-0.png", alt="每日精選特輯")
                  .item__wrap
                    .tab__slider.swiper-container
                      ul.swiper-wrapper
                        li.swiper-slide
                          .item__box
                            a(href="", title="每日精選商品")
                              .item__intro 小標標標標小標標標標
                              .item__intro.item__intro--2 大標標標大標標標標
                              .item__price
                                span $
                                span 1,012
                              .item__pic.block--center
                                img(src="event/1st/e-main/components/daily-tab/items/tab-1202-1.jpg", alt="每日精選商品")
                        li.swiper-slide
                          .item__box
                            a(href="", title="每日精選商品")
                              .item__intro 小標標標標
                              .item__intro.item__intro--2 大標標標大標標標標
                              .item__price
                                span $
                                span 1,012
                              .item__pic.block--center
                                img(src="event/1st/e-main/components/daily-tab/items/tab-1202-2.jpg", alt="每日精選商品")
                        li.swiper-slide
                          .item__box
                            a(href="", title="每日精選商品")
                              .item__intro 小標標標標
                              .item__intro.item__intro--2 大標標標大標標標標
                              .item__price
                                span $
                                span 1,012
                              .item__pic.block--center
                                img(src="event/1st/e-main/components/daily-tab/items/tab-1202-3.jpg", alt="每日精選商品")

              li.content__box.full-parent
                .content__item
                  .pic__box
                    a(href="https://media.etmall.com.tw/sp/9565/m/index.html", title="每日精選特輯")
                      img(src="event/1st/e-main/components/daily-tab/items/tab-1203-0.png", alt="每日精選特輯")
                  .item__wrap
                    .tab__slider.swiper-container
                      ul.swiper-wrapper
                        li.swiper-slide
                          .item__box
                            a(href="", title="每日精選商品")
                              .item__intro 小標標標標小標標標標
                              .item__intro.item__intro--2 大標標標大標標標標
                              .item__price
                                span $
                                span 1,012
                              .item__pic.block--center
                                img(src="event/1st/e-main/components/daily-tab/items/tab-1203-1.jpg", alt="每日精選商品")
                        li.swiper-slide
                          .item__box
                            a(href="", title="每日精選商品")
                              .item__intro 小標標標標
                              .item__intro.item__intro--2 大標標標大標標標標
                              .item__price
                                span $
                                span 1,012
                              .item__pic.block--center
                                img(src="event/1st/e-main/components/daily-tab/items/tab-1203-2.jpg", alt="每日精選商品")
                        li.swiper-slide
                          .item__box
                            a(href="", title="每日精選商品")
                              .item__intro 小標標標標
                              .item__intro.item__intro--2 大標標標大標標標標
                              .item__price
                                span $
                                span 1,012
                              .item__pic.block--center
                                img(src="event/1st/e-main/components/daily-tab/items/tab-1203-3.jpg", alt="每日精選商品")

              li.content__box.full-parent
                .content__item
                  .pic__box
                    a(href="https://media.etmall.com.tw/sp/9565/m/index.html", title="每日精選特輯")
                      img(src="event/1st/e-main/components/daily-tab/items/tab-1204-0.png", alt="每日精選特輯")
                  .item__wrap
                    .tab__slider.swiper-container
                      ul.swiper-wrapper
                        li.swiper-slide
                          .item__box
                            a(href="", title="每日精選商品")
                              .item__intro 小標標標標小標標標標
                              .item__intro.item__intro--2 大標標標大標標標標
                              .item__price
                                span $
                                span 1,012
                              .item__pic.block--center
                                img(src="event/1st/e-main/components/daily-tab/items/tab-1204-1.jpg", alt="每日精選商品")
                        li.swiper-slide
                          .item__box
                            a(href="", title="每日精選商品")
                              .item__intro 小標標標標
                              .item__intro.item__intro--2 大標標標大標標標標
                              .item__price
                                span $
                                span 1,012
                              .item__pic.block--center
                                img(src="event/1st/e-main/components/daily-tab/items/tab-1204-2.jpg", alt="每日精選商品")
                        li.swiper-slide
                          .item__box
                            a(href="", title="每日精選商品")
                              .item__intro 小標標標標
                              .item__intro.item__intro--2 大標標標大標標標標
                              .item__price
                                span $
                                span 1,012
                              .item__pic.block--center
                                img(src="event/1st/e-main/components/daily-tab/items/tab-1204-3.jpg", alt="每日精選商品")

              li.content__box.full-parent
                .content__item
                  .pic__box
                    a(href="https://media.etmall.com.tw/sp/9565/m/index.html", title="每日精選特輯")
                      img(src="event/1st/e-main/components/daily-tab/items/tab-1205-0.png", alt="每日精選特輯")
                  .item__wrap
                    .tab__slider.swiper-container
                      ul.swiper-wrapper
                        li.swiper-slide
                          .item__box
                            a(href="", title="每日精選商品")
                              .item__intro 小標標標標小標標標標
                              .item__intro.item__intro--2 大標標標大標標標標
                              .item__price
                                span $
                                span 1,012
                              .item__pic.block--center
                                img(src="event/1st/e-main/components/daily-tab/items/tab-1205-1.jpg", alt="每日精選商品")
                        li.swiper-slide
                          .item__box
                            a(href="", title="每日精選商品")
                              .item__intro 小標標標標
                              .item__intro.item__intro--2 大標標標大標標標標
                              .item__price
                                span $
                                span 1,012
                              .item__pic.block--center
                                img(src="event/1st/e-main/components/daily-tab/items/tab-1205-2.jpg", alt="每日精選商品")
                        li.swiper-slide
                          .item__box
                            a(href="", title="每日精選商品")
                              .item__intro 小標標標標
                              .item__intro.item__intro--2 大標標標大標標標標
                              .item__price
                                span $
                                span 1,012
                              .item__pic.block--center
                                img(src="event/1st/e-main/components/daily-tab/items/tab-1205-3.jpg", alt="每日精選商品")
