section.promo__group.promo__group--tab.m-top--md.js-add__bg(data-title="")
  .layout--main
    ul.tab__wrap
      li.tab__zone
        ul#tabBox.tab__box
          li.tab__item(title="7折up").active
            img(src="~event/1st/e-77/components/tab-slider-section/items/tab/tab-d1.png", alt="7折up")
            img(src="~event/1st/e-77/components/tab-slider-section/items/tab/tab-l1.png?20200702", alt="7折up")
          li.tab__item(title="折抵7%東森幣")
            img.lazyload(src="~utils/img/1x1_low.png" data-src="~event/1st/e-77/components/tab-slider-section/items/tab/tab-d2.png", alt="折抵7%東森幣")
            img.lazyload(src="~utils/img/1x1_low.png" data-src="~event/1st/e-77/components/tab-slider-section/items/tab/tab-l2.png?20200702", alt="折抵7%東森幣")
          li.tab__item(title="尾數77精選商品")
            img.lazyload(src="~utils/img/1x1_low.png" data-src="~event/1st/e-77/components/tab-slider-section/items/tab/tab-d3.png", alt="尾數77精選商品")
            img.lazyload(src="~utils/img/1x1_low.png" data-src="~event/1st/e-77/components/tab-slider-section/items/tab/tab-l3.png?20200702", alt="尾數77精選商品")
      li.content__zone
        ul#contentBlock.content__block
          li.content__box.clearfix.active
            ul#sliderTab.swiper-container.slider__tab
              li.swiper-wrapper
                .content__item.swiper-slide
                  a(href="https://www.etmall.com.tw/i/1995842", title="愛之味 健康油切分解茶590ml(24入)")
                    img(src="https://media.etmall.com.tw/NXimg/001995/1995842/1995842-1_XL.jpg", alt="愛之味")
                  .content__text 愛之味 健康油切分解茶590ml(24入)
                  .content__price $499
                .content__item.swiper-slide
                  a(href="https://www.etmall.com.tw/i/2648060", title="哈根達斯")
                    img(src="https://media.etmall.com.tw/NXimg/002648/2648060/2648060-1_XL.jpg", alt="哈根達斯")
                  .content__text 【哈根達斯 冷凍宅配】繽紛嘉年華迷你杯14入組100ml
                  .content__price $1,049
                .content__item.swiper-slide
                  a(href="https://www.etmall.com.tw/i/2589692", title="Glasslock 玻璃冷水壺")
                    img(src="https://media.etmall.com.tw/NXimg/002589/2589692/2589692-1_XL.jpg", alt="Glasslock 玻璃冷水壺")
                  .content__text 買一送一 Glasslock 玻璃冷水壺1000ml
                  .content__price $299
                .content__item.swiper-slide
                  a(href="https://www.etmall.com.tw/i/5783020", title="休閒實用攜帶式餐包")
                    img(src="https://media.etmall.com.tw/NXimg/005783/5783020/5783020-1_XL.jpg", alt="休閒實用攜帶式餐包")
                  .content__text 【ENNE】保冷保溫保鮮 休閒實用攜帶式餐包(顏色隨機)買1送1 (S0353)-網
                  .content__price $559
                .content__item.swiper-slide
                  a(href="https://www.etmall.com.tw/i/2611834", title="DeMon_極緻美白生物纖維面膜X3盒")
                    img(src="https://media.etmall.com.tw/NXimg/002611/2611834/2611834-1_XL.jpg", alt="DeMon_極緻美白生物纖維面膜X3盒")
                  .content__text DeMon_極緻美白生物纖維面膜X3盒_sp-網
                  .content__price $1,999
                .content__item.swiper-slide
                  a(href="https://www.etmall.com.tw/i/2444168", title="磷蝦油軟膠囊")
                    img(src="https://media.etmall.com.tw/NXimg/002444/2444168/2444168-1_XL.jpg", alt="磷蝦油軟膠囊")
                  .content__text 【QBM】磷蝦油軟膠囊買一送一驚殺特惠組(60顆X2瓶)-網
                  .content__price $1,200
                .content__item.swiper-slide
                  a(href="https://www.etmall.com.tw/i/2413023", title="經典室內擴香瓶")
                    img(src="https://media.etmall.com.tw/NXimg/002413/2413023/2413023-1_XL.jpg", alt="經典室內擴香瓶")
                  .content__text 韓國cocodor 經典室內擴香瓶200ml-多款香味可選-網
                  .content__price $199
                .content__item.swiper-slide
                  a(href="https://www.etmall.com.tw/i/2557841", title="14吋DC節能內旋式遙控循環立扇")
                    img(src="https://media.etmall.com.tw/NXimg/002557/2557841/2557841-1_XL.jpg", alt="14吋DC節能內旋式遙控循環立扇")
                  .content__text 回饋5%東森幣/折扣金↘熱銷首選-中央牌 14吋DC節能內旋式遙控循環立扇 風扇KDS-142SR-網
                  .content__price $2,880
                .content__item.swiper-slide
                  a(href="https://www.etmall.com.tw/i/2160915", title="三腳架自拍桿")
                    img(src="https://media.etmall.com.tw/NXimg/002160/2160915/2160915-1_XL.jpg", alt="三腳架自拍桿")
                  .content__text aibo 追劇/直播/自拍 3in1 三腳架自拍桿(可分離式藍牙遙控)
                  .content__price $299
                .content__item.swiper-slide
                  a(href="https://www.etmall.com.tw/i/2246082", title="32型VA面板4K解析度10Bit液晶螢幕")
                    img(src="https://media.etmall.com.tw/NXimg/002246/2246082/2246082-1_XL.jpg", alt="32型VA面板4K解析度10Bit液晶螢幕")
                  .content__text CHIMEI 奇美 ML-32B10U 32型VA面板4K解析度10Bit液晶螢幕
                  .content__price $8,669

              #sliderTabPager.swiper-pagination-custom.swiper-pagination.swiper-slider-dot
            //#sliderSpecialPrev.swiper-button-white.swiper-button-prev
            //#sliderSpecialNext.swiper-button-white.swiper-button-next
          li.content__box.clearfix
            ul#sliderTab_2.swiper-container.slider__tab
              li.swiper-wrapper
                .content__item.swiper-slide
                  a(href="https://www.etmall.com.tw/i/2368757", title="台灣百花蜂蜜超值組")
                    img(src="https://media.etmall.com.tw/NXimg/002368/2368757/2368757-1_XL.jpg", alt="台灣百花蜂蜜超值組")
                  .content__text 彩花蜜 台灣百花蜂蜜超值組(3000g+350g)-網
                  .content__price $959
                .content__item.swiper-slide
                  a(href="https://www.etmall.com.tw/i/2654184", title="棉柔舒適抽取衛生紙")
                    img(src="https://media.etmall.com.tw/NXimg/002654/2654184/2654184-1_XL.jpg", alt="棉柔舒適抽取衛生紙")
                  .content__text 舒潔 棉柔舒適抽取衛生紙 (100抽x20包x3串/箱)
                  .content__price $699
                .content__item.swiper-slide
                  a(href="https://www.etmall.com.tw/i/2654184", title="彩繪優質珪藻土地墊")
                    img(src="https://media.etmall.com.tw/NXimg/002654/2654184/2654184-1_XL.jpg", alt="彩繪優質珪藻土地墊")
                  .content__text 【買一送一】彩繪優質珪藻土地墊 大尺寸60*39*0.9cm (限同款)
                  .content__price $499
                .content__item.swiper-slide
                  a(href="https://www.etmall.com.tw/i/2506149", title="Timberland")
                    img(src="https://media.etmall.com.tw/NXimg/002506/2506149/2506149-1_XL.jpg", alt="Timberland")
                  .content__text Timberland 男款中灰色Boroughs Project磨砂革休閒鞋A27VD033
                  .content__price $2,680
                .content__item.swiper-slide
                  a(href="https://www.etmall.com.tw/i/2381590", title="arin氧潤")
                    img(src="https://media.etmall.com.tw/NXimg/002381/2381590/2381590-1_XL.jpg", alt="arin氧潤")
                  .content__text 【良品出清買一送一】arin氧潤 藍月太髮固多120ml(大容量養髮液)(不含藥)
                  .content__price $559
                .content__item.swiper-slide
                  a(href="https://www.etmall.com.tw/i/2510417", title="LaRochePosay理膚寶水")
                    img(src="https://media.etmall.com.tw/NXimg/002510/2510417/2510417-1_XL.jpg", alt="LaRochePosay理膚寶水")
                  .content__text LaRochePosay理膚寶水 全面修復霜100mlx3入組-網
                  .content__price $1480
                .content__item.swiper-slide
                  a(href="https://www.etmall.com.tw/i/2647280", title="Elizabeth")
                    img(src="https://media.etmall.com.tw/NXimg/002647/2647280/2647280-1_XL.jpg", alt="Elizabeth")
                  .content__text Elizabeth Arden 雅頓 21天霜 75ml (公司貨)
                  .content__price $599
                .content__item.swiper-slide
                  a(href="https://www.etmall.com.tw/i/2650444", title="PHILIPS飛利浦")
                    img(src="https://media.etmall.com.tw/NXimg/002650/2650444/2650444-1_XL.jpg", alt="PHILIPS飛利浦")
                  .content__text PHILIPS飛利浦 43吋4K UHD連網液晶顯示器 43PUH6002 快速約裝-庫-網
                  .content__price $8,888
                .content__item.swiper-slide
                  a(href="https://m.etmall.com.tw/i/2658567", title="SONY")
                    img(src="https://media.etmall.com.tw/NXimg/002658/2658567/2658567-1_XL.jpg", alt="SONY")
                  .content__text 「現貨開賣」SONY Xperia 1 II 6.5吋(8G/256G)-網
                  .content__price $35,990
                .content__item.swiper-slide
                  a(href="https://www.etmall.com.tw/i/2637050", title="DJI Mavic Air 2 暢飛套裝")
                    img(src="https://media.etmall.com.tw/NXimg/002637/2637050/2637050-1_XL.jpg", alt="DJI Mavic Air 2 暢飛套裝")
                  .content__text DJI Mavic Air 2 暢飛套裝
                  .content__price $29,900
              #sliderTabPager_2.swiper-pagination-custom.swiper-pagination.swiper-slider-dot
          li.content__box.clearfix
            ul#sliderTab_3.swiper-container.slider__tab
              li.swiper-wrapper
                .content__item.swiper-slide
                  a(href="https://www.etmall.com.tw/i/1782586", title="MONS蠶絲綢緞面貴婦內搭背心")
                    img(src="https://media.etmall.com.tw/NXimg/001782/1782586/1782586-1_XL.jpg", alt="MONS蠶絲綢緞面貴婦內搭背心")
                  .content__text MONS蠶絲綢緞面貴婦內搭背心
                  .content__price $477
                .content__item.swiper-slide
                  a(href="https://www.etmall.com.tw/i/2381305", title="蜂巢涼感冰紗透氣床墊-雙人-網")
                    img(src="https://media.etmall.com.tw/NXimg/002381/2381305/2381305-1_XL.jpg", alt="蜂巢涼感冰紗透氣床墊-雙人-網")
                  .content__text 蜂巢涼感冰紗透氣床墊-雙人-網
                  .content__price $777
                .content__item.swiper-slide
                  a(href="https://www.etmall.com.tw/i/2670317", title="Acer宏碁")
                    img(src="https://media.etmall.com.tw/NXimg/002670/2670317/2670317-1_XL.jpg", alt="Acer宏碁")
                  .content__text 驅塵氏 乾濕兩用靜電拖把超值15件組(1拖+5乾+9濕)
                  .content__price $777
                .content__item.swiper-slide
                  a(href="https://www.etmall.com.tw/i/2404390", title="去骨雞腿排X18片")
                    img(src="https://media.etmall.com.tw/NXimg/002404/2404390/2404390-1_XL.jpg", alt="去骨雞腿排X18片")
                  .content__text 【鮮食煮藝】去骨雞腿排X18片(190g±10%/片)-網
                  .content__price $777
                .content__item.swiper-slide
                  a(href="https://www.etmall.com.tw/i/2505600", title="iVENOR魔油")
                    img(src="https://media.etmall.com.tw/NXimg/002505/2505600/2505600-1_XL.jpg", alt="iVENOR魔油")
                  .content__text iVENOR魔油-印加果油5盒
                  .content__price $5,477
                .content__item.swiper-slide
                  a(href="https://www.etmall.com.tw/i/2397141", title=" 台塑生醫成人金盞花葉黃素複方膠囊超值3入組-網")
                    img(src="https://media.etmall.com.tw/NXimg/002397/2397141/2397141-1_XL.jpg", alt=" 台塑生醫成人金盞花葉黃素複方膠囊超值3入組-網")
                  .content__text 台塑生醫成人金盞花葉黃素複方膠囊超值3入組-網
                  .content__price $1777
                .content__item.swiper-slide
                  a(href="https://www.etmall.com.tw/i/2609863", title="通過TTRI國家標準超細纖維立體水洗口罩")
                    img(src="https://media.etmall.com.tw/NXimg/002609/2609863/2609863-1_XL.jpg", alt="通過TTRI國家標準超細纖維立體水洗口罩")
                  .content__text 【防護盾SK】通過TTRI國家標準超細纖維立體水洗口罩(3入/包)x3包
                  .content__price $777
                .content__item.swiper-slide
                  a(href="https://www.etmall.com.tw/i/2601054", title="空氣循環扇")
                    img(src="https://media.etmall.com.tw/NXimg/002601/2601054/2601054-1_XL.jpg", alt="空氣循環扇")
                  .content__text 晶工牌 9吋 空氣循環扇/風扇JK-109-庫-網
                  .content__price $477
                .content__item.swiper-slide
                  a(href="https://www.etmall.com.tw/i/2517003", title="XPERIA")
                    img(src="https://media.etmall.com.tw/NXimg/002517/2517003/2517003-1_XL.jpg", alt="XPERIA")
                  .content__text SONY XPERIA 5 (6GB/128GB)
                  .content__price $19,977
                .content__item.swiper-slide
                  a(href="https://www.etmall.com.tw/i/2313067", title="ASUS華碩")
                    img(src="https://media.etmall.com.tw/NXimg/002313/2313067/2313067-1_XL.jpg", alt="ASUS華碩")
                  .content__text ASUS華碩 Laptop E203MA-0091AN4000 平價筆電 11.6吋/N4000/4G/64G eMMC/WIN10S
                  .content__price $7,777
              #sliderTabPager_3.swiper-pagination-custom.swiper-pagination.swiper-slider-dot