

section.hero
  .layout--main
    .hero__wrap
      .hero__zone
        //- .video__wrap
        //-   .video__block
        //-     include /event/2nd/e-main/components/hero-section/hero-video/_hero-video.pug

        .hero__title
          .title--main
            a(href="")
              img(src="event/2nd/e-main/components/hero-section/title.png" alt="週年大放價")

        .decor__wrap.full-parent
          .decor--top.decor__title--light1
            img(src="event/2nd/e-main/components/hero-section/decor-light-1.png", alt="")
          .decor--top.decor__title--light2
            img(src="event/2nd/e-main/components/hero-section/decor-light-2.png", alt="")
          .decor--top.decor__title--left
            img(src="event/2nd/e-main/components/hero-section/decor-item.png", alt="")
          .decor--top.decor__title--right
            img(src="event/2nd/e-main/components/hero-section/decor-item.png", alt="")
          .decor--top.decor__title--outer
            img(src="event/2nd/e-main/components/hero-section/decor-item.png", alt="")
        