//- TODO: 給別的component引入時不需要前兩行要切換
//- section.promo__group.promo__group--bn-special.m-bottom--md
//-   .layout--main
//- var bankLink = {etmall: "https://www.etmall.com.tw/XML/content/DMSetting/Final/201910/SP_1107838/w/index.html", umall: "https://www.u-mall.com.tw/XML/content/DMSetting/Final/201910/SP_1104317/w/index.html"}
//- var bankInfo = isU ? bankLink.umall : bankLink.etmall
.promo__slider.bn-special
  #sliderSpecial.swiper-container
    ul.swiper-wrapper
      li.swiper-slide
        a(href="https://m.etmall.com.tw/Activity/Lottery/202101_8b8aac558b7d6c89a158eba7a444058a", title="牛年集大運")
          img(src="~event/3rd/e-main/components/bn-special/items/promo-09-1.png", alt="牛年集大運")
      li.swiper-slide
        a(href="https://www.etmall.com.tw/XML/content/DMSetting/Final/202012/SP_1116815/w/index.html", title="彰化好物購")
          img(src="~event/3rd/e-main/components/bn-special/items/promo-09-2.png", alt="彰化好物購")
      li.swiper-slide
        a(href="https://media.etmall.com.tw/sp/7663/m/index.html", title="APP下單4次送環保餐具組")
          img(src="~event/3rd/e-main/components/bn-special/items/promo-09-3.png", alt="APP下單4次送環保餐具組")
      li.swiper-slide
        a(href="https://www.etmall.com.tw/XML/content/DMSetting/Final/202012/SP_1116835/w/index.html", title="台中女麗購")
          img(src="~event/3rd/e-main/components/bn-special/items/promo-09-4.png", alt="台中女麗購")
      li.swiper-slide
        a(href="https://www.etmall.com.tw/XML/content/DMSetting/Final/202102/SP_1116916/w/index.html", title="萊爾富取貨送咖啡")
          img(src="~event/3rd/e-main/components/bn-special/items/promo-09-5.png", alt="萊爾富取貨送咖啡")
      li.swiper-slide
        a(href="https://media.etmall.com.tw/sp/8223/m/index.html", title="零卡分期")
          img(src="~event/3rd/e-main/components/bn-special/items/promo-09-6.png", alt="零卡分期")

  #sliderSpecialPrev.swiper-button-white.swiper-button-prev
  #sliderSpecialNext.swiper-button-white.swiper-button-next