section.promo__group.promo__group--daily-time.m-bottom--lg(data-title="限時瘋搶")
  .layout--main
    .decor__wrap
      .decor__item
        img(src="event/1st/e-main/components/daily-time/decor-etman.png", alt="")
      .decor__item
        img(src="event/1st/e-main/components/daily-time/decor-umbrella.png", alt="")
      .decor__item
        img(src="event/1st/e-main/components/daily-time/decor-gift.png", alt="")
    .promo__wrap
      .promo__zone
        #dailyTime
          .product__wrap
