//- parallax 結構
//- section#bgDecoration.deoration--background.decoration__wrap(style="height: 100vh;")
//-   .decoration__item(data-depth="0.15")
//-     //img(src="~layout/background-decoration/background-decoration-2.png", alt="")
//-   .decoration__item(data-depth="0.5")
//-     //img(src="~layout/background-decoration/background-decoration-1.png", alt="")

//- SVG linear 煙火結構
section.deoration--background.decoration__wrap(style="height: 100vh;")
  .decoration__item.decoration--firwork--1
    <?xml version="1.0" encoding="UTF-8" standalone="no"?>
    <svg id="fw01-1" class="firework--1" width="334px" height="332px" viewBox="0 0 334 332" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
        <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd" stroke-linecap="round" stroke-linejoin="round">
            <g id="FW02a" transform="translate(2.000000, 2.000000)" stroke="#3367D6" stroke-width="4">
                <path d="M164.472939,163.527061 L279.9655,48.0345" id="Stroke-5"></path>
                <path d="M164.147129,163.696598 L48.6545677,279.18916" id="Stroke-5-Copy"></path>
                <path d="M163.039136,163.039136 L48.0345,48.0345" id="Stroke-11"></path>
                <path d="M164,164.023674 L279.004636,279.02831" id="Stroke-11-Copy"></path>
                <path d="M164.432258,163.720788 L164,0" id="Stroke-6"></path>
                <path d="M164,163.720788 L164.432258,327.441576" id="Stroke-6-Copy"></path>
                <path d="M164.076202,164 L0,164" id="Stroke-8"></path>
                <path d="M165,164 L329.076202,164" id="Stroke-8-Copy"></path>
            </g>
        </g>
    </svg>

    <?xml version="1.0" encoding="UTF-8" standalone="no"?>
    <svg id="fw01-2" class="firework--2" width="182px" height="178px" viewBox="0 0 182 178" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
        <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd" stroke-linecap="round" stroke-linejoin="round">
            <g id="FW02b" transform="translate(2.000000, 2.000000)" stroke="#AED4F6" stroke-width="4">
                <path d="M88,87 L52.4457,0" id="Stroke-1"></path>
                <path d="M88,86.2296836 L123.5543,173.229684" id="Stroke-1-Copy"></path>
                <path d="M89,88 L0,123.5547" id="Stroke-2"></path>
                <path d="M88.2161289,88.3385263 L177.216129,52.7838263" id="Stroke-2"></path>
                <path d="M89,87 L125.0847,0.6339" id="Stroke-3"></path>
                <path d="M88.6147,86.7397478 L52.53,173.105848" id="Stroke-3-Copy"></path>
                <path d="M88,88 L0.6341,50.9157" id="Stroke-4"></path>
                <path d="M88.7161289,88.6297528 L176.082029,125.714053" id="Stroke-4-Copy"></path>
            </g>
        </g>
    </svg>
  .decoration__item.decoration--firwork--2
    <?xml version="1.0" encoding="UTF-8" standalone="no"?>
    <svg id="fw02-1" class="firework--3" width="334px" height="332px" viewBox="0 0 334 332" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
        <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd" stroke-linecap="round" stroke-linejoin="round">
            <g id="FW02a" transform="translate(2.000000, 2.000000)" stroke="#b00d10" stroke-width="4">
                <path d="M164.472939,163.527061 L279.9655,48.0345" id="Stroke-5"></path>
                <path d="M164.147129,163.696598 L48.6545677,279.18916" id="Stroke-5-Copy"></path>
                <path d="M163.039136,163.039136 L48.0345,48.0345" id="Stroke-11"></path>
                <path d="M164,164.023674 L279.004636,279.02831" id="Stroke-11-Copy"></path>
                <path d="M164.432258,163.720788 L164,0" id="Stroke-6"></path>
                <path d="M164,163.720788 L164.432258,327.441576" id="Stroke-6-Copy"></path>
                <path d="M164.076202,164 L0,164" id="Stroke-8"></path>
                <path d="M165,164 L329.076202,164" id="Stroke-8-Copy"></path>
            </g>
        </g>
    </svg>

    <?xml version="1.0" encoding="UTF-8" standalone="no"?>
    <svg id="fw02-2" class="firework--4" width="182px" height="178px" viewBox="0 0 182 178" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
        <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd" stroke-linecap="round" stroke-linejoin="round">
            <g id="FW02b" transform="translate(2.000000, 2.000000)" stroke="#ef4224" stroke-width="4">
                <path d="M88,87 L52.4457,0" id="Stroke-1"></path>
                <path d="M88,86.2296836 L123.5543,173.229684" id="Stroke-1-Copy"></path>
                <path d="M89,88 L0,123.5547" id="Stroke-2"></path>
                <path d="M88.2161289,88.3385263 L177.216129,52.7838263" id="Stroke-2"></path>
                <path d="M89,87 L125.0847,0.6339" id="Stroke-3"></path>
                <path d="M88.6147,86.7397478 L52.53,173.105848" id="Stroke-3-Copy"></path>
                <path d="M88,88 L0.6341,50.9157" id="Stroke-4"></path>
                <path d="M88.7161289,88.6297528 L176.082029,125.714053" id="Stroke-4-Copy"></path>
            </g>
        </g>
    </svg>