section.hero__wrap.m-bottom--md
  .hero__zone
    .layout--main
      .hero__block
        .hero__box
          //- 標題
          h1.hero__title.hero__title--main.block--center.wow(title="全民瘋搶節，花旗滿$30,000送$3,000刷卡金")
            img#heroTitle(src="~event/2nd/u-main/components/hero-section/title.png", alt="全民瘋搶節，花旗滿$30,000送$3,000刷卡金")

    .title-decoration__wrap
      .title__decoration.title__decoration--middle
          .decoration__pic.wow#decorationHand
            .decoration__box
              img(src="~event/2nd/u-main/components/hero-section/decoration-hand.png", alt="")
            .decoration__box
              img(src="~event/2nd/u-main/components/hero-section/decoration-hand.png", alt="")
            .decoration__box
              img(src="~event/2nd/u-main/components/hero-section/decoration-hand.png", alt="")
          .decoration__pic
            img(src="~event/2nd/u-main/components/hero-section/decoration-bubble.png", alt="")
          .decoration__pic.wow
            img#decorationPaper(src="~event/2nd/u-main/components/hero-section/decoration-paper.png", alt="")


  .promo__zone
    .layout--main
      .promo__block
        //- 行銷誘因
        include /event/2nd/u-main/components/promo-event/_promo-event

        //- 商品輪播
          //- 副標
        //- .hero__small__zone
          //- include /event/2nd/u-main/components/hero-small-slider/_hero-small-slider

  //- include /event/2nd/u-main/components/background-decoration/_background-decoration.pug


