section.hero__wrap
  .layout--main
    .hero__block
      .hero__box
        //- 標題
        h1.hero__title.hero__title--main(title="集點加價購")
          img(src="event/1st/e-main/components/hero-section/title.png", alt="集點加價購")

      include /event/1st/e-main/components/nav-menu/_nav-menu





