// .promo__group--bn-special
//   margin-left: auto
//   margin-right: auto

//.promo__style3--bg
//  +breakpoint-min($min-width-xl)
//    position: absolute
//    +bg-set(url("~event/2nd/e-main/components/collect__point/collect__point-bg-web.png"))
//    background-size: 1226px 1383px
//    left: 50%
//    transform: translateX(-50%)
//    width: 100%
//    height: 1383px
.promo__slider.collect__point
  margin-top: 8vw
  position: relative
  padding-top: 0
  padding-bottom: 0
  //background: center 0 url("~event/2nd/e-main/components/collect__point/collect__point-bg.png") no-repeat
  background: center 0 url("https://media.etmall.com.tw/sp/8249/collect__point-bg.png") no-repeat
  background-size: 100% auto
  height: 143vw
  .collect__point__wrap-1
    position: relative
    padding-top: 42vw
  .collect__point__wrap-2
    position: relative
    padding-top: 14vw
  .swiper-container
    margin-left: auto
    margin-right: auto
    width: 90%
    // height: 100%
    // .swiper-slide
      // transition: transform 0.5s
      // transform: translateY(-100%)
    // .swiper-slide-active,
    // .swiper-slide-duplicate-active,
      // transform: translateY(0)

    .swiper-slide
      &:hover,
      &:active
        filter: contrast(120%)
      img
        display: block
        margin-left: auto
        margin-right: auto

  .collect__point-pager,.collect__point-pager-2
    left: 50%
    transform: translateX(-50%)
    .swiper-pagination-bullet
      margin: 0 4px
    .swiper-pagination-bullet-active
      width: 20px
      height: 7px
      vertical-align: middle
      background-color: #3d161b
      border: 0px
      border-radius: 6px
  .collect__point-pager
    bottom: -5%
  .collect__point-pager-2
    bottom: -8%
  +breakpoint-min($min-width-xl)
    margin-top: 60px
    background-size: 960px 1375px
    height: 1375px
    .collect__point__wrap-1
      padding-top: 415px
      margin: 0 auto
      max-width: 960px
    .collect__point__wrap-2
      padding-top: 135px
    .collect__point-pager
      bottom: -2%
    .collect__point-pager-2
      bottom: -4%
// 當大小網不一樣時
// img
//   &:last-child
//     display: none
//   +breakpoint-min($min-width-xl)
//     &:first-child
//       display: none
//     &:last-child
//       display: block
//       margin-left: auto
//       margin-right: auto

