section.special--w42m21
  .special__wrap
    // +bg-set(url(event/1st/e-main/components/special-w32m31/w32m31-bg-2.jpg), 100%)
    // background-repeat: repeat-y
  .special__items
    display: flex
    justify-content: center
    flex-wrap: wrap
    padding: 3%
  .special__item
    width: 50%
    +breakpoint-min($min-width-xl)
      width: 25%
  .special__item--add
    margin: 0 auto
    width: 94%
    +breakpoint-min($min-width-xl)
      width: 49%




// .logo__group--w4m2 .logo__item {
//   width: 49%;
//   margin-bottom: 2%;
// }

// @media screen and (min-width: 960px) {
//   .logo__group--w4m2 .logo__item {
//     width: 23%;
//   }
// }