.promo-special
  overflow: hidden
  .decor__item
    transition: transform .2s
    will-change: transform
    pointer-events: none
    &--left
      +pos-set(absolute, base, 28%, 9%)
      width: 20%
      +breakpoint-min($min-width-xl)
        top: 340px
        left: calc( 50% - 380px )
    &--right
      +pos-set(absolute, base, 21%)
      right: 11%
      width: 20%
      +breakpoint-min($min-width-xl)
        top: 280px
        right: calc( 50% - 340px )
    +breakpoint-min($min-width-xl)
        width: auto

  .promo__wrap
    position: relative
    +bg-set(url(event/1st/e-main/components/promo-special/bg-promo-special.png), 100%)
    background-position: top
    text-align: center
    > a
      +pos-set(absolute, base, 0)
      +size(100%, 30%)
  .promo__zone
    +aspect-ratio(960, 1230)
  .promo__block
    padding: 58% 3% 0
    +breakpoint-min($min-width-xl)
      padding: 555px 5% 0
  .event__block
    display: flex
    justify-content: space-between
    flex-wrap: wrap
    margin-bottom: 5%
    +breakpoint-min($min-width-xl)
      margin-bottom: 50px
    .special__item
      width: 50%
      opacity: 0
      transform: translateY(50%)
      &.active
        animation: message 7s both ease-out 1
      &:first-child,
      &:last-child
        width: 50%
      &:nth-child(2),
      &:nth-child(3)
        width: 50%
      &:nth-child(2)
        animation-delay: .2s
      &:nth-child(3)
        animation-delay: .4s
      &:last-child
        // a
        //   transform: translateY(-12%)
        //   +breakpoint-min($min-width-xl)
        //     transform: translateY(-28px)
        &.active
          animation-delay: .6s
      &:hover
        transform: scale(0.95)
        filter: contrast(1.2)
    .promo__slider
      width: 61%

@keyframes shining-title
  0%
    mask-position: 150% 0px
  100%
    mask-position: 0% 0px

@keyframes feather
  0%
    transform: rotate(-3deg) translate(20px, -100px)
    opacity: 0
  30%
    transform: rotate(8deg) translate(-20px, -100px)
    opacity: 1
  62%
    transform: rotate(-5deg) translate(20px, -40px)
  95%
    transform: rotate(-1deg) translate(0px, 0px)
  100%
    transform: rotate(0deg) translate(0px, 0px)
    opacity: 1

@keyframes open
  0%
    transform: scaleY(0)
  100%
    transform: scaleY(1)

@keyframes message
  0%,
  10%
    opacity: 0
    transform: translateY(50%)
  20%,
  100%
    opacity: 1
    transform: translateY(0%)

@keyframes message-2
  0%,
  10%
    opacity: 0
    transform: translateY(50%)
  20%,
  100%
    opacity: 1
    transform: translateY(0%)