// ==========================================================================
// variables -- 為了可以用!default使用.scss
// ==========================================================================
// Primary series
// ==========================================================================
$primary-medium: #b50005;
// ==========================================================================
// EU main series
// ==========================================================================
$main-e-background-color-1st: #7193ea;
$main-e-background-color-1st-2: #ff129e;
$main-e-background-color-1st-3: #0f0e11;
$main-e-background-color-1st-4: #2227fa;

$main-e-background-color-2nd: #e8e8e8;
$main-e-background-color-2nd-2: #f42db9;
$main-e-background-color-2nd-3: #ac84fe;
$main-e-background-color-2nd-4: #2227fa;

$main-e-background-color-3rd: #f76f97;
$main-e-background-color-3rd-2: #f42db9;
$main-e-background-color-3rd-3: #ac84fe;
$main-e-background-color-3rd-4: #2227fa;
// Gray series
// ==========================================================================
$gray-deep-dark: #000000;
$gray-dark: #323232;
$gray-medium: #999999;
$gray-light: #f7f7f7;
$gray-deep-light: #ffffff;

// material design shadow color
$gray-deep-dark-opacity: rgba(0, 0, 0, 0.8);

// Font family setting -- powered by bootstrap
// ========================================================================== */
$font-family-sans-serif: PingFangTC-regular, "LiHei Pro", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Source Han Sans TC", "Microsoft JhengHei", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji" !default;
$font-family-monospace: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace !default;
$font-family-base: $font-family-sans-serif !default;
// Font size setting
// ========================================================================== */
$fz-60: 60;
$fz-56: 56;
$fz-48: 48;
$fz-40: 40;
$fz-36: 36;
$fz-32: 32;
$fz-28: 28;
$fz-26: 26;
$fz-24: 24;
$fz-22: 22;
$fz-20: 20;
$fz-18: 18;
$fz-16: 16;
$fz-15: 15;
$fz-13: 13;
$fz-12: 12;
// Breakpoint min & max value
// ========================================================================== */
$min-width-3xs: 280px;
$min-width-xxs: 320px;
$min-width-xs: 360px;
$min-width-sm: 400px;
$min-width-md: 480px;
$min-width-lg: 768px;
$min-width-xl: 960px;
$min-width-xxl: 1260px;
$min-width-3xl: 1368px;
$min-width-4xl: 1920px;
$min-width-5xl: 2556px;
$min-width-6xl: 3840px;

$max-width-3xs: 280px;
$max-width-xxs: 320px;
$max-width-xs: 396px;
$max-width-sm: 440px;
$max-width-md: 600px;
$max-width-lg: 768px;
$max-width-xl: 960px;
$max-width-xxl: 1260px;
$max-width-3xl: 1440px;
$min-width-4xl: 1920px;
$max-width-5xl: 2560px;
$min-width-6xl: 3840px;

// main layout value
$layout-switch-width-xl: 960px;
$layout-switch-width-xxl: 1260px;
$layout-switch-width: $layout-switch-width-xl;