.decoration--heart__wrap
  img#decorationHeartLeft__scroll(src="~event/1st/e-main/components/daily-limitTime-change/bg-limitsale-heart-l.png")
  img#decorationHeartRight__scroll(src="~event/1st/e-main/components/daily-limitTime-change/bg-limitsale-heart-r.png")
section#limitTimeWrap.promo__group.promo__group--limittime-change
  //img.decoration__alarm__clock(src="~event/1st/e-main/components/daily-change-2/decoration__alarm__clock.png", alt="")
  .layout--main
    .promo__wrap
      #limitTimeItemList.limit__time__item__wrap
        //img.new__year__bg(src="", alt="")
        ul
          div.limit__time__item.active
          div.limit__time__item
          div.limit__time__item
          div.limit__time__item
          div.limit__time__item
          div.limit__time__item
          div.limit__time__item
          div.limit__time__item
          div.limit__time__item
          div.limit__time__item
          div.limit__time__item
          div.limit__time__item
          div.limit__time__item
          div.limit__time__item
          div.limit__time__item
          div.limit__time__item
          div.limit__time__item
