//- 主視覺
section.bn-w1m1
  .layout--main
    .banner__title
    ul.banner__wrap.clearfix
      li.banner__item
        a(href='#')
          img(src="event/1st/e-main/components/bn-w1m1/1015x300.jpg", alt="banner")
      li.banner__item
        a(href='#')
          img(src="event/1st/e-main/components/bn-w1m1/1260x320.jpg", alt="banner")

//- original html version
//-  <section class="sp__visual">
      <div class="layout--main">
        <ul class="visual--auto clearfix">
          <li class="visual__fragment width--auto">
            <img src="index_01.png" title="94划算" alt="94划算">
          </li>
          <li class="visual__fragment width--auto">
            <a href="#" title="好神拖">
              <img src="index_02.png" alt="好神拖">
            </a>
          </li>
          <li class="visual__fragment width--auto">
            <a href="https://www.etmall.com.tw" title="3M">
              <img src="index_03.png" alt="3M">
            </a>
          </li>
          <li class="visual__fragment width--auto">
            <a href="https://www.etmall.com.tw" title="買一送一">
              <img src="index_04.png" alt="買一送一">
            </a>
          </li>
          <li class="visual__fragment width--auto">
            <a href="https://www.etmall.com.tw" title="舒酸定">
              <img src="index_05.png" alt="舒酸定">
            </a>
          </li>
        </ul>
      </div>
    </section>
