section.hero__wrap

  .layout--main
    .hero__zone.m-top--lg
      .hero__block--parent 
        .hero__title
          img(src="event/1st/e-main/components/hero-section/main-title.png", alt="")
        .hero__block
          img(src="event/1st/e-main/components/hero-section/content-1.png", alt="")
        .hero__box
          .hero__item
            a(href="")
              img(src="event/1st/e-main/components/hero-section/button-1.png", alt="")
          .hero__item
            a(href="")
              img(src="event/1st/e-main/components/hero-section/button-2.png", alt="")
        .hero__block
          img(src="event/1st/e-main/components/hero-section/content-2.png", alt="")