section.hero__wrap
  .hero__zone
    .layout--main
      .hero__block
        .hero__box
          //- 標題
          h1.hero__title.hero__title--main.block--center.wow(title="炫父一下 爸氣登場")
            img#heroTitle(src="~event/2nd/u-main/components/hero-section/title.png", alt="炫父一下 爸氣登場")
        .title__decoration.title__decoration--top
          .decoration__pic
            //- img(src="~event/2nd/u-main/components/hero-section/decoration-light.png", alt="")
          .decoration__pic
            //- img(src="~event/2nd/u-main/components/hero-section/decoration-light.png", alt="")
        .title-decoration__wrap
          .title__decoration.title__decoration--middle
            .decoration__pic
              img(src="~event/2nd/u-main/components/hero-section/decoration-father.png", alt="")

  //- TODO: 如果hero和promo要共用主視覺時這樣放
  //- .promo__zone
    //- .layout--main
      //- .promo__block
        //- 行銷誘因
        //- include /event/2nd/u-main/components/promo-event/_promo-event

        //- 商品輪播
          //- 副標
        //- .hero__small__zone
          //- include /event/2nd/u-main/components/hero-small-slider/_hero-small-slider




