.header__sub-nav
  ul#subNavCommon.sub-nav__wrap.sub-nav__wrap--common
    li.sub-nav__item
      a(href="https://www.etmall.com.tw", title="新機推薦") 新機推薦
    li.sub-nav__item
      a(href="#buildOrder3", title="熱銷下殺") 熱銷下殺
    li.sub-nav__item.active
      a(href="#brandList", title="品牌推薦") 品牌推薦