.promo__group--promo-event
  +pos-set(relative, zero)
  padding: 10% 2% 0
  overflow: hidden
  // +breakpoint-min($min-width-xl)
  //   margin-top: -150px

  .decoration--promo
    +pos-set(absolute, under)
    top: 5%
    left: 0
    width: 100%
    transition: all 0.3s
    +breakpoint-min($min-width-xl)
      left: calc(50% - 690px)

  .promo__body
    +pos-set(relative, zero)
    +bg-set(url("~event/1st/e-main/components/promo-event/bg-promo.png"), 100%)
    .event__wrap
      display: flex
      flex-wrap: wrap
      padding: 20% 4% 18.5%
      justify-content: space-between
      > li
        margin-bottom: 2.5%
        a
          text-align: center
        &.animation
          animation: shakeY 0.6s
        &:active,
        &:hover
          filter: hue-rotate(-15deg)
        &:nth-child(1),
        &:nth-child(2),
        &:nth-child(3),
          width: 32%
          &.animation
            animation: item-rotate-Y 0.6s
        &:nth-child(4),
          width: 53.4%
        &:nth-child(5),
          width: 42.8%
        &:nth-child(6),
          width: 100%
        &:nth-child(7),
        &:nth-child(8),
          width: 48%

    .promo__slider
      +pos-set(relative, zero)
      padding: 11% 8% 2%
      li
        margin-bottom: 0
      .swiper-button-black
        &::after
          font-size: 24px
      .swiper-button-black
        top: 59%
      .swiper-button
        &-prev
          left: 9%
        &-next
          right: 9%
      +breakpoint-min($min-width-lg)
        .swiper-button
          &-prev
            left: 10%
          &-next
            right: 10%
        .swiper-button-black
          &::after
            font-size: 40px
      +breakpoint-min($min-width-xl)
        padding-top: 130px
        // .swiper-button-black
        //   top: 62%
        //   &::after
        //     font-size: 60px

@keyframes item-rotate-Y
  100%
    transform: rotateY(360deg)

@keyframes shakeY
  0%,80%, to
    transform: translateZ(0)
  30%, 50%, 70%
    transform: translate3d(0, -10px, 0)
  40%, 60%
    transform: translate3d(0, 10px, 0)