

section.hero
  .layout--main
    .hero__wrap
      .hero__zone
        //- .decor__wrap.full-parent
        //-   .decor--top.decor__item--left1
        //-     img(src="event/1st/e-main/components/hero-section/etcat.png", alt="")
        .hero__title
          img(src="event/1st/e-main/components/hero-section/title.png" alt="1212預測你心")