section#newYearWrap.promo__group.promo__group--daily-2.close__wrap
  .layout--main
    //- .promo__title.block--center.text--center
      //- .title__text.daily__text
        //- span#dailyMonth 8
        //- span /
        //- span#dailyDate 26
      .title__text.daily__countdown
        span#dailyHour 00
        span :
        span#dailyMin 00
        span :
        span#dailySec 00  
      //- img(src="~event/3rd/e-main/components/daily-change/title-daily-change.png", alt="大牌倒數")

    .promo__wrap
      .new__year__change
        img#newYearChangeBg.new__year__bg(src="~event/3rd/e-main/components/daily-change-2/items/new-year-wrap-1.png", alt="")
        .item__wrap
          a#newYearChangeItem_1(href="", title="")
            img(src="~event/3rd/e-main/components/daily-change-2/items/new-year-item-1-1.png", alt="最牛品牌")
          a#newYearChangeItem_2(href="", title="")
            img(src="~event/3rd/e-main/components/daily-change-2/items/new-year-item-1-2.png", alt="最牛品牌")
