section.promo__group.dynamic-slider-w2m2.m-bottom--lg(data-title="強檔推薦")
  .layout--main
    .decor__wrap.full-parent
      .decor__item.decor__item--item1#decorSliderW2M2Item1
        img(src="event/1st/e-main/components/dynamic-slider-w2m2/decor-dynamic-w2m2-item-1.png", alt="")
      .decor__item.decor__item--item2#decorSliderW2M2Item2
        img(src="event/1st/e-main/components/dynamic-slider-w2m2/decor-dynamic-w2m2-item-2.png", alt="")
    .promo__wrap
      .promo__zone
        .promo__block
          .promo__slider.swiper-container#DynamicSliderW2M2Block
            .swiper-wrapper