- var heroBankData = {etmall: "https://www.etmall.com.tw/XML/content/DMSetting/Final/201908/SP_1107836/w/index.html", umall: "https://www.u-mall.com.tw/XML/content/DMSetting/Final/201908/SP_1104315/w/index.html"}
- var heroBankInfo = isU ? heroBankData.umall : heroBankData.etmall

section.hero__wrap.m-bottom--sm
  include /utils/bg-decoration-instance/canvas-snow/_canvas-snow

  .layout--main
    .hero__zone
      //-.hero__decoration.top__decoration.top__decoration--left
      //-.hero__decoration.top__decoration.top__decoration--right
      
      #heroBlock.hero__block
        .hero__box.wow
          //- 標題
          h1.hero__title.hero__title--main.block--center(title="森森購物聖誕禮讚")
            img(src="~event/3rd/u-main/components/hero-section/title.png", alt="森森購物聖誕禮讚")
        .decoration__box
          .title__decoration.title__decoration--main
            img(src="~event/3rd/u-main/components/hero-section/title-decoration-main.png", alt="")
          .title__decoration.title__decoration--sub
            img(src="~event/3rd/u-main/components/hero-section/title-decoration-sup-1.png", alt="")
          .title__decoration.title__decoration--sub
            img(src="~event/3rd/u-main/components/hero-section/title-decoration-sup-2.png", alt="")

      //- 副標
      include /event/3rd/u-main/components/hero-small-slider/_hero-small-slider

      .deoration--foreground
        .decoration__right
          .decoration__item

      .promo__block
        //- 行銷誘因
        include /event/3rd/u-main/components/promo-event/_promo-event
        //- 商品輪播
        include /event/3rd/u-main/components/goods-slider/_goods-slider
