section.promo__group.promo__group--card.m-bottom--sm
  .layout--main
    #cardWrap.card__wrap
      ul#cardBox.card__box
        - var i = 0;
        while i < 6
          li.card__item
            .card__front
              a
                img
            //- .card__back
            //-   img(src="event/1st/e-main/components/random-card/card-back.png", alt="謎之島嶼")
          - i++