.promo__group--cash-back-slider
  .promo__wrap
    +aspect-ratio(960, 550)
    +bg-set(url("~event/4th/e-main/components/cash-back-slider/bg-cash-back-slider.png"), 100%)
    .promo__zone
      // +pos-set(relative, base)
      .decoration__box
        +pos-set(absolute, second)
        top: -20%
        left: 17%
        width: 65%
        +breakpoint-min($min-width-xl)
          left: 20%
      .decoration__box--top
        +pos-set(absolute, base)
        top: -27%
        left: 0%
        width: 65%
        width: 95%
        +breakpoint-min($min-width-xl)
          left: 2%
    .promo__block
      width: 70%
      margin: 2% 14%
      .promo__slider
        margin: 5% 0% 0%
        width: 100%
        .product--dynamic
          // border: 1px solid yellow
          border-radius: 3px
          .product__img
            // border-radius:
          .product__name
            background-color: #fff
            margin-bottom: 0
          .product__price
            background-color: #fff
            // border-radius: 0 0 3px 3px
      // .swiper-button-prev
      //   top: 20%
      //   left: -14%
      // .swiper-button-next
      //   top: 20%
      //   right: -14%


