section.promo__group.promo__group--connect.m-bottom--md
  .layout--main
    ul.anchor__wrap
      li
        a(href="#gift300", title="300元交換禮物區")
          img(src="~event/3rd/u-main/components/connect-anchor/items/link-1.png", alt="300元交換禮物區")
      li
        a(href="#gift500", title="500元交換禮物區")
          img(src="~event/3rd/u-main/components/connect-anchor/items/link-2.png", alt="500元交換禮物區")
      li
        a(href="#gift1000", title="1000元交換禮物區")
          img(src="~event/3rd/u-main/components/connect-anchor/items/link-3.png", alt="1000元交換禮物區")
      li
        a(href="#gift1500", title="1500元交換禮物區")
          img(src="~event/3rd/u-main/components/connect-anchor/items/link-4.png", alt="1500元交換禮物區")

