.promo__group--tab
  .tab__wrap
    +display-flex
    //+bg-set(url("~event/2nd/e-sp/components/tab-section/bg-tab-m.png"), 99%)
    display: block
    height: calc(100vw * 0.74)
    +bg-set(url("~event/2nd/e-sp/components/tab-section/bg-tab.png"), 95%)

    .tab__zone
      padding: 0
      width: 90%
      //+flex(0, 1, 34.2%)
      //padding: 1.1%
      .tab__box
        +display-flex
        flex-wrap: wrap
        justify-content: center
        position: relative
        top: calc(100vw * 0.135)
        left: calc(100vw * 0.045)
        letter-spacing: 5px
    .content__zone
      +flex(0, 1, 100%)
      padding: 18% 3% 2% 6%
      .content__block,
      .content__box
        width: 100%
        height: 100%

  .tab__item
    // +flex(0, 0, 25%)
    padding: 0 2%
    width: 46%
    color: #d4d4d4
    text-align: center
    font-size: calc(100vw * 0.035)
    cursor: pointer
    &.active
      color: #fff
      font-weight: 700
    &:active,
    &:hover
      filter: brightness(120%)
    &.active
      &:active,
      &:hover
        filter: brightness(100%)

  .content__box
    display: none
    &.active
      display: block
    .content__item
      float: left
      padding: 0
      width: 32%
      &:active,
      &:hover
        filter: contrast(150%)

  +breakpoint-min($min-width-xl)
    .tab__wrap
      display: block
      height: 715px
      +bg-set(url("~event/2nd/e-sp/components/tab-section/bg-tab.png"), 960px 705px, center, 14px)

      .tab__zone
        .tab__box
          +display-flex
          flex-wrap: wrap
          justify-content: center
          top: 157px
          left: 43px
      .content__zone
        margin: 184px auto auto auto
        padding: 0 1%
        width: 100%
    .tab__item
      // +flex(0, 0, 25%)
      padding: 0
      width: 46%
      height: 65px
      font-size: 34px
      letter-spacing: 10px
      img
        margin: 0 auto

    .content__box
      padding: 5px 20px 15px
      .content__item
        width: 33.33%
