section.promo__group.promo__group--tab.m-bottom--xs.js-add__bg(data-title="館別特殺")
  .layout--main
    ul.tab__wrap
      li.tab__zone
        ul#tabBox.tab__box
          li.tab__item(title="居家美食").active 精選品牌
          li.tab__item(title="流行服裝") 熱銷活動

      li.content__zone
        ul#contentBlock.content__block
          li.content__box.clearfix.active
            .content__item
              a(href="https://www.etmall.com.tw/XML/content/DMSetting/Final/201912/SP_1114253/w/index.html", title="滿額抽舒潔1箱")
                img(src="~event/2nd/e-sp/components/tab-section/items/content/bookmark-1-1-min.png", alt="滿額抽舒潔1箱")
            .content__item
              a(href="https://www.etmall.com.tw/XML/content/DMSetting/Final/201912/SP_1114244/w/index.html", title="雙12限定下殺")
                img(src="~event/2nd/e-sp/components/tab-section/items/content/bookmark-1-2-min.png", alt="雙12限定下殺")
            .content__item
              a(href="https://www.etmall.com.tw/XML/content/DMSetting/Final/201911/SP_1114192/w/index.html", title="彩妝&窩在傢瘋搶Go")
                img(src="~event/2nd/e-sp/components/tab-section/items/content/bookmark-1-3-min.png", alt="彩妝&窩在傢瘋搶Go")

          li.content__box.clearfix
            .content__item
              a(href="https://www.etmall.com.tw/np/87062", title="年終1.2折起")
                img(src="~event/2nd/e-sp/components/tab-section/items/content/bookmark-2-1-min.png", alt="年終1.2折起")
            .content__item
              a(href="https://www.etmall.com.tw/np/86975", title="暖心2折up")
                img(src="~event/2nd/e-sp/components/tab-section/items/content/bookmark-2-2-min.png", alt="暖心2折up")
            .content__item
              a(href="https://www.etmall.com.tw/np/86873", title="$479起")
                img(src="~event/2nd/e-sp/components/tab-section/items/content/bookmark-2-3-min.png", alt="$479起")

