main#spWrap.sp__wrap.sp__wrap--e

  include /event/1st/e-main/components/tab-section/_tab-section

//- script區
//- her宮格線上連結： https://docs.google.com/spreadsheets/d/1Gjvpm9s7KWWx-YPCu7t119YlxRg3jLPBk_cPNxPTLSw/edit#gid=631725176
include /utils/pug/_total-script
script(src="sheet-id.js")
//-script(src="data-daily.js")

