section.promo__group.promo__group--dynamic-section.promo__group--dynamic-section-3.m-bottom--lg(data-title="6.8折")
  .layout--main
    #decoDynamicSection3.promo__title
      .title__decoration
        img(src="event/3rd/e-main/components/dynamic-section-3/decoration-dynamic-section-3.png", alt="")
      .title__pic
        img(src="event/3rd/e-main/components/dynamic-section-3/title-dynamic-section-3.png", alt="下殺6.8折")


    .promo__wrap
      #dynamicSection3
        .product__wrap
