// ==========================================================================
// Plugins
// ==========================================================================
// // @import vendors/animate
// @import vendors/style/swiper-slider-custom
@import vendors/style/swiper-safari-polyfill

// ==========================================================================
// first screen need
// ==========================================================================
// hero section
@import event/1st/e-main/components/hero-section/_hero-section
// @import utils/bg-decoration-instance/parallax/_parallax
// @import utils/bg-decoration-instance/css-firework-2/_css-firework-2

// ==========================================================================
// components
// ==========================================================================
// dynamic product 假宮格共用CSS
@import layout/dynamic-product/_dynamic-product.sass

// 一般components
@import event/1st/e-main/components/promo-event/_promo-event
@import event/1st/e-main/components/promo-section/_promo-section
// @import event/1st/e-main/components/promo-slider/_promo-slider
@import event/1st/e-main/components/dynamic-slider/_dynamic-slider
@import event/1st/e-main/components/tab-section/_tab-section
@import event/1st/e-main/components/event-w3m3/_event-w3m3
@import event/1st/e-main/components/bn-slider/_bn-slider
@import event/1st/e-main/components/beat-game/_beat-game
@import event/1st/e-main/components/promo-slider-sec/_promo-slider-sec
@import event/1st/e-main/components/promo-slider-2/_promo-slider-2
@import event/1st/e-main/components/bn-section/_bn-section
@import event/1st/e-main/components/daily-time/_daily-time


// ==========================================================================
// Page
// ==========================================================================
body
  +pos-set(relative)
  background-color: $main-e-background-color-1st
  
  .bg-web
    overflow: hidden
    &--top
      +pos-set(fixed, zero, 0%, 0%)
      +bg-set(url(event/1st/e-main/pages/index/bg-app-top.png), 100%)
      transition: all 1.1s ease-in-out
      +breakpoint-min($min-width-xl)
        top: 0
        +bg-set(url(event/1st/e-main/pages/index/bg-web-top.png), 100%)
        background-size: cover
        transition: all 1.1s ease-in-out
      +breakpoint-min($min-width-4xl)
        top: -6%
        transition: all 0.8s ease-in-out
      .sun
        position: absolute
        top: 2%
        left: calc(50% - 20px)
        width: 40px
        height: 40px
        border-radius: 50%
        opacity: .5
        background-color: rgba(255, 255, 255, 1)
        box-shadow: 0 0 80px 60px #fff, 0 0 100px 80px #F8EEF7, 0 0 120px 100px #E4D7EE, 0 0 140px 120px rgba(228, 215, 238, 0.2), 0 0 160px 200px rgba(228, 215, 238, 0.2), 0 0 180px 300px rgba(228, 215, 238, 0.1)
      &.bg-fixed
        background-position-y: 0
        +breakpoint-min($min-width-xl)
          background-position-y: -300px
        +breakpoint-min($min-width-3xl)
          background-position-y: -420px
    &--bottom
      +pos-set(fixed, zero, 0, 0)
      +bg-set(url(event/1st/e-main/pages/index/bg-app.png), 100%)
      transition: all 1.4s .3s ease-in
      +breakpoint-min($min-width-xl)
        +bg-set(url(event/1st/e-main/pages/index/bg-web.png), auto)
      +breakpoint-min($min-width-4xl)
        transition: all .8s ease-in-out

    &--boat
      position: fixed
      .video__wrap
        .video__block
          transition: transform 1s
        .hero__video--boat
          +pos-set(absolute, zero, -7%, -55%)
          transition: 2s ease-in-out
          +breakpoint-min($min-width-lg)
            left: -50%
          +breakpoint-min($min-width-xl)
            top: 30px
            left: calc(50% - 700px)
            transform: translateY(0)
            transition: 4s ease-in-out
          +breakpoint-min($min-width-3xl)
            top: 0
            left: calc(50% - 900px)
          video
            width: 69%
            transition: transform 2s ease-out
            animation: boatBack 6s alternate infinite
            animation-play-state: paused
            +breakpoint-min($min-width-xl)
              width: auto
              max-width: 620px
              animation-play-state: running
            +breakpoint-min($min-width-3xl)
              max-width: 700px

  &.bg-fixed
    .bg-web--bottom
      background-position-y: 30px
      transition: all .8s
      +breakpoint-min($min-width-xl)
        transition: all .8s
        background-position-y: -300px
      +breakpoint-min($min-width-xl)
        transition: all .8s ease-in-out
    .bg-web--boat
      transition: transform 1s
      .video__wrap 
        .video__block
          animation-play-state: paused
          +breakpoint-min($min-width-xl)
            transform: translateY(-100px)
            animation: boatBack2 3s
            animation-play-state: running
          +breakpoint-min($min-width-4xl)
            animation: boatBack2 3s
            animation-play-state: running
            transform: translateY(-50px)
        .hero__video--boat
          left: -202%
          top: 12%
          +breakpoint-min($min-width-xl)
            top: -100px
            left: -100%
          +breakpoint-min($min-width-4xl)
            top: -50px
          .video__box
            transition: 1.5s
    
// TODO: 修改EU nav佔位高度(影響logo距離上方高度，U每次要改)
.navRightBar
  height: 39px
  +breakpoint-min($min-width-xl)
    height: auto

.decoration--top,
.decor--top
  +pos-set(absolute)
  pointer-events: none

section:not(.note)
  // 有parallax scroll時圖層有relative就有預設z-index可能會遮到宮格，因此使用這個讓宮格也能有預設z-index
  +pos-set(relative)
  a
    display: block

@keyframes bg-flash
  0%, 50%, to
    opacity: 1
  25%, 75%
    opacity: 0

// @keyframes sunLight
//   0%
//     transform: scale(1)
//     animation-timing-function: ease-in
//   10%
//     transform: scale(4)
//     animation-timing-function: ease-out
//   20%
//     transform: scale(1)

@keyframes boatBack
  0%, 15%
    transform: translateX(0)
  100%
    transform: translateX(150px)

@keyframes boatBack2
  0%
    transform: translateY(0)
  100%
    transform: translateY(-150px)
