-
  var promoEventData = [
    { // 1
      link: "",
      imgSrc: "event/1st/e-main/components/promo-event/items/promo-01.png",
      alt: "消費滿$99,999贈XXX"
    },
    { // 2
      link: "",
      imgSrc: "event/1st/e-main/components/promo-event/items/promo-02.png",
      alt: "猜勝隊，抽筆電"
    },
    { // 3
      link: "",
      imgSrc: "event/1st/e-main/components/promo-event/items/promo-03.png",
      alt: "指定銀行最高回饋$9,999"
    },
    { // 4
      link: "",
      imgSrc: "event/1st/e-main/components/promo-event/items/promo-04.png",
      alt: "加入3C Line好康社群"
    },
  ]

section.promo__group.promo__group--promo-event
  .layout--main
    .promo__wrap
      .promo__zone
        .promo__block
          ul.promo__box
            each data, index in promoEventData
              if index == 3
                li
                  a(href= data.link, title=data.alt, id="changeLink")
                    img(src= data.imgSrc, alt=data.alt)
              else
                li
                  a(href= data.link, title=data.alt)
                    img(src= data.imgSrc, alt=data.alt)