.promo__group--promo-event
  +pos-set(relative, second)
  overflow: hidden
  .promo__wrap
    +bg-set(url(event/1st/e-main/components/promo-event/bg-promo.png), 100%)
  .promo__zone
    +aspect-ratio(960, 640)
  .promo__block
    padding: 25% 11% 0
  .promo__box
    display: flex
    flex-wrap: wrap
    justify-content: space-between
    li
      margin-bottom: 3%
      width: 48%
      &:hover
        transform: translateY(-2%)
        filter: saturate(120%)
        transition: all .3s
      img
        width: 100%