//- 打開u-mall選項會自動轉換成U的logo和連結(預設etmall)
- var isU = false
//- 打開雙月選項切換雙月(預設單月)
//- var isEven = true

doctype html
html(lang='zh-Hant-TW')
  head
    include utils/pug/include/_meta
    include utils/pug/include/_slider-cdn-css
  body
    //- 每頁上方都要放動態產出置頂元件的定位tag(e.g. 電梯、浮水印)
    include utils/pug/include/_top-home-section

    //- main section 主視覺區
    include event/index-main-e-2/pages/_index.pug
    //- include event/index-main-u-2/pages/_index.pug
