.head__zone
  .title__block
    .decoration__title
      img(src="~components/player-section/decoration-player.png", alt="")
    .promo__title
      img(src="~components/player-section/section-title-player.png", alt="")
  .search__block
    .search__box.shape--capsule-pad.shape--yellow-pad
      .input__box
        input#searchPlayer.input__search(placeholder="請輸入報名名稱或編號")
      .submit__box
        button.btn--search.btn--radius.btn--orange
          img(src="~components/player-section/icon-search.svg", alt="搜尋")
          span 搜尋
      .record__box
        button.btn--fab.btn--capsule-pad.btn--fab-purple 投票紀錄