section.promo__group.promo__group--dynamic-slider.promo__group--dynamic-slider.m-bottom--lg(data-title="天天最低價")
  .layout--main
    .decor__wrap.full-parent
      .decor__item.decor__item--left#decorDynamicSliderLeft
        img(src="event/2nd/e-main/components/dynamic-slider/decor-dynamic-left.png" alt="")
      .decor__item.decor__item--title#titleDynamicSlider
        img(src="event/2nd/e-main/components/dynamic-slider/title-dynamic-slider.png" alt="")
      .decor__item.decor__item--right#decorDynamicSliderRight
        img(src="event/2nd/e-main/components/dynamic-slider/decor-dynamic-right.png" alt="")
    .promo__wrap
      .promo__zone
        .promo__block
          #dynamicSliderSection.promo__slider.swiper-container
            .swiper-wrapper

        //- #sliderDynamic2Prev.swiper-button-white.swiper-button-prev.dynamic__nav.dynamic__nav--prev
        //- #sliderDynamic2Next.swiper-button-white.swiper-button-next.dynamic__nav.dynamic__nav--next
        //- #sliderDynamic2Pager.dynamic-slider-pager.swiper-pagination

//- data-dynamic-2.js在assets資料夾內、由index.pug外連過去