.header__zone
  include /layout/logo/_logo.pug
  .share__wrap
    //- a(href!="javascript: void(window.open(&apos;https://lineit.line.me/share/ui?url=&apos;.concat(encodeURIComponent(location.href))));", title="分享到LINE").share__icon.share__icon--line
    //-   img(src="~layout/header/line-icon.png", alt="分享到LINE")
    a(href="javascript:void(0);", title="分享到facebook", onclick="window.open('https://www.facebook.com/sharer/sharer.php?u='+fbhtml_url); return false;").share__icon.share__icon--fb
      img(src="~layout/header/facebook-icon.png", alt="分享到facebook")