section.hero

  .decor--top.fg--scenes.full-parent
    .decor--top.fg.fg--1.full-parent
    .decor--top.fg.fg--2.full-parent
    .decor--top.fg.fg--3.full-parent
  .decor--top.fg--items.full-parent
    .decor--top.fg.fg--4
      img(src="event/1st/e-main/components/hero-section/fg-4.png", alt="")
    .decor--top.fg.fg--5
      img(src="event/1st/e-main/components/hero-section/fg-5.png", alt="")

  .layout--main
    .hero__wrap
      .hero__zone
        .hero__title
          .title--main
            .title__block
              .title__box
                img(src="event/1st/e-main/components/hero-section/title-1.png" alt="")
            .title__block
              .title__box
                img(src="event/1st/e-main/components/hero-section/title-2.png" alt="")
              .title__box
                img(src="event/1st/e-main/components/hero-section/title-3.png" alt="")
              .title__box.js-animate-check
                img(src="event/1st/e-main/components/hero-section/title-4.png" alt="")
          .title--decor
            img(src="event/1st/e-main/components/hero-section/decor-title.png" alt="")

        .video--decor
          img(src="event/1st/e-main/components/hero-section/decor-video.png" alt="")
        .title--sub
          img(src="event/1st/e-main/components/hero-section/sub-title.gif" alt="")
        .video__wrap
          include /event/1st/e-main/components/hero-section/hero-video/_hero-video.pug
