-
  var promoSectionData = [
    { // 1
      link: "#note1",
      imgSrc: "event/1st/e-main/components/promo-section/items/item-p-1.png",
      alt: "攻略A"
    },
    { // 2
      link: "https://m.etmall.com.tw/Activity/Lottery/2dc11a34ba50c8f48e901fcc1bcb60f9",
      imgSrc: "event/1st/e-main/components/promo-section/items/item-p-2.png",
      alt: "攻略B"
    },
    { // 3
      link: "https://www.etmall.com.tw/Activity/CouponReceiveAll",
      imgSrc: "event/1st/e-main/components/promo-section/items/item-p-3.png",
      alt: "攻略C"
    },
    { // 4
      link: "https://www.etmall.com.tw/member/taskActivity",
      imgSrc: "event/1st/e-main/components/promo-section/items/item-p-4.png",
      alt: "攻略D"
    },
  ]

section.promo__group.promo__group--promo-section
  .layout--main
    .promo__wrap
      .promo__zone
        .promo__block
          ul.event__block
            each data, index in promoSectionData
              if index == 3
                li
                  a(href= data.link, title=data.alt, id="changeLink")
                    img(src= data.imgSrc, alt=data.alt)
              else
                li
                  a(href= data.link, title=data.alt)
                    img(src= data.imgSrc, alt=data.alt)