// ==========================================================================
// variables -- 為了color picker外掛所以用.scss
// ==========================================================================

// Primary series
// ==========================================================================
$primary-medium: #cc1e05;

// Gray series
// ==========================================================================
$gray-deep-dark: #000000;
$gray-dark: #191e32;
$gray-medium: #8a8a8d;
$gray-light: #f6f6f6;
$gray-deep-light: #ffffff;

// Font family setting
// ========================================================================== */
$font-family: PingFangTC-regular, Roboto, "LiHei Pro", "Source Han Sans TC", -apple-system, BlinkMacSystemFont, "Segoe UI", Arial, "Microsoft JhengHei", sans-serif;

// Font siez setting
// ========================================================================== */
$fz-60: 60;
$fz-40: 40;
$fz-36: 36;
$fz-32: 32;
$fz-28: 28;
$fz-26: 26;
$fz-24: 24;
$fz-22: 22;
$fz-20: 20;
$fz-18: 18;
$fz-16: 16;
$fz-15: 15;
$fz-13: 13;
$fz-12: 12;

// Width values
// ========================================================================== */
$min-desktop: 1260px;
$max-pad: 1259px;
$middle-pad: 992px;
$min-pad: 768px;
$max-mobile: 767px;
$most-mobile: 375px;
$small-mobile: 360px;
