header.sp__header
  .layout--main
    .header__zone
      //- .header__block
        //- include /layout/logo/_logo.pug
        //- include /layout/share-tools/_share-tools
      //- include /layout/nav/_nav
