section#gamesWrap.promo__group.promo__group--left-right(data-title="牛轉乾坤")
  .left-right__web--bg
  .layout--main
    .left-right__wrap
      .block--left
        .item__box
          a(href="https://m.etmall.com.tw/Activity/Lottery/202101_8b8aac558b7d6c89a158eba7a444058a", title="牛年集大運")
            //img.turntable__bg(src="~event/2nd/e-main/components/left-right-section/game-left-bg.png", alt="", title="")
            img.turntable__bg(src="https://media.etmall.com.tw/sp/8249/game-left-bg.png", alt="", title="")
            img.turntable__circle(src="~event/2nd/e-main/components/left-right-section/game-left-circle.png", alt="", title="")
            img.turntable__point(src="~event/2nd/e-main/components/left-right-section/game-left-point.png", alt="", title="")
      .block--right
        #leftRightChange.item__box.not-yet
          .not-yet.not-yet__wrap
          a#leftRightChangeAnchor(href="javascript:void(0)" style="pointer-events: none;")
            img.img--notyet(src="~event/2nd/e-main/components/left-right-section/game-left-notyet.png", alt="遊戲尚未開始", title="遊戲尚未開始")
            img.img_open(src="~event/2nd/e-main/components/left-right-section/game-right.gif", alt="新春刮刮樂", title="新春刮刮樂")
