section.promo__group.promo__group--dialog
  .layout--main
    .dialog__wrap.slider--right
      a(href="#note")
        .promo__slider
          #sliderRight.swiper-container
            ul.swiper-wrapper
              li.swiper-slide.swiper-no-swiping
                img(src="~event/1st/e-main/components/dialog-slider/items/dialog-r-1.png", alt="")
              li.swiper-slide.swiper-no-swiping
                img(src="~event/1st/e-main/components/dialog-slider/items/dialog-r-2.png", alt="")
    .dialog__wrap.slider--left
      a(href="#note")
        .promo__slider
          #sliderLeft.swiper-container
            ul.swiper-wrapper
              li.swiper-slide.swiper-no-swiping
                img(src="~event/1st/e-main/components/dialog-slider/items/dialog-l-1.png", alt="")
              li.swiper-slide.swiper-no-swiping
                img(src="~event/1st/e-main/components/dialog-slider/items/dialog-l-2.png", alt="")

