.promo__group--dialog
  margin-bottom: 20%
  +breakpoint-min($min-width-xl)  
    margin-bottom: 180px

  .dialog__wrap
    .promo__slider
      width: 100%
      .swiper-container
        width: 100%
        height: 100%
      .swiper-slide
        width: 100%

  .slider--right
    .promo__slider
      margin-top: -2.5%
      margin-left: 34.5%
      width: 65.5%
  .slider--left
    .promo__slider
      margin-top: 12.5%
      width: 65.5%