section.promo__group.promo__group--tab.m-bottom--xs(data-title="1111專區")
  .layout--main
    ul.tab__wrap
      li.tab__zone
        ul#tabBox.tab__box
          li.tab__item(title="$11專區").active
            img(src="~event/1st/e-main/components/tab-section/items/tab/tab-1.png", alt="$11專區")
          li.tab__item(title="$111專區")
            img(src="~event/1st/e-main/components/tab-section/items/tab/tab-2.png", alt="$111專區")
          li.tab__item(title="$1,111專區")
            img(src="~event/1st/e-main/components/tab-section/items/tab/tab-3.png", alt="$1,111專區")
          li.tab__item(title="$11,111專區")
            img(src="~event/1st/e-main/components/tab-section/items/tab/tab-4.png", alt="$11,111專區")
      li.content__zone
        ul#tabContentBlock.content__block
          li.content__box.active
            .tab__slider.swiper-container
              ul.item__wrap.swiper-wrapper

          li.content__box
            .tab__slider.swiper-container
              ul.item__wrap.swiper-wrapper

          li.content__box
            .tab__slider.swiper-container
              ul.item__wrap.swiper-wrapper

          li.content__box
            .tab__slider.swiper-container
              ul.item__wrap.swiper-wrapper