.dynamic-slider-w3m3
  +pos-set(relative, zero)
  overflow: hidden
  .decor__item
    &--star1
      +pos-set(absolute, zero, 3%, 9%)
      width: 6%
      &.active
        animation: flash 1s 1s steps(1) infinite alternate
      +breakpoint-min($min-width-xl)
        top: 60px
        left: calc(50% - 370px)
    &--star2
      +pos-set(absolute, zero, 5%)
      right: 8%
      width: 8%
      transform: rotate(25deg)
      &.active
        animation: flash 1s steps(1) infinite alternate
      +breakpoint-min($min-width-xl)
        top: 80px
        right: calc(50% - 380px)
    &--item
      +pos-set(absolute, under, 0%, 5%)
      width: 90%
      // opacity: 1
      +breakpoint-min($min-width-xl)
        left: calc(50% - 435px)
    +breakpoint-min($min-width-xl)
      width: auto
  .promo__wrap
    +bg-set(url(event/1st/e-main/components/dynamic-slider-w3m3/bg-dynamic-slider-w3m3.png), 100%)
  .promo__zone
    +aspect-ratio(960, 1391)
  .promo__block
    padding: 44% 8% 0
  .promo__box
    img
      width: 100%
      border-radius: 2vw
      +breakpoint-min($min-width-xl)
        border-radius: 16px
  .promo__slider
    padding-top: 6%
    .swiper-slide
      display: flex
      justify-content: space-around
      flex-wrap: wrap


@keyframes bounceIn
  0%, 20%, 40%, 60%, 80%, to
    animation-timing-function: cubic-bezier(.215, .61, .355, 1)
  0%
    transform: scale3d(.7, .7, .7)
  20%
    transform: scale3d(1, 1, 1)
  40%
    transform: scale3d(.9, .9, .9)
  60%
    transform: scale3d(1.02, 1.02, 1.02)
  80%
    transform: scale3d(.97, .97, .97)
  to
    transform: scaleX(1)

@keyframes swing
  20%
    transform: rotate(5deg)
  40%
    transform: rotate(-5deg)
  60%
    transform: rotate(5deg)
  80%
    transform: rotate(-5deg)
  to
    transform: rotate(0deg)

@keyframes message-scale
  0%, 80%
    opacity: 1
    transform: translateY(0) scale(1.1)
  40%
    opacity: 0.8
    transform: translateY(8px) scale(.8)

@keyframes stamp
  0%
    opacity: 0
    transform: scale(10)
  1%
    opacity: 1
  80%
    opacity: 1
    transform: scale(.8)
  100%
    opacity: 1
    transform: scale(1)

@keyframes thump-up
  0%, 15.5%, 30%, 100%
    transform-origin: right bottom
    transform: rotate(0)
  9%, 21.5%
    transform: rotate(6deg)