footer.sp__footer
  .layout--main
    .foot__title 協力廠商
    ul.footer__wrap
      li.footer-brand__item
        img(src="~layout/footer-brand-list/img/aibo.jpg", alt="aibo")
      li.footer-brand__item
        img(src="~layout/footer-brand-list/img/cheero.jpg", alt="cheero")
      li.footer-brand__item
        img(src="~layout/footer-brand-list/img/fitbit.jpg", alt="fitbit")
      li.footer-brand__item
        img(src="~layout/footer-brand-list/img/garmin.jpg", alt="GARMIN")
      li.footer-brand__item
        img(src="~layout/footer-brand-list/img/golife.jpg", alt="GOlife")
      li.footer-brand__item
        img(src="~layout/footer-brand-list/img/pierre cardin.jpg", alt="pierre cardin")
      li.footer-brand__item
        img(src="~layout/footer-brand-list/img/RhinoShield.jpg", alt="RhinoShield")
      li.footer-brand__item
        img(src="~layout/footer-brand-list/img/spigen.jpg", alt="spigen")