-
  var w4m2DataE = [
  {link: "https://www.etmall.com.tw/i/2632342",
  imgSrc: "https://media.etmall.com.tw/NXimg/002632/2632342/2632342-1_XL.jpg",
  alt: "CASIO 街頭時尚運動對錶(GA-110RG-1A+BA-110RG-1A)",
  price: "7,351"},
  {link: "https://www.etmall.com.tw/i/2685722",
  imgSrc: "https://media.etmall.com.tw/NXimg/002685/2685722/2685722-1_XL.jpg",
  alt: "★日本限定發售3件組★【MARUFUKU】輕透涼感無痕無鋼圈V型美背內衣(日/夜)全館買就送洗衣袋",
  price: "799"},
  {link: "https://www.etmall.com.tw/i/2246420",
  imgSrc: "https://media.etmall.com.tw/NXimg/002246/2246420/2246420-1_XL.jpg",
  alt: "彩花蜜 台灣蜂蜜3000g任選2件超值組",
  price: "1,699"},
  {link: "https://www.etmall.com.tw/i/2701806",
  imgSrc: "https://media.etmall.com.tw/NXimg/002701/2701806/2701806-1_XL.jpg",
  alt: "買一送一太禓食品-韓式大叔去骨炸雞(800g)x2包",
  price: "450"},
  {link: "https://www.etmall.com.tw/i/1773005",
  imgSrc: "https://media.etmall.com.tw/NXimg/001773/1773005/1773005-1_XL.jpg",
  alt: "日本原裝美島水肌亮白淡斑皂(買一送一)",
  price: "569"},
  {link: "https://www.etmall.com.tw/i/2703562",
  imgSrc: "https://media.etmall.com.tw/NXimg/002703/2703562/2703562-1_XL.jpg",
  alt: "ZA美白防曬霜EX(精靈版)(35gSPF26 PA++)3入",
  price: "580"},
  {link: "https://www.etmall.com.tw/i/2135042",
  imgSrc: "https://media.etmall.com.tw/NXimg/002135/2135042/2135042-1_XL.jpg",
  alt: "順安葡萄糖胺關節舒緩霜買一送一",
  price: "驚喜價"},
  {link: "https://www.etmall.com.tw/i/2444168",
  imgSrc: "https://media.etmall.com.tw/NXimg/002444/2444168/2444168-1_XL.jpg",
  alt: "【QBM】南極磷蝦油買一送一驚殺特惠組(60顆X2瓶)-網-特談-網",
  price: "888"},
  {link: "https://www.etmall.com.tw/i/2710539",
  imgSrc: "https://media.etmall.com.tw/NXimg/002710/2710539/2710539-1_XL.jpg",
  alt: "沙宣VSCS0110PIW 迷你16毫米負離子陶瓷直捲兩用造型器 + VS912PIW 摺疊式負離子吹風機 ",
  price: "1,369"},
  {link: "https://www.etmall.com.tw/i/2663568",
  imgSrc: "https://media.etmall.com.tw/NXimg/002663/2663568/2663568-1_XL.jpg",
  alt: "KINYO直立式蒸氣掛燙機HMH-8490*送多功能美食鍋",
  price: "1,880"},
  {link: "https://www.etmall.com.tw/i/2706896",
  imgSrc: "https://media.etmall.com.tw/NXimg/002706/2706896/2706896-1_XL.jpg",
  alt: "★買一送一★Tougher 9H滿版鋼化玻璃保護貼 - Samsung系列",
  price: "990"},
  {link: "https://www.etmall.com.tw/i/2671392",
  imgSrc: "https://media.etmall.com.tw/NXimg/002671/2671392/2671392-1_XL.jpg",
  alt: "(買一送一)聖沃夫岡 藍牙無線耳機",
  price: "999"},
  ]

-
  var w4m2DataU = [
  {link: "https://www.u-mall.com.tw/c1/45051", imgSrc: "~event/1st/u-main/components/event-w4m4/items/event-w4m4-img-1.png", alt: "開架保養"},
  {link: "https://www.u-mall.com.tw/np/73924", imgSrc: "~event/1st/u-main/components/event-w4m4/items/event-w4m4-img-2.png", alt: "關鍵保健"},
  {link: "notyet", imgSrc: "~event/1st/u-main/components/event-w4m4/items/event-w4m4-img-3.png", alt: "notyet"},
  {link: "https://www.u-mall.com.tw/XML/content/DMSetting/Final/202002/SP_1106075/w/index.html", imgSrc: "~event/1st/u-main/components/event-w4m4/items/event-w4m4-img-4.png", alt: "豪禮狂送"},
  {link: "https://www.u-mall.com.tw/XML/content/DMSetting/Final/202002/SP_1106076/w/index.html", imgSrc: "~event/1st/u-main/components/event-w4m4/items/event-w4m4-img-5.png", alt: "女王家居"},
  {link: "https://www.u-mall.com.tw/np/77121", imgSrc: "~event/1st/u-main/components/event-w4m4/items/event-w4m4-img-6.png", alt: "流行精選"},
  {link: "notyet", imgSrc: "~event/1st/u-main/components/event-w4m4/items/event-w4m4-img-7.png", alt: "notyet"},
  {link: "https://www.u-mall.com.tw/XML/content/DMSetting/Final/202002/SP_1106001/w/index.html", imgSrc: "~event/1st/u-main/components/event-w4m4/items/event-w4m4-img-8.png", alt: "Fun心出遊"},
  ]

- var w4m2Data = isU? w4m2DataU : w4m2DataE


section.promo__group.promo__group--w4m2.m-bottom--lg(data-title="好事成雙")
  .bn--w4m2--top
  .promo__wrap
    ul.good__wrap
      each data in w4m2Data
        li.one-buy-one-item
          a(href= data.link, title= data.alt)
            img(src= data.imgSrc, alt= data.alt)
            p.one-buy-one__title= data.alt
            p.one-buy-one__price
              span.price__unit $
              span.price__num= data.price


      //each data in w4m2Data
      //  li
      //    a(href= data.link, title= data.alt)
      //      img(src= data.imgSrc, alt= data.alt)
  .bn--w4m2--bottom
//.promo__wrap
//  #eventw4m2.dynamic-promo__slider.swiper-container
//    .event__items