.promo-event
  margin-top: -25px
  overflow: hidden
  +breakpoint-min($min-width-lg)
    margin-top: -45px
  
  .decor__wrap
    padding-bottom: 3%
  .decor__item

    &--left
      +pos-set(absolute, zero, 2%, 13%)
      width: 20%
      +breakpoint-min($min-width-xl)
        left: calc( 50% - 350px )

    &--right
      +pos-set(absolute, base, 0%)
      right: 1%
      width: 26%
      +breakpoint-min($min-width-xl)
        right: calc( 50% - 430px )

    +breakpoint-min($min-width-xl)
      width: auto

  .promo__wrap
    +aspect-ratio(960, 1551)
    +bg-set(url(event/1st/e-main/components/promo-event/bg-promo-event.png), 100%)
  .promo__zone
    padding: 15% 6% 5%

  .promo__block
    &:first-child
      .promo__box
        display: flex
        &:first-child
          .item__box
            &:first-child
              padding-top: 5%
              padding-right: 2%
              width: 64%
            &:last-child
              width: 36%
        &:last-child
          .item__box
            &:first-child
              padding-right: 3%
              width: 49.5%
            &:last-child
              width: 50.5%

  .event__item 
    width: 100%
    text-align: center
    transition: all .5s
    &:hover,
    &:active
      transform: scale(0.95)
      filter: contrast(1.2)

  .promo__box
    .swiper-container
      max-width: 100%
      li
        // width: 100%
        text-align: center

.animate
  transition: all 0.5s
  transform: scale(0.95)
  filter: contrast(1.2)