section.promo__group.bn-section-2.m-bottom--lg(data-title="訂單遊戲")
  .layout--main
    .decor__wrap.full-parent
      .decor__item.decor__item--title#decorBnSection2Title
        img(src="event/2nd/e-main/components/bn-section-2/decor-bn-2-title.png", alt="")
      .decor__item.decor__item--left#decorBnSection2Left
        img(src="event/2nd/e-main/components/bn-section-2/decor-bn-2-left.png", alt="")
      .decor__item.decor__item--right#decorBnSection2Right
        img(src="event/2nd/e-main/components/bn-section-2/decor-bn-2-right.png", alt="")
    .promo__wrap
      .promo__zone
        .promo__block
          .promo__box
            a(href="") 
              img(src="event/2nd/e-main/components/bn-section-2/bn-section-2.gif", alt="")