section#promoItemsWrap.promo__group.promo__group--items
  .promo__wrap.full-parent
    #itemSlider.promo__slider.block--center.swiper-container
      .swiper-wrapper
  #iconCancel.promo__icon.icon--cancel
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
      <path fill="#323232" fill-rule="evenodd" d="M12 2c5.523 0 10 4.477 10 10s-4.477 10-10 10S2 17.523 2 12 6.477 2 12 2zm0 1.5a8.5 8.5 0 1 0 0 17 8.5 8.5 0 0 0 0-17zm3.536 4.97a.75.75 0 0 1 .067.984l-.067.076-2.476 2.475 2.476 2.475a.75.75 0 0 1-.984 1.128l-.077-.067L12 13.065l-2.475 2.476a.75.75 0 0 1-1.127-.984l.067-.077 2.474-2.475L8.465 9.53a.75.75 0 0 1 .984-1.127l.076.067L12 10.944l2.475-2.474a.75.75 0 0 1 1.06 0z" style="fill:#fff"/>
    </svg>