.hero__video.full-parent
  video.video__box(loop muted playsinline disablePictureInPicture poster="poster-hero-video.png" preload="metadata")
    source(src="hero-video.mov" type='video/mp4; codecs="hvc1"')
    source(src="hero-video.webm" type="video/webm")
