.dynamic-slider
  +pos-set(relative, zero)
  overflow: hidden
  .decor__item
    &--left1
      +pos-set(absolute, zero, 13%, 0%)
      width: 20%
      opacity: 0
      &.active
        animation: slide-up-custom-1 .6s ease-in-out forwards 1, bounce 2s 1s linear infinite
      +breakpoint-min($min-width-xl)
        top: 145px
        left: calc(50% - 490px)

    &--left2
      +pos-set(absolute, zero, 3%, 7%)
      width: 15%
      opacity: 0
      &.active
        animation: slide-up-custom-2 .8s .3s ease-in-out forwards 1, bounce 2s 2s linear infinite
      +breakpoint-min($min-width-xl)
        top: 50px
        left: calc( 50% - 415px )
    &--right
      +pos-set(absolute, zero, 8%)
      right: 6%
      width: 19%
      +breakpoint-min($min-width-xl)
        top: 115px
        right: calc( 50% - 410px )

    +breakpoint-min($min-width-xl)
      width: auto

  .promo__wrap
    +bg-set(url(event/1st/e-main/components/dynamic-slider/bg-dynamic-slider.png), 100%)
  .promo__zone
    +aspect-ratio(960, 1210)
  .promo__block
    padding: 39% 8% 0
    +breakpoint-min($min-width-xl)
      padding-top: 375px
  .promo__slider
    .swiper-slide
      display: flex
      justify-content: space-between
      flex-wrap: wrap
    .dynamic__item
      width: 32%
      &:first-child
        width: 100%
        .product__img
          img
            border-radius: 1.2vw
            width: 100%
        .product__text
          display: none
      &:not(:first-child)
        margin-top: -49%
        +breakpoint-min($min-width-xl)
          margin-top: -380px
        
      

@keyframes slide-up-custom-1
  0%
    transform: translate(100%, 150%)
    opacity: 0
  100%
    transform: translate(0%, 0%)
    opacity: 1

@keyframes slide-up-custom-2
  0%
    transform: translate(20%, 300%)
    opacity: 0
  100%
    transform: translate(0%, 0%)
    opacity: 1

@keyframes bounce
  0%, 20%, 53%, to
    animation-timing-function: cubic-bezier(.215, .61, .355, 1)
    transform: translateZ(0)
  40%, 43%
    animation-timing-function: cubic-bezier(.755, .05, .855, .06)
    transform: translate3d(0, -10px, 0) scaleY(1.03)
  70%
    animation-timing-function: cubic-bezier(.755, .05, .855, .06)
    transform: translate3d(0, -5px, 0) scaleY(1.01)
  80%
    transition-timing-function: cubic-bezier(.215, .61, .355, 1)
    transform: translateZ(0) scaleY(.95)
  90%
    transform: translate3d(0, 0px, 0) scaleY(1.02)