//- TODO: 打開u-mall選項會自動轉換成U的logo和連結(預設etmall)
//- - var isU = true

main#spWrap.sp__wrap
  include /layout/header/_header

  //- hero section
  //- ===========================
  include /event/1st/e-main/components/hero/_hero

  //- other components
  //- ===========================
  include /event/1st/e-main/components/scroll-intro/_scroll-intro
  include /event/1st/e-main/components/info-cover/_info-cover
  include /event/1st/e-main/components/puzzle/_puzzle
  include /event/1st/e-main/components/random-card/_random-card

//- script區
include /utils/pug/_total-script
script#check(src="check.js")

