head
  meta(name="viewport", content="width=device-width, initial-scale=1.0")
body
  include /layout/header/_header

    //- hero section
    //- ===========================
  include /event/1st/e-main/components/hero-section/_hero-section

  //- other components
  //- ===========================
  //- TODO: 如果promo不用和hero綁在一起時放這
  .team__group
    include /event/1st/e-main/components/rule/_rule
    include /event/1st/e-main/components/my-team/_my-team
    include /event/1st/e-main/components/team/_team
    include /event/1st/e-main/components/step/_step
    include /event/1st/e-main/components/note-section/_note-section

  //- RD的彈窗結構，HTML必須要放並且display none，結構有三處共用兩組結構
  include /event/1st/e-main/components/modal-template/_modal-alert
  include /event/1st/e-main/components/modal-template/_modal-invite

