section.promo__group.promo__group--daily.m-bottom--md(data-title="大牌駕到")
  .layout--main
    //- .promo__title.block--center.text--center
      //- .title__text.daily__text
        //- span#dailyMonth 8
        //- span /
        //- span#dailyDate 26
      .title__text.daily__countdown
        span#dailyHour 00
        span :
        span#dailyMin 00
        span :
        span#dailySec 00  
      //- img(src="~event/2nd/e-main/components/daily-change/title-daily-change.png", alt="大牌倒數")

    .promo__wrap
      .title__text.daily__countdown
        .time__block
          .time__box
            span#dailyHourTens 0
          .time__box
              span#dailyHourUnits 0
        .time__block
          .time__box
            span#dailyMinTens 0
          .time__box
            span#dailyMinUnits 0
        //- span :
        .time__block
          .time__box
            span#dailySecTens 0
          .time__box
            span#dailySecUnits 0
      .daily__change#dailyChange
        a(href="", title="大牌駕到")
          img(src="~event/2nd/e-main/components/daily-change/items/daily-item-1.png", alt="超級大牌")
