section.hero__wrap
  .hero__zone
    .layout--main
      .hero__block
        .hero__box
          //- 標題
          h1.hero__title.hero__title--main.block--center.wow(title="919狂歡購")
            img.wow(src="~event/2nd/e-main/components/hero-section/title-1.png", alt="")
            img#heroTitle(src="~event/2nd/e-main/components/hero-section/title-2.png", alt="919狂歡購")
          .decoration__title
            img.wow(src="~event/2nd/e-main/components/hero-section/decoration-light.png", alt="")
            img.wow(src="~event/2nd/e-main/components/hero-section/decoration-small.png", alt="")

  //- TODO: 如果hero和promo要共用主視覺時這樣放
  //- .promo__zone
    //- .layout--main
      //- .promo__block
        //- 行銷誘因
        //- include /event/2nd/e-main/components/promo-event/_promo-event

        //- 商品輪播
          //- 副標
        //- .hero__small__zone
          //- include /event/2nd/e-main/components/hero-small-slider/_hero-small-slider




