// // ==========================================================================
// // main
// // ==========================================================================
.hero__wrap
  +pos-set(relative, zero)
  +bg-set(url("~event/2nd/e-main/components/hero-section/bg-hero-web.jpg"), 100%)
  // overflow: hidden
  // +breakpoint-min($min-width-xl)
  //   background-size: auto

  .hero__zone
    overflow: hidden

  .hero__block
    +pos-set(relative, zero)
    padding-top: 3%
    padding-bottom: 25%
    +bg-set(url("~event/2nd/e-main/components/hero-section/bg-hero.jpg"), 100%)

  +breakpoint-min($min-width-xl)
    background-size: auto
    .hero__block
      padding-bottom: 260px



  .hero__box
    +pos-set(relative, zero)
    margin-left: 10%
    width: 85.6%

  .hero__title
    &--main
      +pos-set(relative, zero)
      width: 100%
      text-align: center
      transform-origin: center
      animation: bounceInUp 1s both

      > img
        &:first-of-type
          +pos-set(relative, base)
          margin-bottom: -18%
          width: 54%
          animation: jello 1.8s 1.5s both infinite

  .decoration__title
    +pos-set(absolute, zero)
    bottom: 17%
    left: 0
    width: 100%
    img:last-child
      +pos-set(absolute, base)
      top: 20%
      left: 24%
      width: 53%
      // animation: show-hide 0.5s infinite

    +breakpoint-min($min-width-xl)
      bottom: 74px

@keyframes fly-big
  0%
    opacity: 0
    transform: scale(0)
  100%
    opacity: 1
    transform: scale(1)

@keyframes bounceInUp
  0%, 60%, 75%, 90%, to
    animation-timing-function: cubic-bezier(.215, .61, .355, 1)
  0%
    opacity: 0
    transform: translate3d(0, 50px, 0) scale(0)
  60%
    opacity: 1
    transform: translate3d(0, -10px, 0) scale(1.1)
  75%
    opacity: 1
    transform: translate3d(0, 5px, 0) scale(.985)
  90%
    opacity: 1
    transform: translate3d(0, -2px, 0) scale(1.05)
  to
    opacity: 1
    transform: translateZ(0)

@keyframes jello
  0%, 6%, to
    transform: translateZ(0)
  11%
    transform: skewX(-12.5deg) skewY(-12.5deg)
  17%
    transform: skewX(6.25deg) skewY(6.25deg)
  22%
    transform: skewX(-3.125deg) skewY(-3.125deg)
  27%
    transform: skewX(1.5625deg) skewY(1.5625deg)
  32%
    transform: skewX(-.78125deg) skewY(-.78125deg)
  37%
    transform: skewX(.390625deg) skewY(.390625deg)
  42%
    transform: skewX(-.1953125deg) skewY(-.1953125deg)

  // TODO: 如果hero和promo要共用主視覺時的共用區塊背景設定 
  // .promo__zone
    // margin-top: 8%
    //background-color: $gray-deep-light
    // +breakpoint-min($min-width-xl)
      // background-color: transparent
