/*------  共用區public ------ */
.float-left, .pull-left
  float: left

.float-right, .pull-right
  float: right

.text-left
  text-align: left !important

.row-2
  margin-right: -15px
  margin-left: -15px

.row-padding
  padding-right: 15px
  padding-left: 15px

.no-p
  padding: 0

.no-pl
  padding-left: 0

.no-pr
  padding-right: 0

.no-ml
  margin-left: 0

.no-mr
  margin-right: 0

.notice
  color: $notice-err

button:focus
  outline: none

.form-control:focus
  border-color: rgba($theme-main, .4)
  box-shadow: 0 0 0 0.1rem rgba($theme-main, .3)
