section.promo__group.promo__group--w1m1(data-title="RO新世代")
  .layout--main
    .promo__wrap
      .promo__zone
        a(href="https://media.etmall.com.tw/sp/9778/m/index.html", title="仙境傳說RO新世代的誕生，獨家虛寶再送健身環")
          img(src="event/2nd/e-main/components/event-w1m1/items/ro.png", alt="仙境傳說RO新世代的誕生，獨家虛寶再送健身環")