.promo__group--w1m1
  +pos-set(relative, base)
  margin-top: -3.5%
  +breakpoint-min($min-width-xl)
    margin-top: -35px

  .promo__wrap
    +aspect-ratio(921, 803)
  .promo__zone
    padding-left: 4.0625%
    a
      cursor: url(event/2nd/e-main/components/event-w1m1/cursor-w1m1.png) 0 128, pointer
