section.promo__group.promo__group--scroll
  .layout--main
    .scroll__wrap
      .scroll__zone
        .decoration--scroll.decoration--scroll-top
          img(src="event/1st/e-main/components/scroll-intro/decoration-scroll-top.png", alt="")
        .scroll__block
          .scroll__box.wow
            .intro__box
              img(src="event/1st/e-main/components/scroll-intro/intro.png", alt="活動辦法")
        .decoration--scroll.decoration--scroll-bottom.wow
          img(src="event/1st/e-main/components/scroll-intro/decoration-scroll-bottom.png", alt="")