
body, div, form, input, textarea, td, th, embed, object {
    font-family: "Arial","新細明體";
    margin: 0;
    padding: 0;
}
body, td, th {
    color: #ff348d;
    font-size: 12px;
}
body {
    background: #fff none repeat scroll 0 0;
    position: relative;
    width: 100%;
}
body#store-0 #R65-b-tm {
    background: #dbdbdb none repeat scroll 0 0;
    height: 34px;
}
img {
    border: 0 none;
}
a {
    color: #5d5d5d;
    text-decoration: none;
}
a:hover {
    color: #900;
}
a:link {
    text-decoration: none;
}
a:active {
    text-decoration: none;
}
* html, * html body {
    background-attachment: fixed;
    background-image: url("about:blank");
}
.ie6fixedTL {
    position: fixed;
    right: -202px;
    top: 140px;
    z-index: 2147483647;
}
* html .ie6fixedTL {
    position: absolute;
}
.ie6fixedTL .sideBcol, .ie6fixedTL .sideBcor {
    float: left;
}
.ie6fixedTL .sideBcor {
    background: #ffbbcd none repeat scroll 0 0;
    border-bottom: 2px solid #333;
    border-left: 2px solid #333;
    border-top: 2px solid #333;
    padding: 6px;
    width: 188px;
}
.imgblock {
    display: block;
}
.imgvertical {
    vertical-align: top;
}
.fullscreen {
    margin: 0 auto;
    padding: 0;
    position: relative;
    text-align: center;
    width: 100%;
}
.fullscreenIndex {
    margin: 0 auto;
    padding: 0;
    text-align: center;
    width: 100%;
}
.div940 {
    margin: 0 auto;
    text-align: left;
    width: 940px;
    z-index: 999;
}
.div750 {
    margin: 0 auto;
    text-align: left;
    width: 750px;
}
.clearfix {
}
.clearfix::after {
    clear: both;
    content: "";
    display: block;
    height: 0;
    visibility: hidden;
}
.clearfix35 {
    clear: both;
    font-size: 1px;
    height: 35px;
    margin-top: -1px;
}
.clearfix35::after {
    clear: both;
    content: "";
    display: block;
    height: 0;
    visibility: hidden;
}
.clearfix10 {
    clear: both;
    font-size: 1px;
    height: 10px;
    margin-top: -1px;
}
.clearfix10::after {
    clear: both;
    content: "";
    display: block;
    height: 0;
    visibility: hidden;
}
.clearfix1 {
    clear: both;
    font-size: 1px;
    height: 1px;
    margin-top: -1px;
}
.clearfix1::after {
    clear: both;
    content: "";
    display: block;
    height: 0;
    visibility: hidden;
}
.clearfix_bgline {
    background: rgba(0, 0, 0, 0) url("../R6Images/R65/bg_best_product_line.gif") repeat-x scroll 0 17px;
}
.clearfix_bgline5 {
    background: rgba(0, 0, 0, 0) url("../R6Images/common.gif") no-repeat scroll 5px -365px;
}
.bigIndex_HK {
    background: #e2e7ed none repeat scroll 0 0;
    display: none;
}
.bg940color_uh {
    background: #fff none repeat scroll 0 0;
    position: relative;
}
.bg940color_tm {
    background: #a30001 none repeat scroll 0 0;
}
.bg940color_AD {
    background: #ffcfd3 none repeat scroll 0 0;
}
.bg940color_HK {
    background: #e2e7ed none repeat scroll 0 0;
}
.bg940color_CB {
    background: #fff none repeat scroll 0 0;
}
.bg940color_FT {
    background: #e4e4e4 none repeat scroll 0 0;
    width: 1008px !important;
}
.bg940color_SPCB {
    background: #fff none repeat scroll 0 0;
}
#P_line {
    background-image: url("../R6Images/common.gif");
    background-position: 0 -370px;
    background-repeat: no-repeat;
    clear: both;
    height: 1px;
    margin: 10px;
}
#xframeTable {
    margin-bottom: -4px;
}
#wrapMain {
    background: #fff none repeat scroll 0 0;
    display: block;
    margin: 20px auto 0;
    position: relative;
    top: 0;
    width: 1000px;
}
#R65inkpad {
    background-image: url("../R6Images/Seal-s.png");
    background-repeat: no-repeat;
    height: 56px;
    left: 50%;
    margin-left: 440px;
    position: absolute;
    top: 3px;
    width: 56px;
    z-index: 50;
}
#CT_R65HomeLogo {
    display: block;
    float: left;
}
#CT_R65HomeLogo .newETMALLlogo {
    background: rgba(0, 0, 0, 0) url("../R6Images/2013EtmallLogo.png") no-repeat scroll 0 0;
    height: 54px;
    left: -25px;
    overflow: hidden;
    position: absolute;
    top: 3px;
    width: 150px;
    z-index: 999;
}
#CT_R65ADLogo .ADLogo {
    left: 110px;
    position: absolute;
    top: 3px;
}
#CT_R65Logo {
    display: block;
    float: left;
}
#CT_R65Logo .newETMALLlogo {
    background: rgba(0, 0, 0, 0) url("../R6Images/2013EtmallLogo.png") no-repeat scroll 0 0;
    height: 54px;
    left: -25px;
    overflow: hidden;
    position: absolute;
    top: 3px;
    width: 150px;
    z-index: 999;
}
#R65-b-newuh {
    background-color: #fff;
    height: 84px;
}
#R65-b-newuh .logo {
    float: left;
}
#R65-b-newuh .newlogo {
    left: 170px;
    position: absolute;
}
#R65-b-newuh .uhAD {
    float: left;
}
#R65-b-newuh .uhSearch {
    display: block;
    float: left;
    padding-top: 20px;
    width: 352px;
}
#R65-b-newuh .uhSearch .col, #R65-b-newuh .uhSearch .cor {
    float: right;
}
#R65-b-newuh .uhSearch .col {
    width: 350px;
    z-index: 999;
}
#R65-b-newuh .uhSearch .topNavi {
    margin-top: -5px;
    padding-right: 8px;
    text-align: right;
}
#R65-b-newuh .uhSearch .topNavi span {
    background: rgba(0, 0, 0, 0) url("../R6Images/common.gif") no-repeat scroll left -600px;
    color: #333;
    display: inline-block;
}
#R65-b-newuh .uhSearch .topNavi span a {
    color: #666;
    display: inline-block;
    font: 12px/30px "新細明體";
    letter-spacing: 1px;
    padding: 0 8px 0 4px;
}
#R65-b-newuh .uhSearch .topNavi span:hover {
    background: rgba(0, 0, 0, 0) url("../R6Images/common.gif") no-repeat scroll left -273px;
}
#R65-b-newuh .uhSearch .topNavi span:hover a {
    background: rgba(0, 0, 0, 0) url("../R6Images/newTopMenuBg_right.gif") no-repeat scroll right 3px;
    color: #fff;
    text-decoration: none;
}
#R65-b-newuh .uhSearch .searchBox .keyHere {
    background: rgba(0, 0, 0, 0) url("../R6Images/common.gif") no-repeat scroll -500px -206px;
    display: -moz-inline-box;
}
#R65-b-newuh .uhSearch .searchBox .SearchInput {
    border: 0 solid #f30;
    color: #999;
    font-size: 15px;
    margin-right: 2px;
    padding: 4px;
    width: 215px;
}
#R65-b-newuh .uhSearch .searchBox .advSearch {
    display: none;
    padding-left: 9px;
}
#R65-b-newuh .uhSearch .searchBox {
    border: 2px solid #e50075;
    margin: 1px 5px 0 0;
    padding-right: 10px;
    z-index: 999;
}
#R65-b-newuh .uhSearch .searchBox .newAddCategorySelect {
    border: 1px none;
    font-size: 15px;
    padding: 1px;
    width: 100px;
}
#R65-b-newuh .uhSearch .searchBox .AutoCompleteForm {
    margin: 2px;
    position: relative;
}
#R65-b-newuh .uhSearch .searchBox #myAutoComplete {
    left: 28px;
    position: absolute;
    top: 25px;
    width: 77.5%;
    z-index: 999;
}
#R65-b-newuh .uhSearch .searchBox #myAutoComplete ul {
    background: #fff none repeat scroll 0 0;
    border: 4px solid #e1e1e1;
    font-size: 12px;
    list-style: outside none none;
    margin: 0;
    padding: 0;
}
#R65-b-newuh .uhSearch .searchBox #myAutoComplete ul li {
    display: block;
    padding: 4px;
    position: relative;
    text-align: left;
}
#R65-b-newuh .uhSearch .searchBox #myAutoComplete ul li::after {
    clear: both;
    content: "";
    display: block;
    height: 0;
    visibility: hidden;
}
#R65-b-newuh .uhSearch .searchBox #myAutoComplete ul li.yui-ac-prehighlight {
    background: #838383 none repeat scroll 0 0;
}
#R65-b-newuh .uhSearch .searchBox #myAutoComplete ul li.yui-ac-highlight {
    background: #838383 none repeat scroll 0 0;
}
#R65-b-newuh .uhSearch .searchBox #myAutoComplete ul li.yui-ac-highlight span {
    color: #fff;
}
#R65-b-newuh .uhSearch .searchBox #myAutoComplete ul li .allblock {
    display: block;
    width: 94%;
}
#R65-b-newuh .uhSearch .searchBox #myAutoComplete ul li .keyword {
    color: #4d4d4d;
}
#R65-b-newuh .uhSearch .searchBox #myAutoComplete ul li .keyword em {
    font-size: 93%;
    font-style: normal;
    font-weight: bold;
}
#R65-b-newuh .uhSearch .searchBox #myAutoComplete ul li .populor {
    color: #4d4d4d;
    cursor: pointer;
    position: absolute;
    right: 2px;
    top: 3px;
}
#R65-b-newuh .uhSearch .searchBox #myAutoComplete ul li .hasbg {
    background: #eee none repeat scroll 0 0;
    color: #4d4d4d;
}
#R65-b-newuh .uhSearch .searchBox #myAutoComplete ul li .hasbg:hover {
    background: #838383 none repeat scroll 0 0;
    color: #fff;
}
#mainMenu {
    width: 1000px;
}
.inputimg22 {
    background: rgba(0, 0, 0, 0) url("../E68Images/top_navi_sprite.png") no-repeat scroll 0 -400px;
    border: 0 none;
    cursor: pointer;
    display: block;
    height: 31px;
    position: absolute;
    right: -14px;
    top: -4px;
    width: 39px;
}
.yui-ac-content {
    height: 123px;
    width: 264px;
    z-index: 999;
}
.chromestyle::after {
    clear: both;
    content: ".";
    display: block;
    height: 0;
    visibility: hidden;
}
.chromestyle .clearfixbilly {
    color: #fff;
    display: block;
    height: 34px;
    margin: 0 auto;
    padding-left: 19px;
    position: relative;
    text-decoration: none;
    top: -4px;
}
.chromestyle .Menu2013 {
    color: #fff;
    display: block;
    height: 34px;
    margin: 0 auto;
    overflow-y: hidden;
    padding-left: 34px;
    position: relative;
    text-decoration: none;
    top: -4px;
    width: 100%;
}
.chromestyle ul li {
    display: block;
    float: left;
}
.chromestyle .Menu2013 li a {
    border: 1px solid #dbdbdb;
    color: #fff;
    display: block;
    float: left;
    font-size: 15px;
    line-height: 30px;
    text-align: center;
}
.chromestyle .Menu2013 li a.ADMenuColorA {
    border-right: 1px solid #ff79ac;
}
.chromestyle .Menu2013 li a.ADMenuColorB {
    border-right: 1px solid #c03170;
}
.chromestyle .Menu2013 li a.selected {
    background-color: #fff;
    border: 1px solid #000;
    color: #fff;
}
.chromestyle .Menu2013 li a.selected:hover {
    background-color: #fff !important;
    color: #fff;
}
.chromestyle .Menu2013 li a:hover {
    background: #ff6692 none repeat scroll 0 0 !important;
}
.ADMenuColorA {
    background-color: #ff79ac;
}
.ADMenuColorB {
    background-color: #c03170;
}
.chromestyle .clearfix li a.onelevelOne {
    background-color: #e00062;
    border-top: 1px solid #e00062;
    color: #fff;
    display: block;
    float: left;
    font-size: 15px;
    height: 34px;
    line-height: 2.3;
    overflow-y: hidden;
    text-align: center;
}
.chromestyle .clearfix li:nth-child(n+18) a {
    border-right: 0 solid #fcc !important;
}
.chromestyle ul li a.sd53212 {
    background-color: #a00052 !important;
    background-image: url("../E68Images/shopTop.png");
    background-position: 0 0;
    color: #ffff00 !important;
}
.chromestyle ul li a.sd53212:hover {
    background-color: #fff !important;
    background-image: url("../E68Images/shopTop.png") !important;
    background-position: 0 0 !important;
    border-top: 1px solid #fff;
    color: #000 !important;
}
.chromestyle .clearfix li a.onelevelOne:hover {
    background: #fff none repeat scroll 0 0;
    color: #fff;
}
@media only screen and (max-device-width: 480px) {
.chromestyle .clearfix li a.onelevelOne {
    font-size: 13px;
}
.chromestyle ul:first-child li a {
    padding: 0 10px;
}
}
@media not all {
.chromestyle .clearfix li a.onelevelOne {
    font-size: 13px;
}
.chromestyle ul:first-child li a {
    padding: 0 10px;
}
}
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
.chromestyle .clearfix li a.onelevelOne {
    font-size: 14px;
}
}
@media not all {
.chromestyle .clearfix li a.onelevelOne {
    font-size: 14px;
}
}
@media not all {
.chromestyle .clearfix li a.onelevelOne {
    font-size: 14px;
}
}
.chromestyle .clearfix li a.onelevelOne:hover {
    background: #ff6692 none repeat scroll 0 0;
}
#store-0 .chromestyle .clearfix li a.onelevelOne:hover {
    background: #ff6692 none repeat scroll 0 0;
}
#store-0 .chromestyle .clearfix li a.onelevelOne.selected {
    background: #ff6692 none repeat scroll 0 0 !important;
    color: #fff;
}
#store-1 .chromestyle .clearfix li a.onelevelOne:hover {
    background: #ff6692 none repeat scroll 0 0;
}
#store-1 .chromestyle .clearfix li a.onelevelOne.selected {
    background: #ff6692 none repeat scroll 0 0 !important;
    color: #fff;
}
#store-2 .chromestyle .clearfix li a.onelevelOne:hover {
    background: #ff6692 none repeat scroll 0 0;
}
#store-2 .chromestyle .clearfix li a.onelevelOne.selected {
    background: #ff6692 none repeat scroll 0 0 !important;
    color: #fff;
}
#store-3 .chromestyle .clearfix li a.onelevelOne:hover {
    background: #ff6692 none repeat scroll 0 0;
}
#store-3 .chromestyle .clearfix li a.onelevelOne.selected {
    background: #ff6692 none repeat scroll 0 0 !important;
    color: #fff;
}
#store-4 .chromestyle .clearfix li a.onelevelOne:hover {
    background: #ff6692 none repeat scroll 0 0;
}
#store-4 .chromestyle .clearfix li a.onelevelOne.selected {
    background: #ff6692 none repeat scroll 0 0 !important;
    color: #fff;
}
#store-5 .chromestyle .clearfix li a.onelevelOne:hover {
    background: #ff6692 none repeat scroll 0 0;
}
#store-5 .chromestyle .clearfix li a.onelevelOne.selected {
    background: #ff6692 none repeat scroll 0 0 !important;
    color: #fff;
}
#store-6 .chromestyle .clearfix li a.onelevelOne:hover {
    background: #ff6692 none repeat scroll 0 0;
}
#store-6 .chromestyle .clearfix li a.onelevelOne.selected {
    background: #ff6692 none repeat scroll 0 0 !important;
    color: #fff;
}
#store-7 .chromestyle .clearfix li a.onelevelOne:hover {
    background: #ff6692 none repeat scroll 0 0;
}
#store-7 .chromestyle .clearfix li a.onelevelOne.selected {
    background: #ff6692 none repeat scroll 0 0 !important;
    color: #fff;
}
#store-8 .chromestyle .clearfix li a.onelevelOne:hover {
    background: #ff6692 none repeat scroll 0 0;
}
#store-8 .chromestyle .clearfix li a.onelevelOne.selected {
    background: #ff6692 none repeat scroll 0 0 !important;
    color: #fff;
}
#store-12 .chromestyle .clearfix li a.onelevelOne:hover {
    background: #ff6692 none repeat scroll 0 0;
}
#store-12 .chromestyle .clearfix li a.onelevelOne.selected {
    background: #ff6692 none repeat scroll 0 0 !important;
    color: #fff;
}
#store-4416 .chromestyle .clearfix li a.onelevelOne:hover {
    background: #ff6692 none repeat scroll 0 0;
}
#store-4416 .chromestyle .clearfix li a.onelevelOne.selected {
    background: #ff6692 none repeat scroll 0 0 !important;
    color: #fff;
}
#store-6049 .chromestyle .clearfix li a.onelevelOne:hover {
    background: #ff6692 none repeat scroll 0 0;
}
#store-6049 .chromestyle .clearfix li a.onelevelOne.selected {
    background: #fff none repeat scroll 0 0 !important;
    color: #fff;
}
#store-16461 .chromestyle .clearfix li a.onelevelOne:hover {
    background: #ff6692 none repeat scroll 0 0;
}
#store-16461 .chromestyle .clearfix li a.onelevelOne.selected {
    background: #ff6692 none repeat scroll 0 0 !important;
    color: #fff;
}
#store-16462 .chromestyle .clearfix li a.onelevelOne:hover {
    background: #ff6692 none repeat scroll 0 0;
}
#store-16462 .chromestyle .clearfix li a.onelevelOne.selected {
    background: #ff6692 none repeat scroll 0 0 !important;
    color: #fff;
}
#store-22223 .chromestyle .clearfix li a.onelevelOne:hover {
    background: #ff6692 none repeat scroll 0 0;
}
#store-22223 .chromestyle .clearfix li a.onelevelOne.selected {
    background: #ff6692 none repeat scroll 0 0 !important;
    color: #fff;
}
#store-31770 .chromestyle .clearfix li a.onelevelOne:hover {
    background: #ff6692 none repeat scroll 0 0;
}
#store-31770 .chromestyle .clearfix li a.onelevelOne.selected {
    background: #ff6692 none repeat scroll 0 0 !important;
    color: #fff;
}
.chromestyle .clearfix li a.onelevelOne:hover {
    background: #ff6692 none repeat scroll 0 0 !important;
}
.chromestyle ul:first-child li a {
    padding: 0 10px;
}
.chromestyle ul:last-child li a.sd {
    padding: 0 11px;
}
.chromestyle .Menu2013 li a.sd {
    padding: 0 11px;
}
.dropmenudiv {
    background: white url("../R6Images/common.gif") repeat-y scroll -730px 0;
    border: 5px solid #f8dcdb;
    font: 13px/18px Verdana;
    position: absolute;
    top: 0;
    visibility: hidden;
    z-index: 1000;
}
#store-0 .dropmenudiv {
    border: 5px solid #f8dcdb;
}
.dropmenudiv .col {
    border-right: 1px solid #f8dcdb;
    float: left;
    width: 190px;
}
.dropmenudiv .noborder {
    border-right: 0 solid #f8dcdb;
}
.dropmenudiv .cor {
    float: left;
    width: 153px;
}
.dropmenudiv .cor h3 {
    color: #76233d;
    font-size: 12px;
    font-weight: bold;
    margin: 0;
    padding: 5px 0 0 9px;
}
#chromemenu {
    height: 33px;
}
#content_body .CBleft {
    background-color: #f8f8f8;
    float: left;
    width: 190px;
}
#content_body .CBright {
    float: right;
    width: 750px;
}
#R65-b-FL {
    border-bottom: 1px solid #d5d5d5;
    padding-bottom: 30px;
    padding-left: 15px;
}
#R65-b-FL .list {
    float: left;
    margin: 0 22px;
    padding-top: 15px;
    width: 105px;
}
#R65-b-FL .list .title {
    background: rgba(0, 0, 0, 0) url("../R6Images/common.gif") no-repeat scroll 0 -254px;
    color: #010000;
    display: block;
    line-height: 20px;
    text-align: center;
    width: 104px;
}
#R65-b-FL .list ul {
    float: left;
    list-style: outside none none;
    margin: 0;
    padding: 0;
    width: 104px;
}
#R65-b-FL .list ul li {
    margin-top: 3px;
    width: 104px;
}
#R65-b-FL .list ul li a {
    color: #404040;
    display: block;
    text-align: center;
}
#R65-b-FL .list ul li a:hover {
    color: #010000;
}
.R65-b-FI {
    padding-bottom: 40px;
}
.R65-b-FI .left, .R65-b-FI .right {
    float: left;
}
.R65-b-FI .left .hiddenimg {
    background: rgba(0, 0, 0, 0) url("../R6Images/etmall.png") no-repeat scroll 19px 10px;
    display: block;
    float: left;
    height: 93px;
    width: 123px;
}
.R65-b-FI .left .ipicon {
    display: inline-block;
    height: 12px;
    width: 11px;
}
.R65-b-FI .left ul {
    float: left;
    list-style: outside none none;
    margin: 10px 0 0;
    padding: 0;
}
.R65-b-FI .left ul li {
    color: #666;
    font-size: 12px;
    padding-bottom: 4px;
}
.R65-b-FI .left ul li a {
    text-decoration: underline;
}
.R65-b-FI .left ul li a:hover {
    color: #010000;
    text-decoration: none;
}
.R65-b-FI .right {
    background: rgba(0, 0, 0, 0) url("../R6Images/common.gif") no-repeat scroll -125px -383px;
    height: 110px;
    margin: 10px 0 0 15px;
    width: 344px;
}
.R65-b-FI .right ul {
    list-style: outside none none;
    margin: 0;
    padding: 10px 0 0 15px;
}
.R65-b-FI .right ul li {
    display: block;
    float: left;
}
.R65-b-FI .right ul li.setW {
    margin: 5px 19px 0;
    width: 95px;
}
.R65-b-FI .right .hitrust {
    margin-top: 10px;
}
.R65-b-FI .right .bsi {
    background: rgba(0, 0, 0, 0) url("../R6Images/common.gif") no-repeat scroll -471px -390px;
    display: block;
    height: 69px;
    width: 60px;
}
#R65-b-AD {
    display: none;
}
.bg940color_isuh {
    background: #fff none repeat scroll 0 0;
    position: relative;
}
.bg940color_tm {
    background-color: #dbdbdb;
}
.lgLeft {
    color: #515151;
    float: left;
    font-family: "新細明體";
    font-size: 12px;
    margin: 0;
    padding: 0;
    text-align: left;
    width: 374px;
}
.lgRight {
    color: #515151;
    float: right;
    font-family: "新細明體";
    font-size: 12px;
    margin: 0;
    padding: 0 0 0 22px;
    text-align: left;
    width: 406px;
}
#lg_P_line {
    background-image: url("../R6Images/R65/MemberCenter/dotLine_h.gif");
    background-repeat: repeat-x;
    clear: both;
    height: 1px;
    margin: 10px;
}
.vLine {
    background: #d9d9d9 none repeat scroll 0 0;
    float: left;
    height: 400px;
    margin: 0 0 0 43px;
    padding: 0;
    width: 1px;
}
.hLine {
    background: #d9d9d9 none repeat scroll 0 0;
    clear: both;
    display: block;
    height: 1px;
    margin: 0;
    overflow: hidden;
    padding: 0;
    width: 100%;
}
#loginCon {
    margin: 0 auto;
    padding: 43px 47px;
    vertical-align: middle;
}
#loginCon .hd {
    background: transparent url("../R6Images/R65/storetitle/Title_other.gif") no-repeat scroll 0 -407px;
    color: #929292;
    height: 37px;
    line-height: 46px;
    padding-left: 226px;
}
#loginCon .bd .content {
    margin: 18px 0 0;
    padding: 0;
}
#loginCon .bd .content span {
    color: #909090;
    display: inline-block;
    line-height: 32px;
    margin: 0;
    padding: 0 0 0 10px;
    vertical-align: middle;
}
#loginCon .bd .content span a {
    color: #909090;
    text-decoration: none;
}
#loginCon .bd .content ul li {
    line-height: 32px;
    list-style-image: url("../R6Images/R65/MemberCenter/squDot_11x11.gif");
}
#loginCon .bd .content ul li .liTitle {
}
#loginCon .bd .content ul li input {
    border: 1px solid #ccc;
    display: inline-block;
    height: 20px;
    line-height: 18px;
    margin: -8px 0 0;
    padding: 0;
}
#logindata #btBox {
    margin: -13px 0 0 110px;
    padding: 0 0 10px;
}
#loginInfo {
    color: #4e4e4e;
    line-height: 18px;
    margin: 0;
    padding: 20px 50px 12px 84px;
}
#loginInfo p {
    letter-spacing: 1px;
    margin: 0;
    padding: 8px 0;
}
#changeCodeImg {
    cursor: pointer;
}
#loginCon .lgLeft .bd .content ul li #Password {
    margin-left: 24px;
}
#loginCon .lgLeft .bd .content span.checkCodeInfocheckCodeInfo {
    display: inline-block;
}
#loginCon .lgLeft .bd .content span.checkCodeInfo span {
    margin: 0 0 0 10px;
}
#loginCon .lgLeft .bd .content span.checkCode {
    border: 1px solid #ccc;
    display: inline-block;
    height: 34px;
    margin: 0 0 0 96px;
    width: 106px;
}
#loginCon .lgLeft .bd .content span.checkCode img {
    margin: 0 0 0 -11px;
    padding: 0;
}
#loginCon .lgLeft .bd .content #loginBtn {
    background-image: url("../R6Images/R65/MemberCenter/BtnImg.gif");
    cursor: pointer;
    display: block;
    height: 32px;
    margin: 18px 0 10px 108px;
    width: 86px;
}
#loginCon .lgLeft .bd .content #loginBtn:hover {
    background-position: 0 -32px;
}
#loginCon .lgLeft .bd .content #loginNote {
    background: #e8e8e8 none repeat scroll 0 0;
    border: 3px solid #e8e8e8;
    color: #727272;
    letter-spacing: 1px;
    line-height: 18px;
    margin: 0 0 40px 10px;
    padding: 13px 10px;
    width: 352px;
}
#loginCon .lgLeft .bd .logindata {
    background: #fff none repeat scroll 0 0;
    color: #515151;
    font-family: "新細明體";
    font-size: 12px;
    margin: 0;
    padding: 0;
    text-align: left;
    width: 374px;
}
#loginCon .lgRight .newMemberReg {
    background: transparent url("../R6Images/R65/storetitle/Title_other.gif") no-repeat scroll 0 -444px;
    color: #929292;
    height: 37px;
    line-height: 46px;
    padding-left: 226px;
}
#loginCon .lgRight .bd .content #NewRegBtn {
    background-image: url("../R6Images/R65/MemberCenter/BtnImg.gif");
    background-position: -86px 0;
    cursor: pointer;
    display: block;
    height: 32px;
    margin: 18px 0 10px 158px;
    width: 86px;
}
#loginCon .lgRight .bd .content #NewRegBtn:hover {
    background-position: -86px -32px;
}
#loginCon .lgRight .bd .content #loginNote {
    background: #e8e8e8 none repeat scroll 0 0;
    border: 3px solid #e8e8e8;
    color: #727272;
    line-height: 18px;
    margin: 14px 0;
    padding: 13px 10px;
    width: 360px;
}
#loginCon .inrsArea {
    color: #515151;
    font-family: "新細明體";
    font-size: 12px;
    margin: -14px 0 0;
    overflow: hidden;
    padding: 0 22px;
    text-align: left;
    width: 95%;
}
#loginCon .nemberInrs {
    background: rgba(0, 0, 0, 0) url("../R6Images/R65/MemberCenter/Title_other.gif") no-repeat scroll 0 -439px;
    color: #929292;
    height: 46px;
    line-height: 46px;
    padding-left: 226px;
}
#nemberInrs #regStep {
    clear: both;
    float: right;
    height: 41px;
    width: 406px;
}
#nemberInrs .inrsCon {
    display: block;
    padding: 0 16px 20px;
    width: 95%;
}
#nemberInrs #inrsContent {
    background: #e8e8e8 none repeat scroll 0 0;
    border: 3px solid #e8e8e8;
    border-radius: 12px;
    color: #727272;
    line-height: 22px;
    margin: 4px 0 38px;
    padding: 13px 20px;
    width: inherit;
}
#nemberInrs #interTxt {
    background: #e8e8e8 none repeat scroll 0 0;
    border: 1px solid;
    color: #6d6d6d;
    height: 240px;
    line-height: 20px;
    overflow: scroll;
    padding: 6px 16px 16px 10px;
    width: 97%;
}
#nemberInrs #CheckBox1 {
    border: 1px solid;
    margin-top: -1px;
    padding-left: 170px;
    width: 552px;
}
#nemberInrs #CheckBox2 {
    border: 1px solid;
    margin-top: -1px;
    padding-left: 170px;
    width: 552px;
}
#nemberInrs #CheckBox3 {
    border: 1px solid;
    margin-top: -1px;
    padding-left: 170px;
    width: 552px;
}
#nemberInrs .interests {
    border: 1px solid;
    margin-top: -1px;
    width: 722px;
}
#interTxt li {
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
    font-size: 12px;
    line-height: 22px;
    list-style-type: inherit;
    margin: 0;
    padding: 0 5px 10px 0;
}
#nemberInrs .conSubTitle01 {
    background: rgba(0, 0, 0, 0) url("../R6Images/R65/MemberCenter/conSubTitle.gif") no-repeat scroll 0 0;
    display: block;
    height: 38px;
}
#nemberInrs .conSubTitle02 {
    background: rgba(0, 0, 0, 0) url("../R6Images/R65/MemberCenter/conSubTitle.gif") no-repeat scroll 0 -38px;
    display: block;
    height: 38px;
}
#nemberInrs .conSubTitle03 {
    background: rgba(0, 0, 0, 0) url("../R6Images/R65/MemberCenter/conSubTitle.gif") no-repeat scroll 0 -76px;
    display: block;
    height: 38px;
}
#nemberInrs #btBox {
    margin: 0 auto;
    padding: 0;
    text-align: center;
}
#nemberInrs .btBox {
    border-radius: 6px;
    cursor: pointer;
    display: inline-block;
    font-family: "新細明體";
    font-size: 12px;
    height: 32px;
    letter-spacing: 1px;
    margin: 0 5px 0 0;
    padding: 0 23px 0 25px;
}
#nemberInrs .R01 {
    background: #920d0e url("../R6Images/R65/MemberCenter/btn_arrwR.gif") no-repeat scroll right 9px;
    border: 3px solid #cf9395;
}
#nemberInrs .R02 {
    background: #b20708 url("../R6Images/R65/MemberCenter/btn_arrwR.gif") no-repeat scroll right 9px;
    border: 3px solid #cf9395;
}
#btLogin {
    background-image: url("../R6Images/R65/MemberCenter/BtnImg.gif");
    background-position: -172px 0;
    cursor: pointer;
    display: block;
    height: 32px;
    margin: 18px 0 10px 310px;
    width: 86px;
}
#btLogin:hover {
    background-position: -172px -32px;
}
#dearremind {
    color: #aa150f;
}
#lrAd {
    background: transparent none repeat scroll 0 0;
    left: 50%;
    position: fixed;
    top: 125px;
    width: 100%;
    z-index: 1;
}
#store-2 #lrAd, #store-6049 #lrAd, #store-1 #lrAd, #store-3 #lrAd, #store-12 #lrAd, #store-6 #lrAd, #store-5 #lrAd, #store-16462 #lrAd, #store-7 #lrAd, #store-8 #lrAd, #store-4 #lrAd, #store-4416 #lrAd {
    display: none;
}
#lrAd #imgL, #lrAd #imgR {
    cursor: pointer;
    height: 0;
    position: absolute;
    width: 0;
}
#imgL {
    background-position: 0 0;
    background-repeat: no-repeat;
    left: -670px;
    top: -30px;
}
#HomeimgL {
    background-position: 0 0;
    background-repeat: no-repeat;
    left: -670px;
    top: -30px;
}
#store-0 #lrAd #HomeimgL {
    background-image: url("../R6Images/empty_1px.gif");
    cursor: default;
    height: 779px;
    position: absolute;
    width: 170px;
}
#store-6049 #lrAd #HomeimgL {
    background-image: url("../R6Images/empty_1px.gif");
    cursor: default;
    height: 779px;
    position: absolute;
    width: 170px;
}
#imgR {
    background-position: 0 0;
    background-repeat: no-repeat;
    left: 500px;
    top: -30px;
}
#HomeimgR {
    background-position: 0 0;
    background-repeat: no-repeat;
    left: 500px;
    top: -30px;
}
#store-0 #HomeimgR {
    background-image: url("../R6Images/empty_1px.gif");
    cursor: default;
    height: 779px;
    position: absolute;
    width: 170px;
}
#store-6049 #HomeimgR {
    background-image: url("../R6Images/empty_1px.gif");
    cursor: default;
    height: 779px;
    position: absolute;
    width: 170px;
}
