section.promo__group.promo__group--text-slider.m-bottom--md(data-title="超級關鍵")
  .layout--main
    //- .promo__title.block--center.text--center
    //-   img(src="~event/2nd/e-main/components/dynamic-slider-3/title-dynamic-slider-3.png", alt="你會喜歡")
    .promo__wrap
      #textSlider.promo__slider.swiper-container
        .swiper-wrapper
          li.swiper-slide
            a(href="https://www.etmall.com.tw/Search?keyword=口罩")
              .keyword #口罩
          li.swiper-slide
            a(href="https://www.etmall.com.tw/Search?keyword=除濕機")
              .keyword #除濕機
          li.swiper-slide
            a(href="https://www.etmall.com.tw/Search?keyword=Apple")
              .keyword #Apple
          li.swiper-slide
            a(href="https://www.etmall.com.tw/Search?keyword=酒精")
              .keyword #酒精
          li.swiper-slide
            a(href="https://www.etmall.com.tw/Search?keyword=保濕")
              .keyword #保濕
          li.swiper-slide
            a(href="https://www.etmall.com.tw/Search?keyword=保暖")
              .keyword #保暖
          li.swiper-slide
            a(href="https://www.etmall.com.tw/Search?keyword=抗菌")
              .keyword #抗菌
          li.swiper-slide
            a(href="https://www.etmall.com.tw/Search?keyword=按摩")
              .keyword #按摩

      //#sliderDynamicPager_2.dynamic-slider-pager.swiper-pagination
      #sliderDynamicPrev_2.swiper-button-white.swiper-button-prev
      #sliderDynamicNext_2.swiper-button-white.swiper-button-next

//- data-dynamic-3.js在assets資料夾內、由index.pug外連過去