- var goodsDataE = [{link: "https://www.etmall.com.tw/XML/content/DMSetting/Final/201903/SP_1107542/w/index.html", imgSrc: "~components/goods-slider/items/e/1-1.png", alt: "吳忠憲&Sandy"}, {link: "https://www.etmall.com.tw/XML/content/DMSetting/Final/201903/SP_1107542/w/index.html", imgSrc: "~components/goods-slider/items/e/1-2.png", alt: "冬天熱賣鴛鴦鍋"}, {link: "https://www.etmall.com.tw/XML/content/DMSetting/Final/201903/SP_1107542/w/index.html", imgSrc: "~components/goods-slider/items/e/1-3.png", alt: "暢銷雙耳湯鍋組"}, {link: "https://www.etmall.com.tw/XML/content/DMSetting/Final/201903/SP_1107542/w/index.html", imgSrc: "~components/goods-slider/items/e/1-4.png", alt: "憲哥真心推薦敏捷膠原"}, {link: "https://www.etmall.com.tw/XML/content/DMSetting/Final/201903/SP_1107542/w/index.html", imgSrc: "~components/goods-slider/items/e/1-5.png", alt: "狂銷熱賣按摩器"}, {link: "https://www.etmall.com.tw/XML/content/DMSetting/Final/201903/SP_1107542/w/index.html", imgSrc: "~components/goods-slider/items/e/1-6.png", alt: "憲哥最愛保溫瓶"}, ]

//- ========== E 第二檔 ==========
- var goodsDataE_third = [{link: "https://www.etmall.com.tw/p/66085", imgSrc: "~components/goods-slider/items/e-3/band1/1-1.png", alt: "品牌飲品滿千送百"}, {link: "https://www.etmall.com.tw/XML/content/DMSetting/Final/201910/SP_1109132/w/index.html", imgSrc: "~components/goods-slider/items/e-3/band1/1-2.png", alt: "象印滿萬登記"}, {link: "https://www.etmall.com.tw/XML/content/DMSetting/Final/201910/SP_1113793/w/index.html", imgSrc: "~components/goods-slider/items/e-3/band1/1-3.png", alt: "送王品"}, {link: "https://www.etmall.com.tw/XML/content/DMSetting/Final/201909/SP_1113792/w/index.html", imgSrc: "~components/goods-slider/items/e-3/band1/1-4.png", alt: "送康寧"}, {link: "https://www.etmall.com.tw/p/82548", imgSrc: "~components/goods-slider/items/e-3/band1/1-5.png", alt: "佳麗寶"}, {link: "https://www.etmall.com.tw/c3/107930", imgSrc: "~components/goods-slider/items/e-3/band1/1-6.png", alt: "三星"},  {link: "https://www.etmall.com.tw/XML/content/DMSetting/Final/201910/SP_1113749/w/index.html", imgSrc: "~components/goods-slider/items/e-3/band1/1-7.png", alt: "華碩"}, {link: "https://www.etmall.com.tw/np/80524", imgSrc: "~components/goods-slider/items/e-3/band1/1-8.png", alt: "A.S.O阿瘦"}, ]

- var goodsDataU = [{link: "https://www.u-mall.com.tw/c3/125141", imgSrc: "~components/goods-slider/items/u/1-1.png", alt: "國際專櫃大牌"}, {link: "https://www.u-mall.com.tw/XML/content/DMSetting/Final/201909/SP_1110194/w/index.html", imgSrc: "~components/goods-slider/items/u/1-2.png", alt: "流行週年慶"}, {link: "https://www.u-mall.com.tw/XML/content/DMSetting/Final/201907/SP_1104923/w/index.html", imgSrc: "~components/goods-slider/items/u/1-3.png", alt: "手機新機駕到"}, {link: "https://www.u-mall.com.tw/XML/content/DMSetting/Final/201908/SP_1105017/w/index.html", imgSrc: "~components/goods-slider/items/u/1-4.png", alt: "熱銷3C下殺"}, {link: "https://www.u-mall.com.tw/c3/136255", imgSrc: "~components/goods-slider/items/u/1-5.png", alt: "保健週年慶"},{link: "https://www.u-mall.com.tw/c3/136255", imgSrc: "~components/goods-slider/items/u/1-6.png", alt: "休閒家寢聯慶"}, {link: "https://www.u-mall.com.tw/c3/ 136254", imgSrc: "~components/goods-slider/items/u/1-7.png", alt: "居家週年慶"}, {link: "https://www.u-mall.com.tw/c1/52384", imgSrc: "~components/goods-slider/items/u/1-8.png", alt: "頂級食刻"}, {link: "https://www.u-mall.com.tw/XML/content/DMSetting/Final/201908/SP_1105073/w/index.html", imgSrc: "~components/goods-slider/items/u/1-9.png", alt: "氣炸鍋"}, ]

//- var goodsData = isU? goodsDataU : goodsDataE
if isU && !is_third
  -var goodsData = goodsDataU
else if isU && is_third
  -var goodsData = goodsDataU_third
else if !isU && !is_third
  -var goodsData = goodsDataE
else if !isU && is_third
  -var goodsData = goodsDataE_third

//- ========== Code Start ==========

.goods__wrap
  .promo__slider
    #sliderGoods.swiper-container
      ul.swiper-wrapper
        each data in goodsData
          li.swiper-slide
            a(href= data.link, title= data.alt)
              img(src= data.imgSrc, alt= data.alt)
