section.daily__promo
  .layout--main
    .daily__wrap
      #food.daily__box.m-bottom--sm
        .daily__title
          span.date__box 12.1
          span.title__box 吃美食
        .daily__info
          .info__box 
            .info__title 優惠1：滿3,000送30,000
            .info__content 凡買滿3,000老闆就跳樓
          .info__box 
            .info__title 優惠2：滿3,000送30,000
            .info__content 凡買滿3,000老闆就跳樓凡買滿3,000老闆就跳樓凡買滿3,000老闆就跳樓凡買滿3,000老闆就跳樓凡買滿3,000老闆就跳樓凡買滿3,000老闆就跳樓凡買滿3,000老闆就跳樓
        ul.daily__item
          li
            a(href="", title="")
              .item__box
                .pic__wrap
                  .item__brand
                    img(src="https://media.etmall.com.tw/Promo/Image/BrandPublish/53385/2017121912349_230x90.jpg", alt="華歌爾")
                  .item__pic
                    img(src="https://media.etmall.com.tw/NXimg/002210/2210608/2210608-1_XL.jpg?t=17431426906", alt="超勁爆活力原味內褲 蕾絲加強版")
                .item__intro
                  .item__name 超勁爆活力原味內褲 蕾絲加強版
                  .item__price
                    span $
                    span 9,999,999
          li
            a(href="", title="")
              .item__box
                .pic__wrap
                  .item__pic
                    img(src="https://media.etmall.com.tw/NXimg/002210/2210608/2210608-1_XL.jpg?t=17431426906", alt="超勁爆活力原味內褲 蕾絲加強版")
                .item__intro
                  .item__name 超勁爆活力原味內褲 蕾絲加強版超勁爆活力原味內褲 蕾絲加強版超勁爆活力原味內褲 蕾絲加強版超勁爆活力原味內褲 蕾絲加強版超勁爆活力原味內褲 蕾絲加強版超勁爆活力原味內褲 蕾絲加強版超勁爆活力原味內褲 蕾絲加強版超勁爆活力原味內褲 蕾絲加強版超勁爆活力原味內褲 蕾絲加強版超勁爆活力原味內褲 蕾絲加強版超勁爆活力原味內褲 蕾絲加強版
                  .item__price
                    span $
                    span 9,999
          li
            a(href="", title="")
              .item__box
                .pic__wrap
                  .item__pic
                    img(src="https://media.etmall.com.tw/NXimg/002210/2210608/2210608-1_XL.jpg?t=17431426906", alt="超勁爆活力原味內褲 蕾絲加強版")
                .item__intro
                  .item__name 超勁爆活力原味內褲 蕾絲加強版
                  .item__price
                    span $
                    span 9,999
      #cosmetics.daily__box.m-bottom--sm
        .daily__title
          span.date__box 12.2
          span.title__box 美妝日
        .daily__info
          .info__box 
            .info__title 優惠1：滿3,000送30,000
            .info__content 凡買滿3,000老闆就跳樓
          .info__box 
            .info__title 優惠2：滿3,000送30,000
            .info__content 凡買滿3,000老闆就跳樓凡買滿3,000老闆就跳樓凡買滿3,000老闆就跳樓凡買滿3,000老闆就跳樓凡買滿3,000老闆就跳樓凡買滿3,000老闆就跳樓凡買滿3,000老闆就跳樓
        ul.daily__item
          li
            a(href="", title="")
              .item__box
                .pic__wrap
                  .item__brand
                    img(src="https://media.etmall.com.tw/Promo/Image/BrandPublish/53385/2017121912349_230x90.jpg", alt="華歌爾")
                  .item__pic
                    img(src="https://media.etmall.com.tw/NXimg/002210/2210608/2210608-1_XL.jpg?t=17431426906", alt="超勁爆活力原味內褲 蕾絲加強版")
                .item__intro
                  .item__name 超勁爆活力原味內褲 蕾絲加強版
                  .item__price
                    span $
                    span 9,999,999
          li
            a(href="", title="")
              .item__box
                .pic__wrap
                  .item__pic
                    img(src="https://media.etmall.com.tw/NXimg/002210/2210608/2210608-1_XL.jpg?t=17431426906", alt="超勁爆活力原味內褲 蕾絲加強版")
                .item__intro
                  .item__name 超勁爆活力原味內褲 蕾絲加強版超勁爆活力原味內褲 蕾絲加強版超勁爆活力原味內褲 蕾絲加強版超勁爆活力原味內褲 蕾絲加強版超勁爆活力原味內褲 蕾絲加強版超勁爆活力原味內褲 蕾絲加強版超勁爆活力原味內褲 蕾絲加強版超勁爆活力原味內褲 蕾絲加強版超勁爆活力原味內褲 蕾絲加強版超勁爆活力原味內褲 蕾絲加強版超勁爆活力原味內褲 蕾絲加強版
                  .item__price
                    span $
                    span 9,999
          li
            a(href="", title="")
              .item__box
                .pic__wrap
                  .item__pic
                    img(src="https://media.etmall.com.tw/NXimg/002210/2210608/2210608-1_XL.jpg?t=17431426906", alt="超勁爆活力原味內褲 蕾絲加強版")
                .item__intro
                  .item__name 超勁爆活力原味內褲 蕾絲加強版
                  .item__price
                    span $
                    span 9,999
          li
            a(href="", title="")
              .item__box
                .pic__wrap
                  .item__pic
                    img(src="https://media.etmall.com.tw/NXimg/002210/2210608/2210608-1_XL.jpg?t=17431426906", alt="超勁爆活力原味內褲 蕾絲加強版")
                .item__intro
                  .item__name 超勁爆活力原味內褲 蕾絲加強版超勁爆活力原味內褲 蕾絲加強版超勁爆活力原味內褲 蕾絲加強版超勁爆活力原味內褲 蕾絲加強版超勁爆活力原味內褲 蕾絲加強版超勁爆活力原味內褲 蕾絲加強版超勁爆活力原味內褲 蕾絲加強版超勁爆活力原味內褲 蕾絲加強版超勁爆活力原味內褲 蕾絲加強版超勁爆活力原味內褲 蕾絲加強版超勁爆活力原味內褲 蕾絲加強版
                  .item__price
                    span $
                    span 9,999
          li
            a(href="", title="")
              .item__box
                .pic__wrap
                  .item__pic
                    img(src="https://media.etmall.com.tw/NXimg/002210/2210608/2210608-1_XL.jpg?t=17431426906", alt="超勁爆活力原味內褲 蕾絲加強版")
                .item__intro
                  .item__name 超勁爆活力原味內褲 蕾絲加強版超勁爆活力原味內褲 蕾絲加強版超勁爆活力原味內褲 蕾絲加強版超勁爆活力原味內褲 蕾絲加強版超勁爆活力原味內褲 蕾絲加強版超勁爆活力原味內褲 蕾絲加強版超勁爆活力原味內褲 蕾絲加強版超勁爆活力原味內褲 蕾絲加強版超勁爆活力原味內褲 蕾絲加強版超勁爆活力原味內褲 蕾絲加強版超勁爆活力原味內褲 蕾絲加強版
                  .item__price
                    span $
                    span 9,999
          li
            a(href="", title="")
              .item__box
                .pic__wrap
                  .item__pic
                    img(src="https://media.etmall.com.tw/NXimg/002210/2210608/2210608-1_XL.jpg?t=17431426906", alt="超勁爆活力原味內褲 蕾絲加強版")
                .item__intro
                  .item__name 超勁爆活力原味內褲 蕾絲加強版超勁爆活力原味內褲 蕾絲加強版超勁爆活力原味內褲 蕾絲加強版超勁爆活力原味內褲 蕾絲加強版超勁爆活力原味內褲 蕾絲加強版超勁爆活力原味內褲 蕾絲加強版超勁爆活力原味內褲 蕾絲加強版超勁爆活力原味內褲 蕾絲加強版超勁爆活力原味內褲 蕾絲加強版超勁爆活力原味內褲 蕾絲加強版超勁爆活力原味內褲 蕾絲加強版
                  .item__price
                    span $
                    span 9,999