.daily__wrap
  padding-left: 2%
  padding-right: 2%

.daily__box
  &:nth-child(odd)
    background-color: $main-e-item-color
  &:nth-child(even)
    background-color: $main-e-item-color-2
    
.daily__title
  padding: 0.5% 2%
  color: $gray-deep-light
  font-style: italic
  .date__box
    +font-size(36)
    vertical-align: middle
  .title__box
    margin-left: 0.5em
    color: $main-e-third-medium
    +font-size(30)
    vertical-align: middle

.info__box
  color: $gray-deep-light
.info__title
  padding: 2% 3%
  width: 98%
  background-color: $main-e-item-color-3
  +font-size(18)
.info__content
  padding: 2% 3%
  +font-size(16)

.daily__item
  padding: 2%
  li
    margin-bottom: 1%
  a
    transition: transform 0.3s
    &:hover,
    &:active
      transform: translateY(-5px)
  .item__box
    +display-flex(">div")
    background-color: $gray-deep-light
    border-radius: 5px
    overflow: hidden
    .pic__wrap
      +flex(0, 0, 50%)
    .item__intro
      +flex(0, 0, 50%)
      padding: 15% 4.5% 4.5%

  .item__brand
    margin-left: auto
    margin-right: auto
    width: 75%
    + .item__pic
      margin-left: auto
      margin-right: auto
      width: 78%

  .item__name
    margin-bottom: 5%
    color: $gray-deep-dark
    +font-size(16)
    +text-fool(2.8em)
  .item__price
    color: $primary-medium
    text-align: center
    span
      &:first-child
        +font-size(12)
      &:last-child
        +font-size(24)
        font-weight: bold

+breakpoint-min($min-width-lg)
  .daily__info
    +display-flex(">div")
    flex-wrap: wrap
    .info__box
      +flex(0, 1, 50%)
  .daily__item
    +display-flex
    flex-wrap: wrap
    li
      +flex(1, 1, 32.6%)
      margin-right: 1%
      &:nth-child(3n)
        margin-right: 0
    .item__box
      display: block
      .pic__wrap,
      .item__intro
        float: none
        width: 100%
      .item__intro
        padding-top: 4.5%
    .item__brand
      width: 63.91%
      + .item__pic
        width: 75%

  .info__title,
  .info__content
    padding: 1.5% 5%
