- var goodsFlipDataE = [{link: "https://www.etmall.com.tw/XML/content/DMSetting/Final/201912/SP_1114222/w/index.html", imgSrc: "~event/1st/e-main/components/goods-slider-flip-full-screen/items/pic-1-min.png", alt: "保養彩妝激殺1.2折up"}, {link: "https://www.etmall.com.tw/np/87087", imgSrc: "~event/1st/e-main/components/goods-slider-flip-full-screen/items/pic-2-min.png", alt: "保健熱銷必買$1212up"}, {link: "https://www.etmall.com.tw/c3/133209", imgSrc: "~event/1st/e-main/components/goods-slider-flip-full-screen/items/pic-3-min.png", alt: "realme限時驚喜好禮"},  {link: "https://www.etmall.com.tw/XML/content/DMSetting/Final/201908/SP_1108878/w/index.html", imgSrc: "~event/1st/e-main/components/goods-slider-flip-full-screen/items/pic-4-min.png", alt: "聖誕強禮Switch Lite"}, {link: "https://www.etmall.com.tw/XML/content/DMSetting/Final/201912/SP_1114206/w/index.html", imgSrc: "~event/1st/e-main/components/goods-slider-flip-full-screen/items/pic-5-min.png", alt: "服飾精品年終狂歡"}, {link: "https://www.etmall.com.tw/XML/content/DMSetting/Final/201912/SP_1114244/w/index.html", imgSrc: "~event/1st/e-main/components/goods-slider-flip-full-screen/items/pic-6-min.png", alt: "倒數計食 年終犒賞"}, {link: "https://www.etmall.com.tw/XML/content/DMSetting/Final/201912/SP_1114198/w/index.html", imgSrc: "~event/1st/e-main/components/goods-slider-flip-full-screen/items/pic-7-min.png", alt: "大同40吋電視 $5990"},{link: "https://www.etmall.com.tw/XML/content/DMSetting/Final/201912/SP_1114205/w/index.html", imgSrc: "~event/1st/e-main/components/goods-slider-flip-full-screen/items/pic-8-min.png", alt: "旅遊最高折$5,000"}, ]



//- var goodsFlipData = isU? goodsFlipDataU : goodsFlipDataE
- var goodsFlipData = goodsFlipDataE

.goods__wrap--flip(data-title="銀行好禮")
  //- .goods__decoration.goods__decoration--right
  //- .goods__decoration.goods__decoration--left
  .promo__slider
    #sliderGoodsFlip.swiper-container
      ul.swiper-wrapper
        each data in goodsFlipData
          li.swiper-slide
            a(href= data.link, title= data.alt)
              img(src= data.imgSrc, alt= data.alt)
      //- #sliderGoodsFlipPager.swiper-pager-white.swiper-pagination
    //- #sliderGoodsFlipPrev.swiper-button-white.swiper-button-prev
    //- #sliderGoodsFlipNext.swiper-button-white.swiper-button-next

