section.promo__group.promo__group--w1m1-2.m-bottom--lg(data-title="")
  .layout--main
    .promo__wrap
      .promo__zone
        a(href="https://media.etmall.com.tw/sp/9429/m/index.html", title="小編推薦專區")
          img(src="event/2nd/e-main/components/event-w1m1-2/items/line-oa.png", alt="小編推薦專區")