.promo__group--promo
  .group__wrap
    ul
      display: flex
      flex-wrap: wrap
      justify-content: space-around
      li
        width: 50%
        a
          transition: transform 0.5s
          &:hover,
          &:active
            transform: scale(1.05)
            filter: brightness(120%)
