//- -
//-   var promoItemData = [
//-     {
//-       link: "",
//-       imgSrc: "event/1st/e-main/components/promo-event/items/promo-item-1.png",
//-       alt: "10/18-31 加入召集令 送樂透金 6%",
//-     },
//-     {
//-       link: "",
//-       imgSrc: "event/1st/e-main/components/promo-event/items/promo-item-2.png",
//-       alt: "1111召集令 $1,000換$1,288",
//-     },
//-     {
//-       link: "",
//-       imgSrc: "event/1st/e-main/components/promo-event/items/promo-item-3.png",
//-       alt: "召集令限定加碼抽 1111輪盤",
//-     },
//-   ]

-
  var promoEventData = [
    [
      {
        link: "",
        imgSrc: "event/1st/e-main/components/promo-event/items/item-p-event-1.png",
        alt: "尾牙摸彩 訂單滿額抽$1500",
      },
    ],
    [
      {
        link: "https://media.etmall.com.tw/sp/19552/m/index.html",
        imgSrc: "event/1st/e-main/components/promo-event/items/item-p-event-2-1.png",
        alt: "新友領起來～首次註冊送500東森幣",
      },
      //- {
      //-   link: "",
      //-   imgSrc: "event/1st/e-main/components/promo-event/items/item-p-event-2-2.png",
      //-   alt: "消費滿$1,111天天抽指定商品1元起",
      //- },
    ],
    [
      {
        link: "https://www.etmall.com.tw/member/taskActivity",
        imgSrc: "event/1st/e-main/components/promo-event/items/item-p-event-3-1.png",
        alt: "挑戰任務拿$1200",
      },
      {
        link: "https://www.etmall.com.tw/Activity/dl/LuckyDraw/9d608058849f214ac0c9ae096bce5cdf",
        imgSrc: "event/1st/e-main/components/promo-event/items/item-p-event-3-2.png",
        alt: "加入會員天天免費抽",
      },
      {
        link: "https://m.etmall.com.tw/Activity/Lottery/7b8f3c4d7e8283053c57730dded64ff2",
        imgSrc: "event/1st/e-main/components/promo-event/items/item-p-event-3-3.png",
        alt: "訂單滿額抽1,500枚東森幣",
      },
      {
        link: "https://www.etmall.com.tw/Activity/CouponReceiveAll",
        imgSrc: "event/1st/e-main/components/promo-event/items/item-p-event-3-4.png",
        alt: "全站折價券，限量開搶",
      },
    ],
    [
      {
        link: "",
        imgSrc: "event/1st/e-main/components/promo-event/items/item-p-event-4-1.png",
        alt: "集點加價購%東森幣回饋",
      },
      //- {
      //-   link: "",
      //-   imgSrc: "event/1st/e-main/components/promo-event/items/item-p-event-4-2.png",
      //-   alt: "離島配送滿額贈88枚樂透金",
      //- },
    ],
    [
      {
        link: "https://media.etmall.com.tw/sp/20182/m/index.html",
        imgSrc: "event/1st/e-main/components/promo-event/items/item-p-event-5.png",
        alt: "滿2500折200 指定商品100%東森幣回饋",
      },
    ],
    [
      {
        link: "https://media.etmall.com.tw/sp/20687/m/index.html",
        imgSrc: "event/1st/e-main/components/promo-event/items/item-p-event-6-1.png",
        alt: "全家取件送熱仙女紅茶再加碼抽淨水器",
      },
      {
        link: "https://media.etmall.com.tw/sp/20971/m/index.html",
        imgSrc: "event/1st/e-main/components/promo-event/items/item-p-event-6-2.png",
        alt: "不限金額消費送PILI線上看7天體驗序號",
      },
    ],
    [
      {
        link: "https://www.etmall.com.tw/p/198587",
        imgSrc: "event/1st/e-main/components/promo-event/items/item-p-event-7-1.jpg",
        alt: "WARMxANDZEN 任選2件79折",
      },
      {
        link: "https://www.etmall.com.tw/gp/168840",
        imgSrc: "event/1st/e-main/components/promo-event/items/item-p-event-7-2.jpg",
        alt: "滴雞精6折up",
      },
      {
        link: "https://www.etmall.com.tw/gp/116998",
        imgSrc: "event/1st/e-main/components/promo-event/items/item-p-event-7-3.jpg",
        alt: "石墨烯年終狂歡慶",
      },
      {
        link: "https://media.etmall.com.tw/sp/20803/m/index.html",
        imgSrc: "event/1st/e-main/components/promo-event/items/item-p-event-7-4.jpg",
        alt: "海外嚴選 衣櫥永遠少1件",
      },
      {
        link: "https://media.etmall.com.tw/sp/13058/m/index.html",
        imgSrc: "event/1st/e-main/components/promo-event/items/item-p-event-7-5.jpg",
        alt: "電玩遊戲嗨翻天",
      },
      {
        link: "https://media.etmall.com.tw/sp/19659/m/index.html",
        imgSrc: "event/1st/e-main/components/promo-event/items/item-p-event-7-6.jpg",
        alt: "年度家電最強盛典",
      },
    ],
  ]


//- TODO: 如果promo不和hero綁一起時要有自己的section和layout--main
section.promo__group.promo-event
  .layout--main
    .decor__wrap.full-parent
      .decor__item.decor__item--left1#decorPromoLeft
        img(src="event/1st/e-main/components/promo-event/decor-promo-left1.png", alt="")
      .decor__item.decor__item--left2
        img(src="event/1st/e-main/components/promo-event/decor-promo-left2.png", alt="")
      .decor__item.decor__item--right#decorPromoRight
        img(src="event/1st/e-main/components/promo-event/decor-promo-right.png", alt="")
    .promo__wrap
      .promo__zone
        .promo__block
          ul.promo__box
            each data, index in promoEventData
              li.event__item(id="promoEventItem" + (index + 1))
                .swiper-container.container--promo-event
                  ul.swiper-wrapper
                    each item, itemIndex in  data
                      li.swiper-slide.promo__item
                        a(href=  item.link, title= item.alt)
                          img(src=  item.imgSrc, alt= item.alt)