.promo__group--promo-event
  +pos-set(relative, zero)

  .promo__body
    +pos-set(relative, zero)
    margin-top: -13%
    padding-top: 13%
    +bg-set(url("~event/1st/u-main/components/promo-event/bg-promo.png"), 100%)

    .decoration--sub
      z-index: map-get($zindex, base)
      top: 39%
      left: 0.5%
      width: 27%
      transform: translateY(-30%)

    .promo__block
      &:first-child
        padding: 2.8% 5%
        > ul
          display: flex
        li
          &:active,
          &:hover
            transform: translateY(3%)
            filter: hue-rotate(-15deg)

      &:nth-child(2)
        padding: 3% 10.5% 0
        > ul
          display: flex
          flex-wrap: wrap
          justify-content: space-between
        li
          width: 49.5%
          &:active,
          &:hover
            filter: hue-rotate(-15deg)

    .promo__slider
      +pos-set(relative, zero)
      padding: 0.1% 13% 0
      li
        margin-bottom: 0

@keyframes item-rotate-Y
  100%
    transform: rotateY(360deg)

@keyframes shakeY
  0%,80%, to
    transform: translateZ(0)
  30%, 50%, 70%
    transform: translate3d(0, -10px, 0)
  40%, 60%
    transform: translate3d(0, 10px, 0)
