section.promo__group.promo__group--dynamic-slider.promo__group--dynamic-slider-3.m-bottom--sm(data-title="聰明消費")
  .layout--main
    //- .promo__title.block--center.text--center
    //-   img(src="~event/2nd/e-main/components/dynamic-slider-3/title-dynamic-slider-3.png", alt="你會喜歡")

    .promo__wrap
      #sliderDynamic3.promo__slider.swiper-container
        .swiper-wrapper

      #sliderDynamic3Pager.dynamic-slider-pager.swiper-pagination

//- data-dynamic-3.js在assets資料夾內、由index.pug外連過去