doctype html
html(lang="zh-Han-TW")
  head
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    link(rel="stylesheet", href="main-elevator-right.css")
  body
    include /layout/header/_header

    .decor__bg.full-parent
    .decor__bg--light1
    .decor__bg--light2
    .decor__fg.full-parent

    #navRightBar.navRightBar

    main.sp__wrap.m-bottom--lg

      //- hero section
      //- ===========================
      include /event/1st/e-main/components/hero-section/_hero-section

    //- other components
    //- ===========================
    //- TODO: 如果promo不用和hero綁在一起時放這
    .game__group
      //- include /event/1st/e-main/components/bet-section/_bet-section
      //- include /event/1st/e-main/components/match-section/_match-section
      include /event/1st/e-main/components/bet-section-2/_bet-section-2
      //- include /event/1st/e-main/components/collect-buy/_collect-buy
      //- include /event/1st/e-main/components/note-section/_note-section
    include /event/1st/e-main/components/bet-record/_bet-record

      //- script區
      include /utils/pug/include/_general.pug
      script(src="main-elevator.js")

    //- RD的彈窗結構，HTML必須要放並且display none，結構有三處共用兩組結構
    include /event/1st/e-main/components/modal-template/_modal-alert
    include /event/1st/e-main/components/modal-template/_modal-item-info
    include /event/1st/e-main/components/modal-template/_modal-record-list
    include /event/1st/e-main/components/modal-template/_modal-record-info


