section.promo__group.promo__group--left-right.m-bottom--md(data-title="搶翻遊戲")
  .layout--main
    .left-right__wrap
      .block--left
        .item__box
          a(href="", title="超級紅包搶，中獎率100%")
            img(src="~event/1st/e-main/components/left-right-section/game-left.png", alt="超級紅包搶，中獎率100%")
            .decoration__box.decoration__box--left
              img(src="~event/1st/e-main/components/left-right-section/decoration-left-1.png", alt="")
              img(src="~event/1st/e-main/components/left-right-section/decoration-left-2.png", alt="")
              img(src="~event/1st/e-main/components/left-right-section/decoration-left-3.png", alt="")
      .block--right
        .item__box
          a(href="", title="雙11翻倍送，中獎率100%")
            img(src="~event/1st/e-main/components/left-right-section/game-right.png", alt="雙11翻倍送，中獎率100%")
            .decoration--slot
              img(src="~event/1st/e-main/components/left-right-section/decoration-slot.gif", alt="")
            .decoration__box.decoration__box--right
              img(src="~event/1st/e-main/components/left-right-section/decoration-right-1.png", alt="")
              img(src="~event/1st/e-main/components/left-right-section/decoration-right-2.png", alt="")
              img(src="~event/1st/e-main/components/left-right-section/decoration-right-3.png", alt="")
