section.bn-group__wrap--w2m1-2.m-bottom--sm
  .layout--main
    .tilte__zone--bn-group
      .bn-group__title
      img(src="../components/bn-group-w2m1-2/bn-group-w2m1-2-title.png", alt="")
    #bnGroupW2m1Two.bn-group__zone
      if !isU
        a(href="#", title="限時下殺")
          img(src="../components/bn-group-w2m1-2/640x280-e-1.jpg", alt="限時下殺")
        a(href="#", title="買就送")
          img(src="../components/bn-group-w2m1-2/640x280-e-2.jpg", alt="買就送")
      else if isU
        a(href="#", title="限時下殺")
          img(src="../components/bn-group-w2m1-2/640x280-u-1.jpg", alt="限時下殺")
        a(href="#", title="買就送")
          img(src="../components/bn-group-w2m1-2/640x280-u-2.jpg", alt="買就送")
    #btnPrevBnGroupW2m1Two.btn--prev-bn-group-w2m1
    #btnNextBnGroupW2m1Two.btn--next-bn-group-w2m1