//- TODO: API:
//- class="jsRecordList"，按了會吐兌換紀錄進來

aside.btn__wrap
  a.jsRecordList.btn--record(href="javascript:void(0)", title="兌換紀錄")
    .decor__left
      img(src="event/1st/e-main/components/bet-record/decor-record.svg", alt="")
    .record__block
      img(src="event/1st/e-main/components/bet-record/icon-record.svg", alt="")
      span 投注紀錄
    .decor__right
      img(src="event/1st/e-main/components/bet-record/decor-record.svg", alt="")
