//- TODO: 外面要有textSubmit顯示submit按鈕內容
.form__submit
  .btn__box
    button.btn--submit.shape--capsule.capsule--main.m-bottom--lg.disabled(type="submit")= textSubmit
  .btn__box
    a.btn--cancel.shape--capsule.capsule-border--main.m-bottom--lg 返回