section.promo__group.promo__group--dynamic-section.promo__group--dynamic-slider.m-bottom--lg(data-title="888元")
  .layout--main
    #decoDynamicSlider.decoration__title
      .decoration--top.decoration__dynamic-slider.decoration__dynamic-slider-1
        img(src="event/2nd/e-main/components/dynamic-slider/decoration-dynamic-slider.png", alt="")
      .decoration--top.decoration__dynamic-slider.decoration__dynamic-slider-2
        img(src="event/2nd/e-main/components/dynamic-slider/decoration-dynamic-slider-2.png", alt="")

    .promo__wrap
      .promo__zone
        #sliderDynamic.promo__slider.swiper-container
          .swiper-wrapper
