//- TODO: 給別的component引入時不需要前兩行要切換
//- section.promo__group.promo__group--bn-special.m-bottom--md
//-   .layout--main
//- var bankLink = {etmall: "https://www.etmall.com.tw/XML/content/DMSetting/Final/201910/SP_1107838/w/index.html", umall: "https://www.u-mall.com.tw/XML/content/DMSetting/Final/201910/SP_1104317/w/index.html"}
//- var bankInfo = isU ? bankLink.umall : bankLink.etmall
.promo__slider.bn-special
  #sliderSpecial.swiper-container
    ul.swiper-wrapper
      li.swiper-slide
        a(href="https://media.u-mall.com.tw/sp/7846/m/index.html", title="彰化好物購")
          img(src="~event/2nd/u-main/components/bn-special/items/promo-special-1.png", alt="彰化好物購")


  #sliderSpecialPrev.swiper-button-white.swiper-button-prev
  #sliderSpecialNext.swiper-button-white.swiper-button-next