.modal__wrap
  .modal__head
    span 投票紀錄
  .modal__body
    .data--none 目前無投票紀錄
    .data__wrap
      table.rwd-table
        tr
          th 投票日期
          th 已投次數/可投次數
          th 投票獎勵
        tr
          td(data-th="投票日期")
            span 2021/05/22
          td(data-th="已投次數/可投次數")
            span 1/3
          td(data-th="投票獎勵")
            span 獲得東森幣x5枚獲得東森幣x5枚獲得東森幣x5枚獲得東森幣x5枚獲得東森幣x5枚獲得東森幣x5枚獲得東森幣x5枚獲得東森幣
        tr
          td(data-th="投票日期")
            span 2021/05/22
          td(data-th="已投次數/可投次數")
            span 1/3
          td(data-th="投票獎勵")
            span 獲得東森幣x5枚
        tr
          td(data-th="投票日期")
            span 2021/05/22
          td(data-th="已投次數/可投次數")
            span 1/3
          td(data-th="投票獎勵")
            span 獲得東森幣x5枚
        tr
          td(data-th="投票日期")
            span 2021/05/22
          td(data-th="已投次數/可投次數")
            span 1/3
          td(data-th="投票獎勵")
            span 獲得東森幣x5枚
        tr
          td(data-th="投票日期")
            span 2021/05/22
          td(data-th="已投次數/可投次數")
            span 1/3
          td(data-th="投票獎勵")
            span 獲得東森幣x5枚
        tr
          td(data-th="投票日期")
            span 2021/05/22
          td(data-th="已投次數/可投次數")
            span 1/3
          td(data-th="投票獎勵")
            span 獲得東森幣x5枚
        tr
          td(data-th="投票日期")
            span 2021/05/22
          td(data-th="已投次數/可投次數")
            span 1/3
          td(data-th="投票獎勵")
            span 獲得東森幣x5枚
        tr
          td(data-th="投票日期")
            span 2021/05/22
          td(data-th="已投次數/可投次數")
            span 1/3
          td(data-th="投票獎勵")
            span 獲得東森幣x5枚
        tr
          td(data-th="投票日期")
            span 2021/05/22
          td(data-th="已投次數/可投次數")
            span 1/3
          td(data-th="投票獎勵")
            span 獲得東森幣x5枚
        tr
          td(data-th="投票日期")
            span 2021/05/22
          td(data-th="已投次數/可投次數")
            span 1/3
          td(data-th="投票獎勵")
            span 獲得東森幣x5枚
        tr
          td(data-th="投票日期")
            span 2021/05/22
          td(data-th="已投次數/可投次數")
            span 1/3
          td(data-th="投票獎勵")
            span 獲得東森幣x5枚
        tr
          td(data-th="投票日期")
            span 2021/05/22
          td(data-th="已投次數/可投次數")
            span 1/3
          td(data-th="投票獎勵")
            span 獲得東森幣x5枚

    .modal__info
      p 投完3票即可獲得10枚東森幣，獎項發送及相關說明請參閱活動頁下方活動說明，謝謝。
      p 東森幣怎麼花?!快來看看可折抵的好康商品吧！&gt;&gt;
        a(href="", title="寵愛毛小孩") 寵愛毛小孩

