section.promo__group.promo__group--daily.m-bottom--lg(data-title="超級大牌")
  .layout--main
    .decoration__title
      #decoDaily.decoration--top.decoration--daily-change
        .pic__box
          img(src="event/2nd/e-main/components/daily-change/decoration-daily-change.png", alt="")
          img(src="event/2nd/e-main/components/daily-change/decoration-daily-change-2.png", alt="")
    .promo__wrap.promo__wrap--daily
      .promo__zone
        .title__text.daily__countdown
          .time__block
            .time__box
              span#dailyHourTens 0
            .time__box
                span#dailyHourUnits 0
          .time__block
            .time__box
              span#dailyMinTens 0
            .time__box
              span#dailyMinUnits 0
          .time__block
            .time__box
              span#dailySecTens 0
            .time__box
              span#dailySecUnits 0
        .daily__change#dailyChange
          a(href="", title="超級大牌")
            img(src="event/2nd/e-main/components/daily-change/items/daily-item-1.png", alt="超級大牌")
