.hero__zone
  .hero__slider
    margin: -17% auto 8%
    width: 66%

  .hero__title
    &--sub
      width: 90%
      +pos-set(relative, third)

  // +breakpoint-min($min-width-xl)
    // .hero__slider
    //   top: 465px
    //   left: calc(50% - 200px)
    //   margin-top: 0
    //   //width: 100%
    // .hero__title
    //   &--sub
    //     width: 95%