section.promo__group.promo__group--dynamic-slider.promo__group--dynamic-slider-1.m-bottom--sm(data-title="24小時快配")
  .layout--main
    .promo__title
      #decoDynamicSlider.title__decoration
        img(src="~event/1st/e-main/components/dynamic-slider/decoration-dynamic-slider.png", alt="")

    .promo__wrap
      #sliderDynamic.promo__slider.swiper-container
        .swiper-wrapper
