// // ==========================================================================
// // Plugins
// // ==========================================================================
// // @import "vendors/animate"
@import "~vendors/style/swiper-slider-custom"

// // ==========================================================================
// // components
// // ==========================================================================

// hero section
// ===========================
@import "~event/3rd/e-sp/components/hero-section/_hero-section"
//@import "~event/3rd/e-sp/components/background-decoration/_background-decoration"

// other components
// ===========================
//@import "~event/3rd/e-sp/components/hero-small-slider/_hero-small-slider"
@import "~event/3rd/e-sp/components/goods-slider-flip/_goods-slider-flip"
@import "~event/3rd/e-sp/components/promo-event-full-screen/_promo-event"
//@import "~event/3rd/e-sp/components/scroll-x-section/_scroll-x-section"
//-@import "~event/3rd/e-sp/components/tab-section/_tab-section"
//-@import "~event/3rd/e-sp/components/bn-event-2/_bn-event-2"
//-@import "~event/3rd/e-sp/components/countdown-section/_countdown-section"
//@import "~event/3rd/e-sp/components/canva-effect/_canva-effect"
//@import "~event/3rd/e-sp/components/bn-special/_bn-special"
//@import "~event/3rd/e-sp/components/game-map/_game-map"

// @import "~components/goods-slider/_goods-slider"
// @import "~components/video-section/_video-section.sass"
// @import "~components/bank-section/_bank-section"
// @import "~components/event-w4m2/_event-w4m2"
// @import "~components/bn-event/_bn-event"
// // ==========================================================================
// // Page
// // ==========================================================================
//$main-e-background-color: #000
body
  +pos-set(relative, zero)
  background-color: $main-e-background-color-3rd
  +breakpoint-min($min-width-xl)
    background-image: url("~event/2nd/e-main/pages/index/bg-line.jpg")
    background-repeat: repeat-y
    background-size: 2560px auto
    background-position: top center
    .icon__home
      right: -50px
.parallax__background
  +pos-set(absolute, under)
  +bg-set(url("~event/3rd/e-sp/pages/index/bg-960.jpg"), 100% auto)
  height: calc(100vw * 1.02)
  width: 100%
  // transform: translateY(-10%)
  //animation: flash-burst 4s infinite
  pointer-events: none
  will-change: scroll-position

  +breakpoint-min($min-width-xl)
    //padding-top: 26.17%
    height: 980px
    +bg-set(url("~event/3rd/e-sp/pages/index/bg-web.jpg"), 2560px 980px, center , top)

.sp__wrap
  +pos-set(relative, base)

.sp__wrap a
  display: block
+breakpoint-min($min-width-xl)



// IE10 看不到集點那版位
@media all and (-ms-high-contrast: none), (-ms-high-contrast: active)
  .promo__group.promo__group--countdown
    display: none