section.daily__group.promo__group--dynamic-slider.m-bottom--lg(data-title="本週大牌")
  .layout--main
    .promo__title#titleDynamicSlider
      img(src="event/1st/e-main/components/dynamic-slider/title-dynamic-slider.png", alt="本週大牌檔")
      .promo__box
        a(href="https://www.etmall.com.tw/bc3/162593") 
          img(src="event/1st/e-main/components/dynamic-slider/bn-dynamic-slider.png", alt="本週大牌檔")
      .promo__title--decor
        img(src="event/1st/e-main/components/dynamic-slider/decor-wing-left.png", alt="")
        img(src="event/1st/e-main/components/dynamic-slider/decor-wing-right.png", alt="")
    .promo__wrap
      .promo__zone
        .promo__block
          .promo__slider.swiper-container#dynamicSliderBlock
            .swiper-wrapper
        
          //- include /utils/bg-deco dration-instance/threejs-gift/_threejs-gift


//- 版型結構
//- .dynamic__item
//-   .product.product--dynamic
//-     a(href="data.網址", title="data.商品名")
//-       .product__block
//-         .product__img
//-           img.swiper-lazy(alt="", src="")
//-        .product__text
//-           .product__name
//-             span data.商品名data.商品名data.商品名data.商品名data.商品名data.商品名data.商品名
//-           .product__price
//-             span $
//-             span 888,888