//- 因為長久以來已經有組版版頭，只有一行viewport有需要，因此廢棄，之後有需要統整再考慮開啟 - 2022/1/10
//- meta(charset="utf-8")
meta(name='viewport', content="width=device-width, initial-scale=1")
//- meta(name="viewport", content="viewport-fit=cover")
//- meta(name="apple-mobile-web-app-capable" content="yes")
//- meta(property="og:image" content="event/1st/e-main/pages/index/index_fb.jpg")