section.promo__group.bn-section-2.m-bottom--md(data-title="訂單遊戲")
  .layout--main
    .decor__wrap.full-parent
      .decor__item.decor__item--left#decorBnSection2Left
        img(src="event/2nd/e-main/components/bn-section-2/decor-bn-2-left.png", alt="")
      .decor__item.decor__item--dart1#decorBnSection2Dart1
        img(src="event/2nd/e-main/components/bn-section-2/decor-bn-2-dart1.png", alt="")
      .decor__item.decor__item--dart2#decorBnSection2Dart2
        img(src="event/2nd/e-main/components/bn-section-2/decor-bn-2-dart2.png", alt="")
      .decor__item.decor__item--dart3#decorBnSection2Dart3
        img(src="event/2nd/e-main/components/bn-section-2/decor-bn-2-dart3.png", alt="")
    .promo__wrap
      .promo__zone
        .promo__block
          .promo__box
            a(href="https://m.etmall.com.tw/Activity/Lottery/d8c72a7c028c83cbca0ec66768736f12") 
              img(src="event/2nd/e-main/components/bn-section-2/bn-section-2.gif", alt="")