.modal__wrap.modal-exchange
  .modal__head
    img(src="~components/modal/exchange.png" alt="兌換紀錄查詢")
    //- th 許願紀錄
    
  .modal__body
    .data-exchange__wrap
      table
        tr
          th 兌換時間
          th 序號
        tr
          td 2021/11/02 00:30
          td 484684
        tr
          td 2021/11/02 00:30
          td 484684
        tr
          td 2021/11/02 00:30
          td 484684
        tr
          td 2021/11/02 00:30
          td 484684
        tr
          td 2021/11/02 00:30
          td 484684
        tr
          td 2021/11/02 00:30
          td 484684
        tr
          td 2021/11/02 00:30
          td 484684
        tr
          td 2021/11/02 00:30
          td 484684
        tr
          td 2021/11/02 00:30
          td 484684
        tr
          td 2021/11/02 00:30
          td 484684
        tr
          td 2021/11/02 00:30
          td 484684
        tr
          td 2021/11/02 00:30
          td 484684
        tr
          td 2021/11/02 00:30
          td 484684






    .modal__info
      .button--close
        span 關閉



      //- table.rwd-table
      //-   tr
      //-     th 許願日期
      //-     th 已許願次數/可許願次數
      //-     th 許願獎勵
      //-   tr
      //-     td(data-th="許願日期")
      //-       span 2021/05/22
      //-     td(data-th="已許願次數/可許願次數")
      //-       span 1/3
      //-     td(data-th="許願獎勵")
      //-       span 獲得東森幣x10枚獲得東森幣x10枚獲得東森幣x10枚獲得東森幣x10枚獲得東森幣x10枚獲得東森幣x10枚獲得東森幣x10枚獲得東森幣
      //-   tr
      //-     td(data-th="許願日期")
      //-       span 2021/05/22
      //-     td(data-th="已許願次數/可許願次數")
      //-       span 1/3
      //-     td(data-th="投票獎勵")
      //-       span 獲得東森幣x10枚
