//- lazyload(改用npm 安裝)
//- script(src="https://cdn.jsdelivr.net/npm/lazyload@2.0.0-rc.2/lazyload.js")

//- 一般共用表現：進度條、goTop等
script(src="https://www.etmall.com.tw/Scripts/lib/jquery/jquery-2.2.0.min.js")
