section.promo__group.promo__group--dynamic-slider-half-2.m-bottom--lg(data-title="上網買菜")
  .layout--main
    .promo__wrap
      .promo__zone
        .pic__box
          a(href="https://www.etmall.com.tw/bs/133979", title="熊媽媽買菜網")
            img(src="event/2nd/e-main/components/dynamic-slider-half-2/item-dynamic-slider-half-0-2.png", alt="熊媽媽買菜網")
        .slider__box
          #sliderDynamicHalf2.promo__slider.swiper-container
            ul.swiper-wrapper

        .decoration--top.decoration--left(title="熊好買")
          img(src="event/2nd/e-main/components/dynamic-slider-half-2/decoration-dynamic-slider-half-2-1.png", alt="熊好買")
        .decoration--top.decoration--right(title="熊快速")
          img(src="event/2nd/e-main/components/dynamic-slider-half-2/decoration-dynamic-slider-half-2-2.png", alt="熊快速")

        //- #sliderDynamicHalfPager.dynamic-slider-pager.dynamic-slider-pager--half.swiper-pagination
