ul.share__wrap
  li
    a.share__btn.btn--facebook(href= "javascript: void(window.open('http://www.facebook.com/sharer/sharer.php?u=' .concat(encodeURIComponent(location.href)) ));", title="分享到fackebook")
      img(src="~layout/share-tools/fb.png", alt="分享到fackebook")
  li
    a.share__btn.btn--line(href= "javascript: void(window.open('https://lineit.line.me/share/ui?url=' .concat(encodeURIComponent(location.href)) ));", title="分享到LINE")
      img(src="~layout/share-tools/line.png", alt="分享到LINE")