section.bn-group__wrap--w2m1.m-bottom--sm
  .layout--main
    .tilte__zone--bn-group
      .bn-group__title
      img(src="../components/bn-group-w2m1/bn-group-w2m1-title.png", alt="")
    #bnGroupW2m1.bn-group__zone
      //- 此處外連data、此為範例結構
      //- a(href="#", title="限時下殺")
      //-   img(src="../components/bn-group-w2m1/640X280-e-1.jpg", alt="限時下殺")
      //- a(href="#", title="買就送")
      //-   img(src="../components/bn-group-w2m1/640X280-e-2.jpg", alt="買就送")
    #btnPrevBnGroupW2m1.btn--prev-bn-group-w2m1
    #btnNextBnGroupW2m1.btn--next-bn-group-w2m1