section.promo__group.promo__group--daily.m-bottom--md(data-title="秒殺爆品")
  .layout--main
    .promo__wrap
      .daily__change#dailyChange
        a(href="", title="女神愛牌")
          img(src="~event/2nd/e-main/components/daily-change/items/daily-item-1.png", alt="超級大牌")
