//- 當需要跨月時(前一個月)，填入的資料由這邊設定，將所有月份資料填上，
//- 再由JS決定月份顯示哪些li(li.swiper-slide.month--prev、li.swiper-slide.month--now)
-
  var bankLinkPrev = {
    etmall: "https://media.etmall.com.tw/sp/11933/m/index.html",
    //- umall: "https://media.u-mall.com.tw/sp/10601/m/index.html"
  }

-
  var bankLinkNext = {
    etmall: "https://media.etmall.com.tw/sp/9161/m/index.html",
    umall: "https://media.u-mall.com.tw/sp/9162/m/index.html"
  }

- var bankInfoPrev = isU ? bankLinkPrev.umall : bankLinkPrev.etmall
- var bankInfoNext = isU ? bankLinkNext.umall : bankLinkNext.etmall
//- 銀行方便複製貼上用
-
  var bankPageName = {
    "玉山": '#esun',
    "玉山銀行": '#esun',

    "中信": "#ctbc",

    "國泰": "#cathay",
    "國泰世華銀行": "#cathay",

    "台新": "#Taishin",
    "台新銀行": "#Taishin",

    "花旗": "#citi",
    "花旗銀行": "#citi",

    "富邦": "#taipeifubon",
    "富邦銀行": "#taipeifubon",

    "永豐": "#sinopac",
    "永豐銀行": "#sinopac",

    "聯邦": "#union",
    "聯邦商銀": "#union",
    "聯邦銀行": "#union",

    "一銀": "#one",
    "第一銀行": "#one",

    "遠銀": "#fareasten",
    "遠東銀行": "#fareasten",

    "滙豐": "#hsbc",
    "滙豐銀行": "#hsbc",

    "華南": "#huanan",
    "華南銀行": "#huanan",

    "新光": "#shinkong",
    "新光銀行": "#shinkong",

    "星展": "#dbs",
    "星展銀行": "#dbs",

    "合庫": "#tcb",
    "合作金庫": "#tcb",
    "合作金庫銀行": "#tcb",

    "凱基": "#kgi",
    "凱基銀行": "#kgi",

    "上銀": "#shanghai",
    "上海銀行": "#shanghai",

    "土銀": "#landbank",
    "土地銀行": "#landbank",

    "日盛": "#jihsun",
    "日盛銀行": "#jihsun",

    "臺灣企銀": "#tbb",

    "臺銀": "#bot",
    "臺灣銀行": "#bot",

    "陽信": "#sunnybank",
    "陽信銀行": "#sunnybank",

    "樂天": "#rakuten",
    "樂天銀行": "#rakuten",

    "安泰": "#entie",
    "安泰銀行": "#entie",
  }

-
  var bankItemPrev = [
    {
      name: "永豐銀行",
      promo: "永豐銀行 累積分期滿$3,010送$300",
      imgSrc: "event/2nd/e-main/components/bn-special/items/bank-p-1.png",
    },
    {
      name: "星展銀行",
      promo: "星展銀行 累積分期滿$20,000送$2,000",
      imgSrc: "event/2nd/e-main/components/bn-special/items/bank-p-2.png",
    },
    {
      name: "花旗銀行",
      promo: "花旗銀行 單件商品分期滿$15,000送$1,200",
      imgSrc: "event/2nd/e-main/components/bn-special/items/bank-p-3.png",
    },
    {
      name: "聯邦銀行",
      promo: "聯邦銀行 累積分期滿$25,000送$2,000",
      imgSrc: "event/2nd/e-main/components/bn-special/items/bank-p-4.png",
    },
    {
      name: "遠東銀行",
      promo: "遠東銀行 週三刷《遠東樂家+卡》指定館別回饋$100",
      imgSrc: "event/2nd/e-main/components/bn-special/items/bank-p-5.png",
    },
    {
      name: "陽信銀行",
      promo: "陽信銀行 單件商品滿$20,000送$1,000",
      imgSrc: "event/2nd/e-main/components/bn-special/items/bank-p-6.png",
    },
  ]

-
  var bankItemNext = [
    {
      link: "https://media.etmall.com.tw/sp/18593/m/index.html#zingala",
      promo: "銀角零卡 單件商品滿$8,000回饋$400東森提貨券",
      imgSrc: "event/2nd/e-main/components/bn-special/items/bank-n-1.png",
    },
    {
      link: "https://media.etmall.com.tw/sp/18960/m/index.html",
      promo: "Atome 單筆訂單滿$2,000回饋$250 東森提貨券",
      imgSrc: "event/2nd/e-main/components/bn-special/items/bank-n-2.png",
    },
    {
      link: "https://media.etmall.com.tw/sp/18593/m/index.html#fartrust",
      promo: "遠信 單件商品分期滿$15,000送$1,000",
      imgSrc: "event/2nd/e-main/components/bn-special/items/bank-n-3.png",
    },
  ]

//- TODO: 給別的component引入時不需要前兩行要切換
section#bnSpecial.promo__group.promo__group--bn-special.m-bottom--lg(data-title="銀行支付")
  .layout--main
    .decor__wrap.full-parent
      .decor__item#decorBnSpecial
        img(src="event/2nd/e-main/components/bn-special/bn-special-left.png" alt="")
    .promo__wrap
      #bnSpecialPromoZone.promo__zone
        .slider__box.full-parent
          #sliderSpecialPrev.swiper-container.slider__box--prev
            ul.swiper-wrapper
              //- prev
              each data in bankItemPrev
                li.swiper-slide.month--prev
                  a(href= bankInfoPrev + bankPageName[data.name], title=data.name + data.promo)
                    img.swiper-lazy(data-src= data.imgSrc, alt= data.promo)
                    .swiper-lazy-preloader.swiper-lazy-preloader-white
          #sliderSpecialNext.swiper-container.slider__box--next
            ul.swiper-wrapper
              //- next
              each data in bankItemNext
                li.swiper-slide.month--prev
                  a(href= data.link, title= data.promo)
                    img.swiper-lazy(data-src= data.imgSrc, alt= data.promo)
                    .swiper-lazy-preloader.swiper-lazy-preloader-white