.promo__group--promo-event
  +pos-set(relative, zero)
  overflow: hidden

  .promo__wrap
    +aspect-ratio(960, 350)
  .promo__zone
    +pos-set(relative, zero)
    // padding: 0 1%
    // +bg-set(url(event/1st/e-main/components/promo-event/bg-promo-event.png), 100%)
    .promo__block
      .promo__box
        margin: 0 auto
        width: 60%
      .event__wrap
        display: flex
        justify-content: space-between
        margin-top: 2%
        li
          &:hover
            transform: translateY(2%)
            filter: brightness(1.1)
      // width: 60%
