.dynamic-slider-w3m3
  // +pos-set(relative, zero)
  overflow: hidden
  .decor__wrap
    padding-bottom: 8%
    +breakpoint-min($min-width-xl)  
      padding-bottom: 4%
  .decor__item
    &--title
      +pos-set(absolute, zero, 7%, 16%)
      width: 68%
      transform: translateY(12px)
      +breakpoint-min($min-width-xl)
        top: 5%
        left: calc(50% - 320px)

    &--left
      +pos-set(absolute, zero, 3%, 16%)
      width: 18%
      +breakpoint-min($min-width-xl)
        top: 2%
        left: calc(50% - 300px)
      &.active
        transform-origin: center top
        animation: ringing 3s .4s ease-in-out infinite

    &--right
      +pos-set(absolute, zero, 6%)
      right: 15.5%
      width: 19%
      opacity: 1
      +breakpoint-min($min-width-xl)
        top: 4%
        right: calc(50% - 325px)
      &.active
        transform-origin: center bottom
        animation: stamp .3s both, waving-hands 1.6s .6s ease-in-out 1

    +breakpoint-min($min-width-xl)
      width: auto

  .promo__wrap
    +bg-set(url(event/2nd/e-main/components/dynamic-slider-w3m3/bg-dynamic-slider-w3m3.png), 100%)
    margin-top: 2%
    .promo__zone
      +aspect-ratio(960, 600)
      .promo__block
        padding: 14.5% 4% 0
        +breakpoint-min($min-width-xl)
          padding: 16.5% 4% 0 4.2%

      .promo__slider
        overflow: hidden
        .swiper-slide
          display: flex
          justify-content: space-around
          flex-wrap: wrap
        .dynamic__item
          width: 31%
          margin-bottom: 2%
          &:nth-child(2)
            margin-top: -15%
            background-color: transparent
            width: 38%
            .product--dynamic
              padding-bottom: 0%
              .product__img
                &::before
                  padding-bottom: 123%
            .product__img
              border: none
              margin-top: 38%
            .product__text
              display: none
          .product__img
            border-bottom: none
          .product__text
            border-top: none
            padding: 1.5%
          +breakpoint-min($min-width-xl)
            .product__img,
            .product__text
              border-width: 2px


@keyframes stamp
  0%
    opacity: 0
    transform: scale(10)
  1%
    opacity: 1
  80%
    opacity: 1
    transform: scale(.8)
  100%
    opacity: 1
    transform: scale(1)

@keyframes ringing
  0% 
    transform: rotate(0)
  1% 
    transform: rotate(10deg)
  3% 
    transform: rotate(-9deg)
  5% 
    transform: rotate(12deg)
  7% 
    transform: rotate(-9deg)
  9% 
    transform: rotate(10deg)
  11% 
    transform: rotate(-9deg)
  13% 
    transform: rotate(8deg)
  15% 
    transform: rotate(-7deg)
  17% 
    transform: rotate(6deg)
  19% 
    transform: rotate(-5deg)
  21% 
    transform: rotate(4deg)
  23% 
    transform: rotate(-3deg)
  25% 
    transform: rotate(2deg)
  27% 
    transform: rotate(-1deg)
  29% 
    transform: rotate(1deg)
  31% 
    transform: rotate(-1deg)
  33% 
    transform: rotate(1deg)
  35% 
    transform: rotate(-0.5deg)
  37% 
    transform: rotate(0.5deg)
  40% 
    transform: rotate(0)
  100% 
    transform: rotate(0)

@keyframes waving-hands
  0% 
    transform: rotate( 0.0deg)
  10% 
    transform: rotate(14.0deg)
  20% 
    transform: rotate(-8.0deg)
  30% 
    transform: rotate(14.0deg)
  40% 
    transform: rotate(-4.0deg)
  50% 
    transform: rotate(10.0deg)
  60% 
    transform: rotate( 0.0deg) 
  100% 
    transform: rotate( 0.0deg)