.promo__zone
  +pos-set(relative, base)
  margin-top: -5%
  background-color: $main-e-background-color-1st
  overflow: hidden

  +breakpoint-min($min-width-xl)
    margin-top: -58px

.promo__event
  .event__wrap
    display: flex
    flex-wrap: wrap
    justify-content: center
    +pos-set(relative, zero)
    background-color: $main-e-background-color-1st-2
    +breakpoint-min($min-width-xl)
      &::after
        content: ''
        +pos-set(absolute, base)
        top: 89px
        right: -300px
        width: 307px
        height: 480px
        +bg-set(url(~event/1st/u-main/components/promo-event/decoration-promo.png))
        transform: scale(0.962)

    // 固定位置模式
    li
      &:hover,
      &:active
        img
          transform: scale(1.02)
          filter: brightness(105%) contrast(110%)
      &:first-child
        flex: 1 0 100%
        &:hover,
        &:active
          img
            transform: scale(1)
      &:nth-child(2)
        flex: 0 1 46%
        padding: 7.8% 0 7.8% 1%
      &:nth-child(3)
        flex: 0 1 42%
        padding: 7.8% 0 7.8% 4%

    +breakpoint-min($min-width-xl)
      // li
      //   &:nth-child(2)
      //     flex: 1 0 55%
      //     padding: 130px 135px

+breakpoint-min($min-width-xl)
  .decoration--promo
    +pos-set(absolute, base)
    top: 35.45%
    left: calc(50% - 781px)
    width: 307px
    height: 480px
    +bg-set(url(~event/1st/u-main/components/promo-event/decoration-promo.png))
    transform: rotate(180deg) scale(0.962)