.hero__zone--event
  width: 100%
  +pos-set(relative, second)
  // z-index: 2
  .event__block
    // +aspect-ratio(960, 430)
    display: flex
    margin-top: 2%
    +breakpoint-min($min-width-xl)
      // +aspect-ratio(960, 380)
