.decoration--top.decoration--web.decoration--left
  #ballon.decoration--top.decoration__ballon
    .ballon__box
      img(src="event/3rd/e-main/components/hero-section/decor-web/decor-ballon.png", alt="")
  .decoration--top.decoration__other-2
    img(src="event/3rd/e-main/components/hero-section/decor-web/decor-other-left-2.png", alt="")
  .decoration--top.decoration__slide
    img(src="event/3rd/e-main/components/hero-section/decor-web/decor-slide-head.png", alt="")
    img(src="event/3rd/e-main/components/hero-section/decor-web/decor-slide-body.png", alt="")
  .decoration--top.decoration__other
    img(src="event/3rd/e-main/components/hero-section/decor-web/decor-other-left.png", alt="")
.decoration--top.decoration--web.decoration--right
  .decoration--top.decoration__carousel
    img(src="event/3rd/e-main/components/hero-section/decor-web/decor-carousel.png", alt="")
  .decoration--top.decoration__other
    img(src="event/3rd/e-main/components/hero-section/decor-web/decor-other-right.png", alt="")