//- 共用誘因切換eu單雙月script，如有更換請在下方更新
//- 打開u-mall選項與單雙月選項會自動轉換script src
if !isEven
  if !isU
    script(src="https://www.etmall.com.tw/XML/content/DMSetting/Final/209901/SP_1107914/data.common-e.js")
  else if isU
    script(src="https://www.u-mall.com.tw/XML/content/DMSetting/Final/209901/SP_1104379/data.common-u.js")
else if isEven
  if !isU
    script(src="https://www.etmall.com.tw/XML/content/DMSetting/Final/209901/SP_1107915/data.common-e.js")
  else if isU
    script(src="https://www.u-mall.com.tw/XML/content/DMSetting/Final/209901/SP_1104380/data.common-u.js")