section.promo__group--big
  .layout--main
    #bigContent.big__content.content__wrap
      ul.content__zone
        li.content__box
          #one.bank__wrap
            .bank__logo
              .btn--back
                img(src="event/1st/e-main/components/middle-big/go-back.svg", alt="go back")
                span.text--web 返回列表
              .logo__box
                img(src="https://media.etmall.com.tw/sp/7695/m/one.png", alt="第一銀行")
            .bank__promo
              ul.promo__wrap
                li.promo__box
                  h3.promo__title 【活動一】週三臺銀日
                  ul.promo__info
                    li.info__box
                      .info__head 活動期間
                      .info__body
                        p 2021/12/1-2021/12/31，每週三
                    li.info__box
                      .info__head 活動內容
                      .info__body
                        p 2021/12/1-2021/12/31，每週三
                        ul
                          li 上述優惠正附卡消費、回饋歸戶合併計算，每戶每週限回饋乙次，每月限回饋二次，當月所有活動每戶限「擇優」回饋乙次。
                    li.info__box
                      .info__head 登錄辦法
                      .info__body
                        ul
                          li 登錄日期：2021/12/17 18:00起至 2021/12/31 23:59，若登錄名額額滿，將提前關閉。
                      a.btn--cta(herf="", title="登錄網址") 登錄網址
                li.promo__box
                  h3.promo__title 【活動二】全月活動
                  ul.promo__info
                    li.info__box
                      .info__head 活動期間
                      .info__body
                        p 2021/12/1-2021/12/31
                    li.info__box
                      .info__head 活動內容
                      .info__body
                        ol
                          li 累積分期滿NT$6,000送NT$200刷卡金 (限量50名)
                          li 累積分期滿NT$20,000送NT$800刷卡金 (限量20名)
                        ul
                          li 上述優惠正附卡消費、回饋歸戶合併計算，每戶每週限回饋乙次，每月限回饋二次，當月所有活動每戶限「擇優」回饋乙次。
                    li.info__box
                      .info__head 登錄辦法
                      .info__body
                        ul
                          li 登錄日期：2021/12/1 00:00起至2021/12/31 23:59止於「安泰銀行活動登錄網頁」完成【東森購物12月優惠】活動登錄，登錄名額額滿為止。
                      a.btn--cta(herf="", title="登錄網址") 登錄網址
                li.promo__box
                  .promo__title 注意事項
                  ul.promo__info
                    li.info__box
                      .info__body
                        ol
                          li.bottom-dash 參加本活動須由正卡持卡人於開放登錄期間透過「活動登錄網頁」完成登錄並於活動期間內，持安泰銀行信用卡正、附卡消費達活動門檻始符合回饋資格，如僅完成登錄或僅達消費門檻均不符合回饋資格。
                          li.bottom-dash 【東森購物12月優惠】當月所有活動/門檻僅供正卡持卡人擇一登錄，登錄完成後無法取消，每歸戶限回饋乙次，正、附卡合併計算，恕不重複回饋。登錄名額額滿為止，不另公告，額滿恕無法補登及享有回饋資格。
                          li.bottom-dash 參加本活動須由正卡持卡人於開放登錄期間透過「活動登錄網頁」完成登錄並於活動期間內，持安泰銀行信用卡正、附卡消費達活動門檻始符合回饋資格，如僅完成登錄或僅達消費門檻均不符合回饋資格。
                          li.bottom-dash 【東森購物12月優惠】當月所有活動/門檻僅供正卡持卡人擇一登錄，登錄完成後無法取消，每歸戶限回饋乙次，正、附卡合併計算，恕不重複回饋。登錄名額額滿為止，不另公告，額滿恕無法補登及享有回饋資格。
        li.content__box
          #rakuten.bank__wrap
            .bank__logo
              .btn--back
                img(src="event/1st/e-main/components/middle-big/go-back.svg", alt="go back")
                span.text--web 返回列表
              .logo__box
                img(src="https://media.etmall.com.tw/sp/7695/m/rakuten.png", alt="樂天銀行")
            .bank__promo
              ul.promo__wrap
                li.promo__box
                  h3.promo__title 【活動一】週三臺銀日
                  ul.promo__info
                    li.info__box
                      .info__head 活動期間
                      .info__body
                        p 2021/12/1-2021/12/31，每週三
                    li.info__box
                      .info__head 活動內容
                      .info__body
                        p 2021/12/1-2021/12/31，每週三
                        ul
                          li 上述優惠正附卡消費、回饋歸戶合併計算，每戶每週限回饋乙次，每月限回饋二次，當月所有活動每戶限「擇優」回饋乙次。
                    li.info__box
                      .info__head 登錄辦法
                      .info__body
                        ul
                          li 登錄日期：2021/12/17 18:00起至 2021/12/31 23:59，若登錄名額額滿，將提前關閉。
                      a.btn--cta(herf="", title="登錄網址") 登錄網址
                li.promo__box
                  h3.promo__title 【活動二】全月活動
                  ul.promo__info
                    li.info__box
                      .info__head 活動期間
                      .info__body
                        p 2021/12/1-2021/12/31
                    li.info__box
                      .info__head 活動內容
                      .info__body
                        ol
                          li 累積分期滿NT$6,000送NT$200刷卡金 (限量50名)
                          li 累積分期滿NT$20,000送NT$800刷卡金 (限量20名)
                        ul
                          li 上述優惠正附卡消費、回饋歸戶合併計算，每戶每週限回饋乙次，每月限回饋二次，當月所有活動每戶限「擇優」回饋乙次。
                    li.info__box
                      .info__head 登錄辦法
                      .info__body
                        ul
                          li 登錄日期：2021/12/1 00:00起至2021/12/31 23:59止於「安泰銀行活動登錄網頁」完成【東森購物12月優惠】活動登錄，登錄名額額滿為止。
                      a.btn--cta(herf="", title="登錄網址") 登錄網址
                li.promo__box
                  .promo__title 注意事項
                  ul.promo__info
                    li.info__box
                      .info__body
                        ol
                          li.bottom-dash 參加本活動須由正卡持卡人於開放登錄期間透過「活動登錄網頁」完成登錄並於活動期間內，持安泰銀行信用卡正、附卡消費達活動門檻始符合回饋資格，如僅完成登錄或僅達消費門檻均不符合回饋資格。
                          li.bottom-dash 【東森購物12月優惠】當月所有活動/門檻僅供正卡持卡人擇一登錄，登錄完成後無法取消，每歸戶限回饋乙次，正、附卡合併計算，恕不重複回饋。登錄名額額滿為止，不另公告，額滿恕無法補登及享有回饋資格。
                          li.bottom-dash 參加本活動須由正卡持卡人於開放登錄期間透過「活動登錄網頁」完成登錄並於活動期間內，持安泰銀行信用卡正、附卡消費達活動門檻始符合回饋資格，如僅完成登錄或僅達消費門檻均不符合回饋資格。
                          li.bottom-dash 【東森購物12月優惠】當月所有活動/門檻僅供正卡持卡人擇一登錄，登錄完成後無法取消，每歸戶限回饋乙次，正、附卡合併計算，恕不重複回饋。登錄名額額滿為止，不另公告，額滿恕無法補登及享有回饋資格。

