section.hero__wrap
  .hero__zone

    .layout--main
      .hero__block

        .hero__box
          //- 標題
          h1.hero__title.hero__title--main.wow(title="精品代購許願池")
            img(src="~event/1st/e-main/components/hero-section/title.jpg", alt="精品代購許願池")
