.bn-special__wrap(data-title="a1")
  .promo__slider
    #sliderSpecial.swiper-container
      ul.swiper-wrapper
        li.swiper-slide
          a(href= "notyet", title="獨家合作")
            img(src="~components/bn-special/items/3-1.png", alt="獨家合作")
            img(src="~components/bn-special/items/3-1-web.png", alt="獨家合作")
        li.swiper-slide
          a(href= "notyet", title="獨家合作")
            img(src="~components/bn-special/items/3-2.png", alt="獨家合作")
            img(src="~components/bn-special/items/3-2-web.png", alt="獨家合作")
        li.swiper-slide
          a(href= "notyet", title="獨家合作")
            img(src="~components/bn-special/items/3-3.png", alt="獨家合作")
            img(src="~components/bn-special/items/3-3-web.png", alt="獨家合作")
        li.swiper-slide
          a(href= "notyet", title="公益活動")
            img(src="~components/bn-special/items/3-4.png", alt="公益活動")
            img(src="~components/bn-special/items/3-4-web.png", alt="公益活動")

      #sliderSpecialPager.swiper-pager-white.swiper-pagination