.bn-special__wrap(data-title="a1")
  .promo__slider
    #sliderSpecial.swiper-container
      ul.swiper-wrapper
        li.swiper-slide
          a(href= "https://www.etmall.com.tw/XML/content/DMSetting/Final/209901/SP_1106048/w/index.html", title="新會員好禮三重送")
            img(src="~components/bn-special/items/3-0-web.png", alt="一卡通消費滿額送LINE POINTS 100點")
        li.swiper-slide
          a(href= "https://www.etmall.com.tw/XML/content/DMSetting/Final/209901/SP_1107517/w/index.html", title="新會員好禮三重送")
            img(src="~components/bn-special/items/3-1.png", alt="新會員好禮三重送")
            img(src="~components/bn-special/items/3-1-web.png", alt="新會員好禮三重送")
        li.swiper-slide
          a(href= "https://www.etmall.com.tw/XML/content/DMSetting/Final/201910/SP_1107838/w/index.html", title="合庫_單筆分期NT$5,000送NT$500刷卡金")
            img(src="~components/bn-special/items/3-2.png", alt="合庫_單筆分期NT$5,000送NT$500刷卡金")
            img(src="~components/bn-special/items/3-2-web.png", alt="合庫_單筆分期NT$5,000送NT$500刷卡金")
        li.swiper-slide
          a(href= "https://www.etmall.com.tw/XML/content/DMSetting/Final/201910/SP_1107838/w/index.html", title="台新_累積滿額NT$10,000送NT$800刷卡金")
            img(src="~components/bn-special/items/3-3.png", alt="台新_累積滿額NT$10,000送NT$800刷卡金")
            img(src="~components/bn-special/items/3-3-web.png", alt="台新_累積滿額NT$10,000送NT$800刷卡金")
        li.swiper-slide
          a(href= "https://www.etmall.com.tw/XML/content/DMSetting/Final/201910/SP_1107838/w/index.html", title="星展_單筆分期NT$30,000送NT$2,600東森提貨券")
            img(src="~components/bn-special/items/3-4.png", alt="星展_單筆分期NT$30,000送NT$2,600東森提貨券")
            img(src="~components/bn-special/items/3-4-web.png", alt="星展_單筆分期NT$30,000送NT$2,600東森提貨券")
        li.swiper-slide
          a(href= "https://www.etmall.com.tw/XML/content/DMSetting/Final/201910/SP_1109124/w/index.html", title="萊爾富超取登記喝咖啡")
            img(src="~components/bn-special/items/3-6.png", alt="萊爾富超取登記喝咖啡")
            img(src="~components/bn-special/items/3-6-web.png", alt="萊爾富超取登記喝咖啡")
        li.swiper-slide
          a(href= "https://www.etmall.com.tw/XML/content/DMSetting/Final/201910/SP_1109125/w/index.html", title="全家店取 送新貴派 GO")
            img(src="~components/bn-special/items/3-5.png", alt="全家店取送新貴派")
            img(src="~components/bn-special/items/3-5-web.png", alt="全家店取送新貴派")

      #sliderSpecialPager.swiper-pagination-custom.swiper-pagination