.bn-special__wrap
  margin-top: 4%
  margin-bottom: 2%
  //li > a
  //  > img:last-child
  //    display: none

  .promo__slider
    height: calc(100vw * 0.16)
    .swiper-container
      height: 100%
      text-align: center

    .swiper-pagination-bullet
      margin: 0 2px
      width: 6px
      height: 6px
      opacity: .8
      background-color: #ffffff
    .swiper-pagination-bullet-active
      background-color: #ff82bc
      opacity: 1

  +breakpoint-min($min-width-lg)
    .promo__slider
      .swiper-container
        bottom: 16px
      .swiper-pagination-bullet
        margin: 0 4px
        width: 12px
        height: 12px
  +breakpoint-min($min-width-xl)
    margin-top: 0
    margin-bottom: 20px
    //li > a
    //  > img:first-child
    //    display: none
    //  > img:last-child
    //    display: block

    .promo__slider
      height: 120px
