section.promo__group.dynamic-slider-half.m-bottom--lg(data-title="超殺30%")
  .layout--main
    .decor__wrap.full-parent
      .decor__item.decor__item--title1#titleDynamicHalfLeft
        img(src="event/2nd/e-main/components/dynamic-slider-half/title-dynamic-slider-half-1.png", alt="")
      .decor__item.decor__item--title2#titleDynamicHalfRight
        img(src="event/2nd/e-main/components/dynamic-slider-half/title-dynamic-slider-half-2.png", alt="")
      .decor__item.decor__item--left#decorDynamicHalfLeft
        img(src="event/2nd/e-main/components/dynamic-slider-half/decor-dynamic-half-left.png", alt="")
      .decor__item.decor__item--right#decorDynamicHalfRight
        img(src="event/2nd/e-main/components/dynamic-slider-half/decor-dynamic-half-right.png", alt="")
    .promo__wrap
      .promo__zone
        .promo__block--wrap
          .promo__block
            .promo__box
              a(href="", title="折抵10%up")
                //- img(src="event/2nd/e-main/components/dynamic-slider-half/item-dynamic-slider-half-1.png", alt="折抵10%up")
            .slider__box
              #sliderDynamicHalf.promo__slider.swiper-container.container--dynamic-half
                ul.swiper-wrapper

          .promo__block
            .promo__box
              a(href="", title="回饋10%up")
                //- img(src="event/2nd/e-main/components/dynamic-slider-half/item-dynamic-slider-half-2.png", alt="回饋10%up")
            .slider__box
              #sliderDynamicHalf2.promo__slider.swiper-container.container--dynamic-half
                ul.swiper-wrapper

