section.hero__wrap
  .hero__zone

    include /utils/bg-decoration-instance/canvas-firework/_canvas-firework

    #decorationBack.decoration--background.decoration__wrap
      .decoration--confetti.wow(data-depth="-0.1")

    .layout--main
      .hero__block

        include /utils/bg-decoration-instance/canvas-random-color/_canvas-random-color

        .hero__box.wow
          //- 標題
          h1.hero__title.hero__title--main.wow(title="1111爽購節 - 血拚激搶")
            img.title--first.wow(src="~event/2nd/e-main/components/hero-section/title-1.png", alt="血拚激搶")
            img.title--second(src="~event/2nd/e-main/components/hero-section/title-2.png", alt="1111爽購節")
          #decorationTitle.decoration__title
            .decoration--ribbon(data-depth="0.3")
              img(src="~event/2nd/e-main/components/hero-section/decoration-ribbon.png", alt="",)
        .sub__box
          .decoration__sub-title
            img(src="~event/2nd/e-main/components/hero-section/decoration-sub-title.png", alt="")
          h2.sub__title
            a(href="#note", title="一元帶走百萬好禮")
              img(src="~event/2nd/e-main/components/hero-section/sub-title.png", alt="一元帶走百萬好禮")

        .decoration--foreground.decoration__wrap
          .decoration--light
            img(src="~event/2nd/e-main/components/hero-section/decoration-light.png", alt="")
          .decoration--light
            img(src="~event/2nd/e-main/components/hero-section/decoration-light.png", alt="")

  //- TODO: 如果hero和promo要共用主視覺時這樣放
  //- .promo__zone
    //- .layout--main
      //- .promo__block
        //- 行銷誘因
        //- include /event/2nd/e-main/components/promo-event/_promo-event

        //- 商品輪播
          //- 副標
        //- .hero__small__zone
          //- include /event/2nd/e-main/components/hero-small-slider/_hero-small-slider




