.items__wrap
  .layout--main
    .items__zone
      .items__block
        .item--main
          img(src="event/2nd/e-main/components/hero-section/hero-items/hero-item-1.png", alt="")
        .item--special
          a(href="https://media.etmall.com.tw/sp/12008/m/index.html", title="必Buy攻略")
            img(src="event/2nd/e-main/components/hero-section/hero-items/hero-item-2.png", alt="必Buy攻略")