section.js--tab.promo__group--table.promo__group--table-2
  .layout--main
    .section__title
      .title__box 紅利折抵
    .table__wrap.content__wrap
      .table__box
        table
          tr
            th 銀行名稱
            th 最高折抵上限
            th 刷卡門檻
            th 點數限制
            th 折抵比例
          - var index = 0
          while (index < 18)
            tr
              td 台灣樂天
              td 100%
              td 888元
              td 8888點
              td 888點：88元
            - index++

      p 詳細折抵辦法依各配合銀行網站公告為準