section.promo__group.promo__group--w1m1-2.m-bottom--lg(data-title="整點開搶")
  .layout--main
    #gameChangeWrap.promo__wrap
      #gameChange.promo__zone
        a#gameChangeAnchor(href="https://media.etmall.com.tw/sp/9429/m/index.html", title="整點抓抓樂")
          img(src="event/2nd/e-main/components/event-w1m1-2/items/game-2.png", alt="整點抓抓樂")