section.promo__group.dynamic-slider.m-bottom--sm(data-title="女王必BUY")
  .layout--main
    .decor__wrap.full-parent
      .decor__item.decor__item--title#decorDynamicTitle
        img(src="event/2nd/e-main/components/dynamic-slider/decor-dynamic-slider-title.png", alt="")
      //- .decor__item.decor__item--right#decorDynamicRight
      //-   img(src="event/2nd/e-main/components/dynamic-slider/decor-dynamic-slider-right.png", alt="")
    .promo__wrap
      .promo__zone
        .promo__block
          .promo__slider.swiper-container#DynamicSliderBlock
            .swiper-wrapper