.hero__video.full-parent
  video.video__box.full-parent(autoplay loop muted playsinline poster="poster-hero-video.png")
    source(src="hero-video.mov" type='video/mp4; codecs="hvc1"')
    source(src="hero-video.webm" type="video/webm")
