section.bn-slider.m-bottom--sm
  .layout--main
    .bn-slider__wrap
      .bn-slider__title 熱門活動
      #bnSlider.swiper-container
        ul.swiper-wrapper
          li.swiper-slide
            a(href="https://www.etmall.com.tw", title="超值活動")
              img(src="~components/bn-slider/img/640x280-bn-1.jpg", alt="超值活動")
          li.swiper-slide
            a(href="https://www.etmall.com.tw", title="超值活動")
              img(src="~components/bn-slider/img/640x280-bn-2.jpg", alt="超值活動")
          li.swiper-slide
            a(href="https://www.etmall.com.tw", title="超值活動")
              img(src="~components/bn-slider/img/640x280-bn-3.jpg", alt="超值活動")
          li.swiper-slide
            a(href="https://www.etmall.com.tw", title="超值活動")
              img(src="~components/bn-slider/img/640x280-bn-4.jpg", alt="超值活動")
      #bnSliderPager.bn__slider--pager.swiper-pagination