section.promo__group.promo__group--cover
  .layout--main
    #infoCover.info__cover
      .info__decor 
        img(src="event/1st/e-main/components/info-cover/info-decor.png")
      .info__box.info--web
        img(src="event/1st/e-main/components/info-cover/info-qrcode-web.png" alt="")
      .info__box.info--main
        a.btn--download(href="https://play.google.com/store/apps/details?id=com.hyxen.app.etmall&hl=zh_TW" title="到Google Play下載東森購物APP")
          img(src="event/1st/e-main/components/info-cover/info-google-play.png" alt="到Google Play下載東森購物APP")
        a.btn--download(href="https://apps.apple.com/tw/app/ehs%E6%9D%B1%E6%A3%AE%E8%B3%BC%E7%89%A9/id974433138" title="到App Store下載東森購物APP")
          img(src="event/1st/e-main/components/info-cover/info-app-store.png" alt="到App Store下載東森購物APP")
      .info__box.info--mobile
        a.btn--app(href="etmall://open?pgid=44&url=https%3a%2f%2fmedia.etmall.com.tw%2fsp%2f9697%2fm%2fapp.html" title="到東森購物APP中玩遊戲！")
          img(src="event/1st/e-main/components/info-cover/info-app.png" alt="到東森購物APP中玩遊戲！")

