-
  //- 不管有沒有打開isFake都會填入rd api code
  //- ==== 手改資料 start ====
  var trueArrayLength = 20; // 正式版要上線的item數量，會依序帶好rd api code的尾數

  var fakeTime = '12/28 23:58'; // 假的推播時間
  var fakeData = [ // 每個假item的資料，會依序帶好rd api code的尾數
    {
      point: '99點+9999',
      name: 'Apple Watch Series 6(GPS)44mm紅色鋁金屬錶殼+紅色運動錶帶',
      quantity: 9999,
      isActive: true,
    },
    {
      point: '99點+9999',
      name: 'Apple Watch Series 6(GPS)44mm紅色鋁金屬錶殼+紅色運動錶帶',
      quantity: 9999,
      isActive: false,
    },
    {
      point: '99點+9999',
      name: 'Apple Watch Series 6(GPS)44mm紅色鋁金屬錶殼+紅色運動錶帶',
      quantity: 9999,
      isActive: false,
    },
    {
      point: '99點+9999',
      name: 'Apple Watch Series 6(GPS)44mm紅色鋁金屬錶殼+紅色運動錶帶',
      quantity: 9999,
      isActive: false,
    },
  ];
  //- ==== 手改資料 end ====

  //- rd api code
  var code = ['Jajago_Image_', 'Jajago_UsePoint_', 'Jajago_Name_', 'Jajago_Amount_', 'Jajago_Link_', 'NotificationTime'];

  var finalData = isFake ? fakeData : new Array(trueArrayLength);

//- 結構
section#collectBuy.buy__wrap.m-bottom--sm
  .layout--main
    .buy__block
      .decoration__top
        img(src="~event/1st/e-main/components/collect-buy/decoration-buy-top.png", alt="")
      .buy__box.jsBuyBox
        ul

          //- ===== 迴圈開始 =====
          each data, index in finalData
            li(class= (isFake ? (data.isActive ? 'active' : null) : null))
              .item__wrap
                .item__box
                  .item__pic
                    img(data-src= (code[0] + (index +1 )), src= (isFake ? 'https://media.etmall.com.tw/nximg/002776/2776984/2776984-1_xl.jpg' : null), alt="")
                  .item__intro
                    .name__box
                      .item__point
                        span(data-src= (code[1] + (index +1 )))= (isFake ? data.point : null)
                      .item__name
                        span(data-src= (code[2] + (index +1 )))= (isFake ? data.name : null)
                    .item__quantity.jsItemValue
                      span 尚餘
                      span(data-src= (code[3] + (index +1 )))= (isFake ? data.quantity : null)
                      span 組
                .cta__box
                  .item__info
                    a(data-src= (code[4] + (index +1 )), href="", title="商品介紹")
                      img(src="~event/1st/e-main/components/collect-buy/btn-buy-info.png", alt="商品介紹")
                  .item__cta
                    .cta.cta--active.jsCta
                      a(href="", title="立刻登記購")
                        .btn__wrap
                          img(src="~event/1st/e-main/components/collect-buy/btn-buy-active.png", alt="立刻登記購")
                    .cta.cta--closed(title="登記完畢")
                      img(src="~event/1st/e-main/components/collect-buy/btn-buy-closed.png", alt="登記完畢")
          //- ===== 迴圈結束 =====

      .decoration__bottom
        .buy__note
          span 將於
          span(data-src= code[5])=  (isFake ? fakeTime : null)
          span 前以我的禮物盒推播通知
        img(src="~event/1st/e-main/components/collect-buy/decoration-buy-bottom.png", alt="")
