-
  //- var promoData = [
  //-   //- 做上翻的輪播好ㄌ
  //-   {
  //-     link: "",
  //-     imgSrc: "event/1st/e-main/components/promo-event/items/box-1.png",
  //-     alt: ""
  //-   },
  //-   {
  //-     link: "",
  //-     imgSrc: "event/1st/e-main/components/promo-event/items/box-2.png",
  //-     alt: "",
  //-   },
  //- ]
-
  var promoItemE = [
    //- slider start
    //- {
    //-   link: "https://www.etmall.com.tw/Activity/CouponReceiveAll",
    //-   imgSrc: "event/1st/e-main/components/promo-event/items/promo-0-1.png",
    //-   alt: "挑戰任務拿$1164",
    //- },
    //- {
    //-   link: "https://www.etmall.com.tw/member/taskActivity",
    //-   imgSrc: "event/1st/e-main/components/promo-event/items/promo-0-2.png",
    //-   alt: "訂單滿額抽88枚東森幣",
    //- },
    //- slider end
    {
      link: "https://media.etmall.com.tw/sp/15589/m/index.html",
      imgSrc: "event/1st/e-main/components/promo-event/items/promo-1.png",
      alt: "離島配送 滿額送150枚樂透金"
    },
    {
      link: "https://www.etmall.com.tw/Activity/CollectPointExchangeActivity/2022072575f937",
      imgSrc: "event/1st/e-main/components/promo-event/items/promo-2.png",
      alt: "集點換豪禮",
    },
    {
      link: "https://media.etmall.com.tw/sp/14911/m/index.html",
      imgSrc: "event/1st/e-main/components/promo-event/items/promo-3-1.png",
      alt: "誘因",
    },
    {
      link: "https://media.etmall.com.tw/sp/14911/m/index.html",
      imgSrc: "event/1st/e-main/components/promo-event/items/promo-3-2.png",
      alt: "誘因",
    },
    {
      link: "https://media.etmall.com.tw/sp/14911/m/index.html",
      imgSrc: "event/1st/e-main/components/promo-event/items/promo-3-3.png",
      alt: "誘因",
    },
    {
      link: "https://media.etmall.com.tw/sp/13755/m/index.html",
      imgSrc: "event/1st/e-main/components/promo-event/items/promo-4.png",
      alt: "彰化好物購",
    },
    {
      link: "https://media.etmall.com.tw/sp/15925/m/index.html",
      imgSrc: "event/1st/e-main/components/promo-event/items/promo-5.png",
      alt: "台灣Pay 這夏購有利 最高回饋10%",
    },
    {
      link: "https://media.etmall.com.tw/sp/15737/m/index.html",
      imgSrc: "event/1st/e-main/components/promo-event/items/promo-6.png",
      alt: "全家取件送25元購物金 加碼再抽200枚東森幣",
    },
    {
      link: "https://media.etmall.com.tw/sp/16116/m/index.html",
      imgSrc: "event/1st/e-main/components/promo-event/items/promo-7.png",
      alt: "（8月限定）新會員首次下單一折GO！DYSON空氣清淨機、陶板屋餐券等你拿！",
    },
    //- slider start
    //- {
    //-   link: "https://media.etmall.com.tw/sp/14030/m/index.html",
    //-   imgSrc: "event/1st/e-main/components/promo-event/items/promo-7-2.png",
    //-   alt: "23間銀行最高回饋12%%",
    //- },
    //- slider end
    //- slider start
    //- {
    //-   link: "https://www.etmall.com.tw/activity/dl/votepopularityranking/Localfruit",
    //-   imgSrc: "event/1st/e-main/components/promo-event/items/promo-8-1.png",
    //-   alt: "東森農場投票抽好禮",
    //- },
    //- {
    //-   link: "",
    //-   imgSrc: "event/1st/e-main/components/promo-event/items/promo-8-2.png",
    //-   alt: "拼出萬元好禮",
    //- },
    //- {
    //-   link: "",
    //-   imgSrc: "event/1st/e-main/components/promo-event/items/promo-8-3.png",
    //-   alt: "APP下單滿$1500登記抽氣炸鍋",
    //- },
    //- slider end
  ]

-
  var promoItemU = [
    {
      link: "https://media.u-mall.com.tw/sp/9704/m/index.html",
      //- imgSrc: "event/1st/u-main/components/promo-event/items/promo-1.png",
      alt: "23家銀行 最高回饋15%"
    },
    {
      link: "https://media.u-mall.com.tw/sp/9704/m/index.html",
      //- imgSrc: "event/1st/u-main/components/promo-event/items/promo-2.png",
      alt: "花旗滿$20,000送$2,000"
    },
    {
      link: "https://www.u-mall.com.tw/Activity/HourSale",
      //- imgSrc: "event/1st/u-main/components/promo-event/items/promo-3.png",
      alt: "限時瘋搶"
    },
  ]

//- - var promoItem = isU ? promoItemE : promoItemU

//- TODO: 如果promo不和hero綁一起時要有自己的section和layout--main
section.promo__group.promo__group--promo-event.m-bottom--lg
  .layout--main
    .decor__wrap.full-parent
      .decor__item.decor__item--cat#catPromoEvent
        img(src="event/1st/e-main/components/promo-event/cat-promo-event.png" alt="")
      .decor__item.decor__item--hat#decorPromoEventLeft
        img(src="event/1st/e-main/components/promo-event/decor-promo-hat.png" alt="")
    .promo__wrap
      .promo__zone
        .promo__block
          .promo__boxs
            ul.promo__box
              each data, index in promoItemE
                if index < 2
                  li.promo__item
                    a(href= data.link, title= data.alt)
                      img(src= data.imgSrc, alt= data.alt)
            ul.promo__box.slider__box
              .swiper-container.container--promo-event
                ul.swiper-wrapper
                  each data, index in promoItemE
                    if index == 2
                      li.swiper-slide
                        a(href= data.link, title= data.alt, id="changeEventLink")
                          img(src= data.imgSrc, alt= data.alt)
                    if index >= 3 && index < 5
                      li.swiper-slide
                        a(href= data.link, title= data.alt)
                          img(src= data.imgSrc, alt= data.alt)

            ul.promo__box
              each data, index in promoItemE
                if index >= 5 && index < 7 
                  li.promo__item
                    a(href= data.link, title= data.alt)
                      img(src= data.imgSrc, alt= data.alt)
          ul.event__block
            each data, index in promoItemE
              if index >= 7
                li.promo__item
                  a(href= data.link, title=data.alt)
                    img(src= data.imgSrc, data.alt)