.items__wrap
  .layout--main
    .items__zone
      .items__block
        .item--main
          //- img(src="event/1st/e-main/components/hero-section/hero-items/hero-item-1.png", alt="")
        //- .item--gift
        //-   img(src="event/1st/e-main/components/hero-section/hero-items/hero-item-gift.png", alt="東森禮物卡說明")