section.promo__group.promo__group--bn-event.m-bottom--sm(data-title="熱門活動")
  .layout--main
    .promo__title.block--center.text--center
      img(src="~event/1st/e-main/components/bn-event/title-bn-event.png", alt="")

    .promo__wrap
      #sliderBnEvent.promo__slider.swiper-container
        .swiper-wrapper
          li.swiper-slide
            a(href="https://www.etmall.com.tw/XML/content/DMSetting/Final/202008/SP_1116219/w/index.html", title="日用滿$999抽維尼提袋")
              img.swiper-lazy(data-src="~event/1st/e-main/components/bn-event/items/640x280-1.jpg", alt="")
              .swiper-lazy-preloader.swiper-lazy-preloader-white
          li.swiper-slide
            a(href="https://www.etmall.com.tw/c3/124394", title="ASUS電競手機$29,990起")
              img.swiper-lazy(data-src="~event/1st/e-main/components/bn-event/items/640x280-2.jpg", alt="")
              .swiper-lazy-preloader.swiper-lazy-preloader-white
          li.swiper-slide
            a(href="https://www.etmall.com.tw/gp/108888", title="暑價buy buy保健最後下殺")
              img.swiper-lazy(data-src="~event/1st/e-main/components/bn-event/items/640x280-3.jpg", alt="")
              .swiper-lazy-preloader.swiper-lazy-preloader-white
          li.swiper-slide
            a(href="https://www.etmall.com.tw/c3/139709", title="最高送20%東森幣")
              img.swiper-lazy(data-src="~event/1st/e-main/components/bn-event/items/640x280-4.jpg", alt="")
              .swiper-lazy-preloader.swiper-lazy-preloader-white
          li.swiper-slide
            a(href="https://www.etmall.com.tw/XML/content/DMSetting/Final/202008/SP_1116069/w/index.html", title="3C請你吃王品!")
              img.swiper-lazy(data-src="~event/1st/e-main/components/bn-event/items/640x280-5.jpg", alt="")
              .swiper-lazy-preloader.swiper-lazy-preloader-white
      #sliderBnEventPager.bn-event-pager.swiper-pagination