section#promoW1m1.promo__group.promo__group--w1m1.m-bottom--lg.m-top--lg(data-title="幸運宮格")
  .layout--main
    .promo__wrap
      .promo__zone
        a(href="https://m.etmall.com.tw/Activity/Lottery/202107_b79dc18fe2c209679a91fc67bb5e8674", title="幸運九宮格")
          img(src="event/4th/e-main/components/event-w1m1/items/game-static.png", alt="幸運九宮格")

