.daily__goods(data-title="愛戀一物")
  .daily__cover
    img(src="~event/1st/e-main/components/daily-goods/daily-goods-cover.png")
    span.date--pre-top 8/10
    span.date--pre-top 8/11
  #goodsPromo.goods--promo
    .goods__item
      a(href="https://www.etmall.com.tw/i/2708984", title="CORKCICLE 酷仕客 三層真空咖啡杯470ml 雙杯組")
        .info__wrap
          //.item__info
          //  .item__name 【SK-II】青春露230ml
          //  .item__price
          //    span $
          //    span.price--pre 3,XXX
          .item__pic
            img(src="~event/1st/e-main/components/daily-goods/items/everyday_pt1.png", alt="CORKCICLE 酷仕客 三層真空咖啡杯470ml 雙杯組")
    .goods__item
      a(href="https://www.etmall.com.tw/i/2687020", title="SHISEIDO資生堂 安耐曬金鑽高效防曬露A 3X版 SPF50+．PA++++ 60ml")
        .info__wrap
          .item__pic
            img(src="~event/1st/e-main/components/daily-goods/items/everyday_pt2.png", alt="SHISEIDO資生堂 安耐曬金鑽高效防曬露A 3X版 SPF50+．PA++++ 60ml")
    ul.date__wrap
      li.item__date.date__active
        span.date--pre 8/10
      li.item__date
        span.date--pre 8/11
      li.item__date
        span.date--pre-2 8/12
      li.item__date
        span.date--pre-2 8/13
