//- 打開u-mall選項會自動轉換成U的logo和連結(預設etmall)
- var isU = true


main#spWrap.sp__wrap.sp__wrap--e
  include /layout/header/_header
  include /event/3rd/u-main/components/background-decoration/_background-decoration

  //- hero section
  //- ===========================
  include /event/3rd/u-main/components/hero-section/_hero-section

  //- other components
  //- ===========================
  include /event/3rd/u-main/components/connect-anchor/_connect-anchor
  include /event/3rd/u-main/components/bn-special/_bn-special

//- script區
include /utils/pug/_total-script

