//- TODO: 各家廠商第一層nav的設定
-
  var navData = {
    apple: [
      "iPhone",
      "iPad",
      "Mac",
      "Music",
      "Beats",
    ],
    mi: [
      "智慧手機",
      "智慧家電",
      "智慧生活",
      "智慧3C",
      "手機/充電周邊",
      "耳機喇叭",
      "生活周邊",
    ],
  }

- var partnerNavData = navData[partner]
- var navPartnerClassName = "nav__wrap--" + partner

.header__nav
  ul#navPartner.nav__wrap(class= navPartnerClassName)
    each data in partnerNavData
      li.nav__item
        a(href="#", title= data)= data


