section.promo__group.dynamic-slider-w2m2.m-bottom--lg(data-title="霹靂Q俠")
  .layout--main
    .decor__wrap.full-parent
      .decor__item.decor__item--title#decorSliderW2M2Title
        img(src="event/1st/e-main/components/dynamic-slider-w2m2/decor-dynamic-w2m2-title.png", alt="")
      //- .decor__item.decor__item--left#decorSliderW2M2Left
      //-   img(src="event/1st/e-main/components/dynamic-slider-w2m2/decor-dynamic-w2m2-left.png", alt="")
      //- .decor__item.decor__item--right#decorSliderW2M2Right
      //-   img(src="event/1st/e-main/components/dynamic-slider-w2m2/decor-dynamic-w2m2-right.png", alt="")
      //- .decor__item.decor__item--item#decorSliderW2M2Item
      //-   img(src="event/1st/e-main/components/dynamic-slider-w2m2/decor-dynamic-w2m2-item.png", alt="")
    .promo__wrap
      .promo__zone
        .promo__block
          .promo__box
            a(href="") 
              img(src="event/1st/e-main/components/dynamic-slider-w2m2/decor-dynamic-w2m2-bn.jpg", alt="")
          .promo__slider.swiper-container#DynamicSliderW2M2Block
            .swiper-wrapper