.dynamic-slider-half
  overflow: hidden
  .decor__item
    &--left
      +pos-set(absolute, zero, 13%, 1%)
      width: 21%
      +breakpoint-min($min-width-xl)
        top: 200px
        left: calc( 50% - 470px )
    &--right
      +pos-set(absolute, zero, 11%)
      right: 5%
      width: 16%
      &.active
        animation: heartBeat 1.5s ease-in infinite
      +breakpoint-min($min-width-xl)
        top: 180px
        right: calc(50% - 435px)
    &--bottom
      +pos-set(absolute, base)
      bottom: 4%
      left: 12%
      width: 13%
      animation: rotate-self 5s ease-in-out infinite
      +breakpoint-min($min-width-xl)
        bottom: 60px
        left: calc(50% - 360px)
    +breakpoint-min($min-width-xl)
      width: auto
  .promo__wrap
    +bg-set(url(event/2nd/e-main/components/dynamic-slider-half/bg-dynamic-slider-half.png), 100%)
  .promo__zone
    +aspect-ratio(960, 1567)
  .promo__block--wrap
    padding: 34% 6% 0
  .promo__block
    display: flex
    justify-content: center
    margin-bottom: 6%
    +breakpoint-min($min-width-xl)
      margin-bottom: 70px
  .promo__box
    width: 20%
    margin-top: 1.5%
  .slider__box
    width: 80%
    .product--dynamic
      width: 100%
      padding-left: 4%
      padding-right: 4%
    .product__text
      padding: 2%
    .product__name
      padding-top: 2%
      height: 8.5vw
      font-size: 3.3vw
      +breakpoint-min($min-width-xl)
        margin-bottom: 0
        padding: 3%
        height: 60px
        font-size: 22px
    .product__price
      padding: 1% 2%
      +breakpoint-min($min-width-xl)
        span
          &:last-child
            font-size: 36px

@keyframes shakeY
  0%, 50%, to
    transform: translateZ(0)
  5%, 15%, 25%, 35%, 45%
    transform: translate3d(0, -5px, 0)
  10%, 20%, 30%, 40%
    transform: translate3d(0, 10px, 0)

@keyframes fadeInTopLeft
  0%
    opacity: 0
    transform: translate3d(-100%, -100%, 0)
  to
    opacity: 1
    transform: translateZ(0)

@keyframes heartBeat
  0%, 15.5%, 30%, 100%
    transform: scale(1)
  9%, 21.5%
    transform: scale(1.2)