.promo__group--promo-slider
  .promo__wrap
    +aspect-ratio(960, 1040)
    +bg-set(url(event/2nd/e-main/components/promo-slider/bg-promo-slider.png), 100%)
    .promo__zone
      .decor__wrap
        +pos-set(relative, base)
        pointer-events: none
        .decor__item

          &--right
            +pos-set(absolute, zero, 10%)
            right: 13%
            width: 15%
            transform: scale(0)
            +breakpoint-min($min-width-xl)
              right: calc( 50% - 364px )
              width: auto
            &.active
              animation: grow .8s forwards, rotate-reverse 4s .8s linear infinite

          &--bottom
            +pos-set(absolute, second)
            bottom: 0
            left: 1%
            width: 28%
            transform: scale(1.02)
            transform-origin: 56% 98%
            +breakpoint-min($min-width-xl)
              left: calc( 50% - 474px )
            .js-loading &
              animation: key-wind-rotate 3s linear infinite forwards

  .slider__box,
  .promo__slider
    +pos-set(relative, zero)
    height: 100%
  .swiper-container
    display: flex
    padding-top: 21%

    .swiper-slide,
    .swiper-slide-duplicate
      +aspect-ratio(381, 419, relative, zero, a)
      width: 30%
      a
        filter: brightness(70%)
        transform: translate(-3%,18%)
        opacity: 0
        
    .swiper-slide-next
      a
        transition: all 0.6s
        transform: rotate(8deg) translate(-28%, 22%) scale(1.1)
        opacity: 1
        img
          filter: contrast(120%)
          
    .swiper-slide-prev
      a
        transition: all 0.6s
        transform: rotate(-8deg) translate(28%, 22%) scale(1.1)
        opacity: 1
        img
          filter: contrast(120%)

    .swiper-slide-active,
    .swiper-slide-duplicate-active
      z-index: map-get($zindex, base)
      transform: scale(1.3)
      a
        transition: all 0.6s
        transform: translate(0%, 18%)
        filter: brightness(105%)
        opacity: 1

@keyframes grow
  0%
    opacity: 0
    transform: scale(0)
  50%
    opacity: 1
    transform: scale(20%)
  95%
    transform: scale(1.2)
  100%
    transform: scale(1)

@keyframes rotate-reverse
  0%
    transform: rotate(0)
  100%
    transform: rotate(-1turn)

@keyframes key-wind-rotate
  0%
    transform: rotate(0deg)
  20%
    transform: rotate(-4deg) skew(3.2deg)
  40%
    transform: rotate(3.2deg) skew(-2.4deg)
  60%
    transform: rotate(-1.6deg) skew(1.2deg)
  80%
    transform: rotate(1.2deg) skew(-1deg)
  100%
    transform: rotate(0deg)