section.promo__group.promo__group--game-w2m2.m-bottom--lg(data-title="組隊拼圖")
  .layout--main
    .promo__wrap
      .promo__zone
        .decoration__box#gameW2M2Title
          img(src="event/2nd/e-main/components/game-w2m2/title-gamew2m2.png", alt="")
        .decoration__box--top#decorGameW2M2
          img(src="event/2nd/e-main/components/game-w2m2/decor-game-w2m2.png", alt="")
        .promo__block
            a(href="https://www.etmall.com.tw/Activity/TeamLeaderboard").promo__item
            a(href="#").promo__item

        //- .promo__block.full-parent
        //-   #scratchBottom.scratch__bottom.full-parent
        //-     a.full-parent
        //-       img
        //-       .scratch__popup 複製完成！

        //-   #canvasBox.canvas__box.full-parent
        //-     canvas#scratchTop.scratch__canvas.full-parent


