.logo
  width: 16%
  // position: absolute
  position: relative
  top: 5px
  // z-index: 10
  left: 5%
  &.logo--e
    max-width: 134px
  &.logo--u
    max-width: 150px
  +breakpoint-min($min-width-xl)
    // width: 20%
    // top: -6px
    // margin-left: 0
    left: calc(50% - 380px)