section.promo__group.bn-section-3.m-bottom--lg(data-title="免費遊戲")
  .layout--main
    .decor__wrap.full-parent
      .decor__item.decor__item--left#decorBnSection3Left
        img(src="event/2nd/e-main/components/bn-section-3/decor-bn-3-left.png", alt="")
      .decor__item.decor__item--right#decorBnSection3Right
        img(src="event/2nd/e-main/components/bn-section-3/decor-bn-3-right.png", alt="")
      .decor__item.decor__item--light#decorBnSection3Light
        img(src="event/2nd/e-main/components/bn-section-3/decor-bn-3-light.png", alt="")
    .promo__wrap
      .promo__zone
        .promo__block
          .promo__box
            a(href="https://m.etmall.com.tw/Activity/Lottery/d8c72a7c028c83cbca0ec66768736f12") 
              img(src="event/2nd/e-main/components/bn-section-3/bn-section-3.gif", alt="")