section.promo__group.promo__group--daily-time.m-bottom--sm(data-title="限時瘋搶")
  .layout--main
    .promo__title
      #decoDailyTimeLeft.decoration--top.decoration--daily-time.decoration--daily-time-left
        img(src="~event/1st/e-main/components/daily-time/decoration-daily-time-left.png", alt="")
      #decoDailyTimeRight.decoration--top.decoration--daily-time.decoration--daily-time-right
        img(src="~event/1st/e-main/components/daily-time/decoration-daily-time-right.png", alt="")

    .promo__wrap
      #dailyTime
        .product__wrap
