.promo__group--daily-time
  +pos-set(relative, zero)
  .promo__title
    z-index: map-get($zindex, base)
    top: 5%
    left: 0
    width: 100%
  .decoration__title
    margin-left: 4%
    width: 25%
    &.active
      animation: shakeX2 1.2s infinite
  +breakpoint-min($min-width-xl)
    .decoration__title
      left: calc( 50% - 310px )

  .promo__wrap
    +aspect-ratio(960, 960)
  .promo__zone
    +pos-set(relative, zero)
    padding: 34% 5% 0
    +bg-set(url(event/2nd/e-main/components/daily-time/bg-daily-time.png), 100%)
  .product__wrap
    display: flex
    flex-wrap: wrap
    justify-content: space-between
    > div
      width: 32%
      margin-bottom: 1.5%
      &:nth-child(1)
        .product__time
          +bg-set(url(event/2nd/e-main/components/daily-time/daily-time-hour-1.png), 100%)
      &:nth-child(2)
        .product__time
          +bg-set(url(event/2nd/e-main/components/daily-time/daily-time-hour-2.png), 100%)
      &:nth-child(3)
        .product__time
          +bg-set(url(event/2nd/e-main/components/daily-time/daily-time-hour-3.png), 100%)

  .product__block
    padding: 3% 2.5%
  .product--dynamic
    width: 100%
    +bg-set(url(layout/dynamic-product/bg-dynamic-item.png), 100%)
  .product__time
    margin-left: auto
    margin-right: auto
    margin-bottom: 6%
    padding-bottom: 30%
    width: 90%
    filter: brightness(50%)
    + .product
      filter: brightness(50%)
    &.active
      filter: grayscale(0)
      + .product
        filter: grayscale(0)

  .product__name
    font-size: 3.3vw
  .product__price
    span
      &:last-child
        font-size: 3.6vw
  +breakpoint-max($max-width-xxs)
    .product__name
      margin: 0
  +breakpoint-min($min-width-lg)
    .product__name
      font-size: 24px
      margin-bottom: 1%
    .product__price
      span
        &:last-child
          font-size: 28px
  +breakpoint-min($min-width-xl)
    .product__block
      padding: 5px
    .product__name
      margin-bottom: 12px
    .product__price
      span
        &:last-child
          font-size: 40px

@keyframes shakeX2
  0%, 50%, to
    transform: translateZ(0)
  5%, 15%, 25%, 35%, 45%
    transform: translate3d(-10px, 0, 0)
  10%, 20%, 30%, 40%
    transform: translate3d(10px, 0, 0)
