.slider__ui .slider__prev,
.slider__ui .slider__next {
  width: 0;
  height: 0;
}
@-webkit-keyframes tada {
  from {
    transform: scale3d(1, 1, 1);
  }
  5%,
  10% {
    transform: scale3d(0.9, 0.9, 0.9) rotate3d(0, 0, 1, -3deg);
  }
  15%,
  25%,
  35%,
  40% {
    transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, 3deg);
  }
  20%,
  30%,
  40% {
    transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, -3deg);
  }
  50%,
  to {
    transform: scale3d(1, 1, 1);
  }
}
@keyframes tada {
  from {
    transform: scale3d(1, 1, 1);
  }
  5%,
  10% {
    transform: scale3d(0.9, 0.9, 0.9) rotate3d(0, 0, 1, -3deg);
  }
  15%,
  25%,
  35%,
  40% {
    transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, 3deg);
  }
  20%,
  30%,
  40% {
    transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, -3deg);
  }
  50%,
  to {
    transform: scale3d(1, 1, 1);
  }
}
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline;
}
@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
  div,
  span,
  applet,
  object,
  iframe,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p,
  blockquote,
  pre,
  a,
  abbr,
  acronym,
  address,
  big,
  cite,
  code,
  del,
  dfn,
  em,
  img,
  ins,
  kbd,
  q,
  s,
  samp,
  small,
  strike,
  strong,
  sub,
  sup,
  tt,
  var,
  b,
  u,
  i,
  center,
  dl,
  dt,
  dd,
  ol,
  ul,
  li,
  fieldset,
  form,
  label,
  legend,
  table,
  caption,
  tbody,
  tfoot,
  thead,
  tr,
  th,
  td,
  article,
  aside,
  canvas,
  details,
  embed,
  figure,
  figcaption,
  footer,
  header,
  hgroup,
  menu,
  nav,
  output,
  ruby,
  section,
  summary,
  time,
  mark,
  audio,
  video {
    vertical-align: top;
  }
}
main,
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
html {
  font-size: 62.5%;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
body {
  line-height: 1.4;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal;
  font-size: unset;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
hr {
  height: 0;
}
img,
embed,
object {
  max-width: 100%;
  height: auto;
  border: 0;
  vertical-align: middle;
}
svg:not(:root) {
  overflow: hidden;
}
input,
select {
  vertical-align: middle;
}
input,
button,
textarea,
select,
optgroup,
option {
  font-family: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
}
button,
input,
optgroup,
select,
textarea {
  margin: 0;
}
input[type='submit'],
input[type='radio'],
input[type='checkbox'],
input[type='button'],
input[type='reset'] {
  cursor: pointer;
}
input[type='radio'],
input[type='checkbox'] {
  padding: 0;
}
button,
select {
  cursor: pointer;
}
a {
  text-decoration: none;
  background-color: transparent;
}
a:active,
a:hover {
  outline: 0;
}
ul,
ol {
  list-style: none;
}
* {
  box-sizing: border-box;
}
*::before,
*::after {
  box-sizing: border-box;
}
.col-1 {
  width: 8.333333%;
}
.col-2 {
  width: 16.666667%;
}
.col-3 {
  width: 25%;
}
.col-4 {
  width: 33.333333%;
}
.col-5 {
  width: 41.666667%;
}
.col-6 {
  width: 50%;
}
.col-7 {
  width: 58.333333%;
}
.col-8 {
  width: 66.666667%;
}
.col-9 {
  width: 75%;
}
.col-10 {
  width: 83.333333%;
}
.col-11 {
  width: 91.666667%;
}
.col-12 {
  width: 100%;
}
body {
  font-family: PingFangTC-regular, 'LiHei Pro', -apple-system,
    BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Source Han Sans TC', 'Microsoft JhengHei', sans-serif, 'Apple Color Emoji',
    'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
}
.clearfix::after {
  content: '';
  display: block;
  clear: both;
}
.sp__wrap img {
  -ms-flex-item-align: start;
  align-self: flex-start;
  width: 100%;
}
@media screen and (min-width: 960px) {
  .sp__wrap img {
    width: auto;
  }
}
.note ol {
  list-style-type: decimal;
}
.note ul {
  list-style-type: disc;
}
.block--center {
  margin-left: auto;
  margin-right: auto;
}
.text--right {
  text-align: right;
}
.text--center {
  text-align: center;
}
.text--left {
  text-align: left;
}
.m-top--xs {
  margin-top: 1%;
}
.m-top--sm {
  margin-top: 2%;
}
.m-top--md {
  margin-top: 3%;
}
.m-top--lg {
  margin-top: 4%;
}
.m-bottom--xs {
  margin-bottom: 1%;
}
@media screen and (min-width: 960px) {
  .m-bottom--xs {
    margin-bottom: 10px;
  }
}
.m-bottom--sm {
  margin-bottom: 2%;
}
@media screen and (min-width: 960px) {
  .m-bottom--sm {
    margin-bottom: 20px;
  }
}
.m-bottom--md {
  margin-bottom: 3%;
}
@media screen and (min-width: 960px) {
  .m-bottom--md {
    margin-bottom: 30px;
  }
}
.m-bottom--lg {
  margin-bottom: 4%;
}
@media screen and (min-width: 960px) {
  .m-bottom--lg {
    margin-bottom: 40px;
  }
}
.m-bottom--xl {
  margin-bottom: 5%;
}
@media screen and (min-width: 960px) {
  .m-bottom--xl {
    margin-bottom: 50px;
  }
}
.m-right--xs {
  margin-right: 1%;
}
.m-right--sm {
  margin-right: 2%;
}
.m-right--md {
  margin-right: 3%;
}
.m-right-px--xs {
  margin-right: 5px;
}
.m-right-px--sm {
  margin-right: 10px;
}
.m-right-px--md {
  margin-right: 15px;
}
.m-right--em {
  margin-right: 0.5em;
}
.padding-xs {
  padding: 1%;
}
.padding-sm {
  padding: 2%;
}
.padding-md {
  padding: 3%;
}
.padding-lg {
  padding: 4%;
}
.p-bottom--xs {
  padding-bottom: 1%;
}
.p-bottom--sm {
  padding-bottom: 2%;
}
.p-bottom--md {
  padding-bottom: 3%;
}
.p-bottom--lg {
  padding-bottom: 4%;
}
.p-bottom--xl {
  padding-bottom: 5%;
}
.default-border {
  border: 1px solid #999;
}
.layout--main {
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  max-width: 960px;
}
.one-screen {
  width: 100%;
  height: 100vh;
}
.n-pic {
  position: relative;
}
.icon__home {
  z-index: 20;
}
button {
  border: 0;
  outline: 0;
}
.btn--capsule {
  padding-top: 8px;
  padding-bottom: 8px;
  width: 100px;
  color: #fff;
  border-radius: 50px;
  text-align: center;
}
@media screen and (min-width: 768px) {
  .btn--capsule-pad {
    padding-top: 8px;
    padding-bottom: 8px;
    width: 100px;
    color: #fff;
    border-radius: 50px;
    text-align: center;
  }
}
.btn--blur {
  position: relative;
  z-index: 0;
}
.btn--blur::before {
  content: '';
  position: absolute;
  z-index: 1;
  top: 8%;
  left: 50%;
  width: 70%;
  height: 15%;
  border-radius: 50%;
  background-color: #eee;
  transform: translateX(-50%);
  opacity: 0.5;
  -webkit-filter: blur(3px);
  filter: blur(3px);
}
@media screen and (min-width: 768px) {
  .btn--blur-pad {
    position: relative;
    z-index: 0;
  }
  .btn--blur-pad::before {
    content: '';
    position: absolute;
    z-index: 1;
    top: 8%;
    left: 50%;
    width: 70%;
    height: 15%;
    border-radius: 50%;
    background-color: #eee;
    transform: translateX(-50%);
    opacity: 0.5;
    -webkit-filter: blur(3px);
    filter: blur(3px);
  }
}
.btn--radius {
  padding-top: 12px;
  padding-bottom: 12px;
  width: 160px;
  color: #000;
  border-radius: 4px;
  text-align: center;
}
.btn--gray {
  background-color: #eee;
}
.btn--gray:hover {
  background-color: #999;
}
.btn--yellow-1 {
  background-color: #ffedb3;
}
.btn--yellow-1:hover {
  background-color: #fccf65;
}
.btn--yellow-2 {
  background-color: #fccf65;
}
.btn--yellow-2:hover {
  background-color: #f9af00;
}
.btn--blue {
  background-color: #43ccfa;
}
.btn--blue:hover {
  background-color: #007aa3;
}
.btn--pink {
  background-color: #eb67aa;
}
.btn--pink:hover {
  background-color: #f25a93;
}
.btn--orange {
  background-color: #ef8356;
}
.btn--orange:hover {
  background-color: #e16730;
}
.btn--purple {
  background-color: #736ce6;
}
.btn--purple:hover {
  background-color: #5f58cd;
}
.btn--fab-purple {
  background-color: #736ce6;
  box-shadow: 4px 2px 6px #736ce6;
}
.btn--fab-purple:hover {
  background-color: #5f58cd;
}
.btn--tab {
  background: center 0 url(../assets/btn-tab.png) no-repeat;
  background-size: cover;
}
.btn--tab:active,
.btn--tab:hover,
.btn--tab.action {
  background: center 0 url(../assets/btn-tab-action.png) no-repeat;
  background-size: cover;
}
.btn--submit {
  padding-top: 6%;
  padding-bottom: 6%;
  width: 100%;
  border: 0;
  font-size: 1.5em;
}
.btn--tab {
  position: relative;
  z-index: 0;
  width: 100%;
  max-width: 251px;
}
.btn--tab:before {
  content: '';
  display: block;
  padding-bottom: 33.06773%;
  width: 100%;
}
.btn--tab > div {
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.btn--tab span {
  position: absolute;
  z-index: 1;
  top: 52%;
  left: 52%;
  color: #616161;
  font-size: 13px;
  font-weight: bold;
  white-space: nowrap;
  transform: translate(-50%, -50%);
}
@media screen and (min-width: 768px) {
  .btn--tab span {
    font-size: 2em;
  }
}
.btn--search {
  width: 100%;
  vertical-align: middle;
}
.btn--search img,
.btn--search span {
  vertical-align: middle;
}
.btn--search img {
  display: inline-block;
  margin-right: 3%;
  width: 15px;
}
.btn--search span {
  color: #fff;
  white-space: nowrap;
}
@media screen and (min-width: 768px) {
  .btn--search img {
    width: 20px;
  }
}
.btn--dynamic {
  display: block;
  padding: 10px 0;
  width: 52%;
  max-width: 220px;
  color: #616161;
  font-size: 16px;
}
@media screen and (min-width: 768px) {
  .btn--dynamic {
    font-size: 24px;
  }
}
.btn--fab {
  padding: 15%;
  width: 72px;
  height: 72px;
  color: #fff;
  border-radius: 50%;
  font-size: 18px;
  font-weight: bold;
}
.btn--cta {
  display: -ms-flexbox;
  display: flex;
  margin-left: auto;
  margin-right: auto;
  padding: 5px;
  width: 100%;
  color: #fff;
  -ms-flex-pack: justify;
  justify-content: space-between;
}
.btn--cta .cta__text {
  width: calc(100% - 24px);
  font-size: 16px;
  text-align: center;
}
.btn--cta .team__icon {
  width: 24px;
  height: 24px;
}
@media screen and (min-width: 768px) {
  .btn--cta .cta__text {
    width: calc(100% - 36px);
    font-size: 26px;
  }
  .btn--cta .team__icon {
    width: 36px;
    height: 36px;
  }
}
.player--dog .btn--vote,
.player--dog .btn--cta {
  background-color: #43ccfa;
}
.player--dog .btn--vote:hover,
.player--dog .btn--cta:hover {
  background-color: #007aa3;
}
.player--dog .btn--cta .team__icon {
  background: center 0 url(../assets/icon-dog.svg) no-repeat;
  background-size: cover;
}
.player--cat .btn--vote,
.player--cat .btn--cta {
  background-color: #eb67aa;
}
.player--cat .btn--vote:hover,
.player--cat .btn--cta:hover {
  background-color: #f25a93;
}
.player--cat .btn--cta .team__icon {
  background: center 0 url(../assets/icon-cat.svg) no-repeat;
  background-size: cover;
}
.shape--capsule {
  padding-top: 8px;
  padding-bottom: 8px;
  width: 100px;
  color: #fff;
  border-radius: 50px;
  text-align: center;
}
@media screen and (min-width: 768px) {
  .shape--capsule-pad {
    padding-top: 8px;
    padding-bottom: 8px;
    width: 100px;
    color: #fff;
    border-radius: 50px;
    text-align: center;
  }
}
.shape--blur {
  position: relative;
  z-index: 0;
}
.shape--blur::before {
  content: '';
  position: absolute;
  z-index: 1;
  top: 8%;
  left: 50%;
  width: 70%;
  height: 15%;
  border-radius: 50%;
  background-color: #eee;
  transform: translateX(-50%);
  opacity: 0.5;
  -webkit-filter: blur(3px);
  filter: blur(3px);
}
.shape--radius {
  padding-top: 12px;
  padding-bottom: 12px;
  width: 160px;
  color: #000;
  border-radius: 4px;
  text-align: center;
}
.shape--gray {
  background-color: #616161;
}
@media screen and (min-width: 768px) {
  .shape--gray-pad {
    background-color: #616161;
  }
}
.shape--blue {
  background-color: #43ccfa;
}
@media screen and (min-width: 768px) {
  .shape--blue-pad {
    background-color: #43ccfa;
  }
}
.shape--yellow {
  background-color: #ffedb3;
}
@media screen and (min-width: 768px) {
  .shape--yellow-pad {
    background-color: #fff4da;
  }
}
.shape--pink {
  background-color: #eb67aa;
}
.player--dog .team__label {
  background: center 0 url(../assets/label-dog.svg) no-repeat;
  background-size: contain;
}
.player--dog .votes__value {
  color: #007aa3;
}
.player--cat .team__label {
  background: center 0 url(../assets/label-cat.svg) no-repeat;
  background-size: contain;
}
.player--cat .votes__value {
  color: #da2b82;
}
.logo {
  width: 35%;
}
.logo.logo--e {
  max-width: 117px;
}
.share__wrap {
  display: -ms-flexbox;
  display: flex;
}
.share__wrap li:not(:last-child) {
  transform: translateX(-50%);
}
.share__wrap li a {
  display: block;
  width: 30px;
}
.header__sub-nav {
  background-color: #fff4da;
}
.header__sub-nav .sub-nav__wrap {
  padding: 2.5% 5%;
}
@media screen and (min-width: 768px) {
  .header__sub-nav .sub-nav__wrap {
    position: absolute;
    z-index: 0;
    top: 10px;
    right: 100px;
    padding: 10px 20px;
  }
}
.header__sub-nav .sub-nav__item {
  display: inline-block;
}
.header__sub-nav .sub-nav__item:first-child {
  display: none;
}
@media screen and (min-width: 480px) {
  .header__sub-nav .sub-nav__item:first-child {
    display: inline-block;
  }
}
.header__sub-nav .sub-nav__item:not(:last-child) {
  margin-right: 15px;
}
@media screen and (max-width: 320px) {
  .header__sub-nav .sub-nav__item:not(:last-child) {
    margin-right: 3%;
  }
}
.header__sub-nav a {
  color: #007aa3;
  font-size: 16px;
}
.header__sub-nav a:hover,
.header__sub-nav a.active {
  color: #eb67aa;
}
.sp__header {
  position: -webkit-sticky;
  position: sticky;
  z-index: 20;
  top: 0;
  width: 100%;
  background-color: #ffedb3;
}
.sp__header .header__zone {
  position: relative;
  z-index: 0;
}
.sp__header .header__block {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -ms-flex-align: center;
  align-items: center;
  padding: 2.5% 5%;
}
@media screen and (min-width: 768px) {
  .sp__header .header__block {
    padding: 10px 20px;
  }
}
.player__dynamic {
  background-color: #fff;
}
.player__dynamic--rank,
.player__dynamic--player {
  padding: 1.5%;
  border: 2px solid #fccf65;
  border-radius: 10px;
}
.player__dynamic .player__pic {
  margin-bottom: 2%;
  position: relative;
  z-index: 0;
  overflow: hidden;
}
.player__dynamic .player__pic:before {
  content: '';
  display: block;
  padding-bottom: 100%;
  width: 100%;
}
.player__dynamic .player__pic > div {
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.player__dynamic .player__pic .pic__box {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.player__dynamic--rank .player__pic,
.player__dynamic--player .player__pic {
  border-radius: 10px;
}
.player__dynamic--intro .player__pic {
  border-radius: 20px;
}
.player__dynamic .player__name {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  text-overflow: ellipsis;
  color: #000;
  overflow: hidden;
}
.player__dynamic--rank .player__name,
.player__dynamic--player .player__name {
  -webkit-line-clamp: 1;
  height: 1.4em;
  font-size: 16px;
}
.player__dynamic .player__number {
  color: #616161;
}
.player__dynamic--rank .player__number,
.player__dynamic--player .player__number {
  font-size: 12px;
}
.player__dynamic--intro .player__number {
  font-size: 16px;
}
.player__dynamic .votes__label {
  font-size: 12px;
}
.player__dynamic .votes__value {
  font-size: 16px;
  font-weight: bold;
}
@media screen and (min-width: 768px) {
  .player__dynamic--rank,
  .player__dynamic--player {
    border-radius: 20px;
    border: 4px solid #fccf65;
  }
  .player__dynamic--rank .player__pic,
  .player__dynamic--player .player__pic {
    border-radius: 20px;
  }
  .player__dynamic--rank .player__name,
  .player__dynamic--player .player__name {
    font-size: 28px;
  }
  .player__dynamic--rank .player__number,
  .player__dynamic--player .player__number {
    font-size: 20px;
  }
  .player__dynamic--rank .votes__value,
  .player__dynamic--player .votes__value {
    font-size: 52px;
  }
}
.promo__group--intro .promo__body {
  padding: 5%;
  background-color: #fff;
}
.promo__group--intro .pic__wrap {
  padding-bottom: 10%;
}
.promo__group--intro .player__info {
  margin-bottom: 6%;
}
.promo__group--intro .vote__wrap {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -ms-flex-align: start;
  align-items: flex-start;
}
.promo__group--intro .vote__wrap .vote__box,
.promo__group--intro .vote__wrap .share__box {
  width: 49%;
}
.promo__group--intro .share__text {
  margin-top: 3%;
  font-size: 20px;
}
.promo__group--intro .share__text span > span {
  color: #eb67aa;
}
.promo__group--intro .btn--vote,
.promo__group--intro .btn--share,
.promo__group--intro .btn--back {
  display: block;
  padding: 10px;
  border-radius: 10px;
  font-size: 24px;
  font-weight: bold;
}
.promo__group--intro .btn--vote,
.promo__group--intro .btn--share {
  width: 100%;
  max-width: 200px;
  color: #fff;
}
.promo__group--intro .btn--back {
  margin-left: auto;
  margin-right: auto;
  width: 200px;
  color: #616161;
}
.promo__group--intro .btn--back img {
  display: inline-block;
  margin-right: 5%;
  width: 24px;
  vertical-align: baseline;
}
@media screen and (min-width: 768px) {
  .promo__group--intro .promo__body {
    margin-top: 20px;
    padding: 40px;
    border-radius: 20px;
  }
  .promo__group--intro .intro__wrap {
    display: -ms-flexbox;
    display: flex;
  }
  .promo__group--intro .intro__wrap .intro__view {
    width: 45%;
  }
  .promo__group--intro .intro__wrap .intro__content {
    padding-left: 30px;
    width: 55%;
  }
  .promo__group--intro .share__text {
    font-size: 24px;
  }
  .promo__group--intro .btn--vote,
  .promo__group--intro .btn--share,
  .promo__group--intro .btn--back {
    font-size: 30px;
  }
}
.slider__ui {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
  justify-content: center;
  width: 100%;
  transform: translateY(10px);
}
.slider__ui .slider__prev {
  border-top: 8px solid transparent;
  border-bottom: 8px solid transparent;
  border-right: 16px solid #c8275c;
}
.slider__ui .slider__next {
  border-top: 8px solid transparent;
  border-bottom: 8px solid transparent;
  border-left: 16px solid #c8275c;
}
.slider__ui .slider__pager-wrap {
  display: -ms-flexbox;
  display: flex;
  padding: 1px 5px;
}
.slider__ui .slider__pager {
  margin-left: 10px;
  margin-right: 10px;
  width: 12px;
  height: 12px;
  background-color: #43ccfa;
  border-radius: 50%;
}
.slider__ui .slider__pager.active,
.slider__ui .slider__pager:active,
.slider__ui .slider__pager:hover {
  background-color: #eb67aa;
}
@media screen and (min-width: 768px) {
  .slider__ui {
    transform: translateY(20px);
  }
  .slider__ui .slider__prev {
    border-top-width: 12px;
    border-bottom-width: 12px;
    border-right-width: 24px;
  }
  .slider__ui .slider__next {
    border-top-width: 12px;
    border-bottom-width: 12px;
    border-left-width: 24px;
  }
  .slider__ui .slider__pager-wrap {
    padding: 2px 8px;
  }
  .slider__ui .slider__pager {
    margin-left: 15px;
    margin-right: 15px;
    width: 18px;
    height: 18px;
  }
}
.player__dynamic--intro {
  margin-bottom: 9%;
}
.player__dynamic--intro .info__team {
  margin-bottom: 3%;
  text-align: right;
}
.player__dynamic--intro .team__label {
  display: inline-block;
  position: relative;
  z-index: 0;
  width: 50px;
}
.player__dynamic--intro .team__label:before {
  content: '';
  display: block;
  padding-bottom: 40%;
  width: 100%;
}
.player__dynamic--intro .team__label > div {
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.player__dynamic--intro .player__name {
  margin-bottom: 1.5%;
  font-size: 24px;
}
.player__dynamic--intro .player__number {
  margin-bottom: 7.5%;
}
.player__dynamic--intro .info__intro {
  margin-bottom: 6%;
}
.player__dynamic--intro .intro__text {
  font-size: 16px;
}
.player__dynamic--intro .intro__label {
  margin-bottom: 3%;
  font-size: 20px;
}
.player__dynamic--intro .intro__label {
  padding-top: 2px;
  padding-bottom: 2px;
  width: 70px;
  color: #fff;
  border-radius: 35px;
  text-align: center;
}
.player__dynamic--intro .votes__label,
.player__dynamic--intro .votes__value {
  display: inline-block;
  vertical-align: middle;
}
.player__dynamic--intro .votes__label {
  margin-right: 3%;
  padding-top: 2px;
  padding-bottom: 2px;
  width: 110px;
  color: #fff;
  border-radius: 55px;
  text-align: center;
  font-size: 20px;
}
.player__dynamic--intro .votes__value {
  font-size: 30px;
}
@media screen and (min-width: 768px) {
  .player__dynamic--intro {
    margin-bottom: 25px;
  }
  .player__dynamic--intro .team__label {
    margin-bottom: 12px;
    width: 100px;
  }
  .player__dynamic--intro .votes__value {
    font-size: 50px;
  }
}
body {
  background-color: #ffedb3;
}
@media screen and (min-width: 960px) {
  body {
    background: #ffedb3 center 0 url(../assets/bg-web.jpg) repeat-y;
    background-size: auto;
  }
}
