.note__wrap
  margin-left: 16px
  margin-right: 16px
  color: $gray-deep-light

.note__box
  padding: 10px 20px
  +bg-set(url(event/1st/e-main/components/note-section/bg-note.png), 100%, null, null,repeat)

  +breakpoint-min($min-width-lg)
    padding: 10px 30px

  +breakpoint-min($min-width-xl)
    padding: 10px 50px
