// ==========================================================================
// Plugins
// ==========================================================================
// // @import vendors/animate
// @import vendors/style/swiper-slider-custom
@import vendors/style/swiper-safari-polyfill

// ==========================================================================
// first screen need
// ==========================================================================
// hero section
@import event/1st/e-main/components/hero-section/_hero-section
@import utils/bg-decoration-instance/parallax/_parallax
// @import utils/bg-decoration-instance/css-firework-2/_css-firework-2

// ==========================================================================
// components
// ==========================================================================
// dynamic product 假宮格共用CSS
@import layout/dynamic-product/_dynamic-product.sass

// 一般components
@import event/1st/e-main/components/promo-event/_promo-event
@import event/1st/e-main/components/promo-section/_promo-section
@import event/1st/e-main/components/daily-slider/_daily-slider
@import event/1st/e-main/components/bn-section/_bn-section
@import event/1st/e-main/components/promo-slider/_promo-slider
@import event/1st/e-main/components/dynamic-slider/_dynamic-slider
// @import event/1st/e-main/components/dynamic-slider-2/_dynamic-slider-2
// @import event/1st/e-main/components/dynamic-slider-3/_dynamic-slider-3
// @import event/1st/e-main/components/dynamic-slider-4/_dynamic-slider-4
@import event/1st/e-main/components/bn-slider/_bn-slider
@import event/1st/e-main/components/bn-section-2/_bn-section-2
// @import event/1st/e-main/components/event-w3m3/_event-w3m3
// @import event/1st/e-main/components/daily-time/_daily-time
// @import event/1st/e-main/components/tab-section-2/_tab-section-2
// @import event/1st/e-main/components/tab-section/_tab-section.sass
// @import event/1st/e-main/components/dynamic-slider-half/_dynamic-slider-half
// @import event/1st/e-main/components/promo-slider-2/_promo-slider-2
// @import event/1st/e-main/components/dynamic-slider-3/_dynamic-slider-3
// @import event/1st/e-main/components/tab-section-2/_tab-section-2.sass


// ==========================================================================
// Page
// ==========================================================================
body
  +pos-set(relative)
  background-color: $main-e-background-color-1st
  // height: 10000px
  // background-color: $main-e-background-color-1st
  // background-attachment: auto
  .bg-web
    +pos-set(fixed, under, 0%, 0%)
    +bg-set(url(event/1st/e-main/pages/index/bg-m.jpg), 100%)
    +breakpoint-min($min-width-xl)
      +bg-set(url(event/1st/e-main/pages/index/bg.jpg), 110%)
  // &.bg-fixed
  //   background-position-y: 55%
  //   background-attachment: fixed
  //   +breakpoint-min($min-width-4xl)
  //     background-position-y: 65%
  //   +breakpoint-min($min-width-5xl)
  //     background-position-y: 60%


// TODO: 修改EU nav佔位高度(影響logo距離上方高度，U每次要改)
.navRightBar
  // E
  height: 39px
  // U
  // height: 15px
  +breakpoint-min($min-width-xl)
    height: auto

.decoration--top,
.decor--top
  +pos-set(absolute)
  pointer-events: none

section:not(.note)
  // 有parallax scroll時圖層有relative就有預設z-index可能會遮到宮格，因此使用這個讓宮格也能有預設z-index
  +pos-set(relative)
  a
    display: block


@keyframes bg-flash
  0%, 50%, to
    opacity: 1
  25%, 75%
    opacity: 0