.promo__group--bn-section-2
  +pos-set(relative, zero)
  overflow: hidden
  .promo__wrap
    +aspect-ratio(960, 764)
    +bg-set(url("~event/1st/e-main/components/bn-section-2/bg-bn-section-2.png"), 100%)
    margin-top: -12%
    .promo__zone
      // .promo__decor
    .decor__wrap
      +pos-set(absolute, zero, 4%, 0%)
      width: 36%

    .promo__block
      padding: 8.8% 0% 0
      .promo__box
        cursor: pointer
        &:hover
          transition: all 0.6s ease
          transform: translateY(-.5%)
          filter: brightness(1.1)

