.promo__group--mid-big
  +pos-set(relative, zero)
  .decoration--mid-big
    +pos-set(absolute, zero)
    width: 15%
    max-width: 132px
    img
      will-change: scroll-position
    &.decoration--mid-big-1
      top: 33%
      left: 0
      +breakpoint-min($min-width-xl)
        left: calc(50% - 465px)
    &.decoration--mid-big-2
      top: 24%
      right: 4%
      +breakpoint-min($min-width-xl)
        right: calc(50% - 430px)
  .promo__wrap
    +pos-set(relative, zero)
    +bg-set(url("~event/2nd/e-main/components/mid-big-slider/bg-mid-big.png"), 100%)
    .promo__slider
      padding-top: 37%
      padding-bottom: 5.5%
    .swiper-slide
      width: 33%
      text-align: center
    .swiper-slide,
    .swiper-slide-duplicate,
      a,
      img,
        transition: all 0.6s
      a
          transform: translateY(8%) scale(0.6)
      img
        filter: grayscale(100%)
    .swiper-slide-active,
    // FIXME: IE會錯將最後一品dup掛active class造成最後一品一直放大，解法2種，1. 拿掉dup active class但dup輪到正式會少transition、2. JS中IE不loop，這邊走2.
    .swiper-slide-duplicate-active
      z-index: map-get($zindex, ten)
      a
        transform: translateY(-9%) scale(1.1)
      img
        filter: grayscale(0)

  .mid-big__pager
    bottom: 0
    left: 0
    width: 100%
    .swiper-pagination-bullet
      margin: 0 4px
      width: 12px
      height: 12px
      transition: all 0.3s
      outline: 0
      &.swiper-pagination-bullet-active
        width: 24px
        border-radius: 12px
        background-color: $gray-deep-dark

  +breakpoint-min($min-width-md)
    .mid-big__pager
      .swiper-pagination-bullet
        margin: 0 6px
        width: 18px
        height: 18px
        &.swiper-pagination-bullet-active
          width: 36px
          border-radius: 18px
  +breakpoint-min($min-width-xl)
    .promo__wrap
      .promo__slider
        padding-bottom: 65px
    .mid-big__pager
      bottom: 25px
