+breakpoint($min-pad)
  //.sp__wrap
  //  background: url(../img/background.jpg) center 0 no-repeat
  //  background-size: cover
  //.header__wrap--sp
  //  //padding: 3% 8% 0
  .slide__item
    .item__image
      width: 68%

  .title__box
    margin-left: 55px
  .title__slogan
    h2
      +font-size($fz-26)
  .thumb__box
    margin-top: 4%
    .card--current
      display: inline-block
      position: relative
      z-index: map-get($zindex, second)
      width: 35%
    .card--others
      display: inline-block
      width: 30%
      &:first-child
        transform: translateX(20px)
      &:last-child
        transform: translateX(-20px)
  .marquee__box div
    +font-size($fz-18)   
  .slick-button-custom
    top: calc(-100vw * 0.17)
    padding-top: 5.5%
    width: 3.5%
