section#promoInfo.promo__group.promo__group--info.m-bottom--md
  .layout--main
    .promo__head
      .promo__title
        img(src="~components/info-section/section-title-info.png", alt="")
    .promo__body
      .info__block
        .info__box
          .label__box
            .info__label.shape--capsule.shape--blue 抽獎資格
          .info__text
            ol.info__list
              li.m-bottom--xs
                p 活動期間東森購物網會員(此活動限台灣手機註冊之會員參加)皆可許願給人氣大獎，最終成功預測許願冠軍和亞軍大獎的會員，並在活動期間於東森購物全站消費單筆訂單發票實付金額滿$3,000，無取消/退貨，於2021/12/13 23:59前至活動頁面點選【我要登記】即可獲得抽獎機會，每一會員限登記乙次。
                p
                  a(href="https://www.etmall.com.tw/Activity/Reg/220", target="_blank", title="我要登記") 我要登記

        .info__box
          .label__box
            .info__label.shape--capsule.shape--blue 許願方式
          .info__text
            ol.info__list
              li.m-bottom--xs 東森會員每人每日最多可許願3次，每日許願3次不可許給同一個大獎，許願頁面為隨機排序。
              li.m-bottom--xs 可不限次數分享大獎，分享大獎的頁面1次，即可幫大獎加1票，最高可為大獎加5次票。(每日最高分享加票5次，超過5次仍可分享，但不再加票)。

        .info__box
          .label__box
            .info__label.shape--capsule.shape--blue 獎項內容
          .info__text
            ol.info__list
              li.m-bottom--xs 每日完成3次許願，可獲得東森幣10枚，東森幣將於許願完成次日09:00前歸戶，東森幣效期為系統匯入後+7日。
              li.m-bottom--xs 最終許願出的冠軍大獎和亞軍大獎，將於符合抽獎資格的東森購物網會員，各抽出一名幸運得主獲得冠軍大獎和亞軍大獎。
                ul
                  li 冠軍大獎(共一名)
                  li 亞軍大獎(共一名)
              li.m-bottom--xs 公布得獎：2021/12/30 (四) 10:00 東森購物將與中獎會員聯繫兌獎流程。
              li.m-bottom--xs 許願池大獎：
                ol.info__list
                  li Apple iPhone 13 128G (顏色隨機) 市價$25,900
                  li Acer Aspire 5 獨顯筆電 14吋(金) 市價$24,900
                  li Switch OLED白色主機健身還遊戲組合(台灣公司貨) 市價$23,770
                  li Apple iPad Pro 11吋 128GB Wi‑Fi 2021(顏色隨機) 市價$24,900
                  li Dyson V12 輕量智能無線吸塵器 市價$21,900
                  li Dyson 二合一空氣清淨機(鎳金) 市價$24,900
                  li 國際牌變頻洗脫烘洗衣機 市價$27,900
                  li 國際牌481L三門變頻冰箱 市價$28,490
                  li tokuyo Mini 玩美椅 PLUS 按摩椅 TC-292(灰) 市價$29,900
                  li 國際牌 55吋 4K液晶顯示器 市價$25,900
                  li CHLOE＇Mini 牛皮斜背包(顏色隨機) 市價$29,500
                  li 花蓮瑞穗天合莊園2泊4食雙人平日 市價$32,600

        .info__box
          <table class="rwd-table">
              <tr>
                  <th>活動</th>
                  <th>贈品</th>
                  <th>贈品價值</th>
                  <th>備註</th>
              </tr>
              <tr>
                  <td data-th="活動">年終大獎由你決定</td>
                  <td data-th="贈品">
                    <div>
                        <p>冠軍大獎(共一名)</p>
                        <p>亞軍大獎(共一名)</p>
                    </div>
                  </td>
                  <td data-th="贈品價值">$21,900-$32,600</td>
                  <td data-th="備註">活動期間成功預測冠亞軍和活動期間於東森購物全站消費單筆訂單發票實付金額滿$3,000，且無取消/退貨，於2021/12/13 23:59前至活動頁面點選【我要登記】，可獲得抽獎資格。每一會員限登記乙次。</td>
              </tr>
          </table>