-
  var bnSectionItem = [
    {
      link: "https://www.etmall.com.tw/gp/127270",
      imgSrc: "event/1st/e-main/components/bn-section/item/bn-1.png",
      alt: ""
    },
    //- {
    //-   link: "https://www.etmall.com.tw/c3/40100",
    //-   imgSrc: "event/1st/e-main/components/bn-section/item/bn-1.png",
    //-   alt: ""
    //- },
    //- {
    //-   link: "https://www.etmall.com.tw/bs/53597",
    //-   imgSrc: "event/1st/e-main/components/bn-section/item/bn-1.png",
    //-   alt: ""
    //- },
    //- {
    //-   link: "https://media.etmall.com.tw/sp/11902/m/index.html",
    //-   imgSrc: "event/1st/e-main/components/bn-section/item/bn-4.jpg",
    //-   alt: ""
    //- },
    //- {
    //-   link: "https://media.etmall.com.tw/sp/12699/m/index.html",
    //-   imgSrc: "event/1st/e-main/components/bn-section/item/bn-5.jpg",
    //-   alt: ""
    //- },
    //- {
    //-   link: "",
    //-   imgSrc: "event/1st/e-main/components/bn-section/item/bn-6.jpg",
    //-   alt: ""
    //- },
    //- {
    //-   link: "https://www.etmall.com.tw/c3/140371",
    //-   imgSrc: "event/1st/e-main/components/bn-section/item/bn-7.jpg",
    //-   alt: ""
    //- },
    //- {
    //-   link: "https://www.etmall.com.tw/c1/146079",
    //-   imgSrc: "event/1st/e-main/components/bn-section/item/bn-8.jpg",
    //-   alt: ""
    //- },
  ]

section.promo__group.promo__group--bn-section.m-bottom--lg(data-title="女神初上")
  .layout--main
    .promo__decor#decorBnSection
      img(src="event/1st/e-main/components/bn-section/decor-bn-section.png", alt="")
    .promo__wrap
      .promo__zone
        .promo__block
          a(href="")
            img(src="event/1st/e-main/components/bn-section/item/bn-1.png", alt="")

//- data-dynamic-2.js在assets資料夾內、由index.pug外連過去