.bn-slider
  +pos-set(relative, zero)
  overflow: hidden
  .decor__item

    &--title
      +pos-set(absolute, under, 0%, 3.2%)
      width: 94%
      +breakpoint-min($min-width-xl)
        left: calc(50% - 460px)

    &--left
      +pos-set(absolute, under, 9%, 1%)
      width: 23%
      +breakpoint-min($min-width-xl)
        left: calc(50% - 475px)
      &.active
        animation: key-rotate-from-to 1s linear infinite alternate-reverse

    &--right
      +pos-set(absolute, under, 8%)
      right: 6%
      width: 15.5%
      +breakpoint-min($min-width-xl)
        top: 8%
        right: calc(50% - 415px)
      &.active
        animation: rotate-reverse 4s linear infinite

    +breakpoint-min($min-width-xl)
      width: auto

  .promo__wrap
    margin-top: 23%
    +bg-set(url(event/2nd/e-main/components/bn-slider/bg-bn-slider.png), 100%)
    +breakpoint-min($min-width-xl)
      margin-top: 218px
  .promo__zone
    +aspect-ratio(960, 830)
  .promo__block
    padding: 0 6%
    .promo__box
      +pos-set(absolute, zero, 19%, 12.5%)
      width: 75%
    .promo__slider
      +pos-set(absolute, zero)
      bottom: 3.5%
      left: 2.9%
      width: 95%
      .swiper-slide
        padding: .2%
      .swiper-slide-visible
        a
          transition: all 0.6s
      .swiper-slide-visible.swiper-slide-next
        a
          transition: all 0.6s
          filter: brightness(105%)

@keyframes rotate-reverse
  0%
    transform: rotate(0)
  100%
    transform: rotate(-1turn)