//- 打開u-mall選項會自動轉換成U的logo和連結(預設etmall)
- var isU = true


main#spWrap.sp__wrap.sp__wrap--e
  include /layout/header/_header
  //- #parallaxBg.parallax__background
  //- .parallax__background

  //- hero section
  //- ===========================
  include /event/1st/u-main/components/hero-section/_hero-section
  //- include /event/1st/u-main/components/background-decoration/_background-decoration

  //- other components
  //- ===========================
  //- include /event/1st/u-main/components/scroll-x-section/_scroll-x-section
  //- include /event/1st/u-main/components/tab-section/_tab-section
  include /event/1st/u-main/components/countdown-section/_countdown-section
  //- include /event/1st/u-main/components/bn-special/_bn-special
  //- include /event/1st/u-main/components/game-map/_game-map
  //- include /components/two-medium-slider/_two-medium-slider
  //- include /components/video-section/_video-section
  //- include /components/bank-section/_bank-section
  //- include /components/event-w4m2/_event-w4m2

  //- include /event/1st/u-main/components/bn-event-2/_bn-event-2

//- script區
include /utils/pug/_total-script
script#dataCountdown(src="data-countdown.js")

