.bn-section
  overflow: hidden

  .decor__item
    pointer-events: none
    &--title
      +pos-set(absolute, second, 9%, 24%)
      width: 56%
      transition: transform .2s
      +breakpoint-min($min-width-xl)
        top: 66px
        left: calc( 50% - 212px )
    &--left
      +pos-set(absolute, zero, 10%, 5.5%)
      width: 90%
      transform-origin: bottom 
      &.active
        animation: up-down-2 2.6s ease-in-out infinite 
      +breakpoint-min($min-width-xl)
        top: 94px
        left: calc(50% - 355px)
    +breakpoint-min($min-width-xl)
      width: auto

  .promo__wrap
    +bg-set(url(event/2nd/e-main/components/bn-section/bg-bn-section.png), 100%, center, center)

  .promo__zone
    +aspect-ratio(960, 750)

  .promo__box
    +pos-set(absolute, zero, 31%, 1.4%)
    text-align: center
    cursor: pointer
    transition: all 0.6s ease
    &:hover
      transform: translateY(-1%)
      filter: contrast(1.2)

@keyframes up-down-2
  0%, 100%
    transform: translateY(0%) rotateX(0deg)
  50%
    transform: translateY(4%) rotateX(-40deg)