//- TODO: 給別的component引入時不需要前兩行要切換
//- section.promo__group.promo__group--bn-special.m-bottom--md
//-   .layout--main
//- var bankLink = {etmall: "https://www.etmall.com.tw/XML/content/DMSetting/Final/201910/SP_1107838/w/index.html", umall: "https://www.u-mall.com.tw/XML/content/DMSetting/Final/201910/SP_1104317/w/index.html"}
//- var bankInfo = isU ? bankLink.umall : bankLink.etmall
.promo__slider.bn-special
  #sliderSpecial.swiper-container
    ul.swiper-wrapper
      li.swiper-slide
        a(href="https://www.etmall.com.tw/XML/content/DMSetting/Final/202007/SP_1116046/w/index.html", title="APP下單3次送AWANA 304保溫杯")
          img(src="~event/2nd/e-main/components/bn-special/items/bn-special-1.png", alt="APP下單3次送AWANA 304保溫杯")
      li.swiper-slide
        a(href="#note", title="最高送3333東森幣")
          img(src="~event/2nd/e-main/components/bn-special/items/bn-special-2.png", alt="最高送3333東森幣")
      //li.swiper-slide
      //  a(href="https://www.etmall.com.tw/XML/content/DMSetting/Final/202008/SP_1114871/w/index.html#dbs", title="星展：滿$22,000送$2,200")
      //    img(src="~event/2nd/e-main/components/bn-special/items/bank-3.png", alt="星展：滿$22,000送$2,200")


    //#sliderSpecialPager.swiper-pagination-custom.swiper-pagination
  #sliderSpecialPrev.swiper-button-white.swiper-button-prev
  #sliderSpecialNext.swiper-button-white.swiper-button-next