section.promo__group.promo__group--dynamic-slider-half.m-bottom--md(data-title="浪漫精選")
  .layout--main
    .promo__wrap
      .pic__box
        a(href="https://media.etmall.com.tw/sp/8502/m/index.html", title="浪漫精選")
          img(src="~event/2nd/e-main/components/dynamic-slider-half/item-dynamic-slider-half-0.jpg", alt="浪漫精選")
      .slider__box
        #sliderDynamicHalf.promo__slider.swiper-container
          ul.swiper-wrapper

      #sliderDynamicHalfPager.dynamic-slider-pager.dynamic-slider-pager--half.swiper-pagination

//- data-dynamic.js在assets資料夾內、由index.pug外連過去