section.promo__group.promo__group--daily.m-bottom--sm(data-title="大牌倒數")
  .layout--main
    .promo__title.block--center.text--center
      .title__text.daily__text
        span#dailyMonth 8
        span /
        span#dailyDate 26
      .title__text.daily__countdown
        span#dailyHour 00
        span :
        span#dailyMin 00
        span :
        span#dailySec 00  
      //- img(src="~event/2nd/e-main/components/daily-change/title-daily-change.png", alt="大牌倒數")

    .promo__wrap
      .daily__change#dailyChange
        a(href="", title="更多優惠")
          img(src="~event/2nd/e-main/components/daily-change/items/daily-item-1.png", alt="大牌倒數")
