section.promo__group.promo__group--info.m-bottom--md
  .layout--main
    .promo__head
      .promo__title
        img(src="~components/info-section/section-title-info.png", alt="")
    .promo__body
      .info__block
        .info__box
          .label__box
            .info__label.shape--capsule.shape--pink 報名方式
          .info__text
            ol.info__list
              li.m-bottom--xs 一個東森會員帳號只能報名一次。
              li.m-bottom--xs 狗或貓(符合主題的寵物)。
              li.m-bottom--xs 於報名期間內填妥線上報名資料，並附上寵物照片(最少1張、最多3張)，照片尺寸規範建議800x800像素，為正方形(最少1張、最多3張)，檔案大小不得超過5MB，尺寸不符者將由系統自動加白框調整為正確尺寸，不得有議。
              li.m-bottom--xs 報名成功和不成功者最晚將於6/9(三)前以Email通知，資料不全、違反規範或逾時恕不受理。
        .info__box
          .label__box
            .info__label.shape--capsule.shape--pink 投票方式
          .info__text
            ol.info__list
              li.m-bottom--xs 東森會員每人每日最多可投3票，不可投給同一位參賽者，票選頁面為隨機排序。
              li.m-bottom--xs 可不限次數分享參賽者，分享參賽者的投票頁面1次，即可幫參賽者加1票，最高可為參賽者加5次票。
        .info__box
          .label__box
            .info__label.shape--capsule.shape--pink 獎項內容
          .info__text
            ol.info__list
              li.m-bottom--xs 每日完成3次投票者，可獲得東森幣10枚，當日完成投票者，次日09:00前東森幣即歸戶(東森幣效期D+7)。
              li.m-bottom--xs 最終汪汪和喵喵各組得票數排名1-10名的參賽者有獎；獎品詳情請看
                a(href="", title="") 獎項好禮送
                | 。
              li.m-bottom--xs 投票獎將於票選結束後，從投票者中隨機抽出投票獎；獎品詳情請見
                a(href="", title="") 獎項好禮送
                |。