//- RD的詳情Modal的結構，需留在底部並display: none
.modal.modal__3D-animation
  .modal__overlay.full-parent
    .overlay__block.full-parent
  .dialog__block
    video.video__box(autoplay muted playsinline disablePictureInPicture poster="poster-popup-3D-video.png" preload="metadata")
      source(src="popup-3D-video.mov" type='video/mp4; codecs="hvc1"')
      source(src="popup-3D-video.webm" type="video/webm")