//- RD的詳情Modal的結構，需留在底部並display: none
.modal.modal__animation
  .modal__overlay.full-parent
    .overlay__block.full-parent
  .dialog__block
    img(src="event/1st/e-main/components/modal-template/last-animation.png", alt="")