//- RD的詳情Modal的結構，需留在底部並display: none
.modal
  .modal__overlay.full-parent
    .overlay__block.full-parent
  form.dialog__block
    .area-title.font--title-xs
      p 投注成功
    .scroll-section
      .area-content
        //- .area-subtitle
        .area-detail.text--center 您可前往您的投注記錄查詢
    .area-clickBtn.normal
      //- .cta__box
        //- button.n-btn.n-btn--cancel(type="button") 取消
      .cta__box
        button.n-btn(type="button") 確定