//- RD的詳情Modal的結構，需留在底部並display: none
.modal.modal__awards-img
  .modal__overlay.full-parent
    .overlay__block.full-parent
  form.dialog__block
    .area-head
      .btn--modal.modal__close
        img(src="event/1st/e-main/components/modal-template/modal-close-white.svg", alt="關閉")
    .area-content
      .img-wrap
        img(src="event/1st/e-main/components/modal-template/awards-img-a.png", alt="")
        