//- RD的兌換紀錄Modal的結構，需留在底部並display: none
.modal.record-list
  .modal__overlay.full-parent
    .overlay__block.full-parent
  form.dialog__block.record-list__modal
    .list__head
      .modal__close
        img(src="event/1st/e-main/components/modal-template/modal-close.svg", alt="關閉")
      .list-title
        p 中獎看板
    .list__body
      .list-content
        .record-list-table
          .card__box
            .card__item
              .card__img
                img(src="event/1st/e-main/components/modal-template/awards-frame-a.png", alt="中獎看板")
                img(src="event/1st/e-main/components/modal-template/awards-a.jpg", alt="獎項")
            .card__item 
              .card__text 東森x霹靂獨家聯名款 霹靂Q版系列輕便型多功能鋁合金藍牙喇叭
              .card__text
                | 共
                span 3
                | 格/ 還剩
                span.text--bold 2
        .record-list-table
          .card__box
            .card__item
              .card__img
                img(src="event/1st/e-main/components/modal-template/awards-frame-b.png", alt="中獎看板")
                img(src="event/1st/e-main/components/modal-template/awards-b.jpg", alt="獎項")
            .card__item 
              .card__text ETMALL x 霹靂Q俠成人醫用口罩25片/盒-久富餘(雙鋼印)
              .card__text
                | 共
                span 7
                | 格/ 還剩
                span.text--bold 4
        .record-list-table
          .card__box
            .card__item
              .card__img
                img(src="event/1st/e-main/components/modal-template/awards-frame-c.png", alt="中獎看板")
                img(src="event/1st/e-main/components/modal-template/awards-c.jpg", alt="獎項")
            .card__item 
              .card__text 全家Let's Coffee大杯拿鐵(不限冷熱)電子兌換卷 乙張
              .card__text
                | 共
                span 100
                | 格/ 還剩
                span.text--bold 87
        .record-list-table
          .card__box
            .card__item
              .card__img
                img(src="event/1st/e-main/components/modal-template/awards-frame-d.png", alt="中獎看板")
                img(src="event/1st/e-main/components/modal-template/awards-d.jpg", alt="獎項")
            .card__item 
              .card__text 樂透金20枚
              .card__text
                | 共
                span 100
                | 格/ 還剩
                span.text--bold 100
        .record-list-table
          .card__box
            .card__item
              .card__img
                img(src="event/1st/e-main/components/modal-template/awards-frame-e.png", alt="中獎看板")
                img(src="event/1st/e-main/components/modal-template/awards-e.jpg", alt="獎項")
            .card__item 
              .card__text 東森幣10枚
              .card__text
                | 共
                span 490
                | 格/ 還剩
                span.text--bold 488
        .record-list-table
          .card__box
            .card__item
              .card__img
                img(src="event/1st/e-main/components/modal-template/awards-frame-f.png", alt="中獎看板")
                img(src="event/1st/e-main/components/modal-template/awards-f.jpg", alt="獎項")
            .card__item 
              .card__text 東森x霹靂獨家聯名款 霹靂Q版系列輕便型多功能鋁合金藍牙喇叭
              .card__text
                | 共
                span 3
                | 格/ 還剩
                span.text--bold 2
        .record-list-table
          .card__box
            .card__item
              .card__img
                img(src="event/1st/e-main/components/modal-template/awards-frame-last.png", alt="中獎看板")
                img(src="event/1st/e-main/components/modal-template/awards-last.jpg", alt="獎項")
            .card__item 
              .card__text 東森x霹靂獨家聯名款 霹靂Q版系列輕便型多功能鋁合金藍牙喇叭
              .card__text
                | 共
                span 1
                | 格/ 還剩
                span.text--bold 1
