.dynamic-slider-w3m3
  +pos-set(relative, zero)
  overflow: hidden
  .decor__wrap
    padding-bottom: 2%
    +breakpoint-min($min-width-xl)
      padding-bottom: 5px
  .decor__item
    &--left
      +pos-set(absolute, zero, 0%, 3%)
      width: 32%
      &.active
        animation: swing 2s linear infinite
      +breakpoint-min($min-width-xl)
        left: calc(50% - 460px)
    &--left2
      +pos-set(absolute, base, 3.5%, 29%)
      width: 7%
      +breakpoint-min($min-width-xl)
        top: 55px
        left: calc( 50% - 200px )
    &--right
      +pos-set(absolute, under, 0%)
      right: 0%
      width: 29%
      &.active
        animation: bounceIn 1.5s linear infinite alternate
      +breakpoint-min($min-width-xl)
        right: calc(50% - 475px)
    &--bottom
      +pos-set(absolute, base)
      bottom: 0%
      left: 40%
      width: 28%
      animation: move-poli-right 3s ease-in-out infinite
      +breakpoint-min($min-width-xl)
        left: calc( 50% - 175px )
    +breakpoint-min($min-width-xl)
      width: auto
  .promo__wrap
    +bg-set(url(event/2nd/e-main/components/dynamic-slider-w3m3/bg-dynamic-slider-w3m3.png), 100%)
  .promo__zone
    +aspect-ratio(960, 1629)
  .promo__block
    padding: 28% 7.5% 0
    +breakpoint-min($min-width-xl)
      padding-top: 265px
  .promo__box
    margin: 0 auto
    +breakpoint-min($min-width-xl)
      img
        width: 100%
  .promo__slider
    margin-top: 7%
    +breakpoint-min($min-width-xl)
      margin-top: 75px
    .product--dynamic
      width: 95%
      margin-bottom: 6%


@keyframes bounceIn
  0%, 20%, 40%, 60%, 80%, to
    animation-timing-function: cubic-bezier(.215, .61, .355, 1)
  0%
    transform: scale3d(.7, .7, .7)
  20%
    transform: scale3d(1, 1, 1)
  40%
    transform: scale3d(.9, .9, .9)
  60%
    transform: scale3d(1.02, 1.02, 1.02)
  80%
    transform: scale3d(.97, .97, .97)
  to
    transform: scaleX(1)

@keyframes move-poli-right
  0%, 100%
    transform: translate(0, 0)
  10%, 22%
    transform: translate(15%, -5%)
  16%, 28%
    transform: translate(15%, 0)
  40%
    transform: translate(2%, -5%)
  48%
    transform: translate(0, 0)

@keyframes swing
  20%
    transform: rotate(15deg)
  40%
    transform: rotate(-10deg)
  60%
    transform: rotate(5deg)
  80%
    transform: rotate(-5deg)
  to
    transform: rotate(0deg)
