.promo__group--daily-slider
  +pos-set(relative, zero)
  overflow: hidden
  .decor__item
    &--left
      +pos-set(absolute, zero, 2%, 6%)
      width: 20%
      &.active
        animation: shake-daily-slider 1s linear infinite
      +breakpoint-min($min-width-xl)
        top: 30px
        left: calc(50% - 420px)
    &--right
      +pos-set(absolute, zero, 0%)
      right: 2%
      width: 21%
      +breakpoint-min($min-width-xl)
        right: calc(50% - 440px)
    +breakpoint-min($min-width-xl)
      width: auto
  .title__text
    +pos-set(absolute, third, 31%, 15.5%)
    +breakpoint-min($min-width-xl)
      top: 360px
      left: calc(50% - 325px)
  .daily__countdown
    display: flex
    justify-content: space-between
    width: 65%
    +breakpoint-min($min-width-xl)
      width: 615px
    .time__block
      display: flex
      justify-content: center
      align-items: center
      width: 24%
      font-size: 5vw
      font-weight: 500
      .time__box
        // width: 5%
      +breakpoint-min($min-width-xl)
        font-size: 42px
      &:first-child
        .time__box
          &:first-child
            // margin-left: 0%
            margin-right: 2%
          &:last-child
            margin-left: 0%
      &:nth-child(2)
        .time__box
          &:first-child
            margin-left: 2%
          &:last-child
            margin-left: 2%
      &:last-child
        .time__box
          &:first-child
            margin-left: -2%
            margin-right: 2%
          &:last-child
            margin-left: 0%
      .time__box
        color: $main-e-background-color-1st-2
  .promo__wrap
    +bg-set(url(event/1st/e-main/components/daily-slider/bg-daily-slider.png), 100%, center, center)
  .promo__zone
    +aspect-ratio(497, 591)
  .promo__block
    padding: 45.5% 3% 0%
    +breakpoint-min($min-width-xl)
      padding-top: 440px
    .swiper-slide
      display: flex
      justify-content: space-around
      flex-wrap: wrap
      height: calc((100% - 10px) / 2)
    .dynamic__item
      width: 46%
      margin-bottom: 2%
      background-color: $gray-deep-light
      border-radius: 2vw
      +breakpoint-min($min-width-xl)
        border-radius: 22px
    .product--dynamic
      +pos-set(relative, zero)
      padding-bottom: 8%
      &::before
        content: '搶購中'
        +pos-set(absolute, base)
        bottom: 2%
        left: 5%
        margin: 3% auto 0
        width: 90%
        height: 5vw
        line-height: 5vw
        border-radius: 4vw
        background-color: $main-e-background-color-1st-4
        color: $gray-deep-light
        font-size: 1.1em
        text-align: center
        +breakpoint-min($min-width-lg)
          height: 30px
          line-height: 30px
          font-size: 20px
      +breakpoint-min($min-width-xl)
        padding-bottom: 0%
      &:after
        content: ''
        +pos-set(absolute, base)
        bottom: 0%
        right: 0%
        +bg-set(url(event/1st/e-main/components/daily-slider/lightning.png), 100%)
        width: 15%
        height: 14.7%
        animation: flash-daily-slider 2s linear infinite both
        +breakpoint-min($min-width-xl)
          bottom: -20px
          right: 2px
          max-width: 45px
          height: 85px
    .product__block
      &::before
        content: '當日10:00開搶'
        +pos-set(absolute, base, 0%, 0%)
        width: 100%
        height: 7vw
        line-height: 7vw
        background-color: $main-e-background-color-1st-5
        border-radius: 2vw 2vw 0 0
        color: $main-e-background-color-1st-6
        font-weight: bold
        font-size: 4.5vw
        text-align: center
        +breakpoint-min($min-width-xl)
          border-radius: 20px 20px 0 0
          height: 60px
          line-height: 60px
          font-size: 32px
    .product__img
      margin: 0 auto
      width: 100%
      padding-top: 7vw
      +breakpoint-min($min-width-xl)
        padding-top: 60px
      img
        top: 7vw
        width: 100%
        +breakpoint-min($min-width-xl)
          top: 60px
    .product__name
      height: 1.23em
      font-size: 14px
      +breakpoint-min($min-width-xl)
        margin-top: 5px
        margin-bottom: 5px
        height: 60px
        font-size: 24px
    .product__price
      height: 10vw
      +breakpoint-min($min-width-xl)
        height: 110px

      span
        &:last-child
          font-size: 4.5vw
          +breakpoint-min($min-width-xl)
            font-size: 48px

@keyframes flash-daily-slider
  0%, 17%, 31%
    opacity: 1
  5%, 30%
    opacity: 0

@keyframes shake-daily-slider
  0%
    transform: translateX(3%)
  10%
    transform: translateX(-3%)
  20%
    transform: translateX(3%)
  30%
    transform: translateX(-3%)
  35%
    transform: translateX(3%)
  100%
    transform: translateX(3%)