.hero__zone
  .hero__slider
    width: 36%
    left: calc(100vw * 0.171)
    margin-top: calc(100vw * -0.196)
    +aspect-ratio(479, 129)
    //+bg-set(url("~event/3rd/u-main/components/hero-small-slider/bg-small-slider.png"), 90%)
    &.animated
      animation: big-open 0.5s both

  .hero__title
    &--sub
      width: 90%
      +pos-set(relative, third)

  +breakpoint-min($min-width-xl)
    .hero__slider
      margin-top: -213px
      left: 165px
      width: auto
    .hero__title
      &--sub
        width: 95%
        left: -5px
        top: 0