.promo__group--left-right
  position: relative
  overflow: hidden
  height: 65vw
  margin-top: 5vw
  +bg-set(url("~event/1st/e-main/components/game-section/bg-game.png"), 100% auto)
  +breakpoint-min($min-width-xl)
    overflow: visible
    background-size: 960px 604px
    margin-top: 50px
    height: 620px
  .img-style,.img-style-2
    position: absolute
    top: 0
    width: 30vw
    +breakpoint-min($min-width-xl)
      width: auto
  .img-style
    left: 17vw
    +breakpoint-min($min-width-xl)
      left: calc(50% - 75px)
  .img-style-2
    left: 3vw
    +breakpoint-min($min-width-xl)
      left: calc(50% - 215px)
  .left-right__wrap
    display: flex
    .block--left,
    .block--right
      width: 50%
      a
        text-align: center
        height: 32vw
        margin-top: 17.5vw
        +breakpoint-min($min-width-xl)
          height: auto
          margin-top: 166px
    .block--left
      position: relative
    +breakpoint-min($min-width-xl)
      .block--left
        //img
        //  width: auto
        //  top: 0
        //  left: 200px

  .item__box
    +pos-set(relative, zero)
    &:hover,
    &:active
      > a
        > img
          filter: contrast(105%) brightness(105%)
    .img--notyet,.not-yet__wrap,.red__envelope__wrap
      display: none
    .decoration--slot
      +pos-set(absolute,base)
      top: 42%
      left: 18%
      width: 62%
    .decoration__box
      +pos-set(absolute, second, 0, 0)
      width: 100%
      height: 100%
      pointer-events: none

    &.not-yet
      img
        display: none
      .img--notyet
        display: block

    .img_open
      position: absolute

//.left-right__web--bg
//  +breakpoint-min($min-width-xl)
//    position: absolute
//    //+bg-set(url("~event/1st/e-main/components/game-section/game-web-bg.png"))
//    //+bg-set(url("https://media.etmall.com.tw/sp/8249/game-web-bg.png"))
//    //background-size: 1000px 617px
//    left: 50%
//    transform: translateX(-50%)
//    width: 100%
//    height: 620px
@keyframes blow-up-down
  0%
    opacity: 0
    transform: scale(0)
  1%
    opacity: 1
  15%
    transform: scale(1) translateY(0)
  20%
    opacity: 1
  50%, 100%
    opacity: 0
    transform: scale(2) translateY(60%)

@keyframes blowup
  0%, 50%
    opacity: 0
    transform: scale(0) rotate(0)
  51%
    opacity: 1
  90%
    opacity: 1
  100%
    opacity: 0
    transform: scale(1.5) rotateZ(360deg)

@keyframes key-rotate-stop
  0%, 41%, 59%, 91%
    transform: rotate(0)
  40%,40.9%
    transform: rotate(1080deg)
  90%,90.9%
    transform: rotate(-1080deg)


@keyframes iocn-light
  0%, 41%, 45%, 49%, 91%, 95%, 99%
    transform: scale(1)
  43%, 47%, 93%, 97%
    transform: scale(0.9)
    filter: brightness(130%)