section.promo__group.promo__group-hot(data-title="熱門活動")
  .promo__wrap
    #sliderBnEventHot.promo__slider.swiper-container
      .swiper-wrapper
        li.swiper-slide
          a(href="https://www.etmall.com.tw/XML/content/DMSetting/Final/202007/SP_1115765/w/index.html", title="保健國內外品牌對決")
            img(src="~event/2nd/e-main/components/bn-event-hot/items/bn-hot-1.jpg", alt="保健國內外品牌對決")
        li.swiper-slide
          a(href="https://www.etmall.com.tw/XML/content/DMSetting/Final/202006/SP_1115776/w/index.html", title="盛夏擊退豔陽 買1送1")
            img(src="~event/2nd/e-main/components/bn-event-hot/items/bn-hot-2.jpg", alt="盛夏擊退豔陽 買1送1")
        li.swiper-slide
          a(href="https://www.etmall.com.tw/XML/content/DMSetting/Final/202005/SP_1115478/w/index.html", title="日用熱銷網路下單折百")
            img(src="~event/2nd/e-main/components/bn-event-hot/items/bn-hot-3.jpg", alt="日用熱銷網路下單折百")
        li.swiper-slide
          a(href="https://www.etmall.com.tw/XML/content/DMSetting/Final/202006/SP_1115097/w/index.html", title="食不可擋！下單折百")
            img(src="~event/2nd/e-main/components/bn-event-hot/items/bn-hot-4.jpg", alt="食不可擋！下單折百")
        li.swiper-slide
          a(href="https://www.etmall.com.tw/XML/content/DMSetting/Final/202007/SP_1115879/w/index.html", title="LG獨家送提貨券、小家電")
            img(src="~event/2nd/e-main/components/bn-event-hot/items/bn-hot-5.jpg", alt="LG獨家送提貨券、小家電")
        li.swiper-slide
          a(href="https://www.etmall.com.tw/p/104910", title="夏日盛典✔$168起")
            img(src="~event/2nd/e-main/components/bn-event-hot/items/bn-hot-6.jpg", alt="夏日盛典✔$168起")
        li.swiper-slide
          a(href="https://www.etmall.com.tw/c3/111960", title="GoPro 只要9,900")
            img(src="~event/2nd/e-main/components/bn-event-hot/items/bn-hot-7.jpg", alt="GoPro 只要9,900")
        li.swiper-slide
          a(href="https://www.etmall.com.tw/p/67031", title="EASY SHOP $100up")
            img(src="~event/2nd/e-main/components/bn-event-hot/items/bn-hot-8.jpg", alt="EASY SHOP $100up")
    #sliderBnEventHotPager.promo-pager.swiper-pagination