.event__block
  .event__box
    a(href="https://www.etmall.com.tw/Activity/CollectPointExchangeActivity/202112e5dc1886" title="集點換iPhone")
      img(src="event/2nd/e-main/components/hero-section/hero-event/hero-event-1.png")
  .event__box
    a(href="#note" title="加碼抽一年份衛生紙")
      img(src="event/2nd/e-main/components/hero-section/hero-event/hero-event-2.png")
  .event__box
    a(href="#note" title="最高回饋45%")
      img(src="event/2nd/e-main/components/hero-section/hero-event/hero-event-3.png")
      
    