-
  var sliderW2M2Data = [
    {
      link: "https://www.etmall.com.tw/i/3615749" ,
      imgSrc: "event/2nd/e-main/components/slider-w2m2/item/p1.png",
      alt: "RTX3050Ti光追顯卡 15吋八核電競筆電",
    },
    {
      link: "https://www.etmall.com.tw/i/4070704" ,
      imgSrc: "event/2nd/e-main/components/slider-w2m2/item/p2.png",
      alt: "解涷覆熱輕鬆料理  25L微波爐 ",
    },
    { // 3
      link: "https://www.etmall.com.tw/i/4300514" ,
      imgSrc: "event/2nd/e-main/components/slider-w2m2/item/p3.png",
      alt: "熱銷精選超軟牛皮 Ann'S超軟全牛皮小白鞋",
    },
    { // 4
      link: "https://www.etmall.com.tw/i/4173694" ,
      imgSrc: "event/2nd/e-main/components/slider-w2m2/item/p4.png",
      alt: "超大彈力涼感舒適 無縫石墨烯孅塑褲",
    }, 
    { // 5
        link: "https://www.etmall.com.tw/i/4171966" ,
        imgSrc: "event/2nd/e-main/components/slider-w2m2/item/p5.png",
        alt: "頂級精油舒活放鬆 玫瑰熱瓷SPA",
    },
    { 
      link: "https://www.etmall.com.tw/i/2446148" ,
      imgSrc: "event/2nd/e-main/components/slider-w2m2/item/p6.png",
      alt: "超濃密膠原蛋白 EX膠原蛋白粉",
    },
  ]

section.promo__group.promo__group--slider-w2m2.m-bottom--lg(data-title="春漾主打星")
  .layout--main
    .decor__wrap.full-parent
      .decor__item.decor__item--left#decorW2M2Left
        img(src="event/2nd/e-main/components/slider-w2m2/decor-slider-w2m2-left.png" alt="")
      .decor__item.decor__item--right#decorW2M2Right
        img(src="event/2nd/e-main/components/slider-w2m2/decor-slider-w2m2-right.png" alt="")
    .promo__wrap
      .promo__zone
        .promo__block
          .promo__slider.full-parent
            .swiper-container#sliderW2M2Item
              ul.swiper-wrapper
                each data, index in sliderW2M2Data
                  li.swiper-slide
                    a(href= data.link, title=data.alt)
                      img(src= data.imgSrc, alt=data.alt)
