section.promo__group.promo__group--tab-section.m-bottom--md(data-title="省＄秘笈")
  .layout--main
    .promo__wrap
      .promo__zone
        .promo__title.block--center(title="送你！省＄秘笈")
          img(src="event/1st/e-main/components/tab-section/title-tab.png", alt="送你！省＄秘笈")
        ul.tab__wrap
          li.tab__zone
            ul#tabBox.tab__box
              li.tab__item.active
                img(src="event/1st/e-main/components/tab-section/items/tab/tab-1-1.png", alt="折價券攻略")
                img(src="event/1st/e-main/components/tab-section/items/tab/tab-1-2.png", alt="")
                img(src="event/1st/e-main/components/tab-section/items/tab/tab-1-3.png", alt="")
              li.tab__item
                img(src="event/1st/e-main/components/tab-section/items/tab/tab-2-1.png", alt="社群攻略")
                img(src="event/1st/e-main/components/tab-section/items/tab/tab-2-2.png", alt="")
                img(src="event/1st/e-main/components/tab-section/items/tab/tab-2-3.png", alt="")
              li.tab__item
                img(src="event/1st/e-main/components/tab-section/items/tab/tab-3-1.png", alt="強勢品牌推薦")
                img(src="event/1st/e-main/components/tab-section/items/tab/tab-3-2.png", alt="")
                img(src="event/1st/e-main/components/tab-section/items/tab/tab-3-3.png", alt="")
              li.tab__item
                img(src="event/1st/e-main/components/tab-section/items/tab/tab-4-1.png", alt="搶＄專區")
                img(src="event/1st/e-main/components/tab-section/items/tab/tab-4-2.png", alt="")
                img(src="event/1st/e-main/components/tab-section/items/tab/tab-4-3.png", alt="")
          li.content__zone
            ul#tabContentBlock.content__block
              li.content__box.full-parent.active
                a(href="", title="折價券攻略")
                  img(src="event/1st/e-main/components/tab-section/items/content/tab-content-1.png", alt="折價券攻略")

              li.content__box.full-parent
                a(href="", title="社群攻略")
                  img(src="event/1st/e-main/components/tab-section/items/content/tab-content-2.png", alt="社群攻略")

              li.content__box.full-parent
                a(href="", title="強勢品牌推薦")
                  img(src="event/1st/e-main/components/tab-section/items/content/tab-content-3.png", alt="強勢品牌推薦")

              li.content__box.full-parent
                a(href="", title="搶＄專區")
                  img(src="event/1st/e-main/components/tab-section/items/content/tab-content-4.png", alt="搶＄專區")

