//- TODO: API:
//- data-src="Gift_Content"，最外層區塊，登記換內容會吐在這個裡面
//- id="Gift_Template"，區塊模版外框，『必須display: none』，每個子項目會拿這個裡面內容再append到ul的li內
//- data-src="Image"，圖片，限用<img>
//- data-src="Name"，名稱
//- data-src="UsePoint"，花費點數
//- class="jsGoodsInventory"，「尚餘組數」外框，限用<div>
//- data-src="Amount"，「尚餘組數」數量
//- class="jsItemInfo"，詳情按鈕
//- class="cta--active"，登記按鈕
//- data-src="NotificationTime"，推播時間

section#collectChange.exchange__wrap.m-bottom--collect(data-title="集點換好禮")
  .layout--main
    .exchange__block
      .decor__top
        img(src="event/1st/e-main/components/collect-exchange/decor-exchange-top.png", alt="")

      .exchange__box(data-src="Gift_Content")
        //- TODO: 整個#Gift_Template內部由item__wrap開始會吐在由RD創立的ul > li內，有幾個吐幾個，因此測試結構上線前要關閉，正式結構寫在最下面
        //- ===================== 上線要註解掉 start ===================
        //- ul
        //-   li
        //-     #Gift_Template
        //-       .item__wrap
        //-         .item__box
        //-           .item__pic
        //-             img(src="event/1st/e-main/components/collect-exchange/test-exchange.png", alt="")
        //-           .item__intro
        //-             .item__name
        //-               .name__box
        //-                 span(data-src="Name") 呵呵呵呵呵呵呵呵呵呵呵呵呵呵
        //-             .item__quantity.jsGoodsInventory
        //-               span 尚餘
        //-               span(data-src="Amount") 100
        //-               span 組
        //-         .cta__box
        //-           .item__info.jsItemInfo
        //-             a(href="javascript:void(0)", title="詳情") 詳情
        //-           .item__cta
        //-             .cta.cta--active
        //-               a(href="", title="立刻登記換")
        //-                 span(data-src="UsePoint") 0
        //-                 span 點登記換

        //-             .cta.cta--closed(title="登記完畢")
        //-               div 登記完畢
        //-   li
        //-     #Gift_Template
        //-       .item__wrap
        //-         .item__box
        //-           .item__pic
        //-             img(src="event/1st/e-main/components/collect-exchange/test-exchange.png", alt="")
        //-           .item__intro
        //-             .item__name
        //-               .name__box
        //-                 span(data-src="Name") 哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈
        //-             .item__quantity.jsGoodsInventory
        //-               span 尚餘
        //-               span(data-src="Amount") 9999
        //-               span 組
        //-         .cta__box
        //-           .item__info.jsItemInfo
        //-             a(href="javascript:void(0)", title="詳情") 詳情
        //-           .item__cta
        //-             .cta.cta--active
        //-               a(href="", title="立刻登記換")
        //-                 span(data-src="UsePoint") 0
        //-                 span 點登記換

        //-             .cta.cta--closed(title="登記完畢")
        //-               div 登記完畢
        //-   li
        //-     #Gift_Template
        //-       .item__wrap
        //-         .item__box
        //-           .item__pic
        //-             img(src="event/1st/e-main/components/collect-exchange/test-exchange.png", alt="")
        //-           .item__intro
        //-             .item__name
        //-               .name__box
        //-                 span(data-src="Name") 呵呵呵呵呵呵呵呵呵呵呵呵呵呵
        //-             .item__quantity.jsGoodsInventory
        //-               span 尚餘
        //-               span(data-src="Amount") 100
        //-               span 組
        //-         .cta__box
        //-           .item__info.jsItemInfo
        //-             a(href="javascript:void(0)", title="詳情") 詳情
        //-           .item__cta
        //-             .cta.cta--active
        //-               a(href="", title="立刻登記換")
        //-                 span(data-src="UsePoint") 0
        //-                 span 點登記換

        //-             .cta.cta--closed(title="登記完畢")
        //-               div 登記完畢
        //-   li
            #Gift_Template
              .item__wrap
                .item__box
                  .item__pic
                    img(src="event/1st/e-main/components/collect-exchange/test-exchange.png", alt="")
                  .item__intro
                    .item__name
                      .name__box
                        span(data-src="Name") 哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈
                    .item__quantity.jsGoodsInventory
                      span 尚餘
                      span(data-src="Amount") 9999
                      span 組
                .cta__box
                  .item__info.jsItemInfo
                    a(href="javascript:void(0)", title="詳情") 詳情
                  .item__cta
                    .cta.cta--active
                      a(href="", title="立刻登記換")
                        span(data-src="UsePoint") 0
                        span 點登記換

                    .cta.cta--closed(title="登記完畢")
                      div 登記完畢
        //- ===================== 上線要註解掉 End =====================

        .rule__box
          span 完成登記之贈品將於
          span(data-src="NotificationTime")
          span 前以我的禮物盒推播通知

      .decor__bottom
        img(src="event/1st/e-main/components/collect-exchange/decor-exchange-bottom.png", alt="")

#Gift_Template(style="display: none")
  .item__wrap
    .item__box
      .item__pic
        //- FIXME: pug 不能直接填data-src，會報錯，得產出後手改
        img(data-src="/Image", alt="")
      .item__intro
        .item__name
          .name__box
            span(data-src="Name")
        .item__quantity.jsGoodsInventory
          span 尚餘
          span(data-src="Amount") 0
          span 組
    .cta__box
      .item__info.jsItemInfo
        a(href="javascript:void(0)", title="詳情") 詳情
      .item__cta
        .cta.cta--active
          a(href="", title="立刻登記換")
            span(data-src="UsePoint") 0
            span 點登記換

        .cta.cta--closed(title="登記完畢")
          div 登記完畢
