-
  var sweetPointDataE = [
  {itemName: '好感1',
  link: "https://www.etmall.com.tw/i/2703817",
  imgSrc: "~event/1st/e-main/components/slider-section-sweetPoint/items/sweet_pic1.png",
  alt: "SAMSUNG P610 Galaxy TabS6 Lite(WiFi) 10.4 吋平板電腦"},
  {itemName: '好感2',
  link: "https://www.etmall.com.tw/i/2706989",
  imgSrc: "~event/1st/e-main/components/slider-section-sweetPoint/items/sweet_pic2.png",
  alt: "SAMSUNG Galaxy M11 (3G/32G) 智慧手機"},
  {itemName: '好感3',
  link: "https://www.etmall.com.tw/i/2525366",
  imgSrc: "~event/1st/e-main/components/slider-section-sweetPoint/items/sweet_pic3.png",
  alt: "人因大錶面時尚運動心律智慧手錶超值組"},
  {itemName: '曖昧1',
  link: "https://www.etmall.com.tw/i/2704954",
  imgSrc: "~event/1st/e-main/components/slider-section-sweetPoint/items/sweet_pic4.png",
  alt: " AGE20s 最新款 瓷透肌聚焦爆水粉餅濃縮精華保濕組(保濕款粉餅1空殼2粉蕊14g*2+沛麗膚濃縮精華20ml)"},
  {itemName: '曖昧2',
  link: "https://www.etmall.com.tw/i/2451556",
  imgSrc: "~event/1st/e-main/components/slider-section-sweetPoint/items/sweet_pic5.png",
  alt: "ON THE BODY 韓國經典香水沐浴精2入組"},
  {itemName: '曖昧3',
  link: "https://www.etmall.com.tw/i/2672417",
  imgSrc: "~event/1st/e-main/components/slider-section-sweetPoint/items/sweet_pic6.png",
  alt: "FORTE台塑生醫奢寵金萃緊緻亮白雙效面膜3入(共15片)"},
  {itemName: '追求1',
  link: "https://www.etmall.com.tw/i/2701322",
  imgSrc: "~event/1st/e-main/components/slider-section-sweetPoint/items/sweet_pic7.png",
  alt: "★精品限量↘MONS冰絲輕柔涼感上衣(2款可選)M-2L"},
  {itemName: '追求2',
  link: "https://www.etmall.com.tw/i/2507768",
  imgSrc: "~event/1st/e-main/components/slider-section-sweetPoint/items/sweet_pic8.png",
  alt: "Karina 簡約舒適無鋼圈內衣 3件組"},
  {itemName: '追求3',
  link: "https://www.etmall.com.tw/i/2698479",
  imgSrc: "~event/1st/e-main/components/slider-section-sweetPoint/items/sweet_pic9.png",
  alt: "King Star 心連心18K金鑽石項鍊2選1 (單顆美鑽擁有20分視覺效果)"},
  {itemName: '磨合1',
  link: "https://www.etmall.com.tw/i/2559349",
  imgSrc: "~event/1st/e-main/components/slider-section-sweetPoint/items/sweet_pic10.png",
  alt: "【Lisscode】4.5公升大容量數位觸控健康氣炸鍋 - 夢幻鋼琴白 二年保固 (送 雙重好禮)"},
  {itemName: '磨合2',
  link: "https://www.etmall.com.tw/i/2522781",
  imgSrc: "~event/1st/e-main/components/slider-section-sweetPoint/items/sweet_pic11.png",
  alt: "德國百靈Oral-B-Genius10000 3D智慧追蹤電動牙刷(紫鳶尾)"},
  {itemName: '磨合3',
  link: "https://www.etmall.com.tw/i/2421710",
  imgSrc: "~event/1st/e-main/components/slider-section-sweetPoint/items/sweet_pic12.png",
  alt: "Dyson HD03桃(鐵架版) 送氣泡水機"},
  {itemName: '穩交1',
  link: "https://www.etmall.com.tw/i/2659393",
  imgSrc: "~event/1st/e-main/components/slider-section-sweetPoint/items/sweet_pic13.png",
  alt: "礁溪【長榮鳳凰酒店】平日高級/綠景湯屋+煙波亭雙人午茶券20TE~電子票券-票"},
  {itemName: '穩交2',
  link: "https://www.etmall.com.tw/i/2666663",
  imgSrc: "~event/1st/e-main/components/slider-section-sweetPoint/items/sweet_pic14.png",
  alt: "【清境依默騎馬渡假莊園】1泊1食獨棟木屋雙人平日"},
  {itemName: '穩交3',
  link: "https://www.etmall.com.tw/i/2698573",
  imgSrc: "~event/1st/e-main/components/slider-section-sweetPoint/items/sweet_pic15.png",
  alt: "花蓮 【理想大地渡假飯店】1泊2食蜜月套房雙人平日 (加碼二選一:下午茶OR活動四選二)"},
  {itemName: '熱戀1',
  link: "https://www.etmall.com.tw/i/2652977",
  imgSrc: "~event/1st/e-main/components/slider-section-sweetPoint/items/sweet_pic16.png",
  alt: "【漢克嚴選_買9送9】紐西蘭ps米其林星級雪花沙朗牛排100g共18片組(100g±10％/片)"},
  {itemName: '熱戀2',
  link: "https://www.etmall.com.tw/i/2630124",
  imgSrc: "~event/1st/e-main/components/slider-section-sweetPoint/items/sweet_pic17.png",
  alt: "【哈根達斯 冷凍宅配】夏日果戀迷你杯12入組100ml-網"},
  {itemName: '熱戀3',
  link: "https://www.etmall.com.tw/i/2193871",
  imgSrc: "~event/1st/e-main/components/slider-section-sweetPoint/items/sweet_pic18.png",
  alt: "黑松 黑松沙士245ml(24入)"},
  {itemName: '求婚1',
  link: "https://www.etmall.com.tw/i/2651709",
  imgSrc: "~event/1st/e-main/components/slider-section-sweetPoint/items/sweet_pic19.png",
  alt: "板橋【Mega 50】50樓Cafe自助餐廳-平日單人吃到飽午餐券20TE(假日可加價使用)"},
  {itemName: '求婚2',
  link: "https://www.etmall.com.tw/i/2578850",
  imgSrc: "~event/1st/e-main/components/slider-section-sweetPoint/items/sweet_pic20.png",
  alt: "艾拉菈 北歐插座LED燈房間三件組-雙人5尺 床墊+床頭+床底-網"},
  {itemName: '求婚3',
  link: "https://www.etmall.com.tw/i/2157380",
  imgSrc: "~event/1st/e-main/components/slider-section-sweetPoint/items/sweet_pic21.png",
  alt: "【obis】雙人5尺 Julia三線3M防潑水蜂巢獨立筒床墊[雙人5×6.2尺]-網"},
  {itemName: '偕老1',
  link: "https://www.etmall.com.tw/i/2700945",
  imgSrc: "~event/1st/e-main/components/slider-section-sweetPoint/items/sweet_pic22.png",
  alt: "狄鶯代言-輕井塑-6盒【30粒/盒】-網"},
  {itemName: '偕老2',
  link: "https://www.etmall.com.tw/i/2293208",
  imgSrc: "~event/1st/e-main/components/slider-section-sweetPoint/items/sweet_pic23.png",
  alt: "【醫院專櫃品牌 真食補】健康調養組-原味滴雞精7入+無薑鱸魚精8入(加量升級 70ml/入)"},
  {itemName: '偕老3',
  link: "https://www.etmall.com.tw/i/2304163",
  imgSrc: "~event/1st/e-main/components/slider-section-sweetPoint/items/sweet_pic24.png",
  alt: "白蘭氏保捷靈活關鍵有感組-網  買三盒白蘭氏保捷膠原錠送白蘭氏深海魚油蝦紅素30錠(d)-網"},
  ]

-
  var sweetPointDataU = [
  {link: "https://www.u-mall.com.tw/c1/45051", imgSrc: "~event/1st/u-main/components/event-w2m2/items/event-w2m2-img-1.png", alt: "開架保養"},
  {link: "https://www.u-mall.com.tw/np/73924", imgSrc: "~event/1st/u-main/components/event-w2m2/items/event-w2m2-img-2.png", alt: "關鍵保健"},
  {link: "notyet", imgSrc: "~event/1st/u-main/components/event-w2m2/items/event-w2m2-img-3.png", alt: "notyet"},
  {link: "https://www.u-mall.com.tw/XML/content/DMSetting/Final/202002/SP_1106075/w/index.html", imgSrc: "~event/1st/u-main/components/event-w2m2/items/event-w2m2-img-4.png", alt: "豪禮狂送"},
  ]

- var sweetPointData = isU? sweetPointDataU : sweetPointDataE


section.slider__sweet__point.m-bottom--lg(data-title="甜蜜指數")
  .sweet__point__wrap
    #sliderSpecialTop.swiper-container.gallery-top
      .swiper-wrapper
        .swiper-slide.slide-1
          img(src="~event/1st/e-main/components/slider-section-sweetPoint/items/sweet_but1.png")
        .swiper-slide.slide-2
          img(src="~event/1st/e-main/components/slider-section-sweetPoint/items/sweet_but2.png")
        .swiper-slide.slide-3
          img(src="~event/1st/e-main/components/slider-section-sweetPoint/items/sweet_but3.png")
        .swiper-slide.slide-4
          img(src="~event/1st/e-main/components/slider-section-sweetPoint/items/sweet_but4.png")
        .swiper-slide.slide-5
          img(src="~event/1st/e-main/components/slider-section-sweetPoint/items/sweet_but5.png")
        .swiper-slide.slide-6
          img(src="~event/1st/e-main/components/slider-section-sweetPoint/items/sweet_but6.png")
        .swiper-slide.slide-7
          img(src="~event/1st/e-main/components/slider-section-sweetPoint/items/sweet_but7.png")
        .swiper-slide.slide-8
          img(src="~event/1st/e-main/components/slider-section-sweetPoint/items/sweet_but8.png")
    #sweetPointSlider.sweet__slider__wrap.swiper-container
      ul.swiper-wrapper
        each data in sweetPointData
          li.swiper-slide
            a(href= data.link, title= data.alt)
              img(src= data.imgSrc, alt= data.alt)
              //span= data.alt
    //#sweetPointSliderPrev.swiper-button-white.swiper-button-prev
    //#sweetPointSliderNext.swiper-button-white.swiper-button-next