.promo__group--promo-event
  +pos-set(relative)

  .promo__wrap
    +aspect-ratio(960, 993)
  .promo__zone
    +pos-set(relative, zero)
    +bg-set(url(event/2nd/e-main/components/promo-event/bg-promo-event.png), 100%)
    .promo__block
      padding: 18% 4% 0
      li
        &:hover
          transform: translateY(-1%)
          filter: brightness(1.1)
      .promo__box
        display: flex
        justify-content: space-around
        li
          width: 48%
      .event__wrap
        margin-top: 5.5%
        .event__box
          display: flex
          justify-content: space-around
          flex-wrap: wrap
          li
            margin-bottom: 2%
            width: 31%
      .event__block
        display: flex
        .swiper-container
          width: 90%
          .swiper-slide
            padding: 0 2.4%
        >ul
          padding: 0 .5%
          width: 88%
          li
            width: 98%
      .slider__box
        margin-top: 5%


.animate
  // transition: 2s
  animation: heartBeat 1.2s both 1 linear

@keyframes heartBeat
  0%
    transform: scale(1)
  14%
    transform: scale(1.1)
    filter: brightness(120%)
  28%
    transform: scale(1)
    filter: brightness(120%)
  42%
    transform: scale(1.1)
    filter: brightness(120%)
  70%
    transform: scale(1)