section.promo__group.promo__group--top-bottom.m-bottom--md(data-title="集點加購")
  .layout--main
    a(href="https://www.etmall.com.tw/activity/collectpointexchange/20201026")
      .top-bottom__wrap
        .up__wrap(title="消費滿額即可集點")
          .title__wrap(title="雙11集點加價購")
            img(src="~event/1st/e-main/components/top-bottom-section/title-top-bottom.gif", alt="雙11集點加價購")
          img(src="~event/1st/e-main/components/top-bottom-section/bg-top.png", alt="消費滿額即可集點")
          .decoration--up.decoration--bottom
            img(src="~event/1st/e-main/components/top-bottom-section/decoration-top.png", alt="")
          .decoration--up.decoration--right(title="消費集點，換好禮購好物")
            img(src="~event/1st/e-main/components/top-bottom-section/decoration-right.png", alt="消費集點，換好禮購好物")
        .down__wrap
          #sliderTopBottom.promo__slider.item__wrap.swiper-container
            ul.swiper-wrapper
              li.swiper-slide
                img.swiper-lazy(data-src="~event/1st/e-main/components/top-bottom-section/items/point-1.png", alt="")
                .swiper-lazy-preloader.swiper-lazy-preloader-white
              li.swiper-slide
                img.swiper-lazy(data-src="~event/1st/e-main/components/top-bottom-section/items/point-2.png", alt="")
                .swiper-lazy-preloader.swiper-lazy-preloader-white
              li.swiper-slide
                img.swiper-lazy(data-src="~event/1st/e-main/components/top-bottom-section/items/point-3.png", alt="")
                .swiper-lazy-preloader.swiper-lazy-preloader-white
              li.swiper-slide
                img.swiper-lazy(data-src="~event/1st/e-main/components/top-bottom-section/items/point-4.png", alt="")
                .swiper-lazy-preloader.swiper-lazy-preloader-white
              li.swiper-slide
                img.swiper-lazy(data-src="~event/1st/e-main/components/top-bottom-section/items/point-5.png", alt="")
                .swiper-lazy-preloader.swiper-lazy-preloader-white
              li.swiper-slide
                img.swiper-lazy(data-src="~event/1st/e-main/components/top-bottom-section/items/point-6.png", alt="")
                .swiper-lazy-preloader.swiper-lazy-preloader-white
              li.swiper-slide
                img.swiper-lazy(data-src="~event/1st/e-main/components/top-bottom-section/items/point-7.png", alt="")
                .swiper-lazy-preloader.swiper-lazy-preloader-white
              li.swiper-slide
                img.swiper-lazy(data-src="~event/1st/e-main/components/top-bottom-section/items/point-8.png", alt="")
                .swiper-lazy-preloader.swiper-lazy-preloader-white
              li.swiper-slide
                img.swiper-lazy(data-src="~event/1st/e-main/components/top-bottom-section/items/point-9.png", alt="")
                .swiper-lazy-preloader.swiper-lazy-preloader-white