section.promo__group.promo__group--tab.js-add__bg(data-title="618一路發")
  .layout--main
    ul.tab__wrap
      li.tab__zone
        ul#tabBox.tab__box
          li.tab__item.tab-01(title="居家美食").active
            span.tab__item__price__init $
            span 618
            span.tab__item__price__init 以下
          li.tab__item.tab-02(title="流行服裝")
            span.tab__item__price__init $
            span 619
            span.tab__item__price__init -$
            span 6,180
          li.tab__item.tab-03(title="美妝保養")
            span.tab__item__price__init $
            span 6,181
            span.tab__item__price__init 以上

      li.content__zone
        ul#contentBlock.content__block.tabs__goods
          //li#getTabGoodsData.content__box.clearfix.active
          //li.content__box.clearfix.active
          //li.content__box.clearfix
          //li.content__box.clearfix
          //  .content__item
          //    a(href="https://www.etmall.com.tw/XML/content/DMSetting/Final/201912/SP_1114253/w/index.html", title="滿額抽舒潔1箱")
          //      img(src="https://media.etmall.com.tw/NXimg/002477/2477124/2477124-1_XXL.jpg?t=17632148356", alt="永豐_滿$20,000送$2,000刷卡金")
          //      p.tab__good__title 東森農場 產地直送系列 枋山鄉愛文芒果
          //      p.tab__good__price
          //        span.price__init $
          //        span 11,490

