//- TODO: 給別的component引入時不需要前兩行要切換
//- section.promo__group.promo__group--bn-special.m-bottom--md
//-   .layout--main
//- var bankLink = {etmall: "https://www.etmall.com.tw/XML/content/DMSetting/Final/201910/SP_1107838/w/index.html", umall: "https://www.u-mall.com.tw/XML/content/DMSetting/Final/201910/SP_1104317/w/index.html"}
//- var bankInfo = isU ? bankLink.umall : bankLink.etmall
.promo__slider.bn-special
  #sliderSpecial.swiper-container
    ul.swiper-wrapper
      li.swiper-slide
        a(href="https://www.etmall.com.tw/XML/content/DMSetting/Final/202011/SP_1116794/w/index.html", title="全家超取登記送中熱拿")
          img(src="~event/3rd/e-main/components/bn-special/items/promo-09-1.png", alt="全家超取登記送中熱拿")
      li.swiper-slide
        a(href="https://media.etmall.com.tw/SP/5971/m/index.html", title="嘉義優鮮最高折抵20%")
          img(src="~event/3rd/e-main/components/bn-special/items/promo-09-2.png", alt="嘉義優鮮最高折抵20%")
      li.swiper-slide
        a(href="https://www.etmall.com.tw/bs/147866", title="彰化好物購")
          img(src="~event/3rd/e-main/components/bn-special/items/promo-09-3.png", alt="彰化好物購")
      li.swiper-slide
        a(href="#note", title="單筆滿額送熊媽媽買菜金50元")
          img(src="~event/3rd/e-main/components/bn-special/items/promo-09-4.png", alt="單筆滿額送熊媽媽買菜金50元")

  #sliderSpecialPrev.swiper-button-white.swiper-button-prev
  #sliderSpecialNext.swiper-button-white.swiper-button-next