section.promo__group.promo__group--dynamic-slider.promo__group--dynamic-slider-4(data-title="爆品5折up")
  .layout--main
    //- .promo__title.block--center.text--center
    //-   img(src="~event/1st/e-main/components/dynamic-slider-2/title-dynamic-slider-2.png", alt="新品專區")

    .promo__wrap
      #sliderDynamic4.promo__slider.swiper-container
        .swiper-wrapper

      #sliderDynamic4Prev.swiper-button-white.swiper-button-prev.dynamic__nav.dynamic__nav--prev
      #sliderDynamic4Next.swiper-button-white.swiper-button-next.dynamic__nav.dynamic__nav--next
      //- #sliderDynamic2Pager.dynamic-slider-pager.swiper-pagination

//- data-dynamic-3.js在assets資料夾內、由index.pug外連過去