.hero__video
  video.video__box(autoplay loop muted playsinline poster="hero-video.png")
    source(src="hero-video.mov" type='video/mp4; codecs="hvc1"')
    source(src="hero-video.webm" type="video/webm")




//- <div class="phone w-embed"><video autoplay="" loop="" muted="" playsinline=""
//-     style="width:80vw;height:auto; position:absolute; bottom:0; right:0; left:auto; top:auto; z-index:100">
//-     <source src="./video/ET貓_畢業帽_01-test.mov" type="video/quicktime; codecs=&quot;hvc1&quot;">
//-     <source src="./video/ET貓_拿畢業帽_2D_test.webm" type="video/webm">
//-   </video></div>