section.promo__group.promo__group--tab-section(data-title="品牌大賞")
  .layout--main
    .decor__wrap.full-parent
      .decor__item.decor__item--title#decorTabTitle
        img(src="event/1st/e-main/components/tab-section/decor-tab-title.png", alt="")
      .decor__item.decor__item--left#decorTabLeft
        img(src="event/1st/e-main/components/tab-section/decor-tab-left.png", alt="")
    .promo__wrap
      .promo__zone 
        .tab__wrap
          .tab__zone
            ul#tabBox.tab__box
              li.tab__item.active(title="日立")
                img(src="event/1st/e-main/components/tab-section/tabs/tab-1.png", alt="日立")
              li.tab__item(title="小米")
                img(src="event/1st/e-main/components/tab-section/tabs/tab-2.png", alt="小米")
              li.tab__item(title="Naturehike")
                img(src="event/1st/e-main/components/tab-section/tabs/tab-3.png", alt="Naturehike")
              li.tab__item(title="象印")
                img(src="event/1st/e-main/components/tab-section/tabs/tab-4.png", alt="象印")
              li.tab__item(title="大研生醫")
                img(src="event/1st/e-main/components/tab-section/tabs/tab-5.png", alt="大研生醫")
              li.tab__item(title="ELASTINE伊絲婷")
                img(src="event/1st/e-main/components/tab-section/tabs/tab-6.png", alt="ELASTINE伊絲婷")
          .content__zone
            ul#tabContentBlock.content__block
              li.content__box.active
                .promo__item
                  .promo__box
                    img(src="event/1st/e-main/components/tab-section/items/tab-item-1-1.png" alt="日立")
                .tab__slider.swiper-container
                  ul.item__wrap.swiper-wrapper

              li.content__box
                .promo__item
                  .promo__box
                    img(src="event/1st/e-main/components/tab-section/items/tab-item-2-1.png" alt="小米")
                .tab__slider.swiper-container
                  ul.item__wrap.swiper-wrapper
              
              li.content__box
                .promo__item
                  .promo__box
                    img(src="event/1st/e-main/components/tab-section/items/tab-item-3-1.png" alt="Naturehike")
                .tab__slider.swiper-container
                  ul.item__wrap.swiper-wrapper
              
              li.content__box
                .promo__item
                  .promo__box
                    img(src="event/1st/e-main/components/tab-section/items/tab-item-4-1.png" alt="象印")
                .tab__slider.swiper-container
                  ul.item__wrap.swiper-wrapper

              li.content__box
                .promo__item
                  .promo__box
                    img(src="event/1st/e-main/components/tab-section/items/tab-item-5-1.png" alt="大研生醫")
                .tab__slider.swiper-container
                  ul.item__wrap.swiper-wrapper

              li.content__box
                .promo__item
                  .promo__box
                    img(src="event/1st/e-main/components/tab-section/items/tab-item-6-1.png" alt="ELASTINE伊絲婷")
                .tab__slider.swiper-container
                  ul.item__wrap.swiper-wrapper

//- 版型結構
//- .product.product--dynamic
//-   a(href="data.網址", title="data.商品名")
//-     .product__block
//-       .product__intro
//-         .intro__date
//-           span 5
//-           span /
//-           span 28
//-       .product__img
//-         img.swiper-lazy(alt="", src="https://media.etmall.com.tw/nximg/002834/2834592/2834592-1_xxl.jpg")
//-       .product__text
//-         .product__brand
//-         .product__name
//-           span data.商品名data.商品名data.商品名data.商品名data.商品名data.商品名data.商品名
//-         .product__price
//-           span $
//-           span 888,888
