// // ==========================================================================
// // Plugins
// // ==========================================================================
// // @import "vendors/animate"
@import "~vendors/style/swiper-slider-custom"

// // ==========================================================================
// // components
// // ==========================================================================

// hero section
// ===========================
@import "~event/1st/u-main/components/hero-section/_hero-section"
// @import "~event/1st/u-main/components/background-decoration/_background-decoration"

// other components
// ===========================
//- @import "~event/1st/u-main/components/hero-small-slider/_hero-small-slider"
@import "~event/1st/u-main/components/promo-event/_promo-event"
@import "~event/1st/u-main/components/bn-special/_bn-special"
// // ==========================================================================
// // Page
// // ==========================================================================
body
  +pos-set(relative, zero)
  background-color: $main-u-background-color-1st
  +breakpoint-min($min-width-xl)
    //background-image: url("~event/1st/u-main/pages/index/bg-line.jpg")
    background-repeat: repeat-y
    background-size: 2560px auto
    background-position: top center

.sp__wrap
  +pos-set(relative, base)
  +bg-set(url("~event/1st/u-main/pages/index/bg.jpg"), 100%)
  +breakpoint-min($min-width-xl)
    background: center top url("~event/1st/u-main/pages/index/bg-web.jpg") no-repeat
    background-size: 2560px 1753px
    overflow-x: hidden
    z-index: -1

.sp__wrap a
  display: block
