section.promo__group.promo__group--game.m-bottom--sm(data-title="拼圖遊戲")
  .layout--main
    #gameWrap.game__wrap
      #gameBlock.game__block
        #gameBox.game__box
          canvas#gamePuzzle
        .info__decor 
          img(src="event/1st/e-main/components/info-cover/info-decor.png")