section.promo__group.promo__group--game-w1m1.m-bottom--sm(data-title="戳戳樂")
  .layout--main
    .promo__wrap
      .promo__zone
        .event__wrap
          .promo__block.m-bottom--xs
            #gameW1M1Wrap.game__wrap--w1m1
              .wait__wrap
                img(src="event/1st/e-main/components/game-w1m1/game-animation-1.png", alt="")
              .win__wrap.full-parent
                img(src="event/1st/e-main/components/game-w1m1/game-animation-2.png", alt="")
              .lose__wrap.full-parent
                img(src="event/1st/e-main/components/game-w1m1/game-animation-3.png", alt="")
              #pressCountWrap.count__wrap
                #pressCountBox.count__box
                #pressCheckBox.check__box
          #gamePopupWrap.popup__wrap.full-parent
            .popup__overlay.full-parent
            .popup__block
              a(href="")
                img(src="event/1st/e-main/components/game-w1m1/items/popup-1.png", alt="")
              a(href="")
                img(src="event/1st/e-main/components/game-w1m1/items/popup-2.png", alt="")
              a(href="")
                img(src="event/1st/e-main/components/game-w1m1/items/popup-3.png", alt="")
              a(href="")
                img(src="event/1st/e-main/components/game-w1m1/items/popup-4.png", alt="")
              a(href="")
                img(src="event/1st/e-main/components/game-w1m1/items/popup-5.png", alt="")
              a(href="")
                img(src="event/1st/e-main/components/game-w1m1/items/popup-6.png", alt="")
              a(href="")
                img(src="event/1st/e-main/components/game-w1m1/items/popup-7.png", alt="")
              a(href="")
                img(src="event/1st/e-main/components/game-w1m1/items/popup-8.png", alt="")
