// ==========================================================================
// Management z-index setting -- 為了vscode渲染色正常所以用.scss
// ==========================================================================

// Common z-index setting
//   ========================================================================
$zindex: (
	9k-30: 9030,
	modal: 9000,
	overlay-2: 8002,
	overlay-1: 8001,
	overlay: 8000,
	dropdown: 7000,
	7k1 : 7001,
	7k: 7000,
	backTop: 6000,
	6k: 6000,
	5k: 5000,
	bnElems: 500,
	logo: 101,
	twenty: 20,
	nineteen: 19,
	eighteen: 18,
	seventeen: 17,
	sixteen: 16,
	fifteen: 15,
	fourteen: 14,
	thirteen: 13,
	twelve: 12,
	eleven: 11,
	ten: 10,
	ninth: 9,
	eighth: 8,
	seventh: 7,
	sixth: 6,
	title: 21,
	title__decoration: 10,
	shakeDecoration: 9,
	third_Incentive_a: 6,
	third_Incentive: 5,
	fifth: 5,
	fourth: 4,
	third: 3,
	second: 2,
	base: 1,
	zero: 0,
	under: -1
);