section.hero__wrap.m-bottom--md
  .hero__zone
    .layout--main
      .hero__block
        .hero__box
          //- 標題
          h1.hero__title.hero__title--main.block--center.wow(title="全民瘋搶節，天天超殺2折起")
            img#heroTitle(src="~event/2nd/e-main/components/hero-section/title.png", alt="全民瘋搶節，天天超殺2折起")

          include /event/2nd/e-main/components/daily-goods/_daily-goods-top

    .title-decoration__wrap
      .title__decoration.title__decoration--middle
          .decoration__pic.wow
            img#decorationHand(src="~event/2nd/e-main/components/hero-section/decoration-hand.png", alt="")
          .decoration__pic.wow
            img#decorationPaper(src="~event/2nd/e-main/components/hero-section/decoration-paper.png", alt="")

  .promo__zone
    .layout--main
      .promo__block
        //- 行銷誘因
        include /event/2nd/e-main/components/promo-event/_promo-event

        //- 商品輪播
          //- 副標
        //- .hero__small__zone
          //- include /event/2nd/e-main/components/hero-small-slider/_hero-small-slider

  //- include /event/2nd/e-main/components/background-decoration/_background-decoration.pug


