-
  var w3m3Data = [
    { // 1
      link: "https://www.etmall.com.tw/i/3474480",
      imgSrc: "event/1st/e-main/components/event-w3m3/items/depart-1.png",
      alt: "SONY WF-C500 真無線耳機"
    },
    { // 2
      link: "https://www.etmall.com.tw/i/2729595",
      imgSrc: "event/1st/e-main/components/event-w3m3/items/depart-2.png",
      alt: "鍋寶萬用電鍋"
    },
    { // 3
      link: "https://www.etmall.com.tw/i/4243689",
      imgSrc: "event/1st/e-main/components/event-w3m3/items/depart-3.png",
      alt: "DILEE印花斜背包"
    },
    { // 4
      link: "https://www.etmall.com.tw/i/2758790",
      imgSrc: "event/1st/e-main/components/event-w3m3/items/depart-4.png",
      alt: "超無感無鋼圈內衣"
    },
    { // 5
      link: "https://www.etmall.com.tw/i/3849664",
      imgSrc: "event/1st/e-main/components/event-w3m3/items/depart-5.png",
      alt: "仙氣濾鏡素顏霜"
    },
    { // 6
      link: "https://www.etmall.com.tw/gp/203959",
      imgSrc: "event/1st/e-main/components/event-w3m3/items/depart-6.png",
      alt: "安素草莓減甜口味"
    },
  ]

section.promo__group.promo__group--w3m3.m-bottom--lg(data-title="花漾好物")
  .layout--main
    .decor__wrap.full-parent
      .decor__item.decor__item--title
        img(src="event/1st/e-main/components/event-w3m3/title-event-w3m3.png", alt="")
      .decor__item.decor__item--left#decorEventW3M3Left
        img(src="event/1st/e-main/components/event-w3m3/decor-event-w3m3-left.png", alt="")
      .decor__item.decor__item--right#decorEventW3M3Right
        img(src="event/1st/e-main/components/event-w3m3/decor-event-w3m3-right.png", alt="")
      .decor__item.decor__item--item#decorEventW3M3Item
        img(src="event/1st/e-main/components/event-w3m3/decor-event-w3m3-item.png", alt="")
    .promo__wrap
      .promo__zone
        .promo__block
          #w3m3Wrap.event__wrap
            ul.good__wrap
              each data, index in w3m3Data
                li
                  a(href= data.link, title= data.alt)
                    - var hasImg = data.imgSrc ? true : false
                    if (hasImg)
                      img(src= data.imgSrc, alt= data.alt)

