section.promo__group.dynamic-slider-w3m3.m-bottom--lg(data-title="學長買給你")
  .layout--main
    .decor__wrap.full-parent
      .decor__item.decor__item--title
        img(src="event/1st/e-main/components/dynamic-slider-w3m3/title-dynamic-w3m3.png", alt="")
      .decor__item.decor__item--right1
        img(src="event/1st/e-main/components/dynamic-slider-w3m3/decor-dynamic-w3m3-right1.png", alt="")
      .decor__item.decor__item--right2
        img(src="event/1st/e-main/components/dynamic-slider-w3m3/decor-dynamic-w3m3-right2.png", alt="")
      .decor__item.decor__item--left1
        img(src="event/1st/e-main/components/dynamic-slider-w3m3/decor-dynamic-w3m3-left.png", alt="")
      .decor__item.decor__item--left2
        img(src="event/1st/e-main/components/dynamic-slider-w3m3/decor-dynamic-w3m3-left.png", alt="")
      .decor__item.decor__item--left3
        img(src="event/1st/e-main/components/dynamic-slider-w3m3/decor-dynamic-w3m3-left.png", alt="")
    .promo__wrap
      .promo__zone
        .promo__block.full-parent
          .promo__slider.swiper-container#DynamicSliderBlock2
            .swiper-wrapper