.step__wrap.m-bottom--xl
  .layout--main
    .step__block
      .decor__top
        img(src="event/1st/e-main/components/step/decor-step-top.png", alt="")
      .step__box.p-horizontal--lg
        .step__figure.p-horizontal--lg
          figure(title="活動步驟")
            img(src="event/1st/e-main/components/step/step.png", alt="活動步驟")
            img(src="event/1st/e-main/components/step/step-web.png", alt="活動步驟")

      .decor__bottom
        img(src="event/1st/e-main/pages/index/decor-section-bottom.png", alt="")


