doctype html
html(lang="zh-Han-TW")
  head
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    
  body    
    //- hero section
    //- ===========================
    main.sp__wrap
      include /layout/header/_header
      include /event/1st/e-main/components/hero/_hero
      include /event/1st/e-main/components/main-menu/_main-menu

    //- other components
    //- ===========================
    include /event/1st/e-main/components/mission/_mission
    include /event/1st/e-main/components/my-team/_my-team
    include /event/1st/e-main/components/note/_note
    include /event/1st/e-main/components/modal-template/_modal-intro




