//- 此處不外連，純粹放會自動產出的商品格式，供假檔測試使用
.product.product--dynamic
  a(href="data.網址", title="data.商品名")
    .product__block
      .product__img
        img.swiper-lazy(alt="", src="data.imgSrc")
      .product__text
        .product__name
          span data.商品名
        .product__price
          span $
          span data.price

