.decoration--top
  img#scrollRiddon(src="~event/1st/e-main/components/daily-change-2/scroll__ ribbon.png", alt="")
section#limitTimeWrap.promo__group.promo__group--daily-2
  img.decoration__alarm__clock(src="~event/1st/e-main/components/daily-change-2/decoration__alarm__clock.png", alt="")
  .layout--main
    //- .promo__title.block--center.text--center
      //- .title__text.daily__text
        //- span#dailyMonth 8
        //- span /
        //- span#dailyDate 26
      .title__text.daily__countdown
        span#dailyHour 00
        span :
        span#dailyMin 00
        span :
        span#dailySec 00
      //- img(src="~event/1st/e-main/components/daily-change/title-daily-change.png", alt="大牌倒數")

    .promo__wrap
      #limitTimeItemList.limit__time__item__wrap
        //img.new__year__bg(src="", alt="")
        ul
          div.limit__time__item.active
          div.limit__time__item
          div.limit__time__item
          div.limit__time__item
          div.limit__time__item
          div.limit__time__item
          div.limit__time__item
          div.limit__time__item
          div.limit__time__item
          div.limit__time__item
          div.limit__time__item
          div.limit__time__item
          div.limit__time__item
          div.limit__time__item
          div.limit__time__item
          div.limit__time__item
          div.limit__time__item
          div.limit__time__item
          div.limit__time__item
          div.limit__time__item
          div.limit__time__item


