section.promo__group.promo__group--card.m-bottom--sm
  .layout--main
    #cardWrap.card__wrap
      ul#cardBox.card__box
        li.card__item 
          .card__front
            a
              img

      .info__decor 
          img(src="event/1st/e-main/components/info-cover/info-decor.png")