
.goods__wrap
  .promo__slider
    #sliderGoods.swiper-container.title__decoration--move
      ul.swiper-wrapper
        li.swiper-slide
          img(src= "~event/3rd/e-main/components/hero-section/decoration-step-1.png")
        li.swiper-slide
          img(src= "~event/3rd/e-main/components/hero-section/decoration-step-2.png")
