-
  var promoSliderItem = [
    { // 1
      link: "https://www.etmall.com.tw/p/178841" ,
      imgSrc: "event/1st/e-main/components/promo-slider/item/p1.png",
      alt: "滿額贈7-11禮券",
    },
    { // 2
      link: "https://www.etmall.com.tw/p/158162" ,
      imgSrc: "event/1st/e-main/components/promo-slider/item/p2.png",
      alt: "未來褲四重送22折%",
    },
    { // 3
      link: "https://media.etmall.com.tw/sp/16651/m/index.html" ,
      imgSrc: "event/1st/e-main/components/promo-slider/item/p3.png",
      alt: "百貨週年慶1折起",
    },
    { // 4
      link: "https://www.etmall.com.tw/gp/185376" ,
      imgSrc: "event/1st/e-main/components/promo-slider/item/p4.png",
      alt: "指定商品送好禮",
    },
    { // 5
      link: "https://media.etmall.com.tw/sp/12348/m/index.html" ,
      imgSrc: "event/1st/e-main/components/promo-slider/item/p5.png",
      alt: "登錄送MyCard點數",
    },
    { // 6
      link: "https://media.etmall.com.tw/sp/10669/m/index.html" ,
      imgSrc: "event/1st/e-main/components/promo-slider/item/p6.png",
      alt: "指定品滿額送好禮!",
    },
  ]

section.promo__group.promo__group--promo-slider
  .layout--main
    .decor__wrap.full-parent
      .decor__item.decor__item--left
        img(src="event/1st/e-main/components/promo-slider/decor-promo-slider-left.png", alt="")
      .decor__item.decor__item--item
        img(src="event/1st/e-main/components/promo-slider/decor-promo-slider-item.png", alt="")
    .promo__wrap
      .promo__zone
        .promo__block
          .promo__slider.full-parent
            .swiper-container#promoSliderItem
              ul.swiper-wrapper
                each data in promoSliderItem
                  li.swiper-slide
                    a(href= data.link, title=data.alt)
                      img(src= data.imgSrc, alt=data.alt)