//- wow 用於開場動畫，掛入與呼叫必須儘早因此掛在最前面
//- script(src="https://cdnjs.cloudflare.com/ajax/libs/wow/1.1.2/wow.min.js")
//- script new WOW().init();

//- polyfill 一般共用
include /utils/pug/include/_polyfill-js.pug
//- General 一般共用
include /utils/pug/include/_general.pug

//- 電梯
//- =======================================
//- 一般單雙月電梯(自動切換)))
//- include /utils/pug/include/_elevator-link.pug

//- 對對碰電梯
//- script(src="https://www.etmall.com.tw/XML/content/DMSetting/Final/201911/SP_1114127/generateVersion20190619.js")

//- 分館SP電梯
//- script(src="https://www.etmall.com.tw/XML/content/DMSetting/Final/201910/SP_1114026/w/generateVersion20190619.js")
//- =======================================

//- 浮水印
//- include /utils/pug/include/_float-icon.pug
//- parallax cdn
//- include /utils/pug/include/_parallax-cdn-js.pug
//- 輪播cdn
//- include /utils/pug/include/_slider-cdn-js.pug