section.promo__group.promo__group--dynamic-section.promo__group--dynamic-slider.m-bottom--lg(data-title="新品專區")
  .layout--main
    #decoDynamicSlider.decoration__title
      .decoration--top.decoration__dynamic-slider.decoration__dynamic-slider
        img(src="event/1st/e-main/components/dynamic-slider/decor-dynamic-slider.png", alt="")
    .promo__wrap
      .promo__zone
        #sliderDynamic.promo__slider.swiper-container.block--center
          .swiper-wrapper
