.decoration--top.decoration--web.decoration--left
  #ballon.decoration--top.decoration__ballon
    .ballon__box
      img(src="decor-ballon.png", alt="")
  .decoration--top.decoration__slide
    img(src="event/1st/e-main/components/hero-section/decor-web/decor-slide-head.png", alt="")
    img(src="event/1st/e-main/components/hero-section/decor-web/decor-slide-body.png", alt="")
  .decoration--top.decoration__carousel
    img(src="event/1st/e-main/components/hero-section/decor-web/decor-carousel.png", alt="")
  .decoration--top.decoration__other
    img(src="event/1st/e-main/components/hero-section/decor-web/decor-other-left.png", alt="")
.decoration--top.decoration--web.decoration--right
  #plane.decoration--top.decoration__plane
    .plane__block
      .plane__box
        img(src="event/1st/e-main/components/hero-section/decor-web/decor-plane.png", alt="")
  .decoration--top.decoration__other
    img(src="event/1st/e-main/components/hero-section/decor-web/decor-other-right.png", alt="")