.decoration--web
  display: none
  +breakpoint-min($min-width-xxl)
    display: block
    height: 100%

.decoration--left
  left: calc( 50% - 980px)
  width: 673px
  .decoration__ballon
    top: -40px
    right: 24%
    .ballon__box
      transform-origin: 50% 20%
      animation: ballon-rotate 6s infinite alternate ease-in-out
  .decoration__slide
    right: 10%
    bottom: 85px
    img
      display: block
      &:last-child
        +pos-set(relative, under)
        margin-top: -165px
        margin-left: 4%
  .decoration__carousel
    bottom: 100px
    left: 0
  .decoration__other
    bottom: 20px
    right: 0

.decoration--right
  right: calc( 50% - 920px)
  width: 442px
  .decoration__plane
    top: 28px
    left: 10%
    .plane__block
      .js-loading &
        animation: plane-in 3s 1s both
    .plane__box
      animation: paper-plane-scoping 2s infinite alternate linear
      img
        animation: paper-plane-soaring 4s infinite linear
  .decoration__other
    bottom: 0
    left: 0

@keyframes plane-in
  0%
    transform: scale(0) translate(600px, -150px)
    opacity: 0
  60%
    opacity: 1
  100%
    transform: scale(1) translate(0, 0)
    opacity: 1

@keyframes paper-plane-scoping
  0%
    transform: translateY(0px)
  100%
    transform: translateY(30px)

@keyframes paper-plane-soaring
  0%, 100%
    transform: rotate(0deg)
  40%, 50%
    transform: rotate(15deg)
  60%, 70%
    transform: rotate(-10deg)

@keyframes ballon-rotate
  0%, 5%
    transform: rotate(0) translate(0, 0)
  95%, 100%
    transform: rotate(20deg) translate(-20px, -40px)