section.promo__group.promo__group--scratch.m-bottom--lg(data-title="任你刮")
  .layout--main
    .promo__wrap
      .promo__zone
        .promo__block.full-parent
          #scratchBottom.scratch__bottom.full-parent
            a.full-parent
              img
              .scratch__popup 複製完成！

          #canvasBox.canvas__box.full-parent
            canvas#scratchTop.scratch__canvas.full-parent


