section.promo__group.promo__dynamic-slider.m-bottom--sm(data-title="a3")
  .layout--main
    .promo__title.block--center
      img(src="~event/2nd/e-main/components/dynamic-slider/title-dynamic-slider.png", alt="")

    .promo__wrap
      #sliderDynamic.promo__slider.swiper-container
        .swiper-wrapper

      #sliderDynamicPager.dynamic-slider-pager.swiper-pagination

//- data-dynamic.js在assets資料夾內、由index.pug外連過去