// parallax css
// =================================
.decoration--background
  display: none
  +pos-set(absolute !important, zero, 0, 0)
  overflow: hidden
  pointer-events: none

  +breakpoint-min($min-width-xxl)
    display: block

.decoration__wrap
  width: 100%
  
.decoration__item
  top: 0
  margin-top: 4%
  img
    +pos-set(relative, zero)
    width: 100%
  &:first-child
    width: 1804px
  // &:nth-child(2)
  //   width: 2326px
  &:last-child
    // top: 260px
    width: 1788px