section.promo__group.promo__group--dynamic-slider-2.m-bottom--lg(data-title="超值折抵")
  .layout--main
    .decor__wrap.full-parent
      .decor__item.decor__item--title
        img(src="event/2nd/e-main/components/dynamic-slider-2/title-dynamic-slider-2.png", alt="")
      .decor__item.decor__item--left
        img(src="event/2nd/e-main/components/dynamic-slider-2/decor-dynamic-2-left.png", alt="")#decorDynamicSliderSecond
      .decor__item.decor__item--right
        img(src="event/2nd/e-main/components/dynamic-slider-2/decor-dynamic-2-right.png", alt="")#decorSliderSecond
    .promo__wrap
      .promo__zone
        .promo__block
          .promo__slider.full-parent
            .swiper-container#dynamicSlider2Section
              .swiper-wrapper
                //- .swiper-slide(aria-label="1 / 9") 11 
                //- .swiper-slide(aria-label="2 / 9") 21 
                //- .swiper-slide(aria-label="3 / 9") 31 
                //- .swiper-slide(aria-label="4 / 9") 41 
                //- .swiper-slide(aria-label="5 / 9") 51 
                //- .swiper-slide(aria-label="6 / 9") 61 
                //- .swiper-slide(aria-label="7 / 9") 71 
                //- .swiper-slide(aria-label="8 / 9") 81 
                //- .swiper-slide(aria-label="9 / 9") 91 
              //- span.swiper-notification(aria-live="assertive", aria-atomic="true")
              //- <span class="swiper-notification" aria-live="assertive" aria-atomic="true"></span>

        //- #sliderDynamic2Prev.swiper-button-white.swiper-button-prev.dynamic__nav.dynamic__nav--prev
        //- #sliderDynamic2Next.swiper-button-white.swiper-button-next.dynamic__nav.dynamic__nav--next
      //- #sliderDynamic2Pager.dynamic-slider-pager.swiper-pagination

//- data-dynamic-2.js在assets資料夾內、由index.pug外連過去