// tab layout
.promo__group--tab-section
  +pos-set(relative, zero)
  overflow: hidden
  .decor__item
    &--title
      +pos-set(absolute, second, 0%, 2%)
      width: 95%
      +breakpoint-min($min-width-xl)
        left: calc(50% - 430px)
      &.active
        animation: flash-tab 2s linear infinite
    &--left
      +pos-set(absolute, second, 2.3%, 7.5%)
      width: 20%
      &.active
        animation: flash-tab 2s linear infinite
      +breakpoint-min($min-width-xl)
        left: calc(50% - 380px)
    &--right
      +pos-set(absolute, base, 9%)
      right: 3%
      width: 10%
      +breakpoint-min($min-width-xl)
        top: 125px
        right: calc(50% - 430px)
    +breakpoint-min($min-width-xl)
      width: auto
  .promo__wrap
    +aspect-ratio(909, 1219)
    margin-top: 12%
    +breakpoint-min($min-width-xl)
      +aspect-ratio(909, 944)
      margin-top: 105px
    .promo__zone
      +bg-set(url("event/3rd/e-main/components/tab-section/bg-tab.png"), 100%)
      +breakpoint-min($min-width-xl)
        +bg-set(url("event/3rd/e-main/components/tab-section/bg-tab-web.png"), 100%)

      // margin-top: 28%

      .tab__wrap
        padding: 21.4% 0.5% 0
        +breakpoint-min($min-width-xl)
          padding-top: 208px
        .tab__box
          display: flex
          justify-content: space-between
          flex-wrap: wrap
          margin: 0 auto
          // width: 85%
          // margin-top: 44%
          .tab__item
            position: relative
            width: 22.9%
            margin-bottom: 3%
            +breakpoint-min($min-width-xl)
              margin-bottom: 2%
              img
                width: 100%
            &:nth-child(2)
              margin-left: -0.6%
            &--top
              position: absolute
              top: 0%
              left: 0%
              opacity: 0
              cursor: pointer
              +breakpoint-min($min-width-xl)
                width: 100%
            .active
              opacity: 1
        .content__zone
          // margin-top: -1%
          .content__block
            padding: 1.5% 0.5% 0
            +breakpoint-min($min-width-xl)
              padding: 1% 1% 0 1.5%
          .content__box
            display: none
            &.active
              display: block
            .tab__slider
              // width: 99%
              .swiper-wrapper
                flex-wrap: wrap
                // margin: 2% auto
                .swiper-slide
                  margin-bottom: 1.2%
                  .product.product--dynamic
                    margin-right: auto
                    margin-left: auto
                    width: 95%
                    .product__name
                      margin-bottom: 0px
                      // height: 4.4vw
                      // padding-top: 5%
                      padding-bottom: 5%
                      background-color: #fff
                      font-size: 3.2vw
                      +breakpoint-min($min-width-xl)
                        // padding-bottom: 0
                        font-size: 24px
                    .product__price
                      padding-bottom: 2%
                      padding-top: 1%
                      background-color: #fff
                      border-radius: 0 0 2vw 2vw
                      +breakpoint-min($min-width-xl)
                        border-radius: 0 0 20px 20px
                      span
                        &:last-child
                          font-size: 4.5vw
                          +breakpoint-min($min-width-xl)
                            font-size: 26px

@keyframes flash-tab
  0%, 23%, 32%, 100%
    opacity: 1
  20%, 28%
    opacity: .2