section.hero__wrap
  .layout--main
    .hero__zone
      #heroBlock.hero__block
        .hero__box(title="勸敗攻略，天天來天天有驚喜")
          img(src="~event/1st/e-main/components/hero-section/title.jpg", alt="勸敗攻略，天天來天天有驚喜")
