
.decoration--outer.decoration--everyDay
  .scroll__flower.everyDay__size
    img#dailyChange__deso-1(src="~event/1st/e-main/components/daily-change-2/everyday_scroll__flower-all.png", alt="")
section#limitTimeWrap.promo__group.promo__group--everyDay(data-title="天天開搶")
  .layout--main
    .promo__wrap
      #everyDayItemList.today__day__wrap
        //img.new__year__bg(src="", alt="")
        ul
          li.today__day__item.active
          li.today__day__item
          li.today__day__item
          li.today__day__item
          li.today__day__item
          li.today__day__item
          li.today__day__item
          li.today__day__item
          li.today__day__item
          li.today__day__item
          li.today__day__item
          li.today__day__item
          li.today__day__item
          li.today__day__item
          li.today__day__item
          li.today__day__item

    //- 隔天品(換圖)
    #sliderNextDailyTag.everyDay__next__date__tag.promo__slider.swiper-container.swiper-no-swiping
      ul.swiper-wrapper
        // date 起始日期
        li.tabs-slide.active--next__date
          span 4
          span 08
        li.tabs-slide
          span 4
          span 09
        li.tabs-slide
          span 4
          span 10
        li.tabs-slide
          span 4
          span 11
        li.tabs-slide
          span 4
          span 12
        li.tabs-slide
          span 4
          span 13
        li.tabs-slide
          span 4
          span 14
        li.tabs-slide
          span 4
          span 15
        li.tabs-slide
          span 4
          span 16
        li.tabs-slide
          span 4
          span 17
        li.tabs-slide
          span 4
          span 18
        li.tabs-slide
          span 4
          span 19
        li.tabs-slide
          span 4
          span 20
        li.tabs-slide
          span 4
          span 21
        li.tabs-slide
          span 4
          span 22
        li.tabs-slide
          span 4
          span 23
    .everyDay__next__day#dailyChange_next
      img(src="~event/1st/e-main/components/daily-change-2/items/everyday-next-1.png", alt="天天開搶")