section.promo__group.promo__group--bn-section-2.m-bottom--md(data-title="花神占卜")
  .layout--main
    .promo__wrap
      .decor__wrap#decorBnSectionSecond
        .promo__decor
          img(src="event/1st/e-main/components/bn-section-2/decor-bn-section-2.png", alt="")
      .promo__zone
        .promo__block
          .promo__box
            a(href="https://m.etmall.com.tw/Activity/Lottery/4948f7299bfe34ca6ea3da99328d1c56") 
              img(src="event/1st/e-main/components/bn-section-2/bn-section-2.png", alt="")
          //- .promo__box
          //-   a(href="https://m.etmall.com.tw/Activity/Lottery/4948f7299bfe34ca6ea3da99328d1c56") 
          //-     img(src="event/1st/e-main/components/bn-section-2/bn-section-2.png", alt="")
          //- .promo__box
          //-   a(href="https://m.etmall.com.tw/Activity/Lottery/4948f7299bfe34ca6ea3da99328d1c56") 
          //-     img(src="event/1st/e-main/components/bn-section-2/bn-section-2.png", alt="")

        //- #sliderMidMorePrev.swiper-button-white.swiper-button-prev.mid-more__nav.mid-more__nav--prev
        //- #sliderMidMoreNext.swiper-button-white.swiper-button-next.mid-more__nav.mid-more__nav--next
      //- #sliderMidMorePager.mid-more__pager.swiper-pagination