.promo__group--bn-section-2
  +pos-set(relative, zero)
  overflow: hidden
  .promo__wrap
    +aspect-ratio(948, 631)
    +bg-set(url("~event/1st/e-main/components/bn-section-2/bg-bn-section-2.png"), 100%)
    .promo__zone
      // .promo__decor
    .decor__wrap
      +pos-set(absolute, zero, 4%, 0%)
      width: 36%

    .promo__block
      // display: flex
      // justify-content: space-around
      padding: 27% 3% 0
      .promo__box
        // width: 30%
        cursor: pointer
        &:hover
          transition: all 0.6s ease
          transform: translateY(-1%)
          filter: brightness(1.2)

.shakeX
  animation: shakeX 1.5s both 1

@keyframes shakeX
  0%, 100%
    transform: translateY(0)
  25%
    transform: translateX(2%)
    filter: brightness(1.2)
  75%
    transform: translateX(-2%)
    filter: brightness(1.2)