section.hero__wrap
  .layout--main
    .hero__box
      h1.hero__title(title="誰能比我萌|汪汪喵喵寶貝集合囉！")
        img(src="~components/hero-section/title.jpg", alt="誰能比我萌|汪汪喵喵寶貝集合囉！")
      //- .cta__wrap
        //- pug會將外層include到最深層的下一個結構，因此利用此span引導其正確插入位置
        span

