//- 幸運瘋轉樂
section.promo__group.promo__group--game-2(data-title="幸運瘋轉樂")
  .layout--main
    a#game2ChangeHref.promo__wrap(href="")
      img(src="~event/2nd/e-main/components/event-game-2/event-game-2-title.png", alt="")
      img(src="~event/2nd/e-main/components/event-game-2/event-game-2-material-1.png", alt="")
      img(src="~event/2nd/e-main/components/event-game-2/event-game-2-material-2.png", alt="")
      img(src="~event/2nd/e-main/components/event-game-2/event-game-2-material-3.png", alt="")

