section.promo__group.promo__group--daily-time(data-title="限時瘋搶")
  .layout--main
    .decor__wrap
      .decor__item.decor__item--title#titleDailyTime
        img(src="event/1st/e-main/components/daily-time/title-daily-time.png" alt="")
      .decor__item.decor__item--left#decorDailyTimeLeft
        img(src="event/1st/e-main/components/daily-time/decor-daily-time-left.png" alt="")
      .decor__item.decor__item--right#decorDailyTimeRight
        img(src="event/1st/e-main/components/daily-time/decor-daily-time-right.png" alt="")
    .promo__wrap
      .promo__zone
        #dailyTime
          .product__wrap
