#animateWrapHt(style="left: 50%; ")
  .parallax__background
section.hero__wrap
  .hero__zone
    .layout--main
      #heroBlock.hero__block
        .hero__box
          //- 標題
          h1.hero__title.hero__title--main.block--center.wow(title="夏日購物季Lucky7")
            //-img#decorationHand(class="title__txt title__t2" src="~event/2nd/e-main/components/hero-section/title-t.png", alt="夏日購物季Lucky7")
            img(class="title__txt title__t2" src="~event/2nd/e-main/components/hero-section/title-t.png", alt="夏日購物季Lucky7")
            img#decorationPaper(class="title__txt" src="~event/2nd/e-main/components/hero-section/title-t2.png", alt="夏日購物季Lucky7")
            //-img.title__txt.title__txt--1(src="~event/2nd/e-main/components/hero-section/title.png")
  //-.title-decoration__wrap
  #parallaxBg.title__decoration.wow
    img.left-1(src="~event/2nd/e-main/components/hero-section/title__decoration--left.png", alt="")
    img.right-1(src="~event/2nd/e-main/components/hero-section/title__decoration--right.png", alt="")




  .promo__zone
    .layout--main
      .promo__block
        //- 行銷誘因
        include /event/2nd/e-main/components/promo-event/_promo-event


  //.promo__zone-branch
  //  .layout--main
  //    .promo__block
  //      //- 行銷誘因
  //      include /event/2nd/e-main/components/promo-event-branch/_promo-event-branch


        //- include /event/2nd/e-main/components/goods-slider-flip/_goods-slider-flip
        //include /event/2nd/e-main/components/goods-slider/_goods-slider

  //- include /event/2nd/e-main/components/background-decoration/_background-decoration.pug


