-
  var tabItemData2 = [
    [
      {
        link: "",
        imgSrc: "event/1st/e-main/components/tab-section-2/items/tab-item-2-1.png",
        alt: "集點加價購"
      },
      {
        link: "",
        imgSrc: "event/1st/e-main/components/tab-section-2/items/tab-item-2-2.png",
        alt: "集點加價購"
      },
      {
        link: "",
        imgSrc: "event/1st/e-main/components/tab-section-2/items/tab-item-2-3.png",
        alt: "集點加價購"
      },
      {
        link: "",
        imgSrc: "event/1st/e-main/components/tab-section-2/items/tab-item-2-4.png",
        alt: "集點加價購"
      },
      {
        link: "",
        imgSrc: "event/1st/e-main/components/tab-section-2/items/tab-item-2-5.png",
        alt: "集點加價購"
      },
      {
        link: "",
        imgSrc: "event/1st/e-main/components/tab-section-2/items/tab-item-2-6.png",
        alt: "集點加價購"
      },
      {
        link: "",
        imgSrc: "event/1st/e-main/components/tab-section-2/items/tab-item-2-7.png",
        alt: "集點加價購"
      },
      {
        link: "",
        imgSrc: "event/1st/e-main/components/tab-section-2/items/tab-item-2-8.png",
        alt: "集點加價購"
      },
      {
        link: "",
        imgSrc: "event/1st/e-main/components/tab-section-2/items/tab-item-2-9.png",
        alt: "集點加價購"
      },
      {
        link: "",
        imgSrc: "event/1st/e-main/components/tab-section-2/items/tab-item-2-10.png",
        alt: "集點加價購"
      },
      {
        link: "",
        imgSrc: "event/1st/e-main/components/tab-section-2/items/tab-item-2-11.png",
        alt: "集點加價購"
      },
      {
        link: "",
        imgSrc: "event/1st/e-main/components/tab-section-2/items/tab-item-2-12.png",
        alt: "集點加價購"
      },
    ],
    [
      {
        link: "",
        imgSrc: "event/1st/e-main/components/tab-section-2/items/tab-item-2-13.png",
        alt: "集點加價購"
      },
      {
        link: "",
        imgSrc: "event/1st/e-main/components/tab-section-2/items/tab-item-2-14.png",
        alt: "集點加價購"
      },
      {
        link: "",
        imgSrc: "event/1st/e-main/components/tab-section-2/items/tab-item-2-15.png",
        alt: "集點加價購"
      },
      {
        link: "",
        imgSrc: "event/1st/e-main/components/tab-section-2/items/tab-item-2-16.png",
        alt: "集點加價購"
      },
      {
        link: "",
        imgSrc: "event/1st/e-main/components/tab-section-2/items/tab-item-2-17.png",
        alt: "集點加價購"
      },
      {
        link: "",
        imgSrc: "event/1st/e-main/components/tab-section-2/items/tab-item-2-18.png",
        alt: "集點加價購"
      },
      {
        link: "",
        imgSrc: "event/1st/e-main/components/tab-section-2/items/tab-item-2-19.png",
        alt: "集點加價購"
      },
      {
        link: "",
        imgSrc: "event/1st/e-main/components/tab-section-2/items/tab-item-2-20.png",
        alt: "集點加價購"
      },
      {
        link: "",
        imgSrc: "event/1st/e-main/components/tab-section-2/items/tab-item-2-21.png",
        alt: "集點加價購"
      },
      {
        link: "",
        imgSrc: "event/1st/e-main/components/tab-section-2/items/tab-item-2-22.png",
        alt: "集點加價購"
      },
      {
        link: "",
        imgSrc: "event/1st/e-main/components/tab-section-2/items/tab-item-2-23.png",
        alt: "集點加價購"
      },
      {
        link: "",
        imgSrc: "event/1st/e-main/components/tab-section-2/items/tab-item-2-24.png",
        alt: "集點加價購"
      },
    ],
    [
      {
        link: "",
        imgSrc: "event/1st/e-main/components/tab-section-2/items/tab-item-2-25.png",
        alt: "集點加價購"
      },
      {
        link: "",
        imgSrc: "event/1st/e-main/components/tab-section-2/items/tab-item-2-26.png",
        alt: "集點加價購"
      },
      {
        link: "",
        imgSrc: "event/1st/e-main/components/tab-section-2/items/tab-item-2-27.png",
        alt: "集點加價購"
      },
      {
        link: "",
        imgSrc: "event/1st/e-main/components/tab-section-2/items/tab-item-2-28.png",
        alt: "集點加價購"
      },
      {
        link: "",
        imgSrc: "event/1st/e-main/components/tab-section-2/items/tab-item-2-29.png",
        alt: "集點加價購"
      },
      {
        link: "",
        imgSrc: "event/1st/e-main/components/tab-section-2/items/tab-item-2-30.png",
        alt: "集點加價購"
      },
      {
        link: "",
        imgSrc: "event/1st/e-main/components/tab-section-2/items/tab-item-2-31.png",
        alt: "集點加價購"
      },
      {
        link: "",
        imgSrc: "event/1st/e-main/components/tab-section-2/items/tab-item-2-32.png",
        alt: "集點加價購"
      },
      {
        link: "",
        imgSrc: "event/1st/e-main/components/tab-section-2/items/tab-item-2-33.png",
        alt: "集點加價購"
      },
      {
        link: "",
        imgSrc: "event/1st/e-main/components/tab-section-2/items/tab-item-2-34.png",
        alt: "集點加價購"
      },
      {
        link: "",
        imgSrc: "event/1st/e-main/components/tab-section-2/items/tab-item-2-35.png",
        alt: "集點加價購"
      },
      {
        link: "",
        imgSrc: "event/1st/e-main/components/tab-section-2/items/tab-item-2-36.png",
        alt: "集點加價購"
      },
    ],
    [
      {
        link: "",
        imgSrc: "event/1st/e-main/components/tab-section-2/items/tab-item-2-37.png",
        alt: "集點加價購"
      },
      {
        link: "",
        imgSrc: "event/1st/e-main/components/tab-section-2/items/tab-item-2-38.png",
        alt: "集點加價購"
      },
      {
        link: "",
        imgSrc: "event/1st/e-main/components/tab-section-2/items/tab-item-2-39.png",
        alt: "集點加價購"
      },
      {
        link: "",
        imgSrc: "event/1st/e-main/components/tab-section-2/items/tab-item-2-40.png",
        alt: "集點加價購"
      },
      {
        link: "",
        imgSrc: "event/1st/e-main/components/tab-section-2/items/tab-item-2-41.png",
        alt: "集點加價購"
      },
      {
        link: "",
        imgSrc: "event/1st/e-main/components/tab-section-2/items/tab-item-2-42.png",
        alt: "集點加價購"
      },
      {
        link: "",
        imgSrc: "event/1st/e-main/components/tab-section-2/items/tab-item-2-43.png",
        alt: "集點加價購"
      },
      {
        link: "",
        imgSrc: "event/1st/e-main/components/tab-section-2/items/tab-item-2-44.png",
        alt: "集點加價購"
      },
      {
        link: "",
        imgSrc: "event/1st/e-main/components/tab-section-2/items/tab-item-2-45.png",
        alt: "集點加價購"
      },
      {
        link: "",
        imgSrc: "event/1st/e-main/components/tab-section-2/items/tab-item-2-46.png",
        alt: "集點加價購"
      },
      {
        link: "",
        imgSrc: "event/1st/e-main/components/tab-section-2/items/tab-item-2-47.png",
        alt: "集點加價購"
      },
      {
        link: "",
        imgSrc: "event/1st/e-main/components/tab-section-2/items/tab-item-2-48.png",
        alt: "集點加價購"
      },
    ]
  ]

section.promo__group.promo__group--tab-section-2.m-bottom--sm(data-title="妳是哪一派?")#tabSectionDate2
  .layout--main
    .promo__wrap
      .promo__zone
        ul.tab__wrap
          li.tab__zone
            ul#tabBox2.tab__box
              li.tab__item(title="")
                img(src="event/1st/e-main/components/tab-section-2/items/tab/tab2-1-2.png", alt="")
                .tab__item--top
                  img(src="event/1st/e-main/components/tab-section-2/items/tab/tab2-1.png", alt="")
              li.tab__item(title="")
                img(src="event/1st/e-main/components/tab-section-2/items/tab/tab2-2-2.png", alt="")
                .tab__item--top
                  img(src="event/1st/e-main/components/tab-section-2/items/tab/tab2-2.png", alt="")
              li.tab__item(title="")
                img(src="event/1st/e-main/components/tab-section-2/items/tab/tab2-3-2.png", alt="")
                .tab__item--top
                  img(src="event/1st/e-main/components/tab-section-2/items/tab/tab2-3.png", alt="")
              li.tab__item(title="")
                img(src="event/1st/e-main/components/tab-section-2/items/tab/tab2-4-2.png", alt="")
                .tab__item--top
                  img(src="event/1st/e-main/components/tab-section-2/items/tab/tab2-4.png", alt="")
            li.content__zone
              ul.content__block#tabContentBlock2
                .content__wrap
                  li.content__box.swiper-slide.active(data-start="2023/06/18 00:00:00" data-end="2023/06/18 10:00:00")
                    .content__overlay
                    each data, index in tabItemData2[0]
                      a(href=data.link, title=data.alt)
                        img(src=data.imgSrc, alt="")

                  li.content__box.swiper-slide(data-start="2023/06/18 10:00:00" data-end="2023/06/18 15:00:00")
                    .content__overlay
                    each data, index in tabItemData2[1]
                      a(href= data.link, title= data.alt)
                        img(src= data.imgSrc, alt="")

                  li.content__box.swiper-slide(data-start="2023/06/18 15:00:00" data-end="2023/06/18 22:00:00")
                    .content__overlay
                    each data, index in tabItemData2[2]
                      a(href= data.link, title= data.alt)
                        img(src= data.imgSrc, alt="")

                  li.content__box.swiper-slide(data-start="2023/06/18 22:00:00" data-end="2023/06/19 10:00:00")
                    .content__overlay
                    each data, index in tabItemData2[3]
                      a(href= data.link, title= data.alt)
                        img(src= data.imgSrc, alt="")