section.promo__group.promo__group--w1m1.m-bottom--md(data-title="良辰吉日")
  .layout--main
    .promo__wrap
      .promo__zone
        img(src="event/1st/e-main/components/event-w1m1/items/item-w1m1-1.png", alt="良辰吉日")

