.promo__group--bn
  +pos-set(relative, zero)
  overflow: hidden

  .decor-item
    width: 30%
    +breakpoint-min($min-width-xl)
      width: auto
    &:first-child
      +pos-set(absolute, base, 8%, 0%)
      &.active
        animation: key-wind-rotate 8s linear infinite both
      +breakpoint-min($min-width-xl)
        left: calc(50% - 510px)
    &:last-child
      +pos-set(absolute, base, 8%)
      right: 0%
      &.active
        animation: key-wind-rotate 8s 2s linear infinite both
      +breakpoint-min($min-width-xl)
        right: calc(50% - 490px)
  .promo__wrap
    +aspect-ratio(949, 1009)
    margin-top: 2%
      // animation: rotate-reverse 12s linear infinite
    .promo__zone
      // +pos-set(relative, zero)
      +bg-set(url(event/1st/e-main/components/bn-slider/bg-bn-slider.png), 100%)
      .promo__slide
        margin-top: 32%
        padding: 0% 3%
        .promo__box
          +pos-set(absolute, base, 30%, 4%)
          width: 92%
        .swiper-container
          padding-top: 40%


+key-wind-rotate(-2, 2)