section.promo__group.dynamic-slider.m-bottom--sm(data-title="大牌迎新年")
  .layout--main
    .decor__wrap.full-parent
      .decor__item.decor__item--title
        img(src="event/2nd/e-main/components/dynamic-slider/title-dynamic-slider.png", alt="")
      .decor__item.decor__item--left#decorDynamicLeft
        img(src="event/2nd/e-main/components/dynamic-slider/decor-dynamic-slider-left.png", alt="")
      .decor__item.decor__item--right#decorDynamicRight
        img(src="event/2nd/e-main/components/dynamic-slider/decor-dynamic-slider-right.png", alt="")
      .decor__item.decor__item--bottom#decorDynamicBottom
        img(src="event/2nd/e-main/components/dynamic-slider/decor-dynamic-slider-bottom.png", alt="")
    .promo__wrap
      .promo__zone
        .promo__block
          .promo__slider.swiper-container#DynamicSliderBlock
            .swiper-wrapper