section.hero__wrap
  .layout--main
    .hero__zone
      #heroSliderMain.hero__slider.hero__slider--main.swiper-container
        ul.swiper-wrapper
          //- 資料切換到data去，此處只留結構當範例
          //- li.swiper-slide
          //-   a(href="https://www.etmall.com.tw", title="超值活動")
          //-     .slide-item__wrap
          //-       .slide-item__box
          //-         img(src="~components/hero-slider-main/img/hero-item-1.png", alt="超值活動")
          //-       .slide-item__info
          //-         h2.info__title
          //-           div 手機 平板商品
          //-           div 全面下殺86折起手機 平板商品全面下殺86折起
          //-         .info__sub-title Apple iPad mini 2019 256G Apple iPad mini 2019 256G
          //-         .info__price
          //-           span $
          //-           span 17,990
          //-         .btn.btn--info 了解更多＞
      #heroSliderMainPrev.hero__slider--prev.swiper-button-white.swiper-button-prev
      #heroSliderMainNext.hero__slider--next.swiper-button-white.swiper-button-next
      #heroSliderMainPager.hero__slider--pager.swiper-pagination
