.bn-section-2
  overflow: hidden
  .decor__wrap
    padding-top: 4%
    +breakpoint-min($min-width-xl)
      padding-top: 0

  .decor__item
    transition: transform .3s
    will-change: transform
    pointer-events: none
    &--title
      +pos-set(absolute, second, 4%, 18%)
      width: 64%
      // opacity: 0
      // &.active
      //   animation: bounceInUp .5s linear 1 forwards
      +breakpoint-min($min-width-xl)
        top: 30px
        left: calc( 50% - 303px )
    &--left
      +pos-set(absolute, base, 5%, 6.5%)
      width: 20%
      +breakpoint-min($min-width-xl)
        top: 46px
        left: calc(50% - 418px)
    &--right
      +pos-set(absolute, base, 2%)
      right: 7%
      width: 18%
      +breakpoint-min($min-width-xl)
        top: 0
        right: calc(50% - 402px)
    &--1
      +pos-set(absolute, base)
      bottom: 19%
      right: 44%
      width: 12%
      +breakpoint-min($min-width-xl)
        bottom: 20%
        right: calc(50% - 60px)
    +breakpoint-min($min-width-xl)
      width: auto
  .promo__wrap
    +bg-set(url(event/1st/e-main/components/bn-section-2/bg-bn-2.png), 100%, center, center)

  .promo__zone
    +aspect-ratio(960, 860)
  .promo__box
    +pos-set(absolute, zero, 22%)
    +padding-x(7%)
    text-align: center
    cursor: pointer
    +breakpoint-min($min-width-xl)
      left: calc(50% - 414px)
      +padding-x(0)
    &:hover
      transition: all 0.6s ease
      transform: translateY(-1%)
      filter: contrast(1.2)

@keyframes bounceInUp
  0%, 60%, 75%, 90%, to
    animation-timing-function: cubic-bezier(.215, .61, .355, 1)
  0%
    opacity: 0
    transform: translate3d(0, 300px, 0) scaleY(1)
  60%
    opacity: 1
    transform: translate3d(0, -20px, 0) scaleY(.9)
  75%
    transform: translate3d(0, 10px, 0) scaleY(.95)
  90%
    transform: translate3d(0, -5px, 0) scaleY(.985)
  to
    transform: translateZ(0)
    opacity: 1