// 因版型和1一樣所以共用
.promo__group--dynamic-slider
  &.slider__style2
    .promo__wrap
      +bg-set(url("~event/1st/e-main/components/dynamic-slider-2/bg-dynamic-slider-2.jpg"), 100%)
    li
      +bg-set(url("~event/1st/e-main/components/dynamic-slider-2/bg-slider_2_pt.png"), 100%)

.dynamic-slider-pager
  &.pager__style2
    .swiper-pagination-bullet-active
      background-color: #c87ff1
      opacity: 1

#sliderDynamicPrev_2.swiper-button-prev,
#sliderDynamicNext_2.swiper-button-next
  width: 5vw
  height: 6vw
  margin-top: 1.4vw
  opacity: 0
  &::after
    font-size: 3vw
  +breakpoint-min($min-width-xl)
    width: 48px
    height: 58px
    margin-top: 15px
    &::after
      font-size: 29px

#sliderDynamicPrev_2.swiper-button-prev
  left: .9vw
  +breakpoint-min($min-width-xl)
    left: 9px
#sliderDynamicNext_2.swiper-button-next
  right: .9vw
  +breakpoint-min($min-width-xl)
    right: 9px