section.promo__group.promo__group--dynamic-slider.m-bottom--sm.promo__group--dynamic-slider.slider__style2(data-title="千元有找")
  .layout--main
    //- .promo__title.block--center.text--center
    //-   img(src="~event/2nd/e-main/components/dynamic-slider-3/title-dynamic-slider-3.png", alt="你會喜歡")

    .promo__wrap
      #sliderDynamic_2.promo__slider.swiper-container
        .swiper-wrapper

      #sliderDynamicPager_2.pager__style2.dynamic-slider-pager.swiper-pagination
      #sliderDynamicPrev_2.swiper-button-white.swiper-button-prev
      #sliderDynamicNext_2.swiper-button-white.swiper-button-next

//- data-dynamic-3.js在assets資料夾內、由index.pug外連過去