.daily__goods
  #goodsHero.goods--hero
    a(href="https://www.etmall.com.tw/i/2595300", title="【東風】3層抽取式衛生紙(100抽x12包x5串)")
      img(src="~event/2nd/e-main/components/daily-goods/hero-items/product-1.png", alt="【東風】3層抽取式衛生紙(100抽x12包x5串)")