.daily__goods
  #goodsPromo.goods--promo
    .goods__item
      a(href="https://www.etmall.com.tw/i/2535040", title="【SK-II】青春露230ml")
        .info__wrap
          .item__info
            .item__name 【SK-II】青春露230ml
            .item__price
              span $
              span.price--pre 3,XXX
            .item__date
              span.date--pre 5/12
              span.date--post 開搶
          .item__pic
            img(src="~event/2nd/e-main/components/daily-goods/items/product-2.png", alt="【SK-II】青春露230ml")
    .goods__item
      a(href="https://www.etmall.com.tw/i/2291145", title="【日本味王】高濃度金盞花葉黃素晶亮膠囊(30粒/盒)x7盒+(7粒/盒)")
        .info__wrap
          .item__info
            .item__name 【日本味王】高濃度金盞花葉黃素晶亮膠囊(30粒/盒)x7盒+(7粒/盒)
            .item__price
              span $
              span.price--pre 3,XXX
            .item__date
              span.date--pre 5/13
              span.date--post 開搶
          .item__pic
            img(src="~event/2nd/e-main/components/daily-goods/items/product-3.png", alt="【日本味王】高濃度金盞花葉黃素晶亮膠囊(30粒/盒)x7盒+(7粒/盒)")
