- var bankLink = {etmall: "https://www.etmall.com.tw/XML/content/DMSetting/Final/201911/SP_1107839/w/index.html", umall: "https://www.u-mall.com.tw/XML/content/DMSetting/Final/201909/SP_1104316/w/index.html"}
- var bankInfo = isU ? bankLink.umall : bankLink.etmall

.promo__slider.hero__slider.wow
  #sliderSmall.swiper-container
    ul.swiper-wrapper
      li.swiper-slide
        h2.hero__title.hero__title--sub.block--center
          a(id="heroPromoLink" href="https://www.etmall.com.tw/Activity/CouponPage/50", title="點這裡瘋搶折價券！")
            img(src="~event/1st/e-main/components/hero-small-slider/items/sub-title-1.png", alt="點這裡瘋搶折價券！")
      //li.swiper-slide
      //  h2.hero__title.hero__title--sub.block--center
      //    a(href="#note", title="結帳抽東京來回機票！")
      //      img(src="~event/1st/e-main/components/hero-small-slider/items/sub-title-2.png", alt="結帳抽東京來回機票！")

