//- 打開u-mall選項會自動轉換成U的logo和連結(預設etmall)
//- - var isU = true

main#spWrap.sp__wrap.sp__wrap--e
  include /layout/header/_header

  //- hero section
  //- ===========================
  include /event/1st/e-sp/components/hero-section/_hero-section
  include /event/1st/e-sp/components/background-decoration/_background-decoration

  //- other components
  //- ===========================
  include /event/1st/e-sp/components/scroll-x-section/_scroll-x-section

//- script區
include /utils/pug/_total-script

