//- TODO: 注意為了主標preload，在head內有準備好兩種方法，為了減少修改，統一把主標命名為「title.png」
section.hero__wrap.m-bottom--sm
  .hero__zone
    .layout--main
      .hero__block
        .hero__box
          .decoration__box
            .decoration--top.decoration--hero
              img(src="event/1st/u-main/components/hero-section/decor-hero-1.png", alt="")
            .decoration--top.decoration--hero
              img.img-reverse-x(src="event/1st/u-main/components/hero-section/decor-hero-1.png", alt="")

          .hero__title.hero__title--main.block-center(title="99購物慶典")
            //- 標題
            h1
              .decoration--title.block-center
                img(src="event/1st/u-main/components/hero-section/title-1.png", alt="")
              .title__box
                img(src="event/1st/u-main/components/hero-section/title.png", alt="99購物慶典")

          .decoration--top.decoration__box
            .decoration--hero
              img(src="event/1st/u-main/components/hero-section/decor-hero-2.png", alt="")
            .decoration--top.decoration--hero
              img(src="event/1st/u-main/components/hero-section/decor-hero-3.png", alt="")
          .decoration--top.decoration__box(style="opacity: 0")
            .decoration--hero
              img(src="event/1st/u-main/components/hero-section/decor-hero-4.png", alt="")


//-   //- TODO: 如果hero和promo要共用主視覺時這樣放
//-   //- .promo__zone
//-     //- .layout--main
//-       //- .promo__block
//-         //- 行銷誘因
//-         //- include /event/1st/u-main/components/promo-event/_promo-event

//-         //- 商品輪播
//-           //- 副標
//-         //- .hero__small__zone
//-           //- include /event/1st/u-main/components/hero-small-slider/_hero-small-slider
