// // ==========================================================================
// // main
// // ==========================================================================
.hero__wrap
  +pos-set(relative, second)
  overflow: hidden

  .hero__zone
    +pos-set(relative, zero)

  .hero__block
  //+bg-set(url("~event/3rd/e-main/components/hero-section/bg-hero.jpg"), cover)

  .hero__box
    +pos-set(relative, zero)

  .hero__title
    &--main
      +pos-set(relative, zero)
      padding-top: 2%
      padding-bottom: 2.1%
      padding-left: 0
      text-align: center
      margin-left: auto
      margin-right: auto
      width: 92%
      overflow: hidden
      //animation: 10s 6s up-down-2 infinite
      animation: title-down 1s 1s both ease-out, 10s 6s up-down-2 infinite
      //&.animated
      //  animation: title-down 1s 1s both ease-out, 10s 6s up-down-2 infinite
      .title__txt
        position: absolute
      .title__txt--1
        top: 17vw
        left: 4vw
        width: 20%
        animation: 6s 1s key-rotate-stop both infinite ease-in-out
      .title__txt--2
        top: 21vw
        left: 24.5vw
        width: 13.5%
        animation: 6s 1.5s key-rotate-stop both infinite ease-in-out
      .title__txt--3
        top: 19.8vw
        left: 41.5vw
        width: 13.5%
        animation: 6s 2s key-rotate-stop both infinite ease-in-out
      .title__txt--4
        top: 20.3vw
        left: 58.2vw
        width: 11%
        animation: 6s 2.5s key-rotate-stop both infinite ease-in-out
      .title__txt--5
        top: 15vw
        left: 70vw
        width: 21%
        animation: 6s 3s key-rotate-stop both infinite ease-in-out
      +breakpoint-min($min-width-xl)
        width: auto
        padding-top: 2%
        padding-bottom: 0
        padding-left: 0
        padding-right: 0
        .title__txt--1
          top: 149px
          left: 105px
          width: auto
        .title__txt--2
          top: 189px
          left: 290px
          width: auto
        .title__txt--3
          top: 177px
          left: 440px
          width: auto
        .title__txt--4
          top: 184px
          left: 593px
          width: auto
        .title__txt--5
          top: 141px
          left: 699px
          width: auto

  .title-decoration__wrap
    +pos-set(relative, zero, -8vw, 2%)
    width: 96%
    height: 100%
    pointer-events: none
    .title__decoration
      +pos-set(relative, zero)
      &--top
        top: 4%
        left: 50%
        transform: translateX(-50%)
        //width: 23.5%
        //&.animated
        //  animation: 1s 1s title-down both ease-out
        //img
        //  animation: 2s 2s key-rotate-stop both infinite ease-in-out
        .decoration--flower
          +pos-set(absolute, under)
          width: 92%
          top: 25%
          left: 4%
          transform: translateX(0)
          animation: 1s 1s up-appear-skew both ease-in-out
        .decoration--momGroup
          +pos-set(relative)
          width: 92%
          top: -7%
          left: 7%
          transform: translateX(0)
          animation: 2s 2s up-appear both ease-in-out
        +breakpoint-min($min-width-xl)
          top: 26px
          left: calc(50% - 24px)
          width: auto

    +breakpoint-min($min-width-xl)
      +pos-set(relative, zero, -82px, 2%)

  .promo__zone
    margin-top: -48%
    position: relative
    //background-color: $gray-deep-light
    +breakpoint-min($min-width-xl)
      margin-top: -442px
      background-color: transparent
  .promo__zone-branch
    margin-top: 4%
    position: relative
    +breakpoint-min($min-width-xl)
      margin-top: 30px
      background-color: transparent

.parallax__background
  +breakpoint-min($min-width-xl)
    +pos-set(absolute, under)
    +bg-set(url("~event/3rd/e-main/components/hero-section/decoration-goods.png"), 100% auto)
    width: 2227px
    height: 868px
    // transform: translateY(-10%)
    animation: 1s 2s behind-appear both
    pointer-events: none
    will-change: scroll-position
    top: 81px
    left: 50%
    transform: translateX(-50%)
    background-position: center
    transform-origin: center center

@keyframes title-down
  0%
    transform: translateY(calc(-100vw * .5))
  70%, 80%
    transform: translateY(0) scale(1.2)
  75%, 100%
    transform: translateY(0) scale(1)

@keyframes key-rotate-stop
  0%
    transform: rotate(0)
  1%
    transform: scale(1.1) rotate(-20deg)
    filter: brightness(3)
  2%
    transform: scale(1) rotate(0)
    filter: brightness(1)
  3%
    transform: scale(1.1) rotate(20deg)
    filter: brightness(3)
  4%
    transform: scale(1) rotate(0)
    filter: brightness(1)
  10%
    transform: rotate(0)

@keyframes up-down-2
  0%, 8%, 10%, 12%, 100%
    transform: translateY(0)
  9%, 11%
    transform: translateY(-6%)

@keyframes up-down
  0%, 8%, 12%, 16%, 74%, 78%, 82%, 100%
    transform: scale(1) translateY(0)
  10%, 14%, 76%, 80%
    transform: scale(1.1) translateY(-6%)

@keyframes up-appear
  0%
    transform: translateX(0) translateY(40vw)
    opacity: 0
  1%
    transform: translateX(0) translateY(40vw)
    opacity: 1
  80%, 90%
    transform: translateX(0) translateY(0)
    opacity: 1
  85%, 95%
    transform: translateX(0) translateY(0)
    opacity: 1
  75%, 82.5%, 92.5%, 87.5%, 97.5%, 100%
    transform: translateX(0) translateY(0)
    opacity: 1

@keyframes up-appear-skew
  0%
    transform: translateX(0) translateY(30vw)
    opacity: 0
  1%
    opacity: 1
  80%, 90%
    transform: translateX(0) translateY(0) skew(-5deg, -5deg)
    opacity: 1
  85%, 95%
    transform: translateX(0) translateY(0) skew(5deg, 5deg)
    opacity: 1
  75%, 82.5%, 92.5%, 87.5%, 97.5%, 100%
    transform: translateX(0) translateY(0) skew(0)
    opacity: 1

@keyframes behind-appear
  0%
    opacity: 1
    left: 50%
    transform: translateX(-50%) scale(0)
  100%
    opacity: 1
    //transform-origin: center center
    left: 50%
    transform: translateX(-50%) scale(1)