.promo__group--w2m2
  .promo__wrap
    +bg-set(url("~~event/1st/e-main/components/event-w2m2/bg-event-w2m2.jpg"), 96% auto)
    padding: 8.5% 6% 6% 6%
    .good__wrap
      display: flex
      width: 94%
      li
        padding: 1% 1.5%
        a
          transition: transform 0.5s
        &:hover
          a
            filter: brightness(120%)

    .swiper-button-prev,.swiper-button-next
      width: 4.1vw
      height: 6vw
      top: 12vw
      margin-top: 0
      background-size: 4.1vw 6vw
      opacity: 0
    .swiper-button-prev
      left: 5vw
    .swiper-button-next
      right: 5vw
  +breakpoint-min($min-width-xl)
    .promo__wrap
      width: 100%
      max-width: 960px
      margin: 0 auto
      height: 250px
      padding: 90px 4% 25px
      .good__wrap
        //width: auto
      .swiper-button-prev,.swiper-button-next
        width: 39px
        height: 58px
        top: 117px
        background-size: auto
      .swiper-button-prev
        left: calc(50% - 432px)
      .swiper-button-next
        right: calc(50% - 432px)