- 
  var midBigDataE = [
    {
      link: 2798354,
      imgSrc: "~event/2nd/e-main/components/mid-big-slider/items/mid-big-1.png",
      alt: "【京美】X銀纖維極塑護腰*1+能量健康按摩襪寬口襪2雙"
    }, 
    {
      link: 2660385,
      imgSrc: "~event/2nd/e-main/components/mid-big-slider/items/mid-big-2.png",
      alt: "★超值8件組★【Dylce 黛歐絲】60支精梳棉高腰浮雕塑腹內褲(隨機)現貨+預購-網"
    }, 
    {
      link: 2801841, 
      imgSrc: "~event/2nd/e-main/components/mid-big-slider/items/mid-big-3.png",
      alt: "紅布朗 人氣穀粉任選2罐組(黑芝麻粉/5穀燕麥粉/豆奶粉/芝麻黑穀粉)"
    }, 
    {
      link: 2061929,
      imgSrc: "~event/2nd/e-main/components/mid-big-slider/items/mid-big-4.png",
      alt: "PERFECT理想金緻七層316平底鍋30cm單把(附蓋)-網"
    }, 
    {
      link: 2805852,
      imgSrc: "~event/2nd/e-main/components/mid-big-slider/items/mid-big-5.png",
      alt: "(加111元多一件)《台塑生醫》Dr’s Formula 強健逆齡喚黑洗髮精580g(共4入組)-網"
    }, 
    {
      link: 2603383,
      imgSrc: "~event/2nd/e-main/components/mid-big-slider/items/mid-big-6.png",
      alt: "ESTEE LAUDER 雅詩蘭黛 絕對慾望奢華潤唇膏#420玫瑰荔枝 2.8g 2入/組"
    },
    {
      link: 2802109,
      imgSrc: "~event/2nd/e-main/components/mid-big-slider/items/mid-big-7.png",
      alt: "【+111元多一件】喜兒法歐勒葉超S纖鮮自然10+1盒(10包/盒)"
    },
    {
      link: 2799024,
      imgSrc: "~event/2nd/e-main/components/mid-big-slider/items/mid-big-8.png",
      alt: "WEDAR 世界品質金獎金盞花葉黃素 3+1盒限時搶購組(30顆/盒)-網"
    },
    {
      link: 2768609,
      imgSrc: "~event/2nd/e-main/components/mid-big-slider/items/mid-big-9.png",
      alt: "義大利Giaretti 二合一熱壓三明治鬆餅機-庫"
    },
    {
      link: 2770765,
      imgSrc: "~event/2nd/e-main/components/mid-big-slider/items/mid-big-10.png",
      alt: "鍋寶 雙層防燙316不鏽鋼美食鍋-1.8L-粉色BF-9162P(庫)"
    },
    {
      link: 2639074,
      imgSrc: "~event/2nd/e-main/components/mid-big-slider/items/mid-big-11.png",
      alt: "SAMPO聲寶3.0吋8G MP4數位播放器(MP-R1114L)"
    },
    {
      link: 6139809,
      imgSrc: "~event/2nd/e-main/components/mid-big-slider/items/mid-big-12.png",
      alt: "MAGIC Micro USB to USB A母 亮彩OTG轉接頭-網 "
    },
  ]

- 
  var midBigDataU = [
    {
      link: "https://www.u-mall.com.tw/XML/content/DMSetting/Final/202008/SP_1106087/w/index.html", 
      imgSrc: "~event/2nd/u-main/components/mid-big-slider/items/mid-big-1.png",
      alt: "20間銀行最高回饋10%"
    }, 
    {
      link: "https://www.u-mall.com.tw/Activity/HourSale", 
      imgSrc: "~event/2nd/u-main/components/mid-big-slider/items/mid-big-2.png",
      alt: "整點最便宜"
    }, 
    {
      link: "https://www.u-mall.com.tw/Activity/HourSale?Day=Up", 
      imgSrc: "~event/2nd/u-main/components/mid-big-slider/items/mid-big-3.png",
      alt: "天天最激殺"
    }, 
  ]

- var midBigData = isU ? midBigDataU : midBigDataE

section.promo__group.promo__group--mid-big.m-bottom--md(data-title="111多1件")
  .layout--main
    .promo__title.block--center.text--center
      img(src="~event/2nd/e-main/components/mid-big-slider/title-mid-big.png", alt="加111元多一件")

    .promo__wrap
      #sliderMidBig.promo__slider.swiper-container
        ul.swiper-wrapper
          each data in midBigData
            li.swiper-slide
              a(href=('https://www.etmall.com.tw/i/' + data.link), title= data.alt)
                img.swiper-lazy(data-src= data.imgSrc, alt="")
                .swiper-lazy-preloader.swiper-lazy-preloader-white

        #sliderMidBigPrev.swiper-button-white.swiper-button-prev.mid-big__nav.mid-big__nav--prev
        #sliderMidBigNext.swiper-button-white.swiper-button-next.mid-big__nav.mid-big__nav--next
      //- #sliderMidBigPager.mid-big__pager.swiper-pagination