.goods__wrap--flip
  +pos-set(absolute, zero)
  top: 7.5%
  right: 1%
  width: 50%
  //+bg-set(url("~event/2nd/e-sp/components/goods-slider-flip/bg-goods-flip.png"), 100%, center, 660%)
  // .goods__background
  //   +pos-set(absolute, zero, 0, 0)
  //   width: 100%
  //   height: 100%
  // .promo__slider
  //   +pos-set(relative, zero)
    // width: 44%
    // height: 100%
    // #sliderGoodsFlipPrev.swiper-button-prev,
    // #sliderGoodsFlipNext.swiper-button-next
    //   width: 15px
    //   height: 35px
    //   margin-top: 102px
    //   z-index: 10
    //   background-size: 15px 35px
    //   opacity: 0
    // #sliderGoodsFlipPrev.swiper-button-prev
    //   left: 13px
    // #sliderGoodsFlipNext.swiper-button-next
    //   right: 42px

  +breakpoint-min($min-width-xl)
    top: 65px
    right: 0
