.promo__group--dynamic-slider-3
  .promo__wrap
    +bg-set(url("~event/1st/e-main/components/dynamic-slider-3/bg-dynamic-slider-3.png"), 100%)
  // .dynamic-slider-pager
  //   bottom: 2%
  //   +breakpoint-min($min-width-lg)
  //     bottom: 15px
  //   +breakpoint-min($min-width-xl)
  //     bottom: 22px

.promo__group--dynamic-slider
  &.promo__group--dynamic-slider-3
    .promo__wrap
      +pos-set(relative, zero)
      padding: 21.5% 13% 8%

      
    .product--dynamic
      padding-top: 5.5%
      +bg-set(url("~event/1st/e-main/components/dynamic-slider-3/item-dynamic-slider-3.png"), contain)
      .product__img
        margin-left: auto
        margin-right: auto
        width: 95%
        border-radius: 13% 13% 0 0
        // border: 1px solid #f00
        overflow: hidden
      .product__price
        margin-bottom: 1%

      +breakpoint-max($max-width-xxs)
        .product__img
          width: 92%
      +breakpoint-min($min-width-xl)
        .product__name
          margin: 15px 0
      

.promo__group--dynamic-slider-3
  .dynamic__nav
    top: 59.5%
    // outline: 0
    &--prev
      left: 5%
    &--next
      right: 5%
    // +breakpoint-max($max-width-xxs)
    //   &--prev
    //     left: 5%
    //   &--next
    //     right: 5%
    +breakpoint-min($min-width-lg)
      &--prev
        left: 7.5%
      &--next
        right: 7.5%


// 因版型和1一樣所以共用  
// .promo__group--dynamic-slider
//   .promo__wrap
//     +pos-set(relative, zero)
//     padding: 3% 5% 6% 3%
//     +bg-set(url("~event/1st/e-main/pages/index/bg-dynamic-slider.png"), 100%)
//   .product--dynamic
//     border: 1px solid $gray-medium
//     border-radius: 1vw
//     overflow: hidden
//     .product__name
//       display: -webkit-box
//       -webkit-line-clamp: 2
//       -webkit-box-orient: vertical
//       text-overflow: ellipsis
//       margin: 3% 0
//       padding: 0 2%
//       color: $gray-deep-dark
//       line-height: 110%
//       height: 2.2em
//       font-size: 12px
//       overflow: hidden
//     .product__price
//       padding: 0 2%
//       color: $primary-medium
//       span
//         &:first-child
//           font-size: 2vw
//         &:last-child
//           font-size: 3vw

//     +breakpoint-max($max-width-xxs)
//       .product__name
//         margin: 0

//     +breakpoint-min($min-width-lg)
//       .product__name
//         margin: 5% 0
//         font-size: 2.5vw
//       .product__price
//         span
//           &:first-child
//             font-size: 2vw
//           &:last-child
//             font-size: 3.5vw

//     +breakpoint-min($min-width-xl)
//       border-radius: 12px
//       .product__name
//         margin: 18px 0
//         font-size: 22px
//       .product__price
//         span
//           &:first-child
//             font-size: 16px
//           &:last-child
//             font-size: 30px

// .dynamic-slider-pager
//   bottom: 1.8%
//   left: 49%
//   transform: translateX(-50%)
//   .swiper-pagination-bullet
//     margin: 0 2px
//     width: 6px
//     height: 6px
//     background-color: $gray-deep-dark
//     opacity: .8
//     outline: 0
//   .swiper-pagination-bullet-active
//     background-color: $main-e-background-color-1st-2
//     opacity: 1

//   +breakpoint-min($min-width-lg)
//     bottom: 14px
//     .swiper-pagination-bullet
//       margin: 0 6px
//       width: 12px
//       height: 12px

//   +breakpoint-min($min-width-xl)
//     bottom: 16px
//     .swiper-pagination-bullet
//       margin: 0 8px
//       width: 16px
//       height: 16px