@charset "utf-8";

/* // Global position property
// ========================================================================== */

body {

}

.f-left {
    float: left;
}

.f-right {
    float: right;
}


.header__wrap.is--show {
    visibility: visible;
    opacity: 1;
}

.clearfix {
    *zoom: 1;
}

.clearfix:before,
.clearfix:after {
    display: table;
    line-height: 0;
    content: "";
}

.clearfix:after {
    clear: both;
}

.width--1260 {
    width: 1260px;
    margin-left: auto;
    margin-right: auto;
}

/* // header style
// ========================================================================== */
.header__wrap {
    background-color: #000000;
    position: fixed;
    z-index: 100;
    width: 100%;
    height: 80px;
    transition: all 0.3s ease-in-out;
    visibility: hidden;
    opacity: 0;
}

.header__wrap:after {
    content: '';
    background-color: #121212;
    position: absolute;
    z-index: -1;
    width: 100%;
    height: 80px;
    top: 0;
    left: 50%;
    margin-left: -160px;
}
.header__wrap a {
    color: #ffffff;
    font-size: 15px;
    display: block;
}

.header__wrap .width--1260 {
    padding-top: 20px;
    padding-bottom: 20px;
    height: 80px;
    position: relative;
    z-index: 0;
}

.header__wrap .width--1260:before,
.header__wrap .width--1260:after {
    content: '';
    position: absolute;
    z-index: 1;
    top: 0;
    height: 80px;
}

.header__wrap .width--1260:before {
    left: 160px;
    display: inline-block;
    vertical-align: middle;
    width: 80px;
    border-top: solid 40px #121212;
    border-right: solid 40px #121212;
    border-left: solid 40px transparent;
    border-bottom: solid 40px transparent;
}

.header__wrap .width--1260:after {
    background-color: #121212;
    width: 100%;
    left: 240px;
    z-index: -1;
}

.header__wrap .logo {
    margin-top: -10px; 
    width: 160px;
}

.menu {
    margin-top: -20px;
    margin-left: 120px;
    height: 80px;
    overflow: hidden;
}

.menu li {
    display: inline-block;
    margin-left: 10px;
    margin-right: 10px;
}

.menu li a {
    height: 80px;
    padding: 10px 6px;
    line-height: 400%;
    transition: all 0.3s linear;
}

.menu li a:hover {
    color: #333;
    background-color: rgba(255, 255, 255, 0.8)
}

.menu .is--hide,
.menu__sub .is--hide {
    display: none;
}

.promo__btn {
    position: relative;
    z-index: 0;
    width: 40px;
    height: 40px;
    display: block;
}

.promo__box {
    position: absolute;
    z-index: 1;
    width: 80%;
    height: 80%;
    margin: auto;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}

.promo__box span {
    background-color: #fff;
    display: block;
    position: absolute;
    width: 100%;
    height: 4px;
    opacity: 1;
}

.promo__box span:first-child {
    top: 0px;
}
.promo__box span:nth-child(2),
.promo__box span:nth-child(3) {
    top: 12px;
}

.promo__box span:last-child {
    top: 24px;
}



.right__body {
    position: absolute;
    z-index: 100;
    top: 53px;
    right: 4px;
    transition: all 0.3s ease-in-out;
    visibility: hidden;
    opacity: 0;
}

.promo__wrap:hover .right__body {
    visibility: visible;
    opacity: 1;
}

.second__menu {
    position: absolute;
    z-index: 3;
    left: 20px;
    top: 450px;
}

.second__menu img {
    margin-left: -40px;
    margin-bottom: 20px;
}

.second__menu ul {
    border-left: 1px solid #fff;
    padding-left: 10px;
}

.second__menu li a {
    font-size: 22px;
    font-style: italic;
    color: #fff;
    display: block;
    transition: all 0.3s linear;
}

.second__menu li a:hover {
    color: #210101;
}

.second__menu li {
    margin-bottom: 10px;
}

@media (max-width : 1440px) {
    .second__menu {
        position: absolute;
        z-index: 3;
        left: 240px;
        top: 340px;
    }

    .second__menu img {
        margin-left: -40px;
        margin-bottom: 20px;
    }

    .second__menu .slogan__small {
        width: 60%;
    }

    .second__menu ul {
        border-left: 1px solid #fff;
        padding-left: 10px;
    }

    .second__menu li a {
        font-size: 16px;
        font-style: italic;
        color: #fff;
        display: block;
        transition: all 0.3s linear;
    }

    .second__menu li a:hover {
        color: #210101;
    }

    .second__menu li {
        margin-bottom: 10px;
    }

}

@media (min-width : 2200px) {
    .second__menu {
        position: absolute;
        z-index: 3;
        left: 20px;
        top: 660px;
    }

    .second__menu img {
        margin-left: -40px;
        margin-bottom: 20px;
    }

    .second__menu .slogan__small {
        width: 100%;
    }

    .second__menu ul {
        border-left: 1px solid #fff;
        padding-left: 10px;
    }

    .second__menu li a {
        font-size: 22px;
        font-style: italic;
        color: #fff;
        display: block;
        transition: all 0.3s linear;
    }
}

/* // bg style
// ========================================================================== */
.bg--1, .bg--2, .bg--3,
.bg--4, .bg--5, .bg--6,
.bg--7, .bg--8, .bg--9, .bg--10 {
    background-repeat: repeat-x;
    background-position: center 0;
    background-size: contain
}

.bg--1 {
    background-image: url('../img/bg1.jpg');
}
.bg--2 {
    background-image: url('../img/bg2.jpg');
}
.bg--3 {
    background-image: url('../img/bg3.jpg');
}
.bg--4 {
    background-image: url('../img/bg4.jpg');
}
.bg--5 {
    background-image: url('../img/bg5.jpg');
}
.bg--6 {
    background-image: url('../img/bg6.jpg');
}
.bg--7 {
    background-image: url('../img/bg7.jpg');
}
.bg--8 {
    background-image: url('../img/bg8.jpg');
}
.bg--9 {
    background-image: url('../img/bg9.jpg');
}
.bg--10 {
    background-image: url('../img/bg10.jpg');
}


/* // container common style
// ========================================================================== */

.content__wrap {
    position: relative;
    z-index: 0;
    height: 760px;
    padding-top: 200px;
}

.content__box {
    padding-top: 70px;
    height: 100%;
}

.visual__setting {
    position: absolute;
    z-index: 1;
}

/* // hover show product info style
// ========================================================================== */

.product__box {
    position: absolute;
    z-index: 21;
    width: 26px;
    height: 26px;
}

.product__box:hover .product__info {
    opacity: 1;
}

.product__btn {
    background-color: rgba(77, 77, 77, 0.7);
    font-size: 1.8rem;
    font-weight: bold;
    color: #fff;
    border: 2px solid #bbb;
    border-radius: 100%;
    display: block;
    width: 26px;
    height: 26px;
    text-align: center;
}

.product__info {
    background-color: rgba(0, 0, 0, 0.9);
    display: block;
    width: 240px;
    padding: 10px;
    font-size: 0.9rem;
    line-height: 1.4;
    color: #fff;
    opacity: 0;
    margin-left: -455%
}

.product__name {
    margin-bottom: 5px;
    max-height: 42px;
    overflow: hidden
}
.product__price {
    text-align: right
}
.product--price {
    font-size: 1.8rem;
    color: #cc1e05;
}


/* // Cover style
// ========================================================================== */

.visual__main {
    width: 1429px;
    margin: auto;
    left: 0;
    right: 0;
    bottom: -200px;
}

.slogan__main {
    right: 60px;
    bottom: -160px;
    z-index: 3;
}
@media (max-width : 1440px) {
    .slogan__main {
        width: 50%;
        bottom: 70px;
        right: 130px;
    }
}

@media (min-width : 2200px) {
    .slogan__main {
        width: auto;
        bottom: -370px;
        right: 130px;
    }
}
    


/* // section4 item
// ========================================================================== */
.bg--3 .product__box:first-child {
    left: 860px;
    top: 490px;
}
.bg--3 .product__box:nth-child(2) {
    left: 150px;
    top: 360px;
}
.bg--3 .product__box:nth-child(3) {
    left: 780px;
    top: 770px;
}
.bg--3 .product__box:nth-child(4) {
    left: 50%;
    top: 770px;
}
.bg--3 .product__box:last-child {
    left: 450px;
    top: 690px;
}
@media (max-width : 1440px) {
    .bg--3 .product__box:first-child {
        left: 830px;
        top: 400px;
    }
    .bg--3 .product__box:nth-child(2) {
        left: 250px;
        top: 250px;
    }
    .bg--3 .product__box:nth-child(3) {
        left: 739px;
        top: 586px;
    }
    .bg--3 .product__box:nth-child(4) {
        top: 600px;
    }
    .bg--3 .product__box:last-child {
        left: 490px;
        top: 540px;
    }

}

@media (min-width : 2200px) {
    .bg--3 .product__box:first-child {
        left: 930px;
        top: 680px;
    }
    .bg--3 .product__box:nth-child(2) {
        left: 20px;
        top: 470px;
    }
    .bg--3 .product__box:nth-child(3) {
        left: 780px;
        top: 970px;
    }
    .bg--3 .product__box:nth-child(4) {
        top: 970px;
    }
    .bg--3 .product__box:last-child {
        left: 390px;
        top: 920px;
    }
}

/* // section6 item
// ========================================================================== */
.bg--4 .product__box:first-child {
    left: 830px;
    top: 320px;
}
.bg--4 .product__box:nth-child(2) {
    left: 300px;
    top: 740px;
}
.bg--4 .product__box:nth-child(3) {
    left: 660px;
    top: 740px;
}
.bg--4 .product__box:last-child {
    left: 870px;
    top: 750px;
}
@media (max-width : 1440px) {
    .bg--4 .product__box:first-child {
        left: 770px;
        top: 250px;
    }
    .bg--4 .product__box:nth-child(2) {
        left: 360px;
        top: 550px;
    }
    .bg--4 .product__box:nth-child(3) {
        left: 660px;
        top: 579px;
    }
    .bg--4 .product__box:last-child {
        left: 810px;
        top: 580px;
    }
}

@media (min-width : 2200px) {
    .bg--4 .product__box:first-child {
        left: 830px;
        top: 380px;
    }
    .bg--4 .product__box:nth-child(2) {
        left: 260px;
        top: 950px;
    }
    .bg--4 .product__box:nth-child(3) {
        left: 660px;
        top: 1030px;
    }
    .bg--4 .product__box:last-child {
        left: 940px;
        top: 1080px;
    }
}

/* // section8 item
// ========================================================================== */
.bg--5 .product__box:first-child {
    left: 630px;
    top: 440px;
}
.bg--5 .product__box:nth-child(2) {
    left: 500px;
    top: 739px;
}
.bg--5 .product__box:last-child {
    left: 850px;
    top: 810px;
}
@media (max-width : 1440px) {
    .bg--5 .product__box:first-child {
        left: 630px;
        top: 360px;
    }
    .bg--5 .product__box:nth-child(2) {
        left: 500px;
        top: 610px;
    }
    .bg--5 .product__box:last-child {
        left: 810px;
        top: 610px;
    }
}

@media (min-width : 2200px) {
    .bg--5 .product__box:first-child {
        left: 630px;
        top: 440px;
    }
    .bg--5 .product__box:nth-child(2) {
        left: 500px;
        top: 1040px;
    }
    .bg--5 .product__box:last-child {
        left: 850px;
        top: 1060px;
    }
}
/* // section10 item
// ========================================================================== */
.bg--6 .product__box:first-child {
    left: 870px;
    top: 690px;
}
.bg--6 .product__box:nth-child(2) {
    left: 950px;
    top: 450px;
}
.bg--6 .product__box:nth-child(3) {
    left: 680px;
    top: 290px;
}
.bg--6 .product__box:nth-child(4) {
    left: 680px;
    top: 690px;
}
.bg--6 .product__box:nth-child(5) {
    left: 470px;
    top: 710px;
}
.bg--6 .product__box:last-child {
    left: 1090px;
    top: 670px;
}

@media (max-width : 1440px) {
    .bg--6 .product__box:first-child {
        left: 810px;
        top: 530px;
    }
    .bg--6 .product__box:nth-child(2) {
        left: 900px;
        top: 360px;
    }
    .bg--6 .product__box:nth-child(3) {
        left: 680px;
        top: 230px;
    }
    .bg--6 .product__box:nth-child(4) {
        left: 680px;
        top: 540px;
    }
    .bg--6 .product__box:nth-child(5) {
        left: 510px;
        top: 540px;
    }
    .bg--6 .product__box:last-child {
        left: 1000px;
        top: 520px;
    }
}

@media (min-width : 2200px) {
    .bg--6 .product__box:first-child {
        left: 970px;
        top: 940px;
    }
    .bg--6 .product__box:nth-child(2) {
        left: 950px;
        top: 630px;
    }
    .bg--6 .product__box:nth-child(3) {
        left: 680px;
        top: 410px;
    }
    .bg--6 .product__box:nth-child(4) {
        left: 680px;
        top: 950px;
    }
    .bg--6 .product__box:nth-child(5) {
        left: 470px;
        top: 980px;
    }
    .bg--6 .product__box:last-child {
        left: 1290px;
        top: 930px;
    }
}

/* // section12 item
// ========================================================================== */
.bg--7 .product__box:first-child {
    left: 240px;
    top: 430px;
}

.bg--7 .product__box:last-child {
    left: 690px;
    top: 730px;

}
@media (max-width : 1440px) {
    .bg--7 .product__box:first-child {
        left: 350px;
        top: 430px;
    }

    .bg--7 .product__box:last-child {
        left: 690px;
        top: 590px;

    }
}
@media (min-width : 2200px) {
    .bg--7 .product__box:first-child {
        left: 160px;
        top: 650px;
    }

    .bg--7 .product__box:last-child {
        left: 690px;
        top: 1020px;

    }
}

/* // section14 item
// ========================================================================== */
.bg--8 .product__box:first-child {
    left: 850px;
    top: 750px;
}
.bg--8 .product__box:nth-child(2) {
    left: 830px;
    top: 170px;
}
.bg--8 .product__box:nth-child(3) {
    left: 450px;
}
.bg--8 .product__box:last-child {
    left: 640px;
    top: 170px;
}

@media (max-width : 1440px) {
    .bg--8 .product__box:first-child {
        left: 800px;
        top: 570px;
    }
    .bg--8 .product__box:nth-child(2) {
        left: 780px;
        top: 170px;
    }
    .bg--8 .product__box:last-child {
        left: 640px;
        top: 170px;
    }
}

@media (min-width : 2200px) {
    .bg--8 .product__box:first-child {
        left: 850px;
        top: 1040px;
    }
    .bg--8 .product__box:nth-child(2) {
        left: 890px;
        top: 210px;
    }
    .bg--8 .product__box:last-child {
        left: 640px;
        top: 170px;
    }
}

/* // section16 item
// ========================================================================== */
.bg--9 .product__box:first-child {
    left: 770px;
    top: 700px;
}
.bg--9 .product__box:nth-child(2) {
    left: 1010px;
    top: 500px;
}
.bg--9 .product__box:nth-child(3) {
    left: 790px;
    top: 460px;
}
.bg--9 .product__box:last-child {
    left: 760px;
    top: 160px;
}

@media (max-width : 1440px) {
    .bg--9 .product__box:first-child {
    left: 770px;
    top: 570px;
    }
    .bg--9 .product__box:nth-child(2) {
        left: 950px;
        top: 400px;
    }
    .bg--9 .product__box:nth-child(3) {
        left: 790px;
        top: 360px;
    }
    .bg--9 .product__box:last-child {
        left: 730px;
        top: 160px;
    }
}
@media (min-width : 2200px) {
    .bg--9 .product__box:first-child {
        left: 770px;
        top: 920px;
    }
    .bg--9 .product__box:nth-child(2) {
        left: 1200px;
        top: 540px;
    }
    .bg--9 .product__box:nth-child(3) {
        left: 830px;
        top: 560px;
    }
    .bg--9 .product__box:last-child {
        left: 760px;
        top: 230px;
    }
}

/* // section18 item
// ========================================================================== */
.bg--10 .product__box:first-child {
    left: 652px;
    top: 570px;
}
.bg--10 .product__box:nth-child(2) {
    left: 700px;
    top: 190px;
}
.bg--10 .product__box:last-child {
    left: 690px;
    top: 380px;
}

@media (max-width : 1440px) {
    .bg--10 .product__box:first-child {
        left: 652px;
        top: 540px;
    }
    .bg--10 .product__box:nth-child(2) {
        left: 680px;
        top: 180px;
    }
    .bg--10 .product__box:last-child {
        left: 670px;
        top: 300px;
    }
}

@media (min-width : 2200px) {
    .bg--10 .product__box:first-child {
        left: 652px;
        top: 820px;
    }
    .bg--10 .product__box:nth-child(2) {
        left: 740px;
        top: 180px;
    }
    .bg--10 .product__box:last-child {
        left: 690px;
        top: 520px;
    }
}


