.bg--decoration
  +pos-set(relative, under)
  .decoration__wrap
    +pos-set(fixed, zero)
    width: 100%
    will-change: scroll-position
  .decoration--under,
  .decoration--under .layout--main,
  .decoration__block
    width: 100%
    height: 100%
  .decoration--under
    //position: absolute
    z-index: -1
  
  +breakpoint-min($min-width-xl)
    .decoration--under
      position: absolute
      top: 1300px
      min-height: 6000px // 至少要有視差捲動背景圖的高度不然圖片會被吃掉
      //+bg-set(url("~event/2nd/e-main/components/bg-decoration/ball-bg.png"), 1920px 1655px)
      +bg-set(url("https://www.etmall.com.tw/XML/content/DMSetting/Final/202012/SP_1116824/ball-bg.png"), 1920px 1655px)
      background-repeat: repeat-y

@keyframes breathing-light
  0%
    filter: brightness(50%)
  50%
    filter: brightness(110%)
  100%
    filter: brightness(110%)