section.promo__group.dynamic-slider-w3m3.m-bottom--lg(data-title="霹靂Q俠")
  .layout--main
    .decor__wrap.full-parent
      .decor__item.decor__item--left#decorSliderW3M3Left
        img(src="event/1st/e-main/components/dynamic-slider-w3m3/decor-dynamic-w3m3-left.png", alt="")
      .decor__item.decor__item--right#decorSliderW3M3Right
        img(src="event/1st/e-main/components/dynamic-slider-w3m3/decor-dynamic-w3m3-right.png", alt="")
      .decor__item.decor__item--item#decorSliderW3M3Item
        img(src="event/1st/e-main/components/dynamic-slider-w3m3/decor-dynamic-w3m3-item.png", alt="")
    .promo__wrap
      .promo__zone
        .promo__block
          .promo__box
            a(href="") 
              //- img(src="event/1st/e-main/components/dynamic-slider-w3m3/bn-w3m3.jpg", alt="")
          .promo__slider.swiper-container#DynamicSliderW3M3Block
            .swiper-wrapper