.promo__group--bn-section-2
  +pos-set(relative, zero)
  overflow: hidden
  // height: 500px
  .decor__item
    &--title
      +pos-set(absolute, second, 12%, 22%)
      width: 55%
      // opacity: 0
      transition: all 0.5s
      // &.active
        // opacity: 1
        // animation: zoomInDown 1s linear 1
      +breakpoint-min($min-width-xl)
        top: 4%
        left: calc(50% - 235px)
    &--left
      +pos-set(absolute, under, 0%, 4%)
      width: 35%
      +breakpoint-min($min-width-xl) 
        // top: 5%
        left: calc(50% - 420px)
    &--right
      +pos-set(absolute, under, 0%)
      right: 4%
      width: 35%
      +breakpoint-min($min-width-xl)
        // top: 5%
        right: calc( 50% - 400px)
    +breakpoint-min($min-width-xl)
      width: auto
  .promo__wrap
    +bg-set(url("~event/2nd/e-main/components/bn-section-2/bg-bn-section-2.png"), 100%)
    margin-top: 23%
    +breakpoint-min($min-width-xl)
      margin-top: 17%
    .promo__zone
      +aspect-ratio(960, 439)
      // .promo__decor
      .promo__block
        padding: 1.4% 2.3% 0
        .promo__box
          cursor: pointer
          &:hover
            transition: all 0.6s ease
            transform: translateY(-.5%)
            filter: brightness(1.1)
          +breakpoint-min($min-width-xl)
            img
              width: 100%


@keyframes zoomInDown
  0%
    opacity: 0
    -webkit-transform: scale3d(.1, .1, 0) translate3d(0, -1000px, 0)
    transform: scale3d(.1, .1, 0) translate3d(0, -1000px, 0)
    -webkit-animation-timing-function: cubic-bezier(.55, .055, .675, .19)
    animation-timing-function: cubic-bezier(.55, .055, .675, .19)
  60%
    opacity: 1
    -webkit-transform: scale3d(.475, .475, 0) translate3d(0, 60px, 0)
    transform: scale3d(.475, .475, 0) translate3d(0, 60px, 0)
    -webkit-animation-timing-function: cubic-bezier(.175, .885, .32, 1)
    animation-timing-function: cubic-bezier(.175, .885, .32, 1)
  100%
    opacity: 1
    -webkit-transform: scale3d(1, 1, 0) translate3d(0, 0, 0)
    transform: scale3d(1, 1, 0) translate3d(0, 0, 0)