- var scrollXSectionE = [{link: "notyet", imgSrc: "~event/1st/e-sp/components/scroll-x-section/items/brand-logo-1.png", alt: "滿額登記抽999"}, {link: "#note-20th", imgSrc: "~event/1st/e-sp/components/scroll-x-section/items/brand-logo-2.png", alt: "歡慶20週年把幸福抽回家"}, {link: "#note-1000ticket", imgSrc: "~event/1st/e-sp/components/scroll-x-section/items/brand-logo-3.png", alt: "登記抽千元無敵券"}, {link: "https://www.etmall.com.tw/XML/content/DMSetting/Final/201910/SP_1109124/w/index.html", imgSrc: "~event/1st/e-sp/components/scroll-x-section/items/brand-logo-4.png", alt: "萊爾富超取登記喝咖啡"}, {link: "https://www.etmall.com.tw/XML/content/DMSetting/Final/201910/SP_1109124/w/index.html", imgSrc: "~event/1st/e-sp/components/scroll-x-section/items/brand-logo-4.png", alt: "萊爾富超取登記喝咖啡"}, {link: "https://www.etmall.com.tw/XML/content/DMSetting/Final/201910/SP_1109124/w/index.html", imgSrc: "~event/1st/e-sp/components/scroll-x-section/items/brand-logo-4.png", alt: "萊爾富超取登記喝咖啡"}, ]

- var scrollXSectionU = [{link: "notyet", imgSrc: "~event/1st/u-main/components/scroll-x-section/items/brand-logo-1.png", alt: ""}, {link: "notyet", imgSrc: "~event/1st/u-main/components/scroll-x-section/items/brand-logo-2.png", alt: ""}, {link: "notyet", imgSrc: "~event/1st/u-main/components/scroll-x-section/items/brand-logo-3.png", alt: ""}, {link: "notyet", imgSrc: "~event/1st/u-main/components/scroll-x-section/items/brand-logo-4.png", alt: ""}, ]

- var scrollXSection = isU? scrollXSectionU : scrollXSectionE

section.scroll-x.m-bottom--xs
  .layout--main
    #sliderScrollX.scroll-x__wrap.swiper-container
      ul.scroll-x__zone.swiper-wrapper
        each data, index in scrollXSection
          //- - var anchorId = 'scrollXAnchor' + (index + 1)
          //- - var imgId = 'scrollXImg' + (index + 1)
          //- li
          //-   a(id= anchorId, href= data.link, title= data.alt)
          //-     img(id= imgId, src= data.imgSrc, alt= data.alt)
          li.swiper-slide
            a(href= data.link, title= data.alt)
              img(src= data.imgSrc, alt= data.alt)
      //- #sliderScrollXPager.swiper-pagination-white.swiper-pagination
    //- #sliderScrollXPrev.swiper-button-white.swiper-button-prev
    //- #sliderScrollXNext.swiper-button-white.swiper-button-next

