- var bankLink = {etmall: "https://www.etmall.com.tw/XML/content/DMSetting/Final/202004/SP_1114866/w/index.html", umall: "https://www.u-mall.com.tw/XML/content/DMSetting/Final/202004/SP_1106083/w/index.html"}
- var bankInfo = isU ? bankLink.umall : bankLink.etmall
- var bankPageName = {"玉山": '#esun', "中信": "#ctbc", "國泰": "#cathay", "台新": "#Taishin", "花旗": "#citi", "富邦": "#taipeifubon", "永豐": "#sinopac", "聯邦": "#union", "一銀": "#one", "遠銀": "#fareasten", "滙豐": "#hsbc", "華南": "#huanan", "新光": "#shinkong", "星展": "#dbs", "合作金庫": "#tcb", "凱基": "#kgi", "上海銀行": "#shanghai", "土銀": "#landbank", "日盛": "#jihsun", "臺銀": "#bot", "陽信": "#sunnybank", "樂天": "#rakuten"}


//- TODO: 給別的component引入時不需要前兩行要切換
//- section.promo__group.promo__group--bn-special.m-bottom--md
//-   .layout--main
.promo__slider
  #sliderSpecial.swiper-container
    ul.swiper-wrapper
      li.swiper-slide
        a(href="https://www.etmall.com.tw/XML/content/DMSetting/Final/202003/SP_1115053/w/index.html", title="送仟元限量虛寶")
          img(src="~event/1st/u-main/components/bn-special/items/bank-1.png", alt="送仟元限量虛寶")
      li.swiper-slide
        a(href= bankInfo + bankPageName["凱基"], title="凱基滿$4,400送$440刷卡金")
          img(src="~event/1st/u-main/components/bn-special/items/bank-2.png", alt="凱基滿$4,400送$440刷卡金")
      li.swiper-slide
        a(href= bankInfo + bankPageName["星展"], title="星展滿$8,000送$800東森提貨券")
          img(src="~event/1st/u-main/components/bn-special/items/bank-3.png", alt="星展滿$8,000送$800東森提貨券")


    //- #sliderSpecialPager.swiper-pagination-custom.swiper-pagination