section.promo__group.promo__group--bn-section.m-bottom--lg(data-title="童玩趣")
  .layout--main
    .decor__wrap#decorBnSection
      .promo__decor
        img(src="event/1st/e-main/components/bn-section/decor-bn-section.png", alt="")
    .promo__wrap
      .promo__zone
        .promo__block
          .promo__box
            a(href="https://m.etmall.com.tw/Activity/Lottery/4948f7299bfe34ca6ea3da99328d1c56") 
              img(src="event/1st/e-main/components/bn-section/bn-1.png", alt="")

//- data-dynamic-2.js在assets資料夾內、由index.pug外連過去