doctype html
html(lang='zh-Hant-TW')
  head
    include utils/pug/_total-head

    //- TODO: dist後去外面註解reset可移除換他們自己的
    //- 當外部另有自己的reset時，把我方的reset分拆出來，讓外部好移除用
    link(rel="stylesheet", type="text/css", href="reset.css")

  body
    //- main section 主視覺區
    //- 第一波
    include event/1st/e-main/pages/index/_index.pug
