section.promo__group.promo__group--tab.m-bottom--xs
  .layout--main
    ul.tab__wrap
      li.tab__zone
        ul#tabBox.tab__box
          li.tab__item(title="11.1 精選優惠").active
            img(src="~event/2nd/e-main/components/tab-section/items/tab/tab-d1-m.png", alt="11.1 精選優惠")
            img(src="~event/2nd/e-main/components/tab-section/items/tab/tab-l1-m.png", alt="11.1 精選優惠")
            img(src="~event/2nd/e-main/components/tab-section/items/tab/tab-d1.png", alt="11.1 精選優惠")
            img(src="~event/2nd/e-main/components/tab-section/items/tab/tab-l1.png", alt="11.1 精選優惠")
          li.tab__item(title="11.2 保健日")
            img(src="~event/2nd/e-main/components/tab-section/items/tab/tab-d2-m.png", alt="11.2 保健日")
            img(src="~event/2nd/e-main/components/tab-section/items/tab/tab-l2-m.png", alt="11.2 保健日")
            img(src="~event/2nd/e-main/components/tab-section/items/tab/tab-d2.png", alt="11.2 保健日")
            img(src="~event/2nd/e-main/components/tab-section/items/tab/tab-l2.png", alt="11.2 保健日")
          li.tab__item(title="11.3 居家流行日")
            img(src="~event/2nd/e-main/components/tab-section/items/tab/tab-d3-m.png", alt="11.3 居家流行日")
            img(src="~event/2nd/e-main/components/tab-section/items/tab/tab-l3-m.png", alt="11.3 居家流行日")
            img(src="~event/2nd/e-main/components/tab-section/items/tab/tab-d3.png", alt="11.3 居家流行日")
            img(src="~event/2nd/e-main/components/tab-section/items/tab/tab-l3.png", alt="11.3 居家流行日")
          li.tab__item(title="11.4 美妝日")
            img(src="~event/2nd/e-main/components/tab-section/items/tab/tab-d4-m.png", alt="11.4 美妝日")
            img(src="~event/2nd/e-main/components/tab-section/items/tab/tab-l4-m.png", alt="11.4 美妝日")
            img(src="~event/2nd/e-main/components/tab-section/items/tab/tab-d4.png", alt="11.4 美妝日")
            img(src="~event/2nd/e-main/components/tab-section/items/tab/tab-l4.png", alt="11.4 美妝日")

      li.content__zone
        ul#contentBlock.content__block
          li.content__box.clearfix.active
            .content__item
              a(href="https://www.etmall.com.tw/np/84675", title="FORTE雙11重磅組1折up")
                img(src="~event/2nd/e-main/components/tab-section/items/content/brand-promot1-1.png", alt="FORTE雙11重磅組1折up")
            .content__item
              a(href="https://www.etmall.com.tw/bs/83771", title="特談超殺熱銷組$1111")
                img(src="~event/2nd/e-main/components/tab-section/items/content/brand-promot1-2.png", alt="特談超殺熱銷組$1111")
            .content__item
              a(href="https://www.etmall.com.tw/np/84811", title="彩妝&香水大牌1111限定組")
                img(src="~event/2nd/e-main/components/tab-section/items/content/brand-promot1-3.png", alt="彩妝&香水大牌1111限定組")
            .content__item
              a(href="https://www.etmall.com.tw/c3/97790", title="超濃縮洗衣精4瓶$699")
                img(src="~event/2nd/e-main/components/tab-section/items/content/brand-promot1-4.png", alt="超濃縮洗衣精4瓶$699")
            .content__item
              a(href="https://www.etmall.com.tw/c3/27690", title="好神CP值超高牛排2折up")
                img(src="~event/2nd/e-main/components/tab-section/items/content/brand-promot1-5.png", alt="好神CP值超高牛排2折up")
            .content__item
              a(href="https://www.etmall.com.tw/c3/136642", title="Samsonite旅箱26折up")
                img(src="~event/2nd/e-main/components/tab-section/items/content/brand-promot1-6.png", alt="Samsonite旅箱26折up")

          li.content__box.clearfix
            .content__item
              a(href="https://www.etmall.com.tw/np/84327", title="日本味王1年僅此1檔3折up")
                img(src="~event/2nd/e-main/components/tab-section/items/content/brand-promot2-1.png", alt="日本味王1年僅此1檔3折up")
            .content__item
              a(href="https://www.etmall.com.tw/np/83936", title="台塑生醫雙11狂歡3折起")
                img(src="~event/2nd/e-main/components/tab-section/items/content/brand-promot2-2.png", alt="台塑生醫雙11狂歡3折起")
            .content__item
              a(href="https://www.etmall.com.tw/np/83941", title="天使娜拉均價1111元")
                img(src="~event/2nd/e-main/components/tab-section/items/content/brand-promot2-3.png", alt="天使娜拉均價1111元")
            .content__item
              a(href="https://www.etmall.com.tw/XML/content/DMSetting/Final/201911/SP_1114009/w/index.html", title="品牌餐廚杯瓶限定1111")
                img(src="~event/2nd/e-main/components/tab-section/items/content/brand-promot2-4.png", alt="品牌餐廚杯瓶限定1111")
            .content__item
              a(href="https://www.etmall.com.tw/c3/131476", title="鮮食煮藝手工水餃下殺")
                img(src="~event/2nd/e-main/components/tab-section/items/content/brand-promot2-5.png", alt="鮮食煮藝手工水餃下殺")
            .content__item
              a(href="https://www.etmall.com.tw/c3/135492", title="倍麗森全館3折起")
                img(src="~event/2nd/e-main/components/tab-section/items/content/brand-promot2-6.png", alt="倍麗森全館3折起")

          li.content__box.clearfix
            .content__item
              a(href="https://www.etmall.com.tw/c3/125140", title="專櫃大牌5折up")
                img(src="~event/2nd/e-main/components/tab-section/items/content/brand-promot3-1.png", alt="專櫃大牌5折up")
            .content__item
              a(href="https://www.etmall.com.tw/np/82495", title="宏醫雙11健康5折起")
                img(src="~event/2nd/e-main/components/tab-section/items/content/brand-promot3-2.png", alt="宏醫雙11健康5折起")
            .content__item
              a(href="https://www.etmall.com.tw/XML/content/DMSetting/Final/201911/SP_1114019/w/index.html", title="德泰床墊雙11狂歡節下殺")
                img(src="~event/2nd/e-main/components/tab-section/items/content/brand-promot3-3.png", alt="ASSARI 德泰床墊雙11狂歡節下殺")
            .content__item
              a(href="https://www.etmall.com.tw/c3/135111", title="鮮一杯雙11回饋主慶典")
                img(src="~event/2nd/e-main/components/tab-section/items/content/brand-promot3-4.png", alt="鮮一杯雙11回饋主慶典")
            .content__item
              a(href="https://www.etmall.com.tw/c2/107812", title="時尚智慧手錶下殺六折")
                img(src="~event/2nd/e-main/components/tab-section/items/content/brand-promot3-5.png", alt="時尚智慧手錶下殺六折")
            .content__item
              a(href="https://www.etmall.com.tw/XML/content/DMSetting/Final/201910/SP_1113978/w/index.html", title="清潔家電5折up")
                img(src="~event/2nd/e-main/components/tab-section/items/content/brand-promot3-6.png", alt="清潔家電5折up")

          li.content__box.clearfix
            .content__item
              a(href="https://www.etmall.com.tw/p/84812", title="台塑生醫熱銷55折起")
                img(src="~event/2nd/e-main/components/tab-section/items/content/brand-promot4-1.png", alt="台塑生醫熱銷55折起")
            .content__item
              a(href="https://www.etmall.com.tw/c3/136306", title="Betrise狂歡特惠$1111起")
                img(src="~event/2nd/e-main/components/tab-section/items/content/brand-promot4-2.png", alt="Betrise狂歡特惠$1111起")
            .content__item
              a(href="https://www.etmall.com.tw/XML/content/DMSetting/Final/201911/SP_1113955/w/index.html", title="Acer吃喝玩樂任你來")
                img(src="~event/2nd/e-main/components/tab-section/items/content/brand-promot4-3.png", alt="Acer吃喝玩樂任你來")
            .content__item
              a(href="https://www.etmall.com.tw/c3/119242", title="AirPods無線耳機下殺")
                img(src="~event/2nd/e-main/components/tab-section/items/content/brand-promot4-4.png", alt="AirPods無線耳機下殺")
            .content__item
              a(href="https://www.etmall.com.tw/XML/content/DMSetting/Final/201911/SP_1113972/w/index.html", title="冰洗送10%東森幣")
                img(src="~event/2nd/e-main/components/tab-section/items/content/brand-promot4-5.png", alt="冰洗送10%東森幣")
            .content__item
              a(href="https://www.etmall.com.tw/XML/content/DMSetting/Final/201911/SP_1113974/w/index.html", title="電視送餐券/小家電")
                img(src="~event/2nd/e-main/components/tab-section/items/content/brand-promot4-6.png", alt="電視送餐券/小家電")
