.promo__group--w3m3-2
  +pos-set(relative, zero)
  overflow: hidden
  .decor__wrap
    padding-bottom: 4%
  .decor__item

    &--left
      +pos-set(absolute, zero, 1%, 21%)
      width: 13%
      transform: scale(0)
      +breakpoint-min($min-width-xl)
        left: calc( 50% - 270px )
      &.active
        animation: grow .8s forwards

    &--right
      +pos-set(absolute, zero, 2%)
      right: 21%
      width: 13.5%
      transform: scale(0)
      +breakpoint-min($min-width-xl)
        right: calc( 50% - 266px )
      &.active
        animation: grow .8s .4s ease-out forwards

    +breakpoint-min($min-width-xl)
      width: auto
      
  .promo__wrap
    +bg-set(url(event/2nd/e-main/components/event-w3m3-2/bg-event-w3m3-2.png), 100%)
  .promo__zone
    +aspect-ratio(959, 1080)
    +breakpoint-min($min-width-xl)
      +aspect-ratio(959, 1040)
  .promo__block
    padding: 24.2% 8% 0
    +breakpoint-min($min-width-xl)
      padding: 25.2% 8% 0 9%
    .good__wrap
      display: flex
      flex-wrap: wrap
      justify-content: center
      li
        width: 31%
        margin-bottom: 2%
        a
          transition: all 0.5s
          &:hover,
          &.active
            transform: scale(0.95)
            filter: contrast(1.1)

@keyframes grow
  0%
    opacity: 0
    transform: scale(0)
  50%
    opacity: 1
    transform: scale(20%)
  95%, 100%
    transform: scale(1.2)