section.promo__group.promo__group--dynamic-section.promo__group--dynamic-section-2.m-bottom--lg(data-title="折618")
  .layout--main
    #decoDynamicSection2.promo__title
      .title__decoration
        img(src="event/2nd/e-main/components/dynamic-section-2/decoration-dynamic-section-2.png", alt="")
      .title__pic
        img(src="event/2nd/e-main/components/dynamic-section-2/title-dynamic-section-2.png", alt="下單再折618")

    .promo__wrap
      #dynamicSection2
        .product__wrap
