.promo__group.promo__group--bn-special.m-bottom--xs(data-title="銀行好禮")
  .layout--main
    .promo__slider
      #sliderSpecial.swiper-container
        ul.swiper-wrapper
          li.swiper-slide
            a(href= "https://www.etmall.com.tw/XML/content/DMSetting/Final/201912/SP_1107841/w/index.html", title="遠東滿1212送121刷卡金")
              img(src="~event/3rd/u-main/components/bn-special/items/hot-1.png", alt="遠東滿1212送121刷卡金")
          li.swiper-slide
            a(href= "https://www.etmall.com.tw/XML/content/DMSetting/Final/201912/SP_1107841/w/index.html", title="土銀滿5000送750東森提貨券")
              img(src="~event/3rd/u-main/components/bn-special/items/hot-2.png", alt="土銀滿5000送750東森提貨券")
          li.swiper-slide
            a(href= "https://www.etmall.com.tw/XML/content/DMSetting/Final/201912/SP_1107841/w/index.html", title="凱基滿5000送600刷卡金")
              img(src="~event/3rd/u-main/components/bn-special/items/hot-3.png", alt="凱基滿5000送600刷卡金")
          li.swiper-slide
            a(href= "https://www.etmall.com.tw/XML/content/DMSetting/Final/201912/SP_1107841/w/index.html", title="星展滿10000送1200東森提貨券")
              img(src="~event/3rd/u-main/components/bn-special/items/hot-4.png", alt="星展滿10000送1200東森提貨券")
          li.swiper-slide
            a(href= "https://www.etmall.com.tw/XML/content/DMSetting/Final/201912/SP_1107841/w/index.html", title="新光滿10000送1000刷卡金")
              img(src="~event/3rd/u-main/components/bn-special/items/hot-5.png", alt="新光滿1000送1000刷卡金")
        //- #sliderSpecialPager.swiper-pagination-custom.swiper-pagination