section.hero.m-bottom--lg
  .layout--main
    .hero__zone
      .hero__block
        .hero__title.hero__title--main(title="挑戰任務 月月享3%")
          img(src="event/1st/e-main/components/hero-section/title.png", alt="挑戰任務 月月享3%")








