-
  var promoEventData = [
    [
      {
        link: "https://media.etmall.com.tw/sp/19552/m/index.html",
        imgSrc: "event/1st/e-main/components/promo-event/items/item-p-event-1-1.png",
        alt: "加入會員立即送500枚東森幣",
      },
    ],
    [
      {
        link: "https://www.etmall.com.tw/Activity/Reg/220",
        imgSrc: "event/1st/e-main/components/promo-event/items/item-p-event-2-1.png",
        alt: "消費滿額抽雙人住宿券",
      },
    ],
    [
      {
        link: "https://www.etmall.com.tw/member/taskActivity",
        imgSrc: "event/1st/e-main/components/promo-event/items/item-p-event-3-1.png",
        alt: "挑戰任務拿$1300",
      },
      {
        link: "https://www.etmall.com.tw/Activity/dl/LuckyDraw/f228396aa9911e6e0a00d1501b358959",
        imgSrc: "event/1st/e-main/components/promo-event/items/item-p-event-3-2.png",
        alt: "會員專屬天天免費抽",
      },
      {
        link: "https://m.etmall.com.tw/Activity/Lottery/c66f3c1668e402b0ab8eaa57b5c0df3f",
        imgSrc: "event/1st/e-main/components/promo-event/items/item-p-event-3-3.png",
        alt: "全站消費滿額抽200枚東森幣",
      },
    ],
    [
      {
        link: "",
        imgSrc: "event/1st/e-main/components/promo-event/items/item-p-event-4-1.png",
        alt: "寶貝七逃趣人氣影片徵件中，前100名投稿贈50枚樂透金",
      },
      {
        link: "https://media.etmall.com.tw/sp/21969/m/index.html",
        imgSrc: "event/1st/e-main/components/promo-event/items/item-p-event-4-2.png",
        alt: "離島配送 累積滿額贈68枚樂透金",
      },
    ],
    [
      {
        link: "https://www.etmall.com.tw/Activity/CollectPointExchangeActivity/202302811fecc3",
        imgSrc: "event/1st/e-main/components/promo-event/items/item-p-event-5-1.png",
        alt: "集點加價購",
      },
      {
        link: "https://www.etmall.com.tw/Activity/GroupSale",
        imgSrc: "event/1st/e-main/components/promo-event/items/item-p-event-5-2.png",
        alt: "幸福集氣購",
      },
    ],
    [
      {
        link: "https://media.etmall.com.tw/sp/22401/m/index.html",
        imgSrc: "event/1st/e-main/components/promo-event/items/item-p-event-6-1.png",
        alt: "消費滿$1,800折200，東森幣加碼回饋100%",
      },
      {
        link: "https://media.etmall.com.tw/sp/22362/m/index.html",
        imgSrc: "event/1st/e-main/components/promo-event/items/item-p-event-6-2.png",
        alt: " 7-ELEVEN取件送太妃焦糖風味瑪奇朵(大冰)",
      },
      {
        link: "https://media.etmall.com.tw/sp/21699/m/index.html",
        imgSrc: "event/1st/e-main/components/promo-event/items/item-p-event-6-3.png",
        alt: "Hami書城超狂雙重福利任你拿",
      },
    ],
  ]

//- TODO: 如果promo不和hero綁一起時要有自己的section和layout--main
section.promo__group.promo-event
  .layout--main
    .decor__wrap.full-parent
      .decor__item#decorPromoEvent
        img(src="event/1st/e-main/components/promo-event/decor-promo-event.png", alt="")

    .promo__wrap
      .promo__zone
        .promo__block
          .promo__box
            .item__box
              .event__item
                .swiper-container.container--promo-event
                  ul.swiper-wrapper
                    each item, itemIndex in promoEventData[0]
                      li.swiper-slide.promo__item
                        a(href=  item.link, title= item.alt)
                          img(src=  item.imgSrc, alt= item.alt)
              .event__item
                .swiper-container.container--promo-event
                  ul.swiper-wrapper
                    each item, itemIndex in promoEventData[1]
                      li.swiper-slide.promo__item
                        a(href=  item.link, title= item.alt)
                          img(src=  item.imgSrc, alt= item.alt)

            .item__box
                .event__item
                  .swiper-container.container--promo-event
                    ul.swiper-wrapper
                      each item, itemIndex in promoEventData[2]
                        li.swiper-slide.promo__item
                          a(href=  item.link, title= item.alt)
                            img(src=  item.imgSrc, alt= item.alt)

          .promo__box
            .item__box
              .event__item
                .swiper-container.container--promo-event
                  ul.swiper-wrapper
                    each item, itemIndex in promoEventData[3]
                      li.swiper-slide.promo__item
                        a(href=  item.link, title= item.alt)
                          img(src=  item.imgSrc, alt= item.alt)

          .promo__box
            .item__box
              .event__item
                .swiper-container.container--promo-event
                  ul.swiper-wrapper
                    each item, itemIndex in promoEventData[4]
                      li.swiper-slide.promo__item
                        a(href=  item.link, title= item.alt)
                          img(src=  item.imgSrc, alt= item.alt)

            .item__box
              .event__item
                .swiper-container.container--promo-event
                  ul.swiper-wrapper
                    each item, itemIndex in promoEventData[5]
                      li.swiper-slide.promo__item
                        a(href=  item.link, title= item.alt)
                          img(src=  item.imgSrc, alt= item.alt)