.promo__event
  // margin-top: -5%
  padding: 6.8% 4% 2.2%
  +bg-set(url(~event/1st/u-main/components/promo-event/bg-promo.png), 100%)
  .event__wrap
    display: flex
    flex-wrap: wrap
    justify-content: space-between
    padding: 0
    li
      flex: 0 0 49.5%
      transition: all 0.5s
      &:hover
        transform: translateY(-3%)
        filter: brightness(130%)

  +breakpoint-min($min-width-xl)
    padding: 78px 50px 32px
