.slider--w5m3
  +pos-set(relative, zero)
  .banner__title
    +bg-set(url(event/1st/e-main/components/bn-w4m2/bar.png))
  .swipersty__banner
    +pos-set(absolute, zero, 75px , 2.5%)
    width: 95%
    +breakpoint-min($min-width-xl)
      top: 75px
      // margin: 0 auto
      // left: calc( 50% - 480px )
      max-width: 960px
  
  
  // pagination
  // .slider__button
  //   color: $gray-deep-light
  //   &::before
  //     content: ""
  //     +pos-set(absolute, zero, 0%, 0%)
  //     width: calc(var(--swiper-navigation-size) * 1.5)
  //     height: calc(var(--swiper-navigation-size) * 1.5)
  //     transform: translate(-50%, -50%)
  //     border-radius: 50%
  //     background-image: repeating-linear-gradient(180deg, #d985d0 -2%, #d985d0 120%)
  //     box-shadow: inset 0 0 1px 1px $gray-deep-light
  //   &:hover
      

