section.promo__group.promo__group--tab.m-bottom--xs.js-add__bg(data-title="館別特殺")
  .layout--main
    ul.tab__wrap
      li.tab__zone
        ul#tabBox.tab__box
          li.tab__item(title="居家美食").active
            img(src="~event/2nd/e-main/components/tab-section/items/tab/tab-d1-min.png", alt="居家美食")
            img(src="~event/2nd/e-main/components/tab-section/items/tab/tab-l1-min.png", alt="居家美食")
          li.tab__item(title="流行服裝")
            img(src="~event/2nd/e-main/components/tab-section/items/tab/tab-d2-min.png", alt="流行服裝")
            img(src="~event/2nd/e-main/components/tab-section/items/tab/tab-l2-min.png", alt="流行服裝")
          li.tab__item(title="美妝保養")
            img(src="~event/2nd/e-main/components/tab-section/items/tab/tab-d3-min.png", alt="美妝保養")
            img(src="~event/2nd/e-main/components/tab-section/items/tab/tab-l3-min.png", alt="美妝保養")
          li.tab__item(title="3C家電")
            img(src="~event/2nd/e-main/components/tab-section/items/tab/tab-d4-min.png", alt="3C家電")
            img(src="~event/2nd/e-main/components/tab-section/items/tab/tab-l4-min.png", alt="3C家電")

      li.content__zone
        ul#contentBlock.content__block
          li.content__box.clearfix.active
            .content__item
              a(href="https://www.etmall.com.tw/np/87761", title="沖泡X鍋物 1212")
                img(src="~event/2nd/e-main/components/tab-section/items/content/bookmark-1-1-min.png", alt="沖泡X鍋物 1212")
            .content__item
              a(href="https://www.etmall.com.tw/np/87276", title="居家X傢寢 1212")
                img(src="~event/2nd/e-main/components/tab-section/items/content/bookmark-1-2-min.png", alt="居家X傢寢 1212")
            .content__item
              a(href="https://www.etmall.com.tw/XML/content/DMSetting/Final/201912/SP_1114233/w/index.html", title="生鮮X鍋具 1212")
                img(src="~event/2nd/e-main/components/tab-section/items/content/bookmark-1-3-min.png", alt="生鮮X鍋具 1212")

          li.content__box.clearfix
            .content__item
              a(href="https://www.etmall.com.tw/p/78160", title="Adidas運動鞋")
                img(src="~event/2nd/e-main/components/tab-section/items/content/bookmark-2-1-min.png", alt="Adidas運動鞋")
            .content__item
              a(href="https://www.etmall.com.tw/np/87209", title="流行內衣")
                img(src="~event/2nd/e-main/components/tab-section/items/content/bookmark-2-2-min.png", alt="流行內衣")
            .content__item
              a(href="https://www.etmall.com.tw/np/84080", title="LV x GUCCI")
                img(src="~event/2nd/e-main/components/tab-section/items/content/bookmark-2-3-min.png", alt="LV x GUCCI")

          li.content__box.clearfix
            .content__item
              a(href="https://www.etmall.com.tw/p/87105", title="歐舒丹送好禮")
                img(src="~event/2nd/e-main/components/tab-section/items/content/bookmark-3-1-min.png", alt="歐舒丹送好禮")
            .content__item
              a(href="https://www.etmall.com.tw/np/87674", title="杏輝特談1212")
                img(src="~event/2nd/e-main/components/tab-section/items/content/bookmark-3-2-min.png", alt="杏輝特談1212")
            .content__item
              a(href="https://www.etmall.com.tw/p/87617", title="Dr's Formula")
                img(src="~event/2nd/e-main/components/tab-section/items/content/bookmark-3-3-min.png", alt="Dr's Formula")

          li.content__box.clearfix
            .content__item
              a(href="https://www.etmall.com.tw/XML/content/DMSetting/Final/201912/SP_1114228/w/index.html", title="華碩筆電")
                img(src="~event/2nd/e-main/components/tab-section/items/content/bookmark-4-1-min.png", alt="華碩筆電")
            .content__item
              a(href="https://www.etmall.com.tw/XML/content/DMSetting/Final/201912/SP_1114291/w/index.html", title="手機報你知")
                img(src="~event/2nd/e-main/components/tab-section/items/content/bookmark-4-2-min.png", alt="手機報你知")
            .content__item
              a(href="https://www.etmall.com.tw/XML/content/DMSetting/Final/201911/SP_1114250/w/index.html", title="日立送1500提貨券")
                img(src="~event/2nd/e-main/components/tab-section/items/content/bookmark-4-3-min.png", alt="日立送1500提貨券")
