// ==========================================================================
// Animations -- 較像程式碼所以用.scss保留{ }，用mixin型態可保證沒有用到的不會dist出去
// ==========================================================================
@mixin key-show-hide($from: 0, $to: 1, $key-show-hide: key-show-hide) {
  @keyframes #{$key-show-hide} {
    from {
      opacity: $from;
    }
    to {
      opacity: $to;
    }
  }
}

@mixin key-rotate-self($degree, $key-rotate-self: key-rotate-self) {
  @keyframes #{$key-rotate-self} {
    to {
      transform: rotate($degree + deg);
    }
  }
}

@mixin key-rotate-from-to($from-degree, $to-degree, $key-rotate-from-to: key-rotate-from-to) {
  @keyframes #{$key-rotate-from-to} {
    from {
      transform: rotate($from-degree + deg);
    }
    to {
      transform: rotate($to-degree + deg);
    }
  }
}

@mixin key-wind-rotate($rotare-degree, $skew-degree, $key-wind-rotate: key-wind-rotate) {
  @keyframes #{$key-wind-rotate} {
    20% {
      transform: rotate3d(0, 0, 1, $rotare-degree + deg) skew($skew-degree + deg);
    }
    40% {
      transform: rotate3d(0, 0, 1, -($rotare-degree * 0.8) + deg) skew( -($skew-degree * 0.8) + deg);
    }
    60% {
      transform: rotate3d(0, 0, 1, ($rotare-degree * 0.4) + deg) skew(($skew-degree * 0.4) + deg);
    }
    80% {
      transform: rotate3d(0, 0, 1, -($rotare-degree * 0.2) + deg) skew(-($skew-degree * 0.2) + deg);
    }
    to {
      transform: rotate3d(0, 0, 1, 0deg);
    }
  }
}

@mixin key-fade-right {
  @keyframes key-fade-right {
    from {
      opacity: 0;
      transform: translate3d(100%, 0, 0);
    }
    to {
      opacity: 1;
      transform: translate3d(0, 0, 0);
    }
  }
}

@mixin key-fade-top {
  @keyframes key-fade-top {
    from {
      opacity: 0;
      transform: translate3d(0, -100%, 0);
    }
    to {
      opacity: 1;
      transform: translate3d(0, 0, 0);
    }
  }
}

@mixin key-marquee-y {
  @keyframes key-marquee-y {
    from {
      transform: translateY(1.3em)
    }
    to {
      transform: translateY(-100%)
    }
  }
}

@mixin key-marquee-x {
  @keyframes key-marquee-x{
    from {
      left: 100%;
      transform: translateX(0);
    }
    to {
      left: 0;
      transform: translateX(-100%);
    }
  }
}

@mixin key-fall-turn ($top-start, $top-final, $key-fall-turn: key-fall-turn){
  @keyframes #{$key-fall-turn} {
    from {
      top: $top-start;
      transform: rotate(15deg);
    }
    80% {
      top: $top-final;
      transform: rotate(-10deg);
    }
    84% {
      top: $top-final;
      transform: rotate(-9deg);
    }
    86% {
      top: $top-final;
      transform: rotate(-8deg);
    }
    88% {
      top: $top-final;
      transform: rotate(-7deg);
    }
    90% {
      top: $top-final;
      transform: rotate(-6deg);
    }
    92% {
      top: $top-final;
      transform: rotate(-5deg);
    }
    to {
      top: $top-final;
      transform: rotate(0);
    }
  }
}

@mixin key-shake-self-x($degree, $key-shake-self: key-shake-self-x) {
  @keyframes #{$key-shake-self} {
    from {
      transform: translateX(-$degree);
    }
    to {
      transform: translateX($degree);
    }
  }
}

@mixin key-shake-self-y($degree, $key-shake-self: key-shake-self-y) {
  @keyframes #{$key-shake-self} {
    from {
      transform: translateY(-$degree + px);
    }
    to {
      transform: translateY($degree + px);
    }
  }
}

@mixin key-bg-pos($posX, $posY,  $key-bg-pos: key-bg-pos) {
  @keyframes #{$key-bg-pos} {
    to {
      background-position: $posX, $posY;
    }
  }
}
// @keyframes crown-fall {
//   0% {
//     transform: translate(0, -400px) rotate(60deg);
//   }
//   100% {
//     transform: translate(0, 0) rotate(0);
//   }
// }

@keyframes flash-burst {
  0% {
    filter: brightness(100%);
  }
  2% {
    filter: brightness(200%) contrast(120%);
  }
  4% {
    filter: brightness(100%);
  }
  8% {
    filter: brightness(200%) contrast(120%);
  }
  10% {
    filter: brightness(100%);
  }
  100% {
    filter: brightness(100%);
  }
}


/* 摩天輪 */
@keyframes ferris-rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* 車 */
@keyframes car-move {
  from {
    left: 150%;
  }
  to {
    left: -50%;
  }
}