//- IE9用下方舊輪播，並清除navi-arrow樣式(舊輪播不支援)，IE10up與現代瀏覽器用上方新輪播

<!--[if !IE]><!-->
<link id="sliderCss" rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Swiper/4.5.0/css/swiper.min.css">
//- 5.0
//- <link id="sliderCss" rel="stylesheet" href="https://unpkg.com/swiper/css/swiper.min.css">

<!--<![endif]-->
<!--[if IE 9]>
<link id="sliderCss" rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Swiper/2.7.6/idangerous.swiper.min.css">
<style>.swiper-button-prev{display: none;}.swiper-button-next{display: none;}</style>
<![endif]-->