.deoration--background
  +pos-set(absolute !important, zero, 13%, 0)
  pointer-events: none

.decoration__wrap
  width: 100%
  height: 455px

.decoration__item
  width: 100%
  height: 100%
  img
    +pos-set(relative, zero, 0, 50%)
    width: auto
    transform: translateX(-50%)
  