section.promo__group.promo__group--bn-section.m-bottom--md(data-title="邱比特")
  .layout--main
    .promo__decor.full-parent
      .decor__item#decorBnSection
        img(src="event/2nd/e-main/components/bn-section/decor-bn-section.png", alt="")
    .promo__wrap
      .promo__zone
        .promo__block#bnSectionSecond
          .promo__box
            a(href="https://m.etmall.com.tw/Activity/Lottery/4948f7299bfe34ca6ea3da99328d1c56") 
              img(src="event/2nd/e-main/components/bn-section/heart-left.png", alt="")
          .promo__box
            a(href="https://m.etmall.com.tw/Activity/Lottery/4948f7299bfe34ca6ea3da99328d1c56") 
              img(src="event/2nd/e-main/components/bn-section/cupid.png", alt="")
          .promo__box
            a(href="https://m.etmall.com.tw/Activity/Lottery/4948f7299bfe34ca6ea3da99328d1c56") 
              img(src="event/2nd/e-main/components/bn-section/heart-right.png", alt="")

        //- #sliderMidMorePrev.swiper-button-white.swiper-button-prev.mid-more__nav.mid-more__nav--prev
        //- #sliderMidMoreNext.swiper-button-white.swiper-button-next.mid-more__nav.mid-more__nav--next
      //- #sliderMidMorePager.mid-more__pager.swiper-pagination