// ==========================================================================
// Shape
// ==========================================================================
.shape--capsule
  +capsule-set

.shape--active
  padding: 15px 10px
  width: 100%
  border-radius: 8px
  font-size: 16px
  font-weight: bold
// Shape style
// ==========================================================================
.capsule--gradient
  color: $gray-deep-light
  background: $main-gradient

.capsule--gray
  color: $gray-deep-light
  background-color: $gray-medium

.capsule-border--main
  color: $main-medium
  border: 1px solid $main-medium

.capsule--main
  color: $gray-deep-light
  background-color: $main-medium

