section.promo__group.promo__group-hot(data-title="熱門活動")
  .promo__wrap
    #sliderBnEventHot.promo__slider.swiper-container
      .swiper-wrapper
        li.swiper-slide
          a(href="https://www.etmall.com.tw/XML/content/DMSetting/Final/202005/SP_1115475/w/index.html", title="美妝年中盛典618起")
            img(src="~event/2nd/e-main-618/components/bn-event-hot/items/bn-hot-1.jpg", alt="美妝年中盛典618起")
        li.swiper-slide
          a(href="https://www.etmall.com.tw/XML/content/DMSetting/Final/202005/SP_1115480/w/index.html", title="可口可樂狂歡買額贈禮")
            img(src="~event/2nd/e-main-618/components/bn-event-hot/items/bn-hot-2.jpg", alt="可口可樂狂歡買額贈禮")
        li.swiper-slide
          a(href="https://www.etmall.com.tw/XML/content/DMSetting/Final/202006/SP_1115539/w/index.html", title="買家電抽Switch Lite")
            img(src="~event/2nd/e-main-618/components/bn-event-hot/items/bn-hot-3.jpg", alt="買家電抽Switch Lite")
        li.swiper-slide
          a(href="https://www.etmall.com.tw/XML/content/DMSetting/Final/202006/SP_1115639/w/index.html", title="滿額再送$888")
            img(src="~event/2nd/e-main-618/components/bn-event-hot/items/bn-hot-4.jpg", alt="滿額再送$888")
        li.swiper-slide
          a(href="https://www.etmall.com.tw/XML/content/DMSetting/Final/202006/SP_1115655/w/index.html", title="指定商品好禮贈")
            img(src="~event/2nd/e-main-618/components/bn-event-hot/items/bn-hot-5.jpg", alt="指定商品好禮贈")
        li.swiper-slide
          a(href="https://www.etmall.com.tw/XML/content/DMSetting/Final/202005/SP_1115451/w/index.html", title="Acer筆電抽PS4再送幣")
            img(src="~event/2nd/e-main-618/components/bn-event-hot/items/bn-hot-6.jpg", alt="Acer筆電抽PS4再送幣")
        li.swiper-slide
          a(href="https://www.etmall.com.tw/XML/content/DMSetting/Final/202005/SP_1115478/w/index.html", title="居家推薦 最高回饋20%")
            img(src="~event/2nd/e-main-618/components/bn-event-hot/items/bn-hot-7.jpg", alt="居家推薦 最高回饋20%")
        li.swiper-slide
          a(href="https://www.etmall.com.tw/np/102166", title="服飾內衣熱銷榜5折up")
            img(src="~event/2nd/e-main-618/components/bn-event-hot/items/bn-hot-8.jpg", alt="服飾內衣熱銷榜5折up")
    #sliderBnEventHotPager.promo-pager.swiper-pagination