section.promo__group.promo__group--bn-section-2.m-bottom--md(data-title="幸運遊戲")
  .layout--main
    .decor__wrap.full-parent
      .decor__item.decor__item--title#titleBnSection2
        img(src="event/3rd/e-main/components/bn-section-2/title-bn-section-2.png", alt="")
      .decor__item.decor__item--wing#decorBnSection2Wing
        img(src="event/3rd/e-main/components/bn-section-2/decor-bn-2.png", alt="")
      .decor__item.decor__item--left#decorBnSection2Left
        img(src="event/3rd/e-main/components/bn-section-2/decor-bn-2-left.png", alt="")
    .promo__wrap
      .promo__zone
        .promo__block
          .promo__box
            a(href="") 
              img(src="event/3rd/e-main/components/bn-section-2/bn-section-2.gif", alt="")