.promo__group--bn-section-2
  overflow: hidden
  .decor__wrap
    +pos-set(relative, base)
    padding-bottom: 16.5%
    +breakpoint-min($min-width-xl)
      padding-bottom: 160px
  .decor__item
    &--title
      +pos-set(absolute, base, 1%, 29%)
      width: 55%
      +breakpoint-min($min-width-xl)
        top: 10px
        left: calc(50% - 200px)
    &--wing
      +pos-set(absolute, zero, 26%, 2.5%)
      width: 95%
      +breakpoint-min($min-width-xl) 
        top: 50px
        left: calc(50% - 458px)
    &--left
      +pos-set(absolute,zero, 0%, 15%)
      width: 22%
      +breakpoint-min($min-width-xl)
        left: calc(50% - 350px)
    +breakpoint-min($min-width-xl)
      width: auto
  .promo__wrap
    +bg-set(url("~event/3rd/e-main/components/bn-section-2/bg-bn-section-2.png"), 100%)
    .promo__zone
      +aspect-ratio(946, 519)
      .promo__block
        padding: 3.5% 5.5% 0
        .promo__box
          cursor: pointer
          &:hover
            transition: all 0.6s ease
            transform: translateY(-.5%)
            filter: brightness(1.1)
          +breakpoint-min($min-width-xl)
            img
              width: 100%