section.hero
  .layout--main
    .hero__wrap
      .hero__zone
        .hero__title
          .hero__title--decor
            //- .decor__item
            //-   img(src="event/2nd/e-main/components/hero-section/hero-item.png" alt="")
            .decor__figure
              img(src="event/2nd/e-main/components/hero-section/hero-figure.png" alt="")
          .hero__title--main
            a(href="https://www.etmall.com.tw/member/taskActivity" class="js--changeLink") 
              img(src="event/2nd/e-main/components/hero-section/title-main.png" alt="母親節")



          //- .hero__title--sun


