section.promo__group.bn-section-2.m-bottom--lg(data-title="免費遊戲")
  .layout--main
    .decor__wrap.full-parent
      .decor__item.decor__item--left#decorBn2Left
        img(src="event/1st/e-main/components/bn-section-2/decor-bn-2-left.png", alt="")
      .decor__item.decor__item--right#decorBn2Right
        img(src="event/1st/e-main/components/bn-section-2/decor-bn-2-right.png", alt="")
    .promo__wrap
      .promo__zone
        .promo__block
          .promo__box
            a(href="https://www.etmall.com.tw/Activity/dl/LuckyDraw/61b74b3030c8ba37df6f188ab0053f98") 
              img(src="event/1st/e-main/components/bn-section-2/bn-section-2.png", alt="")