section.promo__group.promo__group--dynamic-slider.m-bottom--sm(data-title="聰明消費")
  .layout--main
    .promo__title.block--center.text--center
      img(src="~event/1st/e-main/components/dynamic-slider/title-dynamic-slider.png", alt="99聰明消費")

    .promo__wrap
      #sliderDynamic.promo__slider.swiper-container
        .swiper-wrapper

      #sliderDynamicPager.dynamic-slider-pager.swiper-pagination

//- data-dynamic.js在assets資料夾內、由index.pug外連過去