.promo__group--tab
  .tab__wrap
    +display-flex
    //+bg-set(url("~event/1st/e-main/components/tab-slider-section/bg-tab-m.png"), 99%)
    position: relative
    z-index: 1
    display: block
    height: 133vw
    .tab__zone
      padding: 0
      width: 90%
      height: 15vw
      .tab__box
        +display-flex
        flex-wrap: wrap
        justify-content: center
        position: relative
        top: 5.5vw
        left: 4.5vw
        padding: 0px 17%
    .content__zone
      position: relative
      top: 0
      //+display-flex
      +flex(0, 1, 100%)
      padding: 3% 0 2% 0
      .content__block
        width: 100%
        height: 100%
      .wt--80
        padding: 0 21%
        width: 80%
        margin: 0 auto
      .slider__tab
        position: relative
        top: 0
        padding-bottom: 7vw
      .swiper-slider-dot
        bottom: 1.5vw
        .swiper-pagination-bullet
          width: 2vw
          height: 2vw
          max-width: 12px
          max-height: 12px
          margin: 0 2px
          background-color: #333333
          opacity: .5
          &.swiper-pagination-bullet-active
            background-color: #000
          +breakpoint-min($min-width-xl)
            width: 16px
            height: 16px
            margin: 0 6px

  .tab__item
    // +flex(0, 0, 25%)
    padding: 0 .2%
    width: 24%
    cursor: pointer
    img
      &:first-child
        display: block
      &:last-child
        display: none
    &.active
      img
        &:first-child
          display: none
        &:last-child
          display: block
    &:active,
    &:hover
      filter: brightness(120%)
    &.active
      &:active,
      &:hover
        filter: brightness(100%)

  .content__box
    display: none
    position: relative
    top: 1vw
    height: auto
    &.active
      display: block
    .content__item
      padding: 0
      //width: 30%
      //margin: .5% .7%
      margin: 0
      img
        display: block
        padding: 1% 6%
        text-align: center
        margin: 0 auto

      //+bg-set(url("~event/1st/e-main/components/tab-slider-section/items/tab/tab-bg-frame.png"), 100% auto)
      &:active,
      &:hover
        filter: contrast(150%)
      a
        &:first-child
          margin-left: -2%

  .slider__text
    width: 53%
    margin: 0 auto
    font-size: 3vw
    //height: 57vw
    .slider__title
      color: #550000
      font-weight: 700
    .slider__article
      margin-bottom: 1vw
      &.limit__height
        max-height: 30vw
        overflow-y: hidden
  .activityBtn
    img
      //position: absolute
      //bottom: -12vw
      //width: 43%
      //left: 50%
      //transform: translateX(-50%)
      width: 75%
      display: block
      text-align: center
      margin: 0 auto
  .slideBar
    width: 75%
    display: block
    text-align: center
    margin: 0 auto

  .slider__tab__nav--prev, .slider__tab__nav--next
    top: 13vw
    width: 7vw
    height: 13vw
    background-size: 7vw 13vw
    opacity: 0
  .slider__tab__nav--prev
    left: 24vw
  .slider__tab__nav--next
    right: 24vw
  +breakpoint-min($min-width-lg)
    .slider__tab__nav--prev, .slider__tab__nav--next
      top: 9vw
  +breakpoint-min($min-width-xl)
    .tab__wrap
      display: block
      height: 815px
      margin-top: 52px
      .tab__zone
        width: 100%
        height: 95px
        .tab__box
          +display-flex
          flex-wrap: wrap
          justify-content: center
          top: 0
          left: calc(50% - 480px)
      .content__zone
        margin: auto
        padding: 0 1%
        width: 100%
        .content__box
          top: 10px
          padding: 0 2%
          .content__item
            img
              padding: 0
        .slider__tab
          padding-bottom: 35px
          margin-top: 5%
        .wt--80
          padding: 0 19%
        .swiper-slider-dot
          bottom: 0
    .tab__item
      // +flex(0, 0, 25%)
      //padding: 0
      width: auto
      img
        margin: 0 auto

    .content__box
      padding: 5px 20px 15px
      .content__item
        width: 60%
    .slider__text
      width: 53%
      font-size: 22px
      .slider__article
        margin-bottom: 10px
        font-size: 16px
        &.limit__height
          max-height: 288px
    .activityBtn
      img
        width: auto
    .slideBar
      width: auto
    .slider__tab__nav--prev, .slider__tab__nav--next
      top: 125px
      width: 27px
      height: 44px
      background-size: 27px 44px
    .slider__tab__nav--prev
      left: calc(50% - 230px)
    .slider__tab__nav--next
      right: calc(50% - 230px)





