.rule__block
  .rule__box
    +bg-set(url(event/1st/e-main/pages/index/bg-section.png), 100%, null, null, repeat)
  .rule__figure
    ul
      display: flex
      flex-wrap: wrap
      justify-content: space-between
    li
      flex: 0 0 33.33%

  .rule__note
    li
      list-style: disc
      margin-left: 32px
      &:last-child
        margin-bottom: 0





