.rule__wrap.m-bottom--xl
  .layout--main
    .rule__block
      .decor__top
        img(src="event/1st/e-main/components/rule/decor-rule-top.png", alt="")
      .rule__box.p-horizontal--lg
        .rule__figure.p-horizontal--lg.m-bottom--sm
          ul
            li
              .rule__rank(title="第一名獎項")
                img(src="event/1st/e-main/components/rule/items/rule-1.png", alt="第一名獎項")
            li
              .rule__rank(title="第二名獎項")
                img(src="event/1st/e-main/components/rule/items/rule-2.png", alt="第二名獎項")
            li
              .rule__rank(title="第三名獎項")
                img(src="event/1st/e-main/components/rule/items/rule-3.png", alt="第三名獎項")

        .rule__note.p-horizontal--lg
          h2.font--title-sm.m-bottom--xs 6/13 – 6/18可擇一隊伍加入(加入後不可換隊)
          ul.font--article
            li.m-bottom--xs 累積消費金額第一名的隊伍，可瓜分70萬樂透金
            li.m-bottom--xs 累積消費金額第二名的隊伍，可瓜分50萬東森幣
            li.m-bottom--xs 累積消費金額第三名的隊伍，依個人於隊伍中消費占比前5名可獲得價值萬元獎品
            li.m-bottom--xs 獲得之回饋依個人於隊伍中消費占比計算
            li.m-bottom--xs 累積消費金額計算時間：6/18 00：00 - 23：59

      .decor__bottom
        img(src="event/1st/e-main/pages/index/decor-section-bottom.png", alt="")


