-
  var w4m2DataE = [
  {
    link: "https://www.etmall.com.tw/np/64075",
    imgSrc: "~event/2nd/e-main/components/event-w4m4/items/special-1.png",
    alt: "話題美妝"
  },
  {
    link: "https://www.etmall.com.tw/np/93807",
    imgSrc: "~event/2nd/e-main/components/event-w4m4/items/special-2.png",
    alt: "健康法寶"
  },
  {
    link: "https://www.etmall.com.tw/c2/138366",
    imgSrc: "~event/2nd/e-main/components/event-w4m4/items/special-3.png",
    alt: "realme回饋"
  },
  {
    link: "https://www.etmall.com.tw/XML/content/DMSetting/Final/202002/SP_1114842/w/index.html",
    imgSrc: "~event/2nd/e-main/components/event-w4m4/items/special-4.png",
    alt: "豪禮狂送"
  },
  {
    link: "https://www.etmall.com.tw/XML/content/DMSetting/Final/202002/SP_1114800/w/index.html",
    imgSrc: "~event/2nd/e-main/components/event-w4m4/items/special-5.png",
    alt: "春遊野餐"
  },
  {
    link: "https://www.etmall.com.tw/np/93985",
    imgSrc: "~event/2nd/e-main/components/event-w4m4/items/special-6.png",
    alt: "流行精選"
  },
  {
    link: "https://www.etmall.com.tw/XML/content/DMSetting/Final/202001/SP_1114687/w/index.html",
    imgSrc: "~event/2nd/e-main/components/event-w4m4/items/special-7.png",
    alt: "防疫清淨機"
  },
  {
    link: "https://www.etmall.com.tw/XML/content/DMSetting/Final/202003/SP_1114849/w/index.html",
    imgSrc: "~event/2nd/e-main/components/event-w4m4/items/special-8.png",
    alt: "旅遊38折up"
  },
  ]

- var w4m2DataU = [{link: "https://www.u-mall.com.tw/c1/45051", imgSrc: "~event/2nd/u-main/components/event-w4m4/items/special-1.png", alt: "開架保養"}, {link: "https://www.u-mall.com.tw/np/73924", imgSrc: "~event/2nd/u-main/components/event-w4m4/items/special-2.png", alt: "關鍵保健"}, {link: "notyet", imgSrc: "~event/2nd/u-main/components/event-w4m4/items/special-3.png", alt: "notyet"}, {link: "https://www.u-mall.com.tw/XML/content/DMSetting/Final/202002/SP_1106075/w/index.html", imgSrc: "~event/2nd/u-main/components/event-w4m4/items/special-4.png", alt: "豪禮狂送"}, {link: "https://www.u-mall.com.tw/XML/content/DMSetting/Final/202002/SP_1106076/w/index.html", imgSrc: "~event/2nd/u-main/components/event-w4m4/items/special-5.png", alt: "女王家居"}, {link: "https://www.u-mall.com.tw/np/77121", imgSrc: "~event/2nd/u-main/components/event-w4m4/items/special-6.png", alt: "流行精選"}, {link: "notyet", imgSrc: "~event/2nd/u-main/components/event-w4m4/items/special-7.png", alt: "notyet"}, {link: "https://www.u-mall.com.tw/XML/content/DMSetting/Final/202002/SP_1106001/w/index.html", imgSrc: "~event/2nd/u-main/components/event-w4m4/items/special-8.png", alt: "Fun心出遊"}, ]

- var w4m2Data = isU? w4m2DataU : w4m2DataE


section.promo__group.promo__group--w4m4.m-bottom--lg(data-title="分館活動")
  .layout--main
    //- .promo__title.block--center.m-bottom--xs(data-title="a4")
    //-   img.lazyload(data-src="section-bn-05.png", src="~utils/img/1x1_low.png", alt="秋賞獻禮")
    .promo__wrap
      ul.good__wrap
        each data in w4m2Data
          li
            a(href= data.link, title= data.alt)
              img(src= data.imgSrc, alt= data.alt)