-
  var promoEventData = [
    [
      {
        link: "https://media.etmall.com.tw/sp/18801/m/index.html",
        imgSrc: "event/2nd/e-main/components/promo-event/items/item-p-event-1.png",
        alt: "全家取件送中冰拿+東森幣60元",
      },
    ],
    [
      {
        link: "https://www.etmall.com.tw/Activity/GroupSale",
        imgSrc: "event/2nd/e-main/components/promo-event/items/item-p-event-2.png",
        alt: "幸福集氣購",
      },
    ],
    [
      {
        link: "https://media.etmall.com.tw/sp/18753/m/index.html",
        imgSrc: "event/2nd/e-main/components/promo-event/items/item-p-event-3.png",
        alt: "不限金額消費送必勝客&KFC優惠券",
      },
    ],
    [
      {
        link: "https://www.etmall.com.tw/Activity/Reg/220",
        imgSrc: "event/2nd/e-main/components/promo-event/items/item-p-event-4.png",
        alt: "全站消費不限金額抽商品1折券",
      },
    ],
    [
      {
        link: "https://www.etmall.com.tw/Activity/CollectPointExchangeActivity/202208c68e60de",
        imgSrc: "event/2nd/e-main/components/promo-event/items/item-p-event-5.png",
        alt: "集點換豪禮",
      },
    ],
    [
      {
        link: "https://media.etmall.com.tw/sp/18779/m/index.html",
        imgSrc: "event/2nd/e-main/components/promo-event/items/item-p-event-6.png",
        alt: "離島配送滿$1,010贈50枚樂透金",
      },
    ],
    [
      {
        link: "https://www.etmall.com.tw/Activity/Reg/220",
        imgSrc: "event/2nd/e-main/components/promo-event/items/item-p-event-7-1.png",
        alt: "全站消費滿額抽安晴氣炸鍋",
      },
      {
        link: "https://m.etmall.com.tw/Activity/Lottery/d697b99f78a9fcceb18d874bc083fba6",
        imgSrc: "event/2nd/e-main/components/promo-event/items/item-p-event-7-2.png",
        alt: "消費滿額抽全家$50購物金",
      },
      {
        link: "https://www.etmall.com.tw/member/taskActivity",
        imgSrc: "event/2nd/e-main/components/promo-event/items/item-p-event-7-3.png",
        alt: "挑戰任務拿$820",
      },
      {
        link: "https://www.etmall.com.tw/Activity/dl/VoteActivityMethod/42",
        imgSrc: "event/2nd/e-main/components/promo-event/items/item-p-event-7-4.png",
        alt: "2022金萌獎投票開跑",
      },
    ],
    [
      {
        link: "https://www.etmall.com.tw/gp/168840",
        imgSrc: "event/2nd/e-main/components/promo-event/items/bn-p-event-1.jpg",
        alt: "為健康打底 箱購滴雞精65折up",
      },
      {
        link: "https://media.etmall.com.tw/sp/18683/m/index.html",
        imgSrc: "event/2nd/e-main/components/promo-event/items/bn-p-event-2.jpg",
        alt: "傢寢慶週年Let's購",
      },
      {
        link: "https://www.etmall.com.tw/gp/180911",
        imgSrc: "event/2nd/e-main/components/promo-event/items/bn-p-event-3.jpg",
        alt: "隨身瓶愛地球指定品6折起",
      },
      {
        link: "https://media.etmall.com.tw/sp/18867/m/index.html",
        imgSrc: "event/2nd/e-main/components/promo-event/items/bn-p-event-4.jpg",
        alt: "十月話題清潔品",
      },
      {
        link: "https://www.etmall.com.tw/gp/124090",
        imgSrc: "event/2nd/e-main/components/promo-event/items/bn-p-event-5.jpg",
        alt: "醫美週慶下殺50%",
      },
      //- {
      //-   link: "https://media.etmall.com.tw/sp/17446/m/index.html",
      //-   imgSrc: "event/2nd/e-main/components/promo-event/items/bn-p-event-6.png",
      //-   alt: "安卓旗艦",
      //- },
      {
        link: "https://media.etmall.com.tw/sp/18739/m/index.html",
        imgSrc: "event/2nd/e-main/components/promo-event/items/bn-p-event-7.jpg",
        alt: "RO仙境傳說愛如初見",
      },
    ],
  ]

//- TODO: 如果promo不和hero綁一起時要有自己的section和layout--main
section.promo__group.promo-event.m-bottom--lg
  .layout--main
    .promo__wrap
      .promo__zone
        .promo__block
          ul.promo__box
            each data, index in promoEventData
              li.event__item(id="promoEventItem" + (index + 1))
                .swiper-container.container--promo-event
                  ul.swiper-wrapper
                    each item, itemIndex in  data
                      li.swiper-slide.promo__item
                        a(href=  item.link, title= item.alt)
                          img(src=  item.imgSrc,  item.alt)