//- 遊戲區
section#game1.promo__group.promo__group--left-right.m-bottom--sm(data-title="")
  .layout--main
    #decoLeftRightSection.promo__target
      .title__decoration
        img(src="event/1st/e-main/components/left-right-section/icon-game.png", alt="")

    .promo__wrap
      .block--left
        .item__box
          a(href="https://m.etmall.com.tw/Activity/Lottery/202106_f7f1f5494e75f0d0e6d5c106aab1e518", title="幸運拉霸")
            img(src="event/1st/e-main/components/left-right-section/game-left.png", alt="幸運拉霸" )
      .block--right
        #rightChange.item__box
          a#rightChangeAnchor(href="https://www.etmall.com.tw/Activity/dl/LuckyDraw/ccc2a58b76237c053f4f96797e6a0b31", title="整點搶紅包|百萬大放送")
            img(src="event/1st/e-main/components/left-right-section/game-right-0.png", alt="整點搶紅包|百萬大放送")

