.promo__group--bn
  +pos-set(relative, zero)
  .promo__title
    +pos-set(relative)
    padding-bottom: 2.5%
  .title__decoration
    +pos-set(absolute, zero, 0, 0)
    width: 100%
    text-align: center
  .promo__wrap
    +aspect-ratio(960, 880)
  .promo__zone
    +pos-set(relative, zero)
    padding: 49% 6% 0
    +bg-set(url(event/2nd/e-main/components/bn-slider/bg-bn-slider.png), 100%)
    text-align: center
    // .promo__bn
    //   margin-bottom: 1.5%
    .promo__slider
      +aspect-ratio(885, 407)
    .slide__group
      display: flex
      justify-content: space-between
      height: 100%
      a
        width: 31.5%
        text-align: center
        transition: all 0.5s

    a
      &:hover,
      &:active
        filter: brightness(105%) contrast(105%)

  +breakpoint-min($min-width-xl)
    .promo__zone
      padding: 470px 55px 0
      // .promo__bn
      //   margin-bottom: 20px



