//- TODO: 打開雙月選項切換雙月(預設單月)
- var isEven = true
//- TODO: 打開2號電梯選項切換第二組電梯(預設第一組)
- var isSecond = false
//- TODO: 打開u-mall選項會自動轉換成U的logo和連結、電梯(預設etmall)
//-- var isU = true

//- 如果放在hero-section會出現重load的感覺
//include /event/1st/e-main/components/bg-decoration/_bg-decoration

main#spWrap.sp__wrap.sp__wrap--e
  //include /layout/header/_header
  //- #parallaxBg.parallax__background
  //- .parallax__background

  //- hero section
  //- ===========================
  include /event/1st/e-main/components/hero-section/_hero-section
  include /event/1st/e-main/components/tab-section/_tab-section.pug
  .records__wrap
    img(src="~event/1st/e-main/pages/index/2but-2.png")
    .open-bigPhoto.css-award__number(data-dialog="award__number")
    .open-bigPhoto.css-record__pop(data-dialog="record__pop")
  //- other components 彈出視窗
  //- ===========================
#content__detail.open--window--wrap.pop--images.pop-content__detail
  img.title(src="~event/1st/e-main/components/hero-section/w_note.png")
  hr.line
  .content
    h3 活動時間
    p 2021農曆春節期間。2021/02/09(二) 20:00－2021/02/20(六)19:59
    h3 開獎日期
    p(style="color: red;") 依照台灣彩券大樂透春節期間之開獎時間。

    h3 遊戲說明
    ul.list__style
      li 可於東森購物App註冊/登入成為會員後，於［打卡/遊戲］使用東森幣進行百萬大樂透遊戲，或電話進線透過專人進行系統快速下注。
      li 使用50枚東森幣即可下注「百萬大樂透」乙次。
      li App/網頁投注方式可自選號碼，或是系統選號：
        ul.ul__dot
          li 自行選號：在選號區中，自行從01~49的號碼中點選６個號碼進行投注。
          li 系統選號：在選號區中，點選「系統選號」，系統將隨機產生一組６個號碼。
      li 電話專人投注方式：會員電話進線後由專人依系統選號方式下注，下注完後系統即會發送簡訊於會員，取得投注號碼。
      li 開獎號碼依照台灣彩券大樂透春節期間每日開出之號碼。
        ul.ul__dot
          li 開獎單位將隨機開出六個號碼加一個特別號，這一組號碼就是該期大樂透的中獎號碼，也稱為「獎號」。您的六個選號中，如果有三個以上（含三個號碼）對中當期開出之六個號碼（特別號只適用於二獎、四獎、六獎和七獎），即為中獎，並可依規定兌領獎項。
          li 東森「百萬大樂透」的獎號僅供會員兌獎參考用，若與台灣彩券大樂透的獎號有異時，以台灣彩券公布的大樂透獎號為主。
      li 您可以在［投注紀錄］查詢到您的歷史投注紀錄與開獎狀態。
      li 本遊戲提供預購服務，您可點選欲預購的日期進行下注，預購後即扣款東森幣，並取得投注號碼，預購完成後無法取消與退回東森幣。
      li 獎項分配方式：
        ul.ul__dot
          li 獎金依會員投注之東森幣為總獎金，五獎至普獎係採固定獎項方式分配，頭獎至四獎之實際中獎項額係由總獎項扣除五獎至普獎後之餘額，再依下列獎項分配比率及實際中獎注數分配之。
        table.note__table
          thead
            tr
              th(style="width: 10%") 獎項
              th(style="width: 55%") 中獎方式
              th(style="width: 35%" colspan=2) 獎項
          tbody
            tr
              td 頭獎
              td 與當期六個號碼完全相同者
              td(rowspan=4) 提貨券
              td 82%分配 <br>
                span(style="color: red;") 保證一百萬
            tr
              td 二獎
              td 對中當期號碼之任五碼+特別號
              td 6.5%分配
            tr
              td 三獎
              td 對中當期號碼之任五碼
              td 7%分配
            tr
              td 四獎
              td 對中當期號碼之任四碼+特別號
              td 4.5%分配
            tr
              td 五獎
              td 對中當期號碼之任四碼
              td(rowspan=4) 東森幣
              td 2,000
            tr
              td 六獎
              td 對中當期號碼之任三碼+特別號
              td 1,000
            tr
              td 七獎
              td 對中當期號碼之任兩碼+特別號
              td 400
            tr
              td 普獎
              td 對中當期號碼之任三碼
              td 400
        ul.ul__dot
          li 如當期頭獎有人中獎，且當期頭獎分配加計上期頭獎累積獎項後，獎項仍未達價值一百萬元的東森提貨券時，當期頭獎獎項以一百萬元整的東森提貨券計算。
          li 頭獎至四獎開獎後若無人獲得各該獎項，其獎項將累積納入次期各該獎項。
      li 依稅法規定，若得獎人於東森購物兌換贈(獎)品金額達新台幣(下同)1,001元以上未達20,010元，將於次年初開立免扣繳憑單予得獎人並向主管稽徵機關申報；如達20,010元以上者，將於得獎人扣繳獎品價值10%(外國人20%)之機會中獎所得稅後，且出具繳款收款集中獎通知函後，東森購物始交付獎品並將於次年開立扣繳憑單予得獎人。
      li 各期獎項將於
        span(style="color:red") 2021/02/22(一)
        span 起統一派獎與兌獎。
        ul.ul__dot
          li 六獎至普獎獲得的東森幣，於系統發送匯入會員帳戶後起算期效，最長期效150天，凡於有效期限內皆可於東森購物指定通路（不含森森購物網）消費時選擇使用，亦可進行遊戲；逾期，自動無效。
          li 頭獎至四獎之得獎者，需進行兌獎流程，由專人與得獎者聯繫。
          li 頭獎之得獎者需至東森購物總公司(中和區景平路258號)參加贈獎儀式，並同意公開照片及影片至東森購物電視及粉絲專頁使用，若得獎者不克前往，將由東森購物工作人員代為領獎；贈獎儀式將視狀況擇日舉行，並另由專人通知。
      li 兌獎資格或獎項均不得要求轉讓他人、折合現金。
      li 獎項配送區域限臺灣本島地區（外、離島地區請利用臺灣親友地址作為收貨地址）。部分偏遠地區需加收額外運費（區域及實際運費由東森購物判定）。
      li 東森購物保有活動解釋、變更、修改或終止本活動之權利。


#award__number.open--window--wrap.pop--images.pop-content__detail
  img.title(src="~event/1st/e-main/components/hero-section/w_prize.png")
  hr.line
  .content
    p 東森「 百萬大樂透 」的獎項僅供會員兌獎參考用，若與台灣彩券大樂透號碼有異時，以台灣彩券公布的大樂透獎號為主
    //.table__wrap
    table.lotto__ticket
      thead
        tr
          th 東森大樂透旗別
          th 開獎日
      tbody
        tr
          td 01
          td 110/02/10
      thead
        tr
          th 獎項
          th 特別號
      tbody
        tr
          td 01 02 03 04 05 06
          td 08
    table.lotto__ticket
      thead
        tr
          th 東森大樂透旗別
          th 開獎日
      tbody
        tr
          td 01
          td 110/02/10
      thead
        tr
          th 獎項
          th 特別號
      tbody
        tr
          td 01 02 03 04 05 06
          td 08
#record__pop.open--window--wrap.pop--images.pop-content__detail
  img.title(src="~event/1st/e-main/components/hero-section/w_list.png")
  hr.line
  .content
    .table__record__wrap
      table.record__ticket
        thead
          tr
            th 東森大樂透 第一期
            th 開獎日期
        tbody
          tr
            td.lotto__num__style
              span 01
              span 02
              span 03
              span 04
              span 05
              span 06
            td.award__date__end 110/02/10 <br> 恭喜中獎
          tr
            td.lotto__num__style
              span 01
              span 02
              span 03
              span 04
              span 05
              span 49
            td.award__date__end 110/02/10 <br> 沒有中獎
    .table__record__wrap
      table.record__ticket
        thead
          tr
            th 東森大樂透 第二期
            th 開獎日期
        tbody
          tr
            td.lotto__num__style
              span 01
              span 02
              span 03
              span 04
              span 05
              span 06
            td.award__date 110/02/11 <br> 尚未中獎
    .table__record__wrap
      table.record__ticket
        thead
          tr
            th 東森大樂透 第一期
            th 開獎日期
        tbody
          tr
            td.lotto__num__style
              span 01
              span 02
              span 03
              span 04
              span 05
              span 06
            td.award__date__end 110/02/10 <br> 恭喜中獎
          tr
            td.lotto__num__style
              span 01
              span 02
              span 03
              span 04
              span 05
              span 49
            td.award__date__end 110/02/10 <br> 沒有中獎
//- script區
include /utils/pug/_total-script
script(src="popWindow.js")

