-
  var groupSliderDataE = [
    {
      itemLink: "https://www.etmall.com.tw/Activity/CouponPage/201",
      imgSrc: "~event/1st/e-main/components/group-slider/items/coupon-1.png",
      itemAlt: "MONS 現領$500折價券",
    },
    {
      itemLink: "https://www.etmall.com.tw/Activity/CouponPage/198",
      imgSrc: "~event/1st/e-main/components/group-slider/items/coupon-2.png",
      itemAlt: "內衣/塑身衣褲 領券再享85折",
    },
    {
      itemLink: "https://www.etmall.com.tw/Activity/CouponPage/203",
      imgSrc: "~event/1st/e-main/components/group-slider/items/coupon-3.png",
      itemAlt: "今生金飾 現領$500折價券",
    },
    {
      itemLink: "https://www.etmall.com.tw/Activity/CouponPage/202",
      imgSrc: "~event/1st/e-main/components/group-slider/items/coupon-4.png",
      itemAlt: "COACH x MK 領券現享92折 折價券",
    },
    {
      itemLink: "https://www.etmall.com.tw/Activity/CouponPage/205",
      imgSrc: "~event/1st/e-main/components/group-slider/items/coupon-5.png",
      itemAlt: "Simlife 領券再享88折",
    },
    {
      itemLink: "https://www.etmall.com.tw/Activity/CouponPage/206",
      imgSrc: "~event/1st/e-main/components/group-slider/items/coupon-6.png",
      itemAlt: "BWT(櫥下排除) 領券再享92折",
    },
    {
      itemLink: "https://www.etmall.com.tw/Activity/CouponPage/207",
      imgSrc: "~event/1st/e-main/components/group-slider/items/coupon-7.png",
      itemAlt: "UCC 指定品滿$400折$40",
    },
    {
      itemLink: "https://www.etmall.com.tw/Activity/CouponPage/204",
      imgSrc: "~event/1st/e-main/components/group-slider/items/coupon-8.png",
      itemAlt: "DEMON 領券最高現折$1000",
    },
    {
      itemLink: "https://www.etmall.com.tw/Activity/CouponPage/204",
      imgSrc: "~event/1st/e-main/components/group-slider/items/coupon-9.png",
      itemAlt: "MILDSKIN 登入領券享9折",
    },
    {
      itemLink: "https://www.etmall.com.tw/Activity/CouponPage/146",
      imgSrc: "~event/1st/e-main/components/group-slider/items/coupon-10.png",
      itemAlt: "日立 家電指定品折2222",
    },
    {
      itemLink: "https://www.etmall.com.tw/Activity/CouponPage/146",
      imgSrc: "~event/1st/e-main/components/group-slider/items/coupon-11.png",
      itemAlt: "國際 家電指定品折84折",
    },
    {
      itemLink: "https://www.etmall.com.tw/Activity/CouponPage/146",
      imgSrc: "~event/1st/e-main/components/group-slider/items/coupon-12.png",
      itemAlt: "電鬍三星 家電指定品折1000刀↘",
    },
    {
      itemLink: "https://www.etmall.com.tw/Activity/CouponPage/3",
      imgSrc: "~event/1st/e-main/components/group-slider/items/coupon-13.png",
      itemAlt: "UAG 指定品領券享88折",
    },
    {
      itemLink: "https://www.etmall.com.tw/Activity/CouponPage/3",
      imgSrc: "~event/1st/e-main/components/group-slider/items/coupon-14.png",
      itemAlt: "三星 Samsung領券折千",
    },
    {
      itemLink: "https://www.etmall.com.tw/Activity/CouponPage/208",
      imgSrc: "~event/1st/e-main/components/group-slider/items/coupon-15.png",
      itemAlt: "SanDisk 領券享88折",
    },
    {
      itemLink: "https://www.etmall.com.tw/Activity/CouponPage/208",
      imgSrc: "~event/1st/e-main/components/group-slider/items/coupon-16.png",
      itemAlt: "1MORE 領券享85折",
    },
    {
      itemLink: "https://www.etmall.com.tw/Activity/CouponPage/3",
      imgSrc: "~event/1st/e-main/components/group-slider/items/coupon-13.png",
      itemAlt: "UAG 指定品領券享88折",
    },
    {
      itemLink: "https://www.etmall.com.tw/Activity/CouponPage/3",
      imgSrc: "~event/1st/e-main/components/group-slider/items/coupon-14.png",
      itemAlt: "三星 Samsung領券折千",
    },
    {
      itemLink: "https://www.etmall.com.tw/Activity/CouponPage/208",
      imgSrc: "~event/1st/e-main/components/group-slider/items/coupon-15.png",
      itemAlt: "SanDisk 領券享88折",
    },
    {
      itemLink: "https://www.etmall.com.tw/Activity/CouponPage/208",
      imgSrc: "~event/1st/e-main/components/group-slider/items/coupon-16.png",
      itemAlt: "1MORE 領券享85折",
    },
  ]

-
  var groupSliderDataU = [
    {
      itemLink: "https://www.etmall.com.tw/XML/content/DMSetting/Final/209901/SP_1107517/w/index.html",
      imgSrc: "~event/1st/e-main/components/group-slider/items/coupon-1.png",
      itemAlt: "滿額送$300",
      couponLink: "",
    },
    {
      itemLink: "https://www.etmall.com.tw/XML/content/DMSetting/Final/209901/SP_1107517/w/index.html",
      imgSrc: "~event/1st/e-main/components/group-slider/items/coupon-2.png",
      itemAlt: "滿額送$300",
      couponLink: "",
    },
    {
      itemLink: "https://www.etmall.com.tw/XML/content/DMSetting/Final/209901/SP_1107517/w/index.html",
      imgSrc: "~event/1st/e-main/components/group-slider/items/coupon-3.png",
      itemAlt: "滿額送$300",
      couponLink: "",
    },
    {
      itemLink: "https://www.etmall.com.tw/XML/content/DMSetting/Final/209901/SP_1107517/w/index.html",
      imgSrc: "~event/1st/e-main/components/group-slider/items/coupon-4.png",
      itemAlt: "滿額送$300",
      couponLink: "",
    },
    {
      itemLink: "https://www.etmall.com.tw/XML/content/DMSetting/Final/209901/SP_1107517/w/index.html",
      imgSrc: "~event/1st/e-main/components/group-slider/items/coupon-5.png",
      itemAlt: "滿額送$300",
      couponLink: "",
    },
    {
      itemLink: "https://www.etmall.com.tw/XML/content/DMSetting/Final/209901/SP_1107517/w/index.html",
      imgSrc: "~event/1st/e-main/components/group-slider/items/coupon-6.png",
      itemAlt: "滿額送$300",
      couponLink: "",
    },
    {
      itemLink: "https://www.etmall.com.tw/XML/content/DMSetting/Final/209901/SP_1107517/w/index.html",
      imgSrc: "~event/1st/e-main/components/group-slider/items/coupon-7.png",
      itemAlt: "滿額送$300",
      couponLink: "",
    },
    {
      itemLink: "https://www.etmall.com.tw/XML/content/DMSetting/Final/209901/SP_1107517/w/index.html",
      imgSrc: "~event/1st/e-main/components/group-slider/items/coupon-8.png",
      itemAlt: "滿額送$300",
      couponLink: "",
    },
  ]

- var groupSliderData = isU ? groupSliderDataU : groupSliderDataE

section.promo__group.promo__group--group-item.m-bottom--md(data-title="品牌神券")
  .layout--main
    .promo__wrap
      #sliderGroup.promo__slider.swiper-container
        ul.swiper-wrapper
          each data, index in groupSliderData
            li.swiper-slide
              a(href= data.itemLink, title= data.alt)
                img.swiper-lazy(src= data.imgSrc, alt="")
                //- .swiper-lazy-preloader.swiper-lazy-preloader-black

      #sliderGroupPager.group__pager.swiper-pagination


