section.loyalty__wrap
  .layout--main
    .loyalty__block
      .card__wrap
        img(src="~event/1st/e-main/components/loyalty-card/loyalty-card.png", alt="我的集點卡")
      .point__wrap
        span#loyaltyPoint 9999
      .login__error.active
        span 請登入會員

