.promo__group--cover
  .info__cover
    display: none
    padding-bottom: 16.5%
    &.active
      display: block
  .info--web
    display: none

  .info--title
    margin-bottom: 2%
  a
    margin-left: auto
    margin-right: auto
    width: 80%
    transition: all 0.5s
    &:hover,
    &:active,
      transform: scale(1.05)

  +breakpoint-min($min-width-xl)
    .info__cover
      padding-bottom: 310px
    .info--mobile
      display: none
    .info--web
      display: block
      text-align: center

    .info__box
      margin-bottom: 65px
    .info--main
      display: flex
      a
        width: 50%
        &:first-child
          order: 1