-
  var promoEventData = [
    [
      {
        link: "https://media.etmall.com.tw/sp/16741/m/index.html",
        imgSrc: "event/1st/e-main/components/promo-event/items/item-p-event-1.png",
        alt: "7-ELEVEN 取件送中杯冰燕麥拿鐵",
      },
    ],
    [
      {
        link: "https://media.etmall.com.tw/sp/15925/m/index.html",
        imgSrc: "event/1st/e-main/components/promo-event/items/item-p-event-2-1.png",
        alt: "台灣Pay 最高回饋10%",
      },
      {
        link: "https://media.etmall.com.tw/sp/15748/m/index.html#zingala",
        imgSrc: "event/1st/e-main/components/promo-event/items/item-p-event-2-2.png",
        alt: "銀角零卡 最高回饋10%"
      },
      {
        link: "https://media.etmall.com.tw/sp/16506/m/index.html",
        imgSrc: "event/1st/e-main/components/promo-event/items/item-p-event-2-3.png",
        alt: "Atome 最高現折40%",
      },
      {
        link: "https://media.etmall.com.tw/sp/15748/m/index.html#esun",
        imgSrc: "event/1st/e-main/components/promo-event/items/item-p-event-2-4.png",
        alt: "玉山銀行 最高回饋10%",
      },
      {
        link: "https://media.etmall.com.tw/sp/15748/m/index.html#citi",
        imgSrc: "event/1st/e-main/components/promo-event/items/item-p-event-2-5.png",
        alt: "花旗銀行 最高回饋$1,200",
      },
      {
        link: "https://media.etmall.com.tw/sp/15748/m/index.html#AEP",
        imgSrc: "event/1st/e-main/components/promo-event/items/item-p-event-2-6.png",
        alt: "美國運通 最高回饋$600",
      },
    ],
    [
      {
        link: "https://media.etmall.com.tw/sp/16116/m/index.html",
        imgSrc: "event/1st/e-main/components/promo-event/items/item-p-event-3-1.png",
        alt: "新會員註冊 送$500",
      },
      {
        link: "https://www.etmall.com.tw/Activity/dl/LuckyDraw/61b74b3030c8ba37df6f188ab0053f98",
        imgSrc: "event/1st/e-main/components/promo-event/items/item-p-event-3-2.png",
        alt: "天天免費抽 累計最高 東森幣360枚"
      },
      {
        link: "https://www.etmall.com.tw/Activity/CollectPointExchangeActivity/202208a6cd3d99",
        imgSrc: "event/1st/e-main/components/promo-event/items/item-p-event-3-3.png",
        alt: "集點加價購 等你換 樂透金100枚",
      },
      {
        link: "https://m.etmall.com.tw/Activity/Lottery/d8c72a7c028c83cbca0ec66768736f12",
        imgSrc: "event/1st/e-main/components/promo-event/items/item-p-event-3-4.png",
        alt: "全站滿額抽 Uber乘車優惠$80",
      },
      {
        link: "https://m.etmall.com.tw/Activity/Lottery/d8c72a7c028c83cbca0ec66768736f12",
        imgSrc: "event/1st/e-main/components/promo-event/items/item-p-event-3-5.png",
        alt: "離島免運 滿額送 樂透金88枚",
      },
      {
        link: "https://media.etmall.com.tw/sp/13755/m/index.html",
        imgSrc: "event/1st/e-main/components/promo-event/items/item-p-event-3-6.png",
        alt: "彰化好物購 買就抽AirPods",
      },
    ],
    [
      {
        link: "https://media.etmall.com.tw/sp/15839/m/index.html",
        imgSrc: "event/1st/e-main/components/promo-event/items/item-p-event-4-1.jpg",
        alt: "爸氣男神節 滿額天天抽888樂透金",
      },
      {
        link: "https://media.etmall.com.tw/sp/15511/m/index.html",
        imgSrc: "event/1st/e-main/components/promo-event/items/item-p-event-4-2.jpg",
        alt: "清潔有禮 滿額抽香氛沐浴露"
      },
      {
        link: "https://media.etmall.com.tw/sp/15343/m/index.html",
        imgSrc: "event/1st/e-main/components/promo-event/items/item-p-event-4-3.jpg",
        alt: "夏遊購物樂 滿額贈3D氣墊眼線購物筆",
      },
      {
        link: "https://media.etmall.com.tw/sp/15893/m/index.html",
        imgSrc: "event/1st/e-main/components/promo-event/items/item-p-event-4-4.jpg",
        alt: "歐巴節 用健康巴結",
      },
      {
        link: "https://media.etmall.com.tw/sp/16032/m/index.html",
        imgSrc: "event/1st/e-main/components/promo-event/items/item-p-event-4-5.jpg",
        alt: "買MyCard 限量好禮送",
      },
      {
        link: "https://media.etmall.com.tw/sp/16032/m/index.html",
        imgSrc: "event/1st/e-main/components/promo-event/items/item-p-event-4-6.jpg",
        alt: "LG夏日狂歡購 登記最高送家電雙好禮",
      },
    ],
  ]

//- TODO: 如果promo不和hero綁一起時要有自己的section和layout--main
section.promo__group.promo-event.m-bottom--lg
  .layout--main
    .promo__wrap
      .promo__zone
        .promo__block
          ul.promo__box
            each data, index in promoEventData
              li.event__item(id="promoEventItem" + (index + 1))
                .swiper-container.container--promo-event
                  ul.swiper-wrapper
                    each item, itemIndex in  data
                      li.swiper-slide.promo__item
                        a(href=  item.link, title= item.alt)
                          img(src=  item.imgSrc,  item.alt)