section.promo__group.promo__group--info
  .layout--main
    .promo__head
      .promo__title
        img(src="~components/info-section/section-title-2.jpg", alt="")
      .promo__box
        img(src="~components/info-section/chance.jpg", alt="")
      .promo__prize
        img(src="~components/info-section/promo-prize.jpg", alt="")
      .promo__number 3