.promo__group--info
  position: relative
  z-index: 0
  .promo__number
    position: absolute
    top: 19%
    left: 48%
    width: 7vw
    font-size: 7vw
    color: $main-color-7 
    font-weight: bold
    font-style: italic
    text-align: center
    +breakpoint-min($min-width-xl)
      width: 60px
      left: 49%
      font-size: 60px