section.hero__wrap
  .hero__zone


    //- #decorationBack.decoration--background.decoration__wrap
    //-   .decoration--confetti.wow(data-depth="-0.1")

    .layout--main
      .hero__block

        .hero__box
          //- 標題
          h1.hero__title.hero__title--main.wow(title="2021全新盛典|一促即發")
            img(src="~event/1st/e-main/components/hero-section/title.png", alt="2021全新盛典|一促即發")
          .decoration__title.decoration--mobile.wow
            .decoration--cities
              img(src="~event/1st/e-main/components/hero-section/decoration-cities.png", alt="",)

    .decoration__title.decoration--web.decoration--left.wow
    .decoration__title.decoration--web.decoration--right.wow

    include /utils/bg-decoration-instance/css-firework/_css-firework

  //- TODO: 如果hero和promo要共用主視覺時這樣放
  //- .promo__zone
    //- .layout--main
      //- .promo__block
        //- 行銷誘因
        //- include /event/1st/e-main/components/promo-event/_promo-event

        //- 商品輪播
          //- 副標
        //- .hero__small__zone
          //- include /event/1st/e-main/components/hero-small-slider/_hero-small-slider
