.promo__group.promo__group--bn-special.m-bottom--md
  .layout--main
    .promo__slider
      #sliderSpecial.swiper-container
        ul.swiper-wrapper
          li.swiper-slide
            a(href= "https://www.etmall.com.tw/XML/content/DMSetting/Final/209902/SP_1106649/w/index.html#jihsun", title="日盛滿$8,888送$666活動金")
              img(src="~event/2nd/e-main/components/bn-special/items/bank-1.png", alt="日盛滿$8,888送$666活動金")
          li.swiper-slide
            a(href= "https://www.etmall.com.tw/XML/content/DMSetting/Final/209902/SP_1106649/w/index.html#dbs", title="星展滿$15,000送$1,200東森提貨券")
              img(src="~event/2nd/e-main/components/bn-special/items/bank-2.png", alt="星展滿$15,000送$1,200東森提貨券")
          li.swiper-slide
            a(href= "https://www.etmall.com.tw/XML/content/DMSetting/Final/209902/SP_1106649/w/index.html#hsbc", title="滙豐滿$20,000送$1,500東森提貨券")
              img(src="~event/2nd/e-main/components/bn-special/items/bank-3.png", alt="滙豐滿$20,000送$1,500東森提貨券")

        //- #sliderSpecialPager.swiper-pagination-custom.swiper-pagination