.logo
  //width: 20%
  width: 10%
  position: absolute
  top: 3px
  z-index: 10
  left: 2%
  &.logo--e
    max-width: 134px
  &.logo--u
    max-width: 163px
  +breakpoint-min($min-width-xl)
    // width: 20%
    margin-left: 35px
    left: calc(50% - 480px)