- var bankLink = {etmall: "https://www.etmall.com.tw/XML/content/DMSetting/Final/201912/SP_1107841/w/index.html", umall: "https://www.u-mall.com.tw/XML/content/DMSetting/Final/209901/SP_1103367/w/index.html"}
- var bankInfo = isU ? bankLink.umall : bankLink.etmall

.promo__slider.hero__slider
  #sliderSmall.swiper-container
    ul.swiper-wrapper
      li.swiper-slide
        h2.hero__title.hero__title--sub.block--center
          a(href="https://www.u-mall.com.tw/XML/content/DMSetting/Final/209901/SP_1103367/w/index.html#union", title="聯邦滿6000送300刷卡金")
            img(src="~event/3rd/u-main/components/hero-small-slider/items/sub-title-1.png", alt="聯邦滿6000送300刷卡金")
      li.swiper-slide
        h2.hero__title.hero__title--sub.block--center
          a(href="https://www.u-mall.com.tw/XML/content/DMSetting/Final/209901/SP_1103367/w/index.html#Taishin", title="台新滿10000送800刷卡金")
            img(src="~event/3rd/u-main/components/hero-small-slider/items/sub-title-2.png", alt="台新滿10000送800刷卡金")
      li.swiper-slide
        h2.hero__title.hero__title--sub.block--center
          a(href="https://www.u-mall.com.tw/XML/content/DMSetting/Final/209901/SP_1103367/w/index.html#citi", title="花旗滿30000送3000刷卡金")
            img(src="~event/3rd/u-main/components/hero-small-slider/items/sub-title-3.png", alt="花旗滿30000送3000刷卡金")


