section.promo__group.promo__group--text-slider.m-bottom--sm(data-title="關鍵字")
  .layout--main
    //- .promo__title.block--center.text--center
    //-   img(src="~event/3rd/e-main/components/dynamic-slider-3/title-dynamic-slider-3.png", alt="你會喜歡")
    .promo__wrap
      #textSlider.promo__slider.swiper-container
        .swiper-wrapper
          li.swiper-slide
            a(href="https://www.etmall.com.tw/Search?keyword=醫療口罩")
              .keyword #醫療口罩
          li.swiper-slide
            a(href="https://www.etmall.com.tw/Search?keyword=MyCard")
              .keyword #MyCard
          li.swiper-slide
            a(href="https://www.etmall.com.tw/Search?keyword=AirPods")
              .keyword #AirPods
          li.swiper-slide
            a(href="https://www.etmall.com.tw/Search?keyword=氣炸鍋")
              .keyword #氣炸鍋
          li.swiper-slide
            a(href="https://www.etmall.com.tw/Search?keyword=健身環大冒險")
              .keyword #健身環大冒險
          li.swiper-slide
            a(href="https://www.etmall.com.tw/Search?keyword=iPhone")
              .keyword #iPhone
          li.swiper-slide
            a(href="https://www.etmall.com.tw/Search?keyword=Dyson")
              .keyword #Dyson
          li.swiper-slide
            a(href="https://www.etmall.com.tw/Search?keyword=%E9%8D%8B%E5%AF%B6")
              .keyword #鍋寶

      //#sliderDynamicPager_2.dynamic-slider-pager.swiper-pagination
      #sliderDynamicPrev_2.swiper-button-white.swiper-button-prev
      #sliderDynamicNext_2.swiper-button-white.swiper-button-next

//- data-dynamic-3.js在assets資料夾內、由index.pug外連過去