section.promo__group.dynamic-slider-w2m2.m-bottom--lg(data-title="年度大牌")
  .layout--main
    .decor__wrap.full-parent
      .decor__item.decor__item--title#decorDynamicW2M2Title
        img(src="event/1st/e-main/components/dynamic-slider-w2m2/title-dynamic-slider-w2m2.png", alt="")
      .decor__item.decor__item--left#decorDynamicW2M2Left
        img(src="event/1st/e-main/components/dynamic-slider-w2m2/decor-dynamic-slider-w2m2-left.png", alt="")
      .decor__item.decor__item--right#decorDynamicW2M2Right
        img(src="event/1st/e-main/components/dynamic-slider-w2m2/decor-dynamic-slider-w2m2-right.png", alt="")
    .promo__wrap
      .promo__zone
        .promo__block
          .promo__slider.swiper-container#DynamicSliderW2M2Block
            .swiper-wrapper