include /utils/pug/include/_meta.pug

<link rel="stylesheet" href="https://cdn.eckare.com/ct/design_mo.css?ver=50">
<link rel="stylesheet" href="https://cdn.eckare.com/js/slick/slick.css">
<link rel="stylesheet" href="https://shop.eckare.com/js/slick/slick-theme.css">
<link rel="stylesheet" href="https://shop.eckare.com/ct/mbst_mobile/script/dist/css/share.min.css">
<link rel="stylesheet" href="https://cdn.eckare.com/ct/mbst_mobile/css/bootstrap.min.css">
//- slider css
//- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Swiper/5.4.5/css/swiper.min.css">
//- slider css for IE9
//- include /utils/pug/include/_slider-cdn-css.pug
