.promo__group--rank
  .out__table
    display: none
    .out__box
      padding: 2%
      text-align: center
      img
        width: 6px
        height: 16px
    &.active
      display: block

  .login__alert
    display: none
    margin-top: 40px
    &.active
      display: block

  .btn--my
    margin-left: auto
    margin-right: auto
    margin-bottom: 40px
    padding-top: 15px
    padding-bottom: 15px
    width: 200px
    border: 0
    font-size: 24px
    cursor: pointer

  .login--no-record
    height: 56px
    line-height: 56px
    color: $gray-deep-light
    background-color: $gray-medium
    font-size: 20px
    font-weight: bold
    border-radius: 8px
    text-align: center

  @import components/include/team-table/_team-table




