section.promo__group.promo__dynamic-slider.m-bottom--sm(data-title="新品專區")
  .layout--main
    .promo__title.block--center
      img(src="~event/2nd/e-main/components/dynamic-slider-3/title-dynamic-slider-3.png", alt="")

    .promo__wrap
      #sliderDynamic3.promo__slider.swiper-container
        .swiper-wrapper

      #sliderDynamic3Pager.dynamic-slider-pager.swiper-pagination

//- data-dynamic-3.js在assets資料夾內、由index.pug外連過去