.promo__dynamic-slider
  .promo__wrap
    +pos-set(relative, zero)
    padding: 3% 5% 7% 3%
    +bg-set(url("~event/2nd/e-main/pages/index/bg-dynamic-slider.png"), 100%)
  .product--dynamic
    border: 1px solid $gray-medium
    border-radius: 1vw
    overflow: hidden
    .product__name
      display: -webkit-box
      -webkit-line-clamp: 2
      -webkit-box-orient: vertical
      text-overflow: ellipsis
      margin: 2.9% 0
      padding: 0 2%
      color: $gray-deep-dark
      line-height: 110%
      height: 2.2em
      font-size: 12px
      overflow: hidden
    .product__price
      padding: 0 2%
      color: $primary-medium
      span
        &:first-child
          font-size: 2vw
        &:last-child
          font-size: 3vw

    +breakpoint-max($max-width-xxs)
      .product__name
        margin: 0

    +breakpoint-min($min-width-lg)
      .product__name
        margin: 5% 0
        font-size: 2.5vw
      .product__price
        span
          &:first-child
            font-size: 2vw
          &:last-child
            font-size: 3.5vw

    +breakpoint-min($min-width-xl)
      border-radius: 12px
      .product__name
        margin: 18px 0
        font-size: 22px
      .product__price
        span
          &:first-child
            font-size: 16px
          &:last-child
            font-size: 30px

.dynamic-slider-pager
  bottom: 3.5%
  left: 49%
  transform: translateX(-50%)
  .swiper-pagination-bullet
    margin: 0 2px
    width: 6px
    height: 6px
    background-color: $gray-deep-dark
    opacity: .8
    outline: 0
  .swiper-pagination-bullet-active
    background-color: $main-e-background-color-2nd-2
    transform: translateY(-15%)
    opacity: 1

  +breakpoint-min($min-width-lg)
    bottom: 20px
    .swiper-pagination-bullet
      margin: 0 6px
      width: 12px
      height: 12px
      .swiper-pagination-bullet-active
        transform: translateY(0)

  +breakpoint-min($min-width-xl)
    bottom: 25px
    .swiper-pagination-bullet
      margin: 0 8px
      width: 16px
      height: 16px