
.decoration--outer.decoration--everyDay
  .scroll__flower.everyDay__size
    img#dailyChange__deso-1(src="~event/2nd/e-main/components/daily-change-2/everyday_scroll__flower-all.png", alt="")
section#limitTimeWrap.promo__group.promo__group--everyDay(data-title="天天開搶")
  .layout--main
    .promo__wrap
      #everyDayItemList.today__day__wrap
        //img.new__year__bg(src="", alt="")
        ul
          li.today__day__item.active
          li.today__day__item
          li.today__day__item
          li.today__day__item
          li.today__day__item
          li.today__day__item
          li.today__day__item
          li.today__day__item
          li.today__day__item
          li.today__day__item
          li.today__day__item
          li.today__day__item
          li.today__day__item
          li.today__day__item
          li.today__day__item
          li.today__day__item
          li.today__day__item
          li.today__day__item

    //- 隔天品(換圖)
    #sliderNextDailyTag.everyDay__next__date__tag.promo__slider.swiper-container.swiper-no-swiping
      ul.swiper-wrapper
        // date 起始日期
        li.tabs-slide.active--next__date
          span 4
          span 23
        li.tabs-slide
          span 4
          span 24
        li.tabs-slide
          span 4
          span 25
        li.tabs-slide
          span 4
          span 26
        li.tabs-slide
          span 4
          span 27
        li.tabs-slide
          span 4
          span 28
        li.tabs-slide
          span 4
          span 29
        li.tabs-slide
          span 4
          span 30
        li.tabs-slide
          span 5
          span 01
        li.tabs-slide
          span 5
          span 02
        li.tabs-slide
          span 5
          span 03
        li.tabs-slide
          span 5
          span 04
        li.tabs-slide
          span 5
          span 05
        li.tabs-slide
          span 5
          span 06
        li.tabs-slide
          span 5
          span 07
        li.tabs-slide
          span 5
          span 08
        li.tabs-slide
          span 5
          span 09
    .everyDay__next__day#dailyChange_next
      img(src="~event/2nd/e-main/components/daily-change-2/items/everyday-next-2nd-1.png", alt="天天開搶")