//- TODO: 切換EU
//- - var isU = true

include /components/overlay/_overlay

main#spWrap.sp__wrap.sp__wrap--apple
  header.sp__header
    .layout--main
      include /layout/header/_header
      include /layout/nav-apple/_nav-apple
  include /components/apple-list/_apple-list
  //- components start
  include /components/hero-slider/_hero-slider
  include /components/marquee/_marquee
  //- components end

//- script區
include /utils/pug/_total-script

//- 模擬組版
//- include /pages/_note/hot/_hot