

section.hero
  .layout--main
    .hero__wrap
      .hero__zone
        //- .video__wrap
        //-   .video__block
        //-     include /event/1st/e-main/components/hero-section/hero-video/_hero-video.pug

        .hero__title
          .title--main
            img(src="event/1st/e-main/components/hero-section/title.png" alt="同學們!購起來!")
          .title--sub
            img(src="event/1st/e-main/components/hero-section/sub-title.png" alt="同學們!購起來!")

        .decor__title.decor__title--light
          img(src="event/1st/e-main/components/hero-section/decor-light.png", alt="")
        .decor__title.decor__title--dog
          img(src="event/1st/e-main/components/hero-section/decor-dog.png", alt="")
