//- 小時的十位數
- time1 = 1
//- 小時的個位數
- time2 = 8
//- 第幾round(0起始)
- index = 3
//- 狀態
- status = "start register"
- winnerName = "我推 * 孩子"
- peopleCount = 10000

include /event/current/components/include/_promo-card
