section.promo__group.promo__group--w1m1.m-bottom--lg(data-title="小編推薦")
  .layout--main
    .promo__wrap
      a(href="https://media.etmall.com.tw/sp/9429/m/index.html", title="小編推薦專區")
        img(src="event/1st/e-main/components/event-w1m1/items/line-oa.png", alt="小編推薦專區")