.goods__wrap--flip
  +bg-set(url("~event/3rd/u-main/components/goods-slider-flip/bg-goods-flip.png"), contain, center, top)
  //background-position: calc(100vw * 0.11) calc(100vw * 0.035)
  background-position-y:
  //margin-left: 10%
  padding: 0
  .promo__slider
    +pos-set(relative, zero)
    margin-left: auto
    margin-right: auto
    width: 84%
    height: 100%
    .swiper-container
      width: 100%
      height: 100%
    .swiper-slide
      width: 100%
    ul
      img
        transform: translateY(calc(100vw * -0.1375))

  +breakpoint-min($min-width-xl)
    // margin-top: -1.5%
    // margin-left: 0
    //background-position: 105px 34px
    //padding: 2% 0 5% 0
    background-size: auto
    .promo__slider
      //margin-top: -7px
      //margin-left: calc(50% - 290px)
      width: auto
      ul
        img
          transform: translate(50px,-182px)

// +key-rotate-self(55)
// +key-rotate-from-to(25, -30)
