- var goodsFlipDataE = [{link: "https://www.etmall.com.tw/XML/content/DMSetting/Final/201910/SP_1113978/w/index.html", imgSrc: "~event/3rd/e-main/components/goods-slider-flip/items/product-1.png", alt: "小瓦掃地機激降$4000"}, {link: "https://www.etmall.com.tw/XML/content/DMSetting/Final/201910/SP_1114000/w/index.html", imgSrc: "~event/3rd/e-main/components/goods-slider-flip/items/product-2.png", alt: "品夏氣炸鍋$17xx"}, {link: "https://www.etmall.com.tw/c3/133209", imgSrc: "~event/3rd/e-main/components/goods-slider-flip/items/product-3.png", alt: "手機不到萬元再回饋10%"},  {link: "https://www.etmall.com.tw/XML/content/DMSetting/Final/201911/SP_1113966/w/index.html", imgSrc: "~event/3rd/e-main/components/goods-slider-flip/items/product-4.png", alt: "華碩筆電限時免費升G"}, {link: "https://www.etmall.com.tw/c3/123738", imgSrc: "~event/3rd/e-main/components/goods-slider-flip/items/product-5.png", alt: "感恩回饋組$999"}, {link: "https://www.etmall.com.tw/c3/136250", imgSrc: "~event/3rd/e-main/components/goods-slider-flip/items/product-6.png", alt: "獨家限定組合"}, {link: "https://www.etmall.com.tw/np/75012", imgSrc: "~event/3rd/e-main/components/goods-slider-flip/items/product-7.png", alt: "MIYUNA出清$799起"},{link: "https://www.etmall.com.tw/c3/125140", imgSrc: "~event/3rd/e-main/components/goods-slider-flip/items/product-8.png", alt: "資生堂百優乳霜$2222"}, {link: "https://www.etmall.com.tw/c2/104151", imgSrc: "~event/3rd/e-main/components/goods-slider-flip/items/product-9.png", alt: "cocodor補充瓶$149"},{link: "https://www.etmall.com.tw/i/2209175", imgSrc: "~event/3rd/e-main/components/goods-slider-flip/items/product-10.png", alt: "紅薑黃↘1粒$5.8"},]

- var goodsFlipDataU = [{link: "https://www.u-mall.com.tw/XML/content/DMSetting/Final/201911/SP_1105639/w/index.html", imgSrc: "~event/3rd/u-main/components/goods-slider-flip/items/product-1.png", alt: "小瓦掃地機激降$4000"}, {link: "https://www.u-mall.com.tw/XML/content/DMSetting/Final/201910/SP_1105597/w/index.html", imgSrc: "~event/3rd/u-main/components/goods-slider-flip/items/product-2.png", alt: "品夏氣炸鍋$17xx"}, {link: "https://www.u-mall.com.tw/XML/content/DMSetting/Final/201910/SP_1105597/w/index.html", imgSrc: "~event/3rd/u-main/components/goods-slider-flip/items/product-3.png", alt: "手機不到萬元再回饋10%"},  {link: "https://www.u-mall.com.tw/XML/content/DMSetting/Final/201911/SP_1105573/w/index.html", imgSrc: "~event/3rd/u-main/components/goods-slider-flip/items/product-4.png", alt: "華碩筆電限時免費升G"}, {link: "https://www.u-mall.com.tw/c3/123739", imgSrc: "~event/3rd/u-main/components/goods-slider-flip/items/product-5.png", alt: "感恩回饋組$999"}, {link: "https://www.u-mall.com.tw/c3/136251", imgSrc: "~event/3rd/u-main/components/goods-slider-flip/items/product-6.png", alt: "獨家限定組合"}, {link: "https://www.u-mall.com.tw/np/58344", imgSrc: "~event/3rd/u-main/components/goods-slider-flip/items/product-7.png", alt: "MIYUNA出清$799起"},{link: "https://www.u-mall.com.tw/c3/125141", imgSrc: "~event/3rd/u-main/components/goods-slider-flip/items/product-8.png", alt: "資生堂百優乳霜$2222"}, {link: "https://www.u-mall.com.tw/c2/104153", imgSrc: "~event/3rd/u-main/components/goods-slider-flip/items/product-9.png", alt: "cocodor補充瓶$149"},{link: "https://www.u-mall.com.tw/i/2209175", imgSrc: "~event/3rd/u-main/components/goods-slider-flip/items/product-10.png", alt: "紅薑黃↘1粒$5.8"},]

- var goodsFlipData = isU? goodsFlipDataU : goodsFlipDataE

.goods__wrap--flip
  //- .goods__decoration.goods__decoration--right
  //- .goods__decoration.goods__decoration--left
  .promo__slider
    #sliderGoodsFlip.swiper-container
      ul.swiper-wrapper
        each data in goodsFlipData
          li.swiper-slide
            a(href= data.link, title= data.alt)
              img(src= data.imgSrc, alt= data.alt)
      //- #sliderGoodsFlipPager.swiper-pager-white.swiper-pagination
    //- #sliderGoodsFlipPrev.swiper-button-white.swiper-button-prev
    //- #sliderGoodsFlipNext.swiper-button-white.swiper-button-next

