section.hero__wrap
  .hero__zone
    .layout--main
      .hero__block
        .decoration--top.decoration--presentBox-top
          img(src="event/1st/e-main/components/hero-section/decoration-hero.png", alt="",)

        .hero__box
          .hero__title.hero__title--main(title="Lucky一夏 天天77折up")
            //- 標題
            h1
              .decoration--top.decoration--title
                img(src="event/1st/e-main/components/hero-section/title-1.png", alt="天天77折up")
              img.slot__machine(src="event/1st/e-main/components/hero-section/title__slot-machine.png", alt="lucky一夏")
              img(src="event/1st/e-main/components/hero-section/title-2.png", alt="")

        .decoration--top.decoration--presentBox
          img(src="event/1st/e-main/components/hero-section/decoration-presentBox.png", alt="",)
        .decoration--top.decoration--coin
          img(src="event/1st/e-main/components/hero-section/decoration-coin-m.png", alt="")
        //- 大網

        #decorationCoinLeftDesktop.decoration--top.decoration--coin-left-d
          img(src="event/1st/e-main/components/hero-section/decoration-coin-left-d.png", alt="")
        #decorationCoinRightDesktop.decoration--top.decoration--coin-right-d
          img(src="event/1st/e-main/components/hero-section/decoration-coin-right-d.png", alt="")
        .decoration--top.decoration--ball
          img(src="event/1st/e-main/components/hero-section/decoration-ball.png", alt="")
        .decoration--top.decoration--presentBox-d
          img(src="event/1st/e-main/components/hero-section/decoration-presentBox-d.png", alt="")

//-   //- TODO: 如果hero和promo要共用主視覺時這樣放
//-   //- .promo__zone
//-     //- .layout--main
//-       //- .promo__block
//-         //- 行銷誘因
//-         //- include /event/1st/e-main/components/promo-event/_promo-event

//-         //- 商品輪播
//-           //- 副標
//-         //- .hero__small__zone
//-           //- include /event/1st/e-main/components/hero-small-slider/_hero-small-slider
