.decoration--top--outer
  img#dynamicSlider2__scroll(src="~event/1st/e-main/components/dynamic-slider-2/new_scroll__flower-all.png", alt="")
section.promo__group.promo__group--dynamic-slider.promo__group--dynamic-slider-2(data-title="新品專區")
  .layout--main
    //- .promo__title.block--center.text--center
    //-   img(src="~event/1st/e-main/components/dynamic-slider-2/title-dynamic-slider-2.png", alt="新品專區")

    .promo__wrap
      #sliderDynamic2.promo__slider.swiper-container
        .swiper-wrapper

      //#sliderDynamic2Prev.swiper-button-white.swiper-button-prev.dynamic__nav.dynamic__nav--prev
      //#sliderDynamic2Next.swiper-button-white.swiper-button-next.dynamic__nav.dynamic__nav--next
      //- #sliderDynamic2Pager.dynamic-slider-pager.swiper-pagination

//- data-dynamic-2.js在assets資料夾內、由index.pug外連過去