- 
  var flipCardDataE = [
    {
      itemLink: "https://www.etmall.com.tw/i/2523681",
      backImgSrc: "~event/2nd/e-main/components/flip-card/items/back-1.png",
      backAlt: "超人型",
      frontImgSrc: "~event/2nd/e-main/components/flip-card/items/front-1.png",
      frontAlt: "男性保健79折",
    },
    {
      itemLink: "https://www.etmall.com.tw/i/1964771",
      backImgSrc: "~event/2nd/e-main/components/flip-card/items/back-2.png",
      backAlt: "宅男型",
      frontImgSrc: "~event/2nd/e-main/components/flip-card/items/front-2.png",
      frontAlt: "Acer電競液晶螢幕",
    },
    {
      itemLink: "https://www.etmall.com.tw/i/2299575",
      backImgSrc: "~event/2nd/e-main/components/flip-card/items/back-3.png",
      backAlt: "暖男型",
      frontImgSrc: "~event/2nd/e-main/components/flip-card/items/front-3.png",
      frontAlt: "德國五金品牌限時8折",
    },
    {
      itemLink: "https://www.etmall.com.tw/i/2691190",
      backImgSrc: "~event/2nd/e-main/components/flip-card/items/back-4.png",
      backAlt: "雅痞型",
      frontImgSrc: "~event/2nd/e-main/components/flip-card/items/front-4.png",
      frontAlt: "[山野行者] 莫代爾彈力透氣POLO衫(多色可選)",
    },
    {
      itemLink: "https://www.etmall.com.tw/XML/content/DMSetting/Final/202007/SP_1115998/w/index.html",
      backImgSrc: "~event/2nd/e-main/components/flip-card/items/back-5.png",
      backAlt: "總裁型",
      frontImgSrc: "~event/2nd/e-main/components/flip-card/items/front-5.png",
      frontAlt: "極速5G登錄再送耳機",
    },
    {
      itemLink: "https://www.etmall.com.tw/i/2676446",
      backImgSrc: "~event/2nd/e-main/components/flip-card/items/back-6.png",
      backAlt: "精算型",
      frontImgSrc: "~event/2nd/e-main/components/flip-card/items/front-6.png",
      frontAlt: "德國百靈新7系列暢型貼面電鬍刀",
    },
    {
      itemLink: "https://www.etmall.com.tw/i/2678914",
      backImgSrc: "~event/2nd/e-main/components/flip-card/items/back-7.png",
      backAlt: "運動型",
      frontImgSrc: "~event/2nd/e-main/components/flip-card/items/front-7.png",
      frontAlt: "星夢郵輪 台灣跳島遊",
    },
    {
      itemLink: "https://www.etmall.com.tw/p/104886",
      backImgSrc: "~event/2nd/e-main/components/flip-card/items/back-8.png",
      backAlt: "花美男型",
      frontImgSrc: "~event/2nd/e-main/components/flip-card/items/front-8.png",
      frontAlt: "本客潔顏 送Google智慧音箱",
    },
  ]

- 
  var flipCardDataU = [
    {
      itemLink: "https://www.etmall.com.tw/i/2611953",
      backImgSrc: "~event/2nd/e-main/components/flip-card/items/back-1.png",
      backAlt: "超人型",
      frontImgSrc: "~event/2nd/e-main/components/flip-card/items/front-1.png",
      frontAlt: "NaturalD虎威力雄霸天下升級組",
    },
    {
      itemLink: "https://www.etmall.com.tw/i/2244464",
      backImgSrc: "~event/2nd/e-main/components/flip-card/items/back-2.png",
      backAlt: "宅男型",
      frontImgSrc: "~event/2nd/e-main/components/flip-card/items/front-2.png",
      frontAlt: "Acer最高回饋$1,000",
    },
    {
      itemLink: "https://www.etmall.com.tw/i/2598198",
      backImgSrc: "~event/2nd/e-main/components/flip-card/items/back-3.png",
      backAlt: "暖男型",
      frontImgSrc: "~event/2nd/e-main/components/flip-card/items/front-3.png",
      frontAlt: "海霸王精選 帶爸吃好料",
    },
    {
      itemLink: "https://www.etmall.com.tw/i/2590207",
      backImgSrc: "~event/2nd/e-main/components/flip-card/items/back-4.png",
      backAlt: "瀟灑型",
      frontImgSrc: "~event/2nd/e-main/components/flip-card/items/front-4.png",
      frontAlt: "萬寶龍熱銷 男神必備",
    },
    {
      itemLink: "https://www.etmall.com.tw/XML/content/DMSetting/Final/202007/SP_1115998/w/index.html",
      backImgSrc: "~event/2nd/e-main/components/flip-card/items/back-5.png",
      backAlt: "總裁型",
      frontImgSrc: "~event/2nd/e-main/components/flip-card/items/front-5.png",
      frontAlt: "極速5G登錄再送耳機",
    },
    {
      itemLink: "https://www.etmall.com.tw/i/2522804",
      backImgSrc: "~event/2nd/e-main/components/flip-card/items/back-6.png",
      backAlt: "精算型",
      frontImgSrc: "~event/2nd/e-main/components/flip-card/items/front-6.png",
      frontAlt: "德國百靈冰感科技電鬍刀",
    },
    {
      itemLink: "https://www.etmall.com.tw/i/2678914",
      backImgSrc: "~event/2nd/e-main/components/flip-card/items/back-7.png",
      backAlt: "運動型",
      frontImgSrc: "~event/2nd/e-main/components/flip-card/items/front-7.png",
      frontAlt: "星夢郵輪 台灣跳島遊",
    },
    {
      itemLink: "https://www.etmall.com.tw/p/104886",
      backImgSrc: "~event/2nd/e-main/components/flip-card/items/back-8.png",
      backAlt: "花美男型",
      frontImgSrc: "~event/2nd/e-main/components/flip-card/items/front-8.png",
      frontAlt: "買一送一 日劇男神帥氣推薦",
    },
  ]

- var flipCardData = isU? flipCardDataU : flipCardDataE

section.promo__group.promo__group--flip-card.m-bottom--sm(data-title="翻牌看爸")
  .layout--main
    .promo__title.block--center
      img(src="~event/2nd/e-main/components/flip-card/title-flip-card.png", alt="")
    .promo__wrap
      .card__wrap
        ul#cardBox.card__box
          each data in flipCardData
            li
              .card__item
                .card__front
                  a(href= data.itemLink, title= data.frontAlt)
                    img(src= data.frontImgSrc, alt = data.frontAlt)
                .card__back(title= data.backAlt)
                  img(src= data.backImgSrc, alt= data.backAlt)
              a.btn--fast-connect(href= data.itemLink, title= data.frontAlt)
                img(src="~event/2nd/e-main/components/flip-card/btn-fast-connect.png", alt="more")
