section.promo__group.promo__group--tab.m-bottom--xs
  .layout--main
    ul.tab__wrap
      li.tab__zone
        ul#tabBox.tab__box
          li.tab__item(title="11.1 精選優惠").active
            img(src="~event/1st/e-main/components/tab-section/items/tab/tab-d1-m.png", alt="11.1 精選優惠")
            img(src="~event/1st/e-main/components/tab-section/items/tab/tab-l1-m.png", alt="11.1 精選優惠")
            img(src="~event/1st/e-main/components/tab-section/items/tab/tab-d1.png", alt="11.1 精選優惠")
            img(src="~event/1st/e-main/components/tab-section/items/tab/tab-l1.png", alt="11.1 精選優惠")
          li.tab__item(title="11.2 保健日")
            img(src="~event/1st/e-main/components/tab-section/items/tab/tab-d2-m.png", alt="11.2 保健日")
            img(src="~event/1st/e-main/components/tab-section/items/tab/tab-l2-m.png", alt="11.2 保健日")
            img(src="~event/1st/e-main/components/tab-section/items/tab/tab-d2.png", alt="11.2 保健日")
            img(src="~event/1st/e-main/components/tab-section/items/tab/tab-l2.png", alt="11.2 保健日")
          li.tab__item(title="11.3 居家流行日")
            img(src="~event/1st/e-main/components/tab-section/items/tab/tab-d3-m.png", alt="11.3 居家流行日")
            img(src="~event/1st/e-main/components/tab-section/items/tab/tab-l3-m.png", alt="11.3 居家流行日")
            img(src="~event/1st/e-main/components/tab-section/items/tab/tab-d3.png", alt="11.3 居家流行日")
            img(src="~event/1st/e-main/components/tab-section/items/tab/tab-l3.png", alt="11.3 居家流行日")
          li.tab__item(title="11.4 美妝日")
            img(src="~event/1st/e-main/components/tab-section/items/tab/tab-d4-m.png", alt="11.4 美妝日")
            img(src="~event/1st/e-main/components/tab-section/items/tab/tab-l4-m.png", alt="11.4 美妝日")
            img(src="~event/1st/e-main/components/tab-section/items/tab/tab-d4.png", alt="11.4 美妝日")
            img(src="~event/1st/e-main/components/tab-section/items/tab/tab-l4.png", alt="11.4 美妝日")
          li.tab__item(title="11.5 家電日")
            img(src="~event/1st/e-main/components/tab-section/items/tab/tab-d5-m.png", alt="11.5 家電日")
            img(src="~event/1st/e-main/components/tab-section/items/tab/tab-l5-m.png", alt="11.5 家電日")
            img(src="~event/1st/e-main/components/tab-section/items/tab/tab-d5.png", alt="11.5 家電日")
            img(src="~event/1st/e-main/components/tab-section/items/tab/tab-l5.png", alt="11.5 家電日")
          li.tab__item(title="11.6 通訊日")
            img(src="~event/1st/e-main/components/tab-section/items/tab/tab-d6-m.png", alt="11.6 通訊日")
            img(src="~event/1st/e-main/components/tab-section/items/tab/tab-l6-m.png", alt="11.6 通訊日")
            img(src="~event/1st/e-main/components/tab-section/items/tab/tab-d6.png", alt="11.6 通訊日")
            img(src="~event/1st/e-main/components/tab-section/items/tab/tab-l6.png", alt="11.6 通訊日")
          li.tab__item(title="11.7 居家日")
            img(src="~event/1st/e-main/components/tab-section/items/tab/tab-d7-m.png", alt="11.7 居家日")
            img(src="~event/1st/e-main/components/tab-section/items/tab/tab-l7-m.png", alt="11.7 居家日")
            img(src="~event/1st/e-main/components/tab-section/items/tab/tab-d7.png", alt="11.7 居家日")
            img(src="~event/1st/e-main/components/tab-section/items/tab/tab-l7.png", alt="11.7 居家日")
      li.content__zone
        ul#contentBlock.content__block
          li.content__box.clearfix.active
            .content__item
              a(href="https://www.etmall.com.tw/XML/content/DMSetting/Final/201911/SP_1113955/w/index.html", title="Acer宏碁 抽Gopro Max送豪禮")
                img(src="~event/1st/e-main/components/tab-section/items/content/brand-promot1-1.png", alt="Acer宏碁 抽Gopro Max送豪禮")
            .content__item
              a(href="https://www.etmall.com.tw/c3/132041", title="華碩 ROG三萬入手ROG信仰之眼")
                img(src="~event/1st/e-main/components/tab-section/items/content/brand-promot1-2.png", alt="華碩 ROG三萬入手ROG信仰之眼")
            .content__item
              a(href="https://www.etmall.com.tw/XML/content/DMSetting/Final/201910/SP_1113938/w/index.html", title="象印 獨家抽好禮熱水瓶")
                img(src="~event/1st/e-main/components/tab-section/items/content/brand-promot1-3.png", alt="")
            .content__item
              a(href="https://www.etmall.com.tw/p/84095", title="台酒 滿$599送拌麵")
                img(src="~event/1st/e-main/components/tab-section/items/content/brand-promot1-4.png", alt="台酒滿$599送拌麵")
            .content__item
              a(href="https://www.etmall.com.tw/XML/content/DMSetting/Final/201910/SP_1120002/w/index.html", title="曼黛瑪璉開館慶 獨家價$420")
                img(src="~event/1st/e-main/components/tab-section/items/content/brand-promot1-5.png", alt="曼黛瑪璉開館慶 獨家價$420")
            .content__item
              a(href="https://www.etmall.com.tw/XML/content/DMSetting/Final/201911/SP_1113897/w/index.html", title="專櫃大牌 明星商品破盤1折up")
                img(src="~event/1st/e-main/components/tab-section/items/content/brand-promot1-6.png", alt="專櫃大牌 明星商品破盤1折up")

          li.content__box.clearfix
            .content__item
              a(href="https://www.etmall.com.tw/np/83939", title="IVENOR 搶先窈窕83折up")
                img(src="~event/1st/e-main/components/tab-section/items/content/brand-promot2-1.png", alt="IVENOR 搶先窈窕83折up")
            .content__item
              a(href="https://www.etmall.com.tw/XML/content/DMSetting/Final/201911/SP_1113929/w/index.html", title="正官庄 年終回饋5折起")
                img(src="~event/1st/e-main/components/tab-section/items/content/brand-promot2-2.png", alt="正官庄 年終回饋5折起")
            .content__item
              a(href="https://www.etmall.com.tw/np/84344", title="華陀 均一價1111元")
                img(src="~event/1st/e-main/components/tab-section/items/content/brand-promot2-3.png", alt="華陀 均一價1111元")
            .content__item
              a(href="https://www.etmall.com.tw/np/83938", title="紅薑黃先生 ↘5折up")
                img(src="~event/1st/e-main/components/tab-section/items/content/brand-promot2-4.png", alt="紅薑黃先生 ↘5折up")
            .content__item
              a(href="https://www.etmall.com.tw/np/84346", title="白蘭氏 指定商品送好禮")
                img(src="~event/1st/e-main/components/tab-section/items/content/brand-promot2-5.png", alt="白蘭氏 指定商品送好禮")
            .content__item
              a(href="https://www.etmall.com.tw/np/83940", title="享食尚 單包下殺99元")
                img(src="~event/1st/e-main/components/tab-section/items/content/brand-promot2-6.png", alt="享食尚 單包下殺99元")

          li.content__box.clearfix
            .content__item
              a(href="https://www.etmall.com.tw/p/84429", title="妙管家 2件現折111元")
                img(src="~event/1st/e-main/components/tab-section/items/content/brand-promot3-1.png", alt="妙管家 2件現折111元")
            .content__item
              a(href="https://www.etmall.com.tw/c3/131797", title="UCC咖啡 歡慶11.11 買一送一")
                img(src="~event/1st/e-main/components/tab-section/items/content/brand-promot3-2.png", alt="UCC咖啡 歡慶11.11 買一送一")
            .content__item
              a(href="https://www.etmall.com.tw/XML/content/DMSetting/Final/201910/SP_1114011/w/index.html", title="ASSARI 限時滿額送禮券")
                img(src="~event/1st/e-main/components/tab-section/items/content/brand-promot3-3.png", alt="ASSARI 限時滿額送禮券")
            .content__item
              a(href="https://www.etmall.com.tw/c3/114730", title="rimowa 單品獨家價")
                img(src="~event/1st/e-main/components/tab-section/items/content/brand-promot3-4.png", alt="rimowa 單品獨家價")
            .content__item
              a(href="https://www.etmall.com.tw/p/84407", title="A.S.O阿瘦 省很大1.2折起")
                img(src="~event/1st/e-main/components/tab-section/items/content/brand-promot3-5.png", alt="A.S.O阿瘦 省很大1.2折起")
            .content__item
              a(href="https://www.etmall.com.tw/XML/content/DMSetting/Final/201911/SP_1113969/w/index.html", title="COACH X MK 爆殺2折起")
                img(src="~event/1st/e-main/components/tab-section/items/content/brand-promot3-6.png", alt="COACH X MK 爆殺2折起")

          li.content__box.clearfix
            .content__item
              a(href="https://www.etmall.com.tw/XML/content/DMSetting/Final/201911/SP_1113897/w/index.html", title="專櫃大牌 限時全面狂降1折up")
                img(src="~event/1st/e-main/components/tab-section/items/content/brand-promot4-1.png", alt="專櫃大牌 限時全面狂降1折up")
            .content__item
              a(href="https://www.etmall.com.tw/np/81383", title="SK-II 限時買就送好物")
                img(src="~event/1st/e-main/components/tab-section/items/content/brand-promot4-2.png", alt="SK-II 限時買就送好物")
            .content__item
              a(href="https://www.etmall.com.tw/np/81386", title="SHISEIDO 資生堂 豪禮限時瘋搶GO")
                img(src="~event/1st/e-main/components/tab-section/items/content/brand-promot4-3.png", alt="SHISEIDO 資生堂 豪禮限時瘋搶GO")
            .content__item
              a(href="https://www.etmall.com.tw/np/81385", title="ESTEE LAUDER雅詩蘭黛 好禮限時大FUN送")
                img(src="~event/1st/e-main/components/tab-section/items/content/brand-promot4-4.png", alt="ESTEE LAUDER雅詩蘭黛 好禮限時大FUN送")
            .content__item
              a(href="https://www.etmall.com.tw/c3/47333", title="KOSE高絲 明星商品搶便宜")
                img(src="~event/1st/e-main/components/tab-section/items/content/brand-promot4-5.png", alt="KOSE高絲 明星商品搶便宜")
            .content__item
              a(href="https://www.etmall.com.tw/p/84351", title="L’OCCITANE歐舒丹 11月限定下單禮")
                img(src="~event/1st/e-main/components/tab-section/items/content/brand-promot4-6.png", alt="L’OCCITANE歐舒丹 11月限定下單禮")

          li.content__box.clearfix
            .content__item
              a(href="https://www.etmall.com.tw/XML/content/DMSetting/Final/201910/SP_1113980/w/index.html", title="Dyson V8Q現省3千")
                img(src="~event/1st/e-main/components/tab-section/items/content/brand-promot5-1.png", alt="Dyson V8Q現省3千")
            .content__item
              a(href="https://www.etmall.com.tw/XML/content/DMSetting/Final/201911/SP_1113972/w/index.html", title="國際 送王品餐券、氣炸鍋")
                img(src="~event/1st/e-main/components/tab-section/items/content/brand-promot5-2.png", alt="國際 送王品餐券、氣炸鍋")
            .content__item
              a(href="https://www.etmall.com.tw/XML/content/DMSetting/Final/201910/SP_1113985/w/index.html", title="大同 買鍋送鍋$699up")
                img(src="~event/1st/e-main/components/tab-section/items/content/brand-promot5-3.png", alt="大同 買鍋送鍋$699up")
            .content__item
              a(href="https://www.etmall.com.tw/XML/content/DMSetting/Final/201911/SP_1113974/w/index.html", title="SONY 電視送國際牌吹風機")
                img(src="~event/1st/e-main/components/tab-section/items/content/brand-promot5-4.png", alt="SONY 電視送國際牌吹風機")
            .content__item
              a(href="https://www.etmall.com.tw/XML/content/DMSetting/Final/201910/SP_1114000/w/index.html", title="飛利浦 氣炸鍋送王品餐券")
                img(src="~event/1st/e-main/components/tab-section/items/content/brand-promot5-5.png", alt="飛利浦 氣炸鍋送王品餐券")
            .content__item
              a(href="https://www.etmall.com.tw/XML/content/DMSetting/Final/201910/SP_1113987/w/index.html", title="象印 送10%東森幣")
                img(src="~event/1st/e-main/components/tab-section/items/content/brand-promot5-6.png", alt="象印 送10%東森幣")

          li.content__box.clearfix
            .content__item
              a(href="https://www.etmall.com.tw/XML/content/DMSetting/Final/201910/SP_1109110/w/index.html", title="指定商品最高省$6500")
                img(src="~event/1st/e-main/components/tab-section/items/content/brand-promot6-1.png", alt="指定商品最高省$6500")
            .content__item
              a(href="https://www.etmall.com.tw/c3/133209", title="realme新機 指定機款贈好禮")
                img(src="~event/1st/e-main/components/tab-section/items/content/brand-promot6-2.png", alt="realme新機 指定機款贈好禮")
            .content__item
              a(href="https://www.etmall.com.tw/c3/132041", title="ASUS 下單好禮多重送")
                img(src="~event/1st/e-main/components/tab-section/items/content/brand-promot6-3.png", alt="ASUS 下單好禮多重送")
            .content__item
              a(href="https://www.etmall.com.tw/c2/107787", title="APPLE 限時85折起")
                img(src="~event/1st/e-main/components/tab-section/items/content/brand-promot6-4.png", alt="AAPPLE 限時85折起")
            .content__item
              a(href="https://www.etmall.com.tw/c3/136070", title="OPPO 指定機型贈好禮")
                img(src="~event/1st/e-main/components/tab-section/items/content/brand-promot6-5.png", alt="OPPO 指定機型贈好禮")
            .content__item
              a(href="https://www.etmall.com.tw/c2/107800", title="HUAWEI 11/6限時折5千")
                img(src="~event/1st/e-main/components/tab-section/items/content/brand-promot6-6.png", alt="HUAWEI 11/6限時折5千")

          li.content__box.clearfix
            .content__item
              a(href="https://www.etmall.com.tw/c3/133091", title="統一食品限時優惠")
                img(src="~event/1st/e-main/components/tab-section/items/content/brand-promot7-1.png", alt="統一食品限時優惠")
            .content__item
              a(href="https://www.etmall.com.tw/c3/123738", title="好神拖雙11口碑組")
                img(src="~event/1st/e-main/components/tab-section/items/content/brand-promot7-2.png", alt="好神拖雙11口碑組")
            .content__item
              a(href="https://www.etmall.com.tw/c3/136837", title="H&D 熱銷家居6折up")
                img(src="~event/1st/e-main/components/tab-section/items/content/brand-promot7-3.png", alt="H&D 熱銷家居6折up")
            .content__item
              a(href="https://www.etmall.com.tw/c3/122223", title="OSIM 全年最優惠")
                img(src="~event/1st/e-main/components/tab-section/items/content/brand-promot7-4.png", alt="OSIM 全年最優惠")
            .content__item
              a(href="https://www.etmall.com.tw/XML/content/DMSetting/Final/201910/SP_1113731/w/index.html", title="希爾思秋爽旅行趣")
                img(src="~event/1st/e-main/components/tab-section/items/content/brand-promot7-5.png", alt="希爾思秋爽旅行趣")
            .content__item
              a(href="https://www.etmall.com.tw/c3/125754", title="chicco 雙11獨家價")
                img(src="~event/1st/e-main/components/tab-section/items/content/brand-promot7-6.png", alt="chicco 雙11獨家價")    