section.deoration--background.decoration__wrap
  
  //- .decoration__item
  //-   img(src="~event/3rd/u-main/components/background-decoration/bg-decoration-main.png", alt="")
  //- .decoration__item
  //-   img(src="~event/3rd/u-main/components/background-decoration/bg-decoration-sup-1.png", alt="")
  .decoration__top
    .decoration__item
  .decoration__left
    .decoration__item
