section.hero
  .layout--main
    .decor__item.decor__item--figures
      img(src="event/1st/e-main/components/hero-section/hero-figures.png", alt="霹靂Q俠")
    //- .decor__item.decor__item--right
    //-   img(src="event/1st/e-main/components/hero-section/hero-etcat.png", alt="全民瘋世足")
    .hero__zone
      .hero__block
        .hero__box
          //- 標題
          h5.hero__title.hero__title--logo.animate__animated.animate__backInDown(title="霹靂Q俠")
            img(src="event/1st/e-main/components/hero-section/logo-sp.png", alt="霹靂Q俠")
          h3.hero__title.hero__title--sub.animate__animated.animate__fadeInDown.animate__faster.animate__delay-2s(title="第一彈")
            img(src="event/1st/e-main/components/hero-section/sub-title.png", alt="第一彈")
          h2.hero__title.hero__title--main.animate__animated.animate__zoomIn.animate__faster.animate__delay-1s(title="旅遊一番賞")
            img(src="event/1st/e-main/components/hero-section/title.png", alt="旅遊一番賞")
          h3.hero__title.hero__title--sub2.animate__animated.animate__zoomIn.animate__faster.animate__delay-2s(title="最後一抽加碼送LAST ONE賞!!")
            img(src="event/1st/e-main/components/hero-section/sub-title-2.png", alt="最後一抽加碼送LAST ONE賞!!")

    //- 按鈕
    .hero__btns
      a.hero__btn.hero__btn--left(href="")
        img(src="event/1st/e-main/components/hero-section/hero-btn-1.png", alt="抽獎紀錄")
      a.hero__btn.hero__btn--right(href="")
        img(src="event/1st/e-main/components/hero-section/hero-btn-2.png", alt="中獎看板")




