-
  var promoDataE = [
    {
      link: "#note",
      imgSrc: "~event/test/e-main/components/promo-event/items/promo-1.png",
      alt: "單筆滿額送$600"
    },
    {
      link: "https://media.etmall.com.tw/sp/7655/m/index.html",
      imgSrc: "~event/test/e-main/components/promo-event/items/promo-2.png",
      alt: "東森幣100枚抽iPhone 12"
    },
    {
      link: "https://media.etmall.com.tw/sp/7647/m/index.html",
      imgSrc: "~event/test/e-main/components/promo-event/items/promo-3.png",
      alt: "滿額送BT21牛仔布餐具組"
    },
    {
      link: "#note",
      imgSrc: "~event/test/e-main/components/promo-event/items/promo-4.png",
      alt: "消費滿萬抽2000枚東森幣"
    },
    {
      link: "https://media.etmall.com.tw/sp/7581/m/index.html",
      imgSrc: "~event/test/e-main/components/promo-event/items/promo-5.png",
      alt: "JCB x Apple Pay最高回饋30%"
    },
    {
      link: "https://media.etmall.com.tw/sp/7663/m/index.html",
      imgSrc: "~event/test/e-main/components/promo-event/items/promo-6.png",
      alt: "首購送全家中熱美"
    },
    {
      link: "https://media.etmall.com.tw/sp/7663/m/index.html",
      imgSrc: "~event/test/e-main/components/promo-event/items/promo-7.png",
      alt: "APP下單送鍋寶陶瓷杯"
    },
    {
      link: "https://media.etmall.com.tw/sp/7692/m/index.html",
      imgSrc: "~event/test/e-main/components/promo-event/items/promo-8.png",
      alt: "團圓食刻 幸福年菜"
    },
    //- slider start
    {
      link: "#note",
      imgSrc: "~event/test/e-main/components/promo-event/items/promo-9.png",
      alt: "天天抽 瑞穗天合國際觀光酒店"
    },
    {
      link: "https://www.etmall.com.tw/XML/content/DMSetting/Final/202012/SP_1116815/w/index.html",
      imgSrc: "~event/test/e-main/components/promo-event/items/promo-10.png",
      alt: "彰化好物購"
    },
    //- slider end
  ]

-
  var promoDataU = [
    {
      link: "https://www.u-mall.com.tw/Activity/HourSale",
      imgSrc: "~event/test/u-main/components/promo-event/items/promo-1.png",
      alt: "限時瘋搶"
    },
    {
      link: "https://www.u-mall.com.tw/XML/content/DMSetting/Final/202012/SP_1106091/w/index.html",
      imgSrc: "~event/test/u-main/components/promo-event/items/promo-2.png",
      alt: "銀行超高回饋"
    },
  ]

- var promoData = isU ? promoDataU : promoDataE

//- TODO: 如果promo不和hero綁一起時要有自己的section和layout--main
section.promo__group.promo__group--promo-event.m-bottom--md(data-title="爽購攻略")
  .layout--main
    //- .promo__head.promo__title
    //-   img(src="", alt="")

    .promo__body
      ul#promoEvent.event__wrap
        li
          a(href= promoData[0].link, title= promoData[0].alt)
            img(src= promoData[0].imgSrc, alt= promoData[0].alt)
        li
          a(href= promoData[1].link, title= promoData[1].alt)
            img(src= promoData[1].imgSrc, alt= promoData[1].alt)
        li
          a(href= promoData[2].link, title= promoData[2].alt)
            img(src= promoData[2].imgSrc, alt= promoData[2].alt)
        li
          a(href= promoData[3].link, title= promoData[3].alt)
            img(src= promoData[3].imgSrc, alt= promoData[3].alt)
        li
          a(href= promoData[4].link, title= promoData[4].alt)
            img(src= promoData[4].imgSrc, alt= promoData[4].alt)
        li
          a(href= promoData[5].link, title= promoData[5].alt)
            img(src= promoData[5].imgSrc, alt= promoData[5].alt)
        li
          a(href= promoData[6].link, title= promoData[6].alt)
            img(src= promoData[6].imgSrc, alt= promoData[6].alt)
        li
          a(href= promoData[7].link, title= promoData[7].alt)
            img(src= promoData[7].imgSrc, alt= promoData[7].alt)
      .promo__slider
        #sliderPromo.swiper-container
          ul.swiper-wrapper
            li.swiper-slide
              a(href= promoData[8].link, title=promoData[8].alt)
                img(src= promoData[8].imgSrc, promoData[8].alt)
            li.swiper-slide
              a(href= promoData[9].link, title=promoData[9].alt)
                img(src= promoData[9].imgSrc, promoData[9].alt)
        #sliderPromoPrev.swiper-button-white.swiper-button-prev
        #sliderPromoNext.swiper-button-white.swiper-button-next


