.daily-time
  +pos-set(relative, zero)
  overflow: hidden
  .decor__item
    &--item
      +pos-set(absolute, zero, 3%, 15%)
      width: 70%
      animation: firework-grow 2s infinite alternate 
      +breakpoint-min($min-width-xl)
        top: 30px
        left: calc( 50% - 283px )
    &--left
      +pos-set(absolute, zero, 0, 35%)
      width: 13%
      &.active
        animation: shake-box 2s forwards infinite
      +breakpoint-min($min-width-xl)
        left: calc( 50% - 135px )
    &--right
      +pos-set(absolute, zero, 1%)
      right: 40%
      width: 7%
      &.active
        animation: shake-box 2s 1s forwards infinite
      +breakpoint-min($min-width-xl)
        top: 15px
        right: calc( 50% - 90px )

    +breakpoint-min($min-width-xl)
      width: auto

  .promo__wrap
    +bg-set(url(event/1st/e-main/components/daily-time/bg-daily-time.png), 100%)
  .promo__zone
    +aspect-ratio(960, 879)
  .promo__block
    padding: 33% 5% 0
    +breakpoint-min($min-width-xl)
      padding-top: 315px
  .product__wrap
    display: flex
    flex-wrap: wrap
    justify-content: space-around
    > div
      width: 31.33%
      &:nth-child(1)
        .product__time
          +bg-set(url(event/1st/e-main/components/daily-time/daily-time-hour-1.png), 90%)
      &:nth-child(2)
        .product__time
          +bg-set(url(event/1st/e-main/components/daily-time/daily-time-hour-2.png), 90%)
      &:nth-child(3)
        .product__time
          +bg-set(url(event/1st/e-main/components/daily-time/daily-time-hour-3.png), 90%)

  .product__block
    padding: 0% 2%
  .product--dynamic
    width: 100%
    margin-top: -145%
    +breakpoint-min($min-width-xl)
      margin-top: -385px
  .product__time
    padding-bottom: 187%
    filter: brightness(50%)
    margin-left: 5%
    +breakpoint-min($min-width-xl)
      margin-left: 15px
    + .product
      filter: brightness(50%)
    &.active
      filter: grayscale(0)
      + .product
        filter: grayscale(0)

  .product--dynamic
    .product__name
      +pos-set(relative, zero)
      font-size: 12px
      margin: 0% 3%
      height: 2.43em
      line-height: 125%
      +breakpoint-min($min-width-xl)
        padding-top: 33px
        height: 2.83em
        font-size: 22px

  .product__price
    span
      &:last-child
        font-size: 4vw
        +breakpoint-min($min-width-xl)
          font-size: 32px


@keyframes shake-box
  0%, 50%, to
    transform: translateZ(0) rotate(0)
  5%, 15%, 25%, 35%, 45%
    transform: translate3d(-0.4%, -0.2%, 0) rotate(-3deg)
  10%, 20%, 30%, 40%
    transform: translate3d(0.4%, 0.2%, 0) rotate(2deg)


@keyframes firework-grow
  0%, 25%
    transform: translateY(20%) scale(0)
  50%, 90%
    transform: translateY(0%) scale(1)