.promo__group--mid-big
  // .promo__title
  //   margin-top: -0.5%
  .promo__wrap
    // transition: all 0.6s ease
    // padding-top: 70%
    // +bg-set(url("~event/2nd/e-main/components/mid-big-slider/bg-mid-big.png"), 100%)
    // .swiper-slide
      // background-color: #faf
      // text-align: center
      // a
        // transition: transform 0.6s
        // transform: translateY(-27%) scale(0.6)
    // +breakpoint-min($min-width-lg)
    .swiper-slide,
    .swiper-slide-duplicate
      a,
      img,
        transition: all 0.6s
      a
          transform: translateY(25%) scale(0.5)
      img
        filter: grayscale(100%)
    .swiper-slide-active,
    .swiper-slide-duplicate-active
      a
        transform: translateY(-9%) scale(1.14)
      img
        filter: grayscale(0)

  // +breakpoint-min($min-width-xl)
