-
  var imgPreSrc = "~components/apple-list/img/"
  var appleData = [
    {
      id: "iphoneList",
      partData: [
        {
          linkE: "https://www.etmall.com.tw/c3/140407",
          linkU: "https://www.u-mall.com.tw/c3/140408",
          name1: "iPhone SE",
          name2: "",
          imgSrc: imgPreSrc + "iphone/iphone-se.png",
          isNew: true,
        },
        {
          linkE: "https://www.etmall.com.tw/c3/135891",
          linkU: "https://www.u-mall.com.tw/c3/135893",
          name1: "iPhone 11 Pro",
          name2: "",
          imgSrc: imgPreSrc + "iphone/iphone-11-pro.png",
          isNew: false,
        },
        {
          linkE: "https://www.etmall.com.tw/c3/135892",
          linkU: "https://www.u-mall.com.tw/c3/135894",
          name1: "iPhone 11",
          name2: "Pro Max",
          imgSrc: imgPreSrc + "iphone/iphone-11-pro-max.png",
          isNew: false,
        },
        {
          linkE: "https://www.etmall.com.tw/c3/135647",
          linkU: "https://www.u-mall.com.tw/c3/135649",
          name1: "iPhone 11",
          name2: "",
          imgSrc: imgPreSrc + "iphone/iphone-11.png",
          isNew: false,
        },
        {
          linkE: "https://www.etmall.com.tw/c3/125979",
          linkU: "https://www.u-mall.com.tw/c3/82609",
          name1: "iPhone XS",
          name2: "",
          imgSrc: imgPreSrc + "iphone/iphone-xs.png",
          isNew: false,
        },
        {
          linkE: "https://www.etmall.com.tw/c3/125961",
          linkU: "https://www.u-mall.com.tw/c3/89538",
          name1: "iPhone XR",
          name2: "",
          imgSrc: imgPreSrc + "iphone/iphone-xr.png",
          isNew: false,
        },
        {
          linkE: "https://www.etmall.com.tw/c3/111700",
          linkU: "https://www.u-mall.com.tw/c3/111701",
          name1: "iPhone 8",
          name2: "",
          imgSrc: imgPreSrc + "iphone/iphone-8.png",
          isNew: false,
        },
      ],
    },
    {
      id: "ipadList",
      partData: [
        {
          linkE: "https://www.etmall.com.tw/c3/137368",
          linkU: "https://www.u-mall.com.tw/c3/137369",
          name1: "iPad 9.7吋",
          name2: "",
          imgSrc: imgPreSrc + "/ipad/ipad-9.png",
          isNew: false,
        },
        {
          linkE: "https://www.etmall.com.tw/c3/107856",
          linkU: "https://www.u-mall.com.tw/c3/100101",
          name1: "iPad 10.2吋",
          name2: "",
          imgSrc: imgPreSrc + "ipad/ipad-10.png",
          isNew: false,
        },
        {
          linkE: "https://www.etmall.com.tw/c3/127890",
          linkU: "https://www.u-mall.com.tw/c3/127892",
          name1: "iPad Air",
          name2: "",
          imgSrc: imgPreSrc + "ipad/ipad-air.png",
          isNew: false,
        },
        {
          linkE: "https://www.etmall.com.tw/c3/127891",
          linkU: "https://www.u-mall.com.tw/c3/63306",
          name1: "iPad mini",
          name2: "",
          imgSrc: imgPreSrc + "ipad/ipad-mini.png",
          isNew: false,
        },
        {
          linkE: "https://www.etmall.com.tw/c3/124186",
          linkU: "https://www.u-mall.com.tw/c3/63305",
          name1: "iPad Pro",
          name2: "11吋",
          imgSrc: imgPreSrc + "ipad/ipad-11.png",
          isNew: false,
        },
        {
          linkE: "https://www.etmall.com.tw/c3/140383",
          linkU: "https://www.u-mall.com.tw/c3/140385",
          name1: "iPad Pro",
          name2: "12.9吋",
          imgSrc: imgPreSrc + "ipad/ipad-12.png",
          isNew: true,
        },
      ],
    },
    {
      id: "macList",
      partData: [
        {
          linkE: "https://www.etmall.com.tw/c3/107862",
          linkU: "https://www.u-mall.com.tw/c3/63302",
          name1: "MacBook Air",
          name2: "",
          imgSrc: imgPreSrc + "mac/macbook-air.png",
          isNew: false,
        },
        {
          linkE: "https://www.etmall.com.tw/c3/107863",
          linkU: "https://www.u-mall.com.tw/c3/63303",
          name1: "MacBook Pro",
          name2: "13吋",
          imgSrc: imgPreSrc + "mac/macbook-pro-13.png",
          isNew: false,
        },
        {
          linkE: "https://www.etmall.com.tw/c3/138125",
          linkU: "https://www.u-mall.com.tw/c3/138126",
          name1: "MacBook Pro",
          name2: "16吋",
          imgSrc: imgPreSrc + "mac/macbook-pro-16.png",
          isNew: false,
        },
        {
          linkE: "https://www.etmall.com.tw/c3/107864",
          linkU: "https://www.u-mall.com.tw/c3/63298",
          name1: "iMac",
          name2: "",
          imgSrc: imgPreSrc + "mac/imac.png",
          isNew: false,
        },
        {
          linkE: "https://www.etmall.com.tw/c3/132477",
          linkU: "https://www.u-mall.com.tw/c3/63299",
          name1: "Mac mini",
          name2: "",
          imgSrc: imgPreSrc + "/mac/mac-mini.png",
          isNew: false,
        },
      ],
    },
    {
      id: "musicList",
      partData: [
        {
          linkE: "https://www.etmall.com.tw/c3/119242",
          linkU: "https://www.u-mall.com.tw/c3/133202",
          name1: "AirPods",
          name2: "",
          imgSrc: imgPreSrc + "music/airPods.png",
          isNew: false,
        },
        {
          linkE: "https://www.etmall.com.tw/c3/137725",
          linkU: "https://www.u-mall.com.tw/c3/137726",
          name1: "AirPods Pro",
          name2: "",
          imgSrc: imgPreSrc + "music/airpods-pro.png",
          isNew: false,
        },
        {
          linkE: "https://www.etmall.com.tw/c3/134219",
          linkU: "https://www.u-mall.com.tw/c3/134220",
          name1: "HomePod",
          name2: "",
          imgSrc: imgPreSrc + "music/homepod.png",
          isNew: false,
        },
      ],
    },
    {
      id: "beatsList",
      partData: [
        {
          linkE: "https://www.etmall.com.tw/c3/121795",
          linkU: "https://www.u-mall.com.tw/c3/133206",
          name1: "入耳式耳機",
          name2: "",
          imgSrc: imgPreSrc + "beats/earbuds.png",
          isNew: false,
        },
        {
          linkE: "https://www.etmall.com.tw/c3/121796",
          linkU: "https://www.u-mall.com.tw/c3/63078",
          name1: "頭戴式耳機",
          name2: "",
          imgSrc: imgPreSrc + "beats/headphones.png",
          isNew: false,
        },
        {
          linkE: "https://www.etmall.com.tw/c3/121798",
          linkU: "https://www.u-mall.com.tw/c3/133240",
          name1: "有線耳機",
          name2: "",
          imgSrc: imgPreSrc + "beats/wired-headset.png",
          isNew: false,
        },
      ],
    },
    {
      id: "accessoriesList",
      partData: [
        {
          linkE: "",
          linkU: "",
          name1: "Apple TV",
          name2: "",
          imgSrc: imgPreSrc + "accessories/apple-tv.png",
          isNew: false,
        },
        {
          linkE: "",
          linkU: "",
          name1: "Apple Watch",
          name2: "",
          imgSrc: imgPreSrc + "accessories/apple-watch.png",
          isNew: false,
        },
        {
          linkE: "https://www.etmall.com.tw/c2/107791",
          linkU: "https://www.u-mall.com.tw/c2/63316",
          name1: "Apple",
          name2: "原廠配件",
          imgSrc: imgPreSrc + "accessories/apple-accessories.png",
          isNew: false,
        },
      ],
    },
  ]

//- 超過13個英文/6個中文會隱藏，請放在第二行
section#appleList.apple-list
  .layout--main
    ul.apple-list__wrap

      each data in appleData

        li(id= data.id).apple-list__item
          ul.sub-list__wrap--apple

            each partData in data.partData
              - var bindName = partData.name2 ? (partData.name1 + " " + partData.name2) : partData.name1
              li.sub-list__item
                a(href= (isU ? partData.linkU : partData.linkE), title= bindName)
                  img(src= partData.imgSrc, alt= bindName)
                  .item__info
                    div= partData.name1
                    div= partData.name2
                    div.item__notice= partData.isNew ? "New" : ""
