section.promo__group.promo__group--beat.m-bottom--lg(data-title="眼睛吃冰遊戲")
  .layout--main
    .decor__wrap.full-parent
      .decor__item.decor__item--click
        img(src="event/2nd/e-main/components/beat-game/click-beat-game.png", alt="")
    .promo__wrap
      .promo__zone
        .promo__block#snowManWrap
          .snow-man
            img(src="event/2nd/e-main/components/beat-game/snow-man-1.png" alt="")
          .snow-man.hide
            img(src="event/2nd/e-main/components/beat-game/snow-man-2.png" alt="")
          .snow-man.hide
            img(src="event/2nd/e-main/components/beat-game/snow-man-3.png" alt="")
          .snow-man.hide.disabled
            img(src="event/2nd/e-main/components/beat-game/snow-man-4.png" alt="")
        .popup__wrap#popUpWrap
          .popup__block
            a(href="")
              img(src="assets/current/img/beat-game/1.png" alt="")
        .item--click#clickButton