-
  var w3m3Data = [
    { // 1
      link: "https://www.etmall.com.tw/i/3620273",
      imgSrc: "event/1st/e-main/components/event-w3m3/items/depart-1.png",
      alt: "美妝"
    },
    { // 2
      link: "https://www.etmall.com.tw/i/3506165",
      imgSrc: "event/1st/e-main/components/event-w3m3/items/depart-2.png",
      alt: "保健"
    },
    { // 3
      link: "",
      imgSrc: "event/1st/e-main/components/event-w3m3/items/depart-3.png",
      alt: "3C"
    },
    { // 4
      link: "https://www.etmall.com.tw/i/2976929",
      imgSrc: "event/1st/e-main/components/event-w3m3/items/depart-4.png",
      alt: "家電"
    },
    { // 5
      link: "https://www.etmall.com.tw/i/3397165",
      imgSrc: "event/1st/e-main/components/event-w3m3/items/depart-5.png",
      alt: "生活流行"
    },
    { // 6
      link: "https://www.etmall.com.tw/i/3648411",
      imgSrc: "event/1st/e-main/components/event-w3m3/items/depart-6.png",
      alt: "環球"
    },
  ]

section.promo__group.promo__group--w3m3(data-title="幣殺12%UP")
  .layout--main
    .decor__wrap.full-parent
      .decor__item.decor__item--left#decorEventW3m3Left
        img(src="event/1st/e-main/components/event-w3m3/decor-event-w3m3-left.png", alt="")
      .decor__item.decor__item--right#decorEventW3m3Right
        img(src="event/1st/e-main/components/event-w3m3/decor-event-w3m3-right.png", alt="")
    .promo__wrap
      .promo__zone
        .promo__block
          #w3m3Wrap.event__wrap
            ul.good__wrap
              each data, index in w3m3Data
                li
                  a(href= data.link, title= data.alt)
                    - var hasImg = data.imgSrc ? true : false
                    if (hasImg)
                      img(src= data.imgSrc, alt= data.alt)