/* ============= reset ============= */
* {
    margin: 0;
    padding: 0;
}

* {
    box-sizing: border-box;
}

*:before, *:after {
    box-sizing: border-box;
}

a {
    display: block;
    text-decoration: none;
}

header a, section a {
    line-height: 0;
}

h1 {
    line-height: 0;
}

ul {
    list-style: none;
}

img {
    border: 0;
}

main, header, footer, section {
    display: block;
}

/* ============= global ============= */
body {
    margin: 0;
    padding: 0;
    width: 100%;
    /*background: #e6104e;*/
}

body, td, th {
    font-family: Helvetica, Arial, LiHei, "Microsoft JhengHei", "微軟正黑體", sans-serif;
}

.clearfix:after {
    content: '';
    display: block;
    clear: both;
    *zoom: 1;
}

.opacity--0 {
    opacity: 0;
}

.sp__wrap {
    margin-left: auto;
    margin-right: auto;
    overflow: hidden;
    display: block;
    max-width: 640px;
    width: 100%;
    background-position-x: center;
    position: relative;
    box-shadow: 0 5px 16px rgba(0, 0, 0, 0.25), 0 12px 2px rgba(0, 0, 0, 0.22);
}

/* ============= decoration ============= */
/* spotLight 轉動 */
.spotlight {
    transform-style: preserve-3d;
    z-index: 1;
    background-position: center;
    position: absolute;
    opacity: 0;
}

.spotLight_L {
    background: top url(spotLight_L.png) no-repeat;
    width: 202px;
    height: 190px;
    top: 40px;
    left: 50px;
    /* 轉動中心點 */
    transform-origin: top left;
    animation: 10s 3s self-rotate infinite linear;
}

.spotLight_R {
    background: top url(spotLight_R.png) no-repeat;
    width: 257px;
    height: 242px;
    top: 10px;
    right: 50px;
    /* 轉動中心點 */
    transform-origin: top right;
    animation: 10s 3s self-rotate infinite linear reverse;
}

/* spotLight 轉動 END */
@keyframes self-rotate {
    0%, 100% {
        opacity: 1;
        transform: rotate(0);
    }
    25% {
        transform: rotate(20deg);
    }
    75% {
        transform: rotate(-20deg);
    }
}

/* 閃爍 */
@keyframes breathing-light {
    0%, 100% {
        filter: brightness(100%);
    }
    25% {
        filter: brightness(200%);
    blur(2 px);
    }
    50% {
        filter: brightness(300%);
    blur(4 px);
    }
    75% {
        filter: brightness(200%);
    blur(2 px);
    }
}

/* ================= main-content ================= */
.sp-content {
    position: relative;
    z-index: 20;
    margin-top: 10px;
    overflow: hidden;
}

.main-info {
    height: 495px;
    margin-left: -20px;
    /*max-width: 640px;*/
    margin-top: 100px;
}

.main-info .main-title {
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.main-info .main-info-sub {
    position: relative;
}

.main-info .main-info-sub .main-product {
    position: absolute;
    top: -60px;
    left: 20px;
}

.main-info .main-info-sub .main-tag {
    position: absolute;
    left: 40%;
}

/* ===== firstInfo ===== */
.firstInfo {
    background: url(1-0.png) no-repeat;
    background-size: 596px, auto;
    width: 596px;
    height: 390px;
    margin-top: -180px;
    position: relative;
    margin-left: 44px;
}

.firstInfo .firstInfo-row-1,
.firstInfo .firstInfo-row-2 {
    z-index: 30;
    left: 130px;
}

.firstInfo .firstInfo-row-1 {
    position: absolute;
    top: -40px;
}

.firstInfo .firstInfo-row-1 a,
.firstInfo .firstInfo-row-2 a {
    display: inline-block;
}

.firstInfo .firstInfo-row-2 {
    position: absolute;
    top: 170px;
}

.firstInfo .firstInfo-row-1 img:nth-child(1),
.firstInfo .firstInfo-row-2 img:nth-child(1) {
    margin-left: 20px;
}

/* ===== firstInfo end ===== */

/* ===== secInfo ===== */
.secInfo {
    background: url(2-0.png) no-repeat;
    width: 640px;
    height: 382px;
    /*margin-top: 100px;*/
    position: relative;
    margin-bottom: 100px;
}

.secInfo .secInfo-slider .cycle-slideshow {
    left: 30px;
    top: 10px;
}

.secInfo .secInfo-slider .cycle-pager {
    margin-left: 50px;
    margin-top: 20px;
}

.secInfo .secInfo-slider .cycle-pager img {
    margin-right: 15px;
}

.secInfo .secInfo-slider .cycle-pager .cycle-pager-noAct {
    opacity: .8;
    cursor: pointer;
}

.secInfo .secInfo-slider .cycle-pager .cycle-pager-active {
    opacity: 1;
    filter: contrast(200%);
}

/* ===== secInfo end ===== */

@media screen and (max-width: 1815px) {
    .decoration__product, .decoration__shadow {
        background-size: contain;
        background-position: center 22%;
    }
}

/* ================= header ================= */
.sp-logo {
    position: absolute;
    z-index: 20;
    top: 0;
    left: 5px;
    cursor: pointer;
}

.sp-logo img {
    width: 80%;
}

/* ================= main-visual ================= */

.main-title {
    position: relative;
    margin-left: calc(45% - 355px);
}

@keyframes move {
    6.7% {
        opacity: 1;
    }
    6.8% {
        opacity: 0;
    }
    14% {
        opacity: 0;
    }
    14.1% {
        opacity: 1;
    }
    33% {
        transform: translate(616px, 0);
    }
    66% {
        transform: translate(309px, 464px);
    }
    to {
        transform: translate(0, 0);
    }
}

@keyframes breath-light {
    from {
        filter: brightness(100%) hue-rotate(0deg) blur(2px);
    }
    25% {
        filter: brightness(200%) hue-rotate(120deg) blur(0);
    }
    50% {
        filter: brightness(90%) hue-rotate(0deg) blur(2px);
    }
    75% {
        filter: brightness(200%) hue-rotate(-50deg) blur(0);
    }
    to {
        filter: brightness(100%) hue-rotate(0deg) blur(2px);
    }
}

/* ===== fourInfo (secInfo 無輪播) ===== */
.fourInfo {
    width: 640px;
    height: 382px;
    position: relative;
    margin-bottom: 100px;
    margin-top: 40px;
    background: url(4-0.png) no-repeat;
}

.fourInfo .fourInfo-row-1,
.fourInfo .fourInfo-row-2 {
    z-index: 30;
}

.fourInfo .fourInfo-row-1 {
    position: absolute;
    top: -40px;
}

.fourInfo .fourInfo-row-1 a,
.fourInfo .fourInfo-row-2 a {
    display: inline-block;
}

.fourInfo .fourInfo-row-2 {
    position: absolute;
    top: 170px;
}

.fourInfo .fourInfo-row-1 img:nth-child(1),
.fourInfo .fourInfo-row-2 img:nth-child(1) {
    margin-left: 20px;
}

/* ===== fourInfo end ===== */

/* ================= main-content ================= */

@media screen and (max-width: 320px) {
    .main-info {
        margin-top: 42px;
        height: 380px;
    }

    .main-info .main-info-sub .main-tag {
        left: 42%;
    }

    .spotLight_L {
        width: 100px;
        background-size: 100%, auto;
        top: 20px;
        left: 30px;
    }

    .spotLight_R {
        width: 173px;
        background-size: 100%, auto;
        right: 19px;
        top: 4px;
    }

    .main-info .main-info-sub .main-product {
        top: 0;
        left: 59px;
    }

    .sp__wrap img {
        width: 36%;
    }

    .main-info .main-title {
        width: 30%;
    }

    .firstInfo {
        background-size: 310px, auto;
        height: 220px;
        margin-top: -200px;
        margin-left: 10px;
        margin-bottom: 10px;
    }

    .firstInfo .firstInfo-row-1,
    .firstInfo .firstInfo-row-2 {
        left: 70px;
    }

    .firstInfo .firstInfo-row-1 {
        top: -30px;
    }

    .firstInfo .firstInfo-row-1 a,
    .firstInfo .firstInfo-row-2 a {
        display: inline-block;
        width: 28%;
    }

    .firstInfo .firstInfo-row-1 img,
    .firstInfo .firstInfo-row-2 img {
        width: 100%;
    }

    .firstInfo .firstInfo-row-1 img:nth-child(1),
    .firstInfo .firstInfo-row-2 img:nth-child(1) {
        margin-left: 2px;
    }

    .firstInfo .firstInfo-row-2 {
        top: 95px;
    }

    .secInfo {
        margin-top: 0;
        background-size: 315px, auto;
        height: 320px;
        margin-bottom: 0;
    }

    .secInfo img {
        width: 38%;
    }

    .secInfo .secInfo-slider .cycle-slideshow {
        left: 15px;
    }

    .secInfo .secInfo-slider .cycle-pager {
        margin-left: 10px;
    }

    .secInfo .secInfo-slider .cycle-pager img {
        width: 10%;
        margin-right: 4px;
    }

    /* ===== fourInfo (secInfo 無輪播) ===== */
    .fourInfo {
        margin-top: 50px;
        background-size: 315px, auto;
        height: 320px;
        margin-bottom: 0;
    }

    .fourInfo .fourInfo-row-1 {
        top: -40px;
    }

    .fourInfo .fourInfo-row-1 a,
    .fourInfo .fourInfo-row-2 a {
        width: 28%;
    }

    .fourInfo .fourInfo-row-1 img,
    .fourInfo .fourInfo-row-2 img {
        width: 100%;
    }

    .fourInfo .fourInfo-row-1 img:nth-child(1),
    .fourInfo .fourInfo-row-2 img:nth-child(1) {
        margin-left: 2px;
    }

    .fourInfo .fourInfo-row-2 {
        top: 85px;
    }

    /* ===== fourInfo end ===== */
}

@media screen and (min-width: 321px)and (max-width: 375px) {
    .main-info {
        margin-top: 55px;
        height: 380px;
    }

    .main-info .main-info-sub .main-tag {
        left: 42%;
    }

    .spotLight_L {
        width: 100px;
        background-size: 100%, auto;
        top: 20px;
        left: 30px;
    }

    .spotLight_R {
        width: 173px;
        background-size: 100%, auto;
        right: 28px;
        top: 19px;
    }

    .main-info .main-info-sub .main-product {
        top: 6px;
        left: 73px;
    }

    .sp__wrap img {
        width: 36%;
    }

    .main-info .main-title {
        width: 30%;
        margin-top: -2px;
    }

    .firstInfo {
        background-size: 429px, auto;
        height: 235px;
        margin-left: 15px;
        margin-bottom: 20px;
    }

    .firstInfo .firstInfo-row-1,
    .firstInfo .firstInfo-row-2 {
        left: 85px;
    }

    .firstInfo .firstInfo-row-1 {
        top: -20px;
    }

    .firstInfo .firstInfo-row-1 a,
    .firstInfo .firstInfo-row-2 a {
        display: inline-block;
        width: 30%;
    }

    .firstInfo .firstInfo-row-1 img,
    .firstInfo .firstInfo-row-2 img {
        width: 100%;
    }

    .firstInfo .firstInfo-row-1 img:nth-child(1),
    .firstInfo .firstInfo-row-2 img:nth-child(1) {
        margin-left: 7px;
    }

    .firstInfo .firstInfo-row-2 {
        top: 115px;
    }

    .secInfo {
        margin-top: 0;
        background-size: 373px, auto;
        height: 290px;
        margin-bottom: 0;
    }

    .secInfo img {
        width: 45%;
    }

    .secInfo .secInfo-slider .cycle-slideshow {
        left: 15px;
    }

    .secInfo .secInfo-slider .cycle-pager {
        margin-left: 10px;
    }

    .secInfo .secInfo-slider .cycle-pager img {
        width: 12%;
        margin-right: 4px;
    }

    /* ===== fourInfo (secInfo 無輪播) ===== */
    .fourInfo {
        margin-top: 60px;
        background-size: 373px, auto;
        height: 290px;
        margin-bottom: 0;
    }

    .fourInfo .fourInfo-row-1 {
        top: -35px;
    }

    .fourInfo .fourInfo-row-1 a,
    .fourInfo .fourInfo-row-2 a {
        width: 30%;
    }

    .fourInfo .fourInfo-row-1 img,
    .fourInfo .fourInfo-row-2 img {
        width: 100%;
    }

    .fourInfo .fourInfo-row-1 img:nth-child(1),
    .fourInfo .fourInfo-row-2 img:nth-child(1) {
        margin-left: 7px;
    }

    .fourInfo .fourInfo-row-2 {
        top: 100px;
    }

    /* ===== fourInfo end ===== */
}

@media screen and (min-width: 376px)and (max-width: 426px) {
    .main-info {
        margin-top: 60px;
        height: 380px;
    }

    .main-info .main-info-sub .main-tag {
        margin-top: 5px;
        left: 41%;
    }

    .spotLight_L {
        width: 100px;
        background-size: 100%, auto;
        top: 20px;
        left: 30px;
    }

    .spotLight_R {
        width: 173px;
        background-size: 100%, auto;
        right: 28px;
        top: 19px;
    }

    .main-info .main-info-sub .main-product {
        top: 6px;
        left: 73px;
    }

    .sp__wrap img {
        width: 36%;
    }

    .main-info .main-title {
        width: 30%;
        margin-top: -2px;
    }

    .firstInfo {
        background-size: 429px, auto;
        height: 280px;
        margin-top: -160px;
        margin-left: 20px;
        margin-bottom: 20px;
    }

    .firstInfo .firstInfo-row-1,
    .firstInfo .firstInfo-row-2 {
        left: 82px;
    }

    .firstInfo .firstInfo-row-1 {
        top: -35px;
    }

    .firstInfo .firstInfo-row-1 a,
    .firstInfo .firstInfo-row-2 a {
        display: inline-block;
        width: 35%;
    }

    .firstInfo .firstInfo-row-1 img,
    .firstInfo .firstInfo-row-2 img {
        width: 100%;
    }

    .firstInfo .firstInfo-row-1 img:nth-child(1),
    .firstInfo .firstInfo-row-2 img:nth-child(1) {
        margin-left: 10px;
    }

    .firstInfo .firstInfo-row-2 {
        top: 125px;
    }

    .secInfo {
        /*margin-top: 30px;*/
        background-size: 413px, auto;
        height: 320px;
        margin-bottom: 0;
    }

    .secInfo img {
        width: 50%;
    }

    .secInfo .secInfo-slider .cycle-slideshow {
        left: 15px;
    }

    .secInfo .secInfo-slider .cycle-pager {
        margin-left: 10px;
    }

    .secInfo .secInfo-slider .cycle-pager img {
        width: 12%;
        margin-right: 4px;
    }

    /* ===== fourInfo (secInfo 無輪播) ===== */
    .fourInfo {
        background-size: 413px, auto;
        height: 320px;
        margin-bottom: 0;
    }

    .fourInfo .fourInfo-row-1 {
        top: -50px;
    }

    .fourInfo .fourInfo-row-1 a,
    .fourInfo .fourInfo-row-2 a {
        width: 35%;
    }

    .fourInfo .fourInfo-row-1 img,
    .fourInfo .fourInfo-row-2 img {
        width: 100%;
    }

    .fourInfo .fourInfo-row-1 img:nth-child(1),
    .fourInfo .fourInfo-row-2 img:nth-child(1) {
        margin-left: 10px;
    }

    .fourInfo .fourInfo-row-2 {
        top: 110px;
    }

    /* ===== fourInfo end ===== */
}

@media screen and (min-width: 427px)and (max-width: 639px) {
    .main-info {
        margin-top: calc(30% - 75px);
        height: 380px;
    }

    .main-info .main-info-sub .main-tag {
        margin-top: 5px;
        left: 41%;
    }

    .spotLight_L {
        width: 120px;
        background-size: 100%, auto;
        top: 30px;
        left: 30px;
    }

    .spotLight_R {
        width: 173px;
        background-size: 100%, auto;
        right: 28px;
        top: 19px;
    }

    .main-info .main-info-sub .main-product {
        top: 6px;
        left: 73px;
    }

    .sp__wrap img {
        width: 36%;
        max-width: 100%;
    }

    .firstInfo {
        background-size: 575px, auto;
        height: 375px;
        margin-top: -110px;
    }

    .firstInfo .firstInfo-row-1,
    .firstInfo .firstInfo-row-2 {
        left: 125px;

    }

    .firstInfo .firstInfo-row-1 {
        top: -35px;
    }

    .firstInfo .firstInfo-row-1 a,
    .firstInfo .firstInfo-row-2 a {
        display: inline-block;
        width: 45%;
    }

    .firstInfo .firstInfo-row-1 img,
    .firstInfo .firstInfo-row-2 img {
        width: 95%;
    }

    .firstInfo .firstInfo-row-1 img:nth-child(1),
    .firstInfo .firstInfo-row-2 img:nth-child(1) {
        margin-left: 5px;
    }

    .firstInfo .firstInfo-row-2 {
        top: 165px;
    }

    .secInfo {
        /*margin-top: 30px;*/
        background-size: 530px, auto;
        height: 420px;
        margin-bottom: 0;
    }

    .secInfo img {
        width: 65%;
    }

    .secInfo .secInfo-slider .cycle-slideshow {
        left: 15px;
    }

    .secInfo .secInfo-slider .cycle-pager {
        margin-left: 10px;
    }

    .secInfo .secInfo-slider .cycle-pager img {
        width: 18%;
        margin-right: 4px;
    }

    /* ===== fourInfo (secInfo 無輪播) ===== */
    .fourInfo {
        background-size: 530px, auto;
        height: 420px;
        margin-bottom: 0;
    }

    .fourInfo .fourInfo-row-1 {
        top: -35px;
    }

    .fourInfo .fourInfo-row-1 a,
    .fourInfo .fourInfo-row-2 a {
        width: 45%;
    }

    .fourInfo .fourInfo-row-1 img,
    .fourInfo .fourInfo-row-2 img {
        width: 100%;
    }

    .fourInfo .fourInfo-row-1 img:nth-child(1),
    .fourInfo .fourInfo-row-2 img:nth-child(1) {
        margin-left: 5px;
    }

    .fourInfo .fourInfo-row-2 {
        position: absolute;
        top: 165px;
    }

    /* ===== fourInfo end ===== */
}

@media screen and (min-width: 767px) {
    .sp__wrap {
        max-width: 800px;
    }

    .main-info {
        margin-top: 125px;
    }

    .firstInfo {
        background-size: 100%, auto;
        width: 100%;
        margin-top: -60px;
        height: 540px;
    }

    .firstInfo .firstInfo-row-1,
    .firstInfo .firstInfo-row-2 {
        left: 150px;
    }

    .firstInfo .firstInfo-row-1 a,
    .firstInfo .firstInfo-row-2 a {
        width: 260px;
        margin-left: 10px;
    }

    .firstInfo .firstInfo-row-1 img:nth-child(1),
    .firstInfo .firstInfo-row-2 img:nth-child(1) {

        width: 100%;
    }

    .firstInfo .firstInfo-row-1 {
        top: -80px;
    }

    .firstInfo .firstInfo-row-2 {
        top: 200px;
    }

    .secInfo {
        width: 730px;
        background-size: 100% auto;
        height: 460px;
    }

    .secInfo .secInfo-slider img {
        width: 80%;
    }

    .secInfo .secInfo-slider .cycle-pager img {
        width: 22%;
        margin-right: 4px;
    }

    .fourInfo {
        width: 730px;
        background-size: 100% auto;
        height: 500px;
        margin-bottom: 60px;
    }

    .fourInfo .fourInfo-row-1 a,
    .fourInfo .fourInfo-row-2 a {
        width: 260px;
        margin-left: 10px;
    }

    .fourInfo .fourInfo-row-1 img:nth-child(1),
    .fourInfo .fourInfo-row-2 img:nth-child(1) {
        width: 100%;
    }

    .fourInfo .fourInfo-row-1 {
        top: -80px;
    }

    .fourInfo .fourInfo-row-2 {
        top: 200px;
    }

}

/* 修正原本網站問題 */
@media screen and (min-width: 641px) {
    .n-sp__box .sp__wrap img {
        width: auto;
    }
}

.secInfo .secInfo-slider .cycle-pager img {
    display: inline-block;
}