section.promo__group.dynamic-slider.m-bottom--lg(data-title="品牌大賞")
  .layout--main
    .decor__wrap.full-parent
      .decor__item.decor__item--title#decorDynamicTitle
        img(src="event/1st/e-main/components/dynamic-slider/title-dynamic-slider.png", alt="")
      .decor__item.decor__item--left#decorDynamicLeft
        img(src="event/1st/e-main/components/dynamic-slider/decor-dynamic-slider.png", alt="")
    .promo__wrap
      .promo__zone
        .promo__block
          .promo__slider.swiper-container#DynamicSliderBlock
            .swiper-wrapper