.event__block
  .event__box
    a(href="https://www.etmall.com.tw/Activity/dl/VotePopularityRanking/DoubleTwelveAwards" title="年終大獎由你決定")
      img(src="event/1st/e-main/components/hero-section/hero-event/hero-event-1.png")
  .event__box
    a(href="#note" title="滿額抽一年份衛生紙")
      img(src="event/1st/e-main/components/hero-section/hero-event/hero-event-2.png")
  .event__box
    a(href="#note" title="最高送2,700")
      img(src="event/1st/e-main/components/hero-section/hero-event/hero-event-3.png")
      
    