// // ==========================================================================
// // Plugins
// // ==========================================================================
// // @import "vendors/animate"
@import "~vendors/style/swiper-slider-custom"

// // ==========================================================================
// // 1st screen need
// // ==========================================================================
@import "~event/1st/e-main/components/bg-decoration/_bg-decoration"

// hero section
// ===========================
@import "~event/1st/e-main/components/hero-section/_hero-section"
@import "~utils/bg-decoration-instance/canvas-random-color/_canvas-random-color"

// // ==========================================================================
// // components
// // ==========================================================================
@import "~event/1st/e-main/components/daily-change/_daily-change"
@import "~event/1st/e-main/components/promo-event/_promo-event"
@import "~event/1st/e-main/components/tab-section/_tab-section"
@import "~event/2nd/e-main/components/daily-slider/_daily-slider"
// @import "~event/1st/e-main/components/left-right-section/_left-right-section"
@import "~event/1st/e-main/components/top-bottom-section/_top-bottom-section"
@import "~event/1st/e-main/components/dynamic-slider/_dynamic-slider"
@import "~event/1st/e-main/components/mid-big-slider/_mid-big-slider"
@import "~event/1st/e-main/components/dynamic-slider-2/_dynamic-slider-2"
@import "~event/1st/e-main/components/dynamic-slider-3/_dynamic-slider-3"
@import "~event/1st/e-main/components/mid-more-slider/_mid-more-slider"
@import "~event/1st/e-main/components/tab-slider-section/_tab-slider-section"
@import "~event/1st/e-main/components/bn-special/_bn-special"

// @import "~event/1st/e-main/components/daily-slider/_daily-slider"


// // ==========================================================================
// // Page
// // ==========================================================================
body
  +pos-set(relative)
  background-color: $gray-deep-dark
  // background: $main-e-background-color-1st center 0 url("~event/1st/e-main/pages/index/bg.jpg")  no-repeat
  // background-size: contain

  +breakpoint-min($min-width-xl)
    // background: center 0 url("~event/1st/e-main/pages/index/bg-web.jpg") no-repeat
    // background-size: auto

.sp__wrap
  +pos-set(relative)

.sp__wrap a
  display: block
  .promo__title
    text-align: center
  // .decoration--background.decoration__wrap

// parallax css
// =================================
// .decoration--background
//   display: none

//   +breakpoint-min($min-width-3xl)
//     display: block
//     // z-index: base(1)以上可蓋在主視覺上，zero(0)可在主視覺下，預設都在logo下(logo是500)
//     +pos-set(absolute, under, 690px)
//     width: 100%
//     height: 100%
//     pointer-events: none

// .decoration__wrap
//   +pos-set(sticky, zero, 0)

