section.promo__group.dynamic-slider.m-bottom--lg(data-title="大牌鉅獻")
  .layout--main
    .decor__wrap.full-parent
      .decor__item.decor__item--title
        img(src="event/3rd/e-main/components/dynamic-slider/title-dynamic-slider.png", alt="")
      .decor__item.decor__item--left1#decorDynamicLeft1
        img(src="event/3rd/e-main/components/dynamic-slider/decor-dynamic-slider-left1.png", alt="")
      .decor__item.decor__item--left2#decorDynamicLeft2
        img(src="event/3rd/e-main/components/dynamic-slider/decor-dynamic-slider-left2.png", alt="")
      .decor__item.decor__item--left3
        img(src="event/3rd/e-main/components/dynamic-slider/decor-dynamic-slider.png", alt="")
      .decor__item.decor__item--right
        img(src="event/3rd/e-main/components/dynamic-slider/decor-dynamic-slider-right.png", alt="")
      .decor__item.decor__item--right2
        img(src="event/3rd/e-main/components/dynamic-slider/decor-dynamic-slider.png", alt="")
      .decor__item.decor__item--bottom#decorDynamicBottom
        img(src="event/3rd/e-main/components/dynamic-slider/decor-dynamic-slider-bottom.png", alt="")
    .promo__wrap
      .promo__zone
        .promo__block
          .promo__slider.swiper-container#DynamicSliderBlock
            .swiper-wrapper