//- TODO: API:
//- data-src="Note"，Note外框，Note整個html會吐在裡面

section#noteWrap.note__wrap.m-bottom--collect(data-title="活動詳情")
  .layout--main
    .note__block
      .decor__top
        img(src="event/1st/e-main/components/note-section/decor-note-top.png", alt="")

      .note__box(data-src="Note")

      .decor__bottom
        img(src="event/1st/e-main/components/note-section/decor-note-bottom.png", alt="")