.dynamic-slider
  // +pos-set(relative, zero)
  overflow: hidden
  .decor__item

    &--title
      +pos-set(absolute, zero, 0, 15%)
      width: 70%
      +breakpoint-min($min-width-xl)
        left: calc(50% - 383px)

    &--left
      +pos-set(absolute, zero, 1%, 6%)
      width: 19%
      +breakpoint-min($min-width-xl)
        top: 1.6%
        left: calc(50% - 470px)
      &.active
        animation: firecrackers-swing 2s ease-in-out infinite alternate

    &--right
      +pos-set(absolute, zero, -1.8%)
      right: 6%
      width: 17.5%
      +breakpoint-min($min-width-xl)
        right: calc( 50% - 470px )
      &.active
        animation: firecrackers-swing 2s ease-in-out infinite alternate-reverse

    &--bottom
      +pos-set(absolute, second)
      bottom: 0px
      left: 0%
      width: 100%
      transform: scale(1)
      +breakpoint-min($min-width-xl)
        transform: scale(1.02)
        left: calc( 50% - 474px )

    +breakpoint-min($min-width-xl)
      width: auto

  .promo__wrap
    +bg-set(url(event/1st/e-main/components/dynamic-slider/bg-dynamic-slider.png), 100%)
    margin-top: 2%
  .promo__zone
    +aspect-ratio(921, 975)
  .promo__block
    padding: 10.5% 9.5% 0
    +breakpoint-min($min-width-xl)
      padding-top: 123px
  .promo__slider
    overflow: hidden
    height: 90vw
    max-height: 800px
    +breakpoint-min($min-width-xl)
      height: 77vw

    .dynamic__item
      .product__name
        margin-top: 0
        margin-bottom: 0
        +breakpoint-min($min-width-xl)
          .product__name
            margin-top: 5px
            margin-bottom: 15px

      .product__price
        padding: 0 2% 12% !important
        +breakpoint-min($min-width-xl)
          padding-bottom: 10% !important
          span
            &:last-child
              font-size: 32px

      &:first-child
        margin: 4% auto 0
        width: 80%
        .product--dynamic
          padding-bottom: 0%
        .product__text
          display: none

      &:nth-child(2)
        +pos-set(absolute, zero, 40.5%, .9%)
        width: 44%
        +breakpoint-min($min-width-xl)
          top: 336px
          left: 1px
          width: 45%

      &:last-child
        +pos-set(absolute, zero, 40.5%)
        right: 1.1%
        width: 44%
        +breakpoint-min($min-width-xl)
          top: 336px
          right: 5px
          width: 45%

    .swiper-slide-prev
      opacity: 0
      
@keyframes firecrackers-swing
  from
    transform: rotate(6deg)
  to
    transform: rotate(-6deg)