//- 超過13個英文/6個中文會隱藏，請放在第二行
section#appleList.apple-list
  .layout--main
    ul.apple-list__wrap
      li#iphoneList.apple-list__item.active
        ul.sub-list__wrap--apple
          li.sub-list__item
            a(href="#", title="iPhone XS")
              img(src="~components/apple-list/img/xx.png", alt="iPhone XS")
              div iPhone XS
              div.item__notice new
          li.sub-list__item
            a(href="#", title="iPhone XR")
              img(src="~components/apple-list/img/x.png", alt="iPhone XR")
              div iPhone XR
              div.item__notice new
          li.sub-list__item
            a(href="#", title="iPhone X")
              img(src="~components/apple-list/img/x.png", alt="iPhone X")
              div iPhone X
              div.item__notice
          li.sub-list__item
            a(href="#", title="iPhone 8")
              img(src="~components/apple-list/img/iphone-old.png", alt="iPhone 8")
              div iPhone 8
              div.item__notice
          li.sub-list__item
            a(href="#", title="iPhone 7")
              img(src="~components/apple-list/img/iphone-old.png", alt="iPhone 7")
              div iPhone 7
              div.item__notice
          li.sub-list__item
            a(href="#", title="iPhone 6S")
              img(src="~components/apple-list/img/iphone-old.png", alt="iPhone 6S")
              div iPhone 6S
              div.item__notice
      li#ipadList.apple-list__item
        ul.sub-list__wrap--apple
          li.sub-list__item
            a(href="#", title="iPad mini")
              img(src="~components/apple-list/img/mini.png", alt="iPad mini")
              div iPad mini
              div.item__notice new
          li.sub-list__item
            a(href="#", title="iPad Air")
              img(src="~components/apple-list/img/air.png", alt="iPad Air")
              div iPad Air
              div.item__notice new
          li.sub-list__item
            a(href="#", title="iPad Pro 2018")
              img(src="~components/apple-list/img/pro.png", alt="iPad Pro 2018")
              div iPad Pro 2018
              div.item__notice
          li.sub-list__item
            a(href="#", title="iPad Pro")
              img(src="~components/apple-list/img/pro.png", alt="iPad Pro")
              div iPad Pro
              div.item__notice

      li#macList.apple-list__item
        ul.sub-list__wrap--apple
          li.sub-list__item
            a(href="#", title="MacBook")
              img(src="~components/apple-list/img/MacBook.png", alt="MacBook")
              div MacBook
              div.item__notice
          li.sub-list__item
            a(href="#", title="MacBook Pro 15")
              img(src="~components/apple-list/img/MacBook-Pro15.png", alt="MacBook Pro 15")
              div MacBook Pro 
              div 15吋
          li.sub-list__item
            a(href="#", title="MacBook Pro 13")
              img(src="~components/apple-list/img/MacBook-Pro13.png", alt="MacBook Pro 13")
              div MacBook Pro
              div 13吋
          li.sub-list__item
            a(href="#", title="MacBook Air")
              img(src="~components/apple-list/img/MacBook-air.png", alt="MacBook Air")
              div MacBook Air
              div.item__notice new
          li.sub-list__item
            a(href="#", title="iMac")
              img(src="~components/apple-list/img/iMac.png", alt="iMac")
              div iMac
              div.item__notice

      li#accessoriesList.apple-list__item
        ul.sub-list__wrap--apple
          li.sub-list__item
            a(href="#", title="AirPods")
              img(src="~components/apple-list/img/AirPods.png", alt="AirPods")
              div AirPods
              div.item__notice new
          li.sub-list__item
            a(href="#", title="Apple Watch")
              img(src="~components/apple-list/img/watch.png", alt="Apple Watch")
              div Apple Watch
              div.item__notice
          li.sub-list__item
            a(href="#", title="Apple TV")
              img(src="~components/apple-list/img/apple-TV.png", alt="Apple TV")
              div Apple TV
              div.item__notice
          li.sub-list__item
            a(href="#", title="Apple Pencil")
              img(src="~components/apple-list/img/pencil.png", alt="Apple Pencil")
              div Apple Pencil
              div.item__notice
          li.sub-list__item
            a(href="#", title="APPLE 原廠周邊")
              img(src="~components/apple-list/img/official.png", alt="APPLE 原廠周邊")
              div 原廠周邊
              div.item__notice

      li#beatsList.apple-list__item
        ul.sub-list__wrap--apple
          li.sub-list__item
            a(href="#", title="入耳式耳機")
              img(src="~components/apple-list/img/headset.png", alt="入耳式耳機")
              div 入耳式耳機
              div.item__notice
          li.sub-list__item
            a(href="#", title="耳罩式耳機")
              img(src="~components/apple-list/img/beats.png", alt="耳罩式耳機")
              div 耳罩式耳機
              div.item__notice new
          li.sub-list__item
            a(href="#", title="喇叭")
              img(src="~components/apple-list/img/horn.png", alt="喇叭")
              div 喇叭
              div.item__notice