-
  var sliderW2M2Data = [
    [  //1
      {
        link1: "https://www.etmall.com.tw/i/2601965" ,
        link2: "https://www.etmall.com.tw/i/3594439" ,
        imgSrc: "event/1st/e-main/components/slider-w2m2/item/p1.png",
        alt1: "tokuyo mini 玩美椅 Pro 按摩椅 TC-297",
        alt2: "輝葉 COZY FIT 垂直律動機2.0",
      },
    ],
    //- [
    //-   { // 2
    //-     link1: "https://www.etmall.com.tw/i/4408193" ,
    //-     link2: "https://www.etmall.com.tw/i/4408193" ,
    //-     imgSrc: "event/1st/e-main/components/slider-w2m2/item/p2.png",
    //-     alt1: "北歐風實木餐椅 實木椅腳堅固耐用",
    //-     alt2: "北歐風實木餐椅 實木椅腳堅固耐用",
    //-   },
    //- ],
    //- [    
    //-   { // 3
    //-       link1: "https://www.etmall.com.tw/i/3128341" ,
    //-       link2: "https://www.etmall.com.tw/i/3128341" ,
    //-       imgSrc: "event/1st/e-main/components/slider-w2m2/item/p3.png",
    //-       alt1: "溫控魔髮造型梳 美髮師一致狂推",
    //-       alt2: "溫控魔髮造型梳 美髮師一致狂推",
    //-   },
    //- ]
  ]

section.promo__group.promo__group--slider-w2m2.m-bottom--lg(data-title="娘娘御用大牌")
  .layout--main
    .decor__wrap.full-parent
      .decor__item.decor__item--title#decorW2M2Title
        img(src="event/1st/e-main/components/slider-w2m2/decor-slider-w2m2-title.png" alt="")
      .decor__item.decor__item--left#decorW2M2Left
        img(src="event/1st/e-main/components/slider-w2m2/decor-slider-w2m2-left.png" alt="")
      .decor__item.decor__item--right#decorW2M2Right
        img(src="event/1st/e-main/components/slider-w2m2/decor-slider-w2m2-right.png" alt="")
    .promo__wrap
      .promo__zone
        .promo__block
          .promo__slider.full-parent
            .swiper-container#sliderW2M2Item
              ul.swiper-wrapper
                each data, index in sliderW2M2Data
                  li.swiper-slide
                    each item, itemIndex in  data
                      .swiper-box
                        img(src= item.imgSrc, alt="")
                        a(href= item.link1, title=item.alt1)
                        a(href= item.link2, title=item.alt2)