section.promo__group.promo__group--scratch(data-title="刮刮試手氣")
  .layout--main
    .promo__wrap
      .promo__zone
        .decor--top#decorScratchGame
          img(src="event/1st/e-main/components/scratch-game/decor-scrath-game.png", alt="")
        .promo__block.full-parent
          #scratchBottom.scratch__bottom.full-parent
            a.full-parent
              img
              .scratch__popup 複製完成！

          #canvasBox.canvas__box.full-parent
            canvas#scratchTop.scratch__canvas.full-parent


