section.hero
  .layout--main
    .hero__wrap
      .hero__zone
        .hero__title.hero__title--main

          h1
            img(src="event/2nd/e-main/components/hero-section/title.png", alt="東森購物網金虎年賀新春")
        .decor--top.decor--heart
          img(src="event/2nd/e-main/components/hero-section/decor-heart.png", alt="")

        .decor--top.decor--blink
          img(src="event/2nd/e-main/components/hero-section/decor-blink-1.png", alt="")
        .decor--top.decor--blink
          img(src="event/2nd/e-main/components/hero-section/decor-blink-2.png", alt="")

