/*==================================================*\
        Layout
\*==================================================*/

/*==================== Document ====================*/
html, 
body {
	width: 100%;
	font-family: $font-stack;
}

html {
	height: 100%;
	font-size: $rootFz + px;
	// overflow: hidden;
	overflow-x: hidden;
}

body {
	min-height: 100%;
	background-color: white;
	overflow-x: hidden;
}

p{
	font-size: 4vw;
	@include mq('tablet') {
		font-size: 24px;
	}
}



/*==================== Container ====================*/

@include mq('tablet') {
	width: 55vh;
}

section {
	position: relative;
	padding: 32px 0;
	@include mq('tablet') {
		padding: 60px 0;
	}
}

.container {
	position: relative;
	max-width: 680px;
	width: 100%;
	height: 100%;
	margin: auto;
	padding: 0 5%;
	@include mq('tablet') {
		padding: 0 2.5%;
	}
	>*{
		margin-bottom: 16px;
		@include mq('tablet') {
			margin-bottom: 24px;
		}
		&:last-child{
			margin-bottom: 0;
		}
	}
	>.gif-box, >.post-box{
		margin-bottom: 24px;
		@include mq('tablet') {
			margin-bottom: 36px;
		}
	}
}
.slide-container{
	padding: 32px 0;
	@include mq('tablet') {
		padding: 60px 0;
	}
	.icon-title{

	}
}

.icon-title{
	>*{
		display: inline-block;
		vertical-align: middle;
		color: #008d88;
	}
	img{
		width: 11%;
		@include mq('tablet') {
			width: 70px;
		}
	}
	b{
		font-size: 5.25vw;
		@include mq('tablet') {
			font-size: 36px;
		}
	}
}

.bub-title{
	>*{
		display: inline-block;
		vertical-align: middle;
		color: #008d88;
	}
	img{
		width: 5%;
		@include mq('tablet') {
			width: 20px;
		}
	}
	b{
		font-size: 5.25vw;
		@include mq('tablet') {
			font-size: 36px;
		}
	}
}

.line-title{
	max-width: 680px;
	width: 100%;
	border-bottom: 1px solid #005956;
	>*{
		color: #005956;
		padding-bottom: 8px;
	}
	b{
		font-size: 5vw;
		@include mq('tablet') {
			font-size: 30px;
		}
	}
	p{
		font-size: 4vw;
		@include mq('tablet') {
			font-size: 24px;
		}
	}
}

.gif-box, .slick-gif{
	position: relative;
	.gif{
		width: 100%;
		height: 100%;
		position: absolute;
		top: 0;
		left: 0;
		display: none;
	}
}

.post-box{
	.mid{
		background: url(../images/note_body.png) repeat-y;
		background-size: 100% auto;
		padding: 0 10%;
		text-align: center;
		p{
			text-align: left;
		}
	}
	.post-title{
		position: relative;
		display: inline-block;
		margin-bottom: 16px;
		@include mq('tablet') {
			margin-bottom: 24px;
		}
		&::before{
			content: '';
			display: block;
			width: 100%;
			height: 9px;
			position: absolute;
			top: 92%;
			left: -2%;
			background: url(../images/title_line_l.png) no-repeat;
			background-size: contain;
		}
		>*{
			display: inline-block;
			vertical-align: middle;
			color: #008d88;
		}
		img{
			width: 20px;
		}
		b{
			font-size: 24px;
			@include mq('tablet') {
				font-size: 36px;
			}
		}

	}
}

.slide-box{
	.box{
		background-color: #fff;
		border-radius: 10px;
		box-shadow: 0 0 8px rgba(75, 75, 75, 0.459);
		padding: 20px 15px;
		margin: 10px 0px;
		text-align: center;
		overflow: hidden;
		transform: scale(.9);
		transition: .3s;
		opacity: 0.5;
		@include mq('tablet') {
			padding: 36px 30px;
			margin: 24px 0px;
		}
		&.slick-current{
			transform: scale(1);
			opacity: 1;
		}
		.title{
			position: relative;
			display: inline-block;
			margin-bottom: 25px;
			&::before{
				pointer-events: none;
				content: '';
				display: block;
				position: absolute;
				top: 95%;
				left: -2%;
				width: 110%;
				height: 10px;
				@include mq('tablet') {
					height: 20px;
				}
			}
			p{
				font-size: 24px;
				font-weight: bold;
				color: #008d88;
				@include mq('tablet') {
					font-size: 36px;
				}
			}
		}
		p{
			text-align: left;
		}
	}
}