/*==================================================*\
        Page Header
\*==================================================*/

.page-header {
	._inner{
		pointer-events: none;
		max-width: 680px;
		width: 100%;
		position: fixed;
		top: 0;
		left: 0;
		right: 0;
		margin: auto;
		z-index: 5;
		@include mq('tablet') {
			top: 10px;
			right: 10px;
		}
	}
	.btn-menu{
		pointer-events: auto;
		max-width: 60px;
		width: 6%;
		position: absolute;
		top: 3.5vw;
		right: 5vw;
		z-index: 3;
		@include mq('tablet') {
			width: 6%;
			top: 15px;
			right: 50px;
		}
	}

	.menu-close{
		max-width: 53px;
		width: 5%;
		position: absolute;
		top: 4vw;
		right: 4vw;
		z-index: 5;
		@include mq('tablet') {
			top: 25px;
			right: 55px;
		}
	}
	
	.menu{
		background-color: #e1f6f3;
		display: none;
		width: 100%;
		height: 100vh;
		position: fixed;
		top: 0;
		left: 0;
		right: 0;
		margin: auto;
		z-index: 20;
		@include mq('tablet') {
		}
		ul{
			list-style: none;
			width: 90%;
			margin: auto;
			text-align: center;
			position: relative;
			top: 20vw;
			@include mq('tablet') {
				height: 9vh;
				top: 10vh;
			}
		}
		li{
			z-index: 20;
			+li{
				margin-top: 7vw;
				@include mq('tablet') {
					margin-top: 35px;
				}
			}
			a{
				font-weight: bold;
				color: #fff;
				text-align: center;
				z-index: 5;
				img{
					display: inline-block;
					vertical-align: middle;
					max-width: 101px;
					width: 14%;
					margin-bottom: 1vw;
					@include mq('tablet') {
						margin-bottom: 5px;
					}
				}
				p{
					color: #008d88;
					font-weight: bold;
					font-size: 5vw;
					@include mq('tablet') {
						font-size: 20px;
					}
				}
			}
		}
	}
}