section.promo__group.promo__group--left-right.m-bottom--md(data-title="遊戲專區")
  .layout--main
    .left-right__wrap
      .block--left
        #leftChange.item__box.close
          a#leftChangeAnchor(href="javascript:void(0)", title="點我快搶")
            img(src="~event/2nd/e-main/components/left-right-section/game-left.gif", alt="狂灑開運紅包" )
      .block--right
        .item__box
          a(href="https://m.etmall.com.tw/Activity/Lottery/202012_1b67e529d66f7db00bf2637ebed5c31c", title="抓寶趣，中獎率100%")
            img(src="~event/2nd/e-main/components/left-right-section/game-right.gif", alt="抓寶趣，中獎率100%")

