+breakpoint($min-desktop)
  .m-bottom--sm
    margin-bottom: 10px
  .sp__wrap
    background: url(../img/background.jpg) 56.7% 0 no-repeat
  .header__wrap--sp
    padding: 2.8% 3.8% 0 4.5%
  .logo
    top: 9.8%
    left: 19.1%
    width: 34.5%
    padding-top: 6.6%
  .header__wrap--sp
    .title__wrap--header
      width: 54%
  .slide__item
    .title__wrap--slide,
    .item__box--sp
      width: 54%
      .item__image
        margin-left: 45px
        width: 90%
  .item__video--mobile
    display: none
  .item__video--desktop
    display: block
    position: absolute
    z-index: map-get($zindex, third)
    top: 0
    right: calc(50% - 750px)
    width: 730px

  .title__box
    margin-left: 55px 
  .title__date
    +font-size($fz-60)
    top: 0.12em
    width: 1.6em
    height: 1.6em
    div
      top: 0.05em
      span:nth-child(2)
          +font-size($fz-40)
  .title__slogan
    h2
      +font-size($fz-40)
  .thumb__box
    .card--current
      display: inline-block
      position: relative
      z-index: map-get($zindex, second)
      width: 35%
      cursor: pointer
    .card--others
      display: inline-block
      width: 25%
      &:first-child
        transform: translateX(15px)
      &:last-child
        transform: translateX(-15px)
  .marquee__box
    margin-left: 10px
  .slick-button-custom
    top: calc(-3em - 170px)
    padding-top: 5.5%
    width: 3.5%