// tab layout
.promo__group--tab-section
  +pos-set(relative, zero)
  overflow: hidden
  .promo__wrap
    +aspect-ratio(938, 1340)
  .promo__zone
    +bg-set(url("event/2nd/e-main/components/tab-section/bg-tab-section.png"), 100%)
  .promo__block
    padding: 19% 4% 0
  .promo__slider
    padding: 1% 4.2% 0

  .swiper-wrapper
    padding-top: 1%
    +breakpoint-min($min-width-xl)
      padding-top: 25px
  .pagination
    display: flex
    flex-wrap: wrap
    justify-content: center
    margin-bottom: 1%
  .swiper-pagination-bullets .swiper-pagination-bullet
    display: block
    width: 32%
    height: auto
    margin: 0
    background: transparent
    text-align: center
    opacity: 1
    filter: brightness(0.5)
    transition: all .5s
    &.swiper-pagination-bullet-active
      filter: brightness(1)

  .swiper-slide
    display: flex
    justify-content: space-between
    flex-wrap: wrap
    margin-bottom: 1.2%
    padding: 3% 4% 1%
    border-radius: 4vw
    box-shadow: 1px 1px 3px inset $gray-light-opacity, 2px 2px 4px 1px $main-e-background-color-3rd-2
    +breakpoint-min($min-width-xl)
      border-radius: 35px
      padding-top: 30px
  +breakpoint-min($min-width-xl)
    margin-bottom: 2%

  .tab--1
    background-color: $main-e-background-color-2nd-3
  .tab--2
    background-color: $main-e-background-color-2nd-4
  .tab--3
    background-color: $main-e-background-color-2nd-5
  .tab--4
    background-color: $main-e-background-color-2nd-6
  .tab--5
    background-color: $main-e-background-color-2nd-7
  .tab--6
    background-color: $main-e-background-color-2nd-8

  .dynamic__item--tab
    width: 33%
    margin-bottom: 2%
    +breakpoint-min($min-width-xl)
      margin-bottom: 15px
    &.decor--etman
      img
        padding-top: 9%
        padding-right: 2%
        +breakpoint-min($min-width-xl)
          padding-top: 10px
          padding-right: 10px

  .product.product--dynamic
    +margin-x(auto)
    width: 95%
    +breakpoint-min($min-width-xl)
      width: 95%
    .product__name
      margin-bottom: 0px
      background-color: #fff
      +breakpoint-min($min-width-xl)
        height: 2.43em
        font-size: 26px
    .product__price
      background-color: #fff
      border-radius: 0 0 2vw 2vw
      +breakpoint-min($min-width-xl)
        border-radius: 0 0 20px 20px
      span
        &:last-child
          +breakpoint-min($min-width-xl)
            font-size: 36px