section.event__wrap--common
  .layout--main
    #eventZone.event__zone(class= isSp ? isU ? "event__zone--sp event__zone--u" : "event__zone--sp event__zone--e" : isU ? "event__zone--u" : "event__zone--e")
      //- 下面結構交由外連掛script生成
      //- a(href="#", title="title").event__item
      //-   img(src="../components/_common-event-e/event-item-1.png", alt="下單抽")
      //- a(href="#", title="title").event__item
      //-   img(src="../components/_common-event-e/event-item-2.png", alt="便宜賣")
      //- a(href="#", title="title").event__item
      //-   img(src="../components/_common-event-e/event-item-3.png", alt="登記送")