section.promo__group.promo__group--dynamic-slider.promo__group--dynamic-slider.m-bottom--lg(data-title="限搶$111up")
  .layout--main
    .promo__title
      .decoration--dynamic-slider
        .decoration--title#DynamicSliderTitle
          img(src="event/2nd/e-main/components/dynamic-slider/title-dynamic-slider.png", alt="")
        .decoration__box--top#decorDynamicSlider
          img(src="event/2nd/e-main/components/dynamic-slider/decor-dynamic-slider.png", alt="")
    .promo__wrap
      .promo__zone
        .promo__block
          #dynamicSliderSection.promo__slider.swiper-container
            .swiper-wrapper

        //- #sliderDynamic2Prev.swiper-button-white.swiper-button-prev.dynamic__nav.dynamic__nav--prev
        //- #sliderDynamic2Next.swiper-button-white.swiper-button-next.dynamic__nav.dynamic__nav--next
      //- #sliderDynamic2Pager.dynamic-slider-pager.swiper-pagination

//- data-dynamic-2.js在assets資料夾內、由index.pug外連過去