section.promo__group.promo__group--dynamic-slider.m-bottom--sm.promo__group--dynamic-slider(data-title="買一送一")
  .layout--main
    //- .promo__title.block--center.text--center
    //-   img(src="~event/2nd/e-main/components/dynamic-slider-3/title-dynamic-slider-3.png", alt="你會喜歡")

    .promo__wrap
      #sliderDynamic.promo__slider.swiper-container
        .swiper-wrapper

      #sliderDynamicPager.dynamic-slider-pager.swiper-pagination
      #sliderDynamicPrev_1.swiper-button-white.swiper-button-prev
      #sliderDynamicNext_1.swiper-button-white.swiper-button-next

//- data-dynamic-3.js在assets資料夾內、由index.pug外連過去