section.hero__wrap
  .hero__zone
    .layout--main
      .hero__block
        .decoration--top.decoration--hero
          img(src="event/1st/e-main/components/hero-section/decoration-hero.png", alt="",)

        .hero__box
          .hero__title.hero__title--main(title="東森618|購物無極限")
            //- 標題
            h1
              .decoration--top.decoration--title
                img(src="event/1st/e-main/components/hero-section/title-1.png", alt="東森618")
              img(src="event/1st/e-main/components/hero-section/title-2.png", alt="購物無極限")

        .decoration--top.decoration--coin
          img(src="event/1st/e-main/components/hero-section/decoration-coin.png", alt="",)
        .decoration--top.decoration--triangle
          img(src="event/1st/e-main/components/hero-section/decoration-triangle.png", alt="",)
        .decoration--top.decoration--ship
          img(src="event/1st/e-main/components/hero-section/decoration-ship.png", alt="",)

//-   //- TODO: 如果hero和promo要共用主視覺時這樣放
//-   //- .promo__zone
//-     //- .layout--main
//-       //- .promo__block
//-         //- 行銷誘因
//-         //- include /event/1st/e-main/components/promo-event/_promo-event

//-         //- 商品輪播
//-           //- 副標
//-         //- .hero__small__zone
//-           //- include /event/1st/e-main/components/hero-small-slider/_hero-small-slider
